<code>

	<style scoped>
		/*----------  style  ----------*/

		.ztree {
			height: 100vh;
			overflow: auto!important;
			margin: 10px -5px!important;
			padding-bottom: 250px!important;
			position: relative;
		}

		.ztree li {
			margin: 0px 0px 10px 0px!important;
		}

		.ztree li a.curSelectedNode {
			background-color: rgb(161, 212, 250)!important;
			border:1px solid #ffffff!important;
			color: rgb(255,255,255)!important;
		}

		.ztree li a:hover{
			text-decoration: none!important;
		}

		.tree-toolbars{
			position: relative;
			left: calc(100% - 68px);
			top: 0px;
			padding: 0px 5px!important;
			margin: -20px 0px!important;
			width: 60px;
			height: 100%;
			display: block;
			background-color: rgb(161, 212, 250);
			border: none;
			border-radius: 0;
		}

		.context-menu-list.context-menu-root{
			z-index: 100!important;
		}

		.media{
			padding:10px;
		}

		.media h3 {
			margin: 0px;
			color: rgb(158, 158, 158);
		}
		
	</stylescoped>

	
	/*----------  最外层element会自动增加组件同名 class="vue-entity-tree-component"  ----------*/
	<template>
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-tabs-bottom-2px" role="tablist">
				<li role="presentation" class="active">
					<a href="#entity-tree" aria-controls="entity-tree" role="tab" data-toggle="tab">分类</a>
				</li>
				<li role="presentation">
					<a href="#entity-tags" aria-controls="entity-tags" role="tab" data-toggle="tab">标签</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content" style="padding:0px;">
				<div role="tabpanel" class="tab-pane active" id="entity-tree" >
					<ul class="ztree" :id="id"></ul>
				</div>
				<div role="tabpanel" class="tab-pane" id="entity-tags" style="height:120vh;">
					<vue-ci-tags-component :id="'tags_'+id" :model="list"></vue-ci-tags-component>
				</div>
			</div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-entity-tree-component">
	{
	    delimiters: ['${', '}'],
	    props: {
	        id: String,
	        model: Array,
			list: Array,
	        dimension: Object,
			showSubNodes: Boolean
	    },
	    data: function(){
	        return {
	            zTree: Object,
	            setting: Object,
	            nodes: Array,
	            expandNodes: Array,
				selected: Object,
				cure:{
	                create: {
	                    template: `<div id="entity-create-template"></div>`
					}
				}
	        }
	    },
	    created:function(){
	        let self = this;

	        self.init();

            eventHub.$on("ENTITY-TREE-PANEL-TRIGGER-EVENT", self.openCUREPanel);
            eventHub.$on("ENTITY-TREE-TOGGLE-NAME-EVENT",self.toggleName);
	    },
	    mounted: function() {
	        let self = this;

	        self.$nextTick(function(){
	            
	            self.setting = {
	                            check: {
									enable: false,
									nocheckInherit: false
								},
	                            edit: {
	                                enable: false,
	                            },
	                            data: {
	                                simpleData: {
	                                    enable: true,
	                                    idKey: "cid",
	                                    pIdKey: "pid",
	                                },
	                                key: {
	                                    name: localStorage.getItem('entity-tree-display-name') || 'alias',
	                                    title: "title"
	                                }
	                            },
	                            callback: {
	                                onClick: self.onClick,
	                                //onCheck: self.onCheck,
	                            },
	                            view: {
									showTitle: true,
                                    dblClickExpand: true,
									addDiyDom: self.addDiyDom,
                                    removeHoverDom: this.removeHoverDom,
								}
	                        };

	            self.showSubNodes = false;

                self.initPlugIn();

	        })

	    },
	    watch: {
	        setting: {
	            handler:function(val, oldVal){
	                let self = this;

	                self.zTree = $.fn.zTree.init($(self.$el).find("#"+self.id), val, self.nodes);
	            },
	            deep: true
	        },
	        model: {
	            handler:function(val,oldVal){
	                let self = this;

	                if(!_.isEmpty(self.zTree)){
	                	self.zTree.destroy();
	                }

	                self.init();
                    self.initPlugIn();
	            },
	            deep: true
	        }
	    },
	    methods: {
	        init: function() {
	            let self = this;
	            let _list = omdbHandler.fetchData(`call tree {"ftype":"class", "parent":"/matrix/entity","fields":["cid","pid","name","alias"]}`);
	            let _data = _.map(_list.message[0].tree,function(v,k){
	            				let _name = _.last(v.name.split("/"));
	            				v.icon = "/web/vendor/zTree/css/entityStyle/img/diy/" + _name + ".svg";
				            	return v;
				            });

                let _nodes = _.map(self.model,function(v){
                				_.forEach(_data,function(val){
                					
                					val = _.merge(val,{title:_.last(val.name.split("/"))});

                					if(_.includes(v.class,val.name)){
                						val = _.merge(val,{checked: true, open:true});
                					}
                				})

                				let _pid = _.filter(_data,{name:v.class});
                				let _name = _.last(v.name.split("/"));

                				return {
    										cid: objectHash.sha1(v),
        									pid: _.isEmpty(_pid)?66:_pid[0].pid,
        									name: v.class + "/" + v.name, 
        									title:v.name + " " + _.random(0,10),//+ "[" + v.summary.event + "]", 
        									checked: true, 
        									open:true,
        									icon: "/web/vendor/zTree/css/entityStyle/img/diy/" + _name + ".svg"
        								};
	            			 })
                
    			self.nodes = [];
    			self.nodes = _.concat(_data,_nodes);
                self.zTree = $.fn.zTree.init($(self.$el).find("#"+self.id), self.setting, self.nodes);


	        },
            initPlugIn: function(){
                let self = this;

	            $("#ciview-entity-tree").contextMenu({
                        selector: 'span.ci.more',
                        trigger: 'left',
                        items: {
                            "create": {name: "新建CI", icon: "fas fa-plus",
                                callback: function (itemKey, opt, rootMenu, originalEvent) {

                                    let treeObj = $.fn.zTree.getZTreeObj(self.id);
                                    let nodes = treeObj.getSelectedNodes();
                                    let _item = {id:self.id,title:opt.items[itemKey].name, action:"create",node: nodes[0]};

                                    eventHub.$emit("ENTITY-TREE-PANEL-TRIGGER-EVENT", _item);
                                }
                            },
                            "sep1": "---------",
                            "remove": {name: "删除CI", icon: "fas fa-trash",
                                callback: function (itemKey, opt, rootMenu, originalEvent) {
                                    let treeObj = $.fn.zTree.getZTreeObj(self.id);
                                    let nodes = treeObj.getSelectedNodes();
                                    let _item = {id:self.id,title:opt.items[itemKey].name, action:"remove",node: nodes[0]};


                                    eventHub.$emit("ENTITY-TREE-PANEL-TRIGGER-EVENT", _item);
                                }
                            },
                            "sep2": "---------",
                            "alias": {name: "切换视角", icon: "fas fa-eye",
                                callback: function (itemKey, opt, rootMenu, originalEvent) {
                                    eventHub.$emit("ENTITY-TREE-TOGGLE-NAME-EVENT", null);
                                }
                            }
                        },
                        events: {
                            show: function(opt) {
                                // this is the trigger element
                                var $this = this;
                                // import states from data store
                                $.contextMenu.setInputValues(opt, $this.data());
                            },
                            hide: function(opt) {
                                // this is the trigger element
                                var $this = this;
                                // export states to data store
                                $.contextMenu.getInputValues(opt, $this.data());
                            }
                        }
                    });

            },
	        onClick: function(event, treeId, treeNode) {
	            let self = this;

                self.selected = treeNode;

                // 右键菜单
                let sObj = $("#" + treeNode.tId + "_span");
                let scObj = $("#" + treeNode.tId + "_a").find(".count");

                if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;

                let addStr = `<div class="well tree-toolbars" id='toolbars_${treeNode.tId}' >
										<span class='button ci edit' id='editBtn_${treeNode.tId}' title='编辑' ></span>
										<span class='button ci add' id='consoleBtn_${treeNode.tId}' title='新建' ></span>
										<span class='button ci more' id='moreBtn_${treeNode.tId}' title='更多'  ></span>
								</div>`;


                if(scObj.length > 0){
                    scObj.after(addStr);
                } else {
                    sObj.after(addStr);
                }

                // add
                let btnAdd = $("#addBtn_"+treeNode.tId);
                if (btnAdd) btnAdd.bind("click", function(event){

                    event.stopPropagation();
                    event.preventDefault();

                    let _item = {id: treeNode.cid,title: treeNode.name, action:"create", node: treeNode};

                    eventHub.$emit("ENTITY-TREE-PANEL-TRIGGER-EVENT", _item);

                });

                // more
                let btnMore = $("#moreBtn_"+treeNode.tId);
                if (btnMore) btnMore.bind("click", function(event){

                    //event.stopPropagation();
                    event.preventDefault();

                });
	            
	            // entity object data false
	            if(treeNode.name.indexOf("/") < 0){
	                eventHub.$emit('treenode-selected-event', treeNode.name);
	                return false;
	            }

	            let _list = omdbHandler.fetchData(`#` + treeNode.name + `: | print id as cid, name, name as title, class | top 1000`);

                if(!_.isEmpty(_list.message)) {

                    if (!self.showSubNodes) return false;

                    var tree = $.fn.zTree.getZTreeObj(self.zTree.setting.treeId);
                    var nodes = tree.getSelectedNodes();
                    if (nodes && nodes.length>0) {
                        tree.removeChildNodes(nodes[0]);
                    }

                    // append sub nodes
                    tree.addNodes(treeNode, data.message);

                    if(!_.isEmpty(self.dimension)){
                        let _byDimension = self.getNodesByDimension()
                    }
                }

	        },
	        onCheck: function(event, treeId, treeNode) {
			  	let self = this;

			  	let zTree = $.fn.zTree.getZTreeObj(self.id);
			  	let nodes = zTree.getCheckedNodes(true);
			  	eventHub.$emit('entity-select-event', _.filter(nodes,{isParent:false}));
	        },
	        getNodesByDimension: function(){
	        	let self = this;
	        	let _param = `#` + self.dimension.node + `: | print ` + self.dimension.dimension + ` | top 1`;
	        	let rtn = [];
	        	console.log(_param)
	        	jQuery.ajax({
	                url: '/mxobject/search',
	                type: 'POST',
	                dataType: 'json',
	                data: {
	                    cond: _param
	                },
	                async:false,
	                beforeSend: function(xhr) {
	                },
	                complete: function(xhr, textStatus) {
	                },
	                success: function(data, textStatus, xhr) {
	                    
	                    rtn = data.message;
	                    
	                },
	                error: function(xhr, textStatus, errorThrown) {
	                    console.log(errorThrown);
	                }
	            })
	            return rtn;
	        },
            openCUREPanel: function(item){
	            let self = this;

                let contents = `<div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object" src="${item.node.icon}" alt="${item.node.alias}">
								    </a>
								    <h3>${_.startCase(item.node.alias)}</h3>
								  </div>
								  <div class="media-body">
								    <div id="entity-create-template"></div>
								  </div>
								</div>`;
                let _wnd = maxWindow.winEntity(`${item.title} ${item.node.alias}`, contents, null, null);

	            let cVue = new Vue({
                    delimiters: ['$', '$'],
					el: '#entity-create-template',
					template: `	<div class="panel"><div class="panel-body">
									<vue-common-form-component id="form" :form="model.form"></vue-common-form-component>
								</div></div>`,
                    data: function(){
                        return {
							model: {
							    form: {
                                    view: "",
                                    data: {},
                                    schema: {
                                        title:"",
                                        type: "object",
                                        properties: []
									},
                                    options: {
                                        form: {
                                            buttons: {
                                                save: {
                                                    title: "保存",
													click: function() {
                                                        let val = this.getValue();

                                                        if (this.isValid(true)) {
                                                            cVue.save(val);
                                                            /*alert("Valid value: " + JSON.stringify(val, null, "  "));*/
                                                        } else {
                                                            /*alert("Invalid value: " + JSON.stringify(val, null, "  "));*/
                                                        }
                                                    }
												}
                                            }
										},
                                        fields: {}
									}

								},
								list: Array
							},
							selected: self.selected
                        }
                    },
                    created:function(){
                        let self = this;

                        self.init();

                    },
                    mounted: function() {
                        let self = this;

                        self.$nextTick(function(){

                            self.initPlugIn();

                        })

                    },
					methods: {
                        init: function(){
                            let self = this;
							let _list = omdbHandler.fetchClass(item.node.name);
							let _properties = {};
                            let _fields = {};
                            let _data = {"class":item.node.name};

                            _.forEach(_list.message.fields,function (v) {
                                let _name = v.name;
                                let _type = v.ftype=='varchar'?'string':'string';
                                let _required = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?false:false;
                                let _hidden = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?true:false;

                                _.merge(_properties, {[_name]: {type: _type,required: _required, hidden: _hidden}});
                            	_.merge(_fields, {[_name]: {label: _.startCase(v.name)}});
                            });

                            self.model.form.data = _data;
                            self.model.form.schema.title = `${item.node.name}`;
                            self.model.form.schema.properties = _properties;
							self.model.form.options.fields = _fields;

							self.model.list = _.map(_list.message.fields,function(v){
							    					return v;
							                  });


						},
                        initPlugIn: function(){
							let self = this;

						},
						save: function(event){
                            let self = this;
                            let rtn = omdbHandler.putDataByMql(event);
						}
					}
				});
			},
			toggleName: function(){
				let self = this;

				if(self.setting.data.key.name == "name"){
                	self.setting.data.key.name = "alias";
                  	self.init();
                  	localStorage.setItem('entity-tree-display-name','alias');
                } else {
                  	self.setting.data.key.name = "name";
                  	self.init();
                  	localStorage.setItem('entity-tree-display-name','name');
                }
			},
			addDiyDom: function (treeId, treeNode) {
				let self = this;
				let aObj = $("#" + treeNode.tId + "_a");

				if (treeNode.isParent){
					let str = "<span> ["+treeNode.children.length+"]</span>";
					aObj.append(str);
				} 
			},
            removeHoverDom: function (treeId, treeNode) {
                $("#toolbars_"+treeNode.tId).unbind().remove();
            }


	    }
	
	}
	</script>

</code>
