
	<style scoped>
		/*----------  style  ----------*/

		.entity-tree-component{

		}

		.entity-tree-component .navbar-form {
			margin: 0px;
		}

		.entity-tree-component .navbar-form .form-control {
			width: 100%;
		}

		.entity-tree-component .navbar-form .form-control:focus{
			width: 200px;
			animation:none;
			-webkit-animation: none;
		}

		.entity-tree-component .navbar-form .btn-search {
			right: -3px;
			top: 2px;
		}

		.entity-tree-component .ztree li a.curSelectedNode {
			background-color: rgb(161, 212, 250)!important;
			border:1px solid #ffffff!important;
			color: rgb(255,255,255)!important;
		}

		.entity-tree-component .ztree li a:hover{
			text-decoration: none!important;
		}

		.entity-tree-component .ztree {
			height: 100%;
		}

		.entity-tree-component .toolbar{
			position: relative;
			left: calc(100% - 68px);
			top: 0px;
			padding: 0px 5px!important;
			margin: -20px 0px!important;
			width: 60px;
			height: 100%;
			display: block;
			background-color: rgb(161, 212, 250);
			border: none;
			border-radius: 0;
		}


		.entity-tree-component .ztree li span.blank {
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: middle;
		}


		/* For x-editable */
		.entity-tree-component .editable-click, a.editable-click, a.editable-click:hover{
			border-bottom:unset;
		}

		.entity-tree-component .editable-unsaved {
			font-weight: normal;
		}

	</style>



	/*----------  最外层element会自动增加组件同名 class="entity-tree-component"  ----------*/
	<template>
		<el-container>
            <el-header style="height:30px;line-height:30px;display: none;">
                <el-input placeholder="搜索"></el-input>
            </el-header>
            <el-main style="padding: 5px;height: calc(100vh - 175px);">
                <el-tree node-key="id"
                    default-expand-all
                    :data="nodes" :props="defaultProps" 
                    draggable
                    :allow-drop="allowDrop"
                    :allow-drag="allowDrag"
                    @node-drag-start="onDragStart"
                    @node-drag-enter="onDragEnter"
                    @node-drag-leave="onDragLeave"
                    @node-drag-over="onDragOver"
                    @node-drag-end="onDragEnd"
                    @node-drop="onDrop"
                    @node-click="onNodeClick"
                    @node-expand="onNodeExpand"
                    style="background: transparent;"
                    ref="tree">
                    <span slot-scope="{ node, data }" style="width:100%;height:30px;line-height: 30px;"  @mouseenter="onMouseEnter(data)" @mouseleave="onMouseLeave(data)">
                        <span :class="data.iconSkin"></span>
                        <span>${node.label}</span>
                        <span v-if="data.parent == null && data.rtype=='A2'">
                            <el-button v-show="data.del" type="text" @click="addTagDir(data,$event)" style="float:right;width:14px;margin:0 5px;" icon="el-icon-plus"></el-button>
                            <el-button v-show="data.del" type="text" @click="loadSubNodeByA2(data,$event)" style="float:right;width:14px;margin:0 5px;" icon="el-icon-refresh"></el-button>
                        </span>
                        <span v-else-if="data.rtype=='A2'">
                            <el-button v-show="data.del" type="text" @click="delTagDir(data,$event)" style="float:right;width:14px;margin:0 5px;" icon="el-icon-delete"></el-button>
                            <el-button v-show="data.del" type="text" @click="editTagDir(data,$event)" style="float:right;width:14px;margin-left:5px;" icon="el-icon-edit"></el-button>
                            <el-button v-show="data.del" type="text" @click="addTagDir(data,$event)" style="float:right;width:14px;" icon="el-icon-plus"></el-button>
                        </span>
                    </span>                  
                </el-tree>
            </el-main>
		</el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="entity-tree-component">
	{
        delimiters: ['${', '}'],
		props: {
            id: String,
			model: Object,
        },
        data: function(){
            return {
                defaultProps: {
                    children: 'children',
                    label: 'name'
                },
                nodes: []
            }
        },
        created(){
            this.loadNodes();
        },
        mounted() {
            this.$nextTick(()=> {
                
            })
        },
        methods:{
            loadNodes(){
                this.nodes = fsHandler.callFsJScript(`${['/matrix'+this.model.parent,this.model.name].join("/")}`).message;
            },
            onMouseEnter(data){
                this.$set(data, 'del', true)
            },
            onMouseLeave(data){
                this.$set(data, 'del', false)
            },
            recursiveTraverse(node) {

                let rtn = null;

                rtn = _.map(node, (v,k)=>{
                    return {cid: v.name, parent:'A2', rtype:'A2', name: v.name, title: v.name, children: this.recursiveTraverse(v.nodes), iconSkin: 'el-icon-price-tag',del:false};
                });

                return rtn;
            },
            onNodeExpand(tNode){
                
                if(tNode.rtype === 'A1') {
                    this.loadSubNodeByA1([{cid: tNode.cid, tNode: tNode}]);
                    return;
                }

                if(tNode.rtype === 'A2' && tNode.parent == null){
                    let tagDir = tagHandler.getTagDir(this.model.domain);
                    // 忽略第一层
                    _.extend(_.find(this.nodes,{cid:tNode.cid}), {children: this.recursiveTraverse(tagDir.nodes)});

                    return;
                }

                // 删除标签
                if(tNode.rtype === 'A3'){
                    return false;
                }
            },
            onNodeClick(tNode){
                
                if(tNode.rtype === 'A1') {
                    this.loadSubNodeByA1([{cid: tNode.cid, tNode: tNode}]);
                }

                if(tNode.rtype === 'A2' && tNode.parent == null){
                    let tagDir = tagHandler.getTagDir(this.model.domain);
                    // 忽略第一层
                    _.extend(_.find(this.nodes,{cid:tNode.cid}), {children: this.recursiveTraverse(tagDir.nodes)});
                }

                // 根据节点过滤数据
                // A1 为class搜索
                // A2 为tag搜索
                if(tNode.rtype=='A1'){
                    // if(treeNode.parent == null){
                    //     this.$root.options.term = `class=*`;    
                    // } else {
                        this.$root.options.class = `#${tNode.class}: | `;
                    // }
                    this.$root.$refs.searchRef.search();
                } else if(tNode.rtype=='A2'){
                    if(tNode.parent == null){
                        this.$root.options.term = "";    
                    } else {
                        this.$root.options.term = `tags=${tNode.name}`;
                    }
                    this.$root.$refs.searchRef.search();
                }
            },
            onDragStart(node, ev) {
                console.log('drag start', node);
            },
            onDragEnter(draggingNode, dropNode, ev) {
                console.log('tree drag enter: ', dropNode.label);
            },
            onDragLeave(draggingNode, dropNode, ev) {
                console.log('tree drag leave: ', dropNode.label);
            },
            onDragOver(draggingNode, dropNode, ev) {
                console.log('tree drag over: ', dropNode.label);
            },
            onDragEnd(draggingNode, dropNode, dropType, ev) {
                console.log('tree drag end: ', dropNode && dropNode.label, dropType);
            },
            onDrop(draggingNode, dropNode, dropType, ev) {
                console.log('tree drop: ', dropNode.label, dropType);
            },
            allowDrop(draggingNode, dropNode, type) {
                console.log('dragging drop: ', draggingNode, dropNode, type);
                if (dropNode.data.label === '标签') {
                    return type !== 'inner';
                } else {
                    return true;
                }
            },
            allowDrag(draggingNode) {
                console.log('dragging drag: ', draggingNode);
                return draggingNode;
            },
            loadSubNodeByA1(node){
				
                _.forEach(node, (v,k)=>{

                    let rtn = omdbHandler.classList(v.cid);

                    if (_.isEmpty(rtn)) {
                        return;
                    }

                    if( v.cid === -1 ) {
                        let _arr = _.map(rtn,(v)=>{ return _.merge(v,{rtype:'A1', open:true})});
                        _.merge(this.nodes[0],{ children: _arr});

                    } else {
	                    
                        // 按name排序
                        _.extend(v.tNode, {children:_.orderBy(_.map(rtn,(v)=>{ 
                                                                var _name = v.name.split("/").slice(0,-1).join("/") + "/" + v.alias;
                                                                return _.merge(v,{rtype:'A1', name:_name,children:[],class: v.name, open:false, iconSkin: "el-icon-coin", del:false});
                                                            }),['name'],['asc'])});

                    }
                })

            },
            loadSubNodeByA2(tNode){
                let tagDir = tagHandler.getTagDir(this.model.domain);
                // 忽略第一层
                _.extend(_.find(this.nodes,{cid:tNode.cid}), {children: this.recursiveTraverse(tagDir.nodes)});

	        },
            addTagDir(tNode,event){
                
                event.stopPropagation();

                this.$prompt('请输入标签名称', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消'
                    }).then(({ value }) => {

                        let name = "";
                        if(tNode.parent==null){
                            name = [value].join("/").replace(/\/\//g,"/");
                        } else {
                            name = [tNode.name, value].join("/").replace(/\/\//g,"/");
                        }
                        console.log(1,tNode,name)
                        let rtn = tagHandler.updateTagDir(this.model.domain, name);
                        
                        if(rtn === 1){
                            this.loadSubNodeByA2(tNode);
                        } 
                    }).catch(() => {
                         
                    });

            },
            editTagDir(tNode,event){

                event.stopPropagation();

                this.$prompt('请输入标签名称', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputValue: tNode.name
                    }).then(({ value }) => {

                        // 先删除
                        let rtn = tagHandler.delTagDir(this.model.domain, tNode.name);
                        
                        // 后添加
                        if(rtn === 1) {
                            let name = "";
                            if(tNode.parent==null){
                                name = [value].join("/").replace(/\/\//g,"/");
                            } else {
                                name = [tNode.name, value].join("/").replace(/\/\//g,"/");
                            }
                            console.log(1,tNode,name)
                            tagHandler.updateTagDir(this.model.domain, name);
                        }

                        
                    }).catch(() => {
                         
                    });
            },
            delTagDir(tNode,event){
                event.preventDefault();

                const h = this.$createElement;

                this.$msgbox({
                        title: "确认要删除该标签?",
                        message: h('span', null, [
                            h('p', null, `标签域：${this.model.domain}`),
                            h('p', null, `标签名称：${tNode.name}`)
                        ]),
                        showCancelButton: true,
                        confirmButtonText: '确定',
                        cancelButtonText: '取消'
                }).then(() => {
                    let rtn = tagHandler.delTagDir(this.model.domain, tNode.name);
                    if(rtn === 1) {
                        this.onNodeClick(tNode);
                    }
                    
                }).catch(()=>{

                });

            }
        }
	
	}
	</script>

</code>
