body {
    font: normal 12px arial,Microsoft Yahei!important;
    -webkit-font-smoothing: antialiased;
    background: url(/fs/assets/images/others/png/canvas_bg.jpg?type=open&issys=true) rgb(255, 255, 255);
    /* background: rgb(217, 224, 231); */
    overflow: hidden;
}

.page-sidebar-minified .content {
    margin-left: 60px;
}
.content {
    margin-left: 220px; 
    padding: 20px;
}

.navbar-default {
    border-color: rgba(0, 0, 0, 0);
}

.header.navbar.navbar-default.navbar-fixed-top{
    height: 50px;
}

.page-header-fixed{
    padding-top:50px
}

.container-fluid {
    margin-bottom: 45px;
    margin: 8px -10px;
}

#company_logo::selection {
    background: #fff;
    color: white;
}

#company_logo {
    margin-right:5px;
    max-width: 120px;
    min-width: 32px;
    height: 32px;
    margin: -8px 5px;
}

/* For mxWindwoPane Start*/
div.mxWindowPane {
    overflow: auto!important;
    background-color: #ffffff;
}
div.mxWindow{
    z-index: 1000!important;

    /*-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);*/
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #03A9F4;
    color: #666;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
    background-color: #1db7fc;
    color: #666;
}

.navbar-default .navbar-nav > li > a.item.active {
    background-color: #fff;
    color: #666;
}

.navbar-default .navbar-nav > li > a.item {
    color: #fff;
}

.navbar-default .navbar-brand {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 22px;
    width:auto;
}

.navbar-default .navbar-brand > span{
    color: rgb(255, 255, 255)!important;
    font-weight: 400;
}

.img-responsive{
    max-width: 120px;
    height: auto;
}

/* For Table */

.bootstrap-table > .fixed-table-toolbar > .columns > .btn-group > .dropdown-menu {
    width: 220px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
    padding: 4px!important;
    white-space: wrap;
}

/* For Table Click Change Cell Style */
.cell-style-selected {
    /*background-color: #b6c2ca!important;*/
}

/* For Button default Style */
.btn.btn-default.dropdown-toggle{
    font-size: 12px;
}

/*----------  Pace Loading  ----------*/
/*.btn.btn-primary {
    background-color: rgb(33, 149, 244);
}*/

/*----------  mxWindow ----------*/
html td.mxWindowTitle {
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(180deg,rgb(247, 247, 247),rgb(224, 224, 224));
    background-repeat: repeat-x;
}

div.mxWindowPane {
    border-top: 1px solid rgb(221, 221, 221);
}

div.mxWindowPane > div > .tab-content > .tab-pane > div > .panel-body {
    min-height: calc(100vh - 330px);
    max-height: calc(100vh - 140px);
    overflow: auto;
}

/* dropdown-menu */
.dropdown-menu {
    border: none;
    -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,.5);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.5);
    font-size: 12px;
}

.dropdown-menu>li>a {
    padding: 5px 5px;
}

.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .fab,
.dropdown-menu > li > a > .fas {
    color: rgb(33, 148, 245);
}

.dropdown-menu > li.context-menu-separator {
    padding: 0;
    margin: .25em 0;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.context-menu-icon.context-menu-icon--fa::before {
    color: rgb(33, 148, 245)!important;
}

.context-menu-item {
    padding: 0.25em 2em!important;
    color: rgb(71, 71, 71)!important;
    /*line-height: 1.428571;*/
}
.context-menu-hover {
    background-color: rgb(237, 240, 246)!important;
}

.pace .pace-progress {
    background: transparent;
}

.pace .pace-activity {
    border-top-color: rgb(33, 148, 245);
    border-left-color: rgb(33, 148, 245);
}

.navbar-right .dropdown-menu {
    padding:3px 0px!important;
}

.navbar-right .dropdown-menu .divider{
    margin: 0.25em 0;
}
.navbar-right .dropdown-menu>li>a{
    padding: 5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: rgb(255, 255, 255)!important
}

.nav-menu-level1{
    width: 100%;
    padding-left: 0;
    list-style: none;
}
.nav-menu-user {
    width: 27.4em;
}

.nav-menu-level1> li {
    float: left;
    width: 20%;
    height: 80px;
    padding: 10px;
    font-size: 12px;
    line-height: 2.4;
    text-align: center;
    /* background-color: rgb(245, 245, 245);
    border: 1px solid rgb(255, 255, 255); */
}

.nav-menu-level1> li > a {
    color: rgba(0,0,0,0.4);
}

.nav-menu-level1> li > a > img {
    width: 36px;
    height: 36px;
    -webkit-filter: opacity(1) invert(0.5);
    filter: opacity(1) invert(0.5);
}

.nav-menu-user> li{
    float: inherit;
    width: 9em;
    height: 90px;
    padding: 15px 10px;
    margin: 0px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.nav-menu-level1,
.nav-menu-user{
    padding: 1px 0px!important;
}


/*
    Style
*/

.sidebar,
.sidebar-bg {
    padding-top: 50px;
    background-color: #252d47;/*#2195f4;*/
}

.sidebar-toggle-play.toggle {
    display: inline!important;
    transform: scale(.1);
    transition: 0.3s;
    position: absolute;
    z-index: 100;
    top: 30%;
    left: -93px;
    cursor: pointer;
}

.sidebar .nav > li > a,
.sidebar .nav > li > a:hover{
    color: rgb(255, 255, 255);
}

.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
    background: rgb(77, 170, 245);
    color: rgb(255, 255, 255);
}


.sidebar-toggle > i {
    padding: 15px 0px;
    color: rgb(166, 211, 248);
}

.topbar.input-group {
    margin: 12px 45px;
    width: 20vw;
}

#ai-robot {
    height: 45px;
}
#ai-robot>div{
    display: flex;
}

#ai-robot svg {
    width: 45px;
    height: 45px;
}


/* Font Global*/
.jsPanel-titlebar h3 {
    font-family: inherit;
    font-variant: unset;
    font-weight: normal;
}

.jsPanel-headerbar, .jsPanel-hdr-toolbar{
    font-size: 12px;
}


/* For Datatable th bottom border*/
table.dataTable thead th, table.dataTable thead td,
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid rgb(221, 221, 221);
}


/* 自定义Tabs before-content */
.nav-tabs.nav-tabs-content {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none!important;
    background-repeat: repeat-x;
    border-radius: 0px!important;
}

ul.nav-tabs-content > li.active {
    background-color: rgba(0, 0, 0, 0) !important;
}

ul.nav-tabs-content > li.active > a:before {
    content: "\25BA";
    font-size: 8px;
    float: left;
    color: rgb(129, 143, 151);
}

ul.nav-tabs-content > li > a {
    padding: 7px 15px!important;
}

ul.nav-tabs-content > li > a:before {
    content: "";
}

.nav-tabs.nav-tabs-content > li.active > a,
.nav-tabs.nav-tabs-content > li.active > a:hover,
.nav-tabs.nav-tabs-content > li.active > a:focus,
.nav-tabs.nav-tabs-content > li.active > a:active,
.nav-tabs.nav-tabs-content > li.active > a:visited {
    background-color: rgba(0, 0, 0, 0) !important;
}


/* pace loading status*/

:root {
    /*--pace-bg-color: rgb(33, 149, 243);*/
    --pace-bg-color: rgb(255, 255, 255);
    --pace-font-color: #333333;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: var(--pace-bg-color);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}



/* For Event Console Severity */
td.severity6 {
    background-color: #333333!important; /*Fatal*/
    text-align: center;
    color: #ffffff;
}
td.severity5 {
    background-color: #FF0000!important; /*Critical*/
    text-align: center;
    color: #ffffff;
}
td.severity4 {
    background-color: #FFA500!important; /*Major*/
    text-align: center;
    color: #ffffff;
}
td.severity3 {
    background-color: #FFD700!important; /*Minor*/
    text-align: center;
    color: #ffffff;
}
td.severity2 {
    background-color: #0000FF!important; /*Warning*/
    text-align: center;
    color: #ffffff;
}
td.severity1 {
    background-color: #800080!important; /*Indeterminate*/
    text-align: center;
    color: #ffffff;
}
td.severity0 {
    background-color: #008000!important; /*Clear*/
    text-align: center;
    color: #ffffff;
}
td.severity_1 {
    background-color: #808080!important; /*Unknown*/
    text-align: center;
    color: #ffffff;
}
td.severity_other {
    background-color: #808080!important; /*Unknown*/
    text-align: center;
    color: #ffffff;
}


/* For JOB Console Status */
td.status16 {
    background-color: #333333!important; /*Fatal*/
    text-align: center;
    color: #ffffff;
}
td.status15 {
    background-color: #FF0000!important; /*Critical*/
    text-align: center;
    color: #ffffff;
}
td.status14 {
    background-color: #FFA500!important; /*Major*/
    text-align: center;
    color: #ffffff;
}
td.status13 {
    background-color: #FFD700!important; /*Minor*/
    text-align: center;
    color: #ffffff;
}
td.status12 {
    background-color: #0000FF!important; /*Warning*/
    text-align: center;
    color: #ffffff;
}
td.status11 {
    background-color: #800080!important; /*Indeterminate*/
    text-align: center;
    color: #ffffff;
}
td.status10 {
    background-color: #008000!important; /*Clear*/
    text-align: center;
    color: #ffffff;
}
td.status_1 {
    background-color: #808080!important; /*Unknown*/
    text-align: center;
    color: #ffffff;
}


/* Matrix row & column extend from bootstrap3 grid layout */

.mx-row {
    width: 100%;
}

.mx-row:after {
    content: "";
    display: table;
    clear: both;
}

.mx-column-2 {
    float: left;
    width: 16.6%;
}

.mx-column-10 {
    float: left;
    width: 83.4%;
}

.mx-column-12 {
    float: left;
    width: 100%;
}

/* Panel */
.panel{
    border:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.panel.panel-no-rounded-corner .panel-body,.panel.panel-no-rounded-corner .panel-footer,.panel.panel-no-rounded-corner .panel-heading{
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    border-radius:0!important
}
.panel-heading{
    padding:10px 15px;
    border:none
}
.panel-heading+.slimScrollDiv,.panel-heading+.table{
    border-top:1px solid #eee
}
.panel-heading-btn{
    float:right
}
.panel-heading-btn>a{
    margin-left:8px
}
.panel-heading .btn-group .btn{
    margin-top:-7px
}
.panel-heading .btn-group .btn.btn-sm{
    margin-top:-5px
}
.panel-heading .btn-group .btn.btn-xs{
    margin-top:-1px
}
.panel-heading .label.pull-left,.panel-heading .label.pull-right{
    line-height:15px
}
.panel-heading .progress.pull-left,.panel-heading .progress.pull-right{
    width:40%;
    min-width:120px
}
.panel-heading+.alert{
    margin-bottom:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0
}
.panel-with-tabs.panel-default .panel-heading{
    background:#c1ccd1;
    color:#333
}
.panel-heading .nav-tabs{
    margin-top:-10px;
    margin-right:-15px
}
.panel-heading .nav-tabs>li>a{
    padding:10px 15px;
    line-height:20px
}
.panel-title{
    line-height:20px;
    font-size:12px
}
.panel-title .accordion-toggle{
    margin:-10px -15px;
    padding:10px 15px
}
.panel-title .accordion-toggle.accordion-toggle-styled .fa:before{
    content:'\f056'
}
.panel-title .accordion-toggle.accordion-toggle-styled.collapsed .fa:before{
    content:'\f055'
}
.panel-title .pull-right{
    line-height:20px
}
.panel-toolbar{
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:10px 15px;
    background:#fff
}
.panel-toolbar+.form-control{
    margin:-1px 0 0;
    border-right:none;
    border-left:none
}
.panel-group .panel{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.form-control+.panel-footer{
    border-top:none
}
.panel-body{
    padding:15px
}
.panel-body.no-border{
    border:none!important
}
.panel-body.no-padding,.panel-body.panel-form,.panel-body.panel-full-width,.panel-body.panel-table{
    padding:0!important
}
.panel-body.with-table>.table{
    border:0;
    margin:0
}
.panel-body.with-table>.table tr:last-child td,.panel-body.with-table>.table tr:last-child th{
    border-bottom:0
}
.panel-default>.panel-heading+.panel-collapse .panel-body{
    border-top:1px solid #eee
}
.panel-footer{
    background:#fff;
    border-top:1px solid #eee
}
.panel .tab-content{
    -webkit-border-radius:0 0 3px 3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px
}
.panel-default>.panel-heading{
    background:#fafafa
}
.panel-danger>.panel-heading,.panel-info>.panel-heading,.panel-inverse>.panel-heading,.panel-primary>.panel-heading,.panel-success>.panel-heading,.panel-warning>.panel-heading{
    color:#fff
}
.panel-inverse>.panel-heading{
    background:#242a30
}
.panel-success>.panel-heading{
    background:#008a8a
}
.panel-warning>.panel-heading{
    background:#c47d15
}
.panel-danger>.panel-heading{
    background:#cc4946
}
.panel-primary>.panel-heading{
    background:#2a72b5
}
.panel-info>.panel-heading{
    background:#3a92ab
}
.panel.panel-expand{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    overflow:hidden;
    z-index:1080
}
.panel-expand .height-full,.panel-expand .height-lg,.panel-expand .height-md,.panel-expand .height-sm,.panel-expand .height-xs{
    height:100%!important
}
@keyframes panelExpand{
    from{
        top:50%;
        left:50%;
        right:50%;
        bottom:50%
    }
    to{
        top:0;
        left:0;
        right:0;
        bottom:0
    }
}
@-webkit-keyframes panelExpand{
    from{
        top:50%;
        left:50%;
        right:50%;
        bottom:50%
    }
    to{
        top:0;
        left:0;
        right:0;
        bottom:0
    }
}
.panel.panel-expand>.panel-heading .fa.fa-expand:before{
    content:'\f066'
}
.panel.panel-expand,.panel.panel-expand>.panel-body,.panel.panel-expand>.panel-heading{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0
}
.panel.panel-expand>.panel-body{
    position:absolute;
    right:0;
    left:0;
    bottom:0;
    top:40px;
    overflow-y:scroll;
    z-index:1020
}
.panel.panel-expand>.panel-footer{
    position:absolute;
    left:0;
    right:0;
    bottom:0
}
.panel.panel-loading .panel-body{
    position:relative;
    z-index:0
}
.panel.panel-loading.panel-expand .panel-body{
    position:absolute
}
.panel.panel-loading .panel-body .panel-loader{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#fff;
    opacity:.9;
    filter:alpha(opacity=90);
    animation:fadeIn .2s;
    -webkit-animation:fadeIn .2s;
    z-index:1020;
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px
}
@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-webkit-keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}


/* Flash effect */
.flash-red {
    color: #ff0000;

    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.2;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

/* Loading */
.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 10000;
    left: 50%;
    top: 30%;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }

  

  /* context-menu-list */
  .context-menu-layer,
  .context-menu-list{
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)!important;
    -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)!important;
    border: unset!important;
    z-index:30000!important;
  }


  /* win win-expand */
  .win.win-expand{
    position:fixed;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    overflow:hidden;
    z-index:1080;
    background: #ffffff;
}
.win-expand .height-full,.win-expand .height-lg,.win-expand .height-md,.win-expand .height-sm,.win-expand .height-xs{
    height:100%!important
}
@keyframes winExpand{
    from{
        top:50%;
        left:50%;
        right:50%;
        bottom:50%
    }
    to{
        top:0;
        left:0;
        right:0;
        bottom:0
    }
}
@-webkit-keyframes winExpand{
    from{
        top:50%;
        left:50%;
        right:50%;
        bottom:50%
    }
    to{
        top:0;
        left:0;
        right:0;
        bottom:0
    }
}

.win>.win-heading{
    line-height: 24px;
    padding: 5px 0px 0px 5px;
}

.win.win-expand>.win-body{
    position:absolute;
    right:0;
    left:0;
    bottom:0;
    top:40px;
    overflow-y:scroll;
    z-index:1020;
    padding: 0px!important;
}

.win>.win-body{
    padding: 0px!important;
}

/* elemenu ui */
.el-radio__label{
    font-size: 12px;
}
.el-tabs__item{
    font-size:12px;
}
.el-tabs-bottom-line .el-tabs__item.is-active {
    border-bottom: 2px solid rgb(36, 45, 71);
}
.el-switch__label * {
    font-size: 12px;
}


/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #FFFFFF;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
  
  .pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #FFFFFF, 0 0 5px #FFFFFF;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -10px);
    -moz-transform: rotate(3deg) translate(0px, -10px);
    -ms-transform: rotate(3deg) translate(0px, -10px);
    -o-transform: rotate(3deg) translate(0px, -10px);
    transform: rotate(3deg) translate(0px, -10px);
  }
  
  .pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 50%;
    right: 50%;
    width: 40px;
    height: 40px;
    border: solid 2px #dddddd;
    border-top-color: #999999;
    border-left-color: #999999;
    border-radius: 30px;
    -webkit-animation: pace-spinner 1s linear infinite;
    -moz-animation: pace-spinner 1s linear infinite;
    -ms-animation: pace-spinner 1s linear infinite;
    -o-animation: pace-spinner 1s linear infinite;
    animation: pace-spinner 1s linear infinite;
  }
  
  @-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
  }
  

  /* Alertify */
  .alertify.alertify-confirm .alertify-inner{
    background-image: url(/fs/assets/images/files/png/warning.png?type=download&issys=true);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-size: 5em;
    background-position-y: 10%;
  }



/* Matrix Theme */
body.matrix .navbar.navbar-default.navbar-fixed-top {
    background-color: rgb(37, 45, 71);
}

body.matrix #sidebar {
    background-color: rgb(37, 45, 71)!important;
}

body.matrix #sidebar-bg {
    background-color: rgb(37, 45, 71)!important;
}

body.matrix .sidebar-toggle i {
    color: rgb(141, 146, 151);
}

body.matrix .layer.btn.btn-primary {
    background-color: rgb(37, 45, 71);
}

body.matrix .layer > .dropdown > a {
    color: rgb(255,255,255);
}

body.matrix .layer > .dropdown > i {
    color: rgba(255,255,255,0.5);
}

body.matrix .layer a {
    color: rgb(255,255,255);
}

body.matrix .row .btn.btn-primary {
    background-color: rgb(37, 45, 71);
    border-color: rgb(37, 45, 71);
}

body.matrix .navbar.navbar-default.navbar-fixed-bottom {
    background-color: rgb(37, 45, 71);
}

body.matrix .navbar.navbar-default.navbar-fixed-bottom span {
    color: #f9f9f9;
}
body.matrix .navbar.navbar-default.navbar-fixed-bottom a {
    color: #f9f9f9;
}

body.matrix .modal-header{
    background-color: rgb(37, 45, 71);
    color: #ffffff;
}

body.matrix .jsPanel-hdr{
    background-color: rgb(37, 45, 71)!important;
}

body.matrix #jsPanel-robot .jsPanel-content a>img{
    filter: grayscale(100%) brightness(45%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8)!important;
}

body.matrix .jsPanel-titlebar h3{
    color: #ffffff!important;
}
body.matrix .jsPanel-controlbar span.jsglyph{
    color: #ffffff!important;
}

body.matrix .thumbnail>.company-logo-bg{
    background-color: #ffffff;
}

/* BJZDGT Theme */
body.bjzdgt .navbar.navbar-default.navbar-fixed-top {
    background-color: #007a77;
}

body.bjzdgt #sidebar {
    background-color:#007a77;!important;
}

body.bjzdgt #sidebar-bg {
    background-color:#007a77;!important;
}

body.bjzdgt .sidebar-toggle i {
    color: rgb(141, 146, 151);
}

body.bjzdgt .layer.btn.btn-primary {
    background-color:#007a77;;
}

body.bjzdgt .layer > .dropdown > a {
    color: rgb(255,255,255);
}

body.bjzdgt .layer > .dropdown > i {
    color: rgba(255,255,255,0.5);
}

body.bjzdgt .layer a {
    color: rgb(255,255,255);
}

body.bjzdgt .row .btn.btn-primary {
    background-color:#007a77;;
    border-color:#007a77;;
}

body.bjzdgt .navbar.navbar-default.navbar-fixed-bottom {
    background-color:#007a77;;
}

body.bjzdgt .navbar.navbar-default.navbar-fixed-bottom span {
    color: #f9f9f9;
}
body.bjzdgt .navbar.navbar-default.navbar-fixed-bottom a {
    color: #f9f9f9;
}

body.bjzdgt .modal-header{
    background-color: #007a77;
    color: #ffffff;
}

body.bjzdgt .jsPanel-hdr{
    background-color: #007a77!important;
}
body.bjzdgt .jsPanel-content a>img{
    filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8)!important;
}

body.bjzdgt .jsPanel-titlebar h3{
    color: #ffffff!important;
}

body.bjzdgt .jsPanel-controlbar span.jsglyph{
    color: #ffffff!important;
}

body.bjzdgt .thumbnail>.company-logo-bg{
    background-color: #007a77;
}
  