body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container-fluid {
    margin-bottom: 45px;
    margin: 8px -10px;
}

#company_logo::selection {
    background: #fff;
    color: white;
}

#company_logo {
    margin-right:5px;
    max-width: 64px;
    min-width: 32px;
    height: 32px;
}

/* For mxWindwoPane Start*/
div.mxWindowPane {
    overflow: auto!important;
    background-color: #ffffff;
}
div.mxWindow{
    z-index: 1000!important;

    /*-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);*/
}

.navbar.navbar-default.navbar-fixed-top {
    z-index: 999;
    border-color: transparent!important;
    background-color: #083e6a;/*#2195f4;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #03A9F4;
    color: #666;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
    background-color: #1db7fc;
    color: #666;
}

.navbar-default .navbar-nav > li > a.item.active {
    background-color: #fff;
    color: #666;
}

.navbar-default .navbar-nav > li > a.item {
    color: #fff;
}

.navbar-default .navbar-brand {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 22px;
    width:auto;
}

.navbar-default .navbar-brand > span{
    color: rgb(255, 255, 255)!important;
    font-weight: 400;
}

.modal-header{
    background-color: #083e6a;/*#2195f4;*/
    color: #ffffff;
}

.img-responsive{
    max-width: 120px;
    height: auto;
}

/* For Table */

.bootstrap-table > .fixed-table-toolbar > .columns > .btn-group > .dropdown-menu {
    width: 220px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
    padding: 4px!important;
    white-space: wrap;
}

/* For Table Click Change Cell Style */
.cell-style-selected {
    /*background-color: #b6c2ca!important;*/
}

/* For Button default Style */
.btn.btn-default.dropdown-toggle{
    font-size: 12px;
}

/*----------  Pace Loading  ----------*/
/*.btn.btn-primary {
    background-color: rgb(33, 149, 244);
}*/

/*----------  mxWindow ----------*/
html td.mxWindowTitle {
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(180deg,rgb(247, 247, 247),rgb(224, 224, 224));
    background-repeat: repeat-x;
}

div.mxWindowPane {
    border-top: 1px solid rgb(221, 221, 221);
}

div.mxWindowPane > div > .tab-content > .tab-pane > div > .panel-body {
    min-height: calc(100vh - 330px);
    max-height: calc(100vh - 140px);
    overflow: auto;
}

/* dropdown-menu */
.dropdown-menu {
    border: none;
    -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,.5);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.5);
    font-size: 12px;
}

.dropdown-menu>li>a {
    padding: 5px 5px;
}

.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .fab,
.dropdown-menu > li > a > .fas {
    color: rgb(33, 148, 245);
}

.dropdown-menu > li.context-menu-separator {
    padding: 0;
    margin: .25em 0;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.context-menu-icon.context-menu-icon--fa::before {
    color: rgb(33, 148, 245)!important;
}

.context-menu-item {
    padding: 0.25em 2em!important;
    color: rgb(71, 71, 71)!important;
    /*line-height: 1.428571;*/
}
.context-menu-hover {
    background-color: rgb(237, 240, 246)!important;
}

.pace .pace-progress {
    background: transparent;
}

.pace .pace-activity {
    border-top-color: rgb(33, 148, 245);
    border-left-color: rgb(33, 148, 245);
}

.navbar-right .dropdown-menu {
    padding:3px 0px!important;
}

.navbar-right .dropdown-menu .divider{
    margin: 0.25em 0;
}
.navbar-right .dropdown-menu>li>a{
    padding: 5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: rgb(255, 255, 255)!important
}

.nav-menu-level1{
    width: 100%;
    padding-left: 0;
    list-style: none;
}
.nav-menu-user {
    width: 27.4em;
}

.nav-menu-level1> li {
    float: left;
    width: 20%;
    height: 80px;
    padding: 10px;
    font-size: 12px;
    line-height: 2.4;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(255, 255, 255);
}

.nav-menu-level1> li > a {
    color: rgba(0,0,0,0.4);
}

.nav-menu-level1> li > a > img {
    width: 36px;
    height: 36px;
    -webkit-filter: opacity(1) invert(0.5);
    filter: opacity(1) invert(0.5);
}

.nav-menu-user> li{
    float: inherit;
    width: 9em;
    height: 90px;
    padding: 15px 10px;
    margin: 0px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.nav-menu-level1,
.nav-menu-user{
    padding: 1px 0px!important;
}


/*
    Style
*/

.sidebar,
.sidebar-bg {
    background-color: #083e6a;/*#2195f4;*/
}
.sidebar .nav > li > a,
.sidebar .nav > li > a:hover{
    color: rgb(255, 255, 255);
}

.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
    background: rgb(77, 170, 245);
    color: rgb(255, 255, 255);
}


.sidebar-toggle > i {
    padding: 15px 0px;
    color: rgb(166, 211, 248);
}

.topbar.navbar-form {
    margin: 12px 45px;
}

.topbar.navbar-form > .form-group > input{
    width: 300px;
}

.topbar.navbar-form > .form-group > button{
    right: 60px;
    top: 12px;
}

#ai-robot {
    height: 45px;
}

#ai-robot svg {
    width: 60px;
    height: 60px;
}


/* Font Global*/
.jsPanel-titlebar h3 {
    font-family: inherit;
    font-variant: unset;
    font-weight: normal;
}

.jsPanel-headerbar, .jsPanel-hdr-toolbar{
    font-size: 12px;
}


/* For Datatable th bottom border*/
table.dataTable thead th, table.dataTable thead td,
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid rgb(221, 221, 221);
}


/* 自定义Tabs border-bottom */
.nav-tabs.nav-tabs-line-2px {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none!important;
    background-repeat: repeat-x;
    border-radius: 0px!important;
    margin-bottom:10px;
}

ul.nav-tabs-line-2px > li.active {
    border-bottom: 2px solid rgb(3, 169, 244)!important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.nav-tabs.nav-tabs-line-2px > li.active > a,
.nav-tabs.nav-tabs-line-2px > li.active > a:hover,
.nav-tabs.nav-tabs-line-2px > li.active > a:focus,
.nav-tabs.nav-tabs-line-2px > li.active > a:active,
.nav-tabs.nav-tabs-line-2px > li.active > a:visited {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* 自定义Tabs before-content */
.nav-tabs.nav-tabs-content {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none!important;
    background-repeat: repeat-x;
    border-radius: 0px!important;
}

ul.nav-tabs-content > li.active {
    background-color: rgba(0, 0, 0, 0) !important;
}

ul.nav-tabs-content > li.active > a:before {
    content: "\25BA";
    font-size: 8px;
    float: left;
    color: rgb(129, 143, 151);
}

ul.nav-tabs-content > li > a {
    padding: 7px 15px!important;
}

ul.nav-tabs-content > li > a:before {
    content: "";
}

.nav-tabs.nav-tabs-content > li.active > a,
.nav-tabs.nav-tabs-content > li.active > a:hover,
.nav-tabs.nav-tabs-content > li.active > a:focus,
.nav-tabs.nav-tabs-content > li.active > a:active,
.nav-tabs.nav-tabs-content > li.active > a:visited {
    background-color: rgba(0, 0, 0, 0) !important;
}


/* pace loading status*/

:root {
    /*--pace-bg-color: rgb(33, 149, 243);*/
    --pace-bg-color: rgb(255, 255, 255);
    --pace-font-color: #333333;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: var(--pace-bg-color);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}



/* For Event Console Severity */
td.severity6 {
    background-color: #333333!important; /*Fatal*/
    text-align: center;
    color: #ffffff;
}
td.severity5 {
    background-color: #FF0000!important; /*Critical*/
    text-align: center;
    color: #ffffff;
}
td.severity4 {
    background-color: #FFA500!important; /*Major*/
    text-align: center;
    color: #ffffff;
}
td.severity3 {
    background-color: #FFD700!important; /*Minor*/
    text-align: center;
    color: #ffffff;
}
td.severity2 {
    background-color: #0000FF!important; /*Warning*/
    text-align: center;
    color: #ffffff;
}
td.severity1 {
    background-color: #800080!important; /*Indeterminate*/
    text-align: center;
    color: #ffffff;
}
td.severity0 {
    background-color: #008000!important; /*Clear*/
    text-align: center;
    color: #ffffff;
}
td.severity_1 {
    background-color: #808080!important; /*Unknown*/
    text-align: center;
    color: #ffffff;
}
td.severity_other {
    background-color: #808080!important; /*Unknown*/
    text-align: center;
    color: #ffffff;
}


/* For JOB Console Status */
td.status16 {
    background-color: #333333!important; /*Fatal*/
    text-align: center;
    color: #ffffff;
}
td.status15 {
    background-color: #FF0000!important; /*Critical*/
    text-align: center;
    color: #ffffff;
}
td.status14 {
    background-color: #FFA500!important; /*Major*/
    text-align: center;
    color: #ffffff;
}
td.status13 {
    background-color: #FFD700!important; /*Minor*/
    text-align: center;
    color: #ffffff;
}
td.status12 {
    background-color: #0000FF!important; /*Warning*/
    text-align: center;
    color: #ffffff;
}
td.status11 {
    background-color: #800080!important; /*Indeterminate*/
    text-align: center;
    color: #ffffff;
}
td.status10 {
    background-color: #008000!important; /*Clear*/
    text-align: center;
    color: #ffffff;
}
td.status_1 {
    background-color: #808080!important; /*Unknown*/
    text-align: center;
    color: #ffffff;
}


/* Matrix row & column extend from bootstrap3 grid layout */

.mx-row {
    width: 100%;
}

.mx-row:after {
    content: "";
    display: table;
    clear: both;
}

.mx-column-2 {
    float: left;
    width: 16.6%;
}

.mx-column-10 {
    float: left;
    width: 83.4%;
}

.mx-column-12 {
    float: left;
    width: 100%;
}