<code>

	<style scoped>
		/*----------  style  ----------*/
		.script-deploy {

        }

	</style>


	/*----------  最外层element会自动增加组件同名 class="script-deploy"  ----------*/
	<template>
		<el-container style="height:100%;">
            <el-main style="height:100%;overflow:hidden;">
                <el-tabs v-model="activeName" type="border-card">
                    <el-tab-pane name="first" style="height:100%;">
                        <div slot="label">
                            <i class="header-icon el-icon-upload"></i> 选择脚本
                        </div>
                        <el-container style="height:calc(100% - 80px);">
                            <el-main style="height:100%;padding:0px;">
                                <el-form label-position="left" label-width="120px">
                                    <el-form-item label="脚本名称">
                                        <el-input v-model="model.script.name" required="required" ></el-input>
                                    </el-form-item>
                                    <el-form-item label="脚本版本">
                                        <el-input type="number" v-model="model.script.version" required="required" step="0.1"></el-input>
                                    </el-form-item>
                                    <el-form-item label="执行命令">
                                        <el-input v-model="model.script.command"></el-input>
                                    </el-form-item>
                                    <el-form-item label="脚本说明">
                                        <el-input type="textarea" :row="6" v-model="model.script.remark"></el-input>
                                    </el-form-item>
                                    <el-form-item label="添加标签">
                                        <el-tag
                                            v-for="tag in model.script.tags"
                                            :key="tag"
                                            closable>
                                            #{tag}#
                                        </el-tag>
                                    </el-form-item>
                                </el-form>
                            </el-main>
                        </el-container>
                    </el-tab-pane>
                    <el-tab-pane name="second">
                        <div slot="label">
                            <i class="header-icon el-icon-s-platform"></i> 选择部署目标，开始部署
                        </div>
                        <el-container>
                            <el-header style="height:40px;line-height:40px;text-align:right;">
                                <el-button type="primary" @click="onDeploy">下发并退出</el-button>    
                            </el-header>
                            <el-main style="padding:0px;">
                                <script-datatable :model="model.servers" ref="scriptServerRef"></script-datatable>
                            </el-main>
                        </el-container>
                    </el-tab-pane>
                </el-tabs>
            </el-main>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="script-deploy">
        {
            delimiters: ['#{', '}#'],
            data(){
                return {
                        model: {
                        script: {},
                        servers: [],
                    },
                    activeName: 'first'
                }
            },
            created(){
                this.model.script = _.first(self.dt.selected);
                this.loadServer();
            },
            mounted(){
                this.$nextTick(()=> {
                    this.tagInput();
                    $(this.$el).find("li").on("click",()=>{
                        eventHub.$emit("COMPONENT-REDRAW-EVENT");
                    })
                })
            },
            methods: {
                loadServer(){
                    let conf = fsHandler.callFsJScript("/matrix/probe/probe_summary_script_conf.js", mx.urlParams['userid']).message;
                    this.model.servers = conf.servers;  
                },
                tagInput(className,container, tags){
                    const me = this

                    me.model.handler.tagify = $(me.$el).find(".tags").tagify()
                        .on("add",function(event, tagName){
                            me.model.item.tags = tagName.value;
                        })
                        .on("remove",function(event,tagName){
                            me.model.item.tags = tagName.value;
                        });

                },
                onDeploy(){
                    
                    this.$confirm('确定下发该脚本?', '提示', {
                        confirmButtonText: '需要',
                        cancelButtonText: '取消',
                        type: 'warning'
                        }).then(() => {

                            let result = null;
                            
                            _.forEach(self.dt.selected,(v)=>{

                                let depot = _.extend({},{depots: v.name, versions: v.version, hosts: _.map(this.$refs.scriptServerRef.dt.selected,'host') });

                                let rtn = scriptHandler.depotDeploy(depot);

                                if(rtn === 1) {
                                    result = null;
                                } else {
                                    result = rtn;
                                }

                            })   
                            if(result == null){
                                this.$message({
                                    type: "success",
                                    message: "下发成功！"
                                })
                                eventHub.$emit("PROBE-REFRESH-EVENT", ['script']);
                            } else{
                                this.$message({
                                    type: "error",
                                    message: "下发失败：" + result.message
                                })
                            }
                            
                        }).catch(() => {
                            wnd.close();
                        })
                }
            }
        }
	</script>

</code>
