<code>

	<style scoped>
		/*----------  style  ----------*/
		.script-manage{

        }

	</style>


	/*----------  最外层element会自动增加组件同名 class="script-manage"  ----------*/
	<template>
		<el-container style="width:100%;height:100%;">
            <el-header style="height:30px;line-height:30px;">
                <el-tooltip content="切换视图" open-delay="500" placement="top">
                    <el-button type="text" icon="el-icon-s-fold" @click="onToggle"></el-button>
                </el-tooltip>
                <el-tooltip content="上传脚本" delay-time="500">
                    <el-button type="text" icon="el-icon-upload2" @click="scriptUpload"></el-button>
                </el-tooltip>
                <el-tooltip content="下发脚本" delay-time="500">
                    <el-button type="text" icon="el-icon-download" @click="scriptDeploy"></el-button>
                </el-tooltip>
                <el-tooltip content="编辑脚本" delay-time="500">
                    <el-button type="text" icon="el-icon-edit-outline" @click="scriptUpdate"></el-button>
                </el-tooltip>
                <el-tooltip content="删除未下发脚本" delay-time="500">
                    <el-button type="text" icon="el-icon-delete" @click="scriptDelete"></el-button>
                </el-tooltip>
                <el-tooltip content="刷新" delay-time="500">
                    <el-button type="text" icon="el-icon-refresh" @click="scriptRefresh"></el-button>
                </el-tooltip>
                <el-tooltip content="导出" delay-time="500">
                    <el-dropdown @command="onExport">
                        <span class="el-dropdown-link">
                            <i class="el-icon-download el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="csv">CSV</el-dropdown-item>
                            <el-dropdown-item command="json">JSON</el-dropdown-item>
                            <!--el-dropdown-item command="pdf">PDF</el-dropdown-item-->
                            <el-dropdown-item command="png">PNG</el-dropdown-item>
                            <!--el-dropdown-item command="sql">SQL</el-dropdown-item-->
                            <el-dropdown-item command="xls">XLS (Excel 2000 HTML format)</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-tooltip>
            </el-header>   
            <el-main style="width:100%;padding:0px;">
                <el-table
                    :data="dt.rows"
                    highlight-current-row="true"
                    style="width: 100%"
                    :row-class-name="rowClassName"
                    :header-cell-style="headerRender"
                    @row-dblclick="onRowDblclick"
                    @row-contextmenu="onRowContextmenu"
                    @selection-change="onSelectionChange"
                    @current-change="onCurrentChange"
                    ref="table">
                    <el-table-column type="selection" align="center"></el-table-column> 
                    <el-table-column
                        sortable 
                        show-overflow-tooltip
                        v-for="(item,index) in dt.columns"
                        :key="index"
                        :prop="item.field"
                        :label="item ? item.title : ''"
                        :width="item.width"
                        v-if="item.visible">
                            <template slot-scope="scope">
                                <div v-html='item.render(scope.row, scope.column, scope.row[item.field], scope.$index)' 
                                    v-if="typeof item.render === 'function'">
                                </div>
                                <div v-else>
                                    #{scope.row[item.field]}#
                                </div>
                            </template>
                    </el-table-column>
                    <el-table-column  width="180" v-show="dt.rows">
                        <template slot-scope="scope">#{ scope.row.name }#</template>
                    </el-table-column> 
                </el-table>
            </el-main>
            <el-footer  style="height:30px;line-height:30px;">
                #{ info.join(' &nbsp; | &nbsp;') }#
            </el-footer>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="script-manage">
        {
            delimiters: ['#{', '}#'],
            props: {
                model: Object
            },
            data(){
                return {
                    dt:{
                        rows:[],
                        columns: [],
                        selected: []
                    },
                    info: []
                }
            },
            watch: {
                'model.rows': {
                    handler(val,oldVal){
                        if(val !== oldVal){
                            this.dt.rows = [];
                            this.initData();
                        }
                        this.layout();
                    },
                    deep:true
                },
                dt: {
                    handler(val,oldVal){
                        this.info = [];
                        this.info.push(`共 ${this.dt.rows.length} 项`);
                        this.info.push(`已选择 ${this.dt.selected.length} 项`);
                        this.info.push(moment().format("YYYY-MM-DD HH:MM:SS.SSS"));
                    },
                    deep:true,
                    immediate:true
                }
            },
            mounted(){
                this.$nextTick(()=>{
                    this.layout();
                })
            },
            methods: {
                layout(){
                    let doLayout = ()=>{
                        if($(".el-table-column--selection",this.$el).is(':visible')){
                            _.delay(()=>{
                                this.$refs.table.doLayout();
                            },1000)
                        } else {
                            setTimeout(doLayout,50);
                        }
                    }
                    doLayout();
                },
                initData(){
                    const self = this;
                    
                    let init = function(){
                        
                        _.extend(self.dt, {columns: _.map(self.model.columns, (v)=>{
                            
                            if(_.isUndefined(v.visible)){
                                _.extend(v, { visible: true });
                            }

                            if(!v.render){
                                return v;
                            } else {
                                return _.extend(v, { render: eval(v.render) });
                            }
                            
                        })});

                        _.extend(self.dt, {rows: self.model.rows});

                    };

                    _.delay(()=>{
                        init();
                    },1000)
                    
                },
                rowClassName({row, rowIndex}){
                    return `row-${rowIndex}`;
                },
                headerRender({ row, column, rowIndex, columnIndex }){
                    if (rowIndex === 0) {
                        //return 'text-align:center;';
                    }
                },
                onSelectionChange(val) {
                    this.dt.selected = val;
                },
                onCurrentChange(val){
                    this.dt.selected = [val];
                },
                onRowContextmenu(row, column, event){
                    
                },
                onRowDblclick(row, column, event){
                    
                },
                onExport(type){
            
                    let options = {
                        csvEnclosure: '',
                        csvSeparator: ', ',
                        csvUseBOM: true,
                        ignoreColumn: [0,1],
                        fileName: `tableExport_${moment().format("YYYY-MM-DD HH:MM:SS")}`,
                        type: type,
                    };

                    if(type === 'png'){
                        //$(this.$refs.table.$el.querySelectorAll("table")).tableExport(options);
                        $(this.$refs.table.$el.querySelector("table.el-table__body")).tableExport(options);
                    } else if(type === 'pdf'){
                        _.extend(options, {
                            jspdf: {orientation: 'l',
                                    format: 'a3',
                                    margins: {left:10, right:10, top:20, bottom:20},
                                    autotable: {styles: {fillColor: 'inherit', 
                                                            textColor: 'inherit'},
                                                tableWidth: 'auto'}
                            }
                        });
                        $(this.$refs.table.$el.querySelectorAll("table")).tableExport(options);
                    } else {
                        $(this.$refs.table.$el.querySelectorAll("table")).tableExport(options);
                    }
                    
                },
                onToggle(){
                    this.$root.$refs.scriptView.onToggle();
                },
                scriptDelete(){
                    
                    if(!this.dt.selected){
                        this.$message({
                            type: "info",
                            message: "请选择删除脚本！"
                        })
                        return false;
                    }

                    this.$confirm('确定删除选定的脚本?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                        }).then(() => {

                            let result = null;

                            _.forEach(this.dt.selected,(v)=>{

                                let rtn = scriptHandler.depotDelete(v.name); 

                                if(rtn === 1) {
                                    result = null;
                                } else {
                                    result = rtn;
                                }

                            })   
                            if(result == null){
                                this.$message({
                                    type: "success",
                                    message: "删除成功！"
                                })
                                eventHub.$emit("PROBE-REFRESH-EVENT", ['script']);
                            } else{
                                this.$message({
                                    type: "error",
                                    message: "删除失败：" + result.message
                                })
                            }
                            
                        }).catch(() => {
                            wnd.close();
                        })      

                },
                scriptDeploy(){
                    const self = this;

                    let wnd = maxWindow.winProbe( `<i class="fas fa-plus-circle"></i> 下发`, `<div id="script-deploy-container"></div>`, null, 'script-container');

                    let wizard = {
                        delimiters: ['#{', '}#'],
                        data: {
                            model: {
                                script: {},
                                servers: [],
                            },
                            activeName: 'first'
                        },
                        template:   `<el-container style="height:100%;">
                                        <el-main style="height:100%;overflow:hidden;">
                                            <el-tabs v-model="activeName" type="border-card">
                                                <el-tab-pane name="first" style="height:100%;">
                                                    <div slot="label">
                                                        <i class="header-icon el-icon-upload"></i> 选择脚本
                                                    </div>
                                                    <el-container style="height:calc(100% - 80px);">
                                                        <el-main style="height:100%;padding:0px;">
                                                            <el-form label-position="left" label-width="120px">
                                                                <el-form-item label="脚本名称">
                                                                    <el-input v-model="model.script.name" required="required" ></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="脚本版本">
                                                                    <el-input type="number" v-model="model.script.version" required="required" step="0.1"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="执行命令">
                                                                    <el-input v-model="model.script.command"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="脚本说明">
                                                                    <el-input type="textarea" :row="6" v-model="model.script.remark"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="添加标签">
                                                                    <el-tag
                                                                        v-for="tag in model.script.tags"
                                                                        :key="tag"
                                                                        closable>
                                                                        #{tag}#
                                                                    </el-tag>
                                                                </el-form-item>
                                                            </el-form>
                                                        </el-main>
                                                    </el-container>
                                                </el-tab-pane>
                                                <el-tab-pane name="second">
                                                    <div slot="label">
                                                        <i class="header-icon el-icon-s-platform"></i> 选择下发目标，开始下发
                                                    </div>
                                                    <el-container>
                                                        <el-header style="height:40px;line-height:40px;text-align:right;">
                                                            <el-button type="primary" @click="onDeploy">下发并退出</el-button>    
                                                        </el-header>
                                                        <el-main style="padding:0px;">
                                                            <script-datatable :model="model.servers" ref="scriptServerRef"></script-datatable>
                                                        </el-main>
                                                    </el-container>
                                                </el-tab-pane>
                                            </el-tabs>
                                        </el-main>
                                    </el-container>`,
                        created(){
                            this.model.script = _.first(self.dt.selected);
                            this.loadServer();
                        },
                        mounted(){
                            this.$nextTick(()=> {
                                this.tagInput();
                                $(this.$el).find("li").on("click",()=>{
                                    eventHub.$emit("COMPONENT-REDRAW-EVENT");
                                })
                            })
                        },
                        methods: {
                            loadServer(){
                                let conf = fsHandler.callFsJScript("/matrix/probe/probe_summary_script_conf.js", mx.urlParams['userid']).message;
                                this.model.servers = conf.servers;  
                            },
                            tagInput: function(className,container, tags){
                                const me = this

                                me.model.handler.tagify = $(me.$el).find(".tags").tagify()
                                    .on("add",function(event, tagName){
                                        me.model.item.tags = tagName.value;
                                    })
                                    .on("remove",function(event,tagName){
                                        me.model.item.tags = tagName.value;
                                    });

                            },
                            onDeploy(){
                              
                                this.$confirm('确定下发该脚本?', '提示', {
                                    confirmButtonText: '需要',
                                    cancelButtonText: '取消',
                                    type: 'warning'
                                    }).then(() => {

                                        let result = null;
                                        
                                        _.forEach(self.dt.selected,(v)=>{
        
                                            let depot = _.extend({},{depots: v.name, versions: v.version, hosts: _.map(this.$refs.scriptServerRef.dt.selected,'host') });

                                            let rtn = scriptHandler.depotDeploy(depot);

                                            if(rtn === 1) {
                                                result = null;
                                            } else {
                                                result = rtn;
                                            }

                                        })   
                                        if(result == null){
                                            this.$message({
                                                type: "success",
                                                message: "下发成功！"
                                            })
                                            eventHub.$emit("PROBE-REFRESH-EVENT", ['script']);
                                        } else{
                                            this.$message({
                                                type: "error",
                                                message: "下发失败：" + result.message
                                            })
                                        }
                                        
                                    }).catch(() => {
                                        wnd.close();
                                    })
                            }
                        }
                    };

                    new Vue(wizard).$mount("#script-deploy-container");
                },
                scriptRefresh(){
                    eventHub.$emit("PROBE-REFRESH-EVENT", ['script']);
                },
                scriptUpload(){
                    let wnd = maxWindow.winProbe( `<i class="fas fa-plus-circle"></i> 上传`, `<div id="script-add-container"></div>`, null, 'script-container');

                    let conf = fsHandler.callFsJScript("/matrix/probe/probe_summary_script_conf.js", mx.urlParams['userid']).message;
                    
                    let wizard = {
                        delimiters: ['#{', '}#'],
                        data: {
                            model: {
                                item: {
                                    name: null,
                                    version: 1.0,
                                    remark: null,
                                    uploadfile: null,
                                    tags: ['SCRIPT'],
                                    servers: conf.servers,
                                    command: null,
                                    wnd: wnd
                                },
                                handler: {
                                    tagify: null
                                }
                            },
                            fileList: [],
                            activeName: 'first'
                        },
                        template:   `<el-container style="height:100%;">
                                        <el-main style="height:100%;overflow:hidden;">
                                            <el-tabs v-model="activeName" type="border-card">
                                                <el-tab-pane name="first" style="height:100%;">
                                                    <div slot="label">
                                                        <i class="header-icon el-icon-upload"></i> 选择脚本，上传到脚本库
                                                    </div>
                                                    <el-container style="height:calc(100% - 80px);">
                                                        <el-header style="height:40px;line-height:40px;text-align:right;">
                                                            <el-button type="primary" @click="save">上传</el-button>    
                                                        </el-header>
                                                        <el-main style="height:100%;">
                                                            <el-form label-position="left" label-width="120px">
                                                                <el-form-item>
                                                                    <el-upload
                                                                        :on-preview="handlePreview"
                                                                        :on-remove="handleRemove"
                                                                        :on-change="onFileChange"
                                                                        :before-remove="beforeRemove"
                                                                        :file-list="fileList"
                                                                        :limit="1"
                                                                        multiple="false"
                                                                        :auto-upload="false">
                                                                        <el-button size="mini" type="success">点击上传脚本</el-button>
                                                                        <div slot="tip" class="el-upload__tip">只能上传脚本文件</div>
                                                                        </el-upload>
                                                                </el-form-item>
                                                                <el-form-item label="脚本名称">
                                                                    <el-input v-model="model.item.name" required="required" ></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="脚本版本">
                                                                    <el-input type="number" v-model="model.item.version" required="required" step="0.1"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="执行命令">
                                                                    <el-input v-model="model.item.command"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="脚本说明">
                                                                    <el-input type="textarea" :row="6" v-model="model.item.remark"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="添加标签">
                                                                    <el-tag
                                                                        v-for="tag in model.item.tags"
                                                                        :key="tag"
                                                                        closable>
                                                                        #{tag}#
                                                                    </el-tag>
                                                                </el-form-item>
                                                            </el-form>
                                                        </el-main>
                                                    </el-container>
                                                </el-tab-pane>
                                                <el-tab-pane name="second">
                                                    <div slot="label">
                                                        <i class="header-icon el-icon-s-platform"></i> 如果需要下发，选择下发目标，开始下发
                                                    </div>
                                                    <el-container>
                                                        <el-header style="height:40px;line-height:40px;text-align:right;">
                                                            <el-button type="primary" @click="onDeploy">下发并退出</el-button>    
                                                        </el-header>
                                                        <el-main>
                                                            <script-datatable :model="model.item.servers" ref="scriptUploadServerRef"></script-datatable>
                                                        </el-main>
                                                    </el-container>
                                                </el-tab-pane>
                                            </el-tabs>
                                        </el-main>
                                    </el-container>`,
                        mounted(){
                            this.$nextTick(()=> {
                                this.tagInput();
                                $(this.$el).find("li").on("click",()=>{
                                    eventHub.$emit("COMPONENT-REDRAW-EVENT");
                                })
                            })
                        },
                        methods: {
                            tagInput: function(className,container, tags){
                                const me = this

                                me.model.handler.tagify = $(me.$el).find(".tags").tagify()
                                    .on("add",function(event, tagName){
                                        me.model.item.tags = tagName.value;
                                    })
                                    .on("remove",function(event,tagName){
                                        me.model.item.tags = tagName.value;
                                    });

                            },
                            save(){
                                
                                let result = scriptHandler.depotAdd(this.model.item);

                                if(result == 1){
                                    
                                    this.$message({
                                        type: "success",
                                        message: "上传成功！"
                                    })

                                    this.$confirm('是否需要下发该脚本?', '提示', {
                                        confirmButtonText: '需要',
                                        cancelButtonText: '取消',
                                        type: 'warning'
                                        }).then(() => {
                                            this.activeName = 'second';    
                                        }).catch(() => {
                                            wnd.close();
                                        });

                                    eventHub.$emit("PROBE-REFRESH-EVENT", ['script']);
                                } else{
                                    this.$message({
                                        type: "error",
                                        message: "上传失败：" + result.message
                                    })
                                }
                                
                            },
                            onFileChange(file, fileList) {
                                
                                this.model.item.name = _.head(file.raw.name.split("."));
                                
                                this.model.item.uploadfile = file.raw;

                            },
                            onDeploy(){
                              
                                this.$confirm('确定下发该脚本?', '提示', {
                                    confirmButtonText: '需要',
                                    cancelButtonText: '取消',
                                    type: 'warning'
                                    }).then(() => {

                                        let depot = _.extend({},{depots: this.model.item.name, versions: this.model.item.version, hosts: _.map(this.$refs.scriptUploadServerRef.dt.selected,'host') });

                                        let result = scriptHandler.depotDeploy(depot);

                                        if(result == null){
                                            this.$message({
                                                type: "success",
                                                message: "下发成功！"
                                            })
                                            eventHub.$emit("PROBE-REFRESH-EVENT", ['script']);
                                        } else{
                                            this.$message({
                                                type: "error",
                                                message: "下发失败：" + result.message
                                            })
                                        }
                                        
                                    }).catch(() => {
                                        wnd.close();
                                    })
                            },
                            handleRemove(file, fileList) {
                                console.log(file, fileList);
                            },
                            handlePreview(file) {
                                console.log(file);
                            },
                            beforeRemove(file, fileList) {
                                return this.$confirm(`确定移除 ${ file.name }？`);
                            }
                        }
                    };

                    new Vue(wizard).$mount("#script-add-container");
                },
                scriptUpdate(){

                    const self = this;

                    let wnd = maxWindow.winProbe( `<i class="fas fa-plus-circle"></i> 编辑`, `<div id="script-update-container"></div>`, null, 'script-container');

                    let conf = fsHandler.callFsJScript("/matrix/probe/probe_summary_script_conf.js", mx.urlParams['userid']).message;
                    
                    let wizard = {
                        delimiters: ['#{', '}#'],
                        data: {
                            model: {
                                item: {
                                    name: null,
                                    version: null,
                                    remark: null,
                                    uploadfile: null,
                                    tags: ['SCRIPT'],
                                    servers: conf.servers,
                                    command: null,
                                    wnd: wnd
                                },
                                handler: {
                                    tagify: null
                                }
                            },
                            fileList: [],
                            activeName: 'first'
                        },
                        template:   `<el-container style="height:100%;">
                                        <el-main style="height:100%;overflow:hidden;">
                                            <el-tabs v-model="activeName" type="border-card">
                                                <el-tab-pane name="first" style="height:100%;">
                                                    <div slot="label">
                                                        <i class="header-icon el-icon-upload"></i> 选择脚本，上传到脚本库
                                                    </div>
                                                    <el-container style="height:calc(100% - 80px);">
                                                        <el-header style="height:40px;line-height:40px;text-align:right;">
                                                            <el-button type="primary" @click="save">上传</el-button>    
                                                        </el-header>
                                                        <el-main style="height:100%;">
                                                            <el-form label-position="left" label-width="120px">
                                                                <el-form-item>
                                                                    <el-upload
                                                                        :on-preview="handlePreview"
                                                                        :on-remove="handleRemove"
                                                                        :on-change="onFileChange"
                                                                        :before-remove="beforeRemove"
                                                                        :file-list="fileList"
                                                                        :limit="1"
                                                                        multiple="false"
                                                                        :auto-upload="false">
                                                                        <el-button size="mini" type="success">点击上传脚本</el-button>
                                                                        <div slot="tip" class="el-upload__tip">只能上传脚本文件</div>
                                                                        </el-upload>
                                                                </el-form-item>
                                                                <el-form-item label="脚本名称">
                                                                    <el-input v-model="model.item.name" required="required" disabled></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="脚本版本">
                                                                    <el-input type="number" v-model="model.item.version" required="required" step="0.1"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="执行命令">
                                                                    <el-input v-model="model.item.command"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="脚本说明">
                                                                    <el-input type="textarea" :row="6" v-model="model.item.remark"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="添加标签">
                                                                    <el-tag
                                                                        v-for="tag in model.item.tags"
                                                                        :key="tag"
                                                                        closable>
                                                                        #{tag}#
                                                                    </el-tag>
                                                                </el-form-item>
                                                            </el-form>
                                                        </el-main>
                                                    </el-container>
                                                </el-tab-pane>
                                                <el-tab-pane name="second" style="display:none;">
                                                    <div slot="label">
                                                        <i class="header-icon el-icon-s-platform"></i> 如果需要下发，选择下发目标，开始下发
                                                    </div>
                                                    <el-container>
                                                        <el-header style="height:40px;line-height:40px;text-align:right;">
                                                            <el-button type="primary" @click="onDeploy">下发并退出</el-button>    
                                                        </el-header>
                                                        <el-main>
                                                            <script-datatable :model="model.item.servers" ref="scriptUpdateServerRef"></script-datatable>
                                                        </el-main>
                                                    </el-container>
                                                </el-tab-pane>
                                            </el-tabs>
                                        </el-main>
                                    </el-container>`,
                        created(){
                            _.extend(this.model, {item: self.dt.selected[0]});
                            _.extend(this.model.item, {servers:conf.servers});
                            this.fileList.push({
                                    status: "ready",
                                    name: this.model.item.name,
                                    size: 0,
                                    percentage: 0,
                                    uid: _.now(),
                                    raw: null
                                }
                            );
                        },
                        mounted(){
                            this.$nextTick(()=> {
                                this.tagInput();
                                $(this.$el).find("li").on("click",()=>{
                                    eventHub.$emit("COMPONENT-REDRAW-EVENT");
                                })
                            })
                        },
                        methods: {
                            tagInput: function(className,container, tags){
                                const me = this

                                me.model.handler.tagify = $(me.$el).find(".tags").tagify()
                                    .on("add",function(event, tagName){
                                        me.model.item.tags = tagName.value;
                                    })
                                    .on("remove",function(event,tagName){
                                        me.model.item.tags = tagName.value;
                                    });

                            },
                            save(){
                                
                                let result = scriptHandler.depotUpdate(this.model.item);

                                if(result == 1){
                                    
                                    this.$message({
                                        type: "success",
                                        message: "更新成功！"
                                    })

                                    this.$confirm('是否需要下发该脚本?', '提示', {
                                        confirmButtonText: '需要',
                                        cancelButtonText: '取消',
                                        type: 'warning'
                                        }).then(() => {
                                            this.activeName = 'second';    
                                        }).catch(() => {
                                            wnd.close();
                                        });

                                    eventHub.$emit("PROBE-REFRESH-EVENT", ['script']);
                                } else{
                                    this.$message({
                                        type: "error",
                                        message: "更新失败：" + result.message
                                    })
                                }
                                
                            },
                            onFileChange(file, fileList) {
                                
                                this.model.item.name = _.head(file.raw.name.split("."));
                                
                                this.model.item.uploadfile = file.raw;

                            },
                            onDeploy(){
                              
                                this.$confirm('确定下发该脚本?', '提示', {
                                    confirmButtonText: '需要',
                                    cancelButtonText: '取消',
                                    type: 'warning'
                                    }).then(() => {

                                        let depot = _.extend({},{depots: this.model.item.name, versions: this.model.item.version, hosts: _.map(this.$refs.scriptUpdateServerRef.dt.selected,'host') });

                                        let result = scriptHandler.depotDeploy(depot);

                                        if(result == null){
                                            this.$message({
                                                type: "success",
                                                message: "下发成功！"
                                            })
                                            eventHub.$emit("PROBE-REFRESH-EVENT", ['script']);
                                        } else{
                                            this.$message({
                                                type: "error",
                                                message: "下发失败：" + result.message
                                            })
                                        }
                                        
                                    }).catch(() => {
                                        wnd.close();
                                    })
                            },
                            handleRemove(file, fileList) {
                                console.log(file, fileList);
                            },
                            handlePreview(file) {
                                console.log(file);
                            },
                            beforeRemove(file, fileList) {
                                return this.$confirm(`确定移除 ${ file.name }？`);
                            }
                        }
                    };

                    new Vue(wizard).$mount("#script-update-container");
                }
            }
        
        }
	</script>

</code>
