<code>

	<style scoped>
        .form-card-component .el-button--text{
            padding: 0 5px;
        }

        .form-card-component .el-input__inner{
            border-radius: 4px!important;
            border: 1px solid #ddd!important;
        }
        
        .form-card-component .el-input--small .el-input__inner {
            height: 32px!important;
            line-height: 32px!important;
        }
        .form-card-component .show{
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        }
	</style>


	/*----------  最外层element会自动增加组件同名 class="form-card-component"  ----------*/
	<template>
        <el-container style="max-height:200px;height:200px;" :class="show?'show':''">
            <el-main ref="mainView">
                <el-button type="text" style="position: absolute;top:15px;left:25px;z-index: 100;" @click="onToggleShow">
                    <el-image style="width: 64px; height: 64px;" :src="term | pickIcon" fit="scale-down" @error="onErrorPickIcon" v-if="term"></el-image>
                </el-button>
                <el-form :model="model" ref="form" label-width="140px" :label-position="labelPosition" style="animated fadeIn fadeOut" v-if="show">
                    <el-form-item :label="item.label" v-for="item in model.components" v-if="item.visible">
                        <el-select v-model="item.data" :placeholder="item.placeholder" v-if="item.type==='select'">
                            <el-option v-for="data in item.data" :key="data">#{data}#</el-option>
                        </el-select>
                        <el-date-picker type="date" v-model="item.data" :placeholder="item.placeholder" v-else-if="item.type==='date-picker'"></el-date-picker>
                        <el-input-number v-model="item.data" :placeholder="item.placeholder" v-else-if="item.type==='input-number'"></el-input-number>
                        <el-input type="textarea" autosize v-model="item.data" :placeholder="item.placeholder" v-else-if="item.type==='input-textarea'"></el-input>
                        <el-tag :key="tag" closable v-for="tag in item.data" v-else-if="item.type==='tag'">#{tag}#</el-tag>
                        <el-input v-model="item.data" :placeholder="item.placeholder" v-else="item.type==='input'"></el-input>
                    </el-form-item>
                </el-form>
            </el-main>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="form-card-component">
        {
            delimiters: ['#{', '}#'],
			props: {
                term: String,
                cHeight: Number
            },
            data(){
                return {
                    model:null,
                    show: false,
                    labelPosition: 'right'
                }
            },
            watch: {
                show(val,oldVal){
                    if(val){
                        this.loadForm();
                    }
                }
            },
            filters: {
                pickStyle(h){
                    return `height:calc(100vh - ${h}px);background: #ffffff;`;
                },
                pickIcon(evt){
                    try {
                        return `/fs/assets/images/entity/png/${_.head(evt.split(":"))}.png?issys=true&type=open`;
                    } catch(err){
                        return `/fs/assets/images/entity/png/matrix.png?issys=true&type=open`;
                    }
                    
                }
            },
            methods: {
                onToggleShow(){
                    this.show=!this.show;
                    eventHub.$emit("TIMELINE-REDRAW-EVENT");
                },
                onErrorPickIcon(e){
                    _.extend(this.model,{path:"/matrix"});
                },
                loadForm(){
                    this.model = fsHandler.callFsJScript("/matrix/omdb/form.js", encodeURIComponent(this.term)).message;
                },
                toggleFormStyle(){
                    this.labelPosition = _.sample(_.xor(['top','right','left'],[this.labelPosition]));
                }
                
            }

        }
	</script>

</code>
