<code>

	<style scoped>
        .form-component .el-button--text{
            padding: 0 5px;
        }

        .form-component .el-input__inner{
            border-radius: 4px!important;
            border: 1px solid #ddd!important;
        }
        
        .form-component .el-input--small .el-input__inner {
            height: 32px!important;
            line-height: 32px!important;
        }
	</style>


	/*----------  最外层element会自动增加组件同名 class="form-component"  ----------*/
	<template>
        <el-container :style="cHeight | pickStyle">
            <el-header style="height:40px;line-height: 40px;text-align:right;">
                <span>
                    <el-tooltip content="刷新">
                        <el-button type="text" icon="el-icon-refresh" @click="loadForm"></el-button>
                    </el-tooltip>
                    <el-tooltip content="更新">
                        <el-button type="text" icon="el-icon-position" v-if="allow"></el-button>
                    </el-tooltip>
                    <el-tooltip content="添加">
                        <el-button type="text" icon="el-icon-plus" v-if="allow"></el-button>
                    </el-tooltip>
                    <el-tooltip content="删除">
                        <el-button type="text" icon="el-icon-delete" v-if="allow"></el-button>
                    </el-tooltip>
                    <el-tooltip content="表单样式">
                        <el-button type="text" icon="el-icon-bank-card" @click="toggleFormStyle"></el-button>
                    </el-tooltip>
                </span>
            </el-header>
            <el-main ref="mainView" style="padding:0px 20px;">
                <el-image style="width: 80px; height: 80px;position: absolute;top:5px;left:5px;" :src="model | pickIcon" fit="scale-down" @error="onErrorPickIcon" v-if="model"></el-image>
                <el-form :model="model" ref="form" label-width="140px" :label-position="labelPosition">
                    <el-form-item :label="item.label" v-for="item in model.components" v-if="item.visible">
                        <el-select v-model="item.data" :placeholder="item.placeholder" v-if="item.type==='select'">
                            <el-option v-for="data in item.data" :key="data">#{data}#</el-option>
                        </el-select>
                        <el-date-picker type="date" v-model="item.data" :placeholder="item.placeholder" v-else-if="item.type==='date-picker'"></el-date-picker>
                        <el-input-number v-model="item.data" :placeholder="item.placeholder" v-else-if="item.type==='input-number'"></el-input-number>
                        <el-input type="textarea" autosize v-model="item.data" :placeholder="item.placeholder" v-else-if="item.type==='input-textarea'"></el-input>
                        <el-tag :key="tag" closable v-for="tag in item.data" v-else-if="item.type==='tag'">#{tag}#</el-tag>
                        <el-input v-model="item.data" :placeholder="item.placeholder" v-else="item.type==='input'"></el-input>
                    </el-form-item>
                </el-form>
            </el-main>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="form-component">
        {
            delimiters: ['#{', '}#'],
			props: {
                term: String,
                cHeight: Number
            },
            data(){
                return {
                    model:null,
                    labelPosition: 'right',
                    allow: mx.allow()
                }
            },
            watch: {
                term(val,oldVal){
                    this.loadForm();
                }
            },
            filters: {
                pickStyle(h){
                    return `height:calc(100vh - ${h}px);background: #ffffff;`;
                },
                pickIcon(evt){
                    try {
                        return `/fs/assets/images/entity/png/${_.last(evt.path.split("/"))}.png?issys=true&type=open`;
                    } catch(err){
                        return `/fs/assets/images/entity/png/matrix.png?issys=true&type=open`;
                    }
                    
                }
            },
            created(){
                this.loadForm();
            },
            mounted() {
                this.$nextTick(()=>{
                    
                })
            },
            computed: {
                
            },
            methods: {
                onErrorPickIcon(e){
                    _.extend(this.model,{path:"/matrix"});
                },
                loadForm(){
                    this.model = fsHandler.callFsJScript("/matrix/omdb/form.js", encodeURIComponent(this.term)).message;
                    console.log(this.model)
                },
                toggleFormStyle(){
                    this.labelPosition = _.sample(_.xor(['top','right','left'],[this.labelPosition]));
                }
                
            }

        }
	</script>

</code>
