<style>

	.el-menu--collapse {
		width: 60px;
	}
	.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
		background-color: #b3dcfc;
		border-color: #b3dcfc;
	}
	.el-tree-node__content>.el-checkbox{
		margin: 5px 8px 5px 0px;
	}

	.el-tree-node__content>.el-checkbox,.el-tree-node__label{
		font-size: 12px;
	}

	.el-tree-node__children.transition{
		box-shadow: unset;
	}

	.el-upload,.el-upload-dragger{
		width: 100%;
	}

	.el-menu-item, .el-submenu__title{
		height: 45px;
		line-height: 45px;
	}

	.el-menu-vertical-sidebar{
		border-right:unset;
	}

	.el-menu-vertical-sidebar li.el-menu-item:hover{
		background: #57a3f3!important;
	}
	.el-menu-vertical-sidebar .el-menu-item.is-active{
		background:#00acac!important;
	}
	.el-menu-vertical-sidebar .el-menu-item.is-active > div>img{
		filter: grayscale(100%) brightness(45%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(6.8)!important;
	}
	.el-menu-vertical-sidebar.el-menu--collapse{
		width: 60px;
	}
	
	.el-upload__input{
		display: none!important;
	}

	header>.el-switch {
    	font-size: 12px;
    	padding: 15px 5px;
	}

	footer ul {
		text-align: left;
		display: inline;
		margin: 0;
		padding: 0 10px 0 0;
		list-style: none;
	}

	footer ul li {
		font-size: 12px;
		display: inline-block;
		margin-right: 10px;
		position: relative;
		bottom: 0px;
		padding: 0px;
		background: transparent;
		cursor: pointer;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		color: #333333;
	}

	footer ul li:hover {
		color: #333333;
	}

	footer ul li ul {
		background: rgb(255, 255, 255);
		position: absolute;
		bottom: 25px;
		left: 0;
		width: 120px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		display: none;
		opacity: 0;
		visibility: ;
		-webkit-transiton: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		-ms-transition: opacity 0.2s;
		-o-transition: opacity 0.2s;
		-transition: opacity 0.2s;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	}

	footer ul li ul li {
		background: #ffffff;
		display: block;
		color: #fff;
		padding: 0 0 0 5px;
    	margin: 0;
		height:28px;
		line-height:28px;
	}

	footer ul li ul li:hover { 
		background: rgb(237, 240, 245);
		color: #333333;
	}

	footer ul li:hover ul {
		display: block;
		opacity: 1;
		visibility: visible;
	}

</style>
<footer id="footer"
		style="position:fixed;
		bottom: 0px;
		right: 0px;
		height: 30px;
		line-height: 30px;
		display: none;">
	
	<a href="javascript:void(0);" style="text-decoration-line: none;padding-right: 20px;font-size: 12px;color: rgb(51, 51, 51);">
	<i class="fas fa-copyright"></i> 2018 {{.i18n.Tr "app_name"}} {{if (or .ShowFooterVersion .PageIsAdmin)}}{{.i18n.Tr "version"}}: {{AppVer}}{{end}}
	</a>
	
	<a class="footer-button-group_api-contextmenu" href="javascript:void(0);"  style="text-decoration-line: none;padding-right: 20px;font-size:12px;color: rgb(51, 51, 51);"><i class="fas fa-laptop-code"></i> API</a>
	<div class="menu">
		<ul>
			<li> <i class="fas fa-globe-asia"></i> {{.LangName}}
				<ul>
					{{range .AllLangs}}
					<li>
						<a class="{{if eq $.Lang .Lang}}active selected{{end}}" href="#" onclick="window.location.href='{{if eq $.Lang .Lang}}#{{else}}{{$.Link}}?lang={{.Lang}}{{end}}'" style="text-decoration-line: none;font-size: 12px;color: rgb(51, 51, 51);"><i class="fas fa-language"></i> {{.Name}}</a>
					</li>
					{{end}}
				</ul>
			</li>
		</ul>
	</div>
	
	<a target="_blank" href="http://{{.website}}"  style="text-decoration-line: none;padding-right: 20px;font-size:12px;color: rgb(51, 51, 51);"><i class="fas fa-globe"></i> {{.company_fullname}}</a>
	
</footer>