<!DOCTYPE html>
<html lang="{{.Lang}}">
<head data-suburl="{{AppSubUrl}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Expires" content="1">
	<meta name="author" content="Matrix - Portal Service" />
	<meta name="description" content="Matrix - Portal Service write in go" />
	<meta name="keywords" content="matrix,bigdata,cassandra,go">
	<meta name="referrer" content="no-referrer" />
	<meta name="_csrf" content="{{.CsrfToken}}" />
	<meta name="_suburl" content="{{AppSubUrl}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="" id="favicon"/>

	<!--Jquery JS-->
	<script src="{{AppSubUrl}}/web/vendor/jquery/jquery-3.3.1.min.js"></script>

	<!--Panel JS & CSS -->
	<script src="{{AppSubUrl}}/web/vendor/jsPanel/jquery.jspanel.min.js" type="text/javascript"></script>
	<link href="{{AppSubUrl}}/web/vendor/jsPanel/jquery.jspanel.min.css" type="text/css" rel="stylesheet" />

	<!--Jquery UI JS-->
	<script src="{{AppSubUrl}}/web/vendor/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	
	<script src="{{AppSubUrl}}/web/vendor/split/split.min.js"></script>

	<!-- font-awesome  CSS -->
	<link href="{{AppSubUrl}}/web/vendor/font-awesome/5.4.1/css/all.min.css" rel="stylesheet" >
	<!-- animate CSS -->
	<link href="{{AppSubUrl}}/web/vendor/animate/animate.css" rel="stylesheet" >

	<!-- Bootstrap core CSS -->
	<link href="{{AppSubUrl}}/web/css/dist/css/bootstrap_wecise.css" rel="stylesheet">
	<link href="{{AppSubUrl}}/web/css/dist/css/theme_wecise.css" rel="stylesheet">
	<script src="{{AppSubUrl}}/web/css/dist/js/bootstrap.min.js"></script>

	<!--VUE Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/vue/2.6.8/dist/vue.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/vueloader/vue.loader.min.js"></script>

	<!-- Element -->
	<script src="{{AppSubUrl}}/web/vendor/element/2.12.0/dist/index.js"></script>
	<link href="{{AppSubUrl}}/web/vendor/element/2.12.0/dist/theme-chalk/index.css" type="text/css" rel="stylesheet" />
	

	<!-- Color Theme core CSS -->
	<!--<link href="{{AppSubUrl}}/web/css/color/color_style.min.css" rel="stylesheet">
	<link href="{{AppSubUrl}}/web/css/color/color_style_responsive.min.css" rel="stylesheet">-->
	<link href="{{AppSubUrl}}/web/css/color/style.min.css" rel="stylesheet">	

	<!-- Bootstrap Select JS & CSS -->
	<link href="{{AppSubUrl}}/web/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<script src="{{AppSubUrl}}/web/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	
	<!-- bootstrap-tagsinput core CSS -->
	<link rel="stylesheet" href="{{AppSubUrl}}/web/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
	<script src="{{AppSubUrl}}/web/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>

	<!--lodash JS-->
	<script src="{{AppSubUrl}}/web/vendor/lodash/dist/lodash.min.js"></script>
	
	<!--Mark JS-->
	<script src="{{AppSubUrl}}/web/vendor/mark/dist/jquery.mark.min.js"></script>

	<!--Util JS-->
	<script src="{{AppSubUrl}}/web/vendor/moment/min/moment.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/moment/min/moment-with-locales.min.js"></script>

	<!-- Flatpickr JS & CSS-->	
	<link href="{{AppSubUrl}}/web/vendor/flatpickr/dist/flatpickr.min.css" rel="stylesheet" >
	<script src="{{AppSubUrl}}/web/vendor/flatpickr/dist/flatpickr.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/flatpickr/dist/l10n/zh.js"></script>

	<!--zTree Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.excheck-3.5.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.exedit-3.5.js"></script>
	
	<!--Later Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/later/later.js"></script>

	<!--localforage Core JS -->
	<script src="{{AppSubUrl}}/web/vendor/localForage/dist/localforage.min.js"></script>

	<!-- ACE JS-->
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ace.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ext-language_tools.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ext-split.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ext-settings_menu.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ext-statusbar.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/theme-tomorrow.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/mode-lua.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/snippets/lua.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/mode-mql.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/snippets/mql.js"></script>

	<!-- Object-Hash JS-->
	<script src="{{AppSubUrl}}/web/vendor/object-hash/dist/object_hash.js"></script>

	<!-- Golden-layout CSS & JS-->
	<script src="{{AppSubUrl}}/web/vendor/golden-layout/dist/goldenlayout.min.js" type="text/javascript"></script>
	<link href="{{AppSubUrl}}/web/vendor/golden-layout/src/css/goldenlayout-base.css" type="text/css" rel="stylesheet" />
	<link href="{{AppSubUrl}}/web/vendor/golden-layout/src/css/goldenlayout-light-theme.css" type="text/css" rel="stylesheet" />

	<!--Alertify JS & CSS -->
	<script src="{{AppSubUrl}}/web/vendor/alertifyjs/lib/alertify.js" type="text/javascript"></script>
	<link href="{{AppSubUrl}}/web/vendor/alertifyjs/themes/alertify.core.css" type="text/css" rel="stylesheet" />
	<link href="{{AppSubUrl}}/web/vendor/alertifyjs/themes/alertify.bootstrap.css" type="text/css" rel="stylesheet" />

	<!--Tagify JS -->
	<script src="{{AppSubUrl}}/web/vendor/tagify/dist/tagify.polyfills.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/tagify/dist/tagify.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/tagify/dist/jQuery.tagify.js"></script>
	<link href="{{AppSubUrl}}/web/vendor/tagify/dist/tagify.css" rel="stylesheet" />

	<!-- D3 JS -->
	<script src="{{AppSubUrl}}/web/vendor/d3/d3.min.js"></script>

	<script>
		try{
			window.MATRIX_LANG = "{{.Lang}}";
			moment.locale(window.MATRIX_LANG);
			window.SignedUser_Remark = "{{.SignedUser.Remark}}";
			window.SignedUser_UserName = "{{.SignedUser.UserName}}";
			window.SignedUser_FullName = "{{.SignedUser.FullName}}";
			window.SignedUser_IsAdmin = true;//"{{.SignedUser.IsAdmin}}" || false;
			window.COMPANY_NAME = "{{.company}}";
			window.COMPANY_OSPACE = "{{.ospace}}";
			window.COMPANY_LOGO = "{{.logo}}";
			window.COMPANY_TITLE = "{{.SignedUser.Company.Fullname}}";
			window.ASSETS_ICON = '/fs/assets/images';
			window.CsrfToken = "{{.CsrfToken}}";
			localStorage.setItem("SIGNEDUSER", JSON.stringify( { usrename:window.SignedUser_UserName, fullname:window.SignedUser_FullName, isadmin:window.SignedUser_IsAdmin, assets_icon: window.ASSETS_ICON, lang:window.MATRIX_LANG, companyLogo:window.COMPANY_LOGO}) );
		} catch(err){

		}
	</script>

	<!-- App JS-->
	<script src="{{AppSubUrl}}/web/js/cfg.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/app.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/ContextMenu.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/Matrix.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/SideBar.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/Window.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/VueHub.js" type="text/javascript"></script>

	<script src="{{AppSubUrl}}/web/js/handler/AppContextHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/JobHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/LicenseHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/FsHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/OmdbHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/RuleHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/GroupHandler.js" type="text/javascript"></script>
    <script src="{{AppSubUrl}}/web/js/handler/TagHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/UserHandler.js" type="text/javascript"></script>

	<!-- h5utils -->
	<script src="{{AppSubUrl}}/web/vendor/h5utils/h5utils.js" type="text/javascript"></script>

	<!--Defiant JS-->	
	<script src="{{AppSubUrl}}/web/vendor/defiantjs/defiant.min.js"></script>

	<!-- Jquery ContextMenu -->
    <link href="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.contextMenu.css" type="text/css" rel="stylesheet">
    <script src="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.ui.position.js"></script>
    <script src="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.contextMenu.js"></script>

	<!--Gauge JS-->
	<script src="{{AppSubUrl}}/web/vendor/gauge/gauge.min.js"></script>

	<!--Clipboard JS-->
	<script src="{{AppSubUrl}}/web/vendor/clipboard/dist/clipboard.min.js"></script>

	<!-- Vis JS -->
	<script src="{{AppSubUrl}}/web/vendor/vis/dist/vis.js"></script>
	<link href="{{AppSubUrl}}/web/vendor/vis/dist/vis.css" rel="stylesheet" type="text/css" />

	<!-- Bootstrap-Wizard JS -->
	<script src="{{AppSubUrl}}/web/vendor/bootstrap-wizard/js/bwizard.js"></script>
	<link href="{{AppSubUrl}}/web/vendor/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" type="text/css" />

	<!-- DataTables JS & CSS -->
	<link href="{{AppSubUrl}}/web/vendor/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" >

	<link href="{{AppSubUrl}}/web/vendor/DataTables/DataTables-1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" >
	<script src="{{AppSubUrl}}/web/vendor/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>

	<link href="{{AppSubUrl}}/web/vendor/DataTables/Select-1.2.5/css/select.dataTables.min.css" rel="stylesheet" type="text/css" />
	<script src="{{AppSubUrl}}/web/vendor/DataTables/Select-1.2.5/js/dataTables.select.min.js"></script>

	<link href="{{AppSubUrl}}/web/vendor/DataTables/Buttons-1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
	<script src="{{AppSubUrl}}/web/vendor/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/DataTables/Buttons-1.5.1/js/buttons.colVis.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/DataTables/Buttons-1.5.1/js/buttons.html5.min.js"></script>
	<!--<script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>-->

	<link href="{{AppSubUrl}}/web/vendor/DataTables/dataTables.checkboxes.css" rel="stylesheet" type="text/css" />
	<script src="{{AppSubUrl}}/web/vendor/DataTables/dataTables.checkboxes.min.js"></script>

	<!--jszip Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/jszip/dist/jszip.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/jszip/vendor/FileSaver.js"></script>

	<!--Pace Progress JS & CSS-->
	<script src="{{AppSubUrl}}/web/vendor/pace/pace.min.js" type="text/javascript"></script>

	<!--script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8" -->

	<!-- X-editable Table JS & CSS-->
	<link href="{{AppSubUrl}}/web/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
	<script src="{{AppSubUrl}}/web/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

	<!--MarkDown JS-->
	<script src="{{AppSubUrl}}/web/vendor/marked/marked.min.js"></script>

	<!--JS Search-->
	<script src="{{AppSubUrl}}/web/vendor/js-search/js-search.min.js" type="text/javascript"></script>

	<!--JS Sortable-->
	<script src="{{AppSubUrl}}/web/vendor/Sortable/Sortable.min.js" type="text/javascript"></script>
	
	<!-- Gridstack -->
	<link href="{{AppSubUrl}}/web/vendor//gridstack/dist/gridstack.min.css" rel="stylesheet" />
	<script src='{{AppSubUrl}}/web/vendor//gridstack/dist/gridstack.min.js' type="text/javascript" ></script>
	<script src='{{AppSubUrl}}/web/vendor//gridstack/dist/gridstack.jQueryUI.min.js' type="text/javascript" ></script>

	<!-- App CSS -->
	<!-- <link href="{{AppSubUrl}}/web/css/app.css" rel="stylesheet"> -->
	<link href="/fs/app/matrix/assets/css/app.css?issys=true&type=download" rel="stylesheet">


	<title></title>

</head>

<body>
	
	<noscript>Please enable JavaScript in your browser!</noscript>
	
	<div id="page-container" class="fade page-sidebar-minified page-header-fixed in">
			
	<header id="header" class="header navbar navbar-default navbar-fixed-top" style="display:none;">
		
		<nav class="container-fluid" style="margin:0px;padding:0px 10px 0px 0px;">
			
			<div class="navbar-header">
				<a class="navbar-brand animated bounceIn" href="{{AppSubUrl}}/">
					<img id="company_logo" src="">
					<span>{{.title}}</span>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">

					<li>
						<div id="search-bar"></div>
					</li>

				{{if .IsSigned}}

				<li>
					<div id="ai-robot"></div>
				</li>				    

				{{else}}
					<li>
						<a class="{{if .PageIsInfo}} active{{end}}" href="{{AppSubUrl}}/"><i class="icon-comment"></i></a>
					</li>
				{{end}}


				{{if .IsSigned}}

					<li class="dropdown navbar-user">

						<a href="#" class="dropdown-toggle item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-user"></i> {{.SignedUser.UserName}}
						</a>

						<ul class="dropdown-menu animated fadeIn">

							<li>
								<a href="{{AppSubUrl}}/janesware/user">
									<i class="fa fa-user"></i> {{.i18n.Tr "your_profile"}}
								</a>
							</li>

							<li class="divider"></li>

							{{if .IsAdmin}}
							
								<li>
									<a class="{{if .PageIsAdmin}}active{{end}}" href="/janesware/system">
										<i class="fa fa-cogs"></i> {{.i18n.Tr "system"}}
									</a>
								</li>

							{{end}}

							<li>
								<a target="_blank" href="/janesware/files">
									<i class="fa fa-list-alt"></i> {{.i18n.Tr "files"}}
								</a>
							</li>


							<li>
								<a target="_parent" href="javascript:sideBar.appAsHome({url:'/home'})">
									<i class="fa fa-home"></i> {{.i18n.Tr "defaulthome"}}
								</a>
							</li>


							<li class="divider"></li>

							<!-- <li>
								<a target="_blank" href="javascript:void(0);" onclick="mx.toggleTheme('bjzdgt')">
									<i class="fas fa-sun"></i> 亮色
								</a>
							</li>

							<li>
								<a target="_blank" href="javascript:void(0);" onclick="mx.toggleTheme('matrix')">
									<i class="fas fa-sun" style="color:#000;"></i> 深色
								</a>
							</li> -->


							<li>
								<a target="_blank" href="javascript:void(0);" onclick="mx.fullScreen();">
									<i class="fa fa-arrows-alt" aria-hidden="true"></i> 全屏切换
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="{{AppSubUrl}}/user/logout/{{.company}}">
									<i class="fa fa-sign-out-alt"></i> {{.i18n.Tr "sign_out"}}
								</a>
							</li>
						</ul>
					</li>

				{{else}}
					<li>
						<a class="item" target="_blank" href="http://golang.org/" rel="noreferrer">{{.i18n.Tr "help"}}</a>
					</li>

					{{if .ShowRegistrationButton}}
						<li>
							<a class="item{{if .PageIsSignUp}} active{{end}}" href="{{AppSubUrl}}/user/sign_up">
								<i class="icon octicon octicon-person-add"></i> {{.i18n.Tr "register"}}
							</a>
						</li>
					{{end}}
					<li>
						<a class="item{{if .PageIsSignIn}} active{{end}}" href="{{AppSubUrl}}/user/login">
							<i class="icon octicon octicon-sign-in"></i> {{.i18n.Tr "sign_in"}}
						</a>
					</li>

				{{end}}

			</ul>
			</div>
		</nav>
	</header>
	
	<aside>
		<div id="sidebar" class="sidebar animated fadeInLeft" style="display:none;">
			<div id="sidebar-menu"></div>
			<!-- <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
				<div data-scrollbar="true" data-height="100%" style="overflow: hidden; width: auto; height: 100%;">
					<div id="sidebar-menu"></div>
				</div>
			</div> -->
		</div>
		<div class="sidebar-toggle-play" onclick="sideBar.toggleSideBar();" data-tooltip="tooltip" title="切换导航栏" style="display: none;">
			<img src="/fs/assets/images/apps/png/play.png?type=download&issys=true"></i>
		</div>
		<!-- <div id="sidebar-bg" class="sidebar-bg"></div> -->
	</aside>



