<!DOCTYPE html>
<html lang="{{.Lang}}">
<head data-suburl="{{AppSubUrl}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Expires" content="1">
	<meta name="author" content="Matrix - Portal Service" />
	<meta name="description" content="Matrix - Portal Service write in go" />
	<meta name="keywords" content="matrix,bigdata,cassandra,go">
	<meta name="referrer" content="no-referrer" />
	<meta name="_csrf" content="{{.CsrfToken}}" />
	<meta name="_suburl" content="{{AppSubUrl}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="" id="favicon"/>

	<!--Jquery JS-->
	<script src="{{AppSubUrl}}/web/vendor/jquery/jquery-3.3.1.min.js"></script>

	<!--Jquery UI JS-->
	<script src="{{AppSubUrl}}/web/vendor/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<link href="{{AppSubUrl}}/web/vendor/jquery-ui/1.12.1/jquery-ui.min.css" type="text/css" rel="stylesheet" />

	<!--jsPanel3 JS & CSS -->
	<script src="{{AppSubUrl}}/web/vendor/jsPanel/3.11.3/jquery.jspanel.min.js" type="text/javascript"></script>
	<link href="{{AppSubUrl}}/web/vendor/jsPanel/3.11.3/jquery.jspanel.min.css" type="text/css" rel="stylesheet" />
	
	<script src="{{AppSubUrl}}/web/vendor/split/split.min.js"></script>

	<!-- font-awesome  CSS -->
	<link href="{{AppSubUrl}}/web/vendor/font-awesome/5.4.1/css/all.min.css" rel="stylesheet" >
	<!-- animate CSS -->
	<link href="{{AppSubUrl}}/web/vendor/animate/animate.css" rel="stylesheet" >

	<!-- axios JS -->
	<script src="{{AppSubUrl}}/web/vendor/axios/axios.min.js"></script>

	<!--VUE Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/vue/2.6.10/dist/vue.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/vueloader/vue.loader.min.js"></script>

	<!-- Element -->
	<script src="{{AppSubUrl}}/web/vendor/element/2.13.0/dist/index.js"></script>
	<link href="{{AppSubUrl}}/web/vendor/element/2.13.0/dist/theme-chalk/index.css" type="text/css" rel="stylesheet" />
	<script src="{{AppSubUrl}}/web/vendor/element/2.13.0/dist/vue-i18n.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/element/2.13.0/dist/locale/zh-CN.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/element/2.13.0/dist/locale/en.min.js"></script>
	
	<!--lodash JS-->
	<script src="{{AppSubUrl}}/web/vendor/lodash/dist/lodash.min.js"></script>
	
	<!--Util JS-->
	<script src="{{AppSubUrl}}/web/vendor/moment/min/moment.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/moment/min/moment-with-locales.min.js"></script>

	<!--zTree Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.excheck-3.5.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.exedit-3.5.js"></script>
	
	<!--Later Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/later/later.js"></script>
	<!--cRonstrue Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/cRonstrue/dist/cronstrue.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/cRonstrue/dist/cronstrue-i18n.min.js"></script>

	<!--localforage Core JS -->
	<script src="{{AppSubUrl}}/web/vendor/localForage/dist/localforage.min.js"></script>

	<!-- screenfull JS -->
	<script src="{{AppSubUrl}}/web/vendor/screenfull/screenfull.min.js"></script>

	<!-- ACE JS-->
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ace.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ext-language_tools.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ext-split.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ext-settings_menu.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/ext-statusbar.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/theme-tomorrow.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/mode-lua.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/snippets/lua.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/mode-mql.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/ace-builds-1.4.2/src-min-noconflict/snippets/mql.js"></script>

	<!-- Object-Hash JS-->
	<script src="{{AppSubUrl}}/web/vendor/object-hash/dist/object_hash.js"></script>

	<!--Alertify JS & CSS -->
	<script src="{{AppSubUrl}}/web/vendor/alertifyjs/lib/alertify.js" type="text/javascript"></script>
	<link href="{{AppSubUrl}}/web/vendor/alertifyjs/themes/alertify.core.css" type="text/css" rel="stylesheet" />
	<link href="{{AppSubUrl}}/web/vendor/alertifyjs/themes/alertify.bootstrap.css" type="text/css" rel="stylesheet" />

	<!--Tagify JS -->
	<script src="{{AppSubUrl}}/web/vendor/tagify/dist/tagify.polyfills.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/tagify/dist/tagify.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/tagify/dist/jQuery.tagify.js"></script>
	<link href="{{AppSubUrl}}/web/vendor/tagify/dist/tagify.css" rel="stylesheet" />

	<!-- timelines-chart From D3.js -->
	<script src="{{AppSubUrl}}/web/vendor/timelines-chart/dist/timelines-chart.min.js"></script>

	
	<script>
		try{
			window.MATRIX_TITLE = "{{.title}}";
			window.MATRIX_LANG = "{{.Lang}}";
			moment.locale(window.MATRIX_LANG);
			window.SignedUser_Remark = "{{.SignedUser.Remark}}";
			window.SignedUser_UserName = "{{.SignedUser.UserName}}";
			window.SignedUser_Password = "{{.SignedUser.Passwd}}";
			window.SignedUser_FullName = "{{.SignedUser.FullName}}";
			window.SignedUser_EMAIL = "{{.SignedUser.Email}}";
			window.SignedUser_Mobile = "{{.SignedUser.Mobile}}";
			window.SignedUser_Id = "{{.SignedUser.Id}}";
			window.SignedUser_IsAdmin = true;//"{{.SignedUser.IsAdmin}}" || false;
			window.COMPANY_NAME = "{{.company}}";
			window.COMPANY_OSPACE = "{{.ospace}}";
			window.COMPANY_FULLNAME = "{{.SignedUser.Company.Fullname}}";
			window.COMPANY_LOGO = "{{.logo}}";
			window.COMPANY_FAVICON = "{{.icon}}";
			window.COMPANY_TITLE = "{{.SignedUser.Company.Fullname}}";
			window.COMPANY_WEBSITE = "{{.website}}";
			window.COMPANY_LICENSE = "{{.license}}";
			window.ASSETS_ICON = '/fs/assets/images';
			window.CsrfToken = "{{.CsrfToken}}";
			window.APP_VERSION = "{{.AppVer}}";
			window.LANG_NAME = "{{.LangName}}";
			window.LANG_LIST = "{{.AllLangs}}";
			window.LANG = "{{.Lang}}";
			localStorage.setItem("SIGNEDUSER", JSON.stringify( { usrename:window.SignedUser_UserName, fullname:window.SignedUser_FullName, isadmin:window.SignedUser_IsAdmin, assets_icon: window.ASSETS_ICON, lang:window.MATRIX_LANG, companyLogo:window.COMPANY_LOGO}) );
		} catch(err){
			
		} finally{
			if(window.MATRIX_LANG == 'zh-CN') {
				ELEMENT.locale(ELEMENT.lang.zhCN);
			} else{
				ELEMENT.locale(ELEMENT.lang.en);
			}
		}
	</script>

	<!-- App JS-->
	<script src="{{AppSubUrl}}/web/js/model/Common.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/ContextMenu.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/Matrix.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/SideBar.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/model/Window.js" type="text/javascript"></script>

	<script src="{{AppSubUrl}}/web/js/handler/AuditLogHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/AppContextHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/JobHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/LicenseHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/FsHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/OmdbHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/RuleHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/GroupHandler.js" type="text/javascript"></script>
    <script src="{{AppSubUrl}}/web/js/handler/TagHandler.js" type="text/javascript"></script>
	<script src="{{AppSubUrl}}/web/js/handler/UserHandler.js" type="text/javascript"></script>

	<script src="{{AppSubUrl}}/web/js/model/VueHub.js" type="text/javascript"></script>

	<!-- h5utils -->
	<script src="{{AppSubUrl}}/web/vendor/h5utils/h5utils.js" type="text/javascript"></script>

	<!--Defiant JS-->	
	<script src="{{AppSubUrl}}/web/vendor/defiantjs/defiant.min.js"></script>

	<!-- Jquery ContextMenu -->
    <link href="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.contextMenu.css" type="text/css" rel="stylesheet">
    <script src="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.ui.position.js"></script>
    <script src="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.contextMenu.js"></script>

	<!--Clipboard JS-->
	<script src="{{AppSubUrl}}/web/vendor/clipboard/dist/clipboard.min.js"></script>

	<!-- Table Export -->
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/tableExport/libs/FileSaver/FileSaver.min.js"></script>
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/tableExport/libs/js-xlsx/xlsx.core.min.js"></script>
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/tableExport/libs/jsPDF/jspdf.min.js"></script>
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/tableExport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
	
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/tableExport/libs/es6-promise/es6-promise.auto.min.js"></script>
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/tableExport/libs/html2canvas/html2canvas.min.js"></script>
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/tableExport/tableExport.min.js"></script>

	
	<!--jszip Core JS-->
	<script src="{{AppSubUrl}}/web/vendor/jszip/dist/jszip.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/jszip/vendor/FileSaver.js"></script>

	<!--Pace Progress JS & CSS-->
	<script src="{{AppSubUrl}}/web/vendor/pace/pace.min.js" type="text/javascript"></script>

	<!--MarkDown JS-->
	<script src="{{AppSubUrl}}/web/vendor/marked/marked.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
	<script src="{{AppSubUrl}}/web/vendor/mermaid/flowchart.js"></script>

	<!--JS Search-->
	<script src="{{AppSubUrl}}/web/vendor/js-search/js-search.min.js" type="text/javascript"></script>

	<!--JS Sortable-->
	<script src="{{AppSubUrl}}/web/vendor/Sortable/Sortable.min.js" type="text/javascript"></script>
	
	<!-- Gridstack -->
	<link href="{{AppSubUrl}}/web/vendor//gridstack/dist/gridstack.min.css" rel="stylesheet" />
	<script src='{{AppSubUrl}}/web/vendor/gridstack/dist/gridstack.min.js' type="text/javascript" ></script>
	<script src='{{AppSubUrl}}/web/vendor/gridstack/dist/gridstack.jQueryUI.min.js' type="text/javascript" ></script>
	
	<!-- Html2Canvas -->
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/html2canvas/html2canvas.min.js"></script>
	<!-- App CSS -->
	<!-- <link href="{{AppSubUrl}}/web/css/app.css" rel="stylesheet"> -->
	<link href="/fs/app/matrix/assets/css/app.css?issys=true&type=download" rel="stylesheet">

	<!-- VIS TIMELINE -->
	<link href="{{AppSubUrl}}/web/vendor/vis/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/vis/dist/vis-timeline-graph2d.min.js"></script>
	
	<!-- howler JS -->
	<script src="{{AppSubUrl}}/web/vendor/howler/dist/howler.min.js"></script>

	<title></title>

</head>

<body>
	<noscript>Please enable JavaScript in your browser!</noscript>
	<div id="page-container" class="fade page-sidebar-minified page-header-fixed in">
	<header id="header"></header>
	<aside id="aside"></aside>


