<code>

	<style scoped>
		/*----------  style  ----------*/
		.policy-list-datatables-component thead tr th, .policy-list-datatables-component tbody tr td{
			line-height: 10px;
			white-space: nowrap;
		}

		.policy-list-datatables-component table.dataTable tbody>tr.selected, table.dataTable tbody>tr.selected td, table.dataTable tbody>tr>.selected {
			background: rgb(196, 235, 253)!important;
		}

		div.dataTables_wrapper div.dataTables_info {
			padding-top: 4px;
		}

		td.highlight {
			background-color: whitesmoke !important;
		}



		.dataTables_wrapper table.dataTable {
			margin: 0px 0!important;
		}

		.context-menu-list {
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
			padding:5px;
			border: none;
		}

		.context-menu-list>li>a{
			padding: 5px 5px;
			color:rgb(102, 102, 102)!important;
		}

		div.toolbar i {
			color: rgb(218, 224, 231);
			cursor: pointer;
			margin: 10px 0px 0px 5px;
		}

		div[id*="classEdit"].dataTables_info{
			position: absolute;
			bottom: 0px;
			height: 28px;
			background-color: rgb(255, 255, 255);
			width: 100%;
			text-align: left;
			border-top: 1px solid rgb(226, 231, 236)
		}

		div[id*="output"].dataTables_info {
			position: fixed;
			bottom: 32px;
			height: 28px;
			background-color: rgb(255, 255, 255);
			width: 100%;
			text-align: left;
			border-top: 1px solid rgb(226, 231, 236)
		}

		.datatables-toolbars {
			height: 30px;
			background-color: rgb(246, 246, 246);
			width: 100%;
		}

		.datatables-toolbars .btn-primary,
		.datatables-toolbars .btn-primary:hover{
			background-color: rgb(246, 246, 246);
			border:none;
			color: #333333;
		}

		.datatables-toolbars .btn-group > a > i{
			color: #666666;
		}


		.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
			background: rgb(239, 239, 239);
			color: rgb(51, 51, 51);
		}

		progress {
			width: 100px;
			height: 12px;
			margin: auto;
			display: -webkit-inline-box;
			/* Important Thing */
			-webkit-appearance: none;
			border: none;
		}

		/* All good till now. Now we'll style the background */
		progress::-webkit-progress-bar {
			background: #efefef;
			border-radius: 50px;
			padding: 2px;
			box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 1);
		}

		/* Now the value part */
		progress::-webkit-progress-value {
			border-radius: 50px;
			box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, .4);
			background: #ff0000

			/* Looks great, now animating it */
			background-size: 25px 14px, 100% 100%, 100% 100%;
			-webkit-animation: move 5s linear 0 infinite;
		}

		/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */
		@-webkit-keyframes move {
			0% {background-position: 0px 0px, 0 0, 0 0}
			100% {background-position: -100px 0px, 0 0, 0 0}
		}

		/* Prefix-free was creating issues with the animation */
		.dataTables_wrapper{
			width:100%;
			margin: 0 auto;
		}

		.tagify{
			border:none;
		}

		.editor-container{
			width: 100%;
			height: 60vh;
		}

		.ace_editor{
			border: none;
			margin: 0px 0px 10px 0px;
			width: 100%;
			height:calc(100% - 50px)!important;
			position: relative !important;
			overflow: auto;
		}

		.editorToolBar .btn-primary,
		.editorToolBar .btn-primary:hover{
			background-color: rgb(246, 246, 246);
			color: #333333;
			border:none;
		}

	</style>


	/*----------  最外层element会自动增加组件同名 class="policy-list-datatables-component"  ----------*/
	<template>
		<div>
			<input :id="id+'_tags_input'" name="tags" placeholder="" :value="model | pickTags" autofocus>
			<table :id="id" class="display" width="100%"></table>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="policy-list-datatables-component">
        {
            delimiters: ['${', '}'],
            props: {
	                id: String,
					model: Object
	        },
            data: function(){

                return {
	                datatable: null,
	                selectedRow: null,
	                selectedCell: null,
		            tagify: null
	            }
            },
            watch: {
                'model.list.dataset': {
                    handler: function(val,oldVal){
                        let self = this;

                        if(val === oldVal) return false;

                        if(self.datatable){
                            self.datatable.destroy();
                            $(`#${self.id}`).empty();
                            self.init();
                        }
                    },
                    deep:true
                },
                'model.tags':{
                    handler:function(val,oldVal){
                        let self = this;

                        if(val === oldVal) return false;

                        if(_.isEmpty(self.tagify))  return false;

                        self.tagify.removeAllTags();
                        self.tagify.addTags(val);
                    },
                    deep:true
                }

            },
            filters: {
                pickTags: function(item){
                    if(item.tags){
                        return item.tags.join(",") || [];
                    } else {
                        return null;
                    }
                }
            },
            created: function(){
                let self = this;

                eventHub.$on("COMPONENT-REDRAW-EVENT", self.redraw);
            },
            mounted: function () {
                let self = this;

                self.$nextTick(function () {

                    _.delay(function() {
                        self.init();
                        self.initPlugin();
                    },50);

                })
            },
            computed: {
                _columns: function(){
                    let self = this;

                    let _cols = _.map(self.model.list.columns,function(v,k){

                        //  data & time render
                        if(_.includes(['day','vtime','mtime','ctime'],v.field)){
                            return { data: v.data, title: _.camelCase(v.field), visible: v.visible, orderable: true, render: function(data, type, row){
                                    return moment(data).format("LLL");
                                }};
                        }

                        if(_.includes(['map','set','list'],v.type) || typeof(data) === 'object'){
                            return { data: v.data, title: _.camelCase(v.field), visible: v.visible, render: function(data, type, row){
                                    if(_.isNull(data) || _.isEmpty(data)) {
                                        return '';
                                    } else{
                                        return JSON.stringify(data,null,2);
                                    }
                                }};
                        }

                        if(!v.render){
                            return v;
                        } else {
                            return { data: v.data, title: v.title, visible: v.visible, orderable: true, className: v.className, render: eval(v.render) };
                        }


                    });

                    return _cols;
                }
            },
            methods: {
                init: function(){
                    let self = this;

                    self.datatable = $("#"+self.id).DataTable( _.extend({
                        data: self.model.list.dataset,
                        columns: self._columns,
                        //stripeClasses: [],
                        responsive: false,
                        searching: false,
                        aDataSort: true,
                        bSort: true,
                        bAutoWidth: true,
                        rowReorder: false,
                        colReorder: true,
                        paging: false,
                        info: true,
                        scrollX: true,
                        scrollY: '60vh',
                        scrollCollapse: true,
                        aoColumnDefs: [{sDefaultContent:'', aTargets:['_all']}],
                        language : {
                            "sProcessing" : "处理中...",
                            "sLengthMenu" : "显示 _MENU_ 项结果",
                            "sZeroRecords" : "没有匹配结果",
                            "sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                            "sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
                            "sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
                            "sInfoPostFix" : "",
                            "sSearch" : "过滤:",
                            "sUrl" : "",
                            "sEmptyTable" : "表中数据为空",
                            "sLoadingRecords" : "载入中...",
                            "sInfoThousands" : ",",
                            "oPaginate" : {
                                "sFirst" : "首页",
                                "sPrevious" : "上页",
                                "sNext" : "下页",
                                "sLast" : "末页"
                            },
                            "oAria" : {
                                "sSortAscending" : ": 以升序排列此列",
                                "sSortDescending" : ": 以降序排列此列"
                            },
                            buttons: {
                                copyTitle: '已拷贝到剪切板',
                                copyKeys: '已拷贝',
                                copySuccess: {
                                    _: '已拷贝 %d 项',
                                    1: '1 已拷贝'
                                }
                            }
                        },
                        select: {
                            style: 'multi',
                            selector: 'td:first-child'

                        },
                        fixedColumns:   {
                            leftColumns: 1
                        },
                        lengthChange: false,
                        stateSave: false,
                        initComplete: function(event, settings, json){


                            // init ContextMenu
	                        self.initMenu();

							// init effect for table
                            $("#"+self.id).find("tbody").on("mouseover","tr", function(event) {

                                $(this).css('background-color', '#ddd');

                                $(this).bind("mouseout", function() {
                                    $(this).css('background-color', '');
                                });
                            });

                            // get clicked tr
                            $("#"+self.id).on('click', 'tr', function () {
                                self.selectedRow = self.datatable.row( this ).data();
                            });
                        },
                        drawCallback:function(settings){
	                        //self.redraw();
                        }
                    },self.options)).columns.adjust().draw();

                },
                initPlugin: function(){
                    let self = this;

                    self.tagsInput();

                    self.baseDatatable();

                    self.baseEditor();

                },
                initMenu: function(){
                    let self = this;

                    let items = callFsJScript('toolbar.js', '').message.probe.policy;
                    let id = self.id;

                    $.contextMenu({
                        selector: `#${id} tr`,
                        trigger: 'left',
                        delay: 10,
                        position: function(opt, x, y){
                            opt.$menu.position({ of: this, offset: "0 5"});
                        },
                        hideOnSecondTrigger: true,
                        className: `animated slideIn ${id}`,
                        build: function($trigger, e) {

                            let row = self.datatable.row($trigger[0].rowIndex).data();

                            return {
                                callback: function(key, opt) {
                                    if(key === 'add'){
                                        let wnd = newWindow('fsProbe', `<i class="fas fa-plus-circle"></i> 添加`, `<div id="policy-add-container"></div>`, null, 'policy-container');

                                        self.addWizard(wnd);

                                    } else if(key === 'delete') {

                                        alertify.confirm("确认删除", function (e) {
                                            if (e) {

                                            } else {
                                                // user clicked "cancel"
                                            }
                                        });

                                    } else if(key === 'export') {

                                    } else if(key === 'load') {

                                    }
                                },
                                items: items,
                            }
                        },
                        events: {
                            show: function(opt) {

                                let $this = this;

                                new Vue(self.tagInput(`${id}_single_tags`, `.${id} input`, self.selectedRow.tags));
                            },
                            hide: function(opt) {

                                let $this = this;

                            }
                        }
                    });
	            },
                redraw: function(){
                    let self = this;

                    self.datatable.columns.adjust().draw();
                },
                tagsInput: function(){

                    let self = this;

                    let input = document.querySelector(`#${self.id}_tags_input`);

                    // init Tagify script on the above inputs
                    self.tagify = new Tagify(input, { whitelist : [], blacklist : [], duplicates: false});

                    let onAddTag = function(){

                    }

                    let onRemoveTag = function(){

                    };

                    self.tagify.on('add', onAddTag)
	                           .on('remove', onRemoveTag);
                },
                tagInput: function(className,container, tags){
                    let self = this;

                    let tag = {
                        el: container,
                        template: `<input class="${className}" name='tags' placeholder='' :value='value|pickTags' autofocus>`,
                        data: {
                            tagify: null,
                            value: tags
                        },
                        filters: {
                            pickTags: function(item){
                                if(item){
                                    return item.join(",") || [];
                                } else {
                                    return null;
                                }
                            }
                        },
                        mounted: function(){

                            let me = this;
                            let input = document.querySelector(`.${className}`);

                            // init Tagify script on the above inputs
                            me.tagify = new Tagify(input, { whitelist : [], blacklist : [] });

                            me.tagify.on('add', me.onAddTag)
                                .on('remove', me.onRemoveTag);

                        },
                        methods: {

                            onAddTag: function(event){

                                let input = {class: self.selectedRow.class, action: "+", tag: event.detail.value, id: self.selectedRow.id};
                                let rtn = callFsJScript('tag_service.js', encodeURIComponent(JSON.stringify(input)));

                                if(rtn.status == 'ok'){
                                    eventHub.$emit("PROBE-REFRESH-EVENT", ['policy']);
                                }

                            },
                            onRemoveTag: function(event){

                                let input = {class: self.selectedRow.class, action: "-", tag: event.detail.value, id: self.selectedRow.id};
                                let rtn = callFsJScript('tag_service.js', encodeURIComponent(JSON.stringify(input)));

                                if(rtn.status == 'ok'){
                                    eventHub.$emit("PROBE-REFRESH-EVENT", ['policy']);
                                }

                            }

                        }
                    };

                    return tag;
                },
	            addWizard: function(wnd){
                    let self = this;

                    let conf = callFsJScript('probe_summary_policy_conf.js', '').message;

                    let wizard = {
                        el: "#policy-add-container",
	                    data: {
                            model: {
                                conf: conf,
	                            item: {
                                    name: null, // required
			                        rule: null, // required
			                        command: null,  // required
			                        depotname: null, // if ctype = 0, not empty
			                        depotversion: null, // if ctype = 0, not empty
			                        ctype: null,  // required
			                        interval: null, // required
			                        unit: null,//"year | month | day | hour | minute | second", // required
			                        split: null, //true | false,
			                        delimiter: null, //"Regular expression",
			                        delimitereol: null, //true | false,
			                        tags: null, //["string"...],
			                        hosts: null, //["string"...], // If not empty, then auto deploy
			                        attrs: null //{"attrname1":"attrvalue", "attrname2":"attrvalue2"...} // toe protocol attrs
                                },
	                            handler: {
                                    tagify: null
                                }
                            }
	                    },
	                    created: function(){
                            let me = this;

                            eventHub.$on("LAYOUT-RESIZE-EVENT",me.resize);
	                    },
	                    methods: {
                            tagInput: function(className,container, tags){
                                let me = this;

                                me.model.handler.tagify = $(me.$el).find(".tags").tagify();
                            },
                            save: function(){},
                            envDelete: function(){},
                            resize:function(){
                                wnd.resize($(wnd.content).parent().parent().width()+20,$(wnd.content).parent().parent().height()+60);
                            }
	                    },
	                    mounted: function(){
                            let me = this;

                            me.$nextTick(function () {
                                FormWizard.init("wizard");
                                me.tagInput();
                            })
	                    },
	                    template: `<form>
										<div id="wizard">
											<ol>
												<li>
													基本配置
													<small>运行策略，环境变量设置。</small>
												</li>
												<li>
													解析策略
													<small>数据处理规则，KPI选择。</small>
												</li>
												<li>
													选择对象
													<small>选择部署对象。</small>
												</li>
											</ol>

											<div>
												<fieldset class="form-horizontal">

													<div class="form-group">
														<label class="col-sm-2 control-label">策略名称：</label>
														<div class="col-sm-10"><input type="text" placeholder="" class="form-control" v-model="model.item.name"/></div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">执行脚本：</label>
														<div class="col-sm-10"><input type="text" placeholder="" class="form-control" v-model="model.item.depotname"/></div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">解析策略：</label>
														<div class="col-sm-10"><input type="text" placeholder="" class="form-control" v-model="model.item.rule"/></div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">添加标签：</label>
														<div class="col-sm-10"><input type="text" placeholder="" class="form-control tags"  v-model="model.item.tags"/></div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">监控周期：</label>
														<div class="col-sm-10">
															<div class="input-group">
														      <input type="number" class="form-control"  v-model="model.item.interval">
														      <div class="input-group-btn">
																<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">秒 <span class="caret"></span></button>
																<ul class="dropdown-menu dropdown-menu-right">
																	<li><a href="#">秒</a></li>
																	<li><a href="#">分</a></li>
																	<li><a href="#">小时</a></li>
																	<li><a href="#">天</a></li>
																	<li><a href="#">月</a></li>
																</ul>
														      </div>
														    </div>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">监控周期：</label>
														<div class="col-sm-10">
															<div class="radio-inline">
															  <label>
															    <input type="radio" name="optionsRadios" value="1"  v-model="model.item.ctype" checked>
															    <a href="javascript:;" class="btn btn-danger btn-sm m-r-5">启用</a>
															  </label>
															</div>
															<div class="radio-inline">
															  <label>
															    <input type="radio" name="optionsRadios" value="0" v-model="model.item.ctype" >
															    <a href="javascript:;" class="btn btn-default btn-sm">停止</a>
															  </label>
															</div>
														</div>
													</div>
													<policy-base-datatable id="policy-base-datatable" :model="model.conf.base"></policy-base-datatable>

												</fieldset>
											</div>
											<div>
												<fieldset>
													<div class="row">
														<div class="col-md-12">
															<policy-base-editor id="policy-base-editor" :model="model.conf.editor"></policy-base-editor>
														</div>
													</div>
												</fieldset>
											</div>
											<div>
												<fieldset>
													<div class="row">
														<div class="col-md-12">
															<policy-base-datatable id="policy-servers-datatable" :model="model.conf.servers"></policy-base-datatable>
															<hr/>
															<a class="btn btn-sm btn-primary pull-right" href="javascript:void(0);" @click="save">保存</a>
														</div>
													</div>
												</fieldset>
											</div>

										</div>
									</form>`
                    };

                    new Vue(wizard);
	            },
                baseEditor: function(){
                    return Vue.component("policy-base-editor", {
                        delimiters: ['${', '}'],
                        props: {
                            id: String,
                            model: Object
                        },
                        template: `<div class="editor-container">
										<div class="editorToolBar" id="editorToolBar">
											<div class="btn-group" role="group">
												<a href="javascript:void(0);" class="btn btn-sm btn-primary copy" @click="copyIt" title="复制"><i class="fa fa-copy"></i></a>
												<a href="javascript:void(0);" class="btn btn-sm btn-primary paste" @click="pasteIt" title="粘贴"><i class="fa fa-paste"></i></a>
												<a href="javascript:void(0);" class="btn btn-sm btn-primary selectAll" @click="selectAll" title="全选"><i class="fa fa-check"></i></a>
												<a href="javascript:void(0);" class="btn btn-sm btn-primary clear" @click="clearIt" title="清空"><i class="fa fa-trash"></i></a>
											</div>
										</div>
										<div :id="id" ></div>
										<div id="statusBar"></div>
									</div>`,
                        data: function () {
                            return {
                                langTools: null,
                                editor: null,
                                inputText: "",
                                result: null
                            }
                        },
                        mounted: function () {
                            let me = this;

                            me.$nextTick(function () {
                                me.init();
                            })
                        },
                        watch: {
                            'model.newInput': {
                                handler: function (val, oldVal) {
                                    let me = this;

                                    me.editor.setValue(val);
                                },
                                deep: true
                            }

                        },
                        created: function () {
                            let me = this;

                            eventHub.$on("WINDOW-STATUS-CHANGE-EVENT", me.refresh);
                        },
                        methods: {
                            init: function () {
                                let me = this;

                                me.langTools = ace.require("ace/ext/language_tools");
                                me.editor = ace.edit(me.id);

                                me.editor.setOptions({
                                    // maxLines: 1000,
                                    // minLines: 20,
                                    autoScrollEditorIntoView: true,
                                    enableBasicAutocompletion: true,
                                    enableSnippets: true,
                                    enableLiveAutocompletion: false
                                });
                                //me.editor.$blockScrolling = Infinity;
                                me.editor.setShowPrintMargin(me.model.printMargin);
                                me.editor.setReadOnly(me.model.readOnly);
                                me.editor.getSession().setUseSoftTabs(true);

                                me.editor.getSession().setTabSize(2);
                                me.editor.getSession().setUseWrapMode(true);

                                me.setTheme();
                                me.setMode();
                                me.setOptions();

                                me.toggleToolsBar();

                                //me.toggleStatusBar();

                                // Customer Auto Completer
                                let customerCompleter = {
                                    getCompletions: function (editor, session, pos, prefix, callback) {

                                        if (prefix.length === 0) {
                                            callback(null, []);
                                            return
                                        }

                                        let rtn = fetchDataByMql(`select name from /matrix/ where name like '${prefix}*'`);

                                        if (_.isEmpty(rtn)) return;

                                        let word = _.attempt(JSON.parse.bind(null, rtn.message));

                                        callback(null, _.map(word, function (ea) {

                                            return {
                                                name: ea.name,
                                                value: ea.name,
                                                score: 300,
                                                meta: ea.class
                                            }
                                        }));

                                    }
                                };

                                me.langTools.addCompleter(customerCompleter);

                            },
                            refresh: function () {
                                let me = this;

                                if (me.editor) {
                                    me.editor.resize();
                                }
                            },
                            setOptions: function () {
                                let me = this;

                                if (!_.isEmpty(me.model.options)) {
                                    me.editor.setOptions(me.model.options);
                                }
                            },
                            setTheme: function () {
                                let me = this;

                                if (_.isEmpty(me.model.theme)) {
                                    me.editor.setTheme("ace/theme/tomorrow");
                                } else {
                                    me.editor.setTheme("ace/theme/" + me.model.theme);
                                }

                            },
                            setMode: function () {
                                let me = this;

                                if (_.isEmpty(me.model.mode)) {
                                    me.editor.getSession().setMode("ace/mode/json");
                                } else {
                                    me.editor.getSession().setMode("ace/mode/" + me.model.mode);
                                }

                            },
                            setValue: function () {
                                let me = this;

                                me.editor.setValue(me.model.oldInput);
                            },
                            getSelected: function () {
                                let me = this;
                                var temp = me.editor.getSelectedText();

                                if (_.isEmpty(temp)) {
                                    me.inputText = me.editor.getValue();
                                } else {
                                    me.inputText = temp;
                                }
                            },
                            toggleToolsBar: function () {
                                let me = this;

                                if (me.model.showToolsBar) {
                                    $(".editorToolBar").show();
                                } else {
                                    $(".editorToolBar").hide();
                                }
                            },
                            toggleStatusBar: function () {
                                let me = this;

                                if (me.model.showStatusBar) {
                                    let StatusBar = ace.require("ace/ext/statusbar").StatusBar;
                                    let statusBar = new StatusBar(me.editor, document.getElementById("statusBar"));
                                }
                            },
                            copyIt: function () {
                                let me = this;

                                new Clipboard(".copy", {
                                    text: function (trigger) {
                                        alertify.log("已复制");
                                        return me.editor.getValue();
                                    }
                                });

                            },
                            pasteIt: function () {
                                let me = this;

                                document.execCommand("paste");
                                alertify.log("已粘贴");
                            },
                            selectAll: function () {
                                let me = this;

                                me.editor.selection.selectAll();
                            },
                            clearIt: function () {
                                let me = this;

                                me.editor.setValue();
                                alertify.log("已清空");
                            }
                        }
                    });
	            },
	            baseDatatable: function(){

                    return Vue.component("policy-base-datatable", {
                        delimiters: ['#{', '}#'],
	                    props: {
                            id: String,
		                    model: Object
                        },
	                    template:`<table :id="id" class="display" style="width:100%;"></table>`,
                        data: function(){
                            return {
                                datatable: null
                            }
                        },
                        mounted: function () {
                            let me = this;

                            me.$nextTick(function () {

                                _.delay(function() {
                                    me.init();
                                },1000);

                            })
                        },
                        computed: {
                            _columns: function(){
                                let me = this;

                                let _cols = _.map(me.model.columns,function(v,k){

                                    if(!v.render){
                                        return v;
                                    } else {
                                        v.render = eval(v.render);
                                        return v;
                                    }

                                });

                                return _cols;
                            }
                        },
                        methods: {
                            init: function () {
                                let me = this;

                                me.datatable = $("#" + me.id).DataTable(_.extend({
                                    data: me.model.dataset,
                                    columns: me._columns,
                                    //stripeClasses: [],
                                    responsive: false,
                                    searching: false,
                                    aDataSort: true,
                                    bSort: true,
                                    bAutoWidth: true,
                                    rowReorder: false,
                                    colReorder: false,
                                    paging: false,
                                    info: true,
                                    scrollX: true,
                                    scrollY: 'auto',
                                    scrollCollapse: true,
                                    aoColumnDefs: [{sDefaultContent: '', aTargets: ['_all']}],
                                    language: {
                                        "sProcessing": "处理中...",
                                        "sLengthMenu": "显示 _MENU_ 项结果",
                                        "sZeroRecords": "没有匹配结果",
                                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                                        "sInfoPostFix": "",
                                        "sSearch": "过滤:",
                                        "sUrl": "",
                                        "sEmptyTable": "表中数据为空",
                                        "sLoadingRecords": "载入中...",
                                        "sInfoThousands": ",",
                                        "oPaginate": {
                                            "sFirst": "首页",
                                            "sPrevious": "上页",
                                            "sNext": "下页",
                                            "sLast": "末页"
                                        },
                                        "oAria": {
                                            "sSortAscending": ": 以升序排列此列",
                                            "sSortDescending": ": 以降序排列此列"
                                        },
                                        buttons: {
                                            copyTitle: '已拷贝到剪切板',
                                            copyKeys: '已拷贝',
                                            copySuccess: {
                                                _: '已拷贝 %d 项',
                                                1: '1 已拷贝'
                                            }
                                        }
                                    },
                                    select: {
                                        style: 'multi',
                                        selector: 'td:first-child'

                                    },
                                    lengthChange: true,
                                    stateSave: false,
                                    initComplete: function (event, settings, json) {

                                        // init effect for table
                                        $("#" + me.id).find("tbody").on("mouseover", "tr", function (event) {

                                            $(this).css('background-color', '#ddd');

                                            $(this).bind("mouseout", function () {
                                                $(this).css('background-color', '');
                                            });
                                        });

                                    },
                                    drawCallback: function (settings) {
                                        //me.redraw();
                                    }
                                }, me.options)).columns.adjust().draw();

                            },
                            redraw: function () {
                                let me = this;

                                me.datatable.columns.adjust().draw();
                            }
                        }
                    });
	            }

            }

        }
	</script>

</code>
