<!DOCTYPE html>
<html lang="{{.Lang}}">
   <head data-suburl="{{AppSubUrl}}">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="author" content="Matrix - Portal Service" />
      <meta name="description" content="Matrix - Portal Service write in go" />
      <meta name="keywords" content="matrix,bigdata,cassandra,go">
      <meta name="referrer" content="no-referrer" />
      <meta name="_csrf" content="{{.CsrfToken}}" />
      <meta name="_suburl" content="{{AppSubUrl}}" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="" id="favicon"/>
      <!--VUE Core JS-->
	   <script src="{{AppSubUrl}}/web/vendor/vue/2.6.11/dist/vue.min.js"></script>
      <!--Jquery JS-->
      <script src="{{AppSubUrl}}/web/vendor/jquery/jquery-3.3.1.min.js"></script>
      <!-- font-awesome  CSS -->
      <link href="{{AppSubUrl}}/web/vendor/font-awesome/5.4.1/css/all.min.css" rel="stylesheet" >

      <!-- Element -->
      <script src="{{AppSubUrl}}/web/vendor/element/2.13.0/dist/index.js"></script>
	   <link href="{{AppSubUrl}}/web/vendor/element/2.13.0/dist/theme-chalk/index.css" type="text/css" rel="stylesheet" />


      <link href="/fs/app/matrix/assets/css/app.css?issys=true&type=download" rel="stylesheet">

      <title> {{.SignedUser.Company.Fullname}}</title>
      <style>
         body {
            /*google style*/
            background:url("/web/assets/images/bg.png") no-repeat 50% fixed;
            background-size:cover;
            overflow:auto;
         }

         .logo{
             padding: 1rem;
         }
         .logo > img{
            max-width: 125px;
            width: 100%;
         }
         .logo h4 {
            color: #999999;
            font-size:16px;
            margin: 0 10px;
         }

         .el-form-item {
            padding: 0 20px;
         }
         .el-form-item label,
         .el-form-item input{
            font-size: 12px;
         }

         .el-from-item input{
            background-color: transparent!important;
            border-top: 1px solid transparent!important;
            border-right: 1px solid transparent!important;
            border-bottom: 1px solid #ccc!important;
            border-left: 1px solid transparent!important;
            -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
            box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
         }
         input:-webkit-autofill,
         input:-webkit-autofill:hover,
         input:-webkit-autofill:focus,
         input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            border-color: transparent;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
            outline: 0 none;
            border-bottom: 1px solid rgb(221, 221, 221);
            border-radius: 0px;
         }


         body.eventbus{
            overflow:hidden;
            background: #dddddd;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: top;
            background-image: url("/web/assets/images/eventbus.png");
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica;
            letter-spacing: 0.02em;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
         }
         body.eventbus .sign-content{
            box-shadow: inset 0 0 0 400px rgb(255 255 255 / 5%);
         }
         body.eventbus .el-container{
            background: transparent!important;
            box-shadow: rgb(0 0 0 / 10%) 0px 2px 12px 0px;
            position: relative;
            background: inherit;
            border-radius: 2px;
            overflow: hidden;
         }
         body.eventbus .el-input__inner {
            background-color: transparent;
            color: #ffffff;
         }
         body.eventbus .logo h4 {
            color: #ffffff;
            font-size: 28px;
         }
         body.eventbus .el-form-item__label{
            color:#ffffff;
         }

         /*  eventbus1 */
         body.eventbus1{
            overflow:hidden;
            background: #dddddd;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: top;
            background-image: url("/web/assets/images/eventbus1.png");
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica;
            letter-spacing: 0.02em;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
         }
         body.eventbus1 .sign-content{
            box-shadow: inset 0 0 0 400px rgb(255 255 255 / 5%);
         }
         body.eventbus1 .el-container{
            background: transparent!important;
            box-shadow: rgb(0 0 0 / 10%) 0px 2px 12px 0px;
            position: relative;
            background: inherit;
            border-radius: 2px;
            overflow: hidden;
         }
         body.eventbus1 .el-input__inner {
            background-color: transparent;
            color: #053e5d;
            border: 1px solid #053e5d;
         }
         body.eventbus1 .el-checkbox__inner{
            border: 1px solid #053e5d;
            background-color: transparent;
         }
         body.eventbus1 .logo h4 {
            color: #053e5d;
            font-size: 28px;
         }
         body.eventbus1 .el-form-item__label{
            color:#053e5d;
         }
         body.eventbus1 .el-input .el-input__clear{
            color: #053e5d;
         }
         body.eventbus1 .el-button--primary {
            color: #f8f5e2;
            background-color: #0b4461;
            border-color: #758e97;
         }
         body.eventbus1 .el-alert--error.is-light {
            background-color: #bec6bb;
         }
         
         /* eventbus2 */
         body.eventbus2{
            overflow:hidden;
            background: #dddddd;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: top;
            background-image: url("/web/assets/images/eventbus2.png");
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica;
            letter-spacing: 0.02em;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
         }
         body.eventbus2 .sign-content{
            box-shadow: inset 0 0 0 400px rgb(255 255 255 / 5%);
         }
         body.eventbus2 .el-container{
            background: transparent!important;
            box-shadow: rgb(0 0 0 / 10%) 0px 2px 12px 0px;
            position: relative;
            background: inherit;
            border-radius: 2px;
            overflow: hidden;
         }
         body.eventbus2 .el-input__inner {
            background-color: transparent;
            color: #ffffff;
            -webkit-text-fill-color: #ffffff!important;
         }
         body.eventbus2 .logo h4 {
            color: #ffffff;
            font-size: 28px;
         }
         body.eventbus2 .el-form-item__label{
            color:#ffffff;
         }
         body.eventbus2 .el-button--primary {
            color: #ffffff;
            background-color: #135985;
            border-color: #002b4b;
         }

         /* bizseer2 */
         body.bizseer2{
            overflow:hidden;
            background: #dddddd;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: top;
            background-image: url("/web/assets/images/bizseer2.png");
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica;
            letter-spacing: 0.02em;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
         }
         body.bizseer2 .sign-content{
            box-shadow: inset 0 0 0 400px rgb(255 255 255 / 5%);
         }
         body.bizseer2 .el-container{
            background: transparent!important;
            box-shadow: rgb(0 0 0 / 10%) 0px 2px 12px 0px;
            position: relative;
            background: inherit;
            border-radius: 2px;
            overflow: hidden;
         }
         body.bizseer2 .el-input__inner {
            background-color: transparent;
            color: #ffffff;
            -webkit-text-fill-color: #ffffff!important;
         }
         body.bizseer2 .logo h4 {
            color: #ffffff;
            font-size: 28px;
         }
         body.bizseer2 .el-form-item__label{
            color:#ffffff;
         }
         body.bizseer2 .el-button--primary {
            color: #ffffff;
            background-color: #135985;
            border-color: #002b4b;
         }
         body.bizseer2 .logo>img {
            max-width: 150px;
         }

         body.sbj1{
            overflow:hidden;
            background: #dddddd;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: top;
            background-image: url("/web/assets/images/sbj1.png");
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica;
            letter-spacing: 0.02em;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
         }
         body.sbj1 .sign-content{
            box-shadow: inset 0 0 0 400px rgb(255 255 255 / 5%);
         }
         body.sbj1 .el-container{
            background: rgba(2,96,150,0.3)!important;
            box-shadow: rgb(0 0 0 / 60%) 0px 2px 12px 0px!important;
            position: relative;
            background: inherit;
            border-radius: 2px;
            overflow: hidden;
         }
         body.sbj1 .el-input__inner {
            background-color: transparent;
            color: #ffffff;
         }
         body.sbj1 .logo h4 {
            color: #ffffff;
            font-size: 28px;
         }
         body.sbj1 .el-form-item__label{
            color:#ffffff;
            font-weight:900;
         }
         body.sbj1 .el-button--primary{
            background: #1cade1;
         }

         
      </style>
   </head>
   <body class="{{.company}}2">

      <noscript>Please enable JavaScript in your browser!</noscript>
      <div id="app"></div>
      {{template "base/footer" .}}
      
      <script>

         $(function() {

            Vue.prototype.$ELEMENT = { size: 'small'};
            
            new Vue({
               delimiters: ['${', '}'],
               template: "#app-template",
               data: {
                  logo: "",
                  loginForm: {
                     company: "",
                     username: "",
                     password: "",
                     remember: false
                  }
               },
               created(){
                  this.logo = '{{.logo}}'.replace(/"/g,"");
                  this.loginForm.company = '{{.company}}'.replace(/"/g,"");
                  this.loginForm.username = '{{.user_name}}'.replace(/"/g,"");
                  this.loginForm.password = '{{.password}}'.replace(/"/g,"");
               }
            }).$mount("#app");
         });

      </script>

      <script type="text/x-template" id="app-template">
         <el-row type="flex" justify="center" style="height: 90vh;">
            <el-col :xs="14" :sm="12" :md="10" :lg="9" :xl="6" style="align-content: center;display: grid;">
               <div class="sign-content">
                  <el-container style="background:#ffffff;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);">
                     <el-header style="height:auto;">
                        {{.CsrfTokenHtml}}
                        <div class="logo">
                           <img :src="logo" alt="Image">
                           <p>
                              <h4>{{.title}}</h4>
                           </p>
                        </div>
                     </el-header>
                     <el-main>
                        <el-form action="/user/login" method="POST" ref="loginForm">
                           {{template "base/alert" .}}
                           <el-form-item label="{{.i18n.Tr "home.company_name_holder"}}" style="display:none;">
                              <el-input name="company" v-model="loginForm.company" required placeholder="{{.i18n.Tr "home.company_name_holder"}}"></el-input>
                           </el-form-item>
                           <el-form-item label="{{.i18n.Tr "home.uname_holder"}}" class="form-group {{if .Err_UserName}}error{{end}}">
                              <el-input name="user_name" v-model="loginForm.username" autofocus required placeholder="{{.i18n.Tr "home.uname_holder"}}"></el-input>
                           </el-form-item>
                           <el-form-item label="{{.i18n.Tr "password"}}" class="form-group {{if .Err_Password}}error{{end}}">
                              <el-input name="password" type="password" v-model="loginForm.password" required show-password></el-input>
                           </el-form-item>
                           <el-form-item label="{{.i18n.Tr "auth.remember_me"}}">
                              <el-checkbox name="remember" v-model="loginForm.remember"></el-checkbox>
                           </el-form-item>
                           <el-form-item>
                              <el-button type="primary" style="float:right;" native-type="submit">{{.i18n.Tr "sign_in"}}</el-button>
                           </el-form-item>
                        </el-form>
                     </el-main>
                  </el-container>
               </div>
            </el-col>
         </el-row>
      </script>
      
   </body>
</html>