<code>

	/*----------  最外层element会自动增加组件同名 class="portal-view"  ----------*/
	<template>
		<el-container>
            <el-header>
                <h3>#{title}#</h3>
            </el-header>
            <el-main>
                
            </el-main>
            <el-footer>

            </el-footer>
        </el-container>>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="portal-view">
	{
        delimiters: ['#{', '}#'],
		props: {
        	title: String
		},
		data(){
          	return {
                
			}
		},
        
		methods: {
            
		}
	
	}
	</script>


    <style scoped>
        /*----------  style  ----------*/
        
    </style>

</code>
