<code>

	/*----------  最外层element会自动增加组件同名 class="portal-view"  ----------*/
	<template>
		<el-container>
            <el-header style="height:40px;line-height: 40px;padding:0px;">
                <h4 style="margin: 0px;">#{title}#</h4>
            </el-header>
			<el-main style="padding:0px;overflow: hidden;">
				<el-row :gutter="20">  
					<el-col :span="24" style="padding:20px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background-color: #ffffff;">
						<h5 style="margin: 10px;">M³ 产品</h5>
						<div style="display: flex;float: left;flex-wrap: wrap;">
							<div @click="onForward(item.url)" 
								:key="item.name" v-for="item in model.m3"
								style="cursor: pointer;width: 32.3%;min-width: 320px;height:8em;margin: 0 .5% 30px;background: #eff4f6;display: flex;float: left;">
									<span style="padding:30px 20px;">
										<el-image :src="item.icon" style="width:34px;filter: grayscale(100%) brightness(45%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);"></el-image>
									</span>
									<div style="text-align: left;padding:0 10px;">
										<h4>
											<span v-if="window.MATRIX_LANG == 'zh-CN'">#{item.cnname}#</span>
											<span v-else>#{item.enname}#</span>
										</h4>
										<p style="font-size:10px;color:#888888;">
											#{item.desc}#
										</p>
									</div>
								</span>
							</div>
						</div>
					</el-col>

					<el-col :span="24" style="margin-top: 20px;padding:20px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background-color: #ffffff;">
						<h5 style="margin: 10px;">已发布小应用</h5>
						<div style="display: flex;float: left;flex-wrap: wrap;">
							<div @click="onForward(item.url)" 
								:key="item.name" v-for="item in model.app"
								style="cursor: pointer;width: 32.3%;min-width: 320px;height:8em;margin: 0 .5% 30px;background: #eff4f6;display: flex;float: left;">
									<span style="padding:30px 20px;">
										<el-image :src="item.icon" style="width:34px;filter: grayscale(100%) brightness(45%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);"></el-image>
									</span>
									<div style="text-align: left;padding:0 10px;">
										<h4>
											<span v-if="window.MATRIX_LANG == 'zh-CN'">#{item.cnname}#</span>
											<span v-else>#{item.enname}#</span>
										</h4>
										<p style="font-size:10px;color:#888888;">
											#{item.desc}#
										</p>
									</div>
								</span>
							</div>
						</div>
					</el-col>
					<!--
					<el-col :span="24" style="margin-top: 20px;padding:20px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background-color: #ffffff;">
						<h5 style="margin: 10px;">规则服务概览</h5>
						<div style="display: flex;float: left;">
							<div @click="onForward(item.url)" 
								:key="item.name" v-for="item in model.rule"
								:style="'cursor: pointer;width: 32.3%;min-width: 320px;height:8em;margin: 0 .5% 30px;display: flex;float: left;background: '+item.background +';color:#ffffff;'">
									<span style="padding:10px;">
										<el-image :src="item.icon"></el-image>
									</span>
									<div style="text-align: left;padding:0 10px;">
										<h4>
											<span v-if="window.MATRIX_LANG == 'zh-CN'">#{item.cnname}#</span>
											<span v-else>#{item.enname}#</span>
										</h4>
										<p style="font-size:34px;margin: 0px;font-weight: 900;">
											#{item.count}#
										</p>
									</div>
								</span>
							</div>
						</div>
					</el-col>
					-->
					<el-col :span="24" style="margin-top: 20px;padding:20px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background-color: #ffffff;">
						<h5 style="margin: 10px;">接口服务概览</h5>
						<div style="display: flex;float: left;">
							<div @click="onForward(item.url)" 
								:key="item.name" v-for="item in model.api"
								:style="'cursor: pointer;width: 32.3%;min-width: 320px;height:8em;margin: 0 .5% 30px;display: flex;float: left;background: '+item.background +';color:#ffffff;'">
									<span style="padding:10px;">
										<el-image :src="item.icon"></el-image>
									</span>
									<div style="text-align: left;padding:0 10px;">
										<h4>
											<span v-if="window.MATRIX_LANG == 'zh-CN'">#{item.cnname}#</span>
											<span v-else>#{item.enname}#</span>
										</h4>
										<p style="font-size:34px;margin: 0px;font-weight: 900;">
											#{item.count}#
										</p>
									</div>
								</span>
							</div>
						</div>
					</el-col>

					<el-col :span="24" style="margin-top: 20px;padding:20px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background-color: #ffffff;" v-if="dataModel">
						<h5 style="margin: 10px;">数据服务概览(当日统计)</h5>
						<div style="display: flex;float: left;background:#eff4f6;width:99%;margin:0px 10px;" v-if="dataModel.byDay">
							<larger-number title="数据吞吐量"
								:value="dataModel.byDay.throughput"
								unit="条/秒">
							</larger-number>

							<larger-number title="数据响应时间(avg)"
								:value="dataModel.byDay.span_avg"
								unit="毫秒">
							</larger-number>

							<larger-number title="数据响应时间(max)"
								:value="dataModel.byDay.span_max"
								unit="毫秒">
							</larger-number>

							<larger-number title="数据响应时间(min)"
								:value="dataModel.byDay.span_min"
								unit="毫秒">
							</larger-number>

							<larger-number title="数据总量(当日)"
								:value="dataModel.byDay.all_volume | pickValue"
								:unit="dataModel.byDay.all_volume | pickUnit">
							</larger-number>

							<larger-number title="磁盘利用率"
								:value="dataModel.byDay.disk_volume_percent | pickValue"
								unit="%">
							</larger-number>
						</div>
						<div style="display: flex;float: left;background:#eff4f6;width:99%;margin:0px 10px;"  v-if="dataModel.byApi">
							<pie-chart title="当日" :model="dataModel.byApi" height="160px"></pie-chart>
                            <curve-chart-byday title="当日趋势" height="160px" :model="dataModel.byDay" ref="curveChart"></curve-chart-byday>
						</div>
					</el-col>
					
					<el-col :span="24" style="margin-top: 20px;padding:20px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background-color: #ffffff;" v-if="dataModel">
						
						<h5 style="margin:10px;">数据服务概览(按接口统计)</h5>
						<div v-for="(item,api) in dataModel.byApi" 
                            style="background:#eff4f6;margin:10px;"  v-if="dataModel.byApi">
							<h5 style="margin:0px;padding:10px 20px;">#{_.upperCase(api)}#</h5>		
							<el-row :gutter="0" style="display:flex;align-items:center;">
								<el-col :span="3">
									<larger-column-number :title="item.volume.title"
										:value="item.volume.value"
										unit="笔/秒">
									</larger-column-number>
								</el-col>
								<el-col :span="3" v-for="kpi in item.summary">
									<larger-column-number :title="kpi.title,api|pickTitle"
										:value="kpi.value"
										unit="毫秒">
									</larger-column-number>
								</el-col>
								<el-col :span="12">
									<curve-chart-byapi title="当日趋势" height="180px" :model="dataModel.byApi[api]" ref="curveChart"></curve-chart-byapi>
								</el-col>
							</el-row>
						</div>
					
					</el-col>
				</el-row>
            </el-main>
            <el-footer>

            </el-footer>
        </el-container>>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="portal-view">
	{
        delimiters: ['#{', '}#'],
		props: {
        	title: String
		},
		data(){

			// 大号数字 单值
			Vue.component("larger-number",{
				delimiters: ['#{', '}#'],
				props:{
					title:String,
					value: Number,
					unit:String
				},
				data(){
					return {
						valueTween: 0
					}
				},
				template:   `<div style="width:120px;height:100%;padding:20px;text-align: center;">
								<span style="color:rgb(153, 153, 153);">#{title}#</span>
								<h1 style="font-size:32px;">#{valueTween}# <span style="color:rgb(153, 153, 153);font-size:x-small;">#{unit}#</span></h1>
							</div>`,
				watch: {
					value: {
						handler:function(newValue,oldValue) {
							TweenLite.to(this.$data, 1, { valueTween: newValue });
						},
						immediate:true
					}
				}
			})


			// 大号数字 单值 多列样式
			Vue.component("larger-column-number",{
				delimiters: ['#{', '}#'],
				props:{
					title:String,
					value: Number,
					unit:String
				},
				data(){
					return {
						valueTween: 0
					}
				},
				template:   `<div style="width:120px;height:100%;padding: 20px;text-align: center;background:#eff4f6;">
								<span style="color:rgb(153, 153, 153);">#{title}#</span>
								<h1 style="font-size:32px;">#{valueTween}# <span style="color:rgb(153, 153, 153);font-size:x-small;">#{unit}#</span></h1>
							</div>`,
				watch: {
					value: {
						handler:function(newValue,oldValue) {
							TweenLite.to(this.$data, 1, { valueTween: newValue });
						},
						immediate:true
					}
				}
			})

			
			// 曲线 byday
			Vue.component("curve-chart-byday",{
                    delimiters: ['#{','}#'],
                    props: {
                        model:Object,
                        title: String,
                        height: String,
                    },
                    template: `<div style="width:50%;padding:20px;margin:20px 0px 0px 0px;background:#eff4f6;height:250px;"></div>`,
                    data(){
                        return {
                            chart: null,
                            option: {
                                title: {
                                    text: "",
                                    left: 'center',
                                    textStyle: {
                                        fontSize: '14px',
                                        color: '#999'
                                    }
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    color: [],
                                    data: [],
                                    left: 'center',
                                    bottom: 'bottom'
                                },
                                grid: {
                                    top: 'middle',
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    height: '80%',
                                    containLabel: true
                                },
                                xAxis: {
                                    type: 'category',
                                    data: [],
                                    axisLine: {
                                        lineStyle: {
                                            color: "#999"
                                        }
                                    }
                                },
                                yAxis: {
                                    type: 'value',
                            
                                    splitLine: {
                                        lineStyle: {
                                            type: 'dashed',
                                            color: '#DDD'
                                        }
                                    },
                                    axisLine: {
                                        show: false,
                                        lineStyle: {
                                            color: "#333"
                                        },
                                    },
                                    nameTextStyle: {
                                        color: "#999"
                                    },
                                    splitArea: {
                                        show: false
                                    }
                                },
                                series: []
                            },
                            colors: ["#F58080", "#47D8BE", "#F9A589", "#FF0000"],
                            kpi: ['span_avg','span_max','span_min','throughput']
                        }
                    },
                    watch: {
                        model:{
                            handler(val,oldVal){
                                this.addData(val);
                            },
                            deep:true
                        }
                    },
                    created(){
                        // 接收窗体RESIZE事件
                        eventHub.$on("WINDOW-RESIZE-EVENT", this.checkChart);

                        this.initData();
                        this.option.title.text=this.title;

                    },
                    mounted(){
                        this.chart = echarts.init(this.$el);
                        this.chart.setOption(this.option);
                        _.delay(()=>{
                            this.checkChart();
                        },1000)
                    },
                    methods:{
                        initData(){
                            // legend
                            this.option.legend.color = this.colors;
                            this.option.legend.data = this.kpi;
                            // xAxis
                            this.option.xAxis.data.push(moment().format("HH:mm:ss"));
                            // series
                            this.option.series = _.map(this.kpi,(v,index)=>{
                                
                                return {
                                            name: v,
                                            type: 'line',
                                            data: [this.model[v]],
                                            color: this.colors[index],
                                            top: '10%',
                                            bottomo: '30%',
                                            areaStyle: {
                                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                                    offset: 0,
                                                    color: this.colors[index]
                                                }, {
                                                    offset: 1,
                                                    color: '#fff'
                                                }])
                                            },
                                            lineStyle: {
                                                normal: {
                                                    width: .5,
                                                    color: {
                                                        type: 'linear',
                                
                                                        colorStops: [{
                                                            offset: 0,
                                                            color: '#FFCAD4' // 0% 处的颜色
                                                        }, {
                                                            offset: 0.4,
                                                            color: '#F58080' // 100% 处的颜色
                                                        }, {
                                                            offset: 1,
                                                            color: '#F58080' // 100% 处的颜色
                                                        }],
                                                        globalCoord: false // 缺省为 false
                                                    },
                                                    shadowColor: 'rgba(245,128,128, 0.5)',
                                                    shadowBlur: 10,
                                                    shadowOffsetY: 7
                                                }
                                            },
                                            itemStyle: {
                                                normal: {
                                                    color: this.colors[index],
                                                    borderWidth: 1,
                                                    /*shadowColor: 'rgba(72,216,191, 0.3)',
                                                    shadowBlur: 100,*/
                                                    borderColor: this.colors[index]
                                                }
                                            },
                                            smooth: true
                                        };
                            })
                            
                        },
                        addData(val){
                            // xAxis
                            this.option.xAxis.data.push(moment().format("HH:mm:ss"));
                            // series
                            _.forEach(this.kpi,(v,index)=>{
                                this.option.series[index].data.push(val[v]);
                            })
                            this.chart.setOption(this.option);
                        },
                        checkChart(){
                            if(this.$el){
                                this.chart.resize();
                            } else {
                                setTimeout(this.checkChart, 50);
                            }
                        }
                    }
                })

			// 曲线 byapi
			Vue.component("curve-chart-byapi",{
				delimiters: ['#{','}#'],
				props: {
					model:Object,
					title: String,
					height: String,
				},
				template: `<div :style="'width:100%;height:'+height"></div>`,
				data(){
					return {
						chart: null,
						option: {
							title: {
								text: "",
								left: 'center',
								textStyle: {
									fontSize: '14px',
									color: '#999'
								}
							},
							tooltip: {
								trigger: 'axis'
							},
							legend: {
								color: [],
								data: [],
								left: 'center',
								bottom: 'bottom'
							},
							grid: {
								top: 'middle',
								left: '3%',
								right: '4%',
								bottom: '3%',
								height: '80%',
								containLabel: true
							},
							xAxis: {
								type: 'category',
								data: [],
								axisLine: {
									lineStyle: {
										color: "#999"
									}
								}
							},
							yAxis: {
								type: 'value',
						
								splitLine: {
									lineStyle: {
										type: 'dashed',
										color: '#DDD'
									}
								},
								axisLine: {
									show: false,
									lineStyle: {
										color: "#333"
									},
								},
								nameTextStyle: {
									color: "#999"
								},
								splitArea: {
									show: false
								}
							},
							series: []
						},
						colors: ["#F58080", "#47D8BE", "#F9A589", "#FF0000"],
						kpi: ['span_avg','span_max','span_min','volume']
					}
				},
				watch: {
					model:{
						handler(val,oldVal){
							this.addData(val);
						},
						deep:true
					}
				},
				created(){
					// 接收窗体RESIZE事件
					eventHub.$on("WINDOW-RESIZE-EVENT", this.checkChart);

					this.initData();
					this.option.title.text=this.title;

				},
				mounted(){
					this.chart = echarts.init(this.$el);
					this.chart.setOption(this.option);
					_.delay(()=>{
						this.checkChart();
					},1000)
				},
				methods:{
					initData(){
						// legend
						this.option.legend.color = this.colors;
						this.option.legend.data = _.map(this.kpi,(v)=>{
							return this.model[v].title;
						});
						// xAxis
						this.option.xAxis.data.push(moment().format("HH:mm:ss"));
						// series
						this.option.series = _.map(this.kpi,(v,index)=>{
							
							return {
										name: this.model[v].title,
										type: 'line',
										data: [this.model[v].value],
										color: this.colors[index],
										top: '10%',
										bottomo: '30%',
										areaStyle: {
											color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
												offset: 0,
												color: this.colors[index]
											}, {
												offset: 1,
												color: '#fff'
											}])
										},
										lineStyle: {
											normal: {
												width: .5,
												color: {
													type: 'linear',
							
													colorStops: [{
														offset: 0,
														color: '#FFCAD4' // 0% 处的颜色
													}, {
														offset: 0.4,
														color: '#F58080' // 100% 处的颜色
													}, {
														offset: 1,
														color: '#F58080' // 100% 处的颜色
													}],
													globalCoord: false // 缺省为 false
												},
												shadowColor: 'rgba(245,128,128, 0.5)',
												shadowBlur: 10,
												shadowOffsetY: 7
											}
										},
										itemStyle: {
											normal: {
												color: this.colors[index],
												borderWidth: 1,
												/*shadowColor: 'rgba(72,216,191, 0.3)',
												shadowBlur: 100,*/
												borderColor: this.colors[index]
											}
										},
										smooth: true
									};
						})
						
					},
					addData(val){
						// xAxis
						this.option.xAxis.data.push(moment().format("HH:mm:ss"));
						// series
						_.forEach(this.kpi,(v,index)=>{
							this.option.series[index].data.push(val[v].value);
						})
						this.chart.setOption(this.option);
					},
					checkChart(){
						if(this.$el){
							this.chart.resize();
						} else {
							setTimeout(this.checkChart, 50);
						}
					}
				}
			})

			// 饼图
			Vue.component("pie-chart",{
                    delimiters: ['#{','}#'],
                    props: {
                        model:Object,
                        title: String,
                        height: String
                    },
                    template: `<div style="width:50%;padding:20px;margin:20px 0px 0px 0px;background:#eff4f6;height:250px;"></div>`,
                    data(){
                        return {
                            
                            chart:null,
                            option:{
                                title: {
                                    text: "",
                                    left: 'center',
                                    textStyle: {
                                        fontSize: '14px',
                                        color: '#999'
                                    }
                                },
                                color:[],
                                tooltip: {
                                    trigger: 'item',
                                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                                },
                                legend: {
                                    orient: "vartical",
                                    x: "left",
                                    top: "center",
                                    left: "55%",
                                    bottom: "0%",
                                    data: [],
                                    itemWidth: 8,
                                    itemHeight: 8,
                                    itemGap :16,
                                    formatter :function(name){
                                        return ''+name
                                    }
                                },
                                series: [{
                                    type: 'pie',
                                    clockwise: false, //饼图的扇区是否是顺时针排布
                                    minAngle: 2, //最小的扇区角度（0 ~ 360）
                                    radius: ["50%", "70%"],
                                    center: ["30%", "50%"],
                                    avoidLabelOverlap: false,
                                    
                                    label: {
                                        normal: {
                                            show: false,
                                            position: 'center',
                                            formatter: '{text|{b}}\n{c} ({d}%)',
                                            rich: {
                                                text: {
                                                    color: "#666",
                                                    fontSize: 14,
                                                    align: 'center',
                                                    verticalAlign: 'middle',
                                                    padding: 8
                                                },
                                                value: {
                                                    color: "#8693F3",
                                                    fontSize: 14,
                                                    align: 'bottom',
                                                    verticalAlign: 'middle',
                                                },
                                            }
                                        },
                                        emphasis: {
                                            show: true,
                                            textStyle: {
                                                fontSize: 24,
                                            }
                                        }
                                    },
                                    data: []
                                }],
                            },
                            colors: ["#8d7fec", "#5085f2","#e75fc3","#f87be2","#f2719a","#fca4bb","#f59a8f","#fdb301","#57e7ec","#cf9ef1"]
                        }
                    },
                    created(){
                        // 接收窗体RESIZE事件
                        eventHub.$on("WINDOW-RESIZE-EVENT", this.checkChart);

                        _.extend(this.option,{
                            color: this.colors});
                        _.extend(this.option.legend,{data: _.keys(this.model)});
                        _.extend(this.option.series[0],{data: _.map(this.model,(v,k)=>{
                            return {name:k, value:v.volume.value};
                        })});

                        this.option.title.text=this.title;
                    },
                    mounted(){
                        this.chart = echarts.init(this.$el);
                        this.chart.setOption(this.option);
                        _.delay(()=>{
                            this.checkChart();
                        },1000)
                    },
                    methods:{
                        checkChart(){
                            if(this.$el){
                                this.chart.resize();
                            } else {
                                setTimeout(this.checkChart, 50);
                            }
                        }
                    }
                })

			return {
				model: null,
				dataModel: null
			}
		},
		filters: {
			pickValue(val){
				return mx.bytesToSize(val).split(" ")[0];
			},
			pickUnit(val){
				return mx.bytesToSize(val).split(" ")[1];
			},
			pickTitle(title,api){
				return `${title}`;
			}
		},
        created(){
			this.initSummary();

			setInterval(()=>{
				this.initSummary();
			}, 30 * 1000)
		},
		methods: {
            onForward(url){
				window.open(url,'_parent');
			},
			initSummary(){
				fsHandler.callFsJScriptAsync("/matrix/summary/getSummary.js",null).then( (rtn)=>{
					this.model = rtn.message;

					this.initDataSummary();
				} )
			},
			initDataSummary(){
				fsHandler.callFsJScriptAsync("/matrix/summary/getDataSummary.js",null).then( (rtn)=>{
					this.dataModel = rtn.message;
				} )
			}
		}
	
	}
	</script>


    <style scoped>
        /*----------  style  ----------*/
        
    </style>

</code>
