<code>

	<style>
		/*----------  style  ----------*/

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="md-editor-component"  ----------*/
	<template>
		<el-container style="height:calc(100vh - 85px);background:#ffffff;box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);">
            <el-main style="padding:0px;overflow:hidden;" ref="mainView">
                <notes-view :model="model" ref="viewRef"></notes-view>
            </el-main>
            <el-aside style="width:240px;overflow:hidden;background:#f7f7f7;display:none;" ref="leftView">
                <notes-tree ref="treeRef"></notes-tree>
            </el-aside>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="md-editor-component">
	{
        delimiters: ['#{', '}#'],
		props: {
            model:Object
		},
		data(){
            // Md Tree
            Vue.component("notes-tree",{
                delimiters: ['#{', '}#'],
                data() {
                    return {
                        defaultProps: {
                            children: 'children',
                            label: 'name'
                        },
                        treeData: [],
                        root: "/assets/documents",
                    }
                },
                template:   `<el-container style="height:100%;">
                                <el-header style="height:40px;line-height:40px;padding:0px 10px;">
                                    <el-input placeholder="搜索" size="mini"></el-input>
                                </el-header>
                                <el-main style="padding:0px 10px; height: 100%;">
                                    <el-tree :data="treeData" 
                                            :props="defaultProps" 
                                            node-key="fullname"
                                            highlight-current="true"
                                            @node-click="handleNodeClick"
                                            @node-contextmenu="handleNodeContextMenu"
                                            style="background:transparent;">
                                        <span slot-scope="{ node, data }" style="width:100%;">
                                            <span v-if="data.ftype!=='dir'">
                                                <i class="el-icon-c-scale-to-original" style="color:#0088cc;"></i> #{ node.label }#
                                            </span>
                                            <span v-else>
                                                <i class="el-icon-folder" style="color:#ffa500;"></i> #{ node.label }#
                                            </span>
                                        </span>
                                    </el-tree>
                                </el-main>
                            </el-container>`,
                created(){
                    this.onInit();
                },
                methods: {
                    handleNodeContextMenu(event,data,node,el){
                        this.onInitContextMenu();
                    },
                    handleNodeClick(data){
                        if(data.ftype !=='dir') {
                            let item = {
                                            alias: data.alias,
                                            children: data.children,
                                            ftype: data.ftype,
                                            fullname: data.fullname,
                                            id: data.id,
                                            name: data.name,
                                            parent: data.parent,
                                            size: _.find(fsHandler.fsList(data.parent),{name: data.name}).size || 0
                                        };
                            this.$root.model = {item:item, content:fsHandler.fsContent(data.parent, data.name)};
                        } else {
                            let root = data.parent + "/" + data.name;
                            let rtn = fsHandler.fsList(root);
                        }
                    },
                    onInit(){
                        this.treeData = fsHandler.callFsJScript("/matrix/devops/getFsForTree.js", encodeURIComponent(this.root)).message;
                        
                        /* // 默认首页
                        let homeNode = _.find(_.flattenDeep(_.map(this.treeData,'children')),{name: '系统介绍.md'});
                        
                        let item = {
                            alias: homeNode.alias,
                            children: homeNode.children,
                            ftype: homeNode.ftype,
                            fullname: homeNode.fullname,
                            id: homeNode.id,
                            name: homeNode.name,
                            parent: homeNode.parent,
                            size: _.find(fsHandler.fsList(homeNode.parent),{name: homeNode.name}).size || 0
                        };
                        this.$root.model = {item:homeNode, content:fsHandler.fsContent(homeNode.parent, homeNode.name)}; */
                    }
                }
            });

            // Md View
            Vue.component('notes-view',{
                delimiters: ['#{', '}#'],
                props: {
                    model: Object
                },
                data(){
                    return {
                        editor: null,
                        splitInst: null,
                        compiledMarkdown: "",
                        mdOption: {
                            renderer: new marked.Renderer(),
                            gfm: true,
                            tables: true,
                            breaks: false,
                            pedantic: false,
                            sanitize: false,
                            smartLists: true,
                            smartypants: false
                        },
                        mode:"view",
                        control: {
                            ifFullScreen:false
                        }
                    }
                },
                template:   `<el-container style="height:100%;background: #f9f9f5;box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.04) 0px 0px 6px;" 
                                class="notes-view-container"
                                ref="container">
                                <el-header style="height:40px;line-height:40px;">
                                    <!--span style="font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:5px;text-align:left;" v-if="!_.isEmpty(model)">
                                        #{model.item.name | pickName}#
                                    </span-->
                                    <el-button type="text" icon="el-icon-s-platform" @click="mode='view'" style="margin-left:10px;float:right;"></el-button>
                                    <el-button type="text" icon="el-icon-edit" @click="mode='edit'" style="float:right;"></el-button>
                                    <el-button type="text" icon="el-icon-delete" @click="onDelete" style="float:right;"></el-button>
                                    <el-tooltip content="全屏显示" open-delay="500" placement="left">
                                        <el-button type="text" :icon="control.ifFullScreen | pickScreenStyle" 
                                                    @click="onFullScreen" style="float:right;">
                                        </el-button>
                                    </el-tooltip>
                                </el-header>
                                <el-main style="padding-top:0px;height:100%;overflow:hidden;">
                                    <el-container style="height:100%!important;" class="notes-view-content">
                                        <el-aside style="width:50%;" ref="editor">
                                        </el-aside>
                                        <el-main style="width:50%;height:100%;" ref="content" v-html="compiledMarkdown">
                                        </el-main>
                                    </el-container>
                                </el-main>
                            </el-container>`,
                filters: {
                    pickName(name){
                        try{
                            return _.head(name.split(".md"));
                        } catch(err){
                            return name;
                        }
                    },
                    pickScreenStyle(evt){
                        if(evt){
                            return `el-icon-full-screen`;
                        } else {
                            return `el-icon-copy-document`;
                        }
                    },
                },
                watch:{
                    model:{
                        handler(val,oldVal){
                            if(this.editor){
                                this.editor.setValue(val.content);
                                this.compiledMarkdown = marked(val.content);
                            }
                        },
                        deep:true
                    },
                    mode:{
                        handler(val,oldVal){
                            if(val === 'view'){
                                $(this.$refs.editor.$el).hide();
                                //this.splitInst.setSizes([0, 100]);
                            } else {
                                $(this.$refs.editor.$el).show();
                                //this.splitInst.setSizes([50, 50]);
                            }
                        }
                    }
                },
                mounted(){
                    this.$nextTick(()=>{
                        //this.initSplit();
                        this.initEditor();
                        $(this.$refs.editor.$el).hide();
                    })
                },
                methods: {
                    initEditor(){
                        try{
                            // Editor
                            this.editor = ace.edit(this.$refs.editor.$el);
                            this.editor.setOptions({
                                //maxLines: 1000,
                                minLines: 20,
                                autoScrollEditorIntoView: false,
                                enableBasicAutocompletion: false,
                                enableLiveAutocompletion: false
                            });
                            this.editor.on("input", ()=> {
                                this.compiledMarkdown = marked(this.editor.getValue());
                                this.onSave();
                            });
                            this.editor.setTheme("ace/theme/tomorrow");
                            this.editor.getSession().setMode("ace/mode/markdown");
                            this.editor.renderer.setShowGutter(false);
                            
                            if(!_.isEmpty(this.model.content)){
                                this.editor.setValue(this.model.content);
                            }
                        } catch(err){
                            console.log(err)
                        }

                    },
                    initSplit(){
                        if(!this.splitInst){
                            this.splitInst = Split([this.$refs.editor.$el, this.$refs.content.$el], {
                                sizes: [0, 100],
                                minSize: [0, 0],
                                gutterSize: 5,
                                cursor: 'col-resize',
                                direction: 'horizontal',
                                expandToMin: true
                            });
                        }
                    },
                    onSave: _.debounce(function(){
                                if(_.isEmpty(this.model.item.parent)) return false;
                                let attr = {remark: '', ctime: _.now(), author: window.SignedUser_UserName};
                                let rtn = fsHandler.fsNew(this.model.item.ftype, this.model.item.parent, this.model.item.name, this.editor.getValue(), attr);
                            },2000),
                    onDelete(){
                        this.$confirm(`确定要删除 ${this.model.item.name} 文件?`, '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                            }).then(() => {
                                let rtn = fsHandler.fsDelete(this.model.item.parent,this.model.item.name);
                                
                                if (rtn == 1){
                                    this.$message({
                                        type: "success",
                                        message: "删除成功！"
                                    });
                                    eventHub.$emit("ENTITY-NOTE-DELETE-EVENT");
                                } else {
                                    this.$message({
                                        type: "error",
                                        message: "删除失败 " + rtn.message
                                    })
                                }

                            }).catch(() => {
                                
                            });
                    },
                    onFullScreen(){
                        this.control.ifFullScreen = mx.fullScreenByEl(this.$refs.container.$el);
                    }

                }
            });
            
            return {
                
			}
        },
        created(){
            
        }
	
	}
	</script>

</code>
