<code>

	<style scoped>
		/*----------  style  ----------*/
		.search-base-component .el-input__inner{
			border-radius: 0px;
			border: unset;
		}

		.search-base-component .el-dropdown,.el-input--small{
			font-size:12px;
		}

		.search-base-component .search-base .el-autocomplete .el-input--small>.el-input__inner{
			height: 30px;
			line-height: 30px;
			border: unset;
		}

		.search-base div.search-base--select{
			width: 20%;
		}

		.search-base div.el-autocomplete{
			width: 80%;
		}

		.search-base-component .el-input--small .el-input__inner{
			height: 30px;
			line-height: 30px;
		}

		.search-base-component .el-dropdown.search-preset-component>.el-button--small{
			border-radius: 0px;
			border: unset;
		}

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="search-base-component"  ----------*/
	<template>
		<div style="display:flex;height: 32px;line-height: 32px;width:100%;" class="search-base">
			<!--搜索范围-->
			<el-select v-model="options.class" placeholder="请选择" class="search-base--select">
				<el-option label="" value="1"></el-option>
				<el-option label="" value="2"></el-option>
				<el-option label="" value="3"></el-option>
			</el-select>
			<!--搜索框-->
			<el-autocomplete class="inline-input" placeholder="搜索" 
							v-model="options.term" 
							:fetch-suggestions="suggestionsSearch"
							:trigger-on-focus="false"
							@select="search"
							@clear="search"
							clearable></el-autocomplete>
			<!--搜索条件预设置-->
			<search-preset-component :id="id+'-preset'"
									:options='options'
									ref="preSetRef">
			</search-preset-component>
			<!--快速过滤条件设置-->

			<!--搜索按钮-->
			<a href="javascript:void(0);" class="btn btn-sm btn-primary" @click="search" @keyup.enter.native="search" ref="searchNowRef">搜索</a>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="search-base-component">
	{
	   	delimiters: ['${', '}'],
	    props:{
			id: String,
			// 搜索设置
			options: Object
	    },
	    data: function(){
	        return {
	            //搜索返回结构
	            result: {
	                // 预设值
	                preset: null,
                    // 输入
		            term: null,
		            // class
		            class: null,
		            // 返回消息
			        message: null,
		        },
		        cacheID: "TERM-CACHE"
	        }
	    },
	    created: function(){
			// 预设值

	    },
	    mounted: function () {
	   	    const self = this;

	   	    // 搜索Button Enter事件
            $(document).keypress(function(event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == 13) {
                    self.$refs.searchNowRef.click();
                } else if (keycode == 27) {

                }
            })

		    // 设置body class
			$("body").addClass("search-base-component");

			this.$refs.searchNowRef.click();

	    },
	    watch: {
	   	    // 搜索结果变化，更新view
            'result.message': function (val,oldVal) {
                // 通知页面刷新
                eventHub.$emit(`SEARCH-RESPONSE-EVENT-${this.id}`);
            }
	    },
	    methods: {
			suggestionsSearch(queryString, cb){
				cb([]);
			},
			search(){
			    // 预设值
			    this.result.preset = this.$refs.preSetRef.preset.default;
                let ifHistory = this.result.preset.others.ifHistory?"":"#";
                let ifDebug = this.result.preset.others.ifDebug?"debug> ":"";
                let forTime = this.result.preset.others.forTime;

                this.result.class = this.result.preset.class;

                // 一键搜索结构
                this.result.term = (ifDebug + ifHistory + _.without([this.options.class, this.options.term, this.result.preset.value],'').join(" | ")).replace(/##/g,"#");

                // 缓存搜索
                this.toCache(this.options.term);

			    // 搜索
				let rtn = fsHandler.callFsJScript(`/matrix/${this.options.api}/${this.options.api}_list.js`, encodeURIComponent(this.result.term)).message;
				// 结果
				this.result.message = rtn;
			},
			resetTerm(){
				this.options.term = "";
				this.search();
				mx.windowResize();
			},
		    toCache(event){
			    let cacheTerm = JSON.parse(localStorage.getItem(this.cacheID) || '[]');

			    localStorage.setItem(this.cacheID, JSON.stringify(_.uniq(_.concat(cacheTerm, [event]))));
		    },
		    fromCache(){
                let cacheTerm = JSON.parse(localStorage.getItem(this.cacheID) || '[]');

                let items = {};

                const self = this;

                // 整理为 jquery contextMenu items结构
                _.map(cacheTerm,function(v,k){
                    return _.merge(items, {[v]:{name: `${k+1}. ${v}`}});
                })
                // 清除历史
			    _.merge(items, {"清除历史":{name: "清除历史", icon:"fas fa-trash", callback: function (itemKey, opt, rootMenu, originalEvent) {
                            self.removeCache();
                        }}});

			    let setTerm = function(event){
                      self.options.term = event;
			    };

                contextMenu.build(this.id, {select:'history', items: items, handle: setTerm});
		    },
		    removeCache(){
                localStorage.setItem(this.cacheID, '[]');
		    }

	    }
	
	}
	</script>

</code>

