<code>

    <style scoped>

        /* For Search Dropdown Panel */
        .search-preset .el-collapse-item__header{
            height:32px;
            line-height: 32px;
            padding:5px;

            border: 1px solid #ccc;
            border-bottom: 0px;
            border-radius: 0px;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e5e5e5+100 */
            background: #f9f9f9; /* Old browsers */
            background: -moz-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #f9f9f9 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #f9f9f9 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        }

        .search-preset.el-dropdown-menu--small {
            padding: 0px 0!important;
        }

        .search-preset .el-collapse-item__header.is-active {
            color: #333;
            background-color: #def1fb;
            border: 1px solid #ccc;
            border-bottom: 0px;
            background: #def1fb;

        }

        .search-preset dl > dd > a:hover {
            cursor: pointer;
        }

        .search-preset.el-dropdown-menu--small{
            left: unset!important;
            width: 40vw;
            top: 82px!important;
            right: 83px!important;
        }

        .search-preset .el-collapse-item__content{
            padding: 10px;
        }

        .search-preset .el-button--small{
            border-radius: 0px;
        }
    </style>


    /*----------  最外层element会自动增加组件同名 class="search-preset-component"  ----------*/
    <template>
        <el-dropdown placement="bottom" trigger="click">
            <el-button type="default">${options.window.name} <i class="el-icon-arrow-down el-icon--right"></i></el-button>
            <el-dropdown-menu slot="dropdown" class="search-preset">

                <el-collapse value="1" accordion>
                    <el-collapse-item title="预设值" name="1">
                        <el-row :gutter="20">
                            <el-col :span="8">
                                <h5>最近</h5>
                                <el-radio-group v-model="options.window.value" @change="options.window.name = _.find(preset.nearest,{value:options.window.value}).name">
                                    <p v-for="item in preset.nearest"><el-radio :label="item.value">${item.name}</el-radio></p>
                                </el-radio-group>
                            </el-col>
                            <el-col :span="8" style="border-left:1px dashed #ccc;">
                                <h5>实时</h5>
                                <el-radio-group v-model="options.window.value" @change="options.window.name = _.find(preset.realtime,{value:options.window.value}).name">
                                    <p v-for="item in preset.realtime"><el-radio :label="item.value">${item.name}</el-radio></p>
                                </el-radio-group>
                            </el-col>
                            <el-col :span="8" style="border-left:1px dashed #ccc;">
                                <h5>区间</h5>
                                <el-radio-group v-model="options.window.value" @change="options.window.name = _.find(preset.relative,{value:options.window.value}).name">
                                    <p v-for="item in preset.relative"><el-radio :label="item.value">${item.name}</el-radio></p>
                                </el-radio-group>
                            </el-col>
                        </div>
                    </el-collapse-item>
                    <el-collapse-item title="时间区间" name="2">
                        <el-container>
                            <el-main>
                                <el-date-picker
                                    v-model="preset.range"
                                    type="datetimerange"
                                    range-separator="至"
                                    start-placeholder="开始时间"
                                    end-placeholder="结束时间"
                                    :default-time="['00:00:00']">
                                </el-date-picker>
                            </el-main>
                        <el-container>
                    </el-collapse-item>
                    <el-collapse-item title="高级" name="3">
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <dl>
                                    <dt>搜索时间</dt>
                                    <dd>
                                        <el-radio-group v-model="options.others.forTime">
                                            <p style="padding-top:10px;"><el-radio label=" for vtime ">系统时间(vtime)</el-radio></p>
                                            <p></p><el-radio label=" for ctime ">User Time(ctime)</el-radio></p>
                                            <p><el-radio label=" for firstoccurrence ">Firstoccurrence</el-radio></p>
                                            <p><el-radio label=" for lastoccurrence ">Lastoccurrence</el-radio></p>
                                        </el-radio-group>
                                    </dd>
                                </dl>
                            </el-col>
                            <el-col :span="12" style="border-left:1px dashed #ddd;">
                                <dl>
                                    <dt>其它条件</dt>
                                    <dd>
                                        <p style="padding-top:10px;"><el-checkbox v-model="options.others.ifHistory">包含历史数据</el-checkbox></p>
                                    </dd>
                                </dl>
                            </el-col>
                        </el-row>
                    </el-collapse-item>
                </el-collapse>
            </el-dropdown-menu>
        </el-dropdown>
    </template>

    /*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
    <script id="search-preset-component">
        {
            delimiters: ['${', '}'],
            props:{
                options: Object,
            },
            data(){
                return {
                    preset: {
                        nearest: [
                            {"name":"最近 30秒", value: " nearest 30 seconds "},
                            {"name":"最近 1分钟", value: " nearest 1 minutes "},
                            {"name":"最近 5", value: " nearest 5 minutes "},
                            {"name":"最近 10", value: " nearest 10 minutes "},
                            {"name":"最近 15分钟", value: " nearest 15 minutes "},
                            {"name":"最近 30分钟", value: " nearest 30 minutes "},
                            {"name":"最近 1小时", value: " nearest 1 hour "},
                            {"name":"最近 2小时", value: " nearest 2 hour "},
                            {"name":"最近 8小时", value: " nearest 8 hour "},
                            {"name":"最后 1天", value: " nearest 1 day "}
                        ],
                        realtime: [
                            {"name":"30秒", value: " within 30seconds "},
                            {"name":"1分钟", value: " within 1minutes "},
                            {"name":"5分钟", value: " within 5minutes "},
                            {"name":"10分钟", value: " within 10minutes "},
                            {"name":"15分钟", value: " within 15minutes "},
                            {"name":"30分钟", value: " within 30minutes "},
                            {"name":"1小时", value: " within 1hour "},
                            {"name":"2小时", value: " within 2hour "},
                            {"name":"8小时", value: " within 8hour "},
                            {"name":"1天", value: " within 1day "},
                            {"name":"1月", value: " within 1month "},
                            {"name":"所有", value: ""}
                        ],
                        relative: [
                            {"name":"今天", value: " today "},
                            {"name":"昨天", value: " yesterday "},
                            {"name":"本周", value: " week "},
                            {"name":"上周", value: " last week "},
                            {"name":"本月", value: " month "},
                            {"name":"上个月", value: " last month "},
                            {"name":"今年", value: " year "},
                            {"name":"去年", value: " last year "},
                        ],
                        range: "",
                        others: {
                            ifHistory: false,
                            ifDebug: false,
                            forTime:  ' for vtime ',
                        }
                    }
                }
            },
            watch:{
                'preset.range':{
                    handler(val,oldVal){
                        if(val[0] && val[1]){
                            let value = " window " + moment(val[0]).format(mx.global.register.format) + " to " + moment(val[1]).format(mx.global.register.format);
                            this.options.window = {name: value, value: value};
                        }
                    },
                    deep:true
                }
            },
            mounted() {

                this.$nextTick(()=>{

                    // 搜索预定义
                    $(this.$el).find("a[data-toggle='collapse']").click((event)=>{

                            var href = event.target.href.split("#")[1];

                            event.stopPropagation();
                            event.preventDefault();
                            $(this.$el).find(".in").removeClass("in");
                            $(this.$el).find("#"+href).collapse("toggle");
                            $(this.$el).find("in").collapse("toggle");

                            $(this.$el).find(".panel-heading").removeClass('active');
                            $(this).parent().parent().toggleClass('active');

                            $(this.$el).find("i").removeClass('fa-angle-down');
                            $(this.$el).find("i").addClass(' fa-angle-right');

                            $(this).parent().parent().find("i").removeClass(' fa-angle-right');
                            $(this).parent().parent().find("i").addClass(' fa-angle-down');
                        }
                    );
                })
            }
        }
    </script>

</code>
