<code>

    <style scoped>

        /* For Search Dropdown Panel */
        .search-preset .el-collapse-item__header{
            height:32px;
            line-height: 32px;
            padding:5px;

            border: 1px solid #ccc;
            border-bottom: 0px;
            border-radius: 0px;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e5e5e5+100 */
            background: #f9f9f9; /* Old browsers */
            background: -moz-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #f9f9f9 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #f9f9f9 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        }

        .search-preset .el-collapse-item__header.is-active {
            color: #333;
            background-color: #def1fb;
            border: 1px solid #ccc;
            border-bottom: 0px;
            background: #def1fb;

        }

        .search-preset dl > dd > a:hover {
            cursor: pointer;
        }

        .search-preset.el-dropdown-menu--small{
            left: unset!important;
            width: 40vw;
            top: 82px!important;
            right: 83px!important;
        }

        .search-preset .el-collapse-item__content{
            padding: 10px;
        }

        .search-preset .el-button--small{
            border-radius: 0px;
        }
    </style>


    /*----------  最外层element会自动增加组件同名 class="search-preset-component"  ----------*/
    <template>
        <el-dropdown placement="bottom">
            <el-button type="default">${preset.default.name} <i class="el-icon-arrow-down el-icon--right"></i></el-button>
            <el-dropdown-menu slot="dropdown" class="search-preset">

                <el-collapse value="1" accordion>
                    <el-collapse-item title="预设值" name="1">
                        <el-row :gutter="20">
                            <el-col :span="8">
                                <dl>
                                    <dt>最近</dt>
                                    <dd v-for="item in preset.nearest"><a @click="setByWindow(item)">${item.name}</a></dd>
                                </dl>
                            </el-col>
                            <el-col :span="8" style="border-left:1px dashed #ccc;">
                                <dl>
                                    <dt>实时</dt>
                                    <dd v-for="item in preset.realtime"><a @click="setByWindow(item)">${item.name}</a></dd>
                                </dl>
                            </el-col>
                            <el-col :span="8" style="border-left:1px dashed #ccc;">
                                <dl>
                                    <dt>区间</dt>
                                    <dd v-for="item in preset.relative"><a @click="setByWindow(item)">${item.name}</a></dd>
                                </dl>
                            </el-col>
                        </div>
                    </el-collapse-item>
                    <el-collapse-item title="时间区间" name="2">
                        <el-container>
                            <el-main>
                                <div style="display:flex;">
                                    <input class="range_from" type="text" placeholder="选择时间.."></p>
                                    <i class="fa fa-cogs" style="padding: 0px 10px;"></i>
                                    <input class="range_to" type="text" placeholder="选择时间.."></p>
                                    <a class="btn btn-xs btn-success" @click="setByRange()" style="height: 22px;margin-left: 10px;">应用</a>
                                </div>
                            </el-main>
                        <el-container>
                    </el-collapse-item>
                    <el-collapse-item title="高级" name="3">
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <dl>
                                    <dt>搜索时间</dt>
                                    <dd>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="input-systime" value=" for vtime " v-model="preset.default.others.forTime" checked> 系统时间(vtime)
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="input-usertime" value=" for ctime " v-model="preset.default.others.forTime" checked> User Time(ctime)
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="input-biztime" value=" for firstoccurrence " v-model="preset.default.others.forTime" > Firstoccurrence
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="input-biztime" value=" for lastoccurrence " v-model="preset.default.others.forTime" > Lastoccurrence
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="input-nonetime" value="" v-model="preset.default.others.forTime" checked> 不要时间
                                            </label>
                                        </div>
                                    </dd>
                                </dl>
                            </el-col>
                            <el-col :span="12" style="border-left:1px dashed #ccc;">
                                <dl>
                                    <dt>其它条件</dt>
                                    <dd>
                                        <form>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="input-hisdata" v-model="preset.default.others.ifHistory" checked> 包含历史数据
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="input-debug" v-model="preset.default.others.ifDebug"> 调试
                                                </label>
                                            </div>
                                        </form>
                                    </dd>
                                </dl>
                            </el-col>
                        </el-row>
                    </el-collapse-item>
                </el-collapse>
            </el-dropdown-menu>
        </el-dropdown>
    </template>

    /*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
    <script id="search-preset-component">
        {

            delimiters: ['${', '}'],
            props:{
                id: String,
                options: Object,
            },
            data(){
                return {
                    preset: {
                        default: _.extend({ name:"最近1天",
                                            value: " nearest 1 day ",
                                            class: "",
                                            term: "",
                                            others: {
                                                ifHistory: false,
                                                ifDebug: false,
                                                forTime:  " for vtime ",
                                            }},this.options),
                        nearest: [
                            {"name":"最近 30秒", value: " nearest 30 seconds "},
                            {"name":"最近 1分钟", value: " nearest 1 minutes "},
                            {"name":"最近 5", value: " nearest 5 minutes "},
                            {"name":"最近 10", value: " nearest 10 minutes "},
                            {"name":"最近 15分钟", value: " nearest 15 minutes "},
                            {"name":"最近 30分钟", value: " nearest 30 minutes "},
                            {"name":"最近 1小时", value: " nearest 1 hour "},
                            {"name":"最近 2小时", value: " nearest 2 hour "},
                            {"name":"最近 8小时", value: " nearest 8 hour "},
                            {"name":"最后 1天", value: " nearest 1 day "}
                        ],
                        realtime: [
                            {"name":"30秒", value: " within 30seconds "},
                            {"name":"1分钟", value: " within 1minutes "},
                            {"name":"5分钟", value: " within 5minutes "},
                            {"name":"10分钟", value: " within 10minutes "},
                            {"name":"15分钟", value: " within 15minutes "},
                            {"name":"30分钟", value: " within 30minutes "},
                            {"name":"1小时", value: " within 1hour "},
                            {"name":"2小时", value: " within 2hour "},
                            {"name":"8小时", value: " within 8hour "},
                            {"name":"1天", value: " within 1day "},
                            {"name":"1月", value: " within 1month "},
                            {"name":"所有", value: ""}
                        ],
                        relative: [
                            {"name":"今天", value: " today "},
                            {"name":"昨天", value: " yesterday "},
                            {"name":"本周", value: " week "},
                            {"name":"上周", value: " last week "},
                            {"name":"本月", value: " month "},
                            {"name":"上个月", value: " last month "},
                            {"name":"今年", value: " year "},
                            {"name":"去年", value: " last year "},
                        ],
                        range: { from: "", to: ""},
                        others: {
                            ifHistory: false,
                            ifDebug: false,
                            forTime:  ' for vtime ',
                        }
                    }
                }
            },
            watch: {
                'preset.default': {
                    handler:function(val,oldVal){


                        if (val.name === '所有'){
                            this.preset.default.others.forTime = "";
                        }

                    },
                    deep:true
                }
            },
            created:function(){
                eventHub.$emit('preset-selected-event', this.preset);
            },
            mounted: function() {
                let self = this;

                self.$nextTick(function(){

                    // 搜索预定义

                    $(self.$el).find("a[data-toggle='collapse']").click(
                        function(event) {

                            var href = event.target.href.split("#")[1];

                            event.stopPropagation();
                            event.preventDefault();
                            $(self.$el).find(".in").removeClass("in");
                            $(self.$el).find("#"+href).collapse("toggle");
                            $(self.$el).find("in").collapse("toggle");

                            $(self.$el).find(".panel-heading").removeClass('active');
                            $(this).parent().parent().toggleClass('active');

                            $(self.$el).find("i").removeClass('fa-angle-down');
                            $(self.$el).find("i").addClass(' fa-angle-right');

                            $(this).parent().parent().find("i").removeClass(' fa-angle-right');
                            $(this).parent().parent().find("i").addClass(' fa-angle-down');
                        }
                    );

                    self.initRange();
                })
            },
            methods: {
                initRange: function(){
                    let self = this;

                    let sDate = $(".range_from").flatpickr({
                        locale: "zh",
                        enableTime: true,
                        time_24hr: true,
                        onChange: function(selectedDates, dateStr, instance) {
                            self.preset.range.from = dateStr;
                        }
                    });
                    let eDate = $(".range_to").flatpickr({
                        locale: "zh",
                        enableTime: true,
                        time_24hr: true,
                        onChange: function(selectedDates, dateStr, instance) {
                            self.preset.range.to = dateStr;
                        }
                    });

                    self.$once('hook:beforeDestroy', function () {
                        sDate.destroy()
                        eDate.destroy();
                    })
                },
                setByWindow: function(event){
                    _.extend(this.preset.default,event);
                },
                setByRange: function(){
                    if(!_.isEmpty(this.preset.range.from) && !_.isEmpty(this.preset.range.to)){
                        var range = {
                            name: this.preset.range.from + "-" + this.preset.range.to,
                            value: " window " + this.preset.range.from + " to " + this.preset.range.to
                        };
                        _.extend(this.preset.default,range);
                    }
                }
            }

        }
    </script>

</code>
