<code>

	<style scoped>
		/*----------  style  ----------*/
		.search-base-component .el-input__inner[role="textbox"],
		.search-base-component .el-input--suffix > .el-input__inner{
			border-radius: 0px;
			border: unset;
		}

		.search-base-component .el-dropdown,.el-input--small{
			font-size:12px;
		}

		.search-preset .el-collapse-item__header{
			height: 30px!important;
			line-height: 30px!important;
		}

		.search-base-component .search-base > .el-autocomplete .el-input--small>.el-input__inner{
			height: 40px;
			line-height: 40px;
			border: unset;
		}

		.search-base div.search-base--select{
			width: 20%;
		}

		.search-base div.el-autocomplete{
			width: 100%;
		}

		.search-base-component .el-input--small .el-input__inner{
			height: 40px;
			line-height: 40px;
		}

		.search-base-component .el-dropdown.search-preset-component>.el-button--small{
			border-radius: 0px;
			border: unset;
		}

		.search-base .el-button--mini, .el-button--small {
			border-radius: 0px!important;
		}

		.search-base-component .search-base--select-popper{
			padding:20px;
			left: 0px!important;
		}
		.search-base-component .search-base--select-popper li{
			margin: 10px 0px;
    		border-radius: 5px;
		}

		.search-base-component .el-picker-panel [slot=sidebar], 
		.search-base-component .el-picker-panel__sidebar{
			width: 120px;
		}

		.has-sidebar.has-time.el-picker-panel.el-date-range-picker.el-popper{
			position: absolute;
			top:0px!important;
			left:0px!important;
		}

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="search-base-component"  ----------*/
	<template>
		<div style="display:flex;width:100%;height:42px;line-height: 42px;" class="search-base">
			<!--搜索范围-->
			<el-select v-model="options.view.value" :placeholder="$t('search.view.placeholder')"   popper-class="search-base--select-popper" class="search-base--select" @change="onViewChange" v-if="options.view.show">
				<el-option :label="item.title" :key="item.name" :value="item.name" v-for="item in view.list" style="height:auto;">
					<el-card :body-style="{ padding: '5px' }" style="text-align: center;">
						<span class="el-icon-bank-card" style="font-size:65px;padding:0px 65px;"></span>
						<div style="padding: 0px;text-align: right;">
							<p style="margin: 0px;">#{item.title}#</p>
							<p style="margin: 0px;">
								<el-tooltip :content="$t('search.view.createTime')">
									<span>#{moment(item.time).format(mx.global.register.format)}#</span>
								</el-tooltip>
								<el-tooltip :content="$t('search.view.default')">
									<el-button type="text"  icon="el-icon-s-platform" style="margin-left:10px;" @click="onSetDefaultView(item)"></el-button>
								</el-tooltip>
								<el-tooltip :content="$t('search.view.maintain')">
									<el-button type="text"  icon="el-icon-edit-outline" @click="onChangeView(item)"></el-button>
								</el-tooltip>
							</p>  
						</div>
					</el-card>
				</el-option>
			</el-select>

			<el-popover
				placement="top-end"
				trigger="click"
				popper-class="info-popper"
				:popper-options="{ boundariesElement: 'body' }"
				:inline="true"
				@show="onShowDatePicker">
				<div class="block">
					<el-date-picker
						v-model="timePicker.range"
						:picker-options="timePicker.options"
						type="datetimerange"
						value-format="yyyy-MM-dd HH:mm:ss"
						:range-separator="$t('search.component.timeTo')"
						:start-placeholder="$t('search.component.timeBegin')"
						:end-placeholder="$t('search.component.timeEnd')"
						align="right"
						ref="datePicker">
					</el-date-picker>
				</div>
				<el-button slot="reference" icon="el-icon-timer" style="height:42px;margin-left:-1px;width:100%;"></el-button>
			</el-popover> 
			<!--搜索框-->
			<el-autocomplete class="inline-input" :placeholder="placeholder" 
							v-model="options.term" 
							:fetch-suggestions="onFetchSuggestions"
							:trigger-on-focus="false"
							@select="search"
							@clear="search"
							clearable
							autofocus
							style="margin-left:-2px;"></el-autocomplete>
			<!--搜索条件预设置-->
			<!--search-preset-component :options.sync='options' ref="preSetRef"></search-preset-component-->
			
			<!--快速过滤条件设置-->

			<!--搜索按钮-->
			<el-button type="primary" @click="search" @keyup.enter.native="search" ref="searchNowRef">#{ $t('search.actions.search') }#</el-button>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="search-base-component">
	{
		i18n,   
		delimiters: ['#{', '}#'],
	    props:{
			// 搜索设置
			options: Object
	    },
	    data(){
	        return {
				result: {},
	            view: {
					list: []
				},
				placeholder: "",
				suggestions: [],
				timePicker:{
					range: [],
					options: {
						shortcuts:[
							{
								text: this.$t('search.component.nearest15min'),
								onClick(picker) {
									const end = new Date();
									const start = new Date();
									start.setTime(start.getTime() - 900 * 1000);
									picker.$emit('pick', [start, end]);
								}
							}, {
								text: this.$t('search.component.nearest30min'),
								onClick(picker) {
									const end = new Date();
									const start = new Date();
									start.setTime(start.getTime() - 1800 * 1000);
									picker.$emit('pick', [start, end]);
								}
							}, {
								text: this.$t('search.component.nearest1hour'),
								onClick(picker) {
									const end = new Date();
									const start = new Date();
									start.setTime(start.getTime() - 3600 * 1000 * 1);
									picker.$emit('pick', [start, end]);
								}
							}, {
								text: this.$t('search.component.nearest1day'),
								onClick(picker) {
									const end = new Date();
									const start = new Date();
									start.setTime(start.getTime() - 3600 * 1000 * 24);
									picker.$emit('pick', [start, end]);
								}
							}, {
								text: this.$t('search.component.nearest7day'),
								onClick(picker) {
									const end = new Date();
									const start = new Date();
									start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
									picker.$emit('pick', [start, end]);
								}
							}, {
								text: this.$t('search.component.nearest30day'),
								onClick(picker) {
									const end = new Date();
									const start = new Date();
									start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
									picker.$emit('pick', [start, end]);
								}
							}
					]}
				}
	        }
		},
		watch: {
			'timePicker.range':{
				handler(val,oldVal){
					if(_.isEmpty(val)){
						this.placeholder = this.$t('search.placeholder');
					} else {
						this.placeholder = "window " + this.timePicker.range.join(" to ");
					}
				},
				immediate:true
			}
		},
	    created(){
			
			// 视图列表初始化
			let term = JSON.stringify({class:this.options.api.parent,action:"list"});
			this.view.list = fsHandler.callFsJScript(`/matrix/view/action.js`, encodeURIComponent(term)).message;

			// 搜索辅助
			try{
				this.suggestions = fsHandler.callFsJScript("/matrix/search/suggestions.js",this.options.api.parent).message;
			} catch(err){

			}
			
	    },
	    mounted(){
			   
			//是否启用自动搜索
			if(this.options.autoSearch){
				this.search();
			}

			// 搜索Button Enter事件
			$(document).keypress((event)=> {
				var keycode = (event.keyCode ? event.keyCode : event.which);
				
				if (keycode == 13 && document.activeElement.id=='') {
					this.search();
				}
			})

			// 设置body class
			$("body").addClass("search-base-component");

	    },
	    methods: {
			onSetDefaultView(item){
				localStorage.setItem("EVENT-DEFAULT-VIEW",item.name);
				this.$message({
					type: "info",
					message: "设置默认视图为：" + item.title
				})
			},
			onChangeView(item){
				_.extend(this.$root.options,{ view:{ eidtEnable: true, show: true, value: item.name }});
			},
			onFetchSuggestions(queryString, cb){
				try{
					var suggestions = this.suggestions;
					var results = queryString ? suggestions.filter(this.createFilter(queryString)) : suggestions;
					// 调用 callback 返回建议列表的数据
					cb(results);
				} catch(err){
					
				}
			},
			createFilter(queryString) {
				return (v) => {
					return (v.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
				};
			},
			onViewChange(evt){
				this.search();
			},
			search(){

				// 预设值
				let ifHistory = this.options.others.ifHistory?"":"#";
				let ifDebug = this.options.others.ifDebug?"debug> ":"";
					
				let forTime = this.options.others.forTime;
				
				// 一键搜索结构
				let cls = ifHistory=='#'?this.options.class:this.options.class.replace(/#/g,"");
				let time = "";
				if(!_.isEmpty(this.timePicker.range)) {
					time = "window " + this.timePicker.range.join(" to ");
				}
				let term = {
					view: this.options.view.value || "all",
					term: (ifDebug + ifHistory + _.without([cls, this.options.term, time],'').join(" | ")).replace(/##/g,"#").replace(/%/g,'%25')
				};

			    // 搜索
				let rtn = fsHandler.callFsJScript(`/matrix/${this.options.api.parent}/${this.options.api.name}`, encodeURIComponent(JSON.stringify(term))).message;

				// 结果
				this.result = rtn;
			},
			resetTerm(){
				this.preset.term = "";
				this.search();
			},
			onShowDatePicker(){
				this.$refs.datePicker.focus();
			}

	    }
	
	}
	</script>

</code>

