<code>

	<style scoped>
		
		/* For Search Dropdown Panel */
        .search-preset-component .dropdown-menu {
            padding: 0;
            font-size: 12px;
            background-color: #fff;
            border: 0px solid #ccc;
            border: 0px solid rgba(0,0,0,.15);
            border-radius: 0px;
        }
        .search-preset-component .dropdown-menu > .panel-group {
            margin-bottom: 0px;
        }

        .search-preset-component .dropdown-menu > .panel-group .panel {
            margin-bottom: 0px;
            background-color: #fff;
            border: 0px solid transparent;
            border-radius: 0px;
        }
        .search-preset-component .dropdown-menu > .panel-group .panel+.panel {
            margin-top: 0px;
        }

        .search-preset-component .panel-default>.panel-heading{
            padding-top: 5px;
            padding-bottom: 5px;

            border: 1px solid #ccc;
            border-bottom: 0px;
            border-radius: 0px;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e5e5e5+100 */
            background: #f9f9f9; /* Old browsers */
            background: -moz-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #f9f9f9 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #f9f9f9 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        }

        .search-preset-component .panel-default>.panel-heading.active {
            color: #333;
            background-color: #def1fb;
            border: 1px solid #ccc;
            border-bottom: 0px;
            background: #def1fb;

        }

        .search-preset-component .panel-group .panel-heading+.panel-collapse>.list-group,
        .search-preset-component .panel-group .panel-heading+.panel-collapse>.panel-body {
            border-top: 0px;
        }

        .search-preset-component .panel-default>.collapse {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }

        .search-preset-component code {
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }

        .search-preset-component dl > dd > a:hover {
            cursor: pointer;
        }
		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="search-preset-component"  ----------*/
	<template>
		<div>
			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-left:none;">${preset.default.name} <span class="caret"></span></button>
		    <div class="dropdown-menu dropdown-menu-right" style="width: 40vw;">
		  
		    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		      	<div class="panel panel-default">
			        <div class="panel-heading active" role="tab" id="headingOne">
			          <span>
			            <i class="fa fa-angle-down"></i>
			            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			              Presets
			            </a>
			          </span>
			        </div>
			        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			            <div class="panel-body">
			                <div class="row">
			                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			                        <dl>
			                            <dt>Nearest</dt>
			                            <dd v-for="item in preset.nearest"><a @click="setByWindow(item)">${item.name}</a></dd>
			                        </dl>
			                    </div>
			                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-left:1px dashed #ccc;">
			                        <dl>
			                            <dt>Real-time</dt>
			                            <dd v-for="item in preset.realtime"><a @click="setByWindow(item)">${item.name}</a></dd>
			                        </dl>
			                    </div>
			                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-left:1px dashed #ccc;">
			                        <dl>
			                            <dt>Relative</dt>
			                            <dd v-for="item in preset.relative"><a @click="setByWindow(item)">${item.name}</a></dd>
			                        </dl>
			                    </div>
			                </div>
			            </div>
			        </div>
		      	</div>
			    <div class="panel panel-default">
			        <div class="panel-heading" role="tab" id="headingTwo">
			          <span>
			            <i class="fa fa-angle-right"></i>
			            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			              Date Range
			            </a>
			          </span>
			        </div>
			        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			            <div class="panel-body">
			                <span style="display: -webkit-box;">
			                    <input class="range_from" type="text" placeholder="Date time.."></p>
			                    <i class="fa fa-cogs" style="padding: 0px 10px;"></i>
			                    <input class="range_to" type="text" placeholder="Date time.."></p>
			                    <a class="btn btn-xs btn-success" @click="setByRange()" style="height: 22px;margin-left: 10px;">Apply</a>
			                </span>
			            </div>
			        </div>
			    </div>
		      	<div class="panel panel-default">
			        <div class="panel-heading" role="tab" id="headingThree">
			          <span>
			            <i class="fa fa-angle-right"></i>
			            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			              Advanced
			            </a>
			          </span>
			        </div>
			        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			          <div class="panel-body">
			              <div class="row">
			                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			                      <dl>
			                          <dt>Search For Time</dt>
			                          <dd>
			                              <div class="radio">
			                                  <label>
			                                      <input type="radio" id="input-systime" value=" for vtime " v-model="preset.others.forTime" checked> System Time(vtime)
			                                  </label>
			                              </div>
			                              <div class="radio">
			                                  <label>
			                                      <input type="radio" id="input-usertime" value=" for ctime " v-model="preset.others.forTime" checked> User Time(ctime)
			                                  </label>
			                              </div>
			                              <div class="radio">
			                                  <label>
			                                      <input type="radio" id="input-biztime" value=" for firstoccurrence " v-model="preset.others.forTime" > Firstoccurrence
			                                  </label>
			                              </div>
			                              <div class="radio">
			                                  <label>
			                                      <input type="radio" id="input-biztime" value=" for lastoccurrence " v-model="preset.others.forTime" > Lastoccurrence
			                                  </label>
			                              </div>
			                              <div class="radio">
			                                  <label>
			                                      <input type="radio" id="input-nonetime" value="" v-model="preset.others.forTime" checked> None Time
			                                  </label>
			                              </div>
			                          </dd>
			                      </dl>
			                  </div>
			                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-left:1px dashed #ccc;">
			                        <dl>
			                            <dt>Other</dt>
			                            <dd>
			                                <div class="checkbox">
			                                  <label>
			                                    <input type="checkbox" id="input-hisdata" v-model="preset.others.ifHistory" checked> Contains history data
			                                  </label>
			                                </div>
											<div class="checkbox">
												<label>
													<input type="checkbox" id="input-debug" v-model="preset.others.ifDebug"> Debug
												</label>
											</div>
			                            </dd>
			                        </dl>
			                  </div>
			              </div>
			          </div>
			        </div>
		      	</div>
		    </div>
		    </div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="search-preset-component">
	{
	   
	    delimiters: ['${', '}'],
		props:{
	        id: String,
			options: Object,
		},
	    data(){
	        return {
	            
				preset: {
							default: _.extend({ name:"Nearest 1 day",
										value: " nearest 1 day ",
										class: "",
										term: "",
										others: {
											ifHistory: false,
											ifDebug: false,
											forTime:  " for vtime ",
										}},this.options),
							nearest: [
									{"name":"Nearest 30 second", value: " | nearest 30 seconds "},
									{"name":"Nearest 1 minute", value: " | nearest 1 minutes "},
									{"name":"Nearest 5 minute", value: " | nearest 5 minutes "},
									{"name":"Nearest 10 minute", value: " | nearest 10 minutes "},
									{"name":"Nearest 15 minute", value: " | nearest 15 minutes "},
									{"name":"Nearest 30 minute", value: " | nearest 30 minutes "},
									{"name":"Nearest 1 hour", value: " | nearest 1 hour "},
									{"name":"Nearest 2 hour", value: " | nearest 2 hour "},
									{"name":"Nearest 8 hour", value: " | nearest 8 hour "},
									{"name":"Nearest 1 day", value: " | nearest 1 day "}
							],
							realtime: [
									{"name":"30 second window", value: " | within 30seconds "},
									{"name":"1 minute window", value: " | within 1minutes "},
									{"name":"5 minute window", value: " | within 5minutes "},
									{"name":"10 minute window", value: " | within 10minutes "},
									{"name":"15 minute window", value: " | within 15minutes "},
									{"name":"30 minute window", value: " | within 30minutes "},
									{"name":"1 hour window", value: " | within 1hour "},
									{"name":"2 hour window", value: " | within 2hour "},
									{"name":"8 hour window", value: " | within 8hour "},
									{"name":"1 day", value: " | within 1day "},
									{"name":"1 month", value: " | within 1month "},
									{"name":"All Time", value: ""}
							],
							relative: [
									{"name":"Today", value: " | today "},
									{"name":"Yesterday", value: " | yesterday "},
									{"name":"Week", value: " | week "},
									{"name":"Last Week", value: " | last week "},
									{"name":"Month", value: " | month "},
									{"name":"Last month", value: " | last month "},
									{"name":"Year", value: " | year "},
									{"name":"Last Year", value: " | last year "},
							],
							range: { from: "", to: ""},
							others: {
								ifHistory: false,
								ifDebug: false,
								forTime:  ' for vtime ',
							}
						}

	        }
	    },
		watch: {
                'preset.default': {
                    handler:function(val,oldVal){


                        if (val.name === 'All Time'){
                            this.preset.default.others.forTime = "";
                        }

                    },
                    deep:true
                }
            },
            created:function(){
                eventHub.$emit('preset-selected-event', this.preset);
            },
            mounted: function() {
                let self = this;

                self.$nextTick(function(){

                    // 搜索预定义

                    $(self.$el).find("a[data-toggle='collapse']").click(
                        function(event) {

                            var href = event.target.href.split("#")[1];

                            event.stopPropagation();
                            event.preventDefault();
                            $(self.$el).find(".in").removeClass("in");
                            $(self.$el).find("#"+href).collapse("toggle");
                            $(self.$el).find("in").collapse("toggle");

                            $(self.$el).find(".panel-heading").removeClass('active');
                            $(this).parent().parent().toggleClass('active');

                            $(self.$el).find("i").removeClass('fa-angle-down');
                            $(self.$el).find("i").addClass(' fa-angle-right');

                            $(this).parent().parent().find("i").removeClass(' fa-angle-right');
                            $(this).parent().parent().find("i").addClass(' fa-angle-down');
                        }
                    );

                    self.initRange();
                })
            },
            methods: {
                initRange: function(){
                    let self = this;

                    let sDate = $(".range_from").flatpickr({
                        locale: "en",
                        enableTime: true,
                        time_24hr: true,
                        onChange: function(selectedDates, dateStr, instance) {
                            self.preset.range.from = dateStr;
                        }
                    });
                    let eDate = $(".range_to").flatpickr({
                        locale: "en",
                        enableTime: true,
                        time_24hr: true,
                        onChange: function(selectedDates, dateStr, instance) {
                            self.preset.range.to = dateStr;
                        }
                    });

                    self.$once('hook:beforeDestroy', function () {
                        sDate.destroy()
                        eDate.destroy();
                    })
                },
                setByWindow: function(event){
                    _.extend(this.preset.default,event);
                },
                setByRange: function(){
                    if(!_.isEmpty(this.preset.range.from) && !_.isEmpty(this.preset.range.to)){
                        var range = {
                            name: this.preset.range.from + "-" + this.preset.range.to,
                            value: " window " + this.preset.range.from + " to " + this.preset.range.to
                        };
                        _.extend(this.preset.default,range);
                    }
                }
            }

        }
    </script>

</code>
