<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}

<link href="{{AppSubUrl}}/web/vendor/alertifyjs/themes/alertify.default.css" type="text/css" rel="stylesheet" />


<style>

    #title{
        font-size: 38px;
        font-weight: 600;
        font-family: "micosoft yahei";
        left: 35px;
        top: 10px;
        position: fixed;
        color:rgb(219, 219, 219)
    }

    .tools-item {
        width: 28px;
        height: 28px;
    }

    html td.mxWindowTitle {
        background-color: rgb(33, 148, 245);
        background-image: linear-gradient(180deg,rgb(33, 148, 245),rgb(33, 148, 245));
        background-repeat: repeat-x;
        color: #ffffff;
    }

    #outlineContainer {
        z-index:1;
        position:absolute;
        overflow:hidden;
        top:80px;
        right:5px;
        width:160px;
        height:120px;
        background:transparent;
        box-shadow: 3px 3px 12px #C0C0C0;
        background: url(../images/window.gif);
        border: 1px solid rgb(195, 195, 195);
    }

    .theme-white {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    .theme-grey {
        background: #ffffff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #ffffff, #f9f9f9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ffffff, #f9f9f9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .theme-dark {
        /*background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.35) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.70) 120%) #989898;*/
        /*background-image: linear-gradient( 135deg, #333333 10%, #000000 100%);
        background-blend-mode: multiply,multiply;*/
        background-color:black;
        background-image:
                radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
                radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
                radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
                radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
        background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    }

    #tools > img:hover{
        background-color:#dddddd;
        cursor:pointer;
    }

    .flow {
        stroke-dasharray: 8;
        animation: dash 0.5s linear;
        animation-iteration-count: infinite;
    }
    @keyframes dash {
        to {
            stroke-dashoffset: -16;
        }
    }

    @-webkit-keyframes flash {
        from, 50%, to {
            stroke-width: 6;
            stroke-opacity: 1;
        }

        25%, 75% {
            stroke-width: 2;
            stroke-opacity: 0.2;
        }
    }

    @keyframes flash {
        from, 50%, to {
            stroke-width: 6;
            stroke-opacity: 1;
        }

        25%, 75% {
            stroke-width: 2;
            stroke-opacity: 0.2;
        }
    }

    .flash {
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
    }

    /* 全屏模式 */
	section#header{
		display:initial!important;
	}
	aside>#sidebar{
		display:initial!important;
	}
    footer#footer{
        display:flex!important;
    }
</style>

<div id="app"></div>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-base-datatables-component.html"></link>

<script type="text/javascript">
    
    VueLoader.onloaded(["vue-base-datatables-component"
                        ],function() {

        moment.locale({{.Lang}});

        $(".navbar.navbar-default.navbar-fixed-top").fadeOut();
        $(".navbar.navbar-default.navbar-fixed-bottom").fadeOut();


        $(".current-active-item").html('<a class="active item" href="{{AppSubUrl}}/janesware/creative"><i class="fa fa-sitemap"></i>&nbsp;{{.i18n.Tr .ActiveView }}</a>');

        $(function() {

            var appVue = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                template: '#app-template',
                data: {
                    model: {
                        object: {
                            data: null,
                            param: null,
                            nodes: {},
                            tip: []
                        },
                        project: {},
                        graph:{
                            container: null,
                            model: null,
                            graph: null,
                            selectedCell: null,
                            theme: "",
                            data: null,
                            prompt: null
                        }

                    },
                    crontab: {
                        frequency: 3,
                        load: {
                            sched: Object,
                            timer: Object
                        },
                        project:{
                            sched: Object,
                            timer: Object
                        }
                    },
                    win: {
                        toolbars: null,
                        cmd: null
                    }
                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {
                        self.init();
                        self.initData();
                        self.initPlugIn();
                    })
                },
                watch: {
                    'model.object.nodes':{
                        handler: function (val, oldVal) {
                            let self = this;

                            if(val != oldVal){

                                self.update();

                                _.delay(function(){
                                    $("svg").addClass("animated fadeInUp");
                                },500);
                            }

                        },
                        deep: true
                    },
                    'crontab.frequency': {
                        handler: function (val, oldVal) {
                            let self = this;

                            if(val != oldVal){
                                self.crontab.load.sched = later.parse.text('every '+val+' sec');
                                self.crontab.load.timer = later.setInterval(self.initData, self.crontab.load.sched);

                                self.update();
                            }

                        },
                        deep: true
                    },
                    'model.project.current':{
                        handler: function(val,oldVal){
                            let self = this;

                            if(val != oldVal){
                                console.log(self.model.object.param.parent, val)
                                self.model.graph.data = fsHandler.fsContent(self.model.object.param.parent, val);
                                self.initGraph();
                            }
                        },
                        deep:true
                    },
                    'model.project.diaglog':{
                        handler: function(val,oldVal){
                            let self = this;

                            if(val !== oldVal){

                                // 需要确认 1
                                if(val.select < 1) {
                                    return false;
                                } else {
                                    if(_.size(window.jsPanel.activePanels.list)>1) {
                                        if(_.isEmpty($("#jsPanel-" + val.title ))) {
                                            self.initPrompt('modal', val);
                                        }
                                    }
                                }
                            }
                        },
                        deep:true
                    }
                },
                created: function() {
                    let self = this;

                    let _tmp = localStorage.getItem("graph-object");

                    self.model.object.param = _.attempt(JSON.parse.bind(null, _tmp));

                    self.model.graph.data = fsHandler.fsContent(self.model.object.param.parent, self.model.object.param.name);


                },
                filters: {
                    pickTitle: function(value){

                        let _tmp = localStorage.getItem("graph-object");

                        let _param = _.attempt(JSON.parse.bind(null, _tmp));

                        let _title = null;//_param.name.split(".")[0];
                        let _value = value;

                        if(!_.isEmpty(_value)){
                            _title = _value.title;
                        }

                        return _title;

                    }
                },
                methods: {
                    zoomToCenter: function(margin){
                        let self = this;

                        var bounds = self.model.graph.graph.getGraphBounds();
                        margin = margin || 10;

                        self.model.graph.container.style.overflow = "hidden";

                        self.model.graph.graph.view.setTranslate(
                            -bounds.x -(bounds.width - self.model.graph.container.clientWidth)/ 2,
                            -bounds.y - (bounds.height - self.model.graph.container.clientHeight) / 2
                        );

                        while( (bounds.width + margin * 2) > self.model.graph.container.clientWidth
                        || (bounds.height + margin * 2) > self.model.graph.container.clientHeight ){
                            self.model.graph.graph.zoomOut();
                            bounds = self.model.graph.graph.getGraphBounds();
                        }

                        self.model.graph.container.style.overflow = "auto";

                    },
                    init: function() {
                        let self = this;

                        if (!mxClient.isBrowserSupported())
                        {
                            // Displays an error message if the browser is
                            // not supported.
                            mxUtils.error('Browser is not supported!', 200, false);
                        }
                        else
                        {

                            mxConstants.SHADOWCOLOR = "#b9b9b9";
                            mxConstants.SHADOW_OFFSET_X = 4;
                            mxConstants.SHADOW_OFFSET_Y = 4;
                            mxConstants.SHADOW_OPACITY = 0.22;


                            self.model.graph.container = document.getElementById('graph');
                            self.model.graph.container.style.position = 'absolute';
                            self.model.graph.container.style.overflow = 'hidden';
                            self.model.graph.container.style.left = '0px';
                            self.model.graph.container.style.top = '55px';
                            self.model.graph.container.style.right = '0px';
                            self.model.graph.container.style.bottom = '0px';
                            document.body.appendChild(self.model.graph.container);


                            mxEvent.disableContextMenu(self.model.graph.container);

                            if (mxClient.IS_QUIRKS)
                            {
                                document.body.style.overflow = 'hidden';
                                new mxDivResizer(self.model.graph.container);
                                new mxDivResizer(outline);
                            }

                            // Creates the graph inside the given container
                            self.model.graph.model = new mxGraphModel();
                            self.model.graph.graph = new mxGraph(self.model.graph.container, self.model.graph.model);

                            // Enables automatic sizing for vertices after editing and
                            // panning by using the left mouse button.
                            self.model.graph.graph.setEnabled(false);
                            self.model.graph.graph.setCellsMovable(false);
                            self.model.graph.graph.setAutoSizeCells(true);
                            self.model.graph.graph.setPanning(true);
                            self.model.graph.graph.centerZoom = true;
                            self.model.graph.graph.panningHandler.useLeftButtonForPanning = true;

                            self.model.graph.graph.getCursorForCell = function(cell){
                                if (cell != null && cell.value != null && cell.vertex ==1 ){
                                    return 'pointer';
                                }
                            }

                            // Creates the default style for vertices
                            var style = [];
                            style[mxConstants.STYLE_SHADOW] = true;

                            //style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_RECTANGLE;
                            //style[mxConstants.STYLE_PERIMETER] = mxPerimeter.RectanglePerimeter;
                            style[mxConstants.STYLE_STROKECOLOR] = '#ffffff';
                            style[mxConstants.STYLE_STROKEWIDTH] = 0;
                            style[mxConstants.STYLE_STROKE_OPACITY] = 80;
                            style[mxConstants.STYLE_ROUNDED] = true;
                            style[mxConstants.HIGHLIGHT_OPACITY] = '10%';
                            //style[mxConstants.STYLE_FILLCOLOR] = 'none';
                            //style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
                            //style[mxConstants.STYLE_FONTCOLOR] = '#774400';
                            style[mxConstants.STYLE_GLASS] = 0;
                            style[mxConstants.STYLE_GRADIENT_DIRECTION] = mxConstants.DIRECTION_NORTH;
                            style[mxConstants.STYLE_ALIGN] = mxConstants.ALIGN_CENTER;
                            style[mxConstants.STYLE_VERTICAL_ALIGN] = mxConstants.ALIGN_MIDDLE;
                            style[mxConstants.STYLE_FONTSIZE] = '12';
                            style[mxConstants.STYLE_FONTSTYLE] = 1;
                            self.model.graph.graph.getStylesheet().putDefaultVertexStyle(style);

                            // Displays a popupmenu when the user clicks
                            // on a cell (using the left mouse button) but
                            // do not select the cell when the popup menu
                            // is displayed
                            self.model.graph.graph.panningHandler.popupMenuHandler = false;


                            // Disables tooltips on touch devices
                            self.model.graph.graph.setTooltips(!mxClient.IS_TOUCH);

                            self.initGraph();

                            _.delay(function(){

                                self.model.graph.graph.addListener(mxEvent.CLICK, function(sender, evt) {

                                    let cell = self.model.graph.selectedCell = evt.getProperty('cell');

                                    if(_.isEmpty(cell)) return;

                                    let _value = cell.getValue();

                                    self.tip(cell.getValue());

                                });
                            },500)

                        }
                    },
                    initGraph: function(){
                        let self = this;

                        // Load cells and layouts the graph
                        self.model.graph.graph.getModel().beginUpdate();

                        try
                        {
                            var doc = mxUtils.parseXml(self.model.graph.data);
                            var codec = new mxCodec(doc);
                            codec.decode(doc.documentElement, self.model.graph.graph.getModel());

                            let _cells = self.model.graph.graph.getChildVertices(self.model.graph.graph.getDefaultParent(),true);

                            _.forEach(_cells, function (cell, k) {
                                if(cell.getValue() === "开始" || cell.getValue() === "结束"){
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#DDDDDD', [cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '4', [cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#F9F9F9', [cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_GRADIENTCOLOR, '#FFFFFF', [cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_GLASS, '1', [cell]);
                                }
                            })

                        }
                        finally
                        {
                            // Updates the display
                            self.model.graph.graph.getModel().endUpdate();

                            //self.zoomToCenter();

                        }
                    },
                    initPlugIn: function(){
                        let self = this;

                        self.initOutline();
                        self.initTools();
                        self.model.graph.container.style.top = "0px";

                        self.crontab.load.sched = later.parse.text('every '+self.crontab.frequency+' sec');
                        self.crontab.load.timer = later.setInterval(self.initData, self.crontab.load.sched);

                        self.update();
                    },
                    initData: function(){
                        let self = this;

                        let _project = _.last(self.model.object.param.parent.split("/"));
                        let _page = self.model.object.param.name;

                        let _rtn = jobHandler.jobContextGet(_project, _project);// + "/" + _page);

                        if(_.isEmpty(_rtn) || _.isEmpty(_rtn.message)){
                            self.reset();
                        }

                        if (!_.isEmpty(_rtn)) {

                            // 项目
                            self.model.project = _.attempt(JSON.parse.bind(null, _rtn.message[_project]));

                            // 图
                            self.model.object.nodes = _.omit(_rtn.message,[_project]);

                            // 对话框
                            console.log(11,self.model.project)
                            if(self.model.project){
                                if(self.model.project.diaglog) {
                                    console.log(13,self.model.project.diaglog)
                                    if (self.model.project.diaglog.select > 0) {
                                        self.initPrompt('modal', self.model.project.diaglog);
                                    }
                                }
                            }
                        }

                    },
                    initPrompt: function(type,item){
                        let self = this;

                        let _wnd = maxWindow.winModal(type, item.title, '<div id="modal-panel"></div>', null,null);
                        if(_wnd){
                            let _vue = new Vue({
                                delimiters: ['#{', '}#'],
                                el: '#modal-panel',
                                template: `<div class="panel">
                                               <div class="panel-body">
                                                    <div class="well" v-for="item in model">
                                                        <p>#{item}#</p>
                                                        <a class="btn btn-xs btn-primary" href="javascript:void(0)" @click="confirm(item)">确认</a>
                                                    </div>
                                                </div>
                                            </div>`,
                                data: {
                                    model: eval(item.prompt)
                                },
                                methods: {
                                    confirm: function () {
                                        let me = this;
                                    }
                                }
                            });
                        }

                    },
                    reset: function(){
                       let self = this;

                        self.model.graph.graph.getModel().beginUpdate();

                        try {

                            let _cells = self.model.graph.graph.getChildVertices(self.model.graph.graph.getDefaultParent(),true);

                            _.forEach(_cells, function (cell, k) {
                                // Resets the fillcolor and the overlay
                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#FFFFFF', [cell]);
                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#dddddd', [cell]);
                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '2', [cell]);
                                self.model.graph.graph.removeCellOverlays(cell);
                            })
                        }
                        finally {
                            self.model.graph.graph.getModel().endUpdate();
                        }
                    },
                    update: function () {

                        let self = this;

                        self.model.graph.graph.getModel().beginUpdate();

                        try {

                            _.forEach(self.model.object.nodes,function (val,k) {
                                let v = JSON.parse(val);
                                let _id = _.last(k.split("/"));
                                let _cell = self.model.graph.graph.getModel().getCell(_id);


                                let state = self.model.graph.graph.view.getState(_cell);

                                if(v.status == 1){
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#999999', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#999999', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '0', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_GLASS, '1', [_cell]);

                                    //self.tip(_id + " 未执行",1);

                                } else if(v.status == 2){
                                    //self.tip(_id + " 正在运行",2);

                                    if(state && state.shape.node){
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#fb831b', [_cell]);
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '6', [_cell]);


                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("rect"))){
                                            //state.shape.node.getElementsByTagName("rect")[0].setAttribute('class', 'animated infinite flash');
                                            state.shape.node.getElementsByTagName("rect")[1].setAttribute('class', 'animated infinite flash');
                                        }

                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("path"))){
                                            state.shape.node.getElementsByTagName("path")[0].setAttribute('class', 'animated infinite flash');
                                            //state.shape.node.getElementsByTagName("path")[1].setAttribute('class', 'animated infinite flash');
                                        }
                                    }

                                } else if(v.status == 3){
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#29adbf', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#29adbf', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '0', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_GLASS, '1', [_cell]);

                                    //self.tip(_id + " 运行完毕",3);

                                } else if(v.status == 4){
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#e5494e', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#e5494e', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '0', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_GLASS, '1', [_cell]);

                                    //self.tip(_id + " 报错",4);

                                } else if(v.status == 5){
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#b8b8b8', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#b8b8b8', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '0', [_cell]);
                                    self.model.graph.graph.setCellStyles(mxConstants.STYLE_GLASS, '1', [_cell]);

                                    //self.tip(_id + " 跳过不执行",5);
                                }


                            })


                        }
                        finally {
                            self.model.graph.graph.getModel().endUpdate();
                        }

                    },
                    tip: function(event,severity){
                        let self = this;

                        if (severity == 5) {
                            alertify.log(event + ' ' + moment().format("LLL"));
                        } else if (severity == 4) {
                            alertify.error(event + ' ' + moment().format("LLL"));
                        } else {
                            alertify.success(event + ' ' + moment().format("LLL"));
                        }
                    },
                    initOutline: function(){
                        let self = this;

                        let outline = document.getElementById('outlineContainer');
                        outline.style.top = '90px';
                        outline.style.left = '5px'

                        let outln = new mxOutline(self.model.graph.graph, outline);

                    },
                    reload: function(){
                        let self = this;

                        self.model.graph.data = fsHandler.fsContent(self.model.object.param.parent, self.model.object.param.name);
                        self.initGraph();
                    },
                    initTools: function () {
                        let self = this;

                        let content = document.getElementById('tools');
                        content.style.padding = '4px';

                        let tb = new mxToolbar(content);

                        tb.addItem('{{.i18n.Tr "creative-tools-zoom_in"}}', '/web/assets/images/iflow/zoom_in.png',function(evt)
                        {
                            self.model.graph.graph.zoomIn();
                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-zoom_out"}}', '/web/assets/images/iflow/zoom_out.png',function(evt)
                        {
                            self.model.graph.graph.zoomOut();
                        },null,'tools-item');

                        /*tb.addItem('{{.i18n.Tr "creative-tools-actual_size"}}', '/web/assets/images/iflow/actual_size.png',function(evt)
                        {
                            self.model.graph.graph.zoomActual();
                        },null,'tools-item');*/

                        tb.addItem('{{.i18n.Tr "creative-tools-print"}}', '/web/assets/images/iflow/print.png',function(evt)
                        {
                            var preview = new mxPrintPreview(self.model.graph.graph, 1);
                            preview.open();
                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-fullscreen"}}', '/web/assets/images/iflow/exit-fullscreen.png',function(evt)
                        {
                            /*if ($(".navbar.navbar-default.navbar-fixed-top").css("display") == "none"){

                                $(".navbar.navbar-default.navbar-fixed-top").fadeIn();
                                $(".navbar.navbar-default.navbar-fixed-bottom").fadeIn();

                                evt.target.src = "/web/assets/images/iflow/exit-fullscreen.png";

                                self.model.graph.container.style.top = "55px";


                            } else {

                                $(".navbar.navbar-default.navbar-fixed-top").fadeOut();
                                $(".navbar.navbar-default.navbar-fixed-bottom").fadeOut();

                                evt.target.src = "/web/assets/images/iflow/fullscreen.png";

                                self.model.graph.container.style.top = "0px";

                            }*/

                            toggleFullScreen();


                        },null,'tools-item');

                        /*tb.addItem('{{.i18n.Tr "creative-tools-reset"}}', '/web/assets/images/iflow/reset.png',function(evt)
                        {
                            self.reload();
                        },null,'tools-item');*/

                        tb.addItem('{{.i18n.Tr "creative-tools-theme"}}', '/web/assets/images/iflow/theme.png',function(evt)
                        {

                            let _theme = _.sample(['theme-white', 'theme-dark']);

                            $("body").removeClass(self.model.graph.theme);
                            $('body').addClass(_theme);

                            if(_theme == 'theme-dark'){
                                $("html td.mxWindowTitle").css( {
                                    "backgroundColor": "rgb(90, 90, 90)",
                                    "backgroundImage": "linear-gradient(180deg,rgb(90, 90, 90),rgb(90, 90, 90))"
                                });
                            } else {
                                $("html td.mxWindowTitle").css( {
                                    "backgroundColor": "rgb(33, 148, 245)",
                                    "backgroundImage": "linear-gradient(180deg,rgb(33, 148, 245),rgb(33, 148, 245))"
                                });
                            }

                            self.model.graph.theme = _theme;
                            localStorage.setItem("CREATIVE-THEME",_theme);



                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-play"}}', '/web/assets/images/iflow/play.svg',function(evt)
                        {

                            self.win.cmd = maxWindow.winCmd('>₋', `<div id="cmd_window"></div>`, evt.target,null);

                            if(!_.isEmpty(self.win.cmd)){
                                self.cmdVue(evt);
                            }

                        },null,'tools-item');


                        self.win.toolbars = maxWindow.winToolBars('{{.i18n.Tr "creative-tools"}}',content,[5,220],null);

                        _.delay(function(){
                            self.model.graph.theme = localStorage.getItem("CREATIVE-THEME");

                            $("body").addClass(self.model.graph.theme);

                            if(self.model.graph.theme == 'theme-dark'){
                                self.win.toolbars.setTheme("info");
                                /*$("html td.mxWindowTitle").css( {
                                    "backgroundColor": "rgb(90, 90, 90)",
                                    "backgroundImage": "linear-gradient(180deg,rgb(90, 90, 90),rgb(90, 90, 90))"
                                });*/
                            } else {
                                self.win.toolbars.setTheme("filledlight");
                                /*$("html td.mxWindowTitle").css( {
                                    "backgroundColor": "rgb(33, 148, 245)",
                                    "backgroundImage": "linear-gradient(180deg,rgb(33, 148, 245),rgb(33, 148, 245))"
                                });*/
                            }
                        },100)
                    },
                    initNodeTools: function(graph){
                        let self = this;

                        // Defines the tolerance before removing the icons
                        let iconTolerance = 20;

                        // Shows icons if the mouse is over a cell
                        graph.addMouseListener(
                            {
                                currentState: null,
                                currentIconSet: null,
                                mouseDown: function(sender, me)
                                {
                                    // Hides icons on mouse down
                                    if (this.currentState != null)
                                    {
                                        this.dragLeave(me.getEvent(), this.currentState);
                                        this.currentState = null;
                                    }
                                },
                                mouseMove: function(sender, me)
                                {
                                    if (this.currentState != null && (me.getState() == this.currentState ||
                                        me.getState() == null))
                                    {
                                        var tol = iconTolerance;
                                        var tmp = new mxRectangle(me.getGraphX() - tol,
                                            me.getGraphY() - tol, 2 * tol, 2 * tol);

                                        if (mxUtils.intersects(tmp, this.currentState))
                                        {
                                            return;
                                        }
                                    }

                                    var tmp = graph.view.getState(me.getCell());

                                    // Ignores everything but vertices
                                    if (graph.isMouseDown || (tmp != null && !graph.getModel().isVertex(tmp.cell)))
                                    {
                                        tmp = null;
                                    }

                                    if (tmp != this.currentState)
                                    {
                                        if (this.currentState != null)
                                        {
                                            this.dragLeave(me.getEvent(), this.currentState);
                                        }

                                        this.currentState = tmp;

                                        if (this.currentState != null)
                                        {
                                            this.dragEnter(me.getEvent(), this.currentState);
                                        }
                                    }
                                },
                                mouseUp: function(sender, me) { },
                                dragEnter: function(evt, state)
                                {
                                    if (this.currentIconSet == null)
                                    {
                                        this.currentIconSet = new self.mxIconSet(state);
                                    }
                                },
                                dragLeave: function(evt, state)
                                {
                                    if (this.currentIconSet != null)
                                    {
                                        this.currentIconSet.destroy();
                                        this.currentIconSet = null;
                                    }
                                }
                            });
                    },
                    navToggle: function(){
                        let self = this;

                        $("#nav").find("div").toggle(500);
                        self.win.toolbars.toggle(500);
                    },
                    mxIconSet: function (state){
                        this.images = [];
                        var graph = state.view.graph;

                        // Icon1
                        var img = mxUtils.createImage('/web/assets/images/iflow/zoom_in.png');
                        img.setAttribute('title', 'Duplicate');
                        img.style.position = 'absolute';
                        img.style.cursor = 'pointer';
                        img.style.width = '16px';
                        img.style.height = '16px';
                        img.style.left = (state.x + state.width) + 'px';
                        img.style.top = (state.y + state.height) + 'px';

                        mxEvent.addGestureListeners(img,
                            mxUtils.bind(this, function(evt)
                            {
                                var s = graph.gridSize;
                                graph.setSelectionCells(graph.moveCells([state.cell], s, s, true));
                                mxEvent.consume(evt);
                                this.destroy();
                            })
                        );

                        state.view.graph.container.appendChild(img);
                        this.images.push(img);

                        // Delete
                        var img = mxUtils.createImage('/web/assets/images/iflow/zoom_out.png');
                        img.setAttribute('title', 'Delete');
                        img.style.position = 'absolute';
                        img.style.cursor = 'pointer';
                        img.style.width = '16px';
                        img.style.height = '16px';
                        img.style.left = (state.x + state.width) + 'px';
                        img.style.top = (state.y - 16) + 'px';

                        mxEvent.addGestureListeners(img,
                            mxUtils.bind(this, function(evt)
                            {
                                // Disables dragging the image
                                mxEvent.consume(evt);
                            })
                        );

                        mxEvent.addListener(img, 'click',
                            mxUtils.bind(this, function(evt)
                            {
                                graph.removeCells([state.cell]);
                                mxEvent.consume(evt);
                                this.destroy();
                            })
                        );

                        state.view.graph.container.appendChild(img);
                        this.images.push(img);
                    },
                    delOverlay: function(id){
                        let self = this;
                        let cell = self.model.graph.graph.getModel().getCell(id);

                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, "#CCCCCC", [cell]);
                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_FONTCOLOR, "#000000", [cell]);

                        self.model.graph.graph.removeCellOverlays(cell);
                    },
                    addOverlay: function(id, state){
                        let self = this;
                        let cell = self.model.graph.graph.getModel().getCell(id);

                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, "#FF0000", [cell]);
                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_FONTCOLOR, "#FFFFFF", [cell]);

                        self.model.graph.graph.addCellOverlay(cell, createOverlay(graph.warningImage, '状态: '+state));
                    },
                    createOverlay: function(image, tooltip){
                        let self = this;
                        let overlay = new mxCellOverlay(image, tooltip);

                        overlay.addListener(mxEvent.CLICK, function(sender, evt){
                            mxUtils.alert(tooltip);
                        });
                        return overlay;
                    },
                    callJob: function(job){
                        let self = this;

                        return jobHandler.callBobJob(job,'OneSwitch');

                    },
                    cmdVue: function(evt) {
                        let self = this;
                        let _project = _.last(self.model.object.param.parent.split("/"));
                        let _page = self.model.object.param.name;

                        let _vue = new Vue({
                            delimiters: ['#{', '}#'],
                            el: '#cmd_window',
                            data: {
                                cmd: {
                                    start: `as400f -oneswitchfile ` + _project,
                                    end: `as400f -oneswitchfile ` + _project,
                                    reset: {
                                        value: 'ALL',
                                        list: []
                                    },
                                    frequency: self.crontab.frequency
                                }
                            },
                            template: `<div class="animated fadeInLeft" style="font-size:12px;">
                                                    <div class="input-group" style="margin:5px;">
                                                      <input type="text" class="form-control" placeholder="" v-model="cmd.start">
                                                      <div class="input-group-btn">
                                                          <a class="btn btn-success" href="javascript:void(0)" @click="play"><i class="fa fa-play"></i> 开始</a>
                                                      </div>
                                                    </div>
                                                    <div class="input-group" style="margin:5px;">
                                                      <input type="text" class="form-control" placeholder="" v-model="cmd.end">
                                                      <div class="input-group-btn">
                                                         <a class="btn btn-primary" href="javascript:void(0)" @click="stop"><i class="fa fa-stop"></i> 停止</a>
                                                      </div>
                                                    </div>
                                                    <div class="input-group" style="margin:5px;">
                                                      <span class="input-group-addon">选择</span>
                                                      <div class="input-group-select">
                                                          <select class="form-control" v-model="cmd.reset.value">
                                                            <option :value="item.name" v-for="item in cmd.reset.list">#{item.name}#</option>
                                                          </select>
                                                      </div>
                                                      <div class="input-group-btn">
                                                          <a class="btn btn-primary" href="javascript:void(0)" @click="reset"><i class="fa fa-refresh"></i> 重置</a>
                                                      </div>
                                                    </div>
                                                    <div class="input-group" style="margin:5px;">
                                                      <span class="input-group-addon">刷新频率(秒)</span>
                                                      <input type="number" class="form-control" placeholder="" v-model="cmd.frequency">
                                                      <div class="input-group-btn">
                                                         <a class="btn btn-primary" href="javascript:void(0)" @click="apply"><i class="fa fa-clock-o"></i> 应用</a>
                                                      </div>
                                                    </div>
                                                </div>`,
                            created: function () {
                                let me = this;

                                me.loadCells();
                            },
                            methods: {
                                loadCells: function () {
                                    let me = this;

                                    let _cells = self.model.graph.graph.getChildVertices(self.model.graph.graph.getDefaultParent(), true);

                                    _.forEach(_cells, function (cell, k) {
                                        if (!cell.getValue()) return;
                                        me.cmd.reset.list.push({name: cell.getValue(), id: cell.getId()});
                                    })

                                    me.cmd.reset.list.unshift({name: me.cmd.reset.value, id: "ALL"});
                                },
                                play: function () {
                                    let me = this;

                                    alertify.success("任务开始 " + moment().format("LLL"));

                                    evt.target.src = "/web/assets/images/iflow/stop.svg";
                                    $(evt.target).addClass("animated infinite pulse");

                                    let _rtn = self.callJob(me.cmd.start);

                                    if (!_.isEmpty(_rtn.message)) {
                                        alertify.success("返回结果 " + moment().format("LLL") + "\n" + _rtn.message.outputs.join(""));
                                    }

                                },
                                stop: function () {
                                    let me = this;

                                    alertify.success("任务结束 " + moment().format("LLL"));

                                    evt.target.src = "/web/assets/images/iflow/play.svg";
                                    $(evt.target).removeClass("animated infinite pulse");

                                    let _rtn = self.callJob('tasklist');//AS400F -OneSwitchFile AS400A -OneSwitchAction LOAD');
                                    if (!_.isEmpty(_rtn.message)) {
                                        alertify.success("返回结果 " + moment().format("LLL") + "\n" + _rtn.message.outputs.join(""));
                                    }
                                },
                                reset: function () {
                                    let me = this;

                                    let _project = _.last(self.model.object.param.parent.split("/"));
                                    let _page = self.model.object.param.name;

                                    if (me.cmd.reset.value === "ALL") {
                                        jobHandler.jobContextReset(_project);
                                        alertify.log("重置项目 " + moment().format("LLL"));
                                    } else {
                                        let _name = _project + "/" + _page + ".iflow/" + _.find(me.cmd.reset.list, {name:me.cmd.reset.value}).id;
                                        let _value = `{"status":"3","ctrl":"0"}`;

                                        jobHandler.jobContextSetup(_project, _name, _value);
                                        alertify.log("重置节点 " + moment().format("LLL") + " " + me.cmd.reset.value);
                                    }
                                },
                                apply: function(){
                                    let me = this;

                                    self.crontab.frequency = me.cmd.frequency;
                                }
                            }
                        });
                    }
                }
            });


        })
    })
</script>

<script type="text/x-template" id="app-template">
    <div>
        <div id="title">${ model.project | pickTitle } <small style="font-size:45%;">${model.project.stime} - ${model.project.etime}</small></div>
        <div id="graph" style="top:0px;"></div>
        <div id="nav">
            <a href="javascript:void(0);" @click="navToggle();">
                <i class="fa fa-th fa-2x" style="position:absolute;left:5px;top:29px;z-index:1000;color:rgb(219, 219, 219);cursor:pointer;"></i>
            </a>
            <div id="tools"></div>
            <div id="outlineContainer"></div>
        </div>
    </div>
</script>

{{template "base/footer" .}}
