<code>

	<style scoped>
		/*----------  style  ----------*/
		

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="ai-baseline"  ----------*/
	<template>		
		<el-container style="height:100%;">
			<el-header style="line-height:40px;height:40px;text-align:right;">
				<el-tooltip content="保存规则">
					<el-button type="text" @click="save" icon="el-icon-position"></el-button>
				</el-tooltip>
				<el-tooltip content="删除规则">
					<el-button type="text" @click="remove" icon="el-icon-delete"></el-button>
				</el-tooltip>
				<el-tooltip content="查看作业">
					<el-button type="text" @click="job(content.name)" icon="el-icon-date"></el-button>
				</el-tooltip>
				<el-divider direction="vertical"></el-divider>
				<span>#{content.status==1?'启用中':'关闭中'}#</span>
				<el-switch v-model="content.status"
						active-color="#13ce66"
						inactive-color="#dddddd"
						active-value=1
						inactive-value=0
						@change="statusUpdate">
				</el-switch>
			</el-header>
			<el-main style="height:100%;">
				<el-tabs tab-position="left" style="height: 100%;">
					<el-tab-pane label="基本设置">
						<el-form :model="content" label-width="80px" style="height:100%;overflow:auto;">
							<el-form-item label="指定类" style="width:80%;">
								
								<el-input v-model="content.rawclass" clearable autofocus size="small">
									<template slot="prepend">
										<el-dropdown placement="top-end" :hide-on-click="false">
											<el-tooltip content="指定类" open-delay="500">
												<el-button type="text" style="padding:15px;">
													<i class="el-icon-office-building" style="font-size:16px;"></i>
												</el-button>
											</el-tooltip>
											<el-dropdown-menu slot="dropdown">
												<el-dropdown-item>
													<template scope="scope">
														<mx-class-tree id="rawClassTree" :root="select.rawclass" ref="rawClassTree"></mx-class-tree>
													</template>
												</el-dropdown-item>
											</el-dropdown-menu>
										</el-dropdown>
									</template>
								</el-input>
								
							</el-form-item>
							<el-form-item label="基线类" style="width:80%;">

								<el-input v-model="content.baselineclass" clearable autofocus size="small">
									<template slot="prepend">
										<el-dropdown placement="top-end"  :hide-on-click="false">
											<el-tooltip content="指定基线类" open-delay="500">
												<el-button type="text" style="padding:15px;">
													<i class="el-icon-office-building" style="font-size:16px;"></i>
												</el-button>
											</el-tooltip>
											<el-dropdown-menu slot="dropdown">
												<el-dropdown-item>
													<template scope="scope">
														<mx-class-tree id="baselineClassTree" :root="select.baselineclass" ref="baselineClassTree"></mx-class-tree>
													</template>
												</el-dropdown-item>
											</el-dropdown-menu>
										</el-dropdown>
									</template>
								</el-input>
								
							</el-form-item>
							<el-form-item label="黑名单" style="width:80%;">
								<el-input v-model="content.blacklist" clearable autofocus size="small">
									<template slot="prepend">
										<el-dropdown placement="top-end"  :hide-on-click="false">
											<el-tooltip content="指定黑名单类" open-delay="500">
												<el-button type="text" style="padding:15px;">
													<i class="el-icon-office-building" style="font-size:16px;"></i>
												</el-button>
											</el-tooltip>
											<el-dropdown-menu slot="dropdown">
												<el-dropdown-item>
													<template scope="scope">
														<mx-class-muilt-tree :root="select.rawclass" showCheckBox="true" ref="blacklistClassTree"></mx-class-muilt-tree>
													</template>
												</el-dropdown-item>
											</el-dropdown-menu>
										</el-dropdown>
									</template>
								</el-input>
								<!--el-tag
									:key="tag"
									closable
									type=""
									@close="nameRemove(tag)"
									style="margin:0 2px;" v-for="tag in content.blacklist">
									#{tag}#
								</el-tag>
								<el-input
									class="input-new-tag"
									v-if="names.inputVisible"
									v-model="names.inputValue"
									ref="saveTagInput"
									size="small"
									@keyup.enter.native="nameAdd"
									@blur="nameAdd">
								</el-input>
								<el-button v-else class="button-new-tag" size="small" @click="nameInputShow">+</el-button-->
							</el-form-item>
							<el-form-item label="Interval" prop="interval">
								<el-input-number v-model="content.interval" controls-position="right" :min="1"></el-input-number> 秒
							</el-form-item>
							<el-form-item label="Limitday" prop="limitday">
								<el-input-number v-model="content.limitday" controls-position="right" :min="1"></el-input-number>
							</el-form-item>
							<el-form-item label="计算属性">
								<el-checkbox-group v-model="content.ctypelist">
									<el-checkbox label="max" class="el-checkbox">Max</el-checkbox>
									<el-checkbox label="avg" class="el-checkbox">Avg</el-checkbox>
									<el-checkbox label="min" class="el-checkbox">Min</el-checkbox>
								</el-checkbox-group>
							</el-form-item>
							<el-form-item label="Avgtype">
								<el-radio-group v-model="content.avgtype">
									<el-radio label="avg" class="el-radio">Avg</el-radio>
									<el-radio label="median" class="el-radio">Median</el-radio>
								</el-radio-group>    
							</el-form-item>
							
							<el-form-item label="作业名称" prop="name">
								<el-input type="text" v-model="content.name"></textarea></el-input>
							</el-form-item>
							
							<el-form-item label="时间" prop="time">
								<small>#{moment(content.time).format(mx.global.register.format)}#</small>
							</el-form-item>
							<el-form-item label="用户" prop="user">
								<small>#{content.user}#</small>
							</el-form-item>
						</el-form>
					</el-tab-pane>
					<el-tab-pane label="服务器组">
						<el-form :model="content" label-width="80px" style="height:100%;overflow:auto;">
							
							<el-form-item label="服务器组" prop="group">
								<el-input type="text" v-model="content.job.group"></textarea></el-input>
							</el-form-item>
							
						</el-form>
					</el-tab-pane>
					<el-tab-pane label="定时任务">

						<el-form :model="content" label-width="80px" style="height:100%;overflow:auto;">
							
							<el-form-item label="定时器" prop="cron">
								<el-input type="text" v-model="content.job.cron"></textarea></el-input>
							</el-form-item>
							
						</el-form>
					
					</el-tab-pane>
					<el-tab-pane label="消息模板">
						<el-form :model="content" label-width="80px" style="height:100%;overflow:auto;">
									
							<el-form-item label="消息模板" prop="msg">
								<el-input type="textarea" rows="10" v-model="content.msg"></textarea></el-input>
							</el-form-item>
							
						</el-form>
					</el-tab-pane>
				</el-tabs>
				
			</el-main>
		</el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="ai-baseline">
	{
        delimiters: ['#{', '}#'],
		props: {
            model: Object
		},
		data(){
			return {
				select:{
					rawclass: '/matrix/devops',
					baselineclass: '/matrix/devops/performance',
					blacklist: []
				},
				names:{
					inputVisible: false,
					inputValue: ''
				},
				content: {
							"rawclass": "",
							"baselineclass": "",
							"interval": 60,
							"limitday": 30,
							"src": "mxperf",
							"avgtype": "avg",
							"blacklist": [

							],
							"ctypelist": [
								"max",
								"min",
								"avg"
							],
							"status": "1",
							"job": {
								"group": "mxsvr",
								"cron": " 0 0 * * *"
							},
							"id": "1557193206275",
							"name": "月基线",
							"description": "",
							"ospace": "matrix",
							"user": "admin",
							"time": 1589206764172,
							"source": "AI",
							"subject": "BASELINE",
							"title": "基线计算分析",
							"threshold": 2,
							"msg": "基线告警：{{.name}}基线计算分析超过基线最大值{{.threshold}}倍，请知晓！"
							}
			}
		},
		created(){
			this.content = this.model.content;
		},
		mounted(){
			// watch数据更新
			this.$watch(
				"$refs.rawClassTree.selected",{
					handler:(val, oldVal) => {
						this.$set(this.content,'rawclass', val.class);
					},
					deep:true
				}
			);
			this.$watch(
				"$refs.baselineClassTree.selected",{
					handler:(val, oldVal) => {
						this.$set(this.content,'baselineclass', val.class);
					},
					deep:true
				}
			);
			this.$watch(
				"$refs.blacklistClassTree.selected",{
					handler:(val, oldVal) => {
						this.$set(this.content, 'blacklist', _.map(val,'class'));
						console.log(val,_.map(val,'class'))
					},
					deep:true
				}
			);
			
		},
		methods: {
			save(){
				const self = this;

				let attr = {ctime: _.now()};
				let rtn = fsHandler.fsNew('json', self.model.parent, self.model.name, JSON.stringify(self.content,null,2), attr);
			},
			// 删除规则
			remove() {
				
				alertify.confirm(`确认要删除该规则? <br><br> ${this.model.name}`,  (e)=> {
					if (e) {
						// 删除文件系统
						let rtn = fsHandler.fsDelete(this.model.parent, this.model.name);
						if (rtn == 1){
							// 刷新rules
							this.$root.$refs.aiSetup.load();
							this.$root.$refs.aiSetup.close(this.model.id);

							this.$message({
								type: "success",
								message: "删除成功！"
							})
						} else {
							this.$message({
								type: "error",
								message: "删除失败 " + rtn.message
							})
						}
					} else {
						
					}
				})
			},
			nameRemove(tag) {
				const self = this;

				self.content.blacklist.splice($.inArray(tag,self.content.blacklist), 1)

				// 更新规则，没有关键字时status=0
				_.extend(self.content, {blacklist: self.content.blacklist});
				
			},
			nameInputShow() {
				const self = this;

				self.names.inputVisible = true;
				self.$nextTick(_ => {
					self.$refs.saveTagInput.$refs.input.focus();
				});
			},
			nameAdd() {
				const self = this;

				let inputValue = self.names.inputValue;
				if (inputValue) {
					self.content.blacklist.push(inputValue);
				}

					// 更新规则，没有关键字时status=0
					_.extend(self.content, {blacklist: self.content.blacklist});

					self.names.inputVisible = false;
					self.names.inputValue = '';
			},
			statusUpdate(evt){
				const self = this;
				
				_.extend(self.content,{status:evt+'', ospace:window.COMPANY_OSPACE, user: window.SignedUser_UserName,time: _.now()});
				
				// 更新到文件系统
				let attr = {ctime: _.now()};
				let rtn = fsHandler.fsNew('json', self.model.parent, self.model.name, JSON.stringify(self.content,null,2), attr);

				// 生成JOB
				if(evt == 1){
					let rtn = baseLineHandler.baseLineToJob(self.content);
				}
			},
			job(term){
				let url = `/matrix/job?term=${window.btoa(encodeURIComponent(term))}`;
				window.open(url,'_blank');
			}
		}
	
	}
	</script>

</code>
