<code>

	<style scoped>
		/*----------  style  ----------*/
		
        /* edge flow Effect */
        .ai-neural-graph .flow {
		  stroke-dasharray: 8;
		  animation: dash 0.5s linear;
		  animation-iteration-count: infinite;
		}
		@keyframes dash {
		  to {
		    stroke-dashoffset: -16;
		  }
		}

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="ai-neural-graph"  ----------*/
	<template>		
		<el-container style="height:100%;">
            <el-header style="height:40px;line-height: 40px;">
                <mx-entity-class-keys-cascader root="/matrix/entity" 
                    multiplenable="true" 
                    :value="model"
                    style="position: absolute;z-index: 100;">
                </mx-entity-class-keys-cascader>
            </el-header>
            <el-main ref="graphContainer" style="width:100vw;height:100vh;min-width:100vw;position:releative;overflow:hidden;padding:0px;">
			</el-main>
		</el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="ai-neural-graph">
	{
        delimiters: ['#{', '}#'],
		props: {
            model: Object
		},
		data(){

			return {
                graph: {
                    inst: null,
                    hidden: 300
                },
				setup: {
                    show: false
                }
			}
        },
        watch:{
            'model.hidden':{
                handler(val,oldVal){
                    this.onHiddenChange(val);
                },
                deep:true
            },
            'model.input':{
                handler(val,oldVal){
                    this.onInputChange(val);
                },
                deep:true
            },
            'model.output':{
                handler(val,oldVal){
                    this.onOutputChange(val);
                },
                deep:true
            }
        },
		created(){
			
		},
		mounted(){
            this.initGraph(this.$refs.graphContainer.$el);
		},
		methods: {
            onHiddenChange(val){
                let graph = this.graph.inst;
                
                graph.getModel().beginUpdate();

                try {
                    let cell = graph.getModel().getCell('hidden');

                    if(!cell){
                        this.initHidden(graph);
                    } else {
                        cell.setValue(val);  
                        graph.refresh();
                    }
                    
                } finally {
                    // Updates the display
                    graph.getModel().endUpdate();
                }
            
            },
            onInputChange(val){
                var graph = this.graph.inst;
                let parent = graph.getDefaultParent();
                let w = 220;
                let h = 40;
                
                let hiddenCell = null;
                
                try{
                    hiddenCell = graph.getModel().getCell('hidden');
                    if(!hiddenCell){
                        hiddenCell = this.initHidden(graph);
                    }
                } catch(err){
                    
                }

                graph.getModel().beginUpdate();
                try {
                    _.forEach(val.perfs,(v)=>{
                        let cell = null;
                        let inputCell = null;
                        let edgeId = null;
                        
                        try{
                             cell = graph.getModel.getCell(v);
                            if(!cell){
                                inputCell = graph.insertVertex(parent, v, v, 20, 20, w, h, 'fillColor=blue');
                            }
                        } catch(err){
                            inputCell = graph.insertVertex(parent, v, v, 20, 20, w, h, 'fillColor=blue');
                        } finally {
                            edgeId = [v,'hidden'].join("-");
                            graph.insertEdge(parent, edgeId, edgeId, inputCell, hiddenCell, 'strokeColor=#888888;verticalAlign=bottom');
                        }
                    })

                } finally {
                    graph.getModel().endUpdate();
                    
                    this.executeLayout();
                }
            
            },
            onOutputChange(val){
                var graph = this.graph.inst;
                let parent = graph.getDefaultParent();
                let w = 220;
                let h = 40;
                let hiddenCell = null;
                
                try{
                    hiddenCell = graph.getModel().getCell('hidden');
                    if(!hiddenCell){
                        hiddenCell = this.initHidden(graph);
                    }
                } catch(err){
                    
                }
                
                graph.getModel().beginUpdate();
                try {
                    _.forEach(val.perfs,(v)=>{
                        let cell = null;
                        let outputCell = null;
                        let edgeId = null;
                        
                        try{
                            cell = graph.getModel.getCell(v);
                            if(!cell){
                                outputCell = graph.insertVertex(parent, v, v, 20, 20, w, h, 'fillColor=red');
                            }
                        } catch(err){
                            outputCell = graph.insertVertex(parent, v, v, 20, 20, w, h, 'fillColor=red');
                        } finally {
                            edgeId = [v,'hidden'].join("-");
                            graph.insertEdge(parent, edgeId, edgeId, hiddenCell, outputCell, 'strokeColor=#888888;verticalAlign=bottom');
                        }
                    })
                    

                } finally {
                    graph.getModel().endUpdate();
                    
                    this.executeLayout();
                }
            
            },
            initHidden(graph){
                
                let parent = graph.getDefaultParent();

                graph.getModel().beginUpdate();

                try {
                    let cell = graph.getModel().getCell('hidden');
                    if(!cell){
                        return graph.insertVertex(parent, 'hidden', 300, 300, 120, 80, 80, 'fillColor=green');
                    }
                } catch(err){
                    return null;
                }
                finally {
                    // Updates the display
                    graph.getModel().endUpdate();
                }
            },
			initGraph(container){
                // Checks if the browser is supported
                if (!mxClient.isBrowserSupported())
                {
                    // Displays an error message if the browser is not supported.
                    mxUtils.error('Browser is not supported!', 200, false);
                }
                else
                {
                    mxConstants.SHADOWCOLOR = '#c0c0c0';
                    
                    // Creates the graph inside the given container
                    let graph = this.graph.inst = new mxGraph(container);

                    // No size handles, please...
                    graph.setCellsResizable(true);

                    // Makes all cells round with a white, bold label
                    var style = graph.stylesheet.getDefaultVertexStyle();
                    style[mxConstants.STYLE_FONTCOLOR] = 'white';
                    style[mxConstants.STYLE_FONTSTYLE] = mxConstants.FONT_BOLD;
                    style[mxConstants.STYLE_FONTSIZE] = 12;
                    style[mxConstants.STYLE_SHADOW] = true;

                    // Makes all edge labels gray with a white background
                    style = graph.stylesheet.getDefaultEdgeStyle();
                    style[mxConstants.STYLE_FONTCOLOR] = 'gray';
                    style[mxConstants.STYLE_FONTSTYLE] = mxConstants.FONT_BOLD;
                    style[mxConstants.STYLE_FONTCOLOR] = 'black';
                    style[mxConstants.STYLE_STROKEWIDTH] = 2;
                    
                    // Enables rubberband selection
                    new mxRubberband(graph);

                    // 容器大小自适应 
                    graph.setResizeContainer(false);
                    
                    graph.setDropEnabled(true);

                    // 是否允许平移。true：表示按住Shift+左键拖动时，整个graph移动；
                    // false：按住Shift+左键拖动时，选中的图形水平方向或者垂直方向平移。
                    graph.setPanning(true);
                    mxPanningHandler.prototype.isPanningTrigger = function(me) {
                        var evt = me.getEvent();
                        return true;
                    };

                    // 禁止改变节点大小
                    graph.setCellsResizable(false);
                    // 禁止节点文字编辑功能
                    graph.setCellsEditable(false);
                    
                    // 禁止连线移动
                    graph.disconnectOnMove = false;
                    
                    // 居中缩放
                    graph.centerZoom = true;
                    // Tooltips on touch devices
                    graph.setTooltips(!mxClient.IS_TOUCH);
                    // 支持Html
                    graph.setHtmlLabels(true);

                    // 去锯齿效果
				    mxRectangleShape.prototype.crisp = true;

                    // 鼠标框选
                    new mxRubberband(graph);
                    
                    // Gets the default parent for inserting new cells. This
                    // is normally the first child of the root (ie. layer 0).
                    var parent = graph.getDefaultParent();

                    // 初始化滚轮图缩放事件监听
                    this.addScrollListener(graph.container, this.wheelHandle);
                                    
                    try{
                        let doc = mxUtils.parseXml(this.model.model);
                        let codec = new mxCodec(doc);
                        codec.decode(doc.documentElement, graph.getModel());
                    } catch(err){
                        
                    } finally{
                        this.initHidden(graph);
                    }
                    
                    // Installs a popupmenu handler using local function (see below).
                    const self = this;
                    // 首先禁用浏览器右键菜单
                    mxEvent.disableContextMenu(this.$el);
                    // 右键菜单
                    //this.model.editor.graph.popupMenuHandler.autoExpand = true;
                    graph.popupMenuHandler.factoryMethod = function(menu, cell, evt){
                        self.createPopupMenu(graph, menu, cell, evt);
                    };
                }
            },
            // 删除选择的节点
            deleteSelectedCells(graph,includeEdges){
                // Cancels interactive operations
                graph.escape();
                var cells = graph.getDeletableCells(graph.getSelectionCells());
                
                if (cells != null && cells.length > 0){
                    var parents = graph.model.getParents(cells);
                    graph.removeCells(cells, includeEdges);
                    
                    // Selects parents for easier editing of groups
                    if (parents != null){
                        var select = [];
                        
                        for (var i = 0; i < parents.length; i++){
                            if (graph.model.contains(parents[i]) &&
                                (graph.model.isVertex(parents[i]) ||
                                graph.model.isEdge(parents[i]))){
                                select.push(parents[i]);
                            }
                        }
                        graph.setSelectionCells(select);
                    }
                }
            },
            createPopupMenu(graph, menu, cell, evt){
                // node/edge menu
                if (cell != null){
                    // node
                    let id = cell.getId();
                    let value = cell.getValue();

                    // node
                    if(!cell.edge){

                        menu.addItem('删除节点', null, (evt)=>{
                            this.deleteSelectedCells(graph,evt != null && mxEvent.isShiftDown(evt));
                        });


                    } 
                    // edge
                    else {
                        
                        menu.addItem('删除边', null, (evt)=>{
                            this.deleteSelectedCells(graph,evt != null && mxEvent.isShiftDown(evt));
                        });
                    }
                } 
                // container menu
                else {
                    
                    menu.addItem('选择节点', null, ()=>{
                        graph.selectVertices();
                    }, null);
                
                    menu.addItem('选择边', null, ()=>{
                        graph.selectEdges();
                    }, null);

                    menu.addItem('选择所有', null, ()=>{
                        graph.selectAll(null, true);
                    }, null);
                    
                    menu.addSeparator();

                    menu.addItem('清空', null, ()=>{
                        graph.selectAll(null, true);
                        this.deleteSelectedCells(graph,evt != null && mxEvent.isShiftDown(evt));
                    },null);
                    
                }
                
            },
            // 设置布局
            executeLayout(){
                let graph = this.graph.inst;
                let parent = graph.getDefaultParent();
                let layout = null;
                
                // Layout hierarchical
                graph.getModel().beginUpdate();
                try {
                    layout = new mxHierarchicalLayout(graph, mxConstants.DIRECTION_WEST);
                    layout.edgeStyle = layout.edgeStyle;
                    layout.intraCellSpacing = 80;
                    layout.interRankCellSpacing = 80;
                    var selectionCells = graph.getSelectionCells();

                    layout.execute(graph.getDefaultParent(), selectionCells.length == 0 ? null : selectionCells);
                } catch (e) {
                    throw e;
                } finally {
                    var morph = new mxMorphing(graph);  
                    morph.addListener(mxEvent.DONE, function(){  
                        graph.getModel().endUpdate();  
                    });  
                        
                    morph.startAnimation();  
                }
                
            },
            addScrollListener(element, wheelHandle) {
                if (typeof element != 'object') return;
                if (typeof wheelHandle != 'function') return;

                // 监测浏览器
                if (typeof arguments.callee.browser == 'undefined') {
                    var user = navigator.userAgent;
                    var b = {};
                    b.opera = user.indexOf("Opera") > -1 && typeof window.opera == "object";
                    b.khtml = (user.indexOf("KHTML") > -1 || user.indexOf("AppleWebKit") > -1 || user.indexOf("Konqueror") > -1) && !b.opera;
                    b.ie = user.indexOf("MSIE") > -1 && !b.opera;
                    b.gecko = user.indexOf("Gecko") > -1 && !b.khtml;
                    arguments.callee.browser = b;
                }
                if (element == window)
                    element = document;
                if (arguments.callee.browser.ie)
                    element.attachEvent('onmousewheel', wheelHandle);
                else
                    element.addEventListener(arguments.callee.browser.gecko ? 'DOMMouseScroll' : 'mousewheel', wheelHandle, false);
            },
            wheelHandle(e) {
                var upcheck;
                let graph = this.graph.inst;
                if (e.wheelDelta) {
                    upcheck = e.wheelDelta > 0 ? 1 : 0;
                } else {
                    upcheck = e.detail < 0 ? 1 : 0;
                }
                if (upcheck) {
                    graph.zoomIn();
                }
                else {
                    graph.zoomOut();
                }

                if (window.event) {
                    e.returnValue = false;
                    window.event.cancelBubble = true;
                } else {
                    e.preventDefault();
                    e.stopPropagation();
                }
            }
		}
	
	}
	</script>

</code>
