<code>

	<style scoped>
		/*----------  style  ----------*/
		.ai-robot-component{
			height: 100%;
		}

		.no-border{
			padding:5px;
			background-color: #f9f9f9;
		}

		.ws-setup{
			padding:7px!important;
		}
		
		.ai-robot-component .el-aside {
			text-align: center;
			line-height: 30px;
			background-color: rgb(249, 249, 249);
			overflow: hidden;
		}
		.ai-robot-component .el-aside ul {
			height: 100%;
			list-style: none;
			padding: 0px;
		}
		.ai-robot-component .el-aside ul li{
			border-radius: 5px;
			margin-bottom: 2px;
		}
		
		.ai-robot-component .el-aside .el-button.selected{
			background: #f7f7f7;
		}

		/* ai robot chats to */
		.ai-robot-component ul.chats{
			padding:0px;
		}
		.ai-robot-component ul.chats>li {
			list-style-type:none;
		}
		.ai-robot-component .chats .to {
			text-align: right;
		}
		.ai-robot-component .chats .to .date-time {
			float: left;
		}
		.ai-robot-component .chats .to .name {
			text-align: right;
		}
		.ai-robot-component .chats .to .image {
			float: right;
		}
		.ai-robot-component .chats .to .image+.message {
			margin-right: 50px;
			margin-left: 0;
		}

		.ai-robot-component .chats .to .message:after, 
		.ai-robot-component .chats .to .message:before {
			left: auto;
			right: -14px;
			border-right-color: rgba(0, 0, 0, 0);
			border-left-color: rgb(255, 255, 255);
		}

		.ai-robot-component .chats .to .message:after {
			right: -13px;
			border-left-color: rgb(255, 255, 255);
		}

		/* ai robot chats from */
		.ai-robot-component .chats .from {
			text-align: left;
		}
		.ai-robot-component .chats .date-time {
			font-size: 10px;
			display: block;
			float: right;
			color: rgb(153, 153, 153);
			margin-top: 3px;
		}

		.ai-robot-component .chats .name {
			color: rgb(51, 51, 51);
			display: block;
			margin-bottom: 5px;
			font-weight: 600;
			text-decoration: none;
		}

		.ai-robot-component .chats .image {
			float: left;
			width: 48px;
			height: 48px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			overflow: hidden;
		}
		.ai-robot-component .chats .image+.message {
			margin-left: 50px;
		}

		.ai-robot-component .chats .message {
			border: 1px solid rgb(255, 255, 255);
			padding: 7px 12px;
			font-size: 12px;
			position: relative;
			background: rgb(255, 255, 255);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			text-align: left;
		}

		.ai-robot-component .chats .message:after, 
		.ai-robot-component .chats .message:before{
			border-right-color: #ffffff;
		}

		.ai-robot-component .chats>li:after, 
		.ai-robot-component .chats>li:before {
			content: '';
			display: table;
			clear: both;
		}

		/* el-tabs */
		.ai-robot-component .el-tabs__header{
			background: rgb(228, 231, 237);
			width: 80px;
			height: 100%;
		}
		.ai-robot-component .el-tabs,
		.ai-robot-component .el-tabs__content{
			height: 100%;
		}

		.ai-robot-component .el-tabs__item{
			font-size: 12px;
			height: 60px;
			line-height: 60px;
			text-align: center!important;
			padding: 0px;
		}

		.ai-robot-component .el-container, .ai-robot-component .el-tab-pane{
			height: 100%;
		}

		.ai-robot-component .el-tabs--left .el-tabs__header.is-left{
			margin: 0px;
		}

		.ai-robot-component .is-active{
			box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1);
		}
		
		/* AI ROBOT */
		.robot-ai-setup-neuralnetwork-cell text {
			pointer-events: none;
		}
		
		.robot-ai-setup-neuralnetwork-cell .node:hover {
			stroke: #999;
			stroke-opacity: .6;
			stroke-width: 4px;
		}
		
		.robot-ai-setup-neuralnetwork-cell .link {
			stroke: #999;
			stroke-opacity: .6;
		}

		.el-form-item__label {
			font-size: 12px;
		}

		.el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label {
			line-height: 40px;
		}

		.el-card__header{
			padding: 0 10px;
			border-bottom: none;
		}

		.el-card__body {
			padding: 10px;
		}
		.el-tag + .el-tag {
			margin-left: 10px;
		}
		.button-new-tag {
			margin-left: 10px;
			height: 32px;
			line-height: 30px;
			padding-top: 0;
			padding-bottom: 0;
		}
		.input-new-tag {
			width: 90px;
			margin-left: 10px;
			vertical-align: bottom;
		}

		.transition{
			background: #fff;
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
			font-size: 12px;
		}


		/* svg line flow effect */
		.ai-robot-component line {
			fill: none;
			stroke: #7d2d68;
			stroke-width: 17px;

			/* Stroke-dasharray property */
			stroke-dasharray: 10; 
			stroke-dashoffset: 50;

			animation: move 2s linear infinite;     
		}
		@keyframes move {
			100% {
				stroke-dashoffset: 0;
			}
		}

		/* 左边 Tabs 样式 */
		.ai-robot-component .el-tabs__nav.is-left{
			position: relative;
    		height: 100%;
		}
		.ai-robot-component .el-tabs__nav.is-left #tab-robot-ai{
			position: absolute;
			top: 0;
			width: 100%;
			height: 60px;
			margin-top: 20px;
		}
		.ai-robot-component .el-tabs__nav.is-left #tab-robot-message{
			margin-top: 40px;
		}
		.ai-robot-component .el-tabs__nav.is-left #tab-robot-setup{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px;
		}

		.ai-robot-component .el-tabs--left .el-tabs__header.is-left {
			background: #242c46;
		}

		.ai-robot-component .el-tabs--left .el-tabs__header.is-left .el-tabs__item.is-left {
			color: #ffffff;
		}

		.ai-robot-component .el-tabs--left .el-tabs__header.is-left .el-tabs__item.is-left.is-active {
			color: #2eb9fd;
		}
		.ai-robot-component .el-tabs--left .el-tabs__header.is-left .el-tabs__item.is-left.is-active:hover {
			color: #f7f7f7;
		}

		.ai-robot-component .el-tabs--left .el-tabs__nav-wrap::after{
			background:transparent;
		}

		.ai-robot-component .el-input--small .el-input__inner{
			height:30px!important;
			line-height:30px!important;
		}

		.ai-robot-component .el-button+.el-button {
			margin-left: 0!important;
		}

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="ai-robot-component"  ----------*/
	<template>		
		<el-container>
			<el-main style="padding:0px;height:100%;">
				<el-tabs :tab-position="tabs.position" v-model="tabs.activeName" @tab-click="onClick">
					<el-tab-pane name="robot-ai">
						<span slot="label"><img src="/fs/assets/images/robot/png/robot.png?issys=true&type=download" class="image" style="width: 68px;"></span>
						<ai-robot></ai-robot>
					</el-tab-pane>
					<el-tab-pane label="消息"  name="robot-message">
						<ai-message></ai-message>
					</el-tab-pane>

					<el-tab-pane label="文件"  name="robot-files">
						<ai-message></ai-message>
					</el-tab-pane>

					<el-tab-pane label="设置"  name="robot-setup">
						<ai-setup></ai-setup>
					</el-tab-pane>
				</el-tabs>
			</el-main>
		</el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="ai-robot-component">
	{
        delimiters: ['${', '}'],
		props: {
            id: String,
		},
		data:function(){
			return {
				tabs:{
					position: 'left',
					activeName: 'robot-message'
				}
            }
		},
        created: function(){
            
        },
        mounted: function(){
			
        },
		destroyed: function(){
			
		},
        methods: {
            onClick(tab){
				if(tab.index == 2){
					window.open("/janesware/files","_blank");
				}
			}
        }
	
	}
	</script>

</code>
