<code>

	<style scoped>
		/*----------  style  ----------*/
		.ai-robot-component ul ol{
			padding: 5px 40px;
			background-color: rgb(249, 249, 249);
			border-radius: 5px;
			margin-bottom: 2px;
		}

		.chats .image img {
			max-width: 65%;
		}

		.chats .image+.message {
			margin-left: 55px;
		}

		.chats .name {
			font-weight: 200;
		}

		.no-border{
			padding:5px;
			background-color: #f9f9f9;
		}

		.ws-setup{
			padding:7px!important;
		}

		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="ai-robot-component"  ----------*/
	<template>
		<div class="panel" :id="id">
			<div class="collapse" id="wsSetup">
				<div class="input-group">
					<input type="text" class="form-control no-border" v-model="wsUrl">
					<span class="input-group-btn">
		                <button class="btn btn-default ws-setup" type="button" @click="apply">应用</button>
		            </span>
				</div>
			</div>
			<div class="panel-body">
				<div class="height-sm"  data-scrollbar="true">
					<ul class="chats">
						<li class="left">
							<span class="date-time">${moment().format("LLL")}</span>
							<a data-toggle="collapse" href="#wsSetup" class="name">告警事件</a>
							<a href="javascript:;" class="image"><img alt="" src="/web/assets/images/robot/event.svg" /></a>
							<div class="message animated infinite pulse">
								<div style="margin-left:-40px;">
									<span>${_.last(message)}</span>
								</div>
							</div>
						</li>
						<li class="left">
							<span class="date-time">${moment().format("LLL")}</span>
							<a href="javascript:;" class="name">根原因分析</a>
							<a href="javascript:;" class="image"><img alt="" src="/web/assets/images/robot/service.svg" /></a>
							<div class="message">
								<div style="margin-left:-40px;">
									<span>当前根原因事件：文件系统/opt使用率超过99%</span>
								</div>
							</div>
						</li>
						<li class="left">
							<span class="date-time">${moment().format("LLL")}</span>
							<a href="#" class="name"><span class="label label-primary"></span>词频预警</a>
							<a href="javascript:;" class="image"><img alt="" src="/web/assets/images/robot/event.svg" /></a>
							<div class="message">
								<div style="margin-left:-40px;">
									<span>system.log中ERROR关键字超过正常值2倍。</span>&nbsp;&nbsp;
									<span>PMTS告警事件中，host=wecise事件超过正常值。</span>
								</div>
							</div>
						</li>
						<li class="left">
							<span class="date-time">${moment().format("LLL")}</span>
							<a href="#" class="name">基线预警</a>
							<a href="javascript:;" class="image"><img alt="" src="/web/assets/images/robot/performance.svg" /></a>
							<div class="message">
								<div style="margin-left:-40px;">
									<span>wecise服务器CPU使用率超过基线值200%。</span>
								</div>
							</div>
						</li>
						<li class="left">
							<span class="date-time">${moment().format("LLL")}</span>
							<a href="#" class="name">关联分析</a>
							<a href="javascript:;" class="image"><img alt="" src="/web/assets/images/robot/cell.svg" /></a>
							<div class="message">
								<div style="margin-left:-40px;">
									<span>关联模型一异常</span>&nbsp;&nbsp;
									<span>关联模型二异常</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="ai-robot-component">
	{
        delimiters: ['${', '}'],
		props: {
            id: String,
		},
		data:function(){
			return {
				ws: null,
				wsUrl: 'ws://47.92.151.165/websocket/event',//'wss://echo.websocket.org',
				message: ["这里接收事件"],
				cron:{
                    sched: null,
                    timer: null
				}
            }
		},
        created: function(){
            let self = this;

            eventHub.$on("win-close-event",self.wsClose);

        },
        watch: {

        },
        mounted: function(){
            let self = this;

            self.$nextTick(function(){
				_.delay(function(){
				    self.init();
                },500);

				self.initPlugin();
            })
        },
		destroyed: function(){
			let self = this;

            webSocketClose(self.ws);
		},
        methods: {
            init: function(event) {
                let self = this;

                self.ws = new WebSocket('ws://47.92.151.165/websocket/event');//webSocketNew(self.wsUrl);

                self.ws.onopen = function() {

                    //alertify.log("已连接");

                    if (self.ws.readyState === 1) {
                        self.ws.send("发送测试数据");
                    }
                };

                self.ws.onmessage = function (ev) {
                    //alertify.log('接收消息');
                    self.message.push(ev.data);
                };

                self.ws.onclose = function()
                {
                    alertify.log("连接关闭...");
                    self.message = ["..."];
                };

                self.ws.onerror = function(e){
                    console.log(e);
                };



            },
            initPlugin: function(){
            	let self = this;

                self.cron.sched = later.parse.text('every 5 sec');
                self.cron.timer = later.setInterval(self.sendMessage, self.cron.sched);

            },
	        sendMessage: function(){
                let self = this;

                if (self.ws.readyState === 1) {
                    self.ws.send(`事件来了 ${moment().format("hh:mm:ss a")} 来自 ${self.wsUrl}`);
                }
	        },
            apply: function(){
                let self = this;

                if(self.ws){

                    webSocketClose(self.ws);

                    self.init();

                    $('#wsSetup').collapse('hide');
                }
            },
	        wsClose: function(){
                let self = this;

                self.cron.sched = null;
                self.cron.timer = null;

                webSocketClose(self.ws);
	        }
        }
	
	}
	</script>

</code>
