<code>

	<style scoped>
		/*----------  style  ----------*/
        /* .pace{
            display: none!important;
        }
         */
        .topological-timeline {
            height: 100%;
            border: 1px solid #ddd;
            border-top:unset;
        }

        .topological-timeline .vis-timeline {
            border: unset;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            background: #fff;
            height: 100%;            
        }

        .vis-background.vis-item-content {
            z-index: 11111;
            height: 100%!important;
            width: 100%!important;
        }

        .vis-item {
            border-color: #ff0000;
            background-color: #ff0000;
        }

        .topological-timeline .el-color-picker--mini > .el-color-picker__trigger {
            height: 12px;
            width: 12px;
            margin: 0px 0px -1px 5px;
            padding:unset;
            border:unset;
        }

        .topological-timeline .el-divider.el-divider--vertical{
            margin: 8px 12px;
            background: #333;
        }

        .topological-timeline .el-radio-button__inner,
        .topological-timeline .el-input__inner{
            background: transparent;
            border:unset;
        }

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="topological-timeline"  ----------*/
	<template>
        <el-container style="height:240px;width:100%;">
            <el-aside width="200px">
                <el-tree 
                    show-checkbox
                    default-expand-all 
                    :data="tree.data" :props="tree.defaultProps"
                    @node-click="onNodeClick"
                    @check-change="onNodeCheckChange"
                    style="background: transparent;"
                    ref="tree">
                    <span slot-scope="{ node, data }" style="width:100%;height:30px;line-height: 30px;">
                        <span>#{node.label}#</span>
                        <el-color-picker v-model="data.color" size="mini" v-if="data.children.length==0"></el-color-picker>
                    </span>  
                </el-tree>
            </el-aside>
            <el-container style="width:100%;height:100%;background: #fff;">
                <el-header style="height:30px;line-height: 30px;display: flex;padding:0px;margin-right:14px;">
                    <div style="width:95%;">
                        <el-date-picker
                            v-model="timeline.pickDate"
                            type="datetime"
                            :picker-options="timeline.pickerOptions"
                            align="right"
                            size="mini"
                            style="width:200px;">
                        </el-date-picker>
                    
                        <el-radio-group v-model="timeline.pickRange" size="mini">
                            <el-radio-button :label="30 * 60 * 1000">30 分钟</el-radio-button>
                            <el-radio-button :label="60 * 60 * 1000">60 分钟</el-radio-button>
                            <el-radio-button :label="120 * 60 * 1000">120 分钟</el-radio-button>
                            <el-radio-button :label="-1">全部</el-radio-button>
                        </el-radio-group>
                        <el-divider direction="vertical"></el-divider>
                        <el-tooltip content="放大" open-delay="500">
                            <el-button type="text" icon="el-icon-zoom-in" @click="onTimelineZoomin(0.2)" style="padding:5px 0px;"></el-button>
                        </el-tooltip>
                        <el-tooltip content="缩小" open-delay="500">
                            <el-button type="text" icon="el-icon-zoom-out" @click="onTimelineZoomout(0.2)" style="padding:5px 0px;"></el-button>
                        </el-tooltip>
                        <el-divider direction="vertical"></el-divider>
                        <el-checkbox v-model="timeline.showDiff">显示差异</el-checkbox>
                    </div>
                    <div style="width:5%;text-align: right;">
                        <el-tooltip content="关闭" open-delay="500">
                            <el-button type="text" icon="el-icon-close" style="float:right;" @click="onClose"></el-button>
                        </el-tooltip>
                    </div>
                </el-header>
                <el-main style="width:100%;height:100%;padding:0px;display: flex;overflow: hidden;">
                    <el-button type="text" icon="el-icon-arrow-left" @click="onTimeLineMove(0.2)"></el-button>
                    <div id="timeline" ref="timeline" style="width:100%;height:100%;position: relative;"></div>
                    <el-button type="text" icon="el-icon-arrow-right" @click="onTimeLineMove(-0.2)"></el-button>
                </el-main>
            </el-container>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="topological-timeline">
	{
	    delimiters: ['#{', '}#'],
	    props: {
	        model: Array
	    },
	    data() {
            return {
                timeline:{
                    showDiff:false,
                    pickDate: _.now(),
                    pickRange: -1,
                    pickerOptions: {
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    },
                    inst: null,
                    items:  new vis.DataSet(),
                    options: {
                        height: '100%',
                        margin: {
                            item: 10
                        },
                        type: "point",
                        editable: true,
                        zoomMin: 60 * 60 * 1000,
                        zoomMax: 60 * 60 * 24 * 1000 * 365 * 5,
                        showCurrentTime: true,
                        showWeekScale: true,
                        zoomable: false,
                        stack: true,
                        verticalScroll: true,
                        locale: 'zh_CN'
                        
                    }
                },
                tree: {
                    data: [{
                        id: 1,
                        name: 'all',
                        label:'实体关联数据',
                        children: [{
                            id: 11,
                            name: 'event',
                            label: '事件',
                            children: [],
                            color:"#ff0000"
                        },
                        {
                            id: 12,
                            name: 'ticket',
                            label: '工单',
                            children: [],
                            color:"#ffff00"
                        }]
                    }],
                    defaultProps: {
                        children: 'children',
                        label: 'label'
                    },
                    selected:null,
                    diagnosisData: null
                }
            }
        },
        watch: {
            model: function(val,oldVal){
                this.setItems();
            },
            'tree.selected': function(val,oldVal){
                this.setItems();
            },
            'timeline.pickDate':function(val,oldVal){
                this.setTimelineRange();
            },
            'timeline.pickRange':function(val,oldVal){
                this.setTimelineRange();
            }
        },
        created(){
            this.setItems();
	    },
	    mounted() {
            this.$nextTick(() => {
                
                _.delay(()=>{
                    this.timeline.inst = new vis.Timeline(this.$refs.timeline, this.timeline.items, this.timeline.options);
                    this.timeline.inst.fit({animation: true});
                    this.timeline.inst.on('select', this.onSelect);
                    this.timeline.inst.on("doubleClick",(properties)=> {
                        let props = this.timeline.inst.getEventProperties(properties.event)
                        this.onClick(props);
                    })
                },50)
                
            })
	        
	    },
	    methods: {
            onNodeCheckChange(data, checked, indeterminate){
                this.tree.selected = _.groupBy(this.$refs.tree.getCheckedNodes(),'name');
            },
            onNodeClick(data) {
                console.log(data);
            },
            add(){
                //this.timeline.items.pLOWERh();
            },
            setTimelineRange(){
                try{

                    let start,end = null;

                    if(this.timeline.pickRange == -1){
                        if(!_.isEmpty(this.tree.diagnosisData)){
                            let data = _.orderBy(_.filter(_.flatMap(this.tree.diagnosisData),null),['vtime'],['asc']);
                            start = moment( _.head(data)['vtime'] ).add(-1,'days');;
                            end = moment( _.last(data)['vtime'] ).add(1,'days');;
                        }
                        
                    } else {
                        start = moment(this.timeline.pickDate).add(-this.timeline.pickRange);
                        end = moment(this.timeline.pickDate).add(+this.timeline.pickRange);
                    }
                    
                    this.timeline.inst.setOptions({start:start,end:end});
                } catch(err){
                    
                }
            },
            setItems(){

                this.timeline.items.clear();

                // 判断是否勾选，勾选的数据才显示到时间轴上
                if(_.isEmpty(this.tree.selected)) {
                    return false;
                }
                
                let term = this.model.join(";");
                this.tree.diagnosisData = fsHandler.callFsJScript("/matrix/graph/getDiagnosisDataByIds.js",encodeURIComponent(term)).message;
                _.forEach(this.tree.diagnosisData,(v,k)=>{
                    
                    // 判断是否勾选，勾选的数据才显示到时间轴上
                    if(this.tree.selected[k]){
                        if(k==='event'){
                            let items  = _.map(v,(val)=>{
                                let bgColor = mx.global.register.event.severity[val.severity][2];
                                let item = {
                                    id: v.id,
                                    group: k,
                                    content: `<button type="button" class="el-button el-button--mini" style="background:${bgColor};float:left;text-align:left;">
                                                ${val.host}<br>
                                                ${val.msg || val.desc}<br>
                                                ${moment(val.vtime).format("YYY-MM-DD HH:MM:SS")}
                                            </button>`,
                                    start: val.vtime
                                };
                                return item;
                            });
                            this.timeline.items.add(items);
                        } else {
                            let items  = _.map(v,(val)=>{
                                let item = {
                                    id: v.id,
                                    group: k,
                                    content: `<button type="button" class="el-button el-button--mini" style="float:left;text-align:left;">
                                                ${val.host}<br>
                                                ${val.msg || val.desc}<br>
                                                ${moment(val.vtime).format("YYY-MM-DD HH:MM:SS")}
                                            </button>`,
                                    start: val.vtime
                                };
                                return item;
                            });
                            this.timeline.items.add(items);
                        }
                    }

                }); 

            },
            onTimelineZoomin(percentage){
                this.timeline.inst.zoomIn(percentage);
            },
            onTimelineZoomout(percentage){
                this.timeline.inst.zoomOut(percentage);
            },
            onTimeLineMove(percentage){
                let range = this.timeline.inst.getWindow();
                let interval = range.end - range.start;

                this.timeline.inst.setWindow({
                    start: range.start.valueOf() - interval * percentage,
                    end:   range.end.valueOf()   - interval * percentage
                });
            },
            onSelect(properties) {
                console.log('selected items: ' + properties.items);
            },
            onClick(props){
                
                try{
                    let timeline = this.timeline.inst;
                    
                    if (props.what === 'custom-time') {
                        timeline.removeCustomTime(props.customTime);
                    } else {
                        
                        let id = moment(props.time.toString()).format("YYYY-MM-DD HH:MM:SS");

                        let oldTerm = this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.$refs.searchToolbar.term.split(" diff ");
                        oldTerm[1] = `'${id}'`;
                        let term = oldTerm.join(" diff ")
                        
                        this.$message({
                            type: "info",
                            message: " 图查询: " + term
                        });

                        _.delay(()=>{
                            this.$root.$refs.graphViewRef.search( encodeURIComponent(term) );
                            this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.$refs.searchToolbar.term = term;
                        },500)

                        // 添加标注
                        timeline.addCustomTime(props.time, id);
                        timeline.setCustomTimeMarker(term, id);
                    }

                } catch(err){

                }

            },
            onClose(){
                this.$parent.$parent.$parent.$parent.model.graph.footbar.show = false;
                this.$parent.$parent.$parent.$parent.model.control.show = true;
            }
	    }
	
	}
	</script>

</code>
