<code>

	<style scoped>
		/*----------  style  ----------*/
        .topological-graph-component{
            height: 100%;
        }
		.topological-graph-component .container{
			width: 100%!important;
			height: calc(100vh - 225px)!important;
            overflow:auto;
            top: 40px;
		}

		.topological-graph-component .outlineContainer {
			z-index:1;
			position:absolute;
			overflow:hidden;
			top:40px;
			right:35px;
			width: 80px;
			height:80px;
			background: transparent;
			box-shadow: unset;
			border: 1px solid rgb(42, 147, 249);
		}

		.topological-graph-component .tools {
			z-index: 100;
			position: absolute;
			overflow: hidden;
			top: 0px;
			left: 0px;
			width: 45%;
			height: 36px;
			padding: 2px 4px;
		}

		.topological-graph-component .tools > img {
			width:18px;
			height:18px;
			margin: 0px 5px;
            filter: opacity(1) invert(0.5);
		}

        .topological-graph-component .form-control-transparent{
            border-bottom: unset;
        }

        .topological-graph-component .tools-search {
			width:50%;
            float:right;
            margin-right:10px;
            border: 1px solid rgb(58, 96, 153);
		}

        .topological-graph-component .tools-search .form-control,
        .topological-graph-component .tools-search .text-muted {
			color: #dddddd;
            background: unset;
            border: unset;
		}

		.topological-graph-component .node-menu{
			width:20vw;
		}

		.topological-graph-component .nav{
			background: transparent;
			margin: 0 -10px;
			position: relative;
		}


	</style>

	
	/*----------  最外层element会自动增加组件同名 class="topological-graph-component"  ----------*/
	<template>
		<div :id="id">
			<div :id="id+'-container'" class="container"></div>
			<div :id="id+'-nav'" class="nav">
                <div :id="id+'-tools'" class="tools"></div>
                <div class="tools-search"><div :id="id+'-tools-search'"></div></div>
				<div :id="id+'-outlineContainer'" class="outlineContainer"></div>
			</div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="topological-graph-component">
	{
	    delimiters: ['${', '}'],
	    props: {
	        id: String,
	        graphData: Object,
	    },
	    data: function () {
	        return {
                model:{
                    graph:{
                        container: null,
                        model: null,
                        graph: null,
	                    layout: {
                            default: null,
                            hierarchical:null,
                            organic: null
                        },
                        nodes:null,
                        edges:null,
                        paths:[],
                        colors:['#ff0000','#ffd700','#666666','#00ffff','#40e0d0','#ff7373','#d3ffce','#3399ff','#000080','#66cccc','#a0db8e','#794044','#6897bb','#cc0000'],
	                    layers: {
                            root: null,
		                    layer1: null,
                            layer2: null,
                            layer3: null,
                            layer4: null,
                            layer5: null,
                            layer6: null,
                            layer7: null
	                    },
                        orientation: {
                            value:0,
	                        list:['north','south']
                        },
	                    parent: null,
                        theme: "",
                        outline: null,
                    }
                }
	        }
	    },
	    watch:{
	        graphData:function(val,oldVal){
                if(val === oldVal) return false;

                this.reload();
            }
        },
        created:function(){
	        const self = this;
            eventHub.$on(`PATH-TOGGLE-EVENT-${self.id}-graph-path`,self.addPath);
	    },
	    mounted: function() {
	        const self = this;

	        self.$nextTick(function(){

                self.init();
                self.initPlugIn();
	            
	        })
	    },
	    methods: {
            init() {
                const self = this;

                if (!mxClient.isBrowserSupported())
                {
                    // Displays an error message if the browser is
                    // not supported.
                    mxUtils.error('Browser is not supported!', 200, false);
                }
                else
                {

                    self.model.graph.container = document.getElementById(`${self.id}-container`);
                    document.getElementById(self.id).appendChild(self.model.graph.container);

                    //mxEvent.disableContextMenu(self.model.graph.container);

                    if (mxClient.IS_QUIRKS)
                    {
                        document.body.style.overflow = 'hidden';
                        new mxDivResizer(self.model.graph.container);
                        new mxDivResizer(outline);
                    }

                    // Creates the graph inside the given container
                    // self.model.graph.layers.root = new mxCell();
                    //
                    // self.model.graph.model = new mxGraphModel(self.model.graph.layers.root);
                    self.model.graph.graph = new mxGraph(self.model.graph.container);
                    self.model.graph.graph.resizeContainer = true;

                    // Enables automatic sizing for vertices after editing and
                    // panning by using the left mouse button.
                    self.model.graph.graph.setEnabled(false);
                    self.model.graph.graph.setCellsMovable(true);
                    self.model.graph.graph.setAutoSizeCells(true);
                    self.model.graph.graph.setPanning(true);
                    self.model.graph.graph.centerZoom = true;
                    self.model.graph.graph.panningHandler.useLeftButtonForPanning = true;
                    // Disables tooltips on touch devices
                    self.model.graph.graph.setTooltips(!mxClient.IS_TOUCH);
                    self.model.graph.graph.htmlLabels = true;

                    new mxCellTracker(self.model.graph.graph);

                    self.model.graph.graph.getCursorForCell = function(cell){
                        if (cell != null && cell.value != null && cell.vertex ==1 ){
                            return 'pointer';
                        }
                    }

                    // Displays a popupmenu when the user clicks
                    // on a cell (using the left mouse button) but
                    // do not select the cmxCellRenderer.prototype.createLabelell when the popup menu
                    // is displayed
                    self.model.graph.graph.panningHandler.popupMenuHandler = false;


                    // Creates a layout algorithm to be used with the graph
                    self.model.graph.layout.hierarchical = new mxHierarchicalLayout(self.model.graph.graph);
                    self.model.graph.layout.organic = new mxFastOrganicLayout(self.model.graph.graph);
                    self.model.graph.layout.default = self.model.graph.layout.hierarchical;

                    self.model.graph.parent = self.model.graph.graph.getDefaultParent();

                    self.initGraph();

                    self.cellsEvent();

                }
            },
            deleteCells(includeEdges){
                const self = this;
                // Cancels interactive operations
                self.model.graph.graph.escape();
                var cells = self.model.graph.graph.getDeletableCells(self.model.graph.graph.getSelectionCells());
                
                if (cells != null && cells.length > 0)
                {
                    var parents = self.model.graph.graph.model.getParents(cells);
                    self.model.graph.graph.removeCells(cells, includeEdges);
                    
                    // Selects parents for easier editing of groups
                    if (parents != null)
                    {
                        var select = [];
                        
                        for (var i = 0; i < parents.length; i++)
                        {
                            if (self.model.graph.graph.model.contains(parents[i]) &&
                                (self.model.graph.graph.model.isVertex(parents[i]) ||
                                self.model.graph.graph.model.isEdge(parents[i])))
                            {
                                select.push(parents[i]);
                            }
                        }
                        
                        self.model.graph.graph.setSelectionCells(select);
                    }
                }
            },
            initGraph(){
                const self = this;

                self.model.graph.graph.getModel().beginUpdate();

                try
                {
                    self.model.graph.graph.getModel()

                    self.model.graph.nodes = {};
                    let orderNodes = _.orderBy(self.graphData.nodes,['level'],['asc']);
                    //let orderNodes = _.groupBy(self.graphData.edges,'source');
                    console.log(_.groupBy(self.graphData.edges,'source'))
                    _.forEach(orderNodes,function(v){

                        let _type = v._icon || 'matrix';
                        let _name =  _.last(v.id.split(":")) || '';
                        let node = self.model.graph.graph.insertVertex(self.model.graph.parent, v.id, _name, 50, 50, 120, 50,
                            `shape=image;html=1;image=${window.ASSETS_ICON}/entity/png/${_type}.png?type=download&issys=${window.SignedUser_IsAdmin};verticalLabelPosition=bottom;verticalAlign=top;fontColor=#849EB6;`);

                        self.model.graph.nodes[v.id] = node;
                    })

                    _.forEach(self.graphData.edges,function(k){
                        let source =  self.model.graph.nodes[k.source];
                        let target = self.model.graph.nodes[k.target];
						let baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;html=1;rounded=1;jettySize=auto;orthogonalLoop=1;endArrow=block;endFill=1;';
                        let direction = '';
                        if(k.twoway){
                            direction = 'startArrow=block;endArrow=block;endFill=1;';
                        }

                        let edge = self.model.graph.graph.insertEdge(self.model.graph.parent, k.id, k.class, source, target, baseEdgeStyle+direction);
                    })

                    // Executes the layout
	                self.model.graph.layout.default.execute(self.model.graph.parent);
                }
                finally
                {
                    self.model.graph.graph.getModel().endUpdate();

                    self.toCenter();
                    
                }
            },
            initPlugIn(){
                const self = this;

                this.outline();
                this.toolBars();
                new Vue(topological.searchBar()).$mount(`#${this.id}-tools-search`);

            },
            reload(){
                $(this.$el).find(`#${this.id}-container`).empty();
                $(this.$el).find(`#${this.id}-outlineContainer`).empty();
                this.deleteCells();
                this.init();
                this.outline();
            },
            cellsEvent(){
                const self = this;

                self.model.graph.graph.addListener(mxEvent.DOUBLE_CLICK, function(sender, evt) {
                    let cell = evt.getProperty('cell');

                    if(_.isEmpty(cell)) return;

                    let id = cell.getId();
                    let value = cell.getValue();
                    // 点击获取关联信息
                    topological.association({id:id,value:value,type:'event'});
                })

                self.model.graph.graph.addListener(mxEvent.CLICK, function(sender, evt) {

                    let cell = evt.getProperty('cell');

                    if(_.isEmpty(cell)) return;

                    let id = cell.getId();
                    let value = cell.getValue();

                    let state = self.model.graph.graph.view.getState(cell);
                    let nodeDic = _.groupBy(self.graphData.nodes,'id');

                    state.shape.node.getElementsByTagName("image")[0].setAttribute('class', `${value} ${id.replace(/:/g,"_")} animated flash`);
                    state.shape.node.getElementsByTagName("image")[0].setAttribute('data-item', JSON.stringify(nodeDic[id]));
                    
                    // copy to copyboard
                    let clipboard2 = new Clipboard('g image',{
                        text: function(trigger) {

                            $.contextMenu({
                                selector: `.${id.replace(/:/g,"_")}`,
                                trigger: 'right',
                                delay: 10,
                                hideOnSecondTrigger: true,
                                className: `animated slideIn node-menu`,
                                build: function($trigger, e) {

                                    let temp = _.attempt(JSON.parse.bind(null, e.target.attributes.getNamedItem('data-item').value));
                                    let items = {};
                                    let menu = callFsJScript('/graph/contextmenu.js', null).message;
                                    _.forEach(menu,function(v){
                                        return _.merge(items, v);
                                    })
                                    
                                    return {
                                        callback: function(key, opt) {
                                            // 点击获取关联信息
                                            topological.association({id:id,value:value,type:key});
                                        },
                                        items:items
                                    }
                                },
                                events: {
                                    show: function(opt) {
                                        let $this = this;
                                    },
                                    hide: function(opt) {
                                        let $this = this;
                                        $(".context-menu-list animated slideIn").remove();
                                    }
                                }
                            });

                            return id;
                        }
                    });
                    //self.tip(`ID：${id} 已复制到剪切板！`);

                });
            },
            tip(event){
                const self = this;
                alertify.log(event + ' ' + moment().format("LLL"));
            },
            outline(){
                let self = this;

                let outline = document.getElementById(`${self.id}-outlineContainer`);

                self.model.graph.outline = new mxOutline(self.model.graph.graph, outline);

            },
		    saveas(){
				let self = this;

                let encoder = new mxCodec();
                let node = encoder.encode(self.model.graph.graph.getModel());
                let xml = mxUtils.getPrettyXml(node);

                alertify.prompt("文件名称", function (e, str) {
                    // str is the input text
                    if (e) {
                        // user clicked "ok"
	                    let parent = '/opt/creative/admin';
	                    let ftype = 'imap';
	                    let name = `${str}.${ftype}`;
	                    let attr = {remark: null, ctime: _.now(), author: window.SignedUser_UserName, type: 'imap', icon: `${window.ASSETS_ICON}/files/png/imap.png?type=download&issys=${window.SignedUser_IsAdmin}`};
                        let rtn = fsNew('file', parent, name, xml, attr);
	                    if(rtn == 1){

	                        let item = _.merge({parent:parent,name:name,attr:attr,ftype:ftype},{lang: 'zh', action:'run'});

                            let url = genFsUrl(item,null,null);

                            alertify.success(`已保存到/fs${[parent,name].join("/")}，<a class="btn btn-success" href="${url}" target="_blank">点击前往编辑或查看</a>`);
	                    }
                    } else {
                        // user clicked "cancel"
                    }
                }, "");



		    },
            toolBars() {
                let self = this;

                let content = document.getElementById(`${self.id}-tools`);
                content.style.padding = '4px';

                let tb = new mxToolbar(content);

                tb.addItem('{{.i18n.Tr "creative-saveas"}}', `${window.ASSETS_ICON}/tools/png/saveas.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {
                    self.saveas();

                },null,'tools-item');


                tb.addItem('{{.i18n.Tr "creative-tools-refresh"}}', `${window.ASSETS_ICON}/tools/png/refresh.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {
                    self.reload();

                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-zoom_in"}}', `${window.ASSETS_ICON}/tools/png/zoom_out.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {
                    self.model.graph.graph.zoomIn();
                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-zoom_out"}}', `${window.ASSETS_ICON}/tools/png/zoom_in.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {
                    self.model.graph.graph.zoomOut();
                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-print"}}', `${window.ASSETS_ICON}/tools/png/print.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {
                    var scale = mxUtils.getScaleForPageCount(1, self.model.graph.graph);
                    var preview = new mxPrintPreview(self.model.graph.graph, scale);
                    preview.open();

                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-fullscreen"}}', `${window.ASSETS_ICON}/tools/png/fullscreen.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {
                    self.model.graph.graph.fit();

                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-direction"}}', `${window.ASSETS_ICON}/tools/png/direction.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {


                    self.model.graph.graph.getModel().beginUpdate();

                    try
                    {
                        if(self.model.graph.orientation.value == 0){
                            self.model.graph.orientation.value = 1;
                        } else {
                            self.model.graph.orientation.value = 0;
                        }

                        self.model.graph.layout.default.orientation = self.model.graph.orientation.list[self.model.graph.orientation.value];

                        // Executes the layout
                        self.model.graph.layout.default.execute(self.model.graph.parent);
                    }
                    finally
                    {
                        self.model.graph.graph.getModel().endUpdate();

                        self.toCenter();

                    }


                },null,'tools-item-direction');

                tb.addItem('{{.i18n.Tr "creative-tools-path"}}', `${window.ASSETS_ICON}/tools/png/path.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {
                    self.path();

                },null,'tools-item');
                
                tb.addItem('主题', `${window.ASSETS_ICON}/tools/png/theme.png?type=download&issys=${window.SignedUser_IsAdmin}`,function(evt)
                {
                    topological.toggleTheme();

                },null,'tools-item');

            },
            toCenter(){
                const self = this;

                self.model.graph.graph.fit();
                self.model.graph.graph.center(true,false,0.5,0.5);

            },
            path(){
                const self = this;
                try{
                    if(jsPanel.activePanels.getPanel('jsPanel-路径')){
                        jsPanel.activePanels.getPanel('jsPanel-路径').close();
                    }
                }catch(error){

                }
                finally{
                    maxWindow.winGraphPath('路径', `<div id="${self.id}-graph-path"></div>`, null, `#${self.id}`, self.pathHandle);
                }
            },
            pathHandle(){
                const self = this;
                let dataset = [];
                let cols = {
                                "path":_.concat([{field:"num",title:"序号"}],_.map(self.graphData.pathtags,function(v){ return {field:v,title:v}}))
                            };
                
                _.forEach(self.graphData.paths,function(v,index){
                    dataset.push( _.merge({num:`路径${++index}`,class:"path"},v));
                })
                let node = { data: _.groupBy(dataset,'class'), columns: cols};
                let path = topological.path(`${self.id}-graph-path`,`${self.id}-graph-path`, node);
                new Vue(path);
            },
            addPath(event){
                const self = this;

                // 过滤event
                let paths = _.map(event,function(v){
                                    return _.omit(v,['num','class']);
                                });
                
                self.model.graph.graph.getModel().beginUpdate();
                
                try
                {
                    self.model.graph.graph.getModel()

                    if(self.model.graph.paths.length){
                        self.removePath();
                    }

                    _.forEach(paths,function(v,index){
                        // keys
                        var keys = _.keys(v);
                        // values
                        var values = _.values(v);
                        
                        for(var i=0;i<keys.length;i++){
                            let source = self.model.graph.nodes[v[keys[i]]];
                            let target = self.model.graph.nodes[v[keys[i+1]]];
                            if(_.isUndefined(target)){
                                return;
                            }
                            let baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;orthogonalLoop=1;strokeWidth=1;dashed=1;startFill=0;endArrow=none;endFill=0;startArrow=none;orthogonal=1;elbow=vertical;';
                            let strokeColor = self.model.graph.colors[index] || _.sample(self.model.graph.colors);
                            
                            // 绘制路径
                            let hasPath = self.model.graph.graph.getModel().getCell(`path${index+1}${i}`);
                            if(!hasPath){
                                let path = self.model.graph.graph.insertEdge(self.model.graph.parent, `path${index+1}${i}`, `${index+1}`, source, target, baseEdgeStyle+`strokeColor=${strokeColor};`);
                                self.model.graph.paths.push(path);
                            }
                        }
                    })

                    // Executes the layout
	                self.model.graph.layout.default.execute(self.model.graph.parent);
                }
                finally
                {
                    self.model.graph.graph.getModel().endUpdate();
                }
            },
            removePath(){
                const self = this;

                // Cancels interactive operations
                self.model.graph.graph.escape();
                var cells = self.model.graph.paths;
                
                if (cells != null && cells.length > 0)
                {
                    self.model.graph.graph.removeCells(cells, true);
                }
            }
	    }
	
	}
	</script>

</code>
