<code>

	<style scoped>
		/*----------  style  ----------*/
        .topological-graph-component{
            height: 100%;
        }

        .topological-graph-component .graph-container {
            position: unset!important;
        }

        /* .topological-graph-component .container {
            position: absolute;
            z-index: 10000;
            right: 0px;
            left: 60px;
            top: 80px;
            bottom: 28px;
            cursor: default;
            overflow: auto;
        }
        */
        
        .topological-graph-component .container > svg {
            /* width: 100%!important;
            height: 100%!important;
            cursor: default;
            display: block;
            position: absolute;
            background-image: none; */
            min-width: 100vw!important;
            min-height: 100vh!important;
        }
        

		.topological-graph-component .outlineContainer {
			z-index:1;
			position:absolute;
			overflow:hidden;
			top:40px;
			right:35px;
			width: 80px;
			height:80px;
			background: transparent;
			box-shadow: unset;
			border: 1px solid rgb(42, 147, 249);
		}

		

        .topological-graph-component .form-control-transparent{
            border-bottom: unset;
        }

        

        .topological-graph-component .tools-search .form-control,
        .topological-graph-component .tools-search .text-muted {
			color: #dddddd;
            background: unset;
            border: unset;
		}

		.topological-graph-component .node-menu{
			width:20vw;
		}

		.topological-graph-component .nav{
			background: rgb(255, 255, 255);
            border-bottom: 1px solid #f7f7f7;
            position: relative;
            top: 0;
            left: 0;
            height: 32px;
            line-height: 32px;
            /* box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); */
            display: flex;
        }

        .topological-graph-component .tools-search {
			width: 50%;
            float: right;
            height: 100%;
            line-height: 30px;
            border: 1px solid rgb(255, 255, 255);
            background: #f7f7f7;
        }
        
        .topological-graph-component .tools-search .el-input__inner {
			background: transparent;
        }

        /* ToolBar */
        .topological-graph-component .tools {
			overflow: hidden;
            width: 45%;
            height: 100%;
            display: flex;
            padding: 0px;
		}

        .topological-graph-component .tools .el-color-picker__trigger{
            width: 18px;
            height: 18px;
            padding: 0px;
            border: unset;
        }
        .topological-graph-component .tools > a + a {
            padding: 0 5px;
        }
        .topological-graph-component .tools > a{
            line-height: 24px;
            height:24px;
        }

        .topological-graph-component .vertical-toolbar{
            position: fixed;
            width: 29px;
            height: auto;
            bottom: 8em;
            background: #ffffff;
            z-index: 22224;
            right: 3em;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
            border-radius: 8px;
            padding: 0px 6px;
        }

        .topological-graph-component .horizontal-toolbar{
            position: fixed;
            width: auto;
            height: 29px;
            bottom: 5em;
            background: #ffffff;
            z-index: 22224;
            right: 3em;
            -webkit-transform: translateZ(0);
            box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
            border-radius: 8px;
            padding: 0px 6px;
        }

        .topological-graph-component .footerbar {
            height: 40px!important;
            line-height:40px;
            position: fixed;
            z-index:20;
            bottom: 30px;
            width: 87vw;
            display:flex;
            padding: 5px;
        }
        .topological-graph-component .footerbar > a{
            padding: 0px 10px 0px 5px;
            background: #fff;
            height: 30px;
            line-height: 30px;
            overflow-y: auto;
            border-radius: 20px;
        }
        .topological-graph-component .footerbar > a:hover{
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }
        .topological-graph-component .footerbar > a > span{
            background: #ddd;
            padding: 5px 8px;
            border-radius: 15px;
        }
        .topological-graph-component .footerbar > a + a{
            margin-left: 5px;
        }

        .el-tooltip__popper.is-light {
            background: #FFF;
            /* border: 1px solid #303133; */
            padding: 10px;
            position: absolute;
            background: #fff;
            min-width: 150px;
            border-radius: 4px;
            border: 1px solid #ebeef5;
            padding: 12px;
            z-index: 2000;
            color: #606266;
            line-height: 1.4;
            text-align: justify;
            font-size: 14px;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            word-break: break-all;
        }

        .el-tooltip__popper is-light .popper__arrow, .el-popper .popper__arrow:after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent!important;
            border-style: solid;
        }

        .el-divider.el-divider--horizontal{
            margin: 0px;
        }

        /* 工具栏拾色器 */
        .topological-graph-component .el-color-picker{
            padding: unset!important;
        }

        .topological-graph-component .el-color-picker--small .el-color-picker__trigger {
            height: 18px;
            width: 18px;
            padding: 2px;
            margin-top: 4px;
            border:none;
        }

        .el-color-dropdown.el-color-picker-dropdown.el-color-picker__panel{
            z-index: 30000!important;
        }

        /* jsPanel graphAction */
        .graphAction .input-with-select.el-input.el-input--small{
            border-bottom: 1px solid #ddd!important;
        }
        .graphAction .el-input-group__append, .graphAction .el-input-group__prepend, .graphAction .el-input__inner {
            background-color: transparent!important;
            border: unset!important;
        }

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="topological-graph-component"  ----------*/
	<template>
		<el-main style="overflow:hidden;padding: 0px;">
            <el-container :id="id" style="height:100%;">
                <el-header class="nav" :id="id+'-nav'" style="height:30px;line-height: 30px;padding:0px 0px 0px 10px;">
                    <div class="tools" :id="id+'-tools'">
                        <el-tooltip content="图查询" open-delay="500">
                            <el-button type="text" @click="path" class="el-icon-search" style="font-size:18px;padding:0px 4px 4px 0px;"></el-button>
                        </el-tooltip>
                        <el-tooltip content="编辑" open-delay="500">
                            <a href="javascript:void(0);" @click="editIt">
                                <img :src="'design' | genFileName" style="width:18px;height:18px;"></el-button>
                            </a>
                        </el-tooltip>
                        <el-tooltip content="另存为" open-delay="500">
                            <a href="javascript:void(0);" @click="saveas">
                                <img :src="'saveas' | genFileName" style="width:18px;height:18px;">
                            </a>
                        </el-tooltip>
                        <el-tooltip content="图节点显示名称选择" open-delay="500">
                            <div :id="'attributes-select-'+id"></div>
                        </el-tooltip>
                    </div>
                    <graph-view-manager class="tools-manager" :id="id+'-tools-manager'"></graph-view-manager>
                    <graph-view-search class="tools-search" :id="id+'-tools-search'"></graph-view-search>
                    <div class="outlineContainer" :id="id+'-outlineContainer'"></div>
                    <div class="vertical-toolbar">
                        <el-tooltip content="放大" open-delay="500" placement="left">
                            <a href="javascript:void(0);" @click="zoomIn">
                                <img :src="'zoom_out' | genFileName" style="width:18px;height:18px;">
                            </a>
                        </el-tooltip>
                        <el-divider></el-divider>
                        <el-tooltip content="缩小" open-delay="500" placement="left">
                            <a href="javascript:void(0);" @click="zoomOut">
                                <img :src="'zoom_in' | genFileName" style="width:18px;height:18px;">
                            </a>
                        </el-tooltip>
                        <el-divider></el-divider>
                        <el-tooltip content="刷新" open-delay="500" placement="left">
                            <a href="javascript:void(0);" @click="reload">
                                <img :src="'refresh' | genFileName" style="width:18px;height:18px;">
                            </a>
                        </el-tooltip>
                        <el-divider></el-divider>
                        <el-tooltip content="自适应" open-delay="500">
                            <a href="javascript:void(0);" @click="fit">
                                <img :src="'fullscreen' | genFileName" style="width:18px;height:18px;">
                            </a>
                        </el-tooltip>
                        <el-divider></el-divider>
                        <el-tooltip content="调整图方向" open-delay="500">
                            <a href="javascript:void(0);" @click="layout">
                                <img :src="'direction' | genFileName" style="width:18px;height:18px;">
                            </a>
                        </el-tooltip>
                        <el-divider></el-divider>
                        <el-tooltip content="打印" open-delay="500">
                            <a href="javascript:void(0);" @click="print">
                                <img :src="'print' | genFileName" style="width:18px;height:18px;">
                            </a>
                        </el-tooltip>
                        <el-divider></el-divider>
                        <el-tooltip content="调整图背景" open-delay="500">
                            <el-color-picker
                                v-model="model.graph.theme.color"
                                show-alpha
                                :predefine="model.graph.theme.predefineColors"
                                @change="theme"
                                style="padding:4px 8px;">
                            </el-color-picker>
                        </el-tooltip>
                    </div>
                    <div class="horizontal-toolbar">
                            <el-tooltip content="展开" open-delay="500" placement="left">
                                <a href="javascript:void(0);" @click="expandHorizontalBar">
                                    <i :class="['animated fadeIn fas', model.graph.footbar.show ? 'fa-angle-double-down' : 'fa-angle-double-up']" style="width: 20px;
                                                                            height: 22px;
                                                                            line-height: 22px;
                                                                            text-align: center;">
                                </a>
                            </el-tooltip>
                            
                            <a href="javascript:void(0);" @click="expandHorizontalBar">
                                历史 ${_.size(model.graph.history)} 
                            </a>
                            
                    </div>
                </el-header>
                <el-main :id="id+'-container'" style="height:calc(100vh - 110px);padding:0px;">
                </el-main>
                <transition-group tag="el-footer" class="footerbar animated fadeInRight" :style="{display: model.graph.footbar.show?'':'none'}">
                    <el-tooltip :content="item.term" v-for="(item,index) in model.graph.history" effect="light" :key="item.id" class="animated fadeIn">
                        <a href="javascript:void(0);" @click="forward(item)"><span>${index+1}</span> ${moment(item.time).format("YYYY-MM-DD HH:mm:ss")} <span class="fas fa-copy copy" @click="onCopy(item.term)"></span></a>
                    </el-tooltip>
                </transition-group>
            </el-container>
		</el-main>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="topological-graph-component">
	{
	    delimiters: ['${', '}'],
	    props: {
	        id: String,
            graphData: Object,
            inst: Object
	    },
	    data() {
            
            return {
                model:{
                    graph:{
                        container: null,
                        model: null,
                        graph: null,
                        selectedCell: null,
	                    layout: {
                            default: null,
                            hierarchical:null,
                            organic: null
                        },
                        nodes:null,
                        edges:null,
                        edgeList: fsHandler.callFsJScript("/matrix/graph/edges.js",null).message,
                        paths:[],
                        colors:['#ff0000','#ffd700','#666666','#00ffff','#40e0d0','#ff7373','#d3ffce','#3399ff','#000080','#66cccc','#a0db8e','#794044','#6897bb','#cc0000'],
	                    layers: {
                            root: null,
		                    layer1: null,
                            layer2: null,
                            layer3: null,
                            layer4: null,
                            layer5: null,
                            layer6: null,
                            layer7: null
	                    },
                        orientation: {
                            value:0,
	                        list:['north','south']
                        },
	                    parent: null,
                        outline: null,
                        default: {
                            title: 'name'
                        },
                        theme:{
                            color: "#FFFFFF",
                            predefineColors: [
                                                '#ffffff',
                                                '#f7f7f7',
                                                '#dddddd',
                                                '#e7e7e7',
                                                '#c7c7c7',
                                                '#6b778d',
                                                '#263859',
                                                '#17223b',
                                                '#333333',
                                                ]
                        },
                        history:[],
                        footbar:{
                            show: false
                        }
                    }
                }
	        }
        },
        filters: {
            genFileName(event){
                return `${window.ASSETS_ICON}/tools/png/${event}.png?type=open&issys=${window.SignedUser_IsAdmin}`;
            }
        },
	    watch:{
	        graphData:{
                handler:function(val,oldVal){
                    if(val === oldVal) return false;
                    this.reload();
                },
                deep:true
            }
        },
        created(){
            eventHub.$on(`PATH-TOGGLE-EVENT-${this.id}-graph-path`,this.addPath);

            eventHub.$on("TOPOLOGICAL-ANALYSIS-CALLBACK", this.removePath);
            
            //初始化theme
            this.model.graph.theme.color = localStorage.getItem(`GRAPH-VIEW-THEME-${window.SignedUser_UserName}`);
	    },
	    mounted() {
	        const self = this;

	        self.$nextTick(function(){

                _.delay(function(){
                    self.init();
                    self.initPlugIn();
                },500)
	            
	        })
	    },
	    methods: {
            init() {
                const self = this;

                if (!mxClient.isBrowserSupported())
                {
                    // Displays an error message if the browser is
                    // not supported.
                    mxUtils.error('Browser is not supported!', 200, false);
                }
                else
                {

                    self.model.graph.container = document.getElementById(`${self.id}-container`);
                    // 滚动效果
                    // self.model.graph.container.style.minHeight = "80vh";
                    
                    // 拖拽效果
                    self.model.graph.container.style.position = 'releative';
                    self.model.graph.container.style.overflow = 'hidden';
                    self.model.graph.container.style.left = '0px';
                    self.model.graph.container.style.top = '0px';
                    self.model.graph.container.style.right = '0px';
                    self.model.graph.container.style.bottom = '0px';
                    document.getElementById(self.id).appendChild(self.model.graph.container);

                    //mxEvent.disableContextMenu(self.model.graph.container);

                    if (mxClient.IS_QUIRKS)
                    {
                        document.body.style.overflow = 'hidden';
                        new mxDivResizer(self.model.graph.container);
                        new mxDivResizer(outline);
                    }

                    // Enables crisp rendering of rectangles in SVG
                    //mxConstants.ENTITY_SEGMENT = 20;

                    // self.model.graph.model = new mxGraphModel(self.model.graph.layers.root);
                    self.model.graph.graph = new mxGraph(self.model.graph.container);
                    
                    // 容器大小自适应
                    //self.model.graph.graph.setResizeContainer(true);

                    // 节点大小调整
				    self.model.graph.graph.setCellsResizable(false);

                    // Enables automatic sizing for vertices after editing and
                    // panning by using the left mouse button.
                    // self.model.graph.graph.setEnabled(false);
                    // self.model.graph.graph.setCellsMovable(false);
                    // self.model.graph.graph.setAutoSizeCells(true);

                    //是否可以移动 
                    mxGraphHandler.prototype.setMoveEnabled(true);
                    //显示节点位置标尺  
                    mxGraphHandler.prototype.guidesEnabled = true;
                    
                    self.model.graph.graph.centerZoom = true;
                    // 右键移动镜头
                    self.model.graph.graph.setPanning(true);
                    // 左键移动镜头
                    self.model.graph.graph.panningHandler.useLeftButtonForPanning = true;
                    // Disables tooltips on touch devices
                    self.model.graph.graph.setTooltips(!mxClient.IS_TOUCH);
                    // 支持Html
                    self.model.graph.graph.setHtmlLabels(true);

                    // 鼠标框选
                    new mxRubberband(self.model.graph.graph);

                    // Sets global styles
                    var style = self.model.graph.graph.getStylesheet().getDefaultEdgeStyle();
                    style[mxConstants.STYLE_EDGE] = mxEdgeStyle.EntityRelation;
                    style[mxConstants.STYLE_ROUNDED] = true;

                    style = self.model.graph.graph.getStylesheet().getDefaultVertexStyle();
                    style[mxConstants.STYLE_FILLCOLOR] = '#2f8ee7';
                    style[mxConstants.STYLE_FONTCOLOR] = '#333333';
                    style[mxConstants.STYLE_FONTSIZE] = '14';
                    style[mxConstants.STYLE_SHAPE] = 'swimlane';
                    style[mxConstants.STYLE_SPACING] = '10';
                    style[mxConstants.STYLE_STARTSIZE] = 30;

                    style = [];
                    style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_RECTANGLE;
                    style[mxConstants.STYLE_STROKECOLOR] = 'none';
                    style[mxConstants.STYLE_FILLCOLOR] = 'none';
                    style[mxConstants.STYLE_FOLDABLE] = false;
                    style = self.model.graph.graph.getStylesheet().putCellStyle('column', style);
                    
                    new mxCellTracker(self.model.graph.graph);

                    // 预览时鼠标悬浮到节点时，改变鼠标样式
                    self.model.graph.graph.getCursorForCell = function(cell){
                        if (cell != null && cell.value != null && cell.vertex ==1 ){
                            return 'pointer';
                        }
                    }

                    // Displays a popupmenu when the user clicks
                    // on a cell (using the left mouse button) but
                    // do not select the cmxCellRenderer.prototype.createLabelell when the popup menu
                    // is displayed
                    self.model.graph.graph.panningHandler.popupMenuHandler = false;


                    // Creates a layout algorithm to be used with the graph
                    self.model.graph.layout.hierarchical = new mxHierarchicalLayout(self.model.graph.graph);
                    // self.model.graph.layout.organic = new mxFastOrganicLayout(self.model.graph.graph);
                    self.model.graph.layout.default = self.model.graph.layout.hierarchical;
/*
                    let layout = new mxStackLayout(self.model.graph.graph);
                    layout.border = self.model.graph.graph.border;
                    var layoutMgr = new mxLayoutManager(self.model.graph.graph);
                    layoutMgr.getLayout = function(cell){
                        if (!cell.collapsed){
                            if (cell.parent != self.model.graph.graph.model.root){
                                layout.resizeParent = true;
                                layout.horizontal = false;
                                layout.spacing = 10;
                            } else {
                                layout.resizeParent = true;
                                layout.horizontal = true;
                                layout.spacing = 40;
                            }
                            
                            
                            return layout;
                        }
                        
                        return null;
                    };
*/
                    self.model.graph.parent = self.model.graph.graph.getDefaultParent();

                    self.initGraph();
                    self.cellsEvent();

                }
            },
            deleteCells(includeEdges){
                const self = this;
                
                // Cancels interactive operations
                self.model.graph.graph.escape();
                var cells = self.model.graph.graph.getDeletableCells(self.model.graph.graph.getSelectionCells());

                if (cells != null && cells.length > 0)
                {
                    var parents = self.model.graph.graph.model.getParents(cells);
                    self.model.graph.graph.removeCells(cells, includeEdges);
                    
                    // Selects parents for easier editing of groups
                    if (parents != null)
                    {
                        var select = [];
                        
                        for (var i = 0; i < parents.length; i++)
                        {
                            if (self.model.graph.graph.model.contains(parents[i]) &&
                                (self.model.graph.graph.model.isVertex(parents[i]) ||
                                self.model.graph.graph.model.isEdge(parents[i])))
                            {
                                select.push(parents[i]);
                            }
                        }
                        
                        self.model.graph.graph.setSelectionCells(select);
                    }
                }
            },
            initGraph(){
                const self = this;

                // Extends mxGraphModel.getStyle to show an image when collapsed
                /*
                var modelGetStyle = self.model.graph.graph.model.getStyle;
                self.model.graph.graph.model.getStyle = function(cell){
                    if (cell != null){
                        var style = modelGetStyle.apply(this, arguments);
                        if (this.isCollapsed(cell)){
                            style = style + `;shape=image;image=${window.ASSETS_ICON}/entity/png/${cell.value}.png?type=download&issys=${window.SignedUser_IsAdmin};imageBackground=#FFFFFF;imageBorder=#FFFFFF`;
                        }
                        return style;
                    }
                    return null;
                };
                */

                self.model.graph.graph.getModel().beginUpdate();

                try{

                    if(!_.isEmpty(window.URL_PARAMS_ITEM)) {
                        let doc = mxUtils.parseXml(self.graphData);
                        let svgBgColor = doc.getElementsByTagName("mxGraphModel")[0].getAttribute("background") || "#ffffff";
                        $("svg", this.$el).css("background-color",svgBgColor);
                        let codec = new mxCodec(doc);

                        codec.decode(doc.documentElement, self.model.graph.graph.getModel());

                        $("foreignObject div").css("color","#849EB6");
                    } else {
                        self.model.graph.graph.getModel()

                        let groupList = {};
                        let nodesList = {};
                
                        self.model.graph.nodes = {};
                        let orderNodes = _.orderBy(self.graphData.nodes,['level'],['asc']);
                        //let orderNodes = _.groupBy(self.graphData.edges,'source');
                        
                        // 节点
                        _.forEach(orderNodes,function(v){

                            let _type = v._icon || 'matrix';
                            
                            // 可设置默认显示属性
                            let _name =  '';
                            
                            try{
                                if(window.URL_PARAMS_GRAPH){
                                    _name = v[window.URL_PARAMS_GRAPH.title];//_.last(v[window.URL_PARAMS_GRAPH.title].split(":"));
                                } else {
                                    _name = v[self.model.graph.default.title];//_.last(v[self.model.graph.default.title].split(":"));
                                }
                            } catch(err){
                                _name = v["id"];
                            }

                            let node = self.model.graph.graph.insertVertex(self.model.graph.parent, v.id, _name, 50, 50, 120, 50,
                                `column;shape=image;html=1;image=${window.ASSETS_ICON}/entity/png/${_type}.png?type=open&issys=${window.SignedUser_IsAdmin};verticalLabelPosition=bottom;verticalAlign=top;fontColor=#849EB6;`,false);

                            self.model.graph.nodes[v.id] = node;

                            // 分组
                            _.merge(nodesList,{[v._icon]:[]});
                            nodesList[v._icon].push(node);
                        })

                        // 边界
                        _.forEach(self.graphData.edges,function(k,index){
                            let source =  self.model.graph.nodes[k.source];
                            let target = self.model.graph.nodes[k.target];
                            let baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;html=1;rounded=1;jettySize=auto;orthogonalLoop=1;endArrow=block;endFill=1;';
                            let edge = "";
                            let direction = '';
                            if(k.twoway){
                                direction = 'startArrow=block;endArrow=block;endFill=1;';
                            }

                            // edge为path的样式
                            if(k.class === "path"){
                                baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;orthogonalLoop=1;strokeWidth=1;dashed=1;startFill=0;endArrow=none;endFill=0;startArrow=none;orthogonal=1;elbow=vertical;';
                                let strokeColor = self.model.graph.colors[index] || _.sample(self.model.graph.colors);
                                let edge = self.model.graph.graph.insertEdge(self.model.graph.parent, k.id, k.class, source, target, baseEdgeStyle+direction+`strokeColor=${strokeColor}`);
                                return;
                            }
                            
                            let edge = null;
                            try {
                                let edgeName = _.find(self.model.graph.edgeList,{name:k.class}).remedy;
                                edge = self.model.graph.graph.insertEdge(self.model.graph.parent, k.id, edgeName, source, target, baseEdgeStyle+direction);
                            } catch(err){
                                edge = self.model.graph.graph.insertEdge(self.model.graph.parent, k.id, k.class, source, target, baseEdgeStyle+direction);
                            }
                            
                        })

                        // 创建组
                        /*
                        let groups = _.groupBy(self.graphData.nodes,'_icon');
                        if(groups){
                            _.forEach(groups,function(v,k){
                                let cell = null;
                                if(k==='biz'){
                                    cell = self.model.graph.graph.insertVertex(self.model.graph.parent, null, k, 0, 0, 220, 0, `shape=swimlane;`);
                                    cell.geometry.alternateBounds = new mxRectangle(0, 50, 120, 90);  
                                } else if(k==='ha'){
                                    cell = self.model.graph.graph.insertVertex(self.model.graph.parent, null, k, 0, 0, 220, 0, `shape=swimlane;`);
                                    cell.geometry.alternateBounds = new mxRectangle(0, 100, 120, 90);  
                                } else if(k==='weblogic'){
                                    cell = self.model.graph.graph.insertVertex(self.model.graph.parent, null, k, 0, 0, 220, 0, `shape=swimlane;`);
                                    cell.geometry.alternateBounds = new mxRectangle(0, 150, 120, 90);  
                                } else {
                                    cell = self.model.graph.graph.insertVertex(self.model.graph.parent, null, k, 0, 0, 220, 0, `shape=swimlane;`);
                                    cell.geometry.alternateBounds = new mxRectangle(0, 200, 120, 90);  
                                }
                                
                                _.merge(groupList,{[k]:[]});
                                groupList[k].push(cell);

                                self.model.graph.graph.groupCells(cell,0,nodesList[k]);
                            })
                        }
                        */

                        // Executes the layout
                        self.model.graph.layout.hierarchical.execute(self.model.graph.parent);
                    }
                    
                }
                finally
                {
                    self.model.graph.graph.getModel().endUpdate();

                    self.toCenter();

                    setInterval(()=>{
                        this.updateStatus();
                    },mx.global.register.topological.status_interval);
                    
                    self.updateStatus();
                }
            },
            createOverlayByTip(image, tooltip) {
                            
                let overlay = new mxCellOverlay(new mxImage(`/fs/assets/images/apps/png/severity/${image}.png?issys=true&type=open`,24,24), tooltip, mxConstants.ALIGN_RIGHT, mxConstants.ALIGN_TOP, new mxPoint(-10,15));
                
                return overlay;
            },
            updateStatus(){
                const self = this;

                // 图所有节点
                let cells = _.map(self.model.graph.graph.getChildVertices(self.model.graph.graph.getDefaultParent()),function(v,k){
                                return {gid: v.id, name: v.value};
                            });
    
                let input = "('" + `${cells.join("','")}` + "')";

                let status = fsHandler.callFsJScript("/matrix/graph/graph_imap_data.js", encodeURIComponent(JSON.stringify(cells))).message;

                self.model.graph.graph.getModel().beginUpdate();

                try {
                    
                    _.forEach(status,function(v) {
                        let id = v.gid;
                        let status = v.status;
                        let cell = self.model.graph.graph.getModel().getCell(id);
                        let state = self.model.graph.graph.view.getState(cell);
                        
                        if (cell != null) {
                            
                            // Resets
                            self.model.graph.graph.removeCellOverlays(cell);
    
                            if (status >= 5) {

                                self.model.graph.graph.addCellOverlay(cell, self.createOverlayByTip(status, `${id}: 重大告警`));

                            } else if (status >3 && status < 5) {
                                self.model.graph.graph.addCellOverlay(cell, self.createOverlayByTip(status, `${id}: 严重告警`));
                            } else {
                                self.model.graph.graph.removeCellOverlays(cell);
                            } 
                        
                        }

                    })

                } catch(err){

                }
                finally {
                    self.model.graph.graph.getModel().endUpdate();
                }
            },
            initPlugIn(){
                this.outline();
                
                //右键菜单
                this.$root.contextMenu();
                
                _.delay(()=>{
                    //设置主题
                    this.theme(this.model.graph.theme.color);
                    // 初始化ToolBar
                    this.toolBars();
                },500)
            },
            reload(){
                if(this.model.graph.graph){
                    $(this.$el).find(`#${this.id}-container`).empty();
                    $(this.$el).find(`#${this.id}-outlineContainer`).empty();
                    this.deleteCells();
                    this.init();
                    this.outline();
                    // 更新toobar属性选择列表
                    eventHub.$emit(`UPDATE-ATTRIBUTES-EVENT-${this.id}`,this.graphData);
                }
            },
            cellsEvent(){
                const self = this;

                self.model.graph.graph.addListener(mxEvent.DOUBLE_CLICK, function(sender, evt) {
                    let cell = evt.getProperty('cell');

                    if(_.isEmpty(cell)) return;

                    let id = cell.getId();
                    let value = cell.getValue();

                    // 点击获取关联信息
                    self.$root.$refs.graphDiagnosisRef.diagnosisAdd( {id:id, value:value, type:'event', cell: cell} );
                })

                self.model.graph.graph.addListener(mxEvent.CLICK, function(sender, evt) {

                    let cell = evt.getProperty('cell');

                    if(_.isEmpty(cell)) return;

                    let id = cell.getId();
                    let value = cell.getValue();

                    self.model.graph.selectedCell = cell;

                    // copy to copyboard
                    let clipboard2 = new Clipboard('g image',{
                        text: function(trigger) {
                            return id;
                        }
                    });

                });


                let track = new mxCellTracker(self.model.graph.graph);
                track.mouseMove = function(sender, me) {
                    
                    let cell = this.getCell(me);
                    
                    if(!cell) return;
                    
                    self.model.graph.selectedCell = cell;

                    // 刷新状态
                    self.updateStatus();
                    
                };
            },
            tip(event){
                const self = this;
                alertify.log(event + ' ' + moment().format("LLL"));
            },
            expandHorizontalBar(){
                this.model.graph.footbar.show = !this.model.graph.footbar.show;
            },
            forward(item){
                if(this.model.graph.history.length > 1){
                    this.model.graph.history = _.slice(this.model.graph.history,0,_.findIndex(this.model.graph.history,{id:item.id})+1);
                }
                this.$root.$refs.graphViewRef.search( encodeURIComponent(item.term));
            },
            outline(){
                const self = this;

                let outline = document.getElementById(`${self.id}-outlineContainer`);

                self.model.graph.outline = new mxOutline(self.model.graph.graph, outline);

            },
		    saveas(){
				const self = this;

                let encoder = new mxCodec();
                let node = encoder.encode(self.model.graph.graph.getModel());
                let xml = mxUtils.getPrettyXml(node);

                alertify.prompt("另存为", function (e, str) {
                    // str is the input text
                    if (e) {
                        // user clicked "ok"
	                    let parent = '/opt/creative/admin';
	                    let ftype = 'imap';
	                    let name = `${str}.${ftype}`;
	                    let attr = {remark: null, ctime: _.now(), author: window.SignedUser_UserName, type: 'imap', icon: `${window.ASSETS_ICON}/files/png/imap.png?type=download&issys=${window.SignedUser_IsAdmin}`};
                        let rtn = fsHandler.fsNew('file', parent, name, xml, attr);
	                    if(rtn == 1){

	                        let item = _.merge({parent:parent,name:name,attr:attr,ftype:ftype},{lang: 'zh', action:'run'});

                            let url = fsHandler.genFsUrl(item,null,null);

                            alertify.success(`已保存到/fs${[parent,name].join("/")}，<a class="btn btn-success" href="${url}" target="_blank">点击前往编辑或查看</a>`);
	                    }
                    } else {
                        // user clicked "cancel"
                    }
                }, "");

                $(".alertify-prompt .alertify-message").css('height','5vh');

		    },
            toolBars() {
                const self = this;

                // 插入属性选择
                let id = `attributes-select-${self.id}`;
                new Vue({
                        data: {
                            options: [],
                            value: 'name'
                        },
                        watch:{
                            value: function(val,oldVal){
                                self.model.graph.default.title = this.value;
                                self.reload();
                            }
                        },
                        template:   `<el-select v-model="value" placeholder="请选择" style="padding-left:5px;">
                                        <span class="fas fa-bars" slot="prefix"></span>
                                        <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                        </el-option>
                                    </el-select>`,
                        created(){
                            const me = this;

                            // 文件图模式
                            if(window.URL_PARAMS_ITEM){
                                me.options = [{value: "id", label: "ID"},{value: "value", label: "Value"}];    
                            } else {
                                me.options = _.sortBy(_.map(_.keys(self.graphData.nodes[0]),function(v){
                                    let k = v;//.replace(/_/g,"");
                                    return {value: k, label: k};//_.capitalize(k)};
                                }),['value'])
                            }

                            // 图数据更行后，更新属性选择列表
                            eventHub.$on(`UPDATE-ATTRIBUTES-EVENT-${self.id}`,function(event){
                                me.options = _.sortBy(_.map(_.keys(event.nodes[0]),function(v){
                                    let k = v;//v.replace(/_/g,"");
                                    return {value: k, label: k};// _.capitalize(k)};
                                }),['value'])
                            });
                        },
                        mounted(){
                            _.delay(() => {
                                $(".el-input--small .el-input__inner",this.$el).css({
                                    "border":"unset",
                                    "backgroundColor": "transparent"
                                });
                                /* 
                                $(".el-input--small",this.$el).css({
                                    "fontSize": "12px"
                                });

                                $(".el-select--small").css({
                                    "width": "120px",
                                    "height": "22px",
                                    "line-height": "22px",
                                    "float": "right"
                                });

                                $(".el-input__suffix",this.$el).css({
                                    "display": "none"
                                });
                                */
                            },50)
                        }                                    

                    }).$mount(`#${id}`);

            },
            toCenter(){

                const self = this;

                self.model.graph.graph.center(true,true,0,0);//将画布放到容器中间

                /* 
                //self.model.graph.graph.fit();
                //self.model.graph.graph.center(true,false,0.5,0.5);
                var margin = 2;
                var max = 3;

                var bounds = self.model.graph.graph.getGraphBounds();
                var cw = self.model.graph.graph.container.clientWidth - margin;
                var ch = self.model.graph.graph.container.clientHeight - margin;
                var w = bounds.width / self.model.graph.graph.view.scale;
                var h = bounds.height / self.model.graph.graph.view.scale;
                var s = Math.min(max, Math.min(cw / w, ch / h));

                self.model.graph.graph.view.scaleAndTranslate(s,
                (margin + cw - w * s) / (2 * s) - bounds.x / self.model.graph.graph.view.scale,
                (margin + ch - h * s) / (2 * s) - bounds.y / self.model.graph.graph.view.scale); */

            },
            path(){
                const self = this;
                
                self.$root.cellSelect(null);

                return false;
                
                try{
                    if(jsPanel.activePanels.getPanel('jsPanel-路径')){
                        jsPanel.activePanels.getPanel('jsPanel-路径').close();
                    }
                }catch(error){

                }
                finally{
                    maxWindow.winGraphPath('路径', `<div id="${self.id}-graph-path"></div>`, null, `#${self.id}`, self.pathHandle);
                }
            },
            pathHandle(){
                const self = this;

                let dataset = [];
                let cols = {
                                "path":_.concat([{field:"num",title:"序号"}],_.map(self.graphData.pathtags,function(v){ return {field:v,title:v}}))
                            };
                
                _.forEach(self.graphData.paths,function(v,index){
                    dataset.push( _.merge({num:`路径${++index}`,class:"path"},v));
                })
                let node = { data: _.groupBy(dataset,'class'), columns: cols};
                let path = self.$root.path(`${self.id}-graph-path`,`${self.id}-graph-path`, node);
                new Vue(path);
            },
            /* addPath(event){
                const self = this;
                
                // 过滤event
                let paths = _.map(event,function(v){
                                    return _.omit(v,['num','class']);
                                });
                console.log(12,paths)
                self.model.graph.graph.getModel().beginUpdate();
                
                try{
                    self.model.graph.graph.getModel()

                    if(self.model.graph.paths.length){
                        self.removePath();
                    }
                    
                    _.forEach(paths,function(v,index){
                        // keys
                        var keys = _.keys(v);
                        // values
                        var values = _.values(v);
                        
                        for(var i=0;i<keys.length;i++){
                            if(!_.isUndefined(v[keys[i+1]])){
                                console.log(i, v[keys[i+1]])
                                let id = `${v[keys[i]]}-${v[keys[i+1]]}`;
                                let baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;orthogonalLoop=1;strokeWidth=1;dashed=1;startFill=0;endArrow=none;endFill=0;startArrow=none;orthogonal=1;elbow=vertical;';
                                let strokeColor = self.model.graph.colors[index] || _.sample(self.model.graph.colors);
                                
                                // 绘制路径
                                let cell = self.model.graph.graph.getModel().getCell(id);
                                console.log(121, id, cell, self.model.graph.graph)
                                if(cell){
                                    cell.setStyle(baseEdgeStyle+`strokeColor=${strokeColor};`);
                                    self.model.graph.paths.push(cell);
                                }
                            }
                        }
                    })

                    // Executes the layout
	                self.model.graph.layout.default.execute(self.model.graph.parent);
                }
                finally
                {
                    self.model.graph.graph.getModel().endUpdate();
                }
            }, */
            addPath(event){
                const self = this;
                
                // 过滤event
                let paths = _.map(event,function(v){
                                    return _.omit(v,['num','class']);
                                });
                
                self.model.graph.graph.getModel().beginUpdate();
                
                try{
                    self.model.graph.graph.getModel()

                    self.removePath();
                    
                    _.forEach(paths,function(v,index){
                        // keys
                        var keys = _.keys(v);
                        // values
                        var values = _.values(v);
                        
                        for(var i=0;i<keys.length;i++){
                            let source = self.model.graph.nodes[v[keys[i]]];
                            let target = self.model.graph.nodes[v[keys[i+1]]];
                            if(_.isUndefined(target)){
                                return;
                            }
                            let baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;orthogonalLoop=1;strokeWidth=2;dashed=1;startFill=0;endArrow=none;endFill=0;startArrow=none;orthogonal=1;elbow=vertical;';
                            let strokeColor = self.model.graph.colors[index] || _.sample(self.model.graph.colors);
                            
                            // 绘制路径
                            let hasPath = self.model.graph.graph.getModel().getCell(`path${index+1}${i}`);
                            if(!hasPath){
                                let path = self.model.graph.graph.insertEdge(self.model.graph.parent, `path${index+1}${i}`, `${index+1}`, source, target, baseEdgeStyle+`strokeColor=${strokeColor};`);
                                self.model.graph.paths.push(path);
                            }
                        }
                    })

                    // Executes the layout
	                self.model.graph.layout.default.execute(self.model.graph.parent);
                }
                finally
                {
                    self.model.graph.graph.getModel().endUpdate();
                }
            },
            removePath(){
                const self = this;

                if(self.model.graph.paths.length == 0){
                    return false;
                }

                // Cancels interactive operations
                self.model.graph.graph.escape();
                var cells = self.model.graph.paths;
                
                if (cells != null && cells.length > 0)
                {
                    self.model.graph.graph.removeCells(cells, true);
                }
            },
            layout(){
                this.model.graph.graph.getModel().beginUpdate();

                try
                {
                    if(this.model.graph.orientation.value == 0){
                        this.model.graph.orientation.value = 1;
                    } else {
                        this.model.graph.orientation.value = 0;
                    }

                    this.model.graph.layout.default.orientation = this.model.graph.orientation.list[this.model.graph.orientation.value];

                    // Executes the layout
                    this.model.graph.layout.default.execute(this.model.graph.parent);
                }
                finally
                {
                    this.model.graph.graph.getModel().endUpdate();
                    this.toCenter();
                }
            },
            print(){
                let scale = mxUtils.getScaleForPageCount(1, this.model.graph.graph);
                let preview = new mxPrintPreview(this.model.graph.graph, scale);
                preview.open();
            },
            theme(event){
                $(`#${this.id}-container`).css({
                    "backgroundColor":event
                })

                localStorage.setItem(`GRAPH-VIEW-THEME-${window.SignedUser_UserName}`,event);
            },
            zoomIn(){
                this.model.graph.graph.zoomIn();
            },
            zoomOut(){
                this.model.graph.graph.zoomOut();
            },
            fit(){
                this.model.graph.graph.fit();
            },
            editIt(){
                let item = { 
                                parent:window.URL_PARAMS_ITEM.parent, 
                                name:window.URL_PARAMS_ITEM.name, 
                                ftype:window.URL_PARAMS_ITEM.ftype, 
                                lang: window.MATRIX_LANG, 
                                attr:window.URL_PARAMS_ITEM.attr, 
                                action:'edit'
                            };

                let url = fsHandler.genFsUrl(item,null,null);

                window.open(url, "_parent");
            },
            onCopy(item){
                const self = this;
                new Clipboard("span.copy", {
                    text: function(trigger) {
                        self.$message("已复制");
                        return item;
                    }
                });
            }
	    }
	
	}
	</script>

</code>
