<code>

	<style scoped>
		/*----------  style  ----------*/
        /* .pace{
            display: none!important;
        }
         */
        .topological-timeline {
            height: 100%;
            border: 1px solid #ddd;
            border-top:unset;
        }

        .topological-timeline .vis-timeline {
            border: unset;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            background: #fff;
            height: 100%;            
        }

        .vis-background.vis-item-content {
            z-index: 11111;
            height: 100%!important;
            width: 100%!important;
        }

        .vis-item {
            border-color: #ff0000;
            background-color: #ff0000;
        }

        /* alternating column backgrounds */
        .vis-time-axis .vis-grid.vis-odd {
            background: #f5f5f5;
        }

        /* gray background in weekends, white text color */
        .vis-time-axis .vis-grid.vis-saturday,
        .vis-time-axis .vis-grid.vis-sunday {
            background: #f6f6f6;
        }
        .vis-time-axis .vis-text.vis-saturday,
        .vis-time-axis .vis-text.vis-sunday {
            color: white;
        }

        .topological-timeline .el-color-picker--mini > .el-color-picker__trigger {
            height: 12px;
            width: 12px;
            margin: 0px 0px -1px 5px;
            padding:unset;
            border:unset;
        }

        .topological-timeline .el-divider.el-divider--vertical{
            margin: 8px 12px;
            background: #333;
        }

        .topological-timeline .el-radio-button__inner,
        .topological-timeline .el-input__inner{
            background: transparent;
            border:unset;
        }

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="topological-timeline"  ----------*/
	<template>
        <el-container style="height:240px;width:100%;" ref="container">
            <el-aside width="200px" style="background: transparent;">
                <el-tree 
                    show-checkbox
                    default-expand-all 
                    :data="tree.data" :props="tree.defaultProps"
                    @node-click="onNodeClick"
                    @check-change="onNodeCheckChange"
                    style="background: transparent;"
                    ref="tree">
                    <span slot-scope="{ node, data }" style="width:100%;height:30px;line-height: 30px;">
                        <span>#{node.label}#</span>
                        <el-color-picker v-model="data.color" size="mini" v-if="data.children.length==0"></el-color-picker>
                    </span>  
                </el-tree>
            </el-aside>
            <el-container style="width:100%;height:100%;background:transparent;">
                <el-header style="height:30px;line-height: 30px;display: flex;padding:0px;margin-right:14px;">
                    <div style="width:90%;">
                        <el-date-picker
                            v-model="timeline.pickDate"
                            type="datetime"
                            :picker-options="timeline.pickerOptions"
                            align="right"
                            size="mini"
                            style="width:200px;">
                        </el-date-picker>
                    
                        <el-radio-group v-model="timeline.pickRange" size="mini">
                            <el-radio-button :label="30 * 60 * 1000">30 分钟</el-radio-button>
                            <el-radio-button :label="60 * 60 * 1000">60 分钟</el-radio-button>
                            <el-radio-button :label="120 * 60 * 1000">120 分钟</el-radio-button>
                            <el-radio-button :label="-1">全部</el-radio-button>
                        </el-radio-group>
                        <el-divider direction="vertical"></el-divider>
                        <el-tooltip content="放大" open-delay="500">
                            <el-button type="text" icon="el-icon-zoom-in" @click="onTimelineZoomin(0.2)" style="padding:5px 0px;"></el-button>
                        </el-tooltip>
                        <el-tooltip content="缩小" open-delay="500">
                            <el-button type="text" icon="el-icon-zoom-out" @click="onTimelineZoomout(0.2)" style="padding:5px 0px;"></el-button>
                        </el-tooltip>
                        <el-divider direction="vertical"></el-divider>
                        <el-checkbox v-model="timeline.showDiff">显示差异</el-checkbox>
                        <el-popover
                            placement="top-start"
                            width="200"
                            trigger="hover"
                            content="双击时间轴上任意点可将图回溯到当前时间点">
                            <span slot="reference" class="el-icon-question" style="font-size:16px;"></span>
                        </el-popover>
                    </div>
                    <div style="width:10%;text-align: right;">
                        <el-tooltip content="关闭" open-delay="500">
                            <el-button type="text" icon="el-icon-close" style="float:right;padding-left:10px;" @click="onClose"></el-button>
                        </el-tooltip>
                        <el-tooltip content="全屏显示" open-delay="500" placement="left">
                            <el-button type="text" :icon="control.ifFullScreen | pickScreenStyle" 
                                        @click="onFullScreen" style="float:right;">
                            </el-button>
                        </el-tooltip>
                    </div>
                </el-header>
                <el-main style="width:100%;height:100%;padding:0px;display: flex;overflow: hidden;">
                    <el-button type="text" icon="el-icon-arrow-left" @click="onTimeLineMove(0.2)"></el-button>
                    <div id="timeline" ref="timeline" style="width:100%;height:100%;position: relative;"></div>
                    <el-button type="text" icon="el-icon-arrow-right" @click="onTimeLineMove(-0.2)"></el-button>
                </el-main>
            </el-container>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="topological-timeline">
	{
	    delimiters: ['#{', '}#'],
	    props: {
	        model: Array
	    },
	    data() {
            return {
                timeline:{
                    showDiff:false,
                    id: 'current',
                    pickDate: _.now(),
                    pickRange: -1,
                    pickerOptions: {
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    },
                    inst: null,
                    items:  new vis.DataSet(),
                    options: {
                        height: '100%',
                        margin: {
                            item: 20
                        },
                        
                        editable: false,
                        type: "point",
                        zoomMin: 60 * 60 * 1000,
                        zoomMax: 60 * 60 * 24 * 1000 * 365 * 5,
                        showCurrentTime: false,
                        showWeekScale: true,
                        zoomable: true,
                        stack: true,
                        verticalScroll: true,
                        locale: 'zh_CN'
                        
                    },
                    customTime:{
                        marker: '拖动进行回溯查询，双击取消'
                    }
                },
                tree: {
                    data: [],
                    defaultProps: {
                        children: 'children',
                        label: 'title'
                    },
                    selected:null,
                    diagnosisData: null
                },
                control: {
                    ifFullScreen:false
                }
            }
        },
        filters:{
            pickScreenStyle(evt){
                if(evt){
                    return `el-icon-full-screen`;
                } else {
                    return `el-icon-copy-document`;
                }
            }
        },
        watch: {
            model: function(val,oldVal){
                this.setItems();
            },
            'tree.selected': function(val,oldVal){
                this.setItems();
            },
            'timeline.pickDate':function(val,oldVal){
                this.setTimelineRange();
            },
            'timeline.pickRange':function(val,oldVal){
                this.setTimelineRange();
            },
            'timeline.showDiff':function(val,oldVal){
                if(!val){
                    this.timeline.inst.removeCustomTime(this.timeline.id);
                } else {
                    this.setCustomTimeline();
                }
            }
        },
        created(){
            this.setItems();
            this.initDiagnosisData();

            // ReDraw Timeline
            eventHub.$on("TIMELINE-REDRAW-EVENT",()=>{
                _.delay(()=>{
                    this.timeline.inst.redraw();
                },500)
            });
	    },
	    mounted() {
            this.$nextTick(() => {
                
                _.delay(()=>{
                    this.timeline.inst = new vis.Timeline(this.$refs.timeline, this.timeline.items, this.timeline.options);
                    this.timeline.inst.fit({animation: true});
                    this.timeline.inst.on('select', this.onSelect);
                    this.timeline.inst.on('timechanged', (properties)=> {
                        let props = this.timeline.inst.getEventProperties(properties.event)
                        this.onClick(props);
                    });
                    // this.timeline.inst.on("doubleClick",(properties)=> {
                    //     let props = this.timeline.inst.getEventProperties(properties.event)
                    //     this.onClick(props);
                    // });
                },50)
                
            })
	        
	    },
	    methods: {
            initDiagnosisData(){
                this.tree.data = fsHandler.callFsJScript("/matrix/graph/getEntityDiagnosisDataType.js",null).message;
            },
            onNodeCheckChange(data, checked, indeterminate){
                this.tree.selected = _.groupBy(this.$refs.tree.getCheckedNodes(),'name');
            },
            onNodeClick(data) {
                console.log(data);
            },
            onFullScreen(){
                this.control.ifFullScreen = mx.fullScreenByEl(this.$refs.container.$el);
                this.timeline.inst.redraw();
            },
            add(){
                //this.timeline.items.pLOWERh();
            },
            pickBgStyle(item){
                let hexToRgba = function(hex, opacity) {
                    var RGBA = "rgba(" + parseInt("0x" + hex.slice(1, 3)) + "," + parseInt("0x" + hex.slice(3, 5)) + "," + parseInt( "0x" + hex.slice(5, 7)) + "," + opacity + ")";
                    return {
                        red: parseInt("0x" + hex.slice(1, 3)),
                        green: parseInt("0x" + hex.slice(3, 5)),
                        blue: parseInt("0x" + hex.slice(5, 7)),
                        rgba: RGBA
                    }
                };
                let rgbaColor = hexToRgba(mx.global.register.event.severity[item.severity][2],0.1).rgba;
                return `padding:5px;background:linear-gradient(to top, ${rgbaColor}, rgb(255,255,255));border: 1px solid rgb(247, 247, 247);border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;line-height:1.5;`;
            },
            setTimelineRange(){
                try{

                    let start,end = null;

                    // 全部 可缩放时间轴
                    if(this.timeline.pickRange == -1){

                        if(!_.isEmpty(this.tree.diagnosisData)){
                            let data = _.orderBy(_.filter(_.flatMap(this.tree.diagnosisData),null),['vtime'],['asc']);
                            start = moment( _.head(data)['vtime'] ).add(-1,'days');;
                            end = moment( _.last(data)['vtime'] ).add(1,'days');;
                            this.timeline.inst.setOptions({start:start,end:end});
                        }
                        this.timeline.inst.setOptions({zoomable:true});
                    } else {
                        start = moment(this.timeline.pickDate).add(-this.timeline.pickRange);
                        end = moment(this.timeline.pickDate).add(+this.timeline.pickRange);
                        this.timeline.inst.setOptions({start:start,end:end});
                        this.timeline.inst.setOptions({zoomable:false});
                    }
                     
                } catch(err){
                    
                } finally{
                    if(this.timeline.showDiff){
                        this.setCustomTimeline();
                    }                    
                }
            },
            setCustomTimeline(){
                
                let customDate = moment(this.timeline.pickDate).format("YYYY-MM-DD HH:MM:SS");
                let id = this.timeline.id;
                try {                    
                    // 删除自定义时间点
                    this.timeline.inst.removeCustomTime(id);

                    // 设置选择的时间点窗口
                    let start,end = null;
                    start = moment(this.timeline.pickDate).add(-this.timeline.pickRange);
                    end = moment(this.timeline.pickDate).add(+this.timeline.pickRange);
                    this.timeline.inst.setWindow(start,end);

                } catch (err) {
                    
                } finally{
                    // 设置自定义时间点
                    this.timeline.inst.addCustomTime(customDate, id);
                    this.timeline.inst.setCustomTimeMarker(`${this.timeline.pickDate}(${this.timeline.customTime.marker})`, id);
                } 
            },
            setItems(){

                this.timeline.items.clear();

                // 判断是否勾选，勾选的数据才显示到时间轴上
                if(_.isEmpty(this.tree.selected)) {
                    return false;
                }
                
                let term = {
                    model: _.keys(this.tree.selected),
                    ids:this.model.join(";")
                };
                this.tree.diagnosisData = fsHandler.callFsJScript("/matrix/graph/getDiagnosisDataByIds.js",encodeURIComponent(JSON.stringify(term))).message;
                
                _.forEach(this.tree.diagnosisData,(v,k)=>{
                    let items  = [];
                    _.forEach(v,(val)=>{
                        let bg = this.pickBgStyle(val);
                        let status = mx.global.register.event.status[val.status]?mx.global.register.event.status[val.status][1]:'未知';
                        if(val.id){
                            let id = [val.id,val.entity].join("::");
                            let item = {
                                id: id,
                                group: k,
                                content: `<div id="timeline_${objectHash.sha1(id)}" style="${bg}">
                                            <p>告警状态：${status}</p>
                                            <p>告警摘要：${val.msg}</p>
                                            <p>告警时间：${moment(val.vtime).format(mx.global.register.format)}</p>
                                        </div>`,
                                start: val.vtime
                            };
                            
                            items.push(item);
                        }
                    });
                    this.timeline.items.add(items);
                })
                // _.delay(()=>{
                //     _.forEach(this.tree.diagnosisData,(v,k)=>{
                    
                //         _.forEach(v,(val)=>{
                //             if(val.id){
                //                 let id = val.id;
                //                 new Vue({
                //                     data: {
                //                         src: id,
                //                     },
                //                     template: `<form-card-component :term="src" cHeight="20" style="width:auto;height:auto;"></form-card-componetn>`
                //                 }).$mount(`#timeline_${objectHash.sha1(id)}`)
                //             }
                //         });
                        
                //     })
                // },2000)

                this.timeline.inst.redraw();

            },
            onTimelineZoomin(percentage){
                this.timeline.inst.zoomIn(percentage);
            },
            onTimelineZoomout(percentage){
                this.timeline.inst.zoomOut(percentage);
            },
            onTimeLineMove(percentage){
                let range = this.timeline.inst.getWindow();
                let interval = range.end - range.start;

                this.timeline.inst.setWindow({
                    start: range.start.valueOf() - interval * percentage,
                    end:   range.end.valueOf()   - interval * percentage
                });
            },
            onSelect(properties) {
                
                try{
                    if(!_.isEmpty(properties.items)){
                        let entity = properties.items[0].split("::")[1];
                        let graph = this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.model.editor.graph;
                        let cell = graph.getModel().getCell(entity);
                        this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.onToggleCellStyle([cell],'vertex');

                        // 定位cell
                        this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.onPosition(cell.getId());
                    } else {
                        this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.onToggleCellStyle([],'vertex');    
                    }
                    
                } catch(err){
                    this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.onToggleCellStyle([],'vertex');
                }
                
            },
            onClick(props){
                
                try{
                    let timeline = this.timeline.inst;
                    
                    let id = this.timeline.pickDate = moment(props.time.toString()).format("YYYY-MM-DD HH:MM:SS");
                    
                    let oldTerm = this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.$refs.searchToolbar.term.split(" diff ");
                    oldTerm[1] = `'${id}'`;
                    let term = oldTerm.join(" diff ")
                    
                    this.$message({
                        type: "info",
                        message: " 图查询: " + term
                    });
                    
                    _.delay(()=>{
                        this.$root.$refs.graphViewRef.search( encodeURIComponent(term) );
                        this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.$refs.searchToolbar.term = term;
                    },500)
                    

                } catch(err){
                    console.log(err)
                }

            },
            onClose(){
                this.$parent.$parent.$parent.$parent.model.graph.footbar.show = false;
                this.$parent.$parent.$parent.$parent.model.control.toolbar.show = true;
                this.$root.$refs.graphViewRef.$refs.graphViewContainerInst.onToggleCellStyle([],'vertex');
            }
	    }
	
	}
	</script>

</code>
