<code>

	<style scoped>
		/*----------  style  ----------*/
		.editor-container.fs-editor-component{
			background-color: rgb(246, 246, 246);
			width:100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.ace_editor{
			border: none;
			margin: 0px 0px 10px 0px;
			width: 100%;
			height: 100%;
			/*height:calc(100% - 50px)!important;*/
			/*position: relative !important;*/
			overflow: auto;
		}

        .fs-editor-component .ace_editor{
			border: none;
			margin: 0px 0px 10px 0px;
			width: 100%;
			/*height:calc(100% - 50px)!important;*/
			position: relative !important;
			overflow: auto;
		}

		.ace_keyword {
			color: #a70909!important;
		}

		.editor-content{
			width: 100%;
			height: 100%;
			overflow: auto;
		}


	</style>

	
	/*----------  最外层element会自动增加组件同名 class="fs-editor-component"  ----------*/
	<template>
		<el-container class="editor-container">
            <el-main class="editor-content" style="padding:0px;">
                <div :id="id" ref="editor"></div>
            </el-main>
            <el-footer style="height:30px;line-height: 30px;">
                <div id="statusBar"></div>
            </el-footer>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="fs-editor-component">
	{
	    delimiters: ['${', '}'],
        props: {
            id: String,
			bid: String,
            model: Object,
            showToolsBar: Boolean,
			showStatusBar: Boolean
        },
        data: function(){
            return {
                langTools:null,
                editor: null,
                inputText: "",
	            result: null,
                refs: {}
            }
        },
        mounted(){
            this.init();
        },
        watch: {
            'model.newInput': {
            	handler:function(val,oldVal){
                    const self = this;
                    if(self.editor){
                        self.editor.setValue(val);
                    }
                },
                deep:true,
                immediate:true
            }

        },
        created() {
            eventHub.$on(`LAYOUT-DATATABLE-RESIZE-EVENT`,()=>{
                this.refresh();
            });

            eventHub.$on("WINDOW-STATUS-CHANGE-EVENT",()=>{
                this.refresh
            });
        },
        methods: {
            init() {
                
                this.langTools = ace.require("ace/ext/language_tools");
                this.editor = ace.edit(this.$refs.editor);

                this.editor.setOptions({
                    maxLines: Infinity,
                    minLines: 50,
                    autoScrollEditorIntoView: true,
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                this.editor.$blockScrolling = Infinity;
                this.editor.setShowPrintMargin(this.model.printMargin);
                this.editor.setReadOnly(this.model.readOnly);
                this.editor.getSession().setUseSoftTabs(true);

                this.editor.getSession().setTabSize(4);
                this.editor.getSession().setUseWrapMode(true);

                this.editor.on('mousemove', ()=> {
                    this.editor.resize();
                });

                this.setTheme();
                this.setMode();
                this.setOptions();
                
				this.toggleToolsBar();

				this.toggleStatusBar();


                // Customer Auto Completer
                let customerCompleter = {
                    getCompletions(editor, session, pos, prefix, callback) {
                            
                        if (prefix.length === 0) { callback(null, []); return };

                        let templates = mx.searchJson.search(prefix);

                        if(_.isEmpty(templates)) return;

                        callback(null, _.uniqBy(_.map(templates,function(v) {
                            return {
                                name: v.name,
                                score: 300,
                                meta: v.title,
                                caption: v.title,
                                value: v.template
                            }
                        }),'name'));

                    }
                };

                this.langTools.addCompleter(customerCompleter);


                //self.editor.on("input", this.updateToolbar);

                this.editor.commands.addCommand({
                    name: "save",
                    bindKey: {
                        mac: "cmd-S", 
                        win: "ctrl-S",
                        sender: 'editor|cli'
                    },
                    exec: (env, args, request)=>{
                        this.saveIt();
                    }
                });

                _.delay(()=>{
                    this.editor.setValue(this.model.newInput);
                    this.editor.focus(); 
                    let row = this.editor.session.getLength() - 1;
                    let column = this.editor.session.getLine(row).length;
                    this.editor.gotoLine(row + 1, column);
                },1000)
                
            },
            updateToolbar(){
                this.refs.saveButton.disabled = this.editor.session.getUndoManager().isClean();
                this.refs.undoButton.disabled = !this.editor.session.getUndoManager().hasUndo();
                this.refs.redoButton.disabled = !this.editor.session.getUndoManager().hasRedo();
            },
	        refresh(){
                if(this.editor){
                    this.editor.resize();
                }
	        },
            setOptions(){
                if(!_.isEmpty(this.model.options)){
                    this.editor.setOptions(this.model.options);
                } 
            },
            setTheme(){
                
                let localTheme = localStorage.getItem(`editor-select-theme-${this.id}`);

                if(localTheme){
                    this.editor.setTheme("ace/theme/" + localTheme);
                    return false;
                }


                if(_.isEmpty(this.model.theme)){
                	this.editor.setTheme("ace/theme/terminal");
                } else {
                	this.editor.setTheme("ace/theme/"+this.model.theme);
                }
                
            },
            setMode(){
                const self = this;

                if(_.isEmpty(self.model.mode)){
                	self.editor.getSession().setMode("ace/mode/json");
                } else {
                	self.editor.getSession().setMode("ace/mode/"+ self.model.mode);
                }
                
            },
            setValue(){
                const self = this;

                self.editor.setValue(self.model.oldInput);
            },
            getSelected(){
                const self = this;
                var temp = self.editor.getSelectedText();

                if(_.isEmpty(temp)){
                    self.inputText = self.editor.getValue();
                } else {
                    self.inputText = temp;
                }
            },
            toggleToolsBar(){
                const self = this;

                if(self.showToolsBar){
                    $(".editorToolBar").show();
                } else {
                    $(".editorToolBar").hide();
                }
            },
	        toggleStatusBar(){
                const self = this;

                if(self.showStatusBar) {
                    let StatusBar = ace.require("ace/ext/statusbar").StatusBar;
                    let statusBar = new StatusBar(self.editor, document.getElementById("statusBar"));
                }
	        },
	        copyIt(){
		        const self = this;

                new Clipboard(".copy", {
                    text: function(trigger) {
                        alertify.log("已复制");
                        return self.editor.getValue();
                    }
                });

	        },
            pasteIt(){
                const self = this;

                document.execCommand("paste");
                alertify.log("已粘贴");
            },
	        selectAll(){
                const self = this;

                self.editor.selection.selectAll();
            },
            clearIt(){
                const self = this;

                self.editor.setValue();
                alertify.log("已清空");
            },
            reload(){
				const self = this;

                let rtn = fsHandler.fsContent(self.model.fs.parent,self.model.fs.name);

                self.editor.setValue(rtn);
            },
	        deployIt(item){
                const self = this;

                let wnd = maxWindow.winDeployApp( `<i class="fab fa-codepen"></i> 应用发布`, `<div id="fs-app-deploy-${self.bid}"></div>`, null, 'editor-container');

                _.delay(function(){
                    $("#jsPanel-deploy").css({
                        "position":"absolute",
                        "z-index": "10005"
                    });
                },500);
                
                let form = {
                    el: `#fs-app-deploy-${self.bid}`,
                    template:`<div class="tab-content">
		                        <div role="tabpanel" class="tab-pane active" id="fs-deploy-home" style="padding:15px;">
		                            <form class="form-horizontal">
		                              <div class="form-group">
		                                <label class="col-sm-2 control-label">应用名称</label>
		                                <div class="col-sm-10">
		                                  <input type="text" class="form-control" placeholder="" v-model="app.cnname" required autofocus>
		                                </div>
		                              </div>
		                              <div class="form-group">
		                                <label class="col-sm-2 control-label">英文名称</label>
		                                <div class="col-sm-10">
		                                  <input type="text" class="form-control" placeholder="" v-model="app.enname" required>
		                                </div>
		                              </div>
		                              <div class="form-group">
		                                <label class="col-sm-2 control-label">图标</label>
		                                <div class="col-sm-10">
		                                    <a href="#fs-deploy-icon-list" aria-controls="fs-deploy-icon-list" role="tab" data-toggle="tab">
		                                        <img class="media-object" :src="app.icon.value" style="width:48px;height:48px;filter:grayscale(100%) brightness(45%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);" >
		                                    </a>
		                                </div>
		                              </div>
		                              <div class="form-group">
		                                <div class="col-sm-offset-2 col-sm-10">
		                                  <a class="btn btn-sm btn-primary" @click="deploy">发布</a>
		                                  <a class="btn btn-sm btn-default" @click="cancel">取消</a>
		                                </div>
		                              </div>
		                            </form>
		                        </div>
		                        <div role="tabpanel" class="tab-pane" id="fs-deploy-icon-list" style="padding:10px;">
		                            <div class="row">
		                              <div class="col-md-12" style="display: list-item;height: 50vh;overflow: auto;">
		                                <ul>
		                                    <li v-for="icon in app.icon.list" style="width: 68px;height: 68px;padding: 0px;">
		                                        <a href="#" class="thumbnail" style="border:none;height:100%;" @click="triggerInput(icon.id)">
		                                          <img class="media-object" :src="icon | pickIcon" style="max-width: 34px;min-width: 34px;filter:grayscale(100%) brightness(45%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);">
		                                          <input type="radio" :ref="icon.id" :id="icon.id"  :value="icon.name" v-model="app.icon.value" >
		                                        </a>
		                                    </li>
		                                </ul>
		                              </div>
		                            </div>
		                            <div class="row" style="margin-top:15px;">
		                                <div class="col-md-12" style="text-align:center;">
		                                    <a class="btn btn-sm btn-default" href="#fs-deploy-home" aria-controls="fs-deploy-home" role="tab" data-toggle="tab">返回</a></li>
		                                </div>
		                            </div>
		                        </div>

		                    </div>`,
                    data: {
                        app: {
                            cnname: _.head(item.name.split(".")),
                            enname: _.head(item.name.split(".")),
                            seat: _.random(100, 10000),
                            url: `/fs${[item.parent, item.name].join("/")}?issys=${window.SignedUser_IsAdmin}&type=open`,
                            icon: {
                                value: '',
                                list: []
                            },
                            preFixIcon: `${window.ASSETS_ICON}/apps/png/`,
                            postFixIcon: `?type=download&issys=${window.SignedUser_IsAdmin}`

                        }
                    },
                    filters:{
                        pickIcon: function(icon) {
                            return `/fs${icon.parent}/${icon.name}?type=download&issys=${window.SignedUser_IsAdmin}`;
                        }
                    },
                    mounted: function() {
                        let me = this;

                        me.$nextTick(function() {
                            me.app.icon.value = `${window.ASSETS_ICON}/apps/png/creative.png?type=download&issys=${window.SignedUser_IsAdmin}`;

                            me.init();
                        })
                    },
                    methods: {
                        init: function(){
                            let me = this;

                            me.app.icon.list = fsHandler.fsList(`${window.ASSETS_ICON}/apps/png`);

                        },
                        triggerInput: function(id){
                            let me = this;

                            $(me.$refs[id]).click()
                        },
                        deploy: function(){
                            let me = this;

                            let check = fsHandler.callFsJScript("/matrix/apps/app_exist_check.js",encodeURIComponent(JSON.stringify(me.app.cnname))).message;

                            if(check==1){
                                alertify.log("应用已经发布，请确认。")
                                return false;
                            }

                            let app = {
                                cnname: me.app.cnname,
                                enname: me.app.enname,
                                icon: me.app.icon.value.replace(/\/fs\/assets\/images\/apps\/png\//,'').replace(/\?type=download&issys=true/,''),
                                seat: me.app.seat,
                                url: me.app.url
                            };

                            let rtn = fsHandler.callFsJScript("/matrix/apps/app.js",encodeURIComponent(JSON.stringify(app)));
                            if( _.lowerCase(rtn.status) == "ok"){
                                alertify.success("应用发布成功");
                                eventHub.$emit("APP-REFRESH-EVENT");

                                $("ul.nav").find("li>a[data-original-title='应用']").popover({
                                    container: "body",
	                                title: "",
	                                content: `${me.app.cnname} 应用发布成功！`
                                }).popover('show');

                                _.delay(function(){
                                    $("ul.nav").find("li>a[data-original-title='应用']").popover('destroy');
                                },8000)

                                wnd.close();
                            }
                        },
                        cancel:function(){
                            wnd.close();
                        }
                    }
                };
                new Vue(form);

            },
	        saveIt(){
                const self = this;

                let sc = self.editor.getValue();

                if(_.isEmpty(self.editor.getValue())){
                    return false;
                }

                /*if( self.editor.getSelectedText().length > 0 ) {
                    sc = self.editor.getSelectedText();
                }*/

                const h = this.$createElement;
                this.$msgbox({
                        title: "确认要更新该文件?",
                        message: h('span', null, [
                            h('p', null, `名称：${self.model.fs.fullname}`),
                            h('p', null, `类型：${self.model.fs.ftype}`)
                        ]),
                        showCancelButton: true,
                        confirmButtonText: '确定',
                        cancelButtonText: '取消'
                }).then(() => {
                    let rtn = fsHandler.fsNew(self.model.fs.ftype, self.model.fs.parent, self.model.fs.name, sc, _.attempt(JSON.parse.bind(null, self.model.fs.attr)));

                    if(rtn == 0){
                        this.$message({
                            type: 'success',
                            message: '请确认脚本！'
                        });
                        done();
                        return false;
                    }

                    self.editor.session.getUndoManager().markClean();
                    self.updateToolbar();
                    
                }).catch(()=>{

                });

            },
            runIt(){
                const self = this;

                $(".fas.fa-play").addClass("fa-spin");

                // 先保存
                self.saveIt();

	            // 后运行 depend ftype: js/html
	            if(_.includes(['html','html'],self.model.fs.ftype)){
                    eventHub.$emit(`FS-EDITOR-RUN-EVENT-${self.bid}`, `/fs${[self.model.fs.parent,self.model.fs.name].join("/")}?issys=true&type=open`);
	            } else {

	                try {
                        let rtn = fsHandler.callFsJScript([self.model.fs.parent, self.model.fs.name].join("/").replace(/\/script/g, ""), '');
                        eventHub.$emit(`FS-EDITOR-RUN-EVENT-${self.bid}`, rtn);
                    }
                    catch(err) {
                        eventHub.$emit(`FS-EDITOR-RUN-EVENT-${self.bid}`, err);
	                }
	            }

                $(".fas.fa-play.fa-spin").removeClass("fa-spin");

            }
        }
    
	
	}
	</script>

</code>
