<code>

	<style scoped>
		/*----------  style  ----------*/
		.fs-output-component {
			background-color: rgb(246, 246, 246);
			width:100%;
			height: 100%;
			position: relative;
		}

		.fs-output-component .ace_editor{
			border: none;
			margin: 0px 0px 10px 0px;
			width: 100%;
			/*height:calc(100% - 50px)!important;*/
			position: relative !important;
			overflow: auto;
		}

		.lm_maximised .fs-output-component .ace_editor{
			border: none;
			margin: 0px 0px 10px 0px;
			width: 100%;
			/*height:calc(100% - 50px)!important;*/
			position: relative !important;
			overflow: auto;
		}

		.ace_keyword {
			color: #a70909!important;
		}

		.scrollmargin {
			height: 500px;
			text-align: center;
		}

		.editor-container{
			width: 100%;
			height: 100%;
		}

		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="fs-output-component"  ----------*/
	<template>
		<div class="editor-container">
			<div :id="id" ></div>
			<div id="statusBar"></div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="fs-output-component">
	{
	    delimiters: ['${', '}'],
        props: {
            id: String,
			bid: String,
            model: Object,
            showToolsBar: Boolean,
			showStatusBar: Boolean
        },
        data(){
            return {
                langTools:null,
                editor: null,
                inputText: "",
	            result: null
            }
        },
        mounted(){
            var self = this;

            self.$nextTick(function(){
                self.init();
            })
        },
        watch: {
            model: {
            	handler:function(val,oldVal){
                    let self = this;
                    self.editor.setValue(val.newInput);
                },
                deep:true,
                immediate:true
            }

        },
        created () {
            let self = this;

        },
        methods: {
            init() {
                let self = this;

                self.langTools = ace.require("ace/ext/language_tools");
                self.editor = ace.edit(self.id);
                
                self.editor.setOptions({
                    maxLines: Infinity,
                    minLines: 20,
                    autoScrollEditorIntoView: true,
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: false
                });
                self.editor.$blockScrolling = Infinity;
                self.editor.setShowPrintMargin(self.model.printMargin);
                self.editor.setReadOnly(self.model.readOnly);
                self.editor.getSession().setUseSoftTabs(true);

                self.editor.getSession().setTabSize(2);
                self.editor.getSession().setUseWrapMode(true);

                self.editor.on('mousemove', function() {
                    self.editor.resize();
                });

                self.setTheme();
                self.setMode();
                self.setOptions();

				self.toggleToolsBar();

				//self.toggleStatusBar();

                // Customer Auto Completer
	            let customerCompleter = {
                    getCompletions: function(editor, session, pos, prefix, callback) {

                        if (prefix.length === 0) {
                            callback(null, []);
                            return
                        }

                        let rtn = omdbHandler.fetchDataByMql(`select name from /matrix/ where name like '${prefix}*'`);

                        if(_.isEmpty(rtn)) return;

                        let word = rtn.message;

                        callback(null,_.map(word,function(ea) {
                            console.log(ea)
                            return {
                                name: ea.name,
                                value: ea.name,
                                score: 300,
                                meta: ea.class
                            }
                        }));

                    }
                };

                self.langTools.addCompleter(customerCompleter);
                
            },
            setOptions: function(){
                let self = this;

                if(!_.isEmpty(self.model.options)){
                    self.editor.setOptions(self.model.options);
                } 
            },
            setTheme: function(){
                let self = this;

                if(_.isEmpty(self.model.theme)){
                	self.editor.setTheme("ace/theme/tomorrow");
                } else {
                	self.editor.setTheme("ace/theme/"+self.model.theme);
                }
                
            },
            setMode: function(){
                let self = this;

                if(_.isEmpty(self.model.mode)){
                	self.editor.getSession().setMode("ace/mode/json");
                } else {
                	self.editor.getSession().setMode("ace/mode/"+ self.model.mode);
                }
                
            },
            setValue: function(){
                let self = this;

                self.editor.setValue(self.model.oldInput);
            },
            getSelected: function(){
                let self = this;
                var temp = self.editor.getSelectedText();

                if(_.isEmpty(temp)){
                    self.inputText = self.editor.getValue();
                } else {
                    self.inputText = temp;
                }
            },
            toggleToolsBar: function(){
                let self = this;

                if(self.showToolsBar){
                    $(".editorToolBar").show();
                } else {
                    $(".editorToolBar").hide();
                }
            },
	        toggleStatusBar: function(){
                let self = this;

                if(self.showStatusBar) {
                    let StatusBar = ace.require("ace/ext/statusbar").StatusBar;
                    let statusBar = new StatusBar(self.editor, document.getElementById("statusBar"));
                }
	        },
	        copyIt: function(){
		        let self = this;

                new Clipboard(".copy", {
                    text: function(trigger) {
                        alertify.log("已复制");
                        return self.editor.getValue();
                    }
                });

	        },
            pasteIt: function(){
                let self = this;

                document.execCommand("paste");
                alertify.log("已粘贴");
            },
	        selectAll: function(){
                let self = this;

                self.editor.selection.selectAll();
            },
            clearIt: function(){
                let self = this;

                self.editor.setValue();
                alertify.log("已清空");
            }
        }
    
	
	}
	</script>

</code>
