<code>

	<style>
		/*----------  style  ----------*/

		.omdb-trigger-editor-component {
			background-color: #f2f2f2;
			width:100%;
			height: 100%;
			position: relative;
		}


		.omdb-trigger-editor-component .ace_editor{
			border: none;
			margin: 0px 0px 0px 0px;
			width: 100%;
			height:calc(100vh - 182px)!important;
			position: relative !important;
			overflow: auto;
		}

		.omdb-trigger-editor-component .ace_keyword {
			color: #a70909!important;
		}

		

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="omdb-trigger-editor-component"  ----------*/
	<template>
        <el-tabs value="trigger" type="border-card">
            
            <el-tab-pane label="trigger" name="trigger">
                <span slot="label">
                    <i class="el-icon-postcard"></i>
                    <el-dropdown v-if="list" :hide-on-click="true">
                        <span class="el-dropdown-link">
                            <span v-if="_.isEmpty(selected)">选择触发器</span>
                            <span v-else>${selected.name}</span>
                            <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :key="item.name" v-for="item in list" @click.native="onChangeTrigger(item)">
                                <el-button type="text" style="text-align: left;">
                                    <span class="el-icon-document" style="font-size:38px;text-align: center;display: block;"></span>
                                    <p style="text-align: center;">${item.name}</p>
                                    <p style="font-size: 10px;color:#999999;">创建时间：${moment(item.time).format(mx.global.register.format)}</p>
                                    <p style="font-size: 10px;color:#999999;">脚本大小：${_.size(item.script)}</p>
                                </el-button>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </span>

                <el-container style="height:100%;">
                    <el-header :id="id+'_editorToolBar'" style="height: 35px;line-height: 35px;padding: 0px 10px;background: #f6f6f6;">
                        <el-button-group style="width:100%;" v-if="!_.isEmpty(selected) && !_.isEmpty(list)">
                            
                            <el-tooltip content="新建触发器" placement="bottom" open-delay="800">
                                <el-button type="text" @click="add" icon="el-icon-plus">
                                </el-button>
                            </el-tooltip>
        
                            <el-divider direction="vertical"></el-divider>
                            
                            <el-tooltip content="删除触发器" placement="bottom" open-delay="800">
                                <el-button type="text" @click="remove" icon="el-icon-delete">
                                </el-button>
                            </el-tooltip>
                            
                            <el-divider direction="vertical"></el-divider>
                            
                            <el-tooltip content="保存触发器" placement="bottom" open-delay="800">
                                <el-button type="text" @click="save" icon="fas fa-save">
                                </el-button>
                            </el-tooltip>
                            
                            <el-divider direction="vertical"></el-divider>
        
                            <el-switch v-model="selected.disable"
                                    inactive-color="#13ce66"
                                    active-color="#dddddd"
                                    active-value="true"
                                    inactive-value="false"
                                    @change="changeStatus"
                                    v-if="!_.isEmpty(selected)">
                            </el-switch>
        
                            <el-tooltip content="选择主题" placement="bottom" open-delay="800">
                                <el-button type="text" :class="'editor-select-theme-'+objectHash.sha1(className)" style="float:right;"><i class="fas fa-tshirt"></i></el-button>
                            </el-tooltip>
        
                        </el-button-group>
                        <el-button-group style="width:100%;" v-else>
                            
                            <el-tooltip content="新建触发器" placement="bottom" open-delay="800">
                                <el-button type="text" @click="add" icon="el-icon-plus">
                                </el-button>
                            </el-tooltip>
        
                        </el-button-group>
                    </el-header>
                    <el-main :id="id" style="padding:0px;overflow: hidden;" ref="editor"></el-main>
                    <el-footer :id="id+'_statusBar'" style="height:30px;line-height: 30px;" ref="statusBar"></el-footer>
                </el-container>
            </el-tab-pane>

            <el-tab-pane name="log" style="padding:10px;">
                <span slot="label"><i class="el-icon-date"></i> 日志</span>
                <mx-consolelog :fullname="logName" logType="trigger" v-if="!_.isEmpty(logName)"></mx-consolelog> 
            </el-tab-pane>
        </el-tabs>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="omdb-trigger-editor-component">
	{
	    delimiters: ['${', '}'],
        props: {
            id: String,
			className: String,
            model: Object,
            showToolsBar: Boolean,
			showStatusBar: Boolean
        },
        data(){
            return {
                editor: null,
                result: null,
                list: [],
                selected: {
                    name: "",
                    disable: false,
                    time: moment().format("YYYY-MM-DD hh:mm:ss"),
                    class: "",
	                script: ""
                },
                statusBarInfo: "",
                logName: ""
            }
        },
        computed: {
            selectedTitle(){
                return this.selected.disable == 'true' ? '启用中。。。' : '禁用中。。。';
            }
        },
        mounted(){
            this.$nextTick(()=>{
                this.init();
                this.initData();
            })
        },
        watch: {
	        selected:{
	            handler:function(val,oldVal){
                    this.editor.setValue(val.script);
                    
                    if(val.name){
                        this.logName = `${val.class}#${val.name}`;
                        console.log(11,this.logName)
                    }
	            },
		        deep:true
	        },
            result: function(val,oldVal){
                    if(val != oldVal) {
                        eventHub.$emit("QUERY-RESULT-TRIGGER-EVENT",this.result);
                    }
            }

        },
        methods: {
            init() {
                
                this.editor = ace.edit(this.$refs.editor.$el);
                
                this.editor.setOptions({
                    //maxLines: Infinity,
                    // minLines: 20,
                    autoScrollEditorIntoView: true,
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: false
                });
                this.editor.$blockScrolling = Infinity;
                this.editor.getSession().setUseSoftTabs(true);

                this.setTheme();
                this.setMode();

				this.toggleToolsBar();

				this.toggleStatusBar();

                this.editor.commands.addCommand({
                    name: "save",
                    bindKey: {
                        mac: "cmd-S", 
                        win: "ctrl-S",
                        sender: 'editor|cli'
                    },
                    exec: (env, args, request)=> {
                        this.save();
                    }
                });

                // init Theme
                _.delay(()=>{
                    this.initTheme();
                },3000)

            },
            setOptions(){
                if(!_.isEmpty(this.model.options)){
                    this.editor.setOptions(this.model.options);
                } 
            },
            setTheme(){
                
                let localTheme = localStorage.getItem(`editor-select-theme-${objectHash.sha1(this.className)}`);

                if(localTheme){
                    this.editor.setTheme("ace/theme/" + localTheme);
                    return false;
                }

                if(_.isEmpty(this.model.theme)){
                	this.editor.setTheme("ace/theme/tomorrow");
                } else {
                	this.editor.setTheme("ace/theme/"+this.model.theme);
                }
                
            },
            setMode(){
                if(_.isEmpty(this.model.mode)){
                	this.editor.getSession().setMode("ace/mode/lua");
                } else {
                	this.editor.getSession().setMode("ace/mode/"+ this.model.mode);
                }
            },
            onChangeTrigger(item){
                this.selected = item;
            },
            getSelected(){
                
                let temp = this.editor.getSelectedText();

                if(_.isEmpty(temp)){
                    this.inputText = this.editor.getValue();
                } else {
                    this.inputText = temp;
                }
            },
            toggleToolsBar(){
                if(this.showToolsBar){
                    $(".toolsBar").show();
                } else {
                    $(".toolsBar").hide();
                }
            },
	        toggleStatusBar(){
                if(self.showStatusBar) {
                    let StatusBar = ace.require("ace/ext/statusbar").StatusBar;
                    let statusBar = new StatusBar(this.editor, document.getElementById(this.$refs.statusBar.$el.id));
                }
	        },
	        copyIt(){
		        new Clipboard(".copy", {
                    text: (trigger)=> {
                        this.$message("已复制");
                        return this.editor.getValue();
                    }
                });
	        },
            pasteIt(){
                document.execCommand("paste");
                this.$message("已粘贴");
            },
	        selectAll(){
                this.editor.selection.selectAll();
            },
            clearIt(){
                this.editor.setValue();
                this.$message("已清空");
            },
            initTheme(){
                const self = this;
                let id = objectHash.sha1(self.className);

                $.contextMenu({
                    selector: `.editor-select-theme-${id}`,
                    trigger: 'left',
                    callback: function (key, options) {
                        if(key !== 'bright' && key !== 'dark'){
                            self.editor.setTheme("ace/theme/"+key);

                            localStorage.setItem(`editor-select-theme-${id}`,key);
                        }
                    },
                    items: {
                        "bright": { name: "亮色", items: {
                                "chrome": { name: "chrome"},
                                "clouds": { name: "clouds"},
                                "crimson_editor": { name: "crimson_editor"},
                                "dawn": { name: "dawn"},
                                "dreamweaver": { name: "dreamweaver"},
                                "eclipse": { name: "eclipse"},
                                "github": { name: "github"},
                                "iplastic": { name: "iplastic"},
                                "solarized_light": { name: "solarized_light"},
                                "textmate": { name: "textmate"},
                                "tomorrow": { name: "tomorrow"},
                                "xcode": { name: "xcode"},
                                "kuroir": { name: "kuroir"},
                                "katzenmilch": { name: "katzenmilch"},
                                "sqlserver": { name: "sqlserver"}
                            }
                        },
                        "dark": { name: "暗色", items: {
                                "ambiance": { name: "ambiance"},
                                "chaos": { name: "chaos"},
                                "clouds_midnight": { name: "clouds_midnight"},
                                "dracula": { name: "dracula"},
                                "cobalt": { name: "cobalt"},
                                "gruvbox": { name: "gruvbox"},
                                "gob": { name: "gob"},
                                "idle_fingers": { name: "idle_fingers"},
                                "kr_theme": { name: "kr_theme"},
                                "merbivore": { name: "merbivore"},
                                "merbivore_soft": { name: "merbivore_soft"},
                                "mono_industrial": { name: "mono_industrial"},
                                "monokai": { name: "monokai"},
                                "pastel_on_dark": { name: "pastel_on_dark"},
                                "solarized_dark": { name: "solarized_dark"},
                                "terminal": { name: "terminal"},
                                "tomorrow_night": { name: "tomorrow_night"},
                                "tomorrow_night_blue": { name: "tomorrow_night_blue"},
                                "tomorrow_night_bright": { name: "tomorrow_night_bright"},
                                "tomorrow_night_eighties": { name: "tomorrow_night_eighties"},
                                "twilight": { name: "twilight"},
                                "vibrant_ink": { name: "vibrant_ink"}
                            }
                        }
                    }
                });
            },
            // 触发器数据结构化整理
            treatNode(event){
                return _.map(event.script,function(v,k){
                    let attr = {disable:false};

                    if(event.attr && event.attr != null){
                        if(event.attr[k]) {
                            attr = JSON.parse(event.attr[k] || '{}');
                        }
                    }

                    return _.merge(attr,{name:k,script:event.script[k],class:event.class,vtime:event.vtime});
                });
            },
	        initData(){
                
                triggerHandler.triggerListAsync(this.className).then( (rtn)=>{
                    
                    let list = [];

                    if(!_.isEmpty(rtn)){
                        list = this.treatNode(rtn[0]);
                    }

                    if(!_.isEmpty(list)){
                        this.list = _.map(list,(v,k)=>{
                            return   {
                                name: _.trim(v.name),
                                disable: v.disable,
                                time: v.vtime,
                                class: v.class,
                                script: v.script
                            }
                        });

                        this.selected = _.head(_.orderBy(this.list,['name'],['asc']));
                    }
                } );

            },
            add(){
                
                this.$prompt('新增触发器', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消'
                }).then(({ value }) => {

                    if(_.isEmpty(value)){
                        this.$message({
                            type: 'info',
                            message: '请输入触发器名称！'
                        });
                        return false;
                    }

                    triggerHandler.triggerNewAsync({class: this.className, name: _.trim(value), script:''}).then( (rtn)=>{
                        
                        if(rtn == 1) {
                            this.$message({
                                type: 'success',
                                message: '新建触发器成功'
                            });
                            this.refresh(value);
                        }else {
                            this.$message({
                                type: 'error',
                                message: '新建触发器失败 ' + rtn
                            });
                        }
                    } );


                }).catch(() => {
                
                });

            },
            save() {
                
                let script = this.editor.getValue();

                triggerHandler.triggerNewAsync({class: this.className, name: this.selected.name, script: script, attr:{disable: `${this.selected.disable}`}}).then( (rtn)=>{
                    if(rtn == 1) {
                        this.$message({
                                type: 'success',
                                message: '保存触发器成功'
                            });
                        this.refresh(this.selected.name);
                    } else {
                        this.$message({
                            type: 'error',
                            message: '保存触发器失败 ' + rtn
                        });
                    }
                } );

            },
            changeStatus(value){
                
                let script = this.editor.getValue();

                triggerHandler.triggerNewAsync({class: this.className, name: this.selected.name, script: script, attr:{disable: `${this.selected.disable}`}}).then( (rtn)=>{
                    if(rtn === 1) {
                        this.refresh(this.selected.name);
                    }
                } );
                
            },
            refresh(name) {
                
                triggerHandler.triggerListAsync(this.className).then( (rtn)=>{
                    if(!_.isEmpty(rtn)){
                        this.list = _.map(this.treatNode(rtn[0]),(v,k)=>{
                            return   {
                                name: v.name,
                                disable: v.disable,
                                time: v.vtime,
                                class: v.class,
                                script: v.script
                            }
                        });

                        this.selected = _.groupBy(_.orderBy(this.list,['name'],['asc']),'name')[name][0];

                    } else {
                        this.list = [];
                        this.selected = { name: ""};
                    }

                } );

            },
            remove() {
                
                this.$confirm(`确认删除触发器：${this.selected.name}`, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    
                    triggerHandler.triggerDeleteAsync(this.className, this.selected.name).then( (rtn)=>{
                        if(rtn == 1){
                            this.$message({
                                type: 'success',
                                message: '删除触发器成功'
                            });
                            let name = this.list.length>0 ? _.head(this.list).name : null;
                            this.refresh(name);
                        } else{
                            this.$message({
                                type: 'error',
                                message: '删除触发器失败 ' + rtn
                            });
                        }
                    } );
                    
                }).catch(() => {
                    
                });

            }
        }
    
	
	}
	</script>

</code>
