<code>

	<style scoped>
		/*----------  style  ----------*/

		#outlineContainer {
			z-index:1;
			position:absolute;
			overflow:hidden;
			top:40px;
			right:5px;
			width: 80px;
			height:80px;
			background: #ffffff;
			box-shadow: 3px 3px 12px #C0C0C0;
			border: 1px solid rgb(195, 195, 195);
		}

		#tools {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 30px;
            line-height: 30px;
			padding: 10px 0 0 0;
			background: #f2f2f2;
            display: flex;
		}

		#tools > img {
			width:18px;
			height:18px;
			margin: 0px 5px;
		}

		.node-menu{
			width:20vw;
		}

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="omdb-graph-component"  ----------*/
	<template>
		<el-container :id="id" style="height:100%;">
			<el-header id="nav" style="height:30px;line-height: 30px; padding:0px;">
				<div id="tools"></div>
				<div id="outlineContainer"></div>
            </el-header>
            <el-main id="container"></el-main>
		</el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="omdb-graph-component">
	{
	    delimiters: ['${', '}'],
	    props: {
	        id: String,
	        graphData: Object,
	    },
	    data: function () {
	        return {
                model:{
                    graph:{
                        container: null,
                        model: null,
                        graph: null,
                        layout: {
                            default: null,
                            hierarchical:null,
                            organic: null
                        },
                        nodes:null,
                        edges:null,
                        edgeList: fsHandler.callFsJScript("/matrix/graph/edges.js",null).message,
                        paths:[],
                        colors:['#ff0000','#ffd700','#666666','#00ffff','#40e0d0','#ff7373','#d3ffce','#3399ff','#000080','#66cccc','#a0db8e','#794044','#6897bb','#cc0000'],
	                    layers: {
                            root: null,
		                    layer1: null,
                            layer2: null,
                            layer3: null,
                            layer4: null,
                            layer5: null,
                            layer6: null,
                            layer7: null
	                    },
                        orientation: {
                            value:0,
	                        list:['north','south']
                        },
	                    parent: null,
                        theme: "",
                        outline: null,
                        default: {
                            title: 'name'
                        }
                    }
                }
	        }
	    },
	    created:function(){
	        const self = this;
            eventHub.$on(`PATH-TOGGLE-EVENT-${self.id}-graph-path`,self.addPath);
	    },
	    mounted() {
	        var self = this;

	        self.$nextTick(function(){

                self.init();
                self.initPlugIn();
	            
	        })
	    },
	    methods: {
            init() {
                const self = this;

                if (!mxClient.isBrowserSupported())
                {
                    // Displays an error message if the browser is
                    // not supported.
                    mxUtils.error('Browser is not supported!', 200, false);
                }
                else
                {

                    self.model.graph.container = document.getElementById("container");
                    self.model.graph.container.style.position = 'releative';
                    self.model.graph.container.style.overflow = 'hidden';
                    self.model.graph.container.style.left = '0px';
                    self.model.graph.container.style.top = '0px';
                    self.model.graph.container.style.right = '0px';
                    self.model.graph.container.style.bottom = '0px';
                    document.getElementById(self.id).appendChild(self.model.graph.container);


                    //mxEvent.disableContextMenu(self.model.graph.container);

                    if (mxClient.IS_QUIRKS)
                    {
                        document.body.style.overflow = 'hidden';
                        new mxDivResizer(self.model.graph.container);
                        new mxDivResizer(outline);
                    }

                    // Creates the graph inside the given container
                    self.model.graph.layers.root = new mxCell();
                    self.model.graph.layers.layer0 = self.model.graph.layers.root.insert(new mxCell());
                    self.model.graph.layers.layer1 = self.model.graph.layers.root.insert(new mxCell());
                    self.model.graph.layers.layer2 = self.model.graph.layers.root.insert(new mxCell());
                    self.model.graph.layers.layer3 = self.model.graph.layers.root.insert(new mxCell());
                    self.model.graph.layers.layer4 = self.model.graph.layers.root.insert(new mxCell());
                    self.model.graph.layers.layer5 = self.model.graph.layers.root.insert(new mxCell());
                    self.model.graph.layers.layer6 = self.model.graph.layers.root.insert(new mxCell());
                    self.model.graph.layers.layer7 = self.model.graph.layers.root.insert(new mxCell());

	                self.model.graph.model = new mxGraphModel(self.model.graph.layers.root);
                    self.model.graph.graph = new mxGraph(self.model.graph.container, self.model.graph.model);
                    
                    // Enables automatic sizing for vertices after editing and
                    // panning by using the left mouse button.
                    self.model.graph.graph.setEnabled(false);
                    self.model.graph.graph.setCellsMovable(true);
                    self.model.graph.graph.setAutoSizeCells(true);
                    self.model.graph.graph.setPanning(true);
                    self.model.graph.graph.centerZoom = true;
                    self.model.graph.graph.panningHandler.useLeftButtonForPanning = true;
                    // Disables tooltips on touch devices
                    self.model.graph.graph.setTooltips(!mxClient.IS_TOUCH);
                    self.model.graph.graph.htmlLabels = true;


                    self.model.graph.graph.getCursorForCell = function(cell){
                        if (cell != null && cell.value != null && cell.vertex ==1 ){
                            return 'pointer';
                        }
                    }


                    // Displays a popupmenu when the user clicks
                    // on a cell (using the left mouse button) but
                    // do not select the cmxCellRenderer.prototype.createLabelell when the popup menu
                    // is displayed
                    self.model.graph.graph.panningHandler.popupMenuHandler = false;

                    // Creates a layout algorithm to be used with the graph
                    self.model.graph.layout.hierarchical = new mxHierarchicalLayout(self.model.graph.graph);
                    self.model.graph.layout.organic = new mxFastOrganicLayout(self.model.graph.graph);
                    self.model.graph.layout.default = self.model.graph.layout.hierarchical;

                    self.model.graph.parent = self.model.graph.graph.getDefaultParent();

                    self.initGraph();

                    self.cellEvent();

                }
            },
            initGraph(){
                const self = this;

                let allNodes = [];
                let allEdges = [];
                
                try {
                    self.model.graph.graph.getModel()

                    self.model.graph.nodes = {};
                    
                    // 添加节点类型，是否是新增、删除或者正常
                    allNodes =  _.map(self.graphData.nodes,(v)=>{
                                        return _.extend(v,{type:'normal'});
                                });
                    
                    //合并新增节点
                    try{
                        allNodes = _.map(allNodes,(v)=>{
                                        if(_.find(self.graphData.diff.add.nodes,{id:v.id})){
                                            return _.extend(v,{type:"add"});
                                        } else {
                                            return v;
                                        }
                                    })
                    }catch(err){
                        
                    }
                    
                    //合并删除的节点
                    try{
                        allNodes =  _.concat(allNodes,_.map(self.graphData.diff.del.nodes,(v)=>{
                                        return _.extend(v,{type:"del"});
                                    }))
                    } catch(err){
                        
                    }

                    // 添加edge类型，包括正常的、新增的、删除的
                    allEdges = _.map(self.graphData.edges,(v)=>{
                        return _.extend(v,{type:"normal"});
                    });

                    //合并新增edge
                    try{
                        allEdges = _.map(allEdges,(v)=> {
                            if(_.find(self.graphData.diff.add.edges,{id:v.id})){
                                return _.extend(v,{type:'add'});
                            } else {
                                return v;
                            }
                        });
                    }catch(err){

                    }
                    
                    // 合并删除edge
                    try {
                        allEdges =  _.concat(allEdges,_.map(self.graphData.diff.del.edges,(v)=> {
                                        return _.extend(v,{type:'del'});
                                    }));
                    } catch(err){
                        
                    }

                    // 开始绘图
                    self.model.graph.graph.getModel().beginUpdate();
                    
                    
                    // 绘制节点
                    _.forEach(allNodes,function(v){

                        let _type = v._icon || 'matrix';

                        // 关联类图标设定
                        if(_.startsWith(v.class,'/matrix/devops/')){
                            _type = 'matrix';
                        }

                        // 可设置默认显示属性
                        let _name =  '';

                        try{
                            _name = v[self.model.graph.default.title];
                        } catch(err){
                            _name = v["id"];
                        }

                        let node = self.model.graph.graph.insertVertex(self.model.graph.parent, v.id, _name, 50, 50, 120, 50,
                            `shape=image;html=1;image=${window.ASSETS_ENTITY_ICON}/${_type}.png${window.ASSETS_POSTFIX};verticalLabelPosition=bottom;verticalAlign=top;`);


                        _.extend(self.model.graph.nodes,{[v.id]:node});


                        //add
                        if(v.type && v.type === 'add'){
                            let overlay = new mxCellOverlay(new mxImage(`${window.ASSETS_APP_ICON}/flag/add.png${window.ASSETS_POSTFIX}`,24,24), "新增", mxConstants.ALIGN_RIGHT, mxConstants.ALIGN_TOP, new mxPoint(-10,15));
                            self.model.graph.graph.addCellOverlay(node, overlay);
                        }

                        //delete
                        if(v.type && v.type === 'del'){
                            let overlay = new mxCellOverlay(new mxImage(`${window.ASSETS_APP_ICON}/flag/delete.png${window.ASSETS_POSTFIX}`,24,24), "删除", mxConstants.ALIGN_RIGHT, mxConstants.ALIGN_TOP, new mxPoint(-10,15));
                            self.model.graph.graph.addCellOverlay(node, overlay);
                        }

                    })

                    // 绘制关系
                    _.forEach(allEdges,function(k){
                        let source = self.model.graph.nodes[k.source];
                        let target = self.model.graph.nodes[k.target];

                        let baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;html=1;rounded=1;jettySize=auto;orthogonalLoop=1;endArrow=block;endFill=1;';
                        let direction = '';

                        if(k.twoway){
                            direction = 'startArrow=block;endArrow=block;endFill=1;';
                        }

                        if(k.type=='add'){
                            direction += 'strokeColor=#47fa28;strokeWidth=2;';
                        } else if(k.type=='del'){
                            direction += 'dashed=1;strokeColor=#ff0000;strokeWidth=2;';
                        } else {
                            direction += ''; 
                        }

                        let edge = null;
                        try {
                            let edgeName = _.find(self.model.graph.edgeList,{name:k.class}).remedy;
                            edge = self.model.graph.graph.insertEdge(self.model.graph.parent, k.id, edgeName, source, target, baseEdgeStyle+direction);
                        } catch(err){
                            edge = self.model.graph.graph.insertEdge(self.model.graph.parent, k.id, k.class, source, target, baseEdgeStyle+direction);
                        }
                    })

                    // Executes the layout
                    self.model.graph.layout.default.execute(self.model.graph.parent);
                    
                } finally {

                    self.model.graph.graph.getModel().endUpdate();

                    self.toCenter();

                    if(self.graphData.paths.length){
                        self.path();
                    }

                }
            },
            initPlugIn(){
                const self = this;

                self.outline();
                self.toolBars();

            },
            cellEvent(){
                const self = this;

                try{
                    self.model.graph.graph.addListener(mxEvent.CLICK, function(sender, evt) {

                        let cell = evt.getProperty('cell');

                        if(_.isEmpty(cell)) return;

                        let id = cell.getId();
                        let value = cell.getValue();

                        let state = self.model.graph.graph.view.getState(cell);
                        
                        if(!cell.edge){

                            let nodeDic = [_.find(self.graphData.nodes,{id: id})];
                        
                            state.shape.node.getElementsByTagName("image")[0].setAttribute('class', `${value} ${id.replace(/:/g,"_")} animated flash`);
                            
                            $.contextMenu({
                                selector: `.${id.replace(/:/g,"_")}`,
                                trigger: 'left',
                                delay: 10,
                                hideOnSecondTrigger: true,
                                className: `animated slideIn node-menu`,
                                build: function($trigger, e) {

                                    let items = null;
                                    _.forEach(nodeDic,function(val){
                                        _.forEach(val,function(v,k){

                                            let value = null;

                                            if(typeof v == "object") {
                                                if(_.includes(['depend','runon','connect','refer','contain'],k)){

                                                    if(v==null || !v['_all']) return;
                                                    let _options = {};
                                                    _.map(v['_all'],function(w,y){
                                                        return _.merge(_options,{[y]:w});
                                                    })

                                                    items = _.merge(items, {[k]: {name:k+`(${v['_all'].length})`, type: 'select', options: _options, selected:0, icon:'fas fa-tags'}} );
                                                } else {
                                                    value = JSON.stringify(v,null,2);
                                                    items = _.merge(items, {[k]: {name:k, type: 'textarea', rows: 3, value: value, icon:'fas fa-bars'}} );
                                                }

                                            } else {
                                                value = v.toString();
                                                if(value.length > 20){
                                                    items = _.merge(items, {[k]: {name:k, type: 'textarea', rows: 3, value: value, icon:'fas fa-bars'}} );
                                                } else {
                                                    items = _.merge(items, {[k]: {name:k, type: 'text', value: value, icon:'fas fa-bars'}} );
                                                }
                                                
                                            }

                                        })
                                    });

                                    return {
                                        callback: function(key, opt) {

                                            if(key === 'copy'){

                                            } else if(key === 'tags') {

                                            } else if(key === 'export') {

                                            } else if(key === 'load') {

                                            }
                                        },
                                        items:items
                                    }
                                },
                                events: {
                                    show: function(opt) {
                                        let $this = this;

                                        $(".context-menu-list input").css({
                                            "margin": "5px",
                                            "padding": "5px",
                                            "borderRadius": "2px",
                                            "fontWeight": "normal",
                                            "border": "1px solid rgb(221, 221, 221)"
                                        })

                                        $(".context-menu-list textarea").css({
                                            "margin": "5px",
                                            "padding": "5px",
                                            "fontWeight": "normal",
                                            "borderRadius": "2px",
                                            "border": "1px solid rgb(221, 221, 221)"
                                        })
                                    },
                                    hide: function(opt) {
                                        let $this = this;
                                        $(".context-menu-list animated slideIn").remove();
                                    }
                                }
                            });
                            
                        
                        } else {
                            
                            let nodeDic = [_.isEmpty(_.find(self.graphData.edges,{id: id}).attrs)?[]:_.find(self.graphData.edges,{id: id}).attrs];

                            if(!nodeDic) return false;

                            state.shape.node.getElementsByTagName("path")[0].setAttribute('class', `${value} ${id.replace(/:/g,"_")} animated flash`);
                            state.shape.node.getElementsByTagName("path")[1].setAttribute('class', `${value} ${id.replace(/:/g,"_")} animated flash`);
                            state.shape.node.getElementsByTagName("path")[2].setAttribute('class', `${value} ${id.replace(/:/g,"_")} animated flash`);
                            
                            $.contextMenu({
                                selector: `.${id.replace(/:/g,"_")}`,
                                trigger: 'left',
                                delay: 10,
                                hideOnSecondTrigger: true,
                                className: `animated slideIn node-menu`,
                                build: function($trigger, e) {

                                    let items = null;
                                    _.forEach(nodeDic,function(val){
                                        _.forEach(val,function(v,k){

                                            let value = null;

                                            if(typeof v == "object") {
                                                if(_.includes(['depend','runon','connect','refer','contain'],k)){

                                                    if(v==null || !v['_all']) return;
                                                    let _options = {};
                                                    _.map(v['_all'],function(w,y){
                                                        return _.merge(_options,{[y]:w});
                                                    })

                                                    items = _.merge(items, {[k]: {name:k+`(${v['_all'].length})`, type: 'select', options: _options, selected:0, icon:'fas fa-bars'}} );
                                                } else {
                                                    value = JSON.stringify(v,null,2);
                                                    items = _.merge(items, {[k]: {name:k, type: 'textarea', rows: 6, value: value, icon:'fas fa-bars'}} );
                                                }

                                            } else {
                                                value = v.toString();
                                                items = _.merge(items, {[k]: {name:k, type: 'text', value: value, icon:'fas fa-bars'}} );
                                            }

                                        })
                                    });

                                    return {
                                        callback: function(key, opt) {

                                            if(key === 'copy'){

                                            } else if(key === 'tags') {

                                            } else if(key === 'export') {

                                            } else if(key === 'load') {

                                            }
                                        },
                                        items:items
                                    }
                                },
                                events: {
                                    show: function(opt) {
                                        let $this = this;

                                    },
                                    hide: function(opt) {
                                        let $this = this;
                                        $(".context-menu-list animated slideIn").remove();
                                    }
                                }
                            }); 
                            
                        }

                        // copy to copyboard
                        let clipboard2 = new Clipboard('g image',{
                            text: function(trigger) {
                                return id;
                            }
                        });

                    });
                } catch(err){

                }

            },
            updateStyle(state, hover){
                if (hover)
                {
                    state.style[mxConstants.STYLE_FILLCOLOR] = '#f9f9f9';
                }
                
                // Sets rounded style for both cases since the rounded style
                // is not set in the default style and is therefore inherited
                // once it is set, whereas the above overrides the default value
                state.style[mxConstants.STYLE_ROUNDED] = (hover) ? '1' : '0';
                state.style[mxConstants.STYLE_STROKEWIDTH] = (hover) ? '4' : '1';
                state.style[mxConstants.STYLE_FONTSTYLE] = (hover) ? mxConstants.FONT_BOLD : '0';
            },
            tip: function(event){
                const self = this;

                alertify.log(event + ' ' + moment().format("LLL"));
            },
            outline(){
                const self = this;

                let outline = document.getElementById('outlineContainer');

                self.model.graph.outline = new mxOutline(self.model.graph.graph, outline);

            },
		    saveas(){
				const self = this;

                let encoder = new mxCodec();
                let node = encoder.encode(self.model.graph.graph.getModel());
                let xml = mxUtils.getPrettyXml(node);

                alertify.prompt("文件名称", function (e, str) {
                    // str is the input text
                    if (e) {
                        // user clicked "ok"
	                    let parent = `/opt/creative/${window.SignedUser_UserName}`;
	                    let ftype = 'imap';
	                    let name = `${str}.${ftype}`;
	                    let attr = {remark: null, ctime: _.now(), author: window.SignedUser_UserName, type: 'imap', icon: `${window.ASSETS_FILES_ICON}/imap.png${window.ASSETS_POSTFIX}`};
                        let rtn = fsHandler.fsNew('file', parent, name, xml, attr);
	                    if(rtn == 1){

	                        let item = _.merge({parent:parent,name:name,attr:attr,ftype:ftype},{lang: 'zh', action:'run'});

                            let url = fsHandler.genFsUrl(item,null,null);

                            alertify.success(`已保存到/fs${[parent,name].join("/")}，<a class="btn btn-success" href="${url}" target="_blank">点击前往编辑或查看</a>`);
	                    }
                    } else {
                        // user clicked "cancel"
                    }
                }, "");

                $(".alertify-prompt .alertify-message").css('height','5vh');

		    },
            toolBars() {
                const self = this;

                let content = document.getElementById('tools');

                let tb = new mxToolbar(content);

                tb.addItem('{{.i18n.Tr "creative-saveas"}}', `${window.ASSETS_TOOLS_ICON}/saveas.png${window.ASSETS_POSTFIX}`,function(evt)
                {
                    self.saveas();

                },null,'tools-item');


                tb.addItem('{{.i18n.Tr "creative-tools-refresh"}}', `${window.ASSETS_TOOLS_ICON}/refresh.png${window.ASSETS_POSTFIX}`,function(evt)
                {
                    $(self.$el).find("#container").empty();

                    self.init();

                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-zoom_in"}}', `${window.ASSETS_TOOLS_ICON}/zoom_out.png${window.ASSETS_POSTFIX}`,function(evt)
                {
                    self.model.graph.graph.zoomIn();
                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-zoom_out"}}', `${window.ASSETS_TOOLS_ICON}/zoom_in.png${window.ASSETS_POSTFIX}`,function(evt)
                {
                    self.model.graph.graph.zoomOut();
                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-print"}}', `${window.ASSETS_TOOLS_ICON}/print.png${window.ASSETS_POSTFIX}`,function(evt)
                {
                    var scale = mxUtils.getScaleForPageCount(1, self.model.graph.graph);
                    var preview = new mxPrintPreview(self.model.graph.graph, scale);
                    preview.open();

                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-fullscreen"}}', `${window.ASSETS_TOOLS_ICON}/fullscreen.png${window.ASSETS_POSTFIX}`,function(evt)
                {
                    mx.fullScreen();

                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-direction"}}', `${window.ASSETS_TOOLS_ICON}/direction.png${window.ASSETS_POSTFIX}`,function(evt)
                {
                    self.model.graph.graph.getModel().beginUpdate();

                    try
                    {
                        if(self.model.graph.orientation.value == 0){
                            self.model.graph.orientation.value = 1;
                        } else {
                            self.model.graph.orientation.value = 0;
                        }

                        self.model.graph.layout.default.orientation = self.model.graph.orientation.list[self.model.graph.orientation.value];

                        // Executes the layout
                        self.model.graph.layout.default.execute(self.model.graph.parent);
                    }
                    finally
                    {
                        self.model.graph.graph.getModel().endUpdate();

                        self.toCenter();

                    }


                },null,'tools-item-direction');

                tb.addItem('{{.i18n.Tr "creative-tools-path"}}', `${window.ASSETS_TOOLS_ICON}/path.png${window.ASSETS_POSTFIX}`,function(evt)
                {
                    self.path();

                },null,'tools-item');

                //$(self.$el).find("#tools img").attr("data-tooltip","tooltip");

                // 插入属性选择
                let id = `attributes-select-${self.id}`;
                $(content).append(`<div style="width:100%;"><div id="${id}"></div></div>`).ready(function(){
                    new Vue({
                        data: {
                            options: [],
                            value: 'name'
                        },
                        watch:{
                            value: function(val,oldVal){
                                self.model.graph.default.title = this.value;
                                $(self.$el).find("#container").empty();
                                self.init();
                            }
                        },
                        template:   `<el-select v-model="value" placeholder="请选择">
                                        <span class="fas fa-bars" slot="prefix"></span>
                                        <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                        </el-option>
                                    </el-select>`,
                        created(){
                            const me = this;

                            me.options = _.sortBy(_.map(_.keys(self.graphData.nodes[0]),function(v){
                                let k = v;//.replace(/_/g,"");
                                return {value: k, label: k};//_.capitalize(k)};
                            }),['value'])
                        },
                        mounted(){
                            _.delay(() => {
                                $(".el-input--small .el-input__inner",this.$el).css({
                                    "height": "22px",
                                    "line-height": "22px",
                                    "border":"unset",
                                    "backgroundColor": "transparent"
                                });

                                $(".el-input--small",this.$el).css({
                                    "fontSize": "12px"
                                });

                                $(".el-select--small").css({
                                    "width": "120px",
                                    "height": "22px",
                                    "line-height": "22px",
                                    "float": "right"
                                });

                                $(".el-input__suffix",this.$el).css({
                                    "display": "none"
                                });

                            },50)
                        }                                    

                    }).$mount(`#${id}`);
                });

                $(self.$el).find("img").eq(7).attr("ref", "pathRef");
            },
            toCenter(){
                const self = this;

                self.model.graph.graph.fit();
                self.model.graph.graph.center(true,false,0.5,0.5);

            },
            path(){
                const self = this;
                try{
                    if(jsPanel.activePanels.getPanel('jsPanel-路径')){
                        jsPanel.activePanels.getPanel('jsPanel-路径').close();
                    }
                }catch(error){

                }
                finally{
                    maxWindow.winGraphPath('路径', `<div id="${self.id}-graph-path"></div>`, null, `#${self.id}`, self.pathHandle);
                }
            },
            pathHandle(){
                const self = this;
                let dataset = [];
                let cols = {
                                "path":_.concat([{field:"num",title:"序号"}],_.map(self.graphData.pathtags,function(v){ return {field:v,title:v}}))
                            };
                
                _.forEach(self.graphData.paths,function(v,index){
                    dataset.push( _.merge({num:`路径${++index}`,class:"path"},v));
                })
                let node = { data: _.groupBy(dataset,'class'), columns: cols};
                let path = omdb.path(`${self.id}-graph-path`,`${self.id}-graph-path`, node);
                new Vue(path);
            },
            addPath(event){
                const self = this;

                // 过滤event
                let paths = _.map(event,function(v){
                                    return _.omit(v,['num','class']);
                                });
                
                self.model.graph.graph.getModel().beginUpdate();
                
                try
                {
                    self.model.graph.graph.getModel()

                    if(self.model.graph.paths.length){
                        self.removePath();
                    }

                    _.forEach(paths,function(v,index){
                        // keys
                        var keys = _.keys(v);
                        // values
                        var values = _.values(v);
                        
                        for(var i=0;i<keys.length;i++){
                            let source = self.model.graph.nodes[v[keys[i]]];
                            let target = self.model.graph.nodes[v[keys[i+1]]];
                            if(_.isUndefined(target)){
                                return;
                            }
                            let baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;orthogonalLoop=1;strokeWidth=1;dashed=1;startFill=0;endArrow=none;endFill=0;startArrow=none;orthogonal=1;elbow=vertical;';
                            let strokeColor = self.model.graph.colors[index] || _.sample(self.model.graph.colors);
                            
                            // 绘制路径
                            let hasPath = self.model.graph.graph.getModel().getCell(`path${index+1}${i}`);
                            if(!hasPath){
                                let path = self.model.graph.graph.insertEdge(self.model.graph.parent, `path${index+1}${i}`, `${index+1}`, source, target, baseEdgeStyle+`strokeColor=${strokeColor};`);
                                self.model.graph.paths.push(path);
                            }
                        }
                    })

                    // Executes the layout
	                self.model.graph.layout.default.execute(self.model.graph.parent);
                }
                finally
                {
                    self.model.graph.graph.getModel().endUpdate();
                }
            },
            removePath(){
                const self = this;

                // Cancels interactive operations
                self.model.graph.graph.escape();
                var cells = self.model.graph.paths;
                
                if (cells != null && cells.length > 0)
                {
                    self.model.graph.graph.removeCells(cells, true);
                }
            }
	    }
	
	}
	</script>

</code>
