<code>

	<style>
		/*----------  style  ----------*/

		.omdb-trigger-editor-component {
			background-color: rgb(246, 246, 246);
			width:100%;
			height: 100%;
			position: relative;
		}


		.omdb-trigger-editor-component .ace_editor{
			border: none;
			margin: 0px 0px 0px 0px;
			width: 100%;
			height:calc(100vh - 182px)!important;
			position: relative !important;
			overflow: auto;
		}

		.omdb-trigger-editor-component .ace_keyword {
			color: #a70909!important;
		}

		

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="omdb-trigger-editor-component"  ----------*/
	<template>
		<el-container>
			<el-header :id="id+'_editorToolBar'" style="height:30px;line-height: 30px;padding:0px 5px;">
				<el-button-group style="width:100%;">
                    <el-tooltip content="选择触发器" placement="bottom" open-delay="500">
                        <el-button type="text" :id="id+'_trigger_list_contextmenu'" style="padding-left:10px;font-weight: 600;">
						    ${selected.name} <i class="fas fa-angle-down"></i>
                        </el-button>
                    </el-tooltip>
                    
                    <el-tooltip content="新建触发器" placement="bottom" open-delay="500">
                        <el-button type="text" @click="add">
                            <i class="fas fa-plus"></i>
                        </el-button>
                    </el-tooltip>
                    <el-tooltip content="删除触发器" placement="bottom" open-delay="500">
                        <el-button type="text" @click="remove" >
                            <i class="fas fa-trash"></i>
                        </el-button>
                    </el-tooltip>
                    <el-tooltip content="保存触发器" placement="bottom" open-delay="500">
                        <el-button type="text" @click="save">
                            <i class="fas fa-save"></i>
                        </el-button>
                    </el-tooltip>
                    <el-switch v-model="selected.disable"
                            inactive-color="#13ce66"
                            active-color="#dddddd"
                            active-value="true"
                            inactive-value="false"
                            @change="changeStatus"
                            v-if="list.length > 0">
                    </el-switch>
                    <el-tooltip content="选择主题" placement="bottom" open-delay="500">
                        <el-button type="text" :class="'editor-select-theme-'+objectHash.sha1(className)" style="float:right;"><i class="fas fa-tshirt"></i></el-button>
                    </el-tooltip>
				</el-button-group>
			</el-header>
			<el-main :id="id" style="padding:0px;" ref="editor"></el-main>
			<el-footer :id="id+'_statusBar'" style="height:30px;line-height: 30px;"></el-footer>
		</el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="omdb-trigger-editor-component">
	{
	    delimiters: ['${', '}'],
        props: {
            id: String,
			className: String,
            model: Object,
            showToolsBar: Boolean,
			showStatusBar: Boolean
        },
        data: function(){
            return {
                editor: null,
                result: null,
                list: [],
                selected: {
                    name: "",
                    disable: false,
                    time: moment().format("YYYY-MM-DD hh:mm:ss"),
                    class: "",
	                script: ""
                },
	            statusBarInfo: ""
            }
        },
        mounted(){
            this.$nextTick(()=>{
                this.init();
                this.initData();
                _.delay(()=>{
	                this.initMenu();
	                this.initToolTip();
                },500)
            })
        },
        watch: {
	        selected:{
	            handler:function(val,oldVal){
	                this.editor.setValue(val.script);
	            },
		        deep:true
	        },
            result: function(val,oldVal){
                    if(val != oldVal) {
                        eventHub.$emit("QUERY-RESULT-TRIGGER-EVENT",this.result);
                    }
            }

        },
        computed:{
            selectedTitle(){
                _.delay(()=>{
                    this.initToolTip()
                },1500);

                return this.selected.disable == 'true' ? '启用中。。。' : '禁用中。。。';
            }
        },
        methods: {
            init() {
                
                this.editor = ace.edit(this.$refs.editor.$el);
                
                this.editor.setOptions({
                    //maxLines: Infinity,
                    // minLines: 20,
                    autoScrollEditorIntoView: true,
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: false
                });
                this.editor.$blockScrolling = Infinity;
                this.editor.getSession().setUseSoftTabs(true);

                this.setTheme();
                this.setMode();

				this.toggleToolsBar();

				this.toggleStatusBar();

                this.editor.commands.addCommand({
                    name: "save",
                    bindKey: {
                        mac: "cmd-S", 
                        win: "ctrl-S",
                        sender: 'editor|cli'
                    },
                    exec: (env, args, request)=> {
                        this.save();
                    }
                });

                // init Theme
                _.delay(()=>{
                    this.initTheme();
                },3000)

            },
            setOptions(){
                if(!_.isEmpty(this.model.options)){
                    this.editor.setOptions(this.model.options);
                } 
            },
            setTheme: function(){
                const self = this;

                let localTheme = localStorage.getItem(`editor-select-theme-${objectHash.sha1(self.className)}`);

                if(localTheme){
                    self.editor.setTheme("ace/theme/" + localTheme);
                    return false;
                }

                if(_.isEmpty(self.model.theme)){
                	self.editor.setTheme("ace/theme/tomorrow");
                } else {
                	self.editor.setTheme("ace/theme/"+self.model.theme);
                }
                
            },
            setMode: function(){
                const self = this;

                if(_.isEmpty(self.model.mode)){
                	self.editor.getSession().setMode("ace/mode/lua");
                } else {
                	self.editor.getSession().setMode("ace/mode/"+ self.model.mode);
                }
                
            },
            getSelected: function(){
                const self = this;
                let temp = self.editor.getSelectedText();

                if(_.isEmpty(temp)){
                    self.inputText = self.editor.getValue();
                } else {
                    self.inputText = temp;
                }
            },
            toggleToolsBar: function(){
                const self = this;

                if(self.showToolsBar){
                    $(".toolsBar").show();
                } else {
                    $(".toolsBar").hide();
                }
            },
	        toggleStatusBar: function(){
                const self = this;

                if(self.showStatusBar) {
                    let StatusBar = ace.require("ace/ext/statusbar").StatusBar;
                    let statusBar = new StatusBar(self.editor, document.getElementById(`${self.id}_statusBar`));
                }
	        },
	        copyIt: function(){
		        const self = this;

                new Clipboard(".copy", {
                    text: function(trigger) {
                        alertify.log("已复制");
                        return self.editor.getValue();
                    }
                });

	        },
            pasteIt: function(){
                const self = this;

                document.execCommand("paste");
                alertify.log("已粘贴");
            },
	        selectAll: function(){
                const self = this;

                self.editor.selection.selectAll();
            },
            clearIt: function(){
                const self = this;

                self.editor.setValue();
                alertify.log("已清空");
            },
            initTheme: function(){
                const self = this;
                let id = objectHash.sha1(self.className);

                $.contextMenu({
                    selector: `.editor-select-theme-${id}`,
                    trigger: 'left',
                    callback: function (key, options) {
                        if(key !== 'bright' && key !== 'dark'){
                            self.editor.setTheme("ace/theme/"+key);

                            localStorage.setItem(`editor-select-theme-${id}`,key);
                        }
                    },
                    items: {
                        "bright": { name: "亮色", items: {
                                "chrome": { name: "chrome"},
                                "clouds": { name: "clouds"},
                                "crimson_editor": { name: "crimson_editor"},
                                "dawn": { name: "dawn"},
                                "dreamweaver": { name: "dreamweaver"},
                                "eclipse": { name: "eclipse"},
                                "github": { name: "github"},
                                "iplastic": { name: "iplastic"},
                                "solarized_light": { name: "solarized_light"},
                                "textmate": { name: "textmate"},
                                "tomorrow": { name: "tomorrow"},
                                "xcode": { name: "xcode"},
                                "kuroir": { name: "kuroir"},
                                "katzenmilch": { name: "katzenmilch"},
                                "sqlserver": { name: "sqlserver"}
                            }
                        },
                        "dark": { name: "暗色", items: {
                                "ambiance": { name: "ambiance"},
                                "chaos": { name: "chaos"},
                                "clouds_midnight": { name: "clouds_midnight"},
                                "dracula": { name: "dracula"},
                                "cobalt": { name: "cobalt"},
                                "gruvbox": { name: "gruvbox"},
                                "gob": { name: "gob"},
                                "idle_fingers": { name: "idle_fingers"},
                                "kr_theme": { name: "kr_theme"},
                                "merbivore": { name: "merbivore"},
                                "merbivore_soft": { name: "merbivore_soft"},
                                "mono_industrial": { name: "mono_industrial"},
                                "monokai": { name: "monokai"},
                                "pastel_on_dark": { name: "pastel_on_dark"},
                                "solarized_dark": { name: "solarized_dark"},
                                "terminal": { name: "terminal"},
                                "tomorrow_night": { name: "tomorrow_night"},
                                "tomorrow_night_blue": { name: "tomorrow_night_blue"},
                                "tomorrow_night_bright": { name: "tomorrow_night_bright"},
                                "tomorrow_night_eighties": { name: "tomorrow_night_eighties"},
                                "twilight": { name: "twilight"},
                                "vibrant_ink": { name: "vibrant_ink"}
                            }
                        }
                    }
                });
            },
            // 触发器数据结构化整理
            treatNode: function(event){
                return _.map(event.script,function(v,k){
                    let attr = {disable:false};

                    if(event.attr && event.attr != null){
                        if(event.attr[k]) {
                            attr = JSON.parse(event.attr[k] || '{}');
                        }
                    }

                    return _.merge(attr,{name:k,script:event.script[k],class:event.class,vtime:event.vtime});
                });
            },
	        initData: function(){
                const self = this;

                let rtn = triggerHandler.triggerList(self.className);

                let list = [];

                if(!_.isEmpty(rtn)){
                    list = self.treatNode(rtn[0]);
                }

                if(!_.isEmpty(list)){
                    self.list = _.map(list,function(v,k){
                        return   {
                            name: _.trim(v.name),
                            disable: v.disable,
                            time: v.vtime,
                            class: v.class,
	                        script: v.script
                        }
                    });

                    self.selected = _.head(_.orderBy(self.list,['name'],['asc']));
                }

            },
            initMenu:function(){
                const self = this;

                $.contextMenu({
                    selector: `#${self.id}_trigger_list_contextmenu`,
                    /*position: function(opt, x, y){
                        //opt.$menu.position({ of: this, offset: "0 5"});
                    },*/
                    trigger: 'left',
                    hideOnSecondTrigger: true,
                    className: `animated slideIn`,
                    build: function($trigger, e) {

                        let items = {};

                        _.forEach(self.list,function(v,k){
                            _.merge(items, {[v.name]:{name:v.name, icon: "fas fa-toggle-on", item: v}});
                        });

                        return {
                            callback: function(key, options) {
                                self.selected = _.groupBy(self.list,'name')[key][0];
                            },
                            items: items,
                        }
                    },
                    events: {
                        show: function(opt) {

                            let $this = this;


                        },
                        hide: function(opt) {

                            let $this = this;



                        }
                    }
                });
            },
            initToolTip: function(){
                $("[data-tooltip='tooltip']").tooltip('destroy').tooltip({
                    container: 'body',
                    trigger : 'hover',
                    template: `<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>`
                });

            },
            toggle: function(item) {
                const self = this;

                self.selected = item;
            },
            add: function() {
                const self = this;

                alertify.prompt("新增触发器", function (e, str) {
                    if (e) {
                        let _rtn = triggerHandler.triggerNew({class: self.className, name: _.trim(str), script:''});

                        if(_rtn === 1) {
                            self.refresh(str);
                        }
                    } else {

                    }
                }, "触发器名称");
                $(".alertify-prompt .alertify-message").css('height','5vh');
            },
            save() {
                const self = this;

                let script = self.editor.getValue();

                let _rtn = triggerHandler.triggerNew({class: self.className, name: self.selected.name, script: script, attr:{disable: `${self.selected.disable}`}});

                if(_rtn === 1) {
                    self.refresh(self.selected.name);
                }
            },
            changeStatus(value){
                const self = this;

                console.log(1,self.selected.disable,value)

                let script = self.editor.getValue();

                let _rtn = triggerHandler.triggerNew({class: self.className, name: self.selected.name, script: script, attr:{disable: `${self.selected.disable}`}});

                if(_rtn === 1) {
                    self.refresh(self.selected.name);
                }
            },
            refresh(name) {
                const self = this;


                let rtn = triggerHandler.triggerList(self.className);

                if(!_.isEmpty(rtn)){
                    self.list = _.map(self.treatNode(rtn[0]),function(v,k){
                        return   {
                            name: v.name,
                            disable: v.disable,
                            time: v.vtime,
                            class: v.class,
	                        script: v.script
                        }
                    });

                    self.selected = _.groupBy(_.orderBy(self.list,['name'],['asc']),'name')[name][0];

                } else {
                    self.list = [];
                    self.selected = { name: ""};
                }

                self.initToolTip();

            },
            remove: function() {
                const self = this;

                alertify.confirm(`确认删除触发器：${self.selected.name}`, function(e) {
                    if(e) {
                        let _rtn = triggerHandler.triggerDelete(self.className, self.selected.name);

                        if(_rtn === 1){
                            let name = self.list.length>0 ? _.head(self.list).name : null
                            self.refresh(name);
                        }
                    } else {
                        // user clicked "cancel"
                    }
                });

            }
        }
    
	
	}
	</script>

</code>
