<code>

	<style scoped>
		/*----------  style  ----------*/
		.omdb-editor-component {
			background-color: #f2f2f2;
			width:100%;
			height: 100%;
			position: relative;
		}

		.omdb-editor-component .ace_editor{
			border: none;
			margin: 0px 0px 0px 0px;
			width: 100%;
			height:calc(100% - 50px)!important;
			position: relative !important;
			overflow: auto;
		}

		.ace_keyword {
			color: #a70909!important;
		}

		.scrollmargin {
			height: 500px;
			text-align: center;
		}

		.editor-container{
			width: 100%;
			height: 100%;
		}

		.omdb-editor-component .statusBar {
			display: -webkit-box;
			position: fixed;
			width: 100%;
			height: 30px;
			padding: 7px;
			background: #f2f2f2;
		}

        .el-tabs__content{
            padding: 1px!important;
        }

        .el-tabs__item,
        .el-tabs__nav-next, 
        .el-tabs__nav-prev {
            height: 30px;
            line-height: 30px;
        }

        .el-button-group>.el-button:not(:last-child), .el-tabs--left .el-tabs__nav-wrap.is-left{
            margin-right: 10px;
        }
		
        .el-button-group>.el-button{
            float: unset;
        }

        .el-tabs--border-card {
            -webkit-box-shadow: unset;
            box-shadow: unset;
            border:unset;
        }

        .gutter.gutter-horizontal {
            cursor: ew-resize;
            background-color: #eee;
            background-repeat: no-repeat;
            background-position: 50%;
            border: 1px solid #ddd;
            border-top: unset;
            border-bottom: unset;
        }

        .gutter.gutter-vertical {
            cursor: ns-resize;
            background-color: #eee;
            background-repeat: no-repeat;
            background-position: 50%;
            border: 1px solid #ddd;
            border-left: unset;
            border-right: unset;
        }

        .gutter {
            border: 1px solid rgb(235, 235, 235);
        }

        .info-popper{
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            background: #fff;
            padding: 10px;
            outline: unset;
        }

        .is-fullscreen{
            position: absolute;
            z-index: 30000!important;
            background-color: rgba(255, 255, 255, .3)!important;
            margin: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: opacity .3s
        }
        
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="omdb-editor-component"  ----------*/
	<template>
        <el-container>
			<el-header id="editorToolBar" style="padding:0px 10px;height:30px;line-height: 30px;display: flex;">
				<el-button-group style="width:70%;">
                    <el-tooltip :content="$t('omdb.actions.saveAsDfs')" placement="bottom" open-delay="800">
                        <el-button type="text" class="saveas" @click="saveToFs"><i class="fas fa-save"></i></el-button>
                    </el-tooltip>
                    <el-tooltip :content="$t('omdb.actions.loadFromDfs')" placement="bottom" open-delay="800">
                        <el-button type="text" class="load" @click="loadFromFs"><i class="fas fa-arrow-circle-down"></i></el-button>
                    </el-tooltip>
                    <el-tooltip :content="$t('omdb.actions.copy')" placement="bottom" open-delay="800">
                        <el-button type="text" class="copy" @click="copyIt"><i class="fas fa-copy"></i></el-button>
                    </el-tooltip>
                    <el-tooltip :content="$t('omdb.actions.paste')" placement="bottom" open-delay="800">
                        <el-button type="text"  class="paste" @click="pasteIt"><i class="fas fa-paste"></i></el-button>
                    </el-tooltip>
					<el-tooltip :content="$t('omdb.actions.select')" placement="bottom" open-delay="800">
                        <el-button type="text"  class="selectAll" @click="selectAll"><i class="fas fa-check"></i></el-button>
                    </el-tooltip>
                    <el-tooltip :content="$t('omdb.actions.clear')" placement="bottom" open-delay="800">
                        <el-button type="text"  class="clear" @click="clearIt"><i class="fas fa-trash"></i></el-button>
                    </el-tooltip>
                    <el-tooltip :content="$t('omdb.actions.execute')" placement="bottom" open-delay="800">
                        <el-button type="text"  class="query" @click="query"><i class="fas fa-play"></i></el-button>
                    </el-tooltip>
                    <!--el-tooltip content="执行输出为新表格" placement="bottom" open-delay="800">
                        <el-button type="text"  class="query" @click="queryPlus"><i class="fas fa-play-circle"></i></el-button>
                    </el-tooltip-->
                    <el-tooltip :content="$t('omdb.actions.executeAsJson')" placement="bottom" open-delay="800">
                        <el-button type="text"  class="queryByJson" @click="queryByJson"><i class="fas fa-file-code"></i></el-button>
                    </el-tooltip>
					<!--el-tooltip content="在新窗口执行" placement="bottom" open-delay="800">
                        <<el-button type="text"  class="queryPlus" @click="queryPlus"><i class="fa fa-play"></i>+</el-button>>
                    </el-tooltip-->
                    <el-tooltip :content="$t('omdb.actions.executeToDfs')" placement="bottom" open-delay="800">
                        <el-button type="text"  class="queryAndSave" @click="queryAndSave"><i class="fas fa-file-export"></i></el-button>
                    </el-tooltip>
                </el-button-group>
                <el-button-group style="width:30%;text-align: right;">
                    <el-tooltip :content="$t('omdb.actions.help')"" placement="bottom" open-delay="800">
                        <el-button type="text" @click="window.open('/matrix/notes','_blank')" icon="el-icon-question"></el-button>
                    </el-tooltip>
                    <el-tooltip :content="$t('omdb.actions.theme')" placement="bottom" open-delay="800">
                        <el-button type="text" :class="'pull-right editor-select-theme-'+objectHash.sha1(id)"><i class="fas fa-tshirt"></i></el-button>
                    </el-tooltip>
                    <el-button type="text" :icon="control.ifFullScreen | pickScreenStyle" style="float:right;" @click="onFullScreen"></el-button>
                    <el-popover
                        placement="bottom-start"
                        trigger="click"
                        width="480"
                        popper-class="info-popper"
                        :popper-options="{ boundariesElement: 'body', gpuAcceleration: false }"
                        style="padding-right:8px;">
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-input
                                    type="textarea"
                                    :autosize="{ minRows: 2, maxRows: 4}"
                                    :placeholder="$t('omdb.tip.converTimeTip')"
                                    v-model="control.timeTranslate.bValue">
                                </el-input>
                            </el-col>
                            <el-col :span="12">
                                <el-input
                                    type="textarea"
                                    :autosize="{ minRows: 2, maxRows: 4}"
                                    :placeholder="$t('omdb.tip.converTimeResult')"
                                    v-model="control.timeTranslate.eValue">
                                </el-input>
                            </el-col>
                        </el-row>
                        <el-button slot="reference" type="text" icon="el-icon-timer"></el-button>
                    </el-popover>
				</el-button-group>
			</el-header>
			<el-main :id="id" style="padding:0px;" ref="editor"></el-main>
			<el-footer :id="id+'_statusBar'" style="padding:0px 10px;height:30px;line-height: 30px;"></el-footer>
		</el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="omdb-editor-component">
	{
	    delimiters: ['${', '}'],
        i18n,
        props: {
            id: String,
			bid: String,
            model: Object,
            showToolsBar: Boolean,
			showStatusBar: Boolean
        },
        data(){
            return {
                langTools:null,
                editor: null,
                inputText: "",
                result: null,
                control: {
                    ifFullScreen: false,
                    timeTranslate: {
                        bValue: "",
                        eValue: ""
                    }
                },
                loading: null
            }
        },
        filters: {
            pickScreenStyle(evt){
                if(evt){
                    return `el-icon-full-screen`;
                } else {
                    return `el-icon-copy-document`;
                }
            }
        },
        mounted(){
            this.$nextTick(()=>{
                this.init();
            })
        },
        watch: {
            'model.newInput': {
            	handler:function(val,oldVal){
                    const self = this;
                    
                    self.editor.setValue(val);
                },
                deep:true
            },
            'control.timeTranslate.bValue'(val,oldVal){
                if(!_.isEmpty(val)){
                    
                    try{
                        let arr = val.split(/\r?\n/);
                        let tmp = _.map(arr,(v)=>{
                            if(_.startsWith(v,1)){
                                return moment(Number(v)).format(mx.global.register.format);
                            } else {
                                return moment(v).valueOf();
                            }
                            
                        });
                        this.control.timeTranslate.eValue = tmp.join("\n");
                    } catch(err){
                        console.log(err)
                    }
                }
            }

        },
        created () {
            eventHub.$on(`LAYOUT-DATATABLE-RESIZE-EVENT`,()=>{
                this.refresh();
            });

            eventHub.$on("WINDOW-STATUS-CHANGE-EVENT",()=>{
                this.refresh
            });
        },
        methods: {
            sLoading(){
                this.loading = this.$loading({
                    lock: true,
                    background: 'rgba(0, 0, 0, 0.6)'
                });
            },
            eLoading(){
                this.loading.close();
            },
            init() {
                this.langTools = ace.require("ace/ext/language_tools");
                this.editor = ace.edit(this.$refs.editor.$el);
                
                this.editor.setOptions({
                    // maxLines: 1000,
                    // minLines: 20,
                    autoScrollEditorIntoView: true,
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                //this.editor.$blockScrolling = Infinity;
                this.editor.setShowPrintMargin(this.model.printMargin);
                this.editor.setReadOnly(this.model.readOnly);
                this.editor.getSession().setUseSoftTabs(true);

                this.editor.getSession().setTabSize(2);
                this.editor.getSession().setUseWrapMode(true);

                this.editor.getSession().on('change', _.debounce(()=> {
                    this.editor.resize();
                }),2000);

                this.editor.on('mousemove', ()=> {
                    this.editor.resize();
                });

                this.setTheme();
                this.setMode();
                this.setOptions();

				this.toggleToolsBar();

				this.toggleStatusBar();

                // Customer Auto Completer
                if(mx.searchJson){
                    
                    let customerCompleter = {
                        getCompletions(editor, session, pos, prefix, callback) {
                                
                            if (prefix.length === 0) { callback(null, []); return };

                            let templates = mx.searchJson.search(prefix);

                            if(_.isEmpty(templates)) return;

                            callback(null, _.uniqBy(_.map(templates,function(v) {
                                return {
                                    name: v.name,
                                    score: 300,
                                    meta: v.title,
                                    caption: v.title,
                                    value: v.template
                                }
                            }),'name'));

                        }
                    };

                    this.langTools.addCompleter(customerCompleter);
                }


                // Add commands
                this.editor.commands.addCommand({
	                    name: "query",
                        bindKey: {mac: "cmd-enter", win: "ctrl-enter"},
	                    exec: this.query
	                },
                    {
                        name: "save",
                        bindKey: {
                            mac: "cmd-S", 
                            win: "ctrl-S",
                            sender: 'editor|cli'
                        },
                        exec: (env, args, request)=> {
                            this.saveToFs();
                        }
                    }
                    
                );

                // init Theme
                _.delay(()=>{
                    this.initTheme();
                },3000)

                
            },
            setOptions(){
                const self = this;

                if(!_.isEmpty(self.model.options)){
                    self.editor.setOptions(self.model.options);
                } 
            },
            setTheme(){
                const self = this;

                let localTheme = localStorage.getItem(`editor-select-theme-${objectHash.sha1(self.id)}`);

                if(localTheme){
                    self.editor.setTheme("ace/theme/" + localTheme);
                    return false;
                }

                if(_.isEmpty(self.model.theme)){
                	self.editor.setTheme("ace/theme/tomorrow");
                } else {
                	self.editor.setTheme("ace/theme/"+self.model.theme);
                }
                
            },
            setMode(){
                const self = this;

                if(_.isEmpty(self.model.mode)){
                	self.editor.getSession().setMode("ace/mode/json");
                } else {
                	self.editor.getSession().setMode("ace/mode/"+ self.model.mode);
                }
                
            },
            setValue(){
                const self = this;

                self.editor.setValue(self.model.oldInput);
            },
            getSelected(){
                const self = this;
                var temp = self.editor.getSelectedText();

                if(_.isEmpty(temp)){
                    self.inputText = self.editor.getValue();
                } else {
                    self.inputText = temp;
                }
            },
            refresh(){
                const self = this;

                if(self.editor){
                    self.editor.resize();
                }
	        },
            toggleToolsBar(){
                const self = this;

                if(self.showToolsBar){
                    $(".editorToolBar").show();
                } else {
                    $(".editorToolBar").hide();
                }
            },
	        toggleStatusBar(){
                const self = this;

                if(self.showStatusBar) {
                    let StatusBar = ace.require("ace/ext/statusbar").StatusBar;
                    let statusBar = new StatusBar(self.editor, document.getElementById(`${self.id}_statusBar`));
                }
	        },
	        copyIt(){
		        
                let clipboard = new Clipboard(".copy", {
                                    text: (trigger)=> {
                                        this.$message( this.$t("omdb.tip.copyed") );
                                        return this.editor.getValue();
                                    }
                                });

                _.delay(()=>{
                    clipboard.destroy();
                },500)

	        },
            pasteIt(){
                const self = this;

                document.execCommand("paste");
                this.$message(this.$t("omdb.tip.pasted"));
            },
	        selectAll(){
                const self = this;

                self.editor.selection.selectAll();
            },
            clearIt(){
                const self = this;

                self.editor.setValue();
                this.$message(this.$t("omdb.tip.cleared"));
            },
            query(){
                const self = this;
                
                let _mql = self.editor.getValue();

                if(_.isEmpty(self.editor.getValue())){
                    return false;
                }

                if( self.editor.getSelectedText().length > 0 ) {
                    _mql = self.editor.getSelectedText();
                }

                this.sLoading();

                omdbHandler.fetchDataByMqlAsync(_mql).then( (val)=>{
                    let _list = val;

                    this.eLoading();

                    if(_list.status === 'ok'){
                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].logAppend('info',_list);

                    } else {
                        this.$message({
                            type: "error",
                            message: _list.message,
                            showClose: true
                        })
                        
                        self.result = { id:self.id, bid: self.bid, type: _list.status, data: _list.message, columns: [], rootclass:"", consume: _list.consume};
                        // 更新当前实例
                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });

                        // 输出日志
                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].logAppend('error',_list);
                        return false;
                    }

                    if(_.isEmpty(_list)) {
                        this.$message({
                            type: "info",
                            message: this.$t("omdb.tip.searchNull")
                        });

                        return false;
                    }

                    // MQL for  CRUD
                    if(_.includes(['create'],_list.meta.type)){
                        this.$message({
                            type: "success",
                            message: this.$t("omdb.tip.createClassSuccess")
                        });
                        eventHub.$emit("OMDB-CLASS-REFRESH-EVENT", {type:'console', pattern: 'create-class', node: null});
                        
                        self.result = { id:self.id, bid: self.bid, type: 'create-class', data: [], columns: [], rootclass: null, consume: _list.consume};

                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                        return false;
                    }

                    if(_.includes(['drop'],_list.meta.type)){
                        this.$message({
                            type: "success",
                            message: this.$t("omdb.tip.deleteClassSuccess")
                        });
                        eventHub.$emit("OMDB-CLASS-REFRESH-EVENT", {type:'console', pattern: 'drop-class', node: null});
                        
                        self.result = { id:self.id, bid: self.bid, type: 'drop-class', data: [], columns: [], rootclass: null, consume: _list.consume };

                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                        return false;
                    }

                    if(_.includes(['delete'],_list.meta.type)){
                        this.$message({
                            type: "success",
                            message: this.$t("omdb.tip.deleteDataSuccess")
                        });
                        eventHub.$emit("OMDB-CLASS-REFRESH-EVENT", {type:'console', pattern: 'delete', node: null});
                        
                        self.result = { id:self.id, bid: self.bid, type: 'delete', data: [], columns: [], rootclass: null, consume: _list.consume };

                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                        return false;
                    }

                    if(_.includes(['update'],_list.meta.type)){
                        this.$message({
                            type: "success",
                            message: this.$t("omdb.tip.updateDataSuccess")
                        });
                        eventHub.$emit("OMDB-CLASS-REFRESH-EVENT", {type:'console', pattern: 'update', node: null});
                        
                        self.result = { id:self.id, bid: self.bid, type: 'update', data: [], columns: [], rootclass: null, consume: _list.consume };

                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                        return false;
                    }

                    if(_.includes(['create edgetype'],_list.meta.type)){
                        this.$message({
                            type: "success",
                            message: this.$t("omdb.tip.createEdgeSuccess")
                        });
                        eventHub.$emit("OMDB-CLASS-REFRESH-EVENT", {type:'console', pattern: 'create-edge-type', node: null});

                        self.result = { id:self.id, bid: self.bid, type: 'create-edge-type', data: [], columns: [], rootclass: null, consume: _list.consume};

                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                        return false;
                    }

                    if(_.includes(['drop edge'],_list.meta.type)){
                        this.$message({
                            type: "success",
                            message: this.$t("omdb.tip.deleteEdgeSuccess")
                        });
                        eventHub.$emit("OMDB-CLASS-REFRESH-EVENT", {type:'console', pattern: 'drop-edge-type', node: null});

                        self.result = { id:self.id, bid: self.bid, type: 'drop-edge-type', data: [], columns: [], rootclass: null, consume: _list.consume };

                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                        return false;
                    }

                    if(_list.meta.type === 'alter'){
                        this.$message({
                            type: "success",
                            message: this.$t("omdb.tip.updateClassSuccess")
                        });
                        eventHub.$emit("OMDB-CLASS-REFRESH-EVENT", {type:'console', pattern: 'alter-class', node: null});

                        self.result = { id:self.id, bid: self.bid, type: 'alter-class', data: [], columns: [], rootclass: null, consume: _list.consume };

                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                        return false;
                    }

                    if(_list.meta.type === 'insert'){
                        this.$message({
                            type: "success",
                            message: this.$t("omdb.tip.insertDataSuccess")
                        });
                        eventHub.$emit("OMDB-CLASS-REFRESH-EVENT", {type:'console', pattern: 'insert-class', node: null});
                        
                        self.result = { id:self.id, bid: self.bid, type: 'insert-class', data: [], columns: [], rootclass: null, consume: _list.consume };
                        
                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                        return false;
                    }


                    let _data = _list.message;

                    let _columns = mx.columnsParse(_list.meta);


                    // Graph
                    if(_list.meta.type === 'graph'){

                        //有数据
                        if(!_.isEmpty(_data)){   
                            
                            self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                type: 'omdb-query-graph-console',
                                                                name: self.id+'-graph',
                                                                title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                model: _data[0].graph
                                                            });
                            return false;
                        }
                        // 没数据 
                        else {
                            self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-graph-console',
                                                                            name: self.id+'-graph',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: {nodes:[],edges:[]}
                                                                        });
                            return false;
                        }
                    }

                    // Graph-PATH
                    if(_list.meta.type === 'path'){

                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-graph-console',
                                                                            name: self.id+'-graph',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: _data[0].graph
                                                                        });

                        return false;
                    }

                    // For Select count Pattern
                    // 判断数据中没有返回class属性，如果没有将meta中的class属性赋值到数据中，构造Table所需要的结构
                    let temp = _list.message;

                    if(!_.has(temp[0],'class')) {
                        _data = _.map(_data,function(v){ return _.merge(v,{class:_.keys(_list.meta.classes)[0]})});
                    }

                    // 结果数据太大,超过阈值【max_record_threshold】，以html形式显示
                    if( _list.meta.type == 'select' &&  _list.message.length > mx.global.register.omdb.max_record_threshold){
                        this.$confirm(`${ this.$t("omdb.tip.resultExceedsTresholdTip1") }【${mx.global.register.omdb.max_record_threshold}】  
                        ${ this.$t("omdb.tip.resultExceedsTresholdTip2") }`, this.$t("omdb.actions.tip") , {
                            confirmButtonText: this.$t("omdb.actions.apply"),
                            cancelButtonText: this.$t("omdb.actions.cancel"),
                            type: 'warning',
                            center: true
                            }).then(() => {
                                self.queryByJson();
                            }).catch(() => {
                            
                            });
                        return false;
                    } else if( _list.meta.type == 'graph' && _list.message[0].graph.nodes.length > mx.global.register.omdb.max_record_threshold){
                        this.$confirm(`${ this.$t("omdb.tip.resultExceedsTresholdTip1") }【${mx.global.register.omdb.max_record_threshold}】 
                        ${ this.$t("omdb.tip.resultExceedsTresholdTip2") }`, this.$t("omdb.actions.tip"), {
                            confirmButtonText: this.$t("omdb.actions.apply"),
                            cancelButtonText: this.$t("omdb.actions.cancel"),
                            type: 'warning',
                            center: true
                            }).then(() => {
                                self.queryByJson();
                            }).catch(() => {
                            
                            });
                        return false;
                    } else if( _list.meta.type == 'select edge'){
                        self.result = { id:self.id, bid: self.bid, type: 'table-update', data: _data, columns: _columns, rootclass: _list.meta.rootclass};
                    }
                    // 正常Table显示 
                    else {
                        self.result = { id:self.id, bid: self.bid, type: _list.meta.type, data: _data, columns: _columns, rootclass: _list.meta.rootclass, consume: _list.consume};
                    }

                    // 更新当前实例
                    self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-console',
                                                                            name: self.id+'-output-table',
                                                                            title: `${this.$t("omdb.tip.result")}(${this.$t("omdb.tip.consume")}: ${_list.consume})`,
                                                                            model: self.result
                                                                        });
                } );
            },
            queryByJson(){
                const self = this;

                let _mql = self.editor.getValue();

                if(_.isEmpty(self.editor.getValue())){
                    return false;
                }

                if( self.editor.getSelectedText().length > 0 ) {
                    _mql = self.editor.getSelectedText();
                }

                this.sLoading();

                omdbHandler.fetchDataByMqlAsync(_mql).then( (rtn)=>{
                    let _list = rtn;

                    this.eLoading();

                    if(_list.status === 'ok'){
                        // 输出日志
                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].logAppend('info',_list);

                        // 输出结果
                        self.result = { id:self.id, bid: self.bid, type: 'json-update', data: _list};
                        
                        // 初始化生成JSON
                        // 更新table
                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-json-console',
                                                                            name: self.id+'-output-json',
                                                                            title: `${this.$t("omdb.tip.result")}_JSON_${moment().format("LT")}`,
                                                                            model: self.result
                                                                        });

                    } else {
                        // 设置为空
                        self.result = { id:self.id, bid: self.bid, type: 'json-update', data: null };
                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                            type: 'omdb-query-output-json-console',
                                                                            name: self.id+'-output-json',
                                                                            title: `${this.$t("omdb.tip.result")}_JSON_${moment().format("LT")}`,
                                                                            model: self.result
                                                                        });

                        // 输出日志
                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].logAppend('error',_list);
                        
                        this.$message({
                            type: "error",
                            message: _list.message,
                            showClose: true
                        })

                        return false;
                    }
                } );
   
            },
            queryAndSave(){
                const self = this;

                this.sLoading();

                let _mql = self.editor.getValue();

                if(_.isEmpty(self.editor.getValue())){
                    return false;
                }

                if( self.editor.getSelectedText().length > 0 ) {
                    _mql = self.editor.getSelectedText();
                }

                _mql = _mql.replace(/\n/g,' ').replace(/\t/g,' ').replace(/\\/g,' ');

                omdbHandler.fetchDataByMqlAsync(_mql).then( (val)=>{
                    
                    this.eLoading();

                    let _list = val;

                    let _content = JSON.stringify({mql: _mql, result: {message: _list.message, meta: _list.meta}},null,4).replace(/   /g, ' ');
                    let _ftype = "html";
                    let _attr = {remark: "", ctime: _.now(), author: window.SignedUser_UserName, type: _ftype};
                    let _name = `${ this.$t("omdb.tip.query") }_` + moment().format("YYYY-MM-DD HH:MM:SS");
                    let _html = `<!DOCTYPE html>
                                <html>
                                    <head>
                                        <meta charset="UTF-8">
                                        <title></title>
                                        <link href="/web/css/fs/jsonParseStyle.css" rel="stylesheet">
                                    </head>
                                    <body>
                                        <pre>${jsonParse.json2html(_content)}</pre>
                                        <script src="/web/js/util/JsonParse.js"><\/script>
                                    </body>
                                </html>`;

                    let _url = fsHandler.fsTemp(_ftype, _name + "." + _ftype, _html, _attr);
                    
                    // 保存失败
                    if(!_url){
                        this.$message({
                            type: "error",
                            message: this.$t("omdb.tip.saveToDfsFailed"),
                            showClose: true
                        });
                        return false;
                    }
                    
                    this.$notify({
                        title: this.$t("omdb.tip.saveToDfsComplete"),
                        dangerouslyUseHTMLString: true,
                        duration: 10*1000,
                        message: `<p>${ this.$t("omdb.tip.dir") }：${_url} </p>
                                    <p>${ this.$t("omdb.tip.record") }: ${_list.message.length} </p>
                                    <p>${ this.$t("omdb.tip.click") } <a href="/static${_url}" class="el-button el-button--success el-button--mini" style="text-decoration: none;" target="_blank">${ this.$t("omdb.tip.apply") }</a> ${ this.$t("omdb.tip.details") }</p>`,
                        position: 'bottom-right'
                    });
                } );
            },
            saveToFs(){
                
                let mql = this.editor.getValue();

                if(_.isEmpty(mql)) return false;

                let user = window.SignedUser_UserName;
                let attr = {remark: '', ctime: _.now(), author: user, type: 'txt'};
                
                fsHandler.fsNewAsync('file', `/home/${user}`, 'cache_mql_script.txt', mql, attr).then( (rtn)=>{

                } );
            },
            loadFromFs(){
                
                let mql = fsHandler.fsContent(`/home/${window.SignedUser_UserName}`, 'cache_mql_script.txt');

                this.editor.setValue(mql);

            },
            initTheme(){
                const self = this;
				let id = objectHash.sha1(self.id);

                $.contextMenu({
                    selector: `.editor-select-theme-${id}`,
                    trigger: 'left',
                    callback (key, options) {
                        if(key !== 'bright' && key !== 'dark'){
                            self.editor.setTheme("ace/theme/"+key);

                            localStorage.setItem(`editor-select-theme-${id}`,key);
                        }
                    },
                    items: {
                        "bright": { name: "亮色", items: {
                                "chrome": { name: "chrome"},
                                "clouds": { name: "clouds"},
                                "crimson_editor": { name: "crimson_editor"},
                                "dawn": { name: "dawn"},
                                "dreamweaver": { name: "dreamweaver"},
                                "eclipse": { name: "eclipse"},
                                "github": { name: "github"},
                                "iplastic": { name: "iplastic"},
                                "solarized_light": { name: "solarized_light"},
                                "textmate": { name: "textmate"},
                                "tomorrow": { name: "tomorrow"},
                                "xcode": { name: "xcode"},
                                "kuroir": { name: "kuroir"},
                                "katzenmilch": { name: "katzenmilch"},
                                "sqlserver": { name: "sqlserver"}
                            }
                        },
                        "dark": { name: "暗色", items: {
                                "ambiance": { name: "ambiance"},
                                "chaos": { name: "chaos"},
                                "clouds_midnight": { name: "clouds_midnight"},
                                "dracula": { name: "dracula"},
                                "cobalt": { name: "cobalt"},
                                "gruvbox": { name: "gruvbox"},
                                "gob": { name: "gob"},
                                "idle_fingers": { name: "idle_fingers"},
                                "kr_theme": { name: "kr_theme"},
                                "merbivore": { name: "merbivore"},
                                "merbivore_soft": { name: "merbivore_soft"},
                                "mono_industrial": { name: "mono_industrial"},
                                "monokai": { name: "monokai"},
                                "pastel_on_dark": { name: "pastel_on_dark"},
                                "solarized_dark": { name: "solarized_dark"},
                                "terminal": { name: "terminal"},
                                "tomorrow_night": { name: "tomorrow_night"},
                                "tomorrow_night_blue": { name: "tomorrow_night_blue"},
                                "tomorrow_night_bright": { name: "tomorrow_night_bright"},
                                "tomorrow_night_eighties": { name: "tomorrow_night_eighties"},
                                "twilight": { name: "twilight"},
                                "vibrant_ink": { name: "vibrant_ink"}
                            }
                        }
                    }
                });
            },
            onFullScreen(){
                this.control.ifFullScreen = mx.fullScreenByEl(this.$root.$refs.mainView.$el);
            }
        }
    
	
	}
	</script>

</code>
