<code>

	<style scoped>
		/*----------  style  ----------*/
		#outlineContainer {
			z-index:1;
			position:absolute;
			overflow:hidden;
			top:40px;
			right:75px;
			width: 80px;
			height:80px;
			background:transparent;
			box-shadow: 3px 3px 12px #C0C0C0;
			border: 1px solid rgb(195, 195, 195);
		}

		#tools {
			position: absolute;
			overflow: hidden;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 30px;
			padding: 2px 4px;
			background: rgb(246, 246, 246);
		}

		#tools > img {
			width:24px;
			height:24px;
		}

		svg{
			overflow: auto!important;
			width: 100%!important;
			height: 100vh!important;
		}

		#container {
			cursor:pointer;
		}
		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="omdb-graph-component"  ----------*/
	<template>
		<div>
			<div :id="id" style="position:relative;overflow:auto;padding:10px;"></div>
			<div id="container"></div>
			<div id="nav">
				<div id="tools"></div>
				<div id="outlineContainer"></div>
			</div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="omdb-graph-component">
	{
		
	    delimiters: ['${', '}'],
	    props: {
	        id: String,
	        graphData: Object,
	    },
	    data: function () {
	        return {
                model:{
                    graph:{
                        container: null,
                        model: null,
                        graph: null,
	                    layout: null,
	                    parent: null,
                        theme: "",
                        outline: null
                    }
                }
	        }
	    },
	    created:function(){
	        var self = this;

	    },
	    mounted: function() {
	        var self = this;

	        self.$nextTick(function(){

                self.init();
                self.initPlugIn();
	            
	        })
	    },
	    methods: {
            init: function() {
                let self = this;

                if (!mxClient.isBrowserSupported())
                {
                    // Displays an error message if the browser is
                    // not supported.
                    mxUtils.error('Browser is not supported!', 200, false);
                }
                else
                {

                    self.model.graph.container = document.getElementById("container");
                    self.model.graph.container.style.position = 'releative';
                    self.model.graph.container.style.overflow = 'hidden';
                    self.model.graph.container.style.left = '0px';
                    self.model.graph.container.style.top = '30px';
                    self.model.graph.container.style.right = '0px';
                    self.model.graph.container.style.bottom = '0px';
                    document.getElementById(self.id).appendChild(self.model.graph.container);


                    //mxEvent.disableContextMenu(self.model.graph.container);

                    if (mxClient.IS_QUIRKS)
                    {
                        document.body.style.overflow = 'hidden';
                        new mxDivResizer(self.model.graph.container);
                        new mxDivResizer(outline);
                    }

                    // Creates the graph inside the given container
                    self.model.graph.model = new mxGraphModel();
                    self.model.graph.graph = new mxGraph(self.model.graph.container, self.model.graph.model);

                    // Enables automatic sizing for vertices after editing and
                    // panning by using the left mouse button.
                    self.model.graph.graph.setEnabled(false);
                    self.model.graph.graph.setCellsMovable(true);
                    self.model.graph.graph.setAutoSizeCells(true);
                    self.model.graph.graph.setPanning(true);
                    self.model.graph.graph.centerZoom = true;
                    self.model.graph.graph.panningHandler.useLeftButtonForPanning = true;
                    // Disables tooltips on touch devices
                    self.model.graph.graph.setTooltips(!mxClient.IS_TOUCH);
                    self.model.graph.graph.htmlLabels = true;


                    self.model.graph.graph.getCursorForCell = function(cell){
                        if (cell != null && cell.value != null && cell.vertex ==1 ){
                            return 'pointer';
                        }
                    }


                    // Displays a popupmenu when the user clicks
                    // on a cell (using the left mouse button) but
                    // do not select the cmxCellRenderer.prototype.createLabelell when the popup menu
                    // is displayed
                    self.model.graph.graph.panningHandler.popupMenuHandler = false;


                    // Creates a layout algorithm to be used with the graph
                    self.model.graph.layout = new mxHierarchicalLayout(self.model.graph.graph);
                    //self.model.graph.layout = new mxFastOrganicLayout(self.model.graph.graph);
                    self.model.graph.layout.forceConstant = 120;

                    /*self.model.graph.layout = new mxCompactTreeLayout(self.model.graph.graph, false);
                    self.model.graph.layout.useBoundingBox = true;
                    self.model.graph.layout.edgeRouting = true;
                    self.model.graph.layout.levelDistance = 80;
                    self.model.graph.layout.nodeDistance = 20;

                    var layoutMgr = new mxLayoutManager(self.model.graph.graph);

                    layoutMgr.getLayout = function(cell)
                    {
                        if (cell.getChildCount() > 0)
                        {
                            return self.model.graph.layout;
                        }
                    };*/

                    self.model.graph.parent = self.model.graph.graph.getDefaultParent();

                    self.initGraph();

                    _.delay(function(){

                        self.model.graph.graph.addListener(mxEvent.CLICK, function(sender, evt) {

                            let cell = evt.getProperty('cell');

                            if(_.isEmpty(cell)) return;

                            let id = cell.getId();

                            // copy to copyboard
                            let clipboard2 = new Clipboard('g image',{
                                text: function(trigger) {
                                    return id;
                                }
                            });

                            self.tip(`ID：${id} 已复制到剪切板！`);

                        });
                    },500)

                }
            },
            initGraph: function(){
                let self = this;

                self.model.graph.graph.getModel().beginUpdate();

                try
                {
                    self.model.graph.graph.getModel()

                    let nodes = {};
                    _.forEach(self.graphData.nodes,function(v){
                        let _type = v.class || 'matrix';
                        let _name =  _.last(v.id.split(":")) || '';
                        let node = self.model.graph.graph.insertVertex(self.model.graph.parent, v.id, _name, 50, 50, 120, 50,
                            `shape=image;image=/fs/home/assets/entity/png/${_type}.png?type=download;verticalLabelPosition=bottom;verticalAlign=top;`);

                        nodes[v.id] = node;
                    })

                    _.forEach(self.graphData.edges,function(k){
                        let source = nodes[k.source];
                        let target = nodes[k.target];
						let baseEdgeStyle = 'edgeStyle=elbowEdgeStyle;html=1;rounded=1;spacing=100;jettySize=auto;orthogonalLoop=1;endArrow=block;endFill=1;';
                        let direction = '';
                        if(k.twoway){
                            direction = 'startArrow=block;endArrow=block;endFill=1;';
                        }

                        let edge = self.model.graph.graph.insertEdge(self.model.graph.parent, k.id, k.class, source, target, baseEdgeStyle+direction);
                    })

                    // Executes the layout
	                self.model.graph.layout.execute(self.model.graph.parent);
                }
                finally
                {
                    self.model.graph.graph.getModel().endUpdate();

                    self.toCenter();

                }
            },
            initPlugIn: function(){
                let self = this;

                self.initOutline();
                self.initToolBars();

            },
            tip: function(event){
                let self = this;

                alertify.log(event + ' ' + moment().format("LLL"));
            },
            initOutline: function(){
                let self = this;

                let outline = document.getElementById('outlineContainer');

                self.model.graph.outline = new mxOutline(self.model.graph.graph, outline);

            },
            initToolBars: function () {
                let self = this;

                let content = document.getElementById('tools');
                content.style.padding = '4px';

                let tb = new mxToolbar(content);

                tb.addItem('{{.i18n.Tr "creative-tools-zoom_in"}}', '/web/assets/images/iflow/zoom_in.png',function(evt)
                {
                    self.model.graph.graph.zoomIn();
                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-zoom_out"}}', '/web/assets/images/iflow/zoom_out.png',function(evt)
                {
                    self.model.graph.graph.zoomOut();
                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-print"}}', '/web/assets/images/iflow/print.png',function(evt)
                {
                    var preview = new mxPrintPreview(self.model.graph.graph, 1);
                    preview.open();

                },null,'tools-item');

                tb.addItem('{{.i18n.Tr "creative-tools-fullscreen"}}', '/web/assets/images/iflow/exit-fullscreen.png',function(evt)
                {
                    toggleFullScreen();

                },null,'tools-item');

            },
            toCenter: function(){
                let self = this;

                self.model.graph.graph.fit();
                self.model.graph.graph.center(true,true,0.5,0.1);

            }
	    }
	
	}
	</script>

</code>
