<code>

	<style scoped>
		/*----------  style  ----------*/

		.ztree li a.curSelectedNode {
			background-color: rgb(161, 212, 250)!important;
			border:1px solid #ffffff!important;
			color: rgb(255,255,255)!important;
		}

		.ztree li a:hover{
			text-decoration: none!important;
		}

		.class-toolbars{
			position: relative;
			left: calc(100% - 68px);
			top: 0px;
			padding: 0px 5px!important;
			margin: -20px 0px!important;
			width: 60px;
			height: 100%;
			display: block;
			background-color: rgb(161, 212, 250);
			border: none;
			border-radius: 0;
		}

		.edge-toolbars{
			position: relative;
			left: calc(100% - 38px);
			top: 0px;
			padding: 0px 5px!important;
			margin: -20px 0px!important;
			width: 60px;
			height: 100%;
			display: block;
			background-color: rgb(161, 212, 250);
			border: none;
			border-radius: 0;
		}

		/*.hover-toolbars > .button:hover{
			box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
		}*/


		.lm_splitter {
			opacity: .2;
		}

		.context-menu-list.context-menu-root{
			z-index: 100!important;
		}

		.ztree {
			height: 100%;
			overflow: auto;
			padding-bottom: 100px!important;
			position: relative;
			/* padding:5px!important; */
		}

	</style>



	/*----------  最外层element会自动增加组件同名 class="omdb-class-tree-component"  ----------*/
	<template>
		<ul class="ztree" :id="id"></ul>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="omdb-class-tree-component">
	{
        delimiters: ['${', '}'],
		props: {
            id: String,
        },
        data: function(){
            return {
                zTree: Object,
                zSetting: {
                    view: {
                        showTitle: true,
                        dblClickExpand: this.onDblClickExpand,
                        addDiyDom: this.addCountDom,
                        removeHoverDom: this.removeHoverDom,
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onClick: this.onClick
                    },
                    data: {
                        simpleData: {
                            enable: true
                        },
                        key: {
                            name: 'name',
                            title: 'name'
                        }
                    },
                    check: {
                        enable: false
                    }
                },
                zNodes: [
                            {cid:'A1', parent:null, rtype:'A1', isParent:true, name: '/类管理', title: '类管理', open:true},
	                        //{cid:'A2', parent:null, rtype:'A2', isParent:true, name: '/规则', title: '规则', children: []},
	                        {cid:'A3', parent:null, rtype:'A3', isParent:true, name: '/关系', title: '关系', children:[]}
                        ],
                selectedNode: null,


            }
        },
        created: function(){
            const self = this;

            eventHub.$on("OMDB-CLASS-REFRESH-EVENT", self.refresh);

        },
        mounted: function () {
            let self =  this;

            self.$nextTick(function () {

                self.init();

            })
        },
        methods:{
            init: function () {
                const self = this;

                if(!_.isEmpty(self.zTree)){
                    self.zTree.destroy();
                }

                _.delay(function() {
                    self.initData([{cid: -1, treeNode: null}]);
                },500);

                _.delay(function() {
                    self.initPlugIn();
                },2500);

            },
	        initPlugIn: function(){
                const self = this;

                $("#omdb-class-tree").contextMenu({
                    selector: 'span.class.more',
                    trigger: 'left',
                    items: {

                        /*"classNew": {
                            name: "创建类", icon: "fa-sitemap", callback: function (key, opt) {

                            }
                        },*/
                        "classNewByMql": {
                            name: "新建子类", icon: "fas fa-plus", callback: function (key, opt) {

                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                            name: self.selectedNode.name.replace(/\//g,"_"),
                                                            title: self.selectedNode.name,
                                                            model: { pattern: 'create-class', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                        });

                            }
                        },
                        "classUpdateByMql": {
                            name: "修改类", icon: "fas fa-ellipsis-v",
                            items: {

                                "columnNew": {
                                    name: "新建属性", icon: "fas fa-plus", callback: function (key, opt) {
                                        self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'alter-add-column', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                                    }
                                },
                                "columnDel": {
                                    name: "删除属性", icon: "fas fa-trash", callback: function (key, opt) {
                                        self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'alter-drop-column', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                                    }
                                },
                                "sep11": "---------",
                                "indexNew": {
                                    name: "新建索引", icon: "fas fa-plus", callback: function (key, opt) {

                                        self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'alter-add-index', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                                    }
                                },
                                "indexDel": {
                                    name: "删除索引", icon: "fas fa-trash", callback: function (key, opt) {
                                        self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'alter-drop-index', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                                    }
                                },
                                "sep12": "---------",
                                "attributeSetup": {
                                    name: "属性设置", icon: "fas fa-wrench", callback: function (key, opt) {
                                        self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'alter', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                                    }
                                }
                            }
                        },
                        "sep1": "---------",
                        "删除": {
                            name: "删除类", icon: "fas fa-trash", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                            name: self.selectedNode.name.replace(/\//g,"_"),
                                                            title: self.selectedNode.name,
                                                            model: { pattern: 'drop-class', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                        });
                            }
                        },
                        "sep2": "---------",
                        /* "查看数据": {
                            name: "查看数据", icon: "fas fa-table", callback: function (key, opt) {

                                alertify.prompt("查看数据行数", function (e, str) {
                                    // str is the input text
                                    if (e) {
                                        let count = Number(str) || 200;
                                        let _mql = `SELECT * FROM ${self.selectedNode.name} limit ${count}`;
                                        let _list = omdbHandler.fetchDataByMql(_mql);

                                        if(_.isEmpty(_list)) {

                                            alertify.log("查询结果为空");

                                            return false;
                                        }

                                        _data = _list.message;

                                        _columns = mx.columnsParse(_list.meta);

                                        let result = { id:self.id, bid: self.id, type: 'table-update', data: _.groupBy(_data,'class'), columns: _columns };


                                        self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                            name: self.selectedNode.name.replace(/\//g,"_"),
                                                            title: self.selectedNode.name,
                                                            model: { pattern: 'select', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                        });

                                        self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].mainTabsAdd({
                                                                        type: 'omdb-query-output-console',
                                                                        name: self.id+'-output-table',
                                                                        title: `结果_TABLE_${moment().format("LT")}`,
                                                                        model: result
                                                                    });
                                        
                                        console.log(11,self.$root,`omdbQueryConsoleRef-${self.id}`)
                                        if(_list.status === 'ok'){
                                            self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].logAppend('info',_list);
                                        } else {
                                            self.$root.$refs[`omdbQueryConsoleRef-${self.id}`][0].logAppend('error',_list);
                                        }

                                    } else {
                                        // user clicked "cancel"
                                    }
                                }, '200');
                                $(".alertify-prompt .alertify-message").css('height','5vh');
                            }
                        },
                        "sep3": "---------", */
                        "触发器": {
                            name: "触发器", icon: "fas fa-toggle-on", callback: function (key, opt) {
                                // 触发器组件 node=类名称
                                self.$root.mainTabsAdd({ type: 'omdb-trigger-console',
                                                            name: self.selectedNode.name.replace(/\//g,"_"),
                                                            title: self.selectedNode.name,
                                                            model: { pattern: 'trigger', node: self.selectedNode }
                                                        });
                            }
                        },
                        "sep4": "---------",
                        "SELECT": {
                            name: "SELECT", icon: "fas fa-database", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'select', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        },
                        "INSERT": {
                            name: "INSERT", icon: "fas fa-database", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'insert', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        },
                        "UPDATE": {
                            name: "UPDATE", icon: "fas fa-database", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'update', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        },
                        "DELETE": {
                            name: "DELETE", icon: "fas fa-database", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'delete', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        },
                        "sep5": "---------",
                        /* "ddl": {
                            name: "DDL&属性", icon: "fas fa-info-circle", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.name.replace(/\//g,"_"),
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'ddl', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        }, */
                        "导出数据结构": {
                            name: "导出数据结构", icon: `fas fa-file-export`, callback: function (key, opt) {

                                omdb.app.classDataExport(self.selectedNode.name);
                                
                            }
                        },
                        "导入数据结构": {
                            name: "导入数据结构", icon: 'fas fa-file-import', callback: function (key, opt) {
                                omdb.app.classDataImport();
                            }
                        }
                    },
                    events: {
                        show: function(opt) {
                        },
                        hide: function(opt) {
                        }
                    }
                });

                $("#omdb-class-tree").contextMenu({
                    selector: 'span.edge.more',
                    trigger: 'left',
                    items: {

                        "edgeNew": {
                            name: "新建关系类型", icon: "fas fa-plus", callback: function (key, opt) {

                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.title,
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'create-edge-type', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        },

                        "sep1": "---------",
                        "删除": {
                            name: "删除关系类型", icon: "fas fa-trash", callback: function (key, opt) {

                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.title,
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'drop-edge-type', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        },
                        "sep2": "---------",
                        "G": {
                            name: "查询", icon: "fas fa-database", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.title,
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'edge-g', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        },
                        "INSERT": {
                            name: "新建关系", icon: "fas fa-database", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.title,
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'edge-insert', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        },
                        "UPDATE": {
                            name: "更改关系", icon: "fas fa-database", callback: function (key, opt) {
                                self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                                    name: self.selectedNode.title,
                                                                    title: self.selectedNode.name,
                                                                    model: { pattern: 'edge-update', node: self.selectedNode, pnode: self.selectedNode.getParentNode() }
                                                                });
                            }
                        }
                    },
                    events: {
                        show: function(opt) {
                            // this is the trigger element
                            var $this = this;
                            // import states from data store
                            $.contextMenu.setInputValues(opt, $this.data());
                        },
                        hide: function(opt) {
                            // this is the trigger element
                            var $this = this;
                            // export states to data store
                            $.contextMenu.getInputValues(opt, $this.data());
                        }
                    }
                });

	        },
            initData: function(node){
				const self = this;

                _.forEach(node, function(v,k){

                    let rtn = omdbHandler.classList(v.cid);

                    if (_.isEmpty(rtn)) {
                        return;
                    }

                    if( v.cid === -1 ) {

                        let _arr = _.map(rtn,function(v){ return _.merge(v,{rtype:'A1', open:true})});

                        _.merge(self.zNodes[0],{ children: _arr});

                        self.zTree = $.fn.zTree.init($("#" + self.id), self.zSetting, self.zNodes);

                    } else {

	                    let zTree = $.fn.zTree.getZTreeObj(self.id);

                        let nodes = zTree.getSelectedNodes();

                        if (nodes && nodes.length>0) {
                            zTree.removeChildNodes(nodes[0]);
                        }

                        // 按name排序
                        zTree.addNodes(v.treeNode, _.orderBy(_.map(rtn,function(v){ return _.merge(v,{rtype:'A1'});}),['name'],['asc']));

                    }
                })

	        },
	        edgeList: function(){
                const self = this;
                let _rtn = null;
                let _list = omdbHandler.fetchDataByMql('select edge type');

                if(!_.isEmpty(_list)){
                    _rtn = _list;
                }

                return _rtn;
	        },
	        ruleList: function(){
                const self = this;

                let _list = ruleHandler.ruleList();

                if(!_.isEmpty(_list)){
                    _rtn = _list;
                }

                return _rtn;
	        },
            onClick: function (event, treeId, treeNode, clickFlisParentag) {
                const self = this;

                self.selectedNode = treeNode;

                if(treeNode.cid === 'A1' && treeNode.rtype === 'A1') {
                    self.initData([{cid: -1, treeNode: null}]);
                    return;
                }

                if(treeNode.cid === 'A2' && treeNode.rtype === 'A2'){

                    let _list = self.ruleList();

                    let _tmp = _list.message;

                    let _nodes = _.map(_.keys(_tmp),function(v){
                        return {cid: _.now(), parent:'A2', rtype: 'A2', isParent:false, name: v, title: v, children:[]};
                    });

                    let zTree = $.fn.zTree.getZTreeObj(self.id);

                    let nodes = zTree.getSelectedNodes();

                    if (nodes && nodes.length>0) {
                        zTree.removeChildNodes(nodes[0]);
                    }

                    zTree.addNodes(nodes[0], _.map(_nodes,function(v){return _.merge(v,{rtype:'A2'})}));

                    return;

                }

                if(treeNode.cid === 'A3' && treeNode.rtype === 'A3'){

                    let _list = self.edgeList();

                    let _tmp = _list.message;

					let _nodes = _.map(_tmp,function(v){
					    return {cid: _.now(), parent:'A3', rtype: 'A3', isParent:false, name: v.name+`[${v.remedy}]`, title: v.name, children:[]};
					});

					let zTree = $.fn.zTree.getZTreeObj(self.id);

                    let nodes = zTree.getSelectedNodes();

                    if (nodes && nodes.length>0) {
                        zTree.removeChildNodes(nodes[0]);
                    }

                    zTree.addNodes(nodes[0], _.map(_nodes,function(v){return _.merge(v,{rtype:'A3'})}));

                    return;

                }

                // A1 & Level 2+
                if(treeNode.rtype === 'A1') {

                    // 右键菜单
                    let sObj = $("#" + treeNode.tId + "_span");
                    let scObj = $("#" + treeNode.tId + "_a").find(".count");

                    if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;

                    let addStr = `<div class="well class-toolbars" id='toolbars_${treeNode.tId}' >
										<span class='button class edit' id='editBtn_${treeNode.tId}' title='编辑' ></span>
										<span class='button class console' id='consoleBtn_${treeNode.tId}' title='查询' ></span>
										<span class='button class more' id='moreBtn_${treeNode.tId}' title='更多'  ></span>
								</div>`;


                    if(scObj.length > 0){
                        scObj.after(addStr);
                    } else {
                        sObj.after(addStr);
                    }

                    // add
                    let btnAdd = $("#addBtn_"+treeNode.tId);
                    if (btnAdd) btnAdd.bind("click", function(event){

                        event.stopPropagation();
                        event.preventDefault();

                        eventHub.$emit("OMDB-CLASS-TRIGGER-EVENT", {type:'classNew', pattern: '', node: treeNode});

                    });

                    // edit
                    let btnEdit = $("#editBtn_"+treeNode.tId);
                    if (btnEdit) btnEdit.bind("click", function(event){

                        event.stopPropagation();
                        event.preventDefault();

                        let nodeFieldObj = omdbHandler.classListField(treeNode.cid);
                        let pNodeFieldObj = omdbHandler.classListField(treeNode.pid=='A1'?1:treeNode.pid);
                        

                        self.$root.mainTabsAdd({ type: 'omdb-class-console',
                                                name: treeNode.name.replace(/\//g,"_")+'_class',
                                                title: treeNode.name+'_class',
                                                model: {pattern: 'select', 
                                                        node: _.extend(treeNode,{fieldsObj:nodeFieldObj}), 
                                                        pnode: _.extend(treeNode.getParentNode(),{fieldsObj: pNodeFieldObj}) }
                                            });

                    });

                    // console
                    let btnConsole = $("#consoleBtn_"+treeNode.tId);
                    if (btnConsole) btnConsole.bind("click", function(event){

                        event.stopPropagation();
                        event.preventDefault();

                        self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                name: treeNode.name.replace(/\//g,"_"),
                                                title: treeNode.name,
                                                model: { pattern: 'select', node: treeNode, pnode: treeNode.getParentNode() }
                                            });

                    });


                    // more
                    let btnMore = $("#moreBtn_"+treeNode.tId);
                    if (btnMore) btnMore.bind("click", function(event){

                        //event.stopPropagation();
                        event.preventDefault();

                    });


                    // 只有目录可点击
                    if (!treeNode.child) return false;

                    self.initData([{cid:treeNode.cid,treeNode:treeNode}]);

                    return;

                }

                // A3 & Level 2+
                if(treeNode.rtype === 'A3') {

                    // 右键菜单
                    let sObj = $("#" + treeNode.tId + "_span");
                    let scObj = $("#" + treeNode.tId + "_a").find(".count");

                    if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;

                    let addStr =    `<div class="well edge-toolbars" id='toolbars_${treeNode.tId}' >
										<span class='button edge console' id='consoleBtn_${treeNode.tId}' title='查询' ></span>
										<span class='button edge more' id='moreBtn_${treeNode.tId}' title='更多'  ></span>
								    </div>`;

                    if(scObj.length > 0){
                        scObj.after(addStr);
                    } else {
                        sObj.after(addStr);
                    }

                    // console
                    let btnConsole = $("#consoleBtn_"+treeNode.tId);
                    if (btnConsole) btnConsole.bind("click", function(event){

                        event.stopPropagation();
                        event.preventDefault();

                        self.$root.mainTabsAdd({ type: 'omdb-query-console',
                                                name: treeNode.title,
                                                title: treeNode.name,
                                                model: { pattern: 'select-edge', node: treeNode, pnode: treeNode.getParentNode() }
                                            });

                    });


                    // more
                    let btnMore = $("#moreBtn_"+treeNode.tId);
                    if (btnMore) btnMore.bind("click", function(event){

                        //event.stopPropagation();
                        event.preventDefault();

                    });

                    return;

                }

            },
            addCountDom: function (treeId, treeNode) {
                const self = this;
                let aObj = $("#" + treeNode.tId + "_a");

                if(!_.isEmpty(treeNode.child)){
                    if (treeNode.child.length > 0){
                        let str = `<span class='${treeNode.name} count' style='color:rgb(160,160,160);'>(${treeNode.child.length})</span>`;
                        aObj.append(str);
                    }
                }
            },
            removeHoverDom: function (treeId, treeNode) {
                $("#toolbars_"+treeNode.tId).unbind().remove();
            },
            refresh: function(event) {
                const self = this;

                let pNode = self.selectedNode;

                if(event.pattern === 'create-class'){

                    let _node = self.zTree.getNodesByParam("name", pNode.name, null)[0];

                    self.zTree.removeChildNodes(_node.getParentNode());
                    self.initData([{cid:_node.getParentNode().cid,treeNode:_node.getParentNode()}]);

                    _.delay(function(){
                        self.initData([{cid:_node.cid,treeNode:_node}]);
                    },2000);

                    _.delay(function(){
                        self.zTree.expandNode(_node, false, false, true);
                    },2500);
                }

                if(event.pattern === 'drop-class'){
                    pNode = self.selectedNode.getParentNode();

                    let _node = self.zTree.getNodesByParam("name", pNode.name, null)[0];

                    self.zTree.removeChildNodes(_node.getParentNode());
                    self.initData([{cid:_node.getParentNode().cid,treeNode:_node.getParentNode()}]);

                    _.delay(function(){
                        self.initData([{cid:_node.cid,treeNode:_node}]);
                    },2000);

                    _.delay(function(){
                        self.zTree.expandNode(_node, false, false, true);
                    },2500);
                }

                if(event.pattern === 'create-edge-type' || event.pattern === 'drop-edge-type'){
                    pNode = self.selectedNode.getParentNode();

                    let _node = self.zTree.getNodesByParam("name", pNode.name, null)[0];

                    let _list = self.edgeList();

                    let _tmp = _.attempt(JSON.parse.bind(null, _list.message));

                    let _nodes = _.map(_tmp,function(v){
                        return {cid: _.now(), parent:'A3', rtype: 'A3', isParent:false, name: v.remedy, title: v.name, children:[]};
                    });

                    self.zTree.removeChildNodes(_node);
                    self.zTree.addNodes(_node, _.map(_nodes,function(v){return _.merge(v,{rtype:'A3'})}));

                    // $("[title='" + _node.name + "']").addClass('curSelectedNode');

                }

            }
        }
	
	}
	</script>

</code>
