<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}

<link href="{{AppSubUrl}}/web/css/md/jsonParseStyle.css" rel="stylesheet" media="screen">

<link id="prettify-style" href="{{AppSubUrl}}/web/css/md/prettify-cmd.css" type="text/css" rel="stylesheet">
<style>

    body {
        overflow: hidden;
        font-size: 14px;
        font-family: "micfosoft yahei";
    }

    #content.content {
        padding: 5px;
    }

    [id="app"] {
        width: 100%;
        height: 100vh;
    }

    .el-input--small .el-input__inner {
        border-radius: 0px;
        height: 40px;
        line-height: 40px;
    }

    .el-divider--horizontal {
        margin: 0px!important;
    }

    /* tags样式 */
    .el-select-tags .el-input__inner{
        border:unset!important;
        -webkit-appearance: none!important;
        background-color: #FFF!important;
        background-image: none!important;
        border-radius: 4px!important;
        -webkit-box-sizing: border-box!important;
        box-sizing: border-box!important;
        color: #606266!important;
        display: inline-block!important;
        font-size: inherit!important;
        height: 40px!important;
        line-height: 40px!important;
        outline: 0!important;
        padding: 0 15px!important;
        -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1)!important;
        transition: border-color .2s cubic-bezier(.645,.045,.355,1)!important;
        width: 100%!important;
    }
    .el-select-tags textarea, 
    .el-select-tags input[type=text], 
    .el-select-tags input[type=password], 
    .el-select-tags input[type=datetime], 
    .el-select-tags input[type=datetime-local], 
    .el-select-tags input[type=date], 
    .el-select-tags input[type=month], 
    .el-select-tags input[type=time], 
    .el-select-tags input[type=week], 
    .el-select-tags input[type=number], 
    .el-select-tags input[type=email], 
    .el-select-tags input[type=url], 
    .el-select-tags input[type=search], 
    .el-select-tags input[type=tel], 
    .el-select-tags input[type=color], 
    .el-select-tags .uneditable-input {
        background-color: none!important;
        border: none!important;
        -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
        -webkit-transition: none!important;
        -moz-transition: none!important;
        -o-transition: none!important;
        transition: none!important;
    }

    /* Split Style */
	.gutter.gutter-horizontal {
        cursor: ew-resize;
        background-color: unset;
        background-image: unset;
        background-size: 7px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        z-index: 100;
		width: 5px;
		border: none!important;
        border-top:unset!important;
        border-bottom: unset!important;
    }

    .gutter.gutter-vertical {
        cursor: ns-resize;
        background-color: unset;
        background-image: unset;
        background-size: 7px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        z-index: 100;
		height: 5px;
        border: none!important;
        border-left:unset!important;
        border-right: unset!important;
    }

    /* 全屏模式 */
	section#header{
		display:initial!important;
	}
	aside>#sidebar{
		display:initial!important;
	}
    footer#footer{
        display:flex!important;
    }

</style>

<main id="content" class="content">
    <div id="app"></div>
</main>


<script src="{{AppSubUrl}}/web/js/model/Knowledge.js"></script>
<script src="{{AppSubUrl}}/web/js/model/FileSystem.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-base-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-preset-component_{{.Lang}}.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>


{{template "base/footer" .}}
