<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}

<link href="https://www.zybuluo.com/static/assets/1bc053c8.base.lib.min.css" rel="stylesheet" media="screen">

<link id="prettify-style" href="https://www.zybuluo.com/static/editor/libs/google-code-prettify/prettify-cmd.css" type="text/css" rel="stylesheet">
<style>

    body {
        overflow: hidden;
        font-size: 14px;
        font-family: "micfosoft yahei";
    }

    #content.content {
        padding: 0px;
    }

    [id="app"] {
        width: 100%;
        height: 100vh;
    }

    /* Split Style */
	.gutter.gutter-horizontal {
        cursor: ew-resize;
        background-color: unset!important;
        background-image: unset!important;
        background-size: 7px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        z-index: 100;
		width: 5px;
		border: none!important;
        border-top:unset!important;
        border-bottom: unset!important;
    }

    .gutter.gutter-vertical {
        cursor: ns-resize;
        background-color: unset!important;
        background-image: unset!important;
        background-size: 7px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        z-index: 100;
		height: 5px;
        border: none!important;
        border-left:unset!important;
        border-right: unset!important;
    }

    .info-popper{
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background: #fff;
        padding: 10px;
        outline: unset;
    }

    /* 全屏模式 */
    section#header{
        display:none;
    }
    aside>#sidebar{
        display:none;
    }
    footer#footer{
        display: none;
    }
    .page-sidebar-minified #content.content{
        margin-left: 0px;
        margin-top: 0px;
    }
</style>

<main id="content" class="content">
    <div id="app"></div>
</main>

<script src="{{AppSubUrl}}/web/js/model/Notes.js"></script>
<script src="{{AppSubUrl}}/web/js/model/FileSystem.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>


{{template "base/footer" .}}
