<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}
<!--MXClient JS & CSS-->
<script>
	mxBasePath = '{{AppSubUrl}}/web/creative/src';
	mxLanguage = window.MATRIX_LANG.replace(/en/g,"eg").split("-")[0];
</script>

<script src="{{AppSubUrl}}/web/creative/src/js/mxClient.js" type="text/javascript"></script>
<link href="{{AppSubUrl}}/web/creative/graph/styles/grapheditor.css" type="text/css" rel="stylesheet">

<script>
    mxResources.add('{{AppSubUrl}}/web/creative/graph/resources/grapheditor');
</script>
<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/systemStyle/zTreeStyle.css" type="text/css" rel="stylesheet">

<link href="{{AppSubUrl}}/web/vendor/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" >


<style>

	/* body */
	body {
		overflow:hidden;
	}

	/* content */
	#content.content {
		padding: 5px 5px 0px 5px!important;
		margin-top: 0px!important;
	}

	/* Event view */
	.tree-view {
		padding: 0 15px;
	}

	/* 运维模式 */
	.view-normal .tree-view {
		display: none;
		width: 0%;
	}
	.view-normal .table-view {
		width: 100%;
	}

	/* 标签树模式 */
	.view-tags .tree-view {
		width: 18%;
	}
	.view-tags .table-view {
		width: 82%;
	}

	/* 全屏模式 */
	.view-fullscreen .tree-view {
		display: none;
		width: 0%;
	}
	.view-fullscreen .table-view {
		width: 100%;
	}

	/* timeline view */
	.timeline-view {
		background: rgb(250, 250, 250);
	}

	/* table view */
	.table-view {
		padding-top: 10px!important;
	}


	/* nav nav-tabs nav-tabs-line-2px li a */
	.panel-title-btn .nav-tabs-line-2px{
		margin: 0 -15px;
	}
	.panel-title-btn .nav-tabs-line-2px > li > a {
		padding: 0px 15px
	}

	/* 自定义Panel */
	.panel.panel-default.panel-white-border {
		margin-bottom: 10px;
		border: 1px solid rgb(250, 250, 250);
	}

	.panel-white-border .panel-heading .nav-tabs {
		margin-left: -13px;
		margin-top: -8px;
		margin-right: -15px;
	}

	.panel-white-border .panel-title{
		height: 18px;
	}
	.panel-white-border .panel-body {
		padding:0 10px;
	}

	/* 告警详情页Tab */
	.detail.tab-pane.Tab{
		min-height: 72vh;
	}

	/* 告警分析 */
	form.performance-view-detail > .form-group:nth-child(even) {
		background: rgb(249, 249, 249);
	}
	form.performance-view-detail > .form-group:nth-child(odd) {
		background: rgb(255, 255, 255);
	}

	section.event-diagnosis > ul {
		padding:15px 0px;
		padding-left: 23vw;
	}

	section.event-diagnosis > ul > li > a{
		font-size: 14px;
		color: #333333;
		background: transparent;
	}

	section.event-diagnosis > ul > li.active > a{
		font-size: 14px;
		box-shadow: 1px 1px 1px 1px #ddd;
    	color: #ffffff!important;
    	border-radius: 2px;
    	background: rgb(130, 192, 255)!important;
	}

	section.event-diagnosis > div.content{
		margin: 0px;
		padding:0px 15px;
		height:calc(90vh - 183px);
		overflow:auto;
	}

	section.event-diagnosis > div.content > p{
		border:1px solid #ddd;
		padding:15px;
	}

	/* 告警统计widget */
	.performance-view-summary-control{
		display: flex;
		position: absolute;
		height: 22px;
		line-height: 22px;
		width: 50%;
		right: 15px;
		top: 20px;
		flex-direction: row-reverse;
		z-index: 100;
	}
	.performance-view-summary-control > .el-tooltip{
		padding-right: 10px;
	}

	/* el-table */
	.el-table__expanded-cell[class*=cell]{
		padding:0px!important;
	}

	/* el tabs */
	#performance-view-summary .el-tabs__content{
		max-height:160px;
		overflow-y:auto;
	}

	.el-tabs__item {
    	height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	.el-tabs__nav-prev,
	.el-tabs__nav-next{
		line-height: 30px;
	}

	.el-card__header{
		padding:0 5px;
	}
	.el-card__header > .clearfix > span {
		font-size: 14px;
		font-weight: 600;
	}

	/* 属性选择，隐藏第一列checkbox */
	.dt-button-collection.fixed.four-column > a:nth-child(1){
		display: none;
	}
	
	/* el-select input */
	/* .el-select.el-select--small input{
		border:none;
		border-radius: 0px;
		background-color: transparent;
		font-size: 12px;
	} */

	/* For grid-view */
    #grid ul{
        padding-left: 0;
        list-style: none;
    }

    #grid ul > li{
        float: left;
        width: 9em;
        height: 90px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(249, 249, 249);
        border: 1px solid rgb(255, 255, 255);
        margin: 5px 5px 0px 0px;
    }

	/*
    *   File Upload
    */
    .progress {
        height: 16px;
        border-radius: 0px;
        display: block;
        position: relative;
    }

    .progress small {
        color: #ffffff;
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
    }

    .files ul{
        margin: 10px;
        padding-left: 0;
        list-style: none;
    }

    .files ul > li{
        float: left;
        width: 100pt;
        height: 100px;
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(249, 249, 249);
        border: 1px solid rgb(255, 255, 255);
        padding-top: 5px;
        margin: 5px 0px 20px 5px;
    }

    .files ul > li > canvas {
        height: 65%;
        width: auto;
    }

    .files ul > li > a {
        background-color: rgb(249, 249, 249);
        border-radius: 0px;
    }

    .files ul > li > button {
        margin-top: -50px;
    }

    .files ul > li > .preview-null {
        width: 100px;
        padding-top: 10px;
        height: 64px;
        color: rgb(221, 221, 221);
    }

    .preview-img-responsive{
        max-width: 100%;
        height: auto;
        display: block;
    }

    .fs-view-component #grid,
    .fs-view-component .dataTables_scroll{
        height: 75vh;
        overflow: auto;
        padding: 0 10px;
    }

    .fs-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

/* 全屏模式 */
section#header{
	display:none;
}
aside>#sidebar{
	display:none;
}
.page-header-fixed{
	padding-top: 0px;
}

.page-sidebar-minified .sidebar-bg{
	width: 0px;
}

.page-sidebar-minified .content{
	margin-left: 0px;
)
</style>

<div id="app"></div>

<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.excheck-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.exedit-3.5.js"></script>

<!-- ECharts单文件引入 --> 
<script src="{{AppSubUrl}}/web/vendor/echart/echarts.min.js"></script>

<!--File Parse JS-->
<script src="{{AppSubUrl}}/web/vendor/papaparse/papaparse.min.js"></script>
<!--Jquery File Upload JS-->
<script src="{{AppSubUrl}}/web/vendor/js-load-image/js/load-image.all.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/canvas-to-blob.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-image.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/performance/performance-datatable-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/performance/performance-diagnosis-datatable-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-timeline-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-base-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-preset-component_{{.Lang}}.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/entity/entity-tree-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/omdb/omdb-path-datatables-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/topological/topological-graph-component.html"></link>

<script src="{{AppSubUrl}}/web/js/model/Topological.js"></script>
<script src="{{AppSubUrl}}/web/js/model/MaxEchart.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Performance.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>

<script>
	$(function() {
		_.delay(function(){
			let mxPerformance = new Performance();
			mxPerformance.init();
		},50)
	})
</script>

<script type="text/x-template" id="app-template">
	<main id="content" class="content">
		<el-row :gutter="10">
			<el-col :xl="24" style="padding-bottom:7px;">
				<search-base-component :id="model.id"
				                       :options="options"
									   ref="searchRef"
									   class="grid-content"></search-base-component>
			</el-col>
			<el-col :xl="24" style="min-height: 85vh;" id="performance-view-container">
				<el-tabs v-model="layout.main.activeIndex" class="grid-content" type="border-card" closable @tab-remove="detailRemove">
					<el-tab-pane v-for="(item,index) in layout.main.tabs" :key="item.name" :label="item.title" :name="item.name"  lazy=true>
						<div v-if="item.type==='main'">
							<div class="performance-view-summary-control">
								<el-tooltip :content="control.ifRefresh==1?'自动刷新启用中':'自动刷新关闭中'" placement="top" open-delay="500">
									<div>
										${control.ifRefresh==1?'自动刷新':'自动刷新'}
										<el-switch
										v-model="control.ifRefresh"
										active-color="#13ce66"
										inactive-color="#dddddd"
										active-value="1"
										inactive-value="0"
										@change="toggleSummaryByRefresh">
										</el-switch>
									</div>
								</el-tooltip>
								<el-tooltip :content="control.ifSmart==1?'智能分析启用中':'智能分析关闭中'" placement="top" open-delay="500">
									<div>
										${control.ifSmart==1?'智能分析':'智能分析'}
										<el-switch
											v-model="control.ifSmart"
											active-color="#13ce66"
											inactive-color="#dddddd"
											active-value="1"
											inactive-value="0"
											@change="toggleSummaryBySmart">
										</el-switch>
									</div>
								</el-tooltip>
							</div>
							<el-row :gutter="10" id="performance-view-summary">
								<el-col :xl="24">
									<el-tabs v-model="layout.summary.activeIndex" type="border" class="el-tabs-bottom-line">
										<el-tab-pane v-for="(item,index) in layout.summary.tabs" :key="item.name" :label="item.title" :name="item.name">
											<div v-if="item.type=='radar'">
												<performance-view-radar id="event-radar" :model='model.message'></performance-view-radar>
											</div>
											<div v-if="item.type=='gauge'">
												<performance-gauge id="performance-view-gauge" :model="model.message"></performance-gauge>
											</div>
										</el-tab-pane>
									</el-tabs>
								</el-col>
							</el-row>
							<el-row :gutter="10" id="performance-view-console">
								<el-col :xl="8" class="tree-view animated fadeInRight">
									<entity-tree-component id="performance-tree" :model="{parent:'/performance',name:'performance_tree_data.js',domain:'performance'}"></entity-tree-component>
								</el-col>
								<el-col :xl="16" class="table-view animated fadeInLeft">
									<performance-datatable-component id="performance-list" :model="model.message"></performance-datatable-component>
								</el-col>
							</el-row>
						</div>
						<div v-if="item.type==='diagnosis'">
							<el-tabs v-model="layout.main.detail.activeIndex" style="background:#ffffff;" class="el-tabs-bottom-line" @tab-click="toggle" lazy="true">
								<el-tab-pane v-for="it in item.child" :key="it.name" :label="it.title" :name="it.name" lazy=true>
									<div v-if="it.type==='detail'">
										<performance-diagnosis-detail :id="it.name+ '-detail'" :model="it.model.detail"></performance-diagnosis-detail>
									</div>
									<div v-else-if="it.type==='history'">
										<performance-diagnosis-history :id="it.name+ '-history'" :model="it.model.history"></performance-diagnosis-history>
									</div>
									<div v-else-if="it.type==='journal'">
										<performance-diagnosis-journal :id="it.name+ '-journal'" :model="it.model.journal"></performance-diagnosis-journal>
									</div>
									<div v-else-if="it.type==='topological'">
										<performance-diagnosis-topological :id="it.name + '-topological'" :model="it.model.detail"></performance-diagnosis-topological>
									</div>
								</el-tab-pane>
							</el-tabs>
						</div>
					</tab>
				</el-tabs>
			</el-col>
		</el-row>
	</main>
</script>

{{template "base/footer" .}}
