<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}
<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/systemStyle/zTreeStyle.css" type="text/css" rel="stylesheet">

<main id="content" class="content">
    <div id="app"></div>
</main>

<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Probe.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Script.js"></script>
<script src="{{AppSubUrl}}/web/js/handler/ProbeHandler.js"></script>
<script src="{{AppSubUrl}}/web/js/handler/ScriptHandler.js"></script>
<script src="{{AppSubUrl}}/web/js/handler/PolicyHandler.js"></script>

<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.excheck-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.exedit-3.5.js"></script>


<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/entity/entity-tree-component.html"></link>

<!-- <link rel="vc" href="{{AppSubUrl}}/web/component/probe/probe-manage.html"></link> -->
<link rel="vc" href="{{AppSubUrl}}/web/component/probe/probe-tree-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/probe/probe-dropdown-tree-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/probe/probe-card-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/probe/probe-list-datatables-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/policy/policy-list-datatables-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/log/log-list-datatables-component.html"></link>

<!-- <link rel="vc" href="{{AppSubUrl}}/web/component/script/script-manage.html"></link> -->
<link rel="vc" href="{{AppSubUrl}}/web/component/script/script-datatable.html"></link>

<script src="{{AppSubUrl}}/web/vendor/jquery/jquery-migrate-1.1.0.min.js"></script>

{{template "base/footer" .}}

<style type="text/css">

    /* For Body */
    body{
        overflow:hidden;
    }

    /* content */
	#content.content {
		padding: 5px!important;
	}

    #content.content-expand{
        margin-top: -40px;
        margin-left: 0px;
    }

    /* Split Style */
	.gutter.gutter-horizontal {
        border: unset!important;
        border-top: unset!important;
        border-bottom: unset!important;
    }

    .el-tabs__content {
        padding: 10px!important;
    }

    .el-table__fixed, .el-table__fixed-right {
        -webkit-box-shadow: unset!important;
        box-shadow: unset!important;
    }

    .el-table__expanded-cell[class*=cell]{
		padding:0px!important;
	}

    /* tags样式 */
    .el-select-tags .el-input__inner{
        border:unset;
    }

    /* 全屏模式 */
	section#header{
		display:initial!important;
	}
	aside>#sidebar{
		display:initial!important;
	}
    footer#footer{
        display:flex!important;
    }

</style>
