<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}

<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/tag/mx-tag.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/tag/mx-tag-tree.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/probe/probe-card-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-base-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-preset-component_{{.Lang}}.html"></link>

<script src="{{AppSubUrl}}/web/vendor/jquery/jquery-migrate-1.1.0.min.js"></script>

<main id="content" class="content">
    <div id="app"></div>
</main>

<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Job.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Probe.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Script.js"></script>
<script src="{{AppSubUrl}}/web/js/handler/ProbeHandler.js"></script>
<script src="{{AppSubUrl}}/web/js/handler/ScriptHandler.js"></script>

{{template "base/footer" .}}

<style type="text/css">

    /* For Body */
    body{
        overflow:hidden;
    }

    /* content */
	#content.content {
		padding: 5px!important;
	}

    #content.content-expand{
        margin-top: -40px;
        margin-left: 0px;
    }

    /* Split Style */
	.gutter.gutter-horizontal {
        border: unset!important;
        border-top: unset!important;
        border-bottom: unset!important;
    }

    .el-tabs__content {
        padding: 10px!important;
    }

	.el-table {
		height:100%!important;
		overflow: hidden!important;
	}
	.el-table .el-table__body-wrapper{
		height: calc(100% - 74px)!important;
		overflow: auto;
	}

    .el-table__fixed, .el-table__fixed-right {
        -webkit-box-shadow: unset!important;
        box-shadow: unset!important;
    }

    .el-table__expanded-cell[class*=cell]{
		padding:0px!important;
	}

	.el-table__expand-column .el-table__expand-icon > .el-icon{
		display: none;
	}

	.el-transfer .el-transfer-panel__body .el-checkbox, .el-transfer .el-transfer-panel__body .el-checkbox__input {
    	display: block;
	}

    /* tags样式 */
    .el-select-tags .el-input__inner{
        border:unset;
    }

    /* 全屏模式 */
	section#header{
		display:initial!important;
	}
	aside>#sidebar{
		display:initial!important;
	}
    footer#footer{
        display:flex!important;
    }

</style>

<style>

    /* Job view */
	.tree-view {
		padding: 0px;
	}

	/* 运维模式 */
	.view-normal .tree-view {
		display: none;
		width: 0%;
	}
	.view-normal .table-view {
		width: 100%;
	}

	/* 标签树模式 */
	.view-tags .tree-view {
		width: 18%;
	}
	.view-tags .table-view {
		width: 82%;
	}

	/* 全屏模式 */
	.view-fullscreen .tree-view {
		display: none;
		width: 0%;
	}
	.view-fullscreen .table-view {
		width: 100%;
	}

	/* timeline view */
	.timeline-view {
		background: rgb(250, 250, 250);
	}

	/* table view */
	.table-view {
		padding-top: 10px!important;
	}

    /* Job widget */
    .job-view-header{
        background: #dddddd;
        display: inline-table;
    }

	.job-view-summary-control{
		display: flex;
		position: absolute;
		height: 22px;
		line-height: 22px;
		width: 50%;
		right: 5px;
		top: 10px;
		flex-direction: row-reverse;
		z-index: 100;
	}

	.job-view-summary-control > .el-tooltip{
		padding-right: 10px;
	}

	/* el tabs */
	#job-view-summary .el-tabs__content{
		max-height:160px;
		overflow-y:auto;
	}

	#job-view-container .el-tabs__content{
		padding: 0px!important;
	}

    #job-view-container .el-tabs--border-card {
        border: unset;
    }

	/* transfer */
	.script-deploy-transfer.el-transfer{
		width: 100%;
	}
	.script-deploy-transfer .el-transfer__buttons{
		width: 180px;
	}

	.script-deploy-transfer .el-transfer__buttons .el-button+.el-button {
		margin-left: 0px;
		padding: 8px 18px;
	}

	.script-deploy-transfer .el-transfer-panel{
		width: 40%;
	}

    /* el-table popper */
	.dataTablePopper{
		background: #ffffff;
		padding:20px;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	}

	/* 重载搜索框按钮样式 */
	.job-view-header .grid-content.search-base.search-base-component .el-button--default.el-button--small.el-popover__reference.el-button{
		border-left:1px solid #dddddd;
	}

</style>
