<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}

<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/fsStyle/zTreeStyle.css" type="text/css" rel="stylesheet">

<link href="{{AppSubUrl}}/web/vendor/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" >


<style>

    /* */
    body {
        overflow: hidden;
    }
    
    /* content */
	#content.content {
		padding: 5px 5px 0px 5px!important;
    }
    
    .ivu-split-trigger-vertical{
        width: 3px!important;
    }

    .ivu-split-trigger-bar{
        background: transparent!important;
    }

    .ivu-split-trigger{
        border:none!important;
    }

    .el-tabs--border-card>.el-tabs__header{
        background: #f2f2f2;
    }

    .el-tabs--border-card>.el-tabs__header {
        border-bottom: none;
    }

    .ivu-layout{
        background: #ffffff;
    }

    .ivu-layout-content {
        height: calc(100vh - 135px)!important;
        background: rgb(255, 255, 255);
    }
    .ivu-layout-header {
        background: #f2f2f2!important;
        padding: 0 50px!important;
        height: 34px!important;
        line-height: 34px!important;
        text-align: right;
    }

    .el-tabs--border-card {
        border-top: none!important;
    }

    .ivu-layout-footer {
        background: rgb(255, 255, 255)!important;
        padding: 10px 10px!important;
        color: rgb(81, 90, 110)!important;
        font-size: 12px!important;
    }

    /* 全屏模式 */
	section#header{
		display:initial!important;
	}
	aside>#sidebar{
		display:initial!important;
	}
    footer#footer{
        display:flex!important;
    }

</style>

<main id="content" class="content">
    <div id="app"></div>
</div>

<!-- iView import stylesheet -->
<link rel="stylesheet" href="{{AppSubUrl}}/web/vendor/iView/iview.css">
<!-- iView import iView -->
<script src="{{AppSubUrl}}/web/vendor/iView/iview.min.js"></script>

<script src="{{AppSubUrl}}/web/js/model/FileSystem.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>

<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.all-3.5.min.js"></script>

<!--File Parse JS-->
<script src="{{AppSubUrl}}/web/vendor/papaparse/papaparse.min.js"></script>
<!--Jquery File Upload JS-->
<script src="{{AppSubUrl}}/web/vendor/js-load-image/js/load-image.all.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/canvas-to-blob.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-image.js"></script>

<script src="{{AppSubUrl}}/web/js/model/Release.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/fs/fs-tree-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/fs/fs-view-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/fs/fs-editor-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/fs/fs-output-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/fs/fs-datatable-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>

{{template "base/footer" .}}
