<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}
<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/systemStyle/zTreeStyle.css" type="text/css" rel="stylesheet">

<style type="text/css">

    #content.content {
        padding: 5px 5px 0px 5px!important;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .block__list_words li > .widget-stats > .stats-info h4 > a {
        color: #ffffff;
    }

    .block__list_words .sortable-ghost {
        opacity: 0.4;
        background-color: #F4E2C9;
    }

    .block__list_words li:first-letter {
        text-transform: uppercase;
    }
    .block__list_collapse{
        min-width: 300px;
        background-color: #dae0e7;
        margin-top: -55px;
        padding: 15px;
        z-index: 100;
        position: absolute;
        box-shadow: 1px 1px 1px 1px #b2bcc7;
    }

    .drag-handle {
        margin-right: 10px;
        font: bold 20px Sans-Serif;
        color: #5F9EDF;
        display: inline-block;
        cursor: move;
        cursor: -webkit-grabbing;  /* overrides 'move' */
    }

    #etcd_value {
        min-height: calc(100vh - 225px);
        max-height: calc(100vh - 230px);
    }


    .transition {
        box-shadow: unset;
    }

    .el-tabs--border-card {
        border: unset;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .el-collapse-item__content{
        background: #ffffff;
    }
    .el-collapse-item__header{
        background: #f6f6f6;
        line-height: 30px;
        height:30px;
        font-size: 12px;
        font-weight: normal;
        padding: 0px 0px 0px 10px;
    }

    .el-tabs__content{
        overflow: auto;
    }

    .mxSystem .transition {
        background-color: rgb(249, 249, 249)!important;
    }

    .mxSystem .el-collapse-item__wrap{
        border:none!important;
    }

    .mxSystem .el-collapse{
        border: unset;
    }

    /* Upload Input Style */
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 18px;
        color: #8c939d;
        width: 128px;
        height: 128px;
        line-height: 128px;
        text-align: center;
    }
    .avatar {
        width: 128px;
        height: 128px;
        display: block;
    }
  
  /*  */
  .system-manage-menu .el-menu-item.is-active {
    background: #e6e6e6;
  }

  /* Split Style */
	.gutter.gutter-horizontal {
        cursor: ew-resize;
        background-color: rgb(241, 241, 241);
        background-image: url(/fs/assets/images/others/png/vSplit.png?type=open&issys=true);
        background-size: 7px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        z-index: 100;
		width: 5px;
		border: none!important;
    }

    .gutter.gutter-vertical {
        cursor: ns-resize;
        background-color: rgb(241, 241, 241);
        background-image: url(/fs/assets/images/others/png/vSplit.png?type=open&issys=true);
        background-size: 7px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        z-index: 100;
		height: 5px;
        border: none!important;
    }

    /* 全屏模式 */
	section#header{
		display:initial!important;
	}
	aside>#sidebar{
		display:initial!important;
	}
    footer#footer{
        display:flex!important;
    }
</style>

<main id="content" class="content mxSystem">
    <div id="app"></div>
</main>

<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>
<script src="{{AppSubUrl}}/web/js/model/System.js"></script>
<script src="{{AppSubUrl}}/web/js/handler/CompanyHandler.js" type="text/javascript"></script>
<script src="{{AppSubUrl}}/web/js/handler/GrokHandler.js" type="text/javascript"></script>

<!-- Jquery Timer JS-->
<script src="{{AppSubUrl}}/web/vendor/timer/jquery.timer.js"></script>

<!-- Sortable JS-->
<script src="{{AppSubUrl}}/web/vendor/Sortable/Sortable.min.js"></script>

<!-- Bootstrap Table CSS -->
<link href="{{AppSubUrl}}/web/vendor/table/bootstrap/bootstrap-table.min.css" rel="stylesheet">
<link href="{{AppSubUrl}}/web/vendor/table/export/bootstrap-editable.css" rel="stylesheet">
<link href="{{AppSubUrl}}/web/vendor/table/bootstrap/bootstrap-table-fixed-columns.css" rel="stylesheet">
<link href="{{AppSubUrl}}/web/vendor/table/dragtable/dragtable.css" rel="stylesheet">

<!--Bootstrap Table JS-->
<script src="{{AppSubUrl}}/web/vendor/table/dragtable/dragtable.js"></script>
<script src="{{AppSubUrl}}/web/vendor/table/bootstrap/bootstrap-table.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/table/bootstrap/locale/bootstrap-table-{{.i18n.Tr "bootstrap_table_locate"}}.js"></script>
<script src="{{AppSubUrl}}/web/vendor/table/bootstrap/extensions/export/bootstrap-table-export.js"></script>
<script src="{{AppSubUrl}}/web/vendor/table/bootstrap/extensions/export/tableExport.js"></script>
<script src="{{AppSubUrl}}/web/vendor/table/bootstrap/extensions/reorder-columns/bootstrap-table-reorder-columns.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/table/bootstrap/extensions/editable/bootstrap-table-editable.js"></script>
<!--script src="{{AppSubUrl}}/web/vendor/table/export/bootstrap-table-editable.js"></script-->
<!--script src="{{AppSubUrl}}/web/vendor/table/export/bootstrap-editable.js"></script-->
<script src="{{AppSubUrl}}/web/vendor/table/bootstrap/bootstrap-table-contextmenu.min.js"></script>
<!--<script src="{{AppSubUrl}}/web/vendor/table/bootstrap/bootstrap-table-fixed-columns.js"></script>-->

<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>

<script type="text/javascript">
    $(function() {
		_.delay(()=>{
			let mxSystem = new System();
            mxSystem.init();
		},50)
	})
</script>

<script type="text/x-template" id="notify-manage-template">
    <div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    通知规则
                </span>
            </div>
            <div class="panel-body">
                <input class="form-control" type="text" placeholder="搜索" style="width:100%;"><BR/>
                <bootstrap-table :columns="model.columns" :options="model.options" :data="model.data"></bootstrap-table>
                <h5>规则定义</h5>
                <hr style="margin-top: 10px;margin-bottom: 10px;border-top: 1px solid #ddd;">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#byClass" aria-controls="tab" role="tab" data-toggle="tab">告警分类</a>
                        </li>
                        <li role="presentation">
                            <a href="#bySeverity" aria-controls="tab" role="tab" data-toggle="tab">告警级别</a>
                        </li>
                        <li role="presentation">
                            <a href="#byNotifyPeople" aria-controls="tab" role="tab" data-toggle="tab">通知人员</a>
                        </li>
                        <li role="presentation">
                            <a href="#byNotifyMode" aria-controls="tab" role="tab" data-toggle="tab">通知方式</a>
                        </li>
                    </ul>
                
                    <!-- Tab panes -->
                    <div class="tab-content"  style="background-color: #ffffff;border: 1px solid #ddd;border-top: 0px;padding: 10px 10px;">
                        <div role="tabpanel" class="tab-pane active" id="byClass">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <tree-component :zNodes="byClassTreeNodes" :zId="byClassTree"></tree-component>      
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="bySeverity">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <tree-component :zNodes="bySeverityTreeNodes" :zId="bySeverityTree"></tree-component>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="byNotifyPeople">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <tree-component :zNodes="byNotifyPeopleTreeNodes" :zId="byNotifyPeopleTree"></tree-component>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="byNotifyMode">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <tree-component :zNodes="byNotifyModeTreeNodes" :zId="byNotifyModeTree"></tree-component>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>

<script type="text/x-template" id="rules-manage-template">
    <div>
        <div class="panel-group" id="accordionContent" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <span data-toggle="collapse" data-parent="#accordionContent" href="#collapseConfigInfo">
                      <i class="fas fa-home"></i>
                    </span>
                    <span id="olNav" style="font-size: 12px;font-weight: bold;"></span>
                    <span class="pull-right">
                        <a class="btn btn-xs btn-default" data-toggle="modal" data-target="#configAddModal">
                            <i class="icon-plus"></i>
                            添加&nbsp;
                        </a>
                        <a href="#" class="btn btn-xs btn-default" data-tooltip="tooltip" data-content="保存新增目录或节点"  @click="saveNode">
                            <i class="icon-save"></i>
                            提交
                        </a>
                        <a id="config_btn_help" class="btn btn-xs btn-default" data-tooltip="tooltip" >
                            <i class="icon-question-sign"></i> 帮助
                        </a>
                        <a href="#" class="btn btn-xs btn-danger" readonly  @click="removeNode">
                            <i class="icon-remove"></i>
                            删除&nbsp;
                        </a>
                    </span>
                </div>
                <div id="collapseConfigInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <label id="etcd_label" for="">节点值</label>
                        <pre id="etcd_value"></pre>
                        <BR/>
                        <label for="">TTL(生存周期)</label>
                        <input type="number" class="form-control" :value='etcd.ttl'>
                        <BR/>
                        <label for="">失效时间</label>
                        <input type="text" class="form-control text-primary" readonly :value='etcd.expiration'>
                        <BR/>
                        <label for="">createdIndex</label>
                        <input type="text" class="form-control" readonly :value='etcd.createdIndex'>
                        <BR/>
                        <label for="">modifiedIndex</label>
                        <input type="text" class="form-control" readonly :value='etcd.modifiedIndex'>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <i class="fa fa-desktop"></i>
                    <a data-toggle="collapse" data-parent="#accordionContent" href="#collapseConfigMonitorInfo">监控信息</a>
                </div>
                <div id="collapseConfigMonitorInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div id="panel_dashboard"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Config Add Modal -->
        <div class="modal fade" id="configAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">配置添加</h4>
                    </div>
                    <div class="modal-body">
                        <label for="">节点名称</label>
                        <input type="text" class="form-control" id="config_key">
                        <BR/>
                        <label for="">目录</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                  <input type="checkbox" id="config_dir" value="true"></span>
                            <label class="form-control well"></label>
                        </div>
                        <BR/>
                        <div id="modal_config_value">
                            <label for="">节点值</label>
                            <pre id="config_value"></pre>
                        </div>
                        <BR/>
                        <label for="">TTL(生存周期)</label>
                        <input type="number" class="form-control" id="config_ttl">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="config_btn_new" data-dismiss="modal">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Config Add Modal -->
    </div>
</script>

<script type="text/x-template" id="calendar-manage-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o"></i> 日历管理
        </div>
        <div class="panel-body">
            <div id='calendar'></div>  
        </div>
    </div>
</script>

<script type="text/x-template" id="session-manage-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            会话管理
        </div>
        <div class="panel-body">
            <bootstrap-table :columns="model.columns" :options="model.options" :data="model.data"></bootstrap-table>
        </div>
    </div>
</script>

<script type="text/x-template" id="queue-manage-template">
    <div class="panel-group" id="accordionx" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" v-for="(value, index) in model.data">
                    <div class="panel-heading" role="tab" :id="'heading' + index">
                      <h5 class="panel-title">
                        <i class="fa fa-server fa-fw" style="color:#4dd00b;"></i> 
                        <a role="button" data-toggle="collapse" data-parent="#accordionx" :href="'#collapse' + index" aria-expanded="true" :aria-controls="'collapse'+index">
                           ${value.Name}
                        </a>
                      </h5>
                    </div>
                    <div :id="'collapse' + index" :class="[index=='0'?'in':''] + ' panel-collapse collapse '" role="tabpanel" :aria-labelledby="'heading' + index">
                        <div clas="panel-body">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active">
                                <a :href="'#varz_' + index" :aria-controls="'varz_' + index" role="tab" data-toggle="tab" style="border-radius: 0;border-left:none;">varz</a>
                              </li>
                              <li role="presentation">
                                <a :href="'#connz_' + index" :aria-controls="'connz_' + index" role="tab" data-toggle="tab" style="border-radius: 0;">connz</a>
                              </li>
                              <li role="presentation">
                                <a :href="'#routez_' + index" :aria-controls="'routez_' + index" role="tab" data-toggle="tab" style="border-radius: 0;">routez</a>
                              </li>
                              <li role="presentation">
                                <a :href="'#subsz_' + index" :aria-controls="'subsz_' + index" role="tab" data-toggle="tab" style="border-radius: 0;">subsz</a>
                              </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">

                              <div role="tabpanel" class="tab-pane active" :id="'varz_' + index">
                                <div class="panel panel-default" style="border:none;">
                                  <div class="panel-body">
                                    <ul class="nav">
                                      <li class="col-md-3" v-for="(v, k) in value.Content[0].Content">
                                        <div class="well">
                                          <h5 style="color:#a95353;text-transform:uppercase;text-align:center;font-weight:bolder;">
                                            ${ k }
                                          </h5>
                                          <h5 style="text-align:center;color:#333333;white-space: wrap;"><b>${ v } </b></h5>
                                          <span class='pull-right octicon icon-caret-up' style="color:green;"></span>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>

                              <div role="tabpanel" class="tab-pane" :id="'connz_' + index">
                                <div class="panel panel-default" style="border:none;">
                                  <div class="panel-body">
                                    <ul class="nav">
                                      <li class="col-md-3" v-for="(v, k) in value.Content[1].Content">

                                        <div class="well">
                                          <h5 style="color:#a95353;text-transform:uppercase;text-align:center;font-weight:bolder;">
                                            ${ k }
                                          </h5>
                                          <h5 style="text-align:center;color:#333333;white-space: wrap;"><b>${ v } </b></h5>
                                          <span class='pull-right octicon icon-caret-up' style="color:green;"></span>
                                        </div>

                                      </li>

                                    </ul>

                                    <table class="table" v-for="(b, a) in value.Content[1].Content.connections">
                                      <thead>
                                        <tr>
                                          <th class="well" v-for="(j, i) in b">
                                            ${ i }
                                          </th>
                                        </tr>
                                      </thead>
                                      <tr>
                                        <td class="well" v-for="(j, i) in b">
                                          ${ j }
                                        </td>
                                      </tr>

                                    </table>

                                  </div>
                                </div>
                              </div>

                              <div role="tabpanel" class="tab-pane" :id="'routez_' + index">
                                <div class="panel panel-default" style="border:none;">
                                  <div class="panel-body">
                                    <ul class="nav">
                                      <li class="col-md-3" v-for="(v, k) in value.Content[2].Content">
                                        <div class="well">
                                          <h5 style="color:#a95353;text-transform:uppercase;text-align:center;font-weight:bolder;">
                                            ${ k }
                                          </h5>
                                          <h5 style="text-align:center;color:#333333;white-space: wrap;"><b>${ v } </b></h5>
                                          <span class='pull-right octicon icon-caret-up' style="color:green;"></span>
                                        </div>
                                      </li>
                                    </ul>

                                    <table class="table" v-for="(b, a) in value.Content[2].Content.routes">
                                      <thead>
                                        <tr>
                                          <th class="well" v-for="(j, i) in b">
                                            ${ i }
                                          </th>
                                        </tr>
                                      </thead>
                                      <tr>
                                        <td class="well" v-for="(j, i) in b">
                                          ${ j }
                                        </td>
                                      </tr>

                                    </table>

                                  </div>
                                </div>
                              </div>

                              <div role="tabpanel" class="tab-pane" :id="'subsz_' + index">
                                <div class="panel panel-default" style="border:none;">
                                  <div class="panel-body">
                                    <ul class="nav">
                                      <li class="col-md-3" v-for="(v, k) in value.Content[3].Content">
                                        <div class="well">
                                          <h5 style="color:#a95353;text-transform:uppercase;text-align:center;font-weight:bolder;">
                                            ${ k }
                                          </h5>
                                          <h5 style="text-align:center;color:#333333;white-space: wrap;"><b>${ v } </b></h5>
                                          <span class='pull-right octicon icon-caret-up' style="color:green;"></span>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</script>

{{template "base/footer" .}}
