<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}


<style type="text/css">

    body {
        overflow: hidden;
    }

    #content.content{
        padding: 5px!important;
    }

    .company-info,
    .company-update,
    .user-info,
    .user-update{
        overflow: auto;
        background: rgb(255, 255, 255);
        padding: 15px;
    }

    form .button-bars {
        text-align: center;
    }

    #nav .thumbnail{
        padding:0px;
        border: none;
    }

    #nav .thumbnail > .caption{
        padding: 10px 15px;
    }

    .upload-btn-wrapper {
        text-align: center;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    #icon-list ul{
        padding-left: 0;
        list-style: none;
    }

    #icon-list ul > li{
        float: left;
        width: 7.3em;
        height: 115px;
        padding: 10px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(249, 249, 249);
        border: 1px solid rgb(255, 255, 255);
    }

    .media-object {
        width: 48px;
        height: 48px;
    }

    .logo-toggle{
        display: block;
        color: rgb(221, 221, 221);
        position: relative;
        right: -129px;
        cursor: pointer;
    }

    .sidebar,
    .sidebar-bg,
    .sidebar-toggle{
        display:none;
    }

    /* 全屏模式 */
	section#header{
		display:initial!important;
	}
	aside>#sidebar{
		display:initial!important;
	}
    footer#footer{
        display:flex!important;
    }

</style>

<main id="content" class="content">
    <div id="app"></div>
</main>


<script src="{{AppSubUrl}}/web/js/model/User.js" type="text/javascript"></script>
<script src="{{AppSubUrl}}/web/js/handler/CompanyHandler.js" type="text/javascript"></script>

<script>
     $(function(){
        let mxUser = new User();
        mxUser.init();
        mxUser.mount("#app");
    })

</script>

<script type="text/x-template" id="app-template">

    <el-container style="background:#fff;height: calc(100vh - 85px);">
        
        <el-aside id="nav" style="width:auto;">
            <el-container>
                <el-header style="height:auto;text-align:center;">
                    <el-button type="text" icon="el-icon-s-tools" @click="changeLogo" style="float: right;"></el-button>
                    <p><img :src="logo" style="width:120px;max-width:120px;"></img></p>
                </el-header>
                <el-main style="overflow:hidden;">
                    <h5>{{.i18n.Tr "company_info"}}</h5>
                    <p>{{.i18n.Tr "company_name"}}：{{.company}}</p>
                    <p>{{.i18n.Tr "company_fullname"}}：{{.company_fullname}}</p>
                    <p style="display:none;">{{.i18n.Tr "company_icon"}}：{{.icon}}</p>
                    <p>{{.i18n.Tr "company_ospace"}}：{{.ospace}}</p>
                    <p>{{.i18n.Tr "company_title"}}：{{.title}}</p>
                    <p>{{.i18n.Tr "company_license"}}：#{license}#</p>
                    <!--p>{{.i18n.Tr "company_product"}}：{{.i18n.Tr "app_desc"}}</p-->
                    <p>
                        <el-link type="default" icon="el-icon-location" href="http://{{.website}}" target="_blank" :underline="false">{{.i18n.Tr "company_web"}} </el-link>
                    </p>
                    
                    <p style="display:flex;">
                        <el-button type="success" icon="el-icon-edit" @click="toggleView('company-update')" v-if="mxAuth.isAdmin">{{.i18n.Tr "company_update"}}</el-button>
                        <el-button type="success" icon="el-icon-user" @click="toggleView('user-update')" v-if="mxAuth.isAdmin">{{.i18n.Tr "userinfo_update"}}</el-button>
                    </p>
                    
                </el-main>
            </el-container>
        </el-aside>
        <el-main id="content" style="margin: 0px 0px 0px 10px;height: calc(100vh - 90px);background: rgb(255, 255, 255);">
            <component v-bind:is="currentView"></component>
        </el-main>
        
    </el-container>

</script>


<script type="text/x-template" id="user-update-template">
    <div>
        <h2>{{.i18n.Tr "user_info"}}</h2>
        <el-divider></el-divider>
        <el-form action="/admin/users/15305020520705546474" method="post" label-width="80px">
            {{.CsrfTokenHtml}}
            <el-form-item label="{{.i18n.Tr "username"}}">
                <el-input id="user_name" name="user_name" v-model="signedUser.username"  autofocus required disabled></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "mobile"}}">
                <el-input id="mobile" name="mobile" v-model="userForm.mobile" required></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "email"}}">
                <el-input id="email" name="email" v-model="userForm.email" required></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "password"}}">
                <el-input type="password" id="password" name="password" v-model="signedUser.passwd" required show-password></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" native-type="submit">{{.i18n.Tr "submit"}}</el-button>
                <el-button type="default" @click="onCancel">{{.i18n.Tr "cancel"}}</el-button>
            </el-form-item>
        </el-form>

    </div>
</script>

<script type="text/x-template" id="user-info-template">
    <div>
        <h2>{{.i18n.Tr "user_info"}}</h2>
        <el-divider></el-divider>
        <el-form label-width="80px">
            <el-form-item label="{{.i18n.Tr "username"}}">
                <el-input id="user_name" class="form-control" value="{{.SignedUser.UserName}}" autofocus required disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="{{.i18n.Tr "firstname"}}">
                <el-input id="user_firstname" class="form-control" value="{{.SignedUser.FirstName}}" autofocus required disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="{{.i18n.Tr "lastname"}}">
                <el-input id="user_lastname" class="form-control" value="{{.SignedUser.LastName}}" autofocus required disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="{{.i18n.Tr "groupname"}}">
                <el-input id="user_group" class="form-control" value="{{.SignedUser.Parent}}" autofocus required disabled="true"></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "email"}}">
                <el-input id="email" class="form-control" type="email" :value="email" required disabled="true"></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "mobile"}}">
                <el-input id="mobile" class="form-control" type="number" value="{{.SignedUser.Mobile}}" required disabled="true"></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "password"}}">
                <el-input id="password" class="form-control" type="password" value="{{.SignedUser.Passwd}}" required disabled="true"></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "isactive"}}">
                <el-input type="checkbox" id="isactive" checked="{{.SignedUser.IsActive}}" required disabled="true"></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "isadmin"}}">
                <el-input type="checkbox" checked="{{.SignedUser.IsAdmin}}" required disabled="true"></el-input>
            </el-form-item>

        </el-form>

    </div>
</script>

<script type="text/x-template" id="company-update-template">
    <div class="animated fadeIn">
        <h2>{{.i18n.Tr "company_info"}}</h2>
        <el-divider></el-divider>
        
        <el-form>
            <el-form-item label="{{.i18n.Tr "company_name"}}">
                <el-input  v-model="company.name" autofocus required></el-input>
            </el-form-item>
            <el-form-item label="{{.i18n.Tr "company_fullname"}}">
                <el-input v-model="company.fullname" autofocus required></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "company_ospace"}}">
                <el-input v-model="company.ospace" required disabled="true"></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "company_title"}}">
                <el-input v-model="company.title" required></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "company_web"}}">
                <el-input v-model="company.web" required></el-input>
            </el-form-item>

            <el-form-item label="{{.i18n.Tr "company_license"}}">
                <el-input id="config" class="form-control" :value="license" required disabled>
                    <el-button type="success" slot="append">
                        导入
                        <input type="file" name="loadfile" @change="importLicense" />
                    </el-button>
                </el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="update">{{.i18n.Tr "submit"}}</el-button>
                <el-button type="default" @click="cancel">{{.i18n.Tr "cancel"}}</el-button>
            </el-form-item>

        </el-form>

    </div>
</script>


{{template "base/footer" .}}
