{{template "base/head" .}}

<style type="text/css" media="screen">
    
    
    #content.content {
        margin-left: 0px!important;
    }

    .panel {
        background-color: transparent;
        border: 0px;
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
        box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    }

    mark {
        background-color: rgba(253, 245, 154, 0.6);
    }

    .btn-primary.focus, .btn-primary:hover {
        color: #fff;
        background-color: #03a9f4;
        border-color: #03a9f4;
    }

    .btn-primary.focus, .btn-primary:focus {
        color: #fff;
        background-color: #03a9f4;
        border-color: #03a9f4;
    }

    .btn-primary.focus, .btn-primary:active {
        color: #fff;
        background-color: #03a9f4;
        border-color: #03a9f4;
    }

    .tile {
        width: 100px;
        min-width: 100px;
        min-height:  70px;
        max-height:  70px;
        color: #FFFFFF;
        padding: 10px 10px;
        text-align: center;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #03a9f4;
        display: inline-block;
        vertical-align: top;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }
    .tile_name {
        cursor: pointer;
        padding-bottom: 0px;
        border-bottom: 0px solid rgba(255,255,255,.2);
    }

    .tile__list {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tile__list:last-child {
        margin-right: 0;
        min-height: 80px;
    }

    .tile__list img {
        cursor: move;
        margin: 10px;
        border-radius: 100%;
    }

    .tile_plus{
        min-height:  70px;
        max-height:  70px;
        display: block;
        text-align: center;
        margin: -10px -12px;
        background-color: #e9eaf0;
        color: #949599;
        width: 15%;
        min-width: 100px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0px dashed rgba(0,0,0,.5);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    }

    a:hover{
        text-decoration: none;
        cursor: hand;
    }

    .search{
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
        ox-shadow: inset 0 0px 0px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        height: 36px;
    }
    
    /*----------  Search Result Panel  ----------*/
    #search-result-panel {
        overflow: auto;
        height: 50vh;
        position: relative;
        min-width: 75vw;
        margin-right:75px;
        border:1px solid #f0f3f4;
        border-top:1px solid #f0f3f4;
        background-color:#FFFFFF;
        margin-top: 8px;
    }
    #search-result-panel:after {
        bottom: 100%;
        left: 5%;
        border: 1px solid #f0f3f4;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(247, 247, 247, 0);
        border-bottom-color: #f0f3f4;
        border-width: 8px;
        margin-left: -30px;
    }

    .search-result-row:not(:last-child) {
        margin: 0px 0px 1px 0px;
        background-color: #f0f3f4;
        min-height: 32px;
        padding: 5px;
        color: #8f99a0;
    }

    .search-result-row:last-child {
        margin: 0px;
        background-color: #f0f3f4;
        min-height: 32px;
        padding: 5px;
        color: #8f99a0;
    }


    /* ----------------------- For Plus Button ----------------------- */
    .nav-secondary-plus {
      display: block;
      text-align: center;
      padding: 3px 3px;
      background-color: #e9eaf0;
      color: #949599;
      width: 90px;
      height: 75px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px dashed rgba(0,0,0,.5);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    }

    .nav-secondary-plus a span {
      display: block;
      font-size: 20px;
      font-weight: normal;
      line-height: normal;
      margin: 15px auto 0;
    }

    .nav-secondary-plus a:hover,
    .nav-secondary-plus .active a {
      text-decoration: none;
      background-color: #389abe;
      color: #ffffff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    }
    .nav-secondary-plus.inverse a {
      background-color: #389abe;
      color: #ffffff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    }
    .nav-secondary-plus.inverse a:hover,
    .nav-secondary-plus.inverse .active a {
      background-color: #e9eaf0;
      color: #949599;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    }

    /* For App Button */
    .layer.btn.btn-primary{
        padding: 10px 5px 0px 5px;
        margin: 5px;
        min-width: 120px;
        max-width: 120px;
        height: 80px;
        background-color: #242d47;
        border-radius: 3px;
    }

    .layer.select.btn.btn-primary{
        padding: 5px 5px 0px 5px;
        margin: 5px;
        min-width: 120px;
        max-width: 120px;
        height: 80px;
        background-color: #242d47;
        border-radius: 3px;
    }

    .layer .list-context-menu {
        position: relative;
        right: -45px;
        bottom: 5px;
    }

    .sidebar,
    .sidebar-bg,
    .sidebar-toggle,
    .input-group.full-width.topbar{
        display:none;
    }

    /* el-dialog__body */
    .el-dialog__body {
        display: flex;
        flex-wrap: wrap;
    }
    .el-dialog__body > .el-button--primary {
        padding: 10px 5px 0px 5px;
        margin: 5px;
        min-width: 120px;
        max-width: 120px;
        height: 80px;
        background-color: #242d47;
        border-radius: 3px;
    }

    /* el-input */
    .el-dialog .el-input--small .el-input__inner{
        height:32px;
        line-height: 32px;
        border-radius: 4px;
        border: 1px solid #DCDFE6;
    }

    /* el-dropdown menu */
    .menu-dropdown{
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        height:auto;
        padding:20px;
        background: rgba(255,255,255,.8);
        border:unset;
    }
    .menu-dropdown .el-dropdown-menu__item:focus, 
    .menu-dropdown .el-dropdown-menu__item:not(.is-disabled):hover {
        background: rgba(0,0,0,.2);
        color: #66b1ff;
    }

    .menu-dropdown  .popper__arrow,
    .menu-dropdown  .popper__arrow::after {
        border-bottom-color: rgba(255,255,255,0.8)!important;
    }

    .menu-dropdown .el-button--primary:focus, .el-button--primary:hover {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    }

    /* .menu-dropdown::-webkit-scrollbar{
        width: 5px;
        height: 5px;
        background-color: #F5F5F5;
    }
    .menu-dropdown::-webkit-scrollbar-track{
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    } */

    /* 全屏模式 */
	header#header{
		display:initial!important;
	}
    footer#footer{
		display:flex!important;
	}
	
</style>

<main id="content" class="content">
    <div id="app"></div>
</main>

<!-- Sortable JS-->
<script src="{{AppSubUrl}}/web/vendor/Sortable/Sortable.min.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-base-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-preset-component_{{.Lang}}.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/temp/vue-editor-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>

<script src="{{AppSubUrl}}/web/vendor/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="{{AppSubUrl}}/web/css/color/apps.min.js"></script>

<script src="{{AppSubUrl}}/web/js/model/Home.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>


{{template "base/footer" .}}
