
	<style scoped>
		/*----------  style  ----------*/

		.probe-tree-component{

		}

		.navbar-form {
			margin: 12px -15px;
		}

		.probe-tree-component .navbar-form .form-control {
			width: 100%;
		}

		.navbar-form .form-control:focus{
			width: 200px;
			animation:none;
			-webkit-animation: none;
		}

		.navbar-form .btn-search {
			right: -3px;
			top: 2px;
		}

		.ztree li a.curSelectedNode {
			background-color: rgb(161, 212, 250)!important;
			border:1px solid #ffffff!important;
			color: rgb(255,255,255)!important;
		}

		.ztree li a:hover{
			text-decoration: none!important;
		}

		.ztree {
			height: 100%;
			overflow: auto;
			padding-bottom: 100px!important;
			position: relative;
		}

		.toolbar{
			position: relative;
			left: calc(100% - 68px);
			top: 0px;
			padding: 0px 5px!important;
			margin: -20px 0px!important;
			width: 60px;
			height: 100%;
			display: block;
			background-color: rgb(161, 212, 250);
			border: none;
			border-radius: 0;
		}


		.ztree li span.blank {
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: middle;
		}


		/* For x-editable */
		.editable-click, a.editable-click, a.editable-click:hover{
			border-bottom:unset;
		}

		.editable-unsaved {
			font-weight: normal;
		}

	</style>



	/*----------  最外层element会自动增加组件同名 class="probe-tree-component"  ----------*/
	<template>
		<div>
			<form class="navbar-form full-width">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="搜索">
				</div>
			</form>
			<ul class="ztree" :id="id"></ul>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="probe-tree-component">
	{
        delimiters: ['${', '}'],
		props: {
            id: String,
			model: Object,
        },
        data: function(){
            return {
                zTree: Object,
                zSetting: {
                    view: {
                        dblClickExpand: this.onDblClickExpand,
                        addDiyDom: this.addCountDom,
                        removeHoverDom: this.removeHoverDom,
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onClick: this.onClick,
                        onExpand: this.onExpand
                    },
                    data: {
                        simpleData: {
                            enable: true
                        },
                        key: {
                            name: 'name',
                            title: 'title'
                        }
                    },
                    check: {
                        enable: false
                    }
                },
                zNodes: callFsJScript(`${[this.model.parent,this.model.name].join("/")}`).message,
                selectedNode: null,
                curTarget: null,
                curTmpTarget: null,
            }
        },
        created: function(){
            let self = this;

        },
        mounted: function () {
            let self =  this;

            self.$nextTick(function () {

                self.init();
                _.delay(function(){
                    self.initPlugIn();
                },1500);

            })
        },
        methods:{
            init: function () {
                let self = this;

                self.zTree = $.fn.zTree.init($("#" + self.id), self.zSetting, self.zNodes);

            },
	        initPlugIn: function(){
                let self = this;

                $(self.$el).contextMenu({
                    selector: 'span.class.more',
                    trigger: 'left',
                    items: {

                        "classNewByMql": {
                            name: "新建子类", icon: "fas fa-plus", callback: function (key, opt) {

                            }
                        },
                        "sep1": "---------",
                        "删除": {
                            name: "删除类", icon: "fas fa-trash", callback: function (key, opt) {

                            }
                        }
                    },
                    events: {
                        show: function(opt) {
                            // this is the trigger element
                            var $this = this;
                            // import states from data store
                            $.contextMenu.setInputValues(opt, $this.data());
                        },
                        hide: function(opt) {
                            // this is the trigger element
                            var $this = this;
                            // export states to data store
                            $.contextMenu.getInputValues(opt, $this.data());
                        }
                    }
                });

	        },
            initData: function(node){
				let self = this;

                self.zTree = $.fn.zTree.init($("#" + self.id), self.zSetting, self.zNodes);

	        },
            onExpand: function(event, treeId, treeNode) {
                let self = this;

                let recursiveTraverse = function (node) {

                    let rtn = null;

                    rtn = _.map(node, function(v,k){
                        return {cid: v.name, parent:'A2', rtype:'A2', name: v.name, title: v.name, children: recursiveTraverse(v.nodes), iconSkin: 'tag'};
                    });

                    return rtn;
                };

	            if(treeNode.rtype === 'A2' && treeNode.parent == null){

	                let tagDir = getTagDir(self.model.domain);

	                // 忽略第一层
	                let tree = recursiveTraverse(tagDir.nodes);

	                self.zTree.removeChildNodes(treeNode);
		            self.zTree.addNodes(treeNode, tree);

                }
            },
            onClick: function (event, treeId, treeNode, clickFlisParentag) {
                let self = this;

                self.selectedNode = treeNode;

                if(treeNode.rtype === 'A1') {

                    // 右键菜单
                    let sObj = $("#" + treeNode.tId + "_span");
                    let scObj = $("#" + treeNode.tId + "_a").find(".count");

                    if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;

                    let addStr = `<div class="well toolbar" id='toolbars_${treeNode.tId}' >
										<span class='button class edit' id='editBtn_${treeNode.tId}' title='编辑' ></span>
										<span class='button class console' id='consoleBtn_${treeNode.tId}' title='查询' ></span>
										<span class='button class more' id='moreBtn_${treeNode.tId}' title='更多'></span>
								</div>`;


                    if(scObj.length > 0){
                        scObj.after(addStr);
                    } else {
                        sObj.after(addStr);
                    }

                    return;
                }

                if(treeNode.cid === 'A2' && treeNode.parent == null){
                    // 右键菜单
                    let sObj = $("#" + treeNode.tId + "_span");
                    let scObj = $("#" + treeNode.tId + "_a").find(".count");

                    let addStr = `<div class="well toolbar" id='toolbars_${treeNode.tId}' >
										<span class='blank'></span>
										<span class='button add' id='addBtn_${treeNode.tId}' title='新建标签'></span>
										<span class='button refresh' id='refreshBtn_${treeNode.tId}' title='刷新'></span>
								</div>`;

                    if(scObj.length > 0){
                        scObj.after(addStr);
                    } else {
                        sObj.after(addStr);
                    }

                    // refresh
                    let btnRefresh = $("#refreshBtn_"+treeNode.tId);
                    if (btnRefresh) btnRefresh.bind("click", function(event){

                        event.stopPropagation();

                        self.refreshTagDir();

                    });

                    // add
                    let btnAdd = $("#addBtn_"+treeNode.tId);
                    if (btnAdd) btnAdd.bind("click", function(event){

                        event.stopPropagation();

                        alertify.prompt("标签名称", function (e, str) {
                            // str is the input text
                            if (e) {
                                self.addTagDir(str,treeNode);
                            } else {
                                // user clicked "cancel"
                            }
                        }, "新建标签");

                    });

                    return;
                }

                if(treeNode.rtype === 'A2'){
                    // 右键菜单
                    let sObj = $("#" + treeNode.tId + "_span");
                    let scObj = $("#" + treeNode.tId + "_a").find(".count");

                    let addStr = `<div class="well toolbar" id='toolbars_${treeNode.tId}' >
										<span class='button edit' id='editBtn_${treeNode.tId}' title='编辑标签'></span>
										<span class='button add' id='addBtn_${treeNode.tId}' title='新建标签'></span>
										<span class='button remove' id='deleteBtn_${treeNode.tId}' title='删除标签' ></span>
								</div>`;


                    if(scObj.length > 0){
                        scObj.after(addStr);
                    } else {
                        sObj.after(addStr);
                    }

                    // edit
                    let btnEdit = $("#editBtn_"+treeNode.tId);
                    if (btnEdit) btnEdit.bind("click", function(event){

                        event.stopPropagation();

                        $(`#${treeNode.tId}_span`).editable({
                            container: 'body',
                            success: function(response, newValue) {

                                let rtn = delTagDir(self.model.domain, treeNode.name);

                                if(rtn === 1){
                                    updateTagDir(self.model.domain, newValue);
                                }
                            }
                        });

                        $(`#${treeNode.tId}_span`).editable('show');

                        $(`#${treeNode.tId}_span`).on('hidden', function (e, reason) {
                            $(`#${treeNode.tId}_span`).editable('destroy');
                        });

                    });

                    // add
                    let btnAdd = $("#addBtn_"+treeNode.tId);
                    if (btnAdd) btnAdd.bind("click", function(event){

                        event.stopPropagation();

                        alertify.prompt("标签名称", function (e, str) {
                            // str is the input text
                            if (e) {
                                self.addTagDir(str,treeNode);
                            } else {
                                // user clicked "cancel"
                            }
                        }, "新建标签");

                    });

                    // delete
                    let btnDel = $("#deleteBtn_"+treeNode.tId);
                    if (btnDel) btnDel.bind("click", function(event){

                        event.stopPropagation();

                        self.delTagDir(treeNode);

                    });

                    return;
                }

            },
            addCountDom: function (treeId, treeNode) {
                let self = this;
                let aObj = $("#" + treeNode.tId + "_a");

                if(!_.isEmpty(treeNode.child)){
                    if (treeNode.child.length > 0){
                        let str = `<span class='${treeNode.name} count' style='color:rgb(160,160,160);'>(${treeNode.child.length})</span>`;
                        aObj.append(str);
                    }
                }
            },
            removeHoverDom: function (treeId, treeNode) {
                $("#toolbars_"+treeNode.tId).unbind().remove();
            },
            refresh: function(event) {
                let self = this;

                let pNode = self.selectedNode;


                let _node = self.zTree.getNodesByParam("name", pNode.name, null)[0];

                self.zTree.removeChildNodes(_node.getParentNode());
                self.initData();

                _.delay(function(){
                    self.initData();
                },2000);

                _.delay(function(){
                    self.zTree.expandNode(_node, false, false, true);
                },2500);

            },
	        addTagDir: function(newName,treeNode){
                let self = this;

				let _uuid = callFsJScript("/utils/uuid.js").message;

				let _name = [treeNode.name, newName].join("/").replace(/\/\//g,"/");

                let rtn = updateTagDir(self.model.domain, _name);

                if(rtn === 1){
                    self.zTree.addNodes(treeNode, {cid: `tag_${_uuid}`, pId:treeNode.cid, rtype: treeNode.rtype, name: _name, title: newName, iconSkin: treeNode.iconSkin});
                }

            },
            delTagDir: function(treeNode){
                let self = this;

                alertify.confirm("确认删除", function (e) {
                    if (e) {
                        let rtn = delTagDir(self.model.domain, treeNode.name);

                        if(rtn === 1) {
                            self.zTree.removeNode(treeNode);
                        }
                    } else {
                        // user clicked "cancel"
                    }
                });

            }
        }
	
	}
	</script>

</code>
