<code>

	<style scoped>
		/*----------  style  ----------*/
		.probe-manage{

        }

	</style>


	/*----------  最外层element会自动增加组件同名 class="probe-manage"  ----------*/
	<template>
		<el-container style="width:100%;height:100%;">
            <el-header style="height:30px;line-height:30px;">
                <el-tooltip content="切换视图" open-delay="500" placement="top">
                    <el-button type="text" icon="el-icon-s-fold" @click="onToggle"></el-button>
                </el-tooltip>
                <el-tooltip content="刷新" open-delay="500" placement="top">
                    <el-button type="text" icon="el-icon-refresh" @click="eventHub.$emit('PROBE-REFRESH-EVENT', ['probe'])"></el-button>
                </el-tooltip>
                <el-tooltip content="导出" delay-time="500">
                    <el-dropdown @command="onExport">
                        <span class="el-dropdown-link">
                            <i class="el-icon-download el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="csv">CSV</el-dropdown-item>
                            <el-dropdown-item command="json">JSON</el-dropdown-item>
                            <!--el-dropdown-item command="pdf">PDF</el-dropdown-item-->
                            <el-dropdown-item command="png">PNG</el-dropdown-item>
                            <!--el-dropdown-item command="sql">SQL</el-dropdown-item-->
                            <el-dropdown-item command="xls">XLS (Excel 2000 HTML format)</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-tooltip>
            </el-header>   
            <el-main style="width:100%;padding:0px;">
                <el-table
                    :data="dt.rows"
                    highlight-current-row="true"
                    style="width: 100%;"
                    :row-class-name="rowClassName"
                    :header-cell-style="headerRender"
                    @row-dblclick="onRowDblclick"
                    @row-contextmenu="onRowContextmenu"
                    @selection-change="onSelectionChange"
                    @current-change="onCurrentChange"
                    ref="table">
                    <!--el-table-column type="selection" align="center"></el-table-column--> 
                    <el-table-column
                        sortable 
                        show-overflow-tooltip
                        v-for="(item,index) in dt.columns"
                        :key="index"
                        :prop="item.field"
                        :label="item ? item.title : ''"
                        :width="item.width"
                        v-if="item.visible">
                            <template slot-scope="scope">
                                <div v-html='item.render(scope.row, scope.column, scope.row[item.field], scope.$index)' 
                                    v-if="typeof item.render === 'function'">
                                </div>
                                <div v-else>
                                    #{scope.row[item.field]}#
                                </div>
                            </template>
                    </el-table-column>
                </el-table>
            </el-main>
            <el-footer  style="height:30px;line-height:30px;">
                #{ info.join(' &nbsp; | &nbsp;') }#
            </el-footer>
        </el-container>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="probe-manage">
        {
            delimiters: ['#{', '}#'],
            props: {
                model: Object
            },
            data(){
                return {
                    dt:{
                        rows:[],
                        columns: [],
                        selected: []
                    },
                    info: []
                }
            },
            watch: {
                model: {
                    handler(val,oldVal){
                        console.log(val)
                        this.initData();
                        this.layout();
                    },
                    deep:true,
                    immediate:true
                },
                dt: {
                    handler(val,oldVal){
                        this.info = [];
                        this.info.push(`共 ${this.dt.rows.length} 项`);
                        this.info.push(`已选择 ${this.dt.selected.length} 项`);
                        this.info.push(moment().format("YYYY-MM-DD HH:MM:SS.SSS"));
                    },
                    deep:true,
                    immediate:true
                }
            },
            mounted(){
                
            },
            methods: {
                layout(){
                    let doLayout = ()=>{
                        if($(".el-table-column--selection",this.$el).is(':visible')){
                            _.delay(()=>{
                                this.$refs.table.doLayout();
                            },1000)
                        } else {
                            setTimeout(doLayout,50);
                        }
                    }
                    doLayout();
                },
                initData(){
                    const self = this;
                    
                    let init = function(){
                        
                        _.extend(self.dt, {columns: _.map(self.model.columns, function(v){
                            
                            if(_.isUndefined(v.visible)){
                                _.extend(v, { visible: true });
                            }

                            if(!v.render){
                                return v;
                            } else {
                                return _.extend(v, { render: eval(v.render) });
                            }
                            
                        })});

                        _.extend(self.dt, {rows: self.model.rows});
                    };

                    _.delay(()=>{
                        init();
                    },1000)
                    
                },
                rowClassName({row, rowIndex}){
                    return `row-${rowIndex}`;
                },
                headerRender({ row, column, rowIndex, columnIndex }){
                    if (rowIndex === 0) {
                        //return 'text-align:center;';
                    }
                },
                onSelectionChange(val) {
                    this.dt.selected = [val];
                },
                onCurrentChange(val){
                    this.dt.selected = [val];
                },
                onRowContextmenu(row, column, event){
                    
                },
                onRowDblclick(row, column, event){
                    
                },
                onExport(type){
            
                    let options = {
                        csvEnclosure: '',
                        csvSeparator: ', ',
                        csvUseBOM: true,
                        ignoreColumn: [0,1],
                        fileName: `tableExport_${moment().format("YYYY-MM-DD HH:MM:SS")}`,
                        type: type,
                    };

                    if(type === 'png'){
                        //$(this.$refs.table.$el.querySelectorAll("table")).tableExport(options);
                        $(this.$refs.table.$el.querySelector("table.el-table__body")).tableExport(options);
                    } else if(type === 'pdf'){
                        _.extend(options, {
                            jspdf: {orientation: 'l',
                                    format: 'a3',
                                    margins: {left:10, right:10, top:20, bottom:20},
                                    autotable: {styles: {fillColor: 'inherit', 
                                                            textColor: 'inherit'},
                                                tableWidth: 'auto'}
                            }
                        });
                        $(this.$refs.table.$el.querySelectorAll("table")).tableExport(options);
                    } else {
                        $(this.$refs.table.$el.querySelectorAll("table")).tableExport(options);
                    }
                    
                },
                onToggle(){
                    this.$root.$refs.probeView.onToggle();
                }
            }
        }
	</script>

</code>
