<code>

    <style scoped>
        /*----------  style  ----------*/
        .probe-card-component{
            width: auto;
            height: 100%;
            margin-right: 0px;
        }

        /* Flexbox stuff */
        .cards {
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: space-between;
            padding: 0px 10px 0px 10px;
            list-style: none;
        }

        .card {
            flex: 0 1 18%;
        }

        .card, .card-title {
            margin-bottom: 0px;
        }

    </style>


    /*----------  最外层element会自动增加组件同名 class="probe-card-component"  ----------*/
    <template>
        <el-container>
            <el-main style="overflow: hidden;padding:0px;">
                <el-button type="primary" v-for="item in model"
                    style="max-width: 25%;width: 20%;height:auto;min-height:90px;border-radius: 10px!important;margin: 5px;border: unset;box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.05);">
                    <h3>${item.name}</h3>
                    <p>
                        ${item.count}
                    </p>
                </el-button>
            </el-main>
        </el-container>
    </template>

    /*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
    <script id="probe-card-component">
        {
            delimiters: ['${', '}'],
            props: {
                model:Object
            },
            created: function(){
                let self = this;

            },
            mounted: function(){
                let self = this;

                self.$nextTick(function(){
                    self.init();
                })
            },
            destroyed: function(){
                let self = this;

            },
            methods: {
                init: function(event) {
                    let self = this;

                }
            }

        }
    </script>

</code>
