<code>

	<style>
		/*----------  style  ----------*/
		.vue-fs-view-component .fs-node-selected {
			-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		}

		.vue-fs-view-component .fs-footer{
			position:fixed;
			bottom:30px;
		}

		.editable-click, a.editable-click, a.editable-click:hover {
			border-bottom: none;
		}

		.vue-fs-view-component .fa-bars {
			color: rgb(144, 144, 144);
		}

		#grid ul{
			padding-left: 0;
			list-style: none;
		}

		#grid ul > li{
			float: left;
			width: 10em;
			height: 105px;
			font-size: 10px;
			line-height: 1.4;
			text-align: center;
			background-color: rgb(249, 249, 249);
			border: 1px solid rgb(255, 255, 255);
			margin: 5px 5px 0px 0px;
		}


		#icon-list ul{
			padding-left: 0;
			list-style: none;
		}

		#icon-list ul > li{
			float: left;
			width: 7.3em;
			height: 115px;
			padding: 10px;
			font-size: 10px;
			line-height: 1.4;
			text-align: center;
			background-color: rgb(249, 249, 249);
			border: 1px solid rgb(255, 255, 255);
		}

		.media-object {
			width: 48px;
			height: 48px;
		}

		/*
		*   File Upload
		*/
		.progress {
			height: 8px;
			border-radius: 0px;
			display: block;
			position: relative;
			bottom: 16px;
		}

		#files ul{
			margin: 10px;
			padding-left: 0;
			list-style: none;
		}

		#files ul > li{
			float: left;
			width: 10em;
			height: 100px;
			font-size: 12px;
			line-height: 1.4;
			text-align: center;
			background-color: rgb(249, 249, 249);
			border: 1px solid rgb(255, 255, 255);
			padding-top: 5px;
			margin-bottom: 45px
		}

		#files ul > li > canvas {
			height: 65%;
			width: auto;
		}

		#files ul > li > a {
			background-color: rgb(249, 249, 249);
			border-radius: 0px;
		}

		#files ul > li > button {
			margin-top: -50px;
		}

		#files ul > li > .preview-null {
			width: 100px;
			padding-top: 10px;
			height: 64px;
			color: rgb(221, 221, 221);
		}

		.preview-img-responsive{
			max-width: 100%;
			height: auto;
			display: block;
		}

		.vue-fs-view-component #grid{
			height: 75vh;
			overflow: auto;
		}



	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-fs-view-component"  ----------*/
	<template>

		<div>
			<div class="row">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<ul style="list-style: none;display:  flex;margin-left: -40px;">
							<li style="padding:5px 0px;">
								<a href="javascript:void(0);" @click="open(null,'/home')" style="text-decoration:none;color:#333333;"><i class="fa fa-folder-o"></i> 我的文件 </a>
							</li>
							<li>
								<ol class="breadcrumb">
									<li v-for="(item,index) in filePath" :style="index<2 ? 'display:none;':'display:;'">
										<a href="javascript:void(0);" @click="open(item,_.slice(filePath,0,index+1).join('/'))">${item}</a>
									</li>
								</ol>
							</li>
						</ul>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="btn-group" role="group" aria-label="..." style="float: right;">
							<!--<a href="javascript:void(0)" class="btn btn-xs btn-default btn-noborder" @click="toggleLeft" style="margin-right: 5px;">
								<i class="fa fa-caret-right navtoggle"></i>
							</a>-->
							<a href="#" class="btn btn-xs btn-default" @click="selectAll"><i class="fa fa-square-o"></i></a>
							<a href="#" class="btn btn-xs btn-default" @click="pasteIt"><i class="fa fa-paste"></i></a>
							<a href="#" class="btn btn-xs btn-danger" @click="deleteThem"><i class="fa fa-trash"></i></a>
							<a href="#" class="btn btn-xs btn-default btn-noborder" @click="newDir"><i class="fa fa-folder""></i></a>
							<!--<a href="#" class="btn btn-xs btn-default btn-noborder" @click="newFile"><i class="fa fa-file"></i></a>-->
							<a href="javascript:void(0);" class="btn btn-xs btn-success btn-noborder fileinput-button">
								<i class="fa fa-upload"></i>
								<input id="file-upload" type="file" name="uploadfile" multiple>
							</a>
							<a href="#grid" role="tab" data-toggle="tab" class="btn btn-xs btn-default btn-noborder file-view-icon-component active">
								<i class="fa fa-th" aria-hidden="true"></i>
							</a>
							<a href="#table" role="tab" data-toggle="tab" class="btn btn-xs btn-default btn-noborder file-view-table-component">
								<i class="fa fa-list" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			<div class="row">
				<!-- TAB CONTENT -->
				<div class="tab-content">
				  <div class="active tab-pane fade in" id="grid">
					  <ul>
						  <li :class="item.ftype=='dir'?'dir fs-node context-menu-file':'fs-node context-menu-file'"
						       :id="'fs_node_'+item.id"
						       @mouseover="mouseOver(item)"
						       @mouseout="mouseOut(item)"
						       style="cursor: pointer;"
						       :title="item.name"
						       v-for="item in model">
							  <div class="widget widget-stats bg-silver animated flipInX">
								  <div class="stats-info" @click="open(item, item.parent+'/'+item.name);" >
									  <p><img class="media-object" :src="item | pickIcon"></p>
								  </div>
								  <div class="stats-link">
									  <a class="fs-name" :data-pk="item.id" href="javascript:void(0);" style="text-align: left;margin:15px -15px -15px -15px;padding: 5px;" :title="item.title" :data-info="JSON.stringify(item)">
										  ${item | pickName}
									  </a>
								  </div>
								  <div class="list-context-menu" :data-item="JSON.stringify(item)" style="position: absolute;right: 10px;top: 5px;cursor:pointer;">
									  <i class="fa fa-bars"></i>
								  </div>
							  </div>
						  </li>
					  </ul>
				  </div>
					<div class="tab-pane fade" id="table">
						<vue-base-datatables-component id="files-list-datatable"
						                               :columns="table.columns"
						                               :dataset="model"></vue-base-datatables-component>
				  </div>
				</div>

			</div>
			<div class="row fs-footer">
	            <div class="col-lg-12">
		            <small>数量：${model.length} <i class="fa fa-clock"></i> ${moment().format("LLL")}</small>
	            </div>
			</div>
		</div>

	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-fs-view-component">
	{
        delimiters: ['${', '}'],
		props: {
			id: String,
			root: String
		},
		data: function () {
			return {
                rootPath: this.root,
                model: [],
                selectedNode: {},
			    table: {
                    columns: [
                        {field: "name", title: "Name"},
                        {field: "ftype", title: "Type"},
                        {field: "parent", title: "Parent"},
                        {field: "vtime", title: "Create Time"}
                    ]
				},
                upload:{
                    option: {
                        url: '/fs/home',
                        dataType: 'json',
                        autoUpload: false,
                        acceptFileTypes: /(\.|\/)(gif|jpe?g|png|csv|log|pdf|html|txt)$/i,
                        maxFileSize: 999000,
                        disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
                        previewMaxWidth: 100,
                        previewMaxHeight: 100,
                        previewCrop: true
                    },
                    swal: {}
                },
				action: {
                    from: null,
                    to: null
                }
			}
		},
        created: function() {
            let self = this;

            self.init();

            eventHub.$on("FS-FORWARD-EVENT", self.open);
        },
		mounted: function () {
            let self = this;

            self.$nextTick(function () {

                self.initPlugIn();

			})
		},
		watch: {
			root: function(val,oldVal){
			    let self = this;

                self.rootPath = val;

                self.load();
			},
            rootPath: function(val,oldVal){
                let self = this;

                let _extName = _.split(val,'.');

                if(_extName.length == 1){
                    self.load();
                }

                $('#file-upload').fileupload({url: '/fs' + val});

            }
		},
        computed: {
            filePath: function(){
                let self = this;
                let _tmp = self.rootPath.split("/");

                return _tmp;
            }
        },
		filters: {
            pickName: function(item){

                if (_.isEmpty(item)) return '';

                let _name = _.head(item.name.split("."));

                if(!_.isEmpty(_name) && _.size(_name) > 9){
                    _name = _.split(_name,"",9).join("")+"..."
                }

				return _name;
	        },
            pickIcon: function(item){
                let self = this;

                if (_.isEmpty(item.attr) || _.isEqual(item.attr, 'null')) {
                    return `/fs/home/assets/${item.ftype}.png?type=download`;
                }

                return JSON.parse(item.attr).icon;
            }
	    },
		methods: {
			init: function(){
                let self = this;

                self.load();

			},
			initPlugIn: function(){
			    let self = this;


                self.initFileUpload();

                self.initContextMenu();

			},
			initContextMenu: function(){
			    let self = this;

                $.contextMenu({
                    selector: '.list-context-menu',
                    trigger: 'left',
                    build: function($trigger, e) {
                        // this callback is executed every time the menu is to be shown
                        // its results are destroyed every time the menu is hidden
                        // e is the original contextmenu event, containing e.pageX and e.pageY (amongst other data)

	                    let _item = null;

	                    if(!_.isEmpty(e.target.attributes.getNamedItem('data-item').value)) {
	                        _item = _.attempt(JSON.parse.bind(null, e.target.attributes.getNamedItem('data-item').value));
                        }

                        return {

                            items: {

                                "delete": {
                                    name: "删除", icon: "fa-trash", callback: function (key, opt) {
                                        self.deleteIt(_item,true);
                                    }
                                },
                                "sep3": "---------",
                                "copy": {
                                    name: "复制", icon: "fa-copy", callback: function (key, opt) {
                                        self.copyIt(_item);
                                    }
                                },
                                "paste": {
                                    name: "粘贴", icon: "fa-paste", callback: function (key, opt) {
                                        self.pasteIt();

                                    }
                                },
                                "sep4": "---------",

                                "info": {
                                    name: "属性", icon: "fa-info", callback: function (key, opt) {
                                        self.info(_item);
                                    }
                                }
                            }

                        }
                    }
                });
			},
			initEditName: function(){
			    let self = this;

                $(".fs-name").editable('destroy').editable({
                    type: "text",
                    container: 'body',
                    validate: function (value) {
                        if (!$.trim(value)) {
                            return '不能为空';
                        }
                    },
                    display: function(value, sourceData) {
                        if(value.length > 10) {
                            $(this).html(_.split(value,"",9).join("")+"...");
                        }
                    },
                    success: function (response,newValue) {

                        let _item = $(this).data("info");

                        let _extName = _item.ftype=='dir'?'':'.'+_item.ftype;

                        console.log($(this).editable('getValue', true), $(this).text(),newValue)

                        let _old = _.trim(_item.parent + "/" + $(this).editable('getValue', true) + _extName);
                        let _new = _.trim(_item.parent + "/" + newValue + _extName);

                        let _check = fsCheck( _item.parent, newValue);
                        if(_check) {
                            alertify.error("文件已存在，请确认！")
                            return false;
                        }

                        let _rtn = fsRename(_old, _new);

                        if(_rtn == 1){
                            self.load();
                        } else {
                            $(this).innerHTML($(this).editable('getValue', true));
                        }
                    }
                });

			},
            open: function(item, path){
                let self = this;

                self.rootPath = path;

                if(!_.isEmpty(item)){

                    if(_.includes(['png','jpg','jpeg','gif'], item.ftype)) {


                        let contents = `<img src="/fs${path}?type=download" class="preview-img-responsive center-block" alt="Image">`;
                        let _wnd = newWindow('fsapp', item.name, contents, null);

                    } else if(_.includes(['mov','mp4','avi'], item.ftype)) {

                        let contents = `<div class="embed-responsive embed-responsive-16by9">
                                            <video src="/fs${path}?type=download" controls="controls" autoplay>
												your browser does not support the video tag
											</video>
										</div>
										`;

                        let _wnd = newWindow('fsapp', item.name, contents, null);

                    } else if(_.includes(['pdf'], item.ftype)) {

                        let contents = `<div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="/fs${path}?type=download"></iframe>
										</div>`;

                        let _wnd = newWindow('fsapp', item.name, contents, null);

                    } else if(_.includes(['pptx','ppt'], item.ftype)) {

                        window.open(`/fs${path}?type=download`, "_parent");

                    } else if(_.includes(['swf'], item.ftype)) {
                        let contents = `<div class="embed-responsive embed-responsive-16by9">
											<video src="/fs${path}?type=download" width="100%" height="100%" controls="controls" autoplay>
												Your browser does not support the video tag.
											</video>
										</div>`;

                        let _wnd = newWindow('fsapp', item.name, contents, null);
                    }
                }

            },
            openByApp: function(item){
                let self = this;

                if(item.ftype === 'ishow'){
                    let _obj = {};

                    _obj.name = item.name;
                    _obj.parent = "/home/dashboard";

                    localStorage.setItem("dashboard-object", JSON.stringify(_obj));

                    window.open(
                        "/janesware/" + item.ftype,
                        "_blank"
                    );
                } else if(item.ftype === 'dir'){
                    self.rootPath = item.parent+"/"+item.name.replace(/\/home\/admin/g,"");
                    self.load();
                } else {
                    window.open(
                        "/janesware/" + item.ftype,
                        "_blank"
                    );
                }
            },
            load: function() {
                let self = this;

                let _rtn = fsList(self.rootPath);

                self.model = _.orderBy(_.map(_rtn,function(v,k){

				                    return _.merge(v, {"username": `{{.SignedUser.Name}}`});

				                }),['vtime','name'],['desc','asc']);


                _.delay(function(){
                    self.refresh();

                    //self.initEditName();

                },300);


            },
            refresh: function() {
                let self = this;

                $(".tagsLabel").tagsinput({
                    tagClass: function(item) {
                        return _.sample(['label label-success']);//, 'label label-default', 'label label-primary', 'label label-warning', 'label label-danger label-important']);
                    }
                });

                $(".tagsLabel").on('itemAdded', function(event) {

                    let _id = $(this).data("index");
                    let _item = _.find(self.model.list,{id:_id});

                    fetchData(_item.id + ' | tags +' + event.item);

                });

                $(".tagsLabel").on('itemRemoved', function(event) {

                    let _id = $(this).data("index");
                    let _item = _.find(self.model.list,{id:_id});

                    fetchData(_item.id + ' | tags -' + event.item);

                });
            },
            initFileUpload: function(){
                let self = this;
                var uploadButton = $('<button/>')
                    .addClass('btn btn-xs btn-primary')
                    .prop('disabled', true)
                    .text('准备中...')
                    .on('click', function () {
                        var $this = $(this),
                            data = $this.data();
                        $this
                            .off('click')
                            .text('中止')
                            .on('click', function () {
                                $this.remove();
                                data.abort();
                            });
                        data.submit().always(function () {
                            $this.remove();
                        });
                    });

                $('#file-upload').fileupload(self.upload.option)
                    .on('fileuploadadd', function (e, data) {
                        console.log(e,data)

                        let _wnd = newWindow('fsupload','上传', `<div id="files" class="files">
																</div>`, null);

                        data.context = $('<ul/>').appendTo('#files');

                        $.each(data.files, function (index, file) {

                            let _name = file.name;

                            if(!_.isEmpty(file.name) && _.size(file.name) > 9){
                                _name = _.split(file.name,"",9).join("")+"..."
                            }

                            var node = $('<li/>')
                                .append($(`<a href="#" class="thumbnail" style="border:none;"/>`)
								.text(_name))
	                            .attr("title",file.name)
                                .append($(`<div id="progress_${objectHash.sha1(file.name)}" class="progress">
										        <div class="progress-bar progress-bar-success"></div>
	                                       </div>`));
                            if (!index) {
                                node
                                    .append(uploadButton.clone(true).data(data));
                            }
                            node.appendTo(data.context);
                        });
                    })
                    .on('fileuploadprocessalways', function (e, data) {
                        var index = data.index,
                            file = data.files[index],
                            node = $(data.context.children()[index]);
                        if (file.preview) {
                            node
                                .prepend(file.preview);
                        }else{
                            node
                                .prepend(`<span class="fa fa-file fa-4x preview-null"></span>`);
                        }

                        if (file.error) {
                            node
                                .append('<hr>')
                                .append($('<span class="text-danger"/>').text(file.error));
                        }
                        if (index + 1 === data.files.length) {
                            data.context.find('button')
                                .text('上传')
                                .prop('disabled', !!data.files.error);
                        }
                    })
                    .on('fileuploadprogress', function (e, data) {
	                    let _name = objectHash.sha1(data.files[0].name);
	                    let progress = parseInt(data.loaded / data.total * 100, 10);
                        $(`#progress_${_name} .progress-bar`).css(
                            'width',
                            progress + '%'
                        );

                    })
                    .on('fileuploaddone', function (e, data) {
                        $.each(data.result.files, function (index, file) {
                            if (file.url) {
                                var link = $('<a>')
                                    .attr('target', '_blank')
                                    .prop('href', file.url);
                                $(data.context.children()[index])
                                    .wrap(link);
                            } else if (file.error) {
                                var error = $('<span class="text-danger"/>').text(file.error);
                                $(data.context.children()[index])
                                    .append('<br>')
                                    .append(error);
                            }
                        });

                        self.load();

                        // close upload win

                    })
                    .on('fileuploadfail', function (e, data) {
                        $.each(data.files, function (index) {
                            var error = $('<span class="text-danger"/>').text('上传失败。');
                            $(data.context.children()[index])
                                .append('<br>')
                                .append(error);
                        });
                        // close upload win

                    })
                    .prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
            },
            mouseOver: function(item){
                let self = this;

                $(self.$el).find('.fs-node-selected').removeClass('fs-node-selected');
                $('#fs_node_'+item.id).find('.widget').addClass('fs-node-selected');

            },
            mouseOut: function(item){
                let self = this;

                $('#fs_node_'+item.id).find('.fs-node-selected').removeClass('fs-node-selected');
            },
            newDir: function() {
                let self = this;

                let _name = '新文件夹_' + _.now();
                let _type = 'dir';
                let _attr = {remark: '', ctime: _.now(), author: '{{.SignedUser.Name}}', type: _type, icon: "/fs/home/assets/dir.png?type=download"};

                let _rtn = fsNew(_type, self.rootPath, _name, null, _attr);

                if(_rtn == 1){
                    self.load();
                }
            },
            info: function(node){
                let self = this;

                let _win = newWindow("fsinfo","属性",'<div id="fs-info"></div>',null);

                let _attr = {"attr": `{"remark": "", "ctime": ${_.now()}, "author": "{{.SignedUser.Name}}", "type": "${node.ftype}", "icon": "/fs/home/assets/${node.ftype}.png?type=download"}`};

                if(_.isEmpty(node.attr)){
                    node = _.merge(node, _attr);
                }

                let _infoVue = new Vue({
                    delimiters: ['#{', '}#'],
                    el: "#fs-info",
                    template: `<div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="home">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="name">项目名称</label>
                                                            <input type="text" class="form-control" id="name" placeholder="" v-model="model.newName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="remark">项目备注</label>
                                                            <textarea type="text" class="form-control" rows="2" id="remark" placeholder="" v-model="model.attr.remark"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="ctime">更新时间</label>
                                                            <input type="text" class="form-control" id="ctime" placeholder="" :value="model.attr.ctime | toLocalTime" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="parent">目录</label>
                                                            <input type="text" class="form-control" id="parent" placeholder="" v-model="model.parent" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="type">类型</label>
                                                            <input type="text" class="form-control" id="type" placeholder="" v-model="model.type" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="author">作者</label>
                                                            <input type="text" class="form-control" id="author" placeholder="" v-model="model.attr.author" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="icon">图标</label>
                                                            <a href="#icon-list" aria-controls="icon-list" role="tab" data-toggle="tab">
                                                                <img class="media-object" :src="model.icon.value" style="width:15%;">
                                                            </a>
                                                        </div>

                                                        <div class="form-group" style="text-align: center;">
                                                            <a href="javascript:void(0)" class="btn btn-sm btn-warning" @click="apply">应用</a>
                                                            <a href="javascript:void(0)" class="btn btn-sm btn-success" @click="save">确定</a>
                                                            <a href="javascript:void(0)" class="btn btn-sm btn-default" @click="close">取消</a>
                                                        </div>


                                                </form>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="icon-list">
                                                <div class="row">
                                                  <div class="col-md-12" style="display: list-item;height: 75vh;overflow: auto;">
                                                    <ul>
                                                        <li v-for="icon in model.icon.list">
                                                            <a href="#" class="thumbnail" style="border:none;" @click="triggerInput(icon.id)">
                                                              <img class="media-object" :src="icon | pickIcon" style="max-width: 55px;min-width: 55px;;">
                                                              <input type="radio" :ref="icon.id" :id="icon.id"  :value="'/fs'+icon.parent+'/'+icon.name+'?type=download'" v-model="model.icon.value" >
                                                            </a>
                                                        </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                                <div class="row" style="margin-top:15px;">
                                                    <div class="col-md-12" style="text-align:center;">
                                                        <a class="btn btn-sm btn-default" href="#home" aria-controls="home" role="tab" data-toggle="tab">返回</a></li>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>`,
                    data: {
                        model: {
                            parent: node.parent,
                            oldName: node.name,
                            newName: node.name,
                            type: node.ftype,
                            attr: {remark:''},
                            icon: {
                                value: '',
                                list: []
                            }
                        }
                    },
                    mounted: function() {
                        let me = this;

                        me.$nextTick(function() {
                            me.model.attr = _.attempt(JSON.parse.bind(null, node.attr));
                            me.model.icon.value = me.model.attr.icon;
                            me.init();
                        })
                    },
                    filters: {
                        pickName: function (value) {
                            let me = this;

                            if (!value) return '';

                            let _attr = _.attempt(JSON.parse.bind(null, value));

                            return _attr.name;
                        },
                        pickIcon: function(item) {
                            return "/fs" + item.parent + "/" + item.name + "?type=download";
                        },
                        readMore: function (text, length, suffix) {
                            return text.substring(0, length) + suffix;
                        },
                        toLocalTime: function (value) {
                            return moment(value).format("LLL");
                        }
                    },
                    destroyed: function(){
                        let me = this;

                        me.model = null;
                    },
                    methods: {
                        init: function(){
                            let me = this;

                            me.model.icon.list = fsList('/home/assets');
                        },
                        triggerInput: function(id){
                            let self = this;

                            $(self.$refs[id]).click()
                        },
	                    apply: function(){
	                        let me = this;

	                        me.saveAttr();

	                    },
	                    save: function(){
	                        let me = this;

	                        me.saveAttr();
	                        _win.close();
	                    },
	                    close: function(){
	                        let me = this;

	                        _win.close();
	                    },
                        saveName: function(){
                            let me = this;

                            let _extName = node.ftype=='dir'?'':'.'+node.ftype;
                            let _old = node.parent + "/" + node.name;// + _extName;
                            let _new = node.parent + "/" + me.model.newName;// + _extName;


                            let _check = fsCheck( node.parent, me.model.newName);
                            if(_check) {
                                alertify.error("文件已存在，请确认！")
                                return false;
                            }

                            let _rtn = fsRename(_old, _new);

                            if(_rtn == 1){

                                _win.close();

                                self.load();
                            }
                        },
                        saveAttr: function(){
                            let me = this;

                            me.model.attr.icon = me.model.icon.value;

                            let _rtn = fsUpdateAttr(node.parent, node.name, me.model.attr);

                            if(_rtn == 1){
                                self.load();
                                $(".list-context-menu").contextMenu('update');

                                if(me.model.oldName != me.model.newName){
                                    _win.close();
                                    me.saveName();
                                }
                            }
                        }
                    }
                })

            },
			selectAll: function(){
			    let self = this;

			    $(".fs-node").find('.widget').addClass('fs-node-selected');


			},
            copyIt: function(item){
                let self = this;

                self.action.from = item.parent + "/" + item.name;
                alertify.log("已复制 " + self.action.from);
            },
            pasteIt: function(){
                let self = this;

                if(_.isEmpty(self.action.from)){
                    alertify.log("请选择复制内容")
                    return false;
                }

                self.action.to = self.rootPath;
                let _rtn = fsCopy(self.action.from, self.action.to);
                if(_rtn == 1){
                    alertify.log("已粘贴 " + self.action.to);
                    self.load();

                    //
                    self.action.from = null;
                    self.action.to = null;
                }
            },
            deleteThem: function() {
                let self = this;

                let _them = $(".fs-node-selected .list-context-menu");

                if(_.isEmpty(_them)) {
                    alertify.log("选择需要删除的对象！");
                    return false;
                }

                swal({
                    title: "",
                    text: "确定要删除?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    cancelButtonText: "取消",
                    confirmButtonText: "删除",
                    confirmButtonColor: "#ff0000"
                }).then((result) => {
                    if (result.value) {

                        _.forEach(_them, function(v,k){
                            let _item = $(v).data("item");

                            self.deleteIt(_item, false);
                        })
                    }
                })

            },
			deleteIt: function(event, prompt) {
                let self = this;

                if(_.isEmpty(event)) {
                    alertify.log("选择需要删除的对象！");
                    return false;
                }

                if(prompt){
                    swal({
                        title: event.name,
                        text: "确定要删除?",
                        type: "warning",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        cancelButtonText: "取消",
                        confirmButtonText: "删除",
                        confirmButtonColor: "#ff0000"
                    }).then((result) => {
                        if (result.value) {
                            let _rtn = fsDelete(event.parent,event.name);

                            if (_rtn == 1){
                                self.load();
                            }
                        }
                    })
                } else {

                    let _rtn = fsDelete(event.parent,event.name);

                    if (_rtn == 1){
                        self.load();
                    }
                }

            },
            toggleLeft: function() {
                let self = this;

                if(self.toggle.left) {

                    $("#nav").hide();

                    $("#content").removeClass("col-lg-10");
                    $("#content").addClass("col-lg-12");

                    $(".navtoggle").removeClass("fa fa-caret-left");
                    $(".navtoggle").addClass("fa fa-caret-right");

                    self.toggle.left = false;
                } else {
                    $("#nav").slideDown(500);
                    $("#nav").show();

                    $("#content").removeClass("col-lg-12");
                    $("#content").addClass("col-lg-10");
                    //$("#content").find(".panel-default").css("border-left","2px #ddd dotted");

                    $(".navtoggle").removeClass("fa fa-caret-right");
                    $(".navtoggle").addClass("fa fa-caret-left");

                    self.toggle.left = true;
                }
            }
		}
	
	}
	</script>



</code>
