<code>

	<style>
		/*----------  style  ----------*/
		.list-group-item {
			border:none;
			padding: 5px;
		}
		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-ci-tags-component"  ----------*/
	<template>
		<ul :id="id" class="list-group"><li v-for="item in tags" class="list-group-item">
			<span :class="'btn btn-xs '+_.sample(['btn-info','btn-success','btn-default','btn-danger','btn-warning'])">${item}</span>
		</li></ul>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-ci-tags-component">
	{
        delimiters: ['${', '}'],
		props: {
            id: String,
			model: Array
		},
		data:function(){
			return {
                tags: null
            }
		},
        created: function(){
            let self = this;

        },
        watch: {
            model:function(val,oldVal){
                let slef = this;

				self.init(val);
            }
            
        },
        mounted: function(){
            let self = this;

            self.$nextTick(function(){

                _.delay(function(){
					self.init(null);
                },500);

	            self.initPlugin();
            })
        },
        methods: {
            init: function(event) {
                let self = this;

                if (!_.isEmpty(event)){
                    self.tags =  _.chain(_.map(event, 'tags')).reject(_.isEmpty).join().split(",").uniq();
                    self.tags = JSON.parse(JSON.stringify(self.tags));
                    return false;
                }

                self.tags =  _.chain(_.map(self.model, 'tags')).reject(_.isEmpty).join().split(",").uniq();
				self.tags = JSON.parse(JSON.stringify(self.tags));

            },
            initPlugin: function(){
            	let self = this;

            }
        }
	
	}
	</script>

</code>
