<code>

	<style>
		/*----------  style  ----------*/
		.vue-apps-box-component a.btn {
			padding: 10px 5px 0px 5px;
			min-width: 95px;
			max-width: 110px;
			height: 64px;
			background-color: rgb(240, 243, 244);
			color: rgb(158, 158, 158);
			margin: 5px;
			border: rgb(221, 221, 221);
		}

		.vue-apps-box-component ul li {
			display: inline-block;
		}

		.vue-apps-box-component .height-sm {
			margin: 5px -40px;
		}

		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-apps-box-component"  ----------*/
	<template>
		<div class="panel" :id="id">
			<div class="panel-body">
				<div class="height-sm"  data-scrollbar="true">
					<ul>
						<li v-for="item in model">
							<a class="btn btn-primary" :href="item.url" :target="item.target">
								<div>
									<i :class="item.icon" style="font-size:22px;"></i>
									<p class="small">#{item.name}#</p>
								</div>
							</a>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-apps-box-component">
	{
        delimiters: ['#{', '}#'],
		props: {
            id: String,
		},
		data:function(){
			return {
                appsId: null,
                model: null
            }
		},
        created: function(){
            let self = this;

            let _appsId = "{{.SignedUser.Remark}}";

            if(!_.isEmpty(_appsId)){
                self.appsId = _appsId.replace(/\"/g,"").split(",");
            }

        },
        watch: {
        },
        mounted: function(){
            let self = this;

            self.$nextTick(function(){
				self.init();
            })
        },
        methods: {
            init: function(event) {
                let self = this;

                let _rtn = omdbHandler.fetchData("#/matrix/portal/tools/");//: | " + self.appsId);

                if(!_.isEmpty(_rtn.message)){
                    self.model = _rtn.message;
                }

            },
            initPlugin: function(){
            	let self = this;

            }
        }
	
	}
	</script>

</code>
