<code>

    <style>
        /*----------  style  ----------*/


    </style>


    /*----------  最外层element会自动增加组件同名 class="vue-echart-graph-component"  ----------*/
    <template>
        <div :id="id" style='width:60vw;height:450px;'></div>
    </template>

    /*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
    <script id="vue-echart-graph-component">
        {
            delimiters: ['${', '}'],
            props: {
                id: String,
                row: Object
            },
            data: function(){
                return {
                    chart: Object,
                    option: {
                        title: {
                            text: ''
                        },
                        tooltip: {},
                        animationDurationUpdate: 1500,
                        animationEasingUpdate: 'quinticInOut',
                        label: {
                            normal: {
                                show: true,
                                textStyle: {
                                    fontSize: 12
                                },
                            }
                        },
                        legend: {
                            x: "center",
                            show: true,
                            data: ["Contain", "Connect", 'Depend', 'Refer', 'Runon']
                        },
                        series: [

                            {
                                type: 'graph',
                                layout: 'force',
                                symbolSize: 45,
                                focusNodeAdjacency: true,
                                roam: true,
                                categories: [{
                                    name: 'Contain',
                                    itemStyle: {
                                        normal: {
                                            color: "#009800",
                                        }
                                    }
                                }, {
                                    name: 'Connect',
                                    itemStyle: {
                                        normal: {
                                            color: "#4592FF",
                                        }
                                    }
                                }, {
                                    name: 'Depend',
                                    itemStyle: {
                                        normal: {
                                            color: "#a3592F",
                                        }
                                    }
                                }, {
                                    name: 'Refer',
                                    itemStyle: {
                                        normal: {
                                            color: "#ffbb49",
                                        }
                                    }
                                }, {
                                    name: 'Runon',
                                    itemStyle: {
                                        normal: {
                                            color: "#ec1f2b",
                                        }
                                    }
                                }],
                                label: {
                                    normal: {
                                        show: true,
                                        textStyle: {
                                            fontSize: 12
                                        },
                                    }
                                },
                                force: {
                                    repulsion: 1000
                                },
                                edgeSymbolSize: [10, 120],
                                edgeLabel: {
                                    normal: {
                                        show: true,
                                        textStyle: {
                                            fontSize: 10
                                        },
                                        formatter: "{c}"
                                    }
                                },
                                data: [{
                                    name: 'Matrix',
                                    draggable: true,
                                }, {
                                    name: 'Cassandra',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Etcd',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Nats',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'WebServer',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Mxsvr201',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Mxsvr202',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Mxsvr203',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Mxsvr204',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Mxsvr205',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Mxsvr206',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Mxsvr207',
                                    category: 1,
                                    draggable: true,
                                }, {
                                    name: 'Mxsvr208',
                                    category: 1,
                                    draggable: true,
                                }],
                                links: [{
                                    source: 0,
                                    target: 1,
                                    category: 0,
                                    value: 'Contain'
                                }, {
                                    source: 0,
                                    target: 2,
                                    value: 'Connect'
                                }, {
                                    source: 0,
                                    target: 3,
                                    value: 'Depend'
                                }, {
                                    source: 0,
                                    target: 4,
                                    value: 'Refer'
                                }, {
                                    source: 1,
                                    target: 2,
                                    value: 'Runon'
                                }, {
                                    source: 0,
                                    target: 5,
                                    value: 'Runon'
                                }, {
                                    source: 4,
                                    target: 5,
                                    value: 'Runon'
                                }, {
                                    source: 2,
                                    target: 8,
                                    value: 'Runon'
                                }, {
                                    source: 0,
                                    target: 12,
                                    value: 'Runon'
                                }, {
                                    source: 6,
                                    target: 11,
                                    value: 'Runon'
                                }, {
                                    source: 6,
                                    target: 3,
                                    value: 'Runon'
                                }, {
                                    source: 7,
                                    target: 5,
                                    value: 'Runon'
                                }, {
                                    source: 9,
                                    target: 10,
                                    value: 'Runon'
                                }, {
                                    source: 3,
                                    target: 10,
                                    value: 'Runon'
                                }, {
                                    source: 2,
                                    target: 11,
                                    value: 'Runon'
                                }],
                                lineStyle: {
                                    normal: {
                                        opacity: 0.9,
                                        width: 1,
                                        curveness: 0
                                    }
                                }
                            }
                        ]
                    }
                }
            },
            mounted: function(){
                let self = this;

                self.$nextTick(function(){
                    _.delay(function(){
                        self.init();
                    },500);
                })
            },
            watch: {

            },
            created: function () {
                let self = this;

                eventHub.$on("chart-resize-event", self.resize);

            },
            methods: {
                init: function() {
                    let self = this;

                    self.chart = echarts.init(self.$el);
                    self.chart.setOption(self.option);

                    self.chart.resize();
                },
                resize: function(){
                    var self = this;

                    if(self.chart.id){
                        self.chart.resize();
                    }
                }
            }


        }
    </script>

</code>
