<code>

	<style>
		/*----------  style  ----------*/
		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-entity-tree-component"  ----------*/
	<template>
		<ul class="ztree" :id="id" style="overflow:auto;"></ul>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-entity-tree-component">
	{
	    delimiters: ['${', '}'],
	    props: {
	        id: String,
	        model: Array,
	        dimension: Object
	    },
	    data: function(){
	        return {
	            zTree: Object,
	            setting: Object,
	            nodes: Array,
	            expandNodes: Array,
				selected: Object,
				contextMenu: {
					"create": {name: "Create", icon: "fa-plus",
						callback: function (itemKey, opt, rootMenu, originalEvent) {
							let treeObj = $.fn.zTree.getZTreeObj($(this).attr("id"));
                            let nodes = treeObj.getSelectedNodes();
                            let _item = {id:$(this).attr("id"),action:"create",node: nodes[0]};

							eventHub.$emit("vue-entity-tree-panel-event", _item);
						}
					},
					"remove": {name: "Remove", icon: "fa-trash",
                        callback: function (itemKey, opt, rootMenu, originalEvent) {
                            let treeObj = $.fn.zTree.getZTreeObj($(this).attr("id"));
                            let nodes = treeObj.getSelectedNodes();
                            let _item = {id:$(this).attr("id"),action:"remove",node: nodes[0]};


                            eventHub.$emit("vue-entity-tree-panel-event", _item);
						}
					},
					"edit": {name: "Edit", icon: "fa-edit",
                        callback: function (itemKey, opt, rootMenu, originalEvent) {

                            let treeObj = $.fn.zTree.getZTreeObj($(this).attr("id"));
                            let nodes = treeObj.getSelectedNodes();
                            let _item = {id:$(this).attr("id"),action:"edit",node: nodes[0]};


                            eventHub.$emit("vue-entity-tree-panel-event", _item);
                        }
					},
				},
				cure:{
	                create: {
	                    template: `<div id="entity-create-template"></div>`
					}
				}
	        }
	    },
	    created:function(){
	        let self = this;

	        self.init();

            eventHub.$on("vue-entity-tree-panel-event", self.openPanel);
	    },
	    mounted: function() {
	        let self = this;

	        self.$nextTick(function(){
	            
	            self.setting = {
	                            view: {
	                                showLine: true,
	                                selectedMulti: false,
	                                dblClickExpand: false
	                            },
	                            check: {
									enable: true,
									nocheckInherit: true
								},
	                            edit: {
	                                enable: true,
	                            },
	                            data: {
	                                simpleData: {
	                                    enable: true,
	                                    idKey: "cid",
	                                    pIdKey: "pid",
	                                },
	                                key: {
	                                    name: 'name',
	                                    title: "title"
	                                }
	                            },
	                            callback: {
	                                onClick: self.onClick,
	                                onCheck: self.onCheck,
	                            },
	                            view: {
									showTitle: true
								}
	                        };

                self.initPlugIn();

	        })

	    },
	    watch: {
	        setting: {
	            handler:function(val, oldVal){
	                let self = this;

	                self.zTree = $.fn.zTree.init($(self.$el), val, self.nodes);
	            },
	            deep: true
	        },
	        model: {
	            handler:function(val,oldVal){
	                let self = this;

	                if(!_.isEmpty(self.zTree)){
	                	self.zTree.destroy();
	                }

	                self.init();
                    self.initPlugIn();
	            },
	            deep: true
	        }
	    },
	    methods: {
	        init: function() {
	            let self = this;
	            
	            jQuery.ajax({
	                url: '/mxobject/search',
	                type: 'POST',
	                dataType: 'json',
	                data: {
	                    cond: `call tree {"ftype":"class", "parent":"/matrix/entity","fields":["cid","pid","name"]}`//top 1000`
	                },
	                beforeSend: function(xhr) {
	                },
	                complete: function(xhr, textStatus) {
	                },
	                success: function(data, textStatus, xhr) {
	                    
	                    if(_.isEmpty(data.message)) return false;
	                    
	                    let _data = data.message[0].tree;
	                    let _nodes = _.map(self.model,function(v){
	                    				_.forEach(_data,function(val){
	                    					
	                    					val = _.merge(val,{title:_.last(val.name.split("/"))});

	                    					if(_.includes(v.class,val.name)){
	                    						val = _.merge(val,{checked: true, open:true});
	                    					}
	                    				})

	                    				let _pid = _.filter(_data,{name:v.class});

	                    				return {
            										cid: objectHash.sha1(v),
	            									pid: _.isEmpty(_pid)?66:_pid[0].pid,
	            									name: v.class + "/" + v.name, 
	            									title:v.name,//+ "[" + v.summary.event + "]", 
	            									checked: true, 
	            									open:true
	            								};
			            			 })
	                    
            			self.nodes = [];
            			self.nodes = _.concat(_data,_nodes);
	                    self.zTree = $.fn.zTree.init($(self.$el), self.setting, self.nodes);

	                    //self.zTree.expandAll(true);
	                    //console.log(JSON.stringify(self.nodes))
	                    
	                },
	                error: function(xhr, textStatus, errorThrown) {
	                    console.log(errorThrown);
	                }
	            });
	        },
            initPlugIn: function(){
                let self = this;

                if (!_.isEmpty(self.contextMenu)){
                    $.contextMenu({
                        selector: "#"+self.id,//$(self.$el),
                        items: self.contextMenu
                    });
                }
            },
	        onClick: function(event, treeId, treeNode) {
	            let self = this;

	            self.selected = treeNode;
	            
	            // entity object data false
	            if(treeNode.name.indexOf("/") < 0){
	                eventHub.$emit('treenode-selected-event', treeNode.name);
	                return false;
	            }

	            jQuery.ajax({
	                url: '/mxobject/search',
	                type: 'POST',
	                dataType: 'json',
	                data: {
	                    cond: `#` + treeNode.name + `: | print id as cid, name, name as title, class | top 1000`
	                },
	                beforeSend: function(xhr) {
	                },
	                complete: function(xhr, textStatus) {
	                },
	                success: function(data, textStatus, xhr) {
	                    
	                    if(!_.isEmpty(data.message)) {
	                        var tree = $.fn.zTree.getZTreeObj(self.zTree.setting.treeId);
	                        var nodes = tree.getSelectedNodes();
	                        if (nodes && nodes.length>0) {
	                            tree.removeChildNodes(nodes[0]);
	                        }

	                        // append sub nodes
	                        tree.addNodes(treeNode, data.message);

	                        if(!_.isEmpty(self.dimension)){
	                        	let _byDimension = self.getNodesByDimension()
	                        }
	                    }
	                    
	                },
	                error: function(xhr, textStatus, errorThrown) {
	                    console.log(errorThrown);
	                }
	            })
	        },
	        onCheck: function(event, treeId, treeNode) {
			  	let self = this;

			  	let zTree = $.fn.zTree.getZTreeObj(self.id);
			  	let nodes = zTree.getCheckedNodes(true);
			  	eventHub.$emit('entity-select-event', _.filter(nodes,{isParent:false}));
	        },
	        getNodesByDimension: function(){
	        	let self = this;
	        	let _param = `#` + self.dimension.node + `: | print ` + self.dimension.dimension + ` | top 1`;
	        	let rtn = [];
	        	console.log(_param)
	        	jQuery.ajax({
	                url: '/mxobject/search',
	                type: 'POST',
	                dataType: 'json',
	                data: {
	                    cond: _param
	                },
	                async:false,
	                beforeSend: function(xhr) {
	                },
	                complete: function(xhr, textStatus) {
	                },
	                success: function(data, textStatus, xhr) {
	                    
	                    rtn = data.message;
	                    
	                },
	                error: function(xhr, textStatus, errorThrown) {
	                    console.log(errorThrown);
	                }
	            })
	            return rtn;
	        },
            openPanel: function(item) {
                let self = this;
                var win;
                var w = $(window).width();
                var h = $(window).height();
                var wW = $(window).width() * 2 / 3;
                var hH = $(window).height() * 2.5 / 3;
                var lrwh = [(w - wW) / 2, (h - hH) / 2, wW, hH];
                var tb = document.createElement('div');

                $(tb).append(self.cure[item.action].template);
                win = new mxWindow(_.startCase(item.action)+" "+item.node.name, tb, lrwh[0], lrwh[1], lrwh[2], lrwh[3], true, true);
                win.setMaximizable(true);
                win.setResizable(true);
                win.setClosable(true);
                win.setVisible(true);

                win.addListener(mxEvent.MAXIMIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });

                win.addListener(mxEvent.MINIMIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });

                win.addListener(mxEvent.NORMALIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });

                self.genCurePanel(item);
            },
            genCurePanel: function(item){
	            let self = this;

	            let cVue = new Vue({
                    delimiters: ['$', '$'],
					el: '#entity-create-template',
					template: `	<div class="panel"><div class="panel-body">
									<form>
									  <div class="form-group" v-for="item in model.columns">
										<label :for="item.name">$item.name$</label>
										<input :type="item.type" class="form-control" :id="item.name" :placeholder="item.name">
									  </div>
									  <a type="button" class="btn btn-success">Submit</a>
									</form>
								</div></div>`,
                    data: function(){
                        return {
							model: {
							    columns:  Array,
								list: Array
							}
                        }
                    },
                    created:function(){
                        let self = this;

                        self.init();

                    },
                    mounted: function() {
                        let self = this;

                        self.$nextTick(function(){

                            self.initPlugIn();

                        })

                    },
					methods: {
                        init: function(){
                            let self = this;
							let _list = fetchData("#"+item.node.name+": | top 1");
                            let _classKeys = _.keys(_list.meta.classes);

							self.model.columns = _.map(_list.meta.columns[_classKeys[0]],function (v) {
													return v;
												 });

							self.model.list = _list.message;

						}
					}
				});


			}
	    }
	
	}
	</script>

</code>
