<code>

	<style>
		/*----------  style  ----------*/


		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-object-detail-component"  ----------*/
	<template>
		<div class="panel panel-grey">
			<div class="panel-body" style="padding-top:0px;">
				<vue-common-form-component id="object-form" :form="model.form"></vue-common-form-component>
			</div>
			<div class="panel-footer">
				<!--<div class="btn-group pull-right">
                  <a href="javascript:void(0)" type="button" class="btn btn-xs btn-success" @click="onSave">
                      Save
                  </a>
                </div>-->
			</div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-object-detail-component">
	{
        delimiters: ['$', '$'],
		props: {
			row: Object
		},
		data:function(){
			return {
                model: {
                    form: {
                        view: "",
                        data: {},
                        schema: {
                            title:"",
                            type: "object",
                            properties: []
                        },
                        options: {
                            form: {
                                buttons: {
                                    submit: {
                                        title: "Save",
                                        click: function() {
                                            let val = this.getValue();

                                            if (this.isValid(true)) {
                                                alert("Valid value: " + JSON.stringify(val, null, "  "));
                                            } else {
                                                alert("Invalid value: " + JSON.stringify(val, null, "  "));
                                            }
                                        }
                                    }
                                }
                            },
                            fields: {}
                        }

                    }
                }
			}
        },
        created: function(){
            let self = this;

        },
        mounted: function(){
            let self = this;

            self.$nextTick(function(){
                self.init();
            })

        },
        methods: {
            init: function(){
                let self = this;
                let _list = fetchClass(self.row.class);
                let _properties = {};
                let _fields = {};
                let _data = {};

                _.forEach(_list.message.fields,function (v) {
                    let _name = v.name;
                    let _type = v.ftype=='varchar'?'string':'string';
                    let _required = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?false:false;
                    let _hidden = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?true:false;

                    _.merge(_properties, {[_name]: {type: _type,required: _required, hidden: _hidden}});
                    _.merge(_fields, {[_name]: {label: _.startCase(v.name)}});
                });

                _.forEach(self.row,function (v,k) {
                    let _name = k;

                    _.merge(_data, {[_name]: v});
                });


                self.model.form.data = _data;
                //self.model.form.schema.title = self.row.name;
                self.model.form.schema.properties = _properties;
                self.model.form.options.fields = _fields;
                console.log(JSON.stringify(self.model.form))

            },
            onSave: function(){
                let self = this;

                _.forEach(self.row, function(v,k){
                    if(_.includes(['contain','depend','runon','mshare','vshare','owner','refer','connect','tag'],k)){
                        self.row[k] = null;
                    } else {
                        if (self.row[k] != $("#"+k).val()){
                            self.row[k] = $("#"+k).val();
                        }
                    }
                });

                let _mql = `INSERT JSON '` + JSON.stringify(self.row) + `'`;
                console.log(_mql);
                jQuery.ajax({
                    url: "/mxobject/list/sql",
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        ctype:"obj",
                        sql: _mql
                    },
                    beforeSend:function(xhr){
                    },
                    complete: function(xhr, textStatus) {
                    },
                    success: function (data, status) {
                        if(data.status == 'ok'){
                            swal('success',self.row.id,'success');
                        }
                    },
                    error: function(xhr, textStatus, errorThrown){
                        mxLog.warn("["+ moment().format("LLL")+"] [" + xhr.status + "] " + xhr.responseJSON.error);
                    }
                });

            }
        }
	
	}
	</script>

</code>
