<code>

	<style>
		/*----------  style  ----------*/


	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-base-table-component"  ----------*/
	<template>
		<table :id="id"></table>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-base-table-component">
	{
        delimiters: ['${', '}'],
		props: {
        	id: String,
			columns: Array,
			dataset: Array,
			options: Object,
		},
        mounted: function () {
            let self = this;

            self.$nextTick(function () {

                $(self.$el).bootstrapTable('destroy').bootstrapTable(_.extend({
														data: self.dataset,
														columns: self.columns,
													}, self.options));

            })
        },
		watch: {
			dataset: function (val) {
			    let self = this;

                $(self.$el).bootstrapTable('destroy').bootstrapTable(_.extend({
																		data: val,
																		columns: self.columns,
																	}, self.options));
			}
		}
	
	}
	</script>

</code>
