<code>

	<style>
		/*----------  style  ----------*/
		ul.nav-tabs-no-bg {
    		background-color: rgba(0, 0, 0, 0)!important;
		}

		ul.nav-tabs-no-bg > li.active {
			border-bottom: 2px solid rgb(231, 231, 231);
		}
		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-entity-tree-component"  ----------*/
	<template>
		<div role="tabpanel" style="margin: -10px;">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-tabs-no-bg" role="tablist">
				<li role="presentation" class="active">
					<a href="#home" aria-controls="home" role="tab" data-toggle="tab">分类</a>
				</li>
				<li role="presentation">
					<a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">标签</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content" style="padding:0px;">
				<div role="tabpanel" class="tab-pane active" id="home">
					<ul class="ztree" :id="id" style="overflow:auto;"></ul>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab">
					<vue-ci-tags-component :id="'tags_'+id" :model="model"></vue-ci-tags-component>
				</div>
			</div>
		</div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-entity-tree-component">
	{
	    delimiters: ['${', '}'],
	    props: {
	        id: String,
	        model: Array,
	        dimension: Object,
			showSubNodes: Boolean
	    },
	    data: function(){
	        return {
	            zTree: Object,
	            setting: Object,
	            nodes: Array,
	            expandNodes: Array,
				selected: Object,
				contextMenu: {
					"create": {name: "Create CI", icon: "fa-plus",
						callback: function (itemKey, opt, rootMenu, originalEvent) {
							let treeObj = $.fn.zTree.getZTreeObj($(this).attr("id"));
                            let nodes = treeObj.getSelectedNodes();
                            let _item = {id:$(this).attr("id"),action:"create",node: nodes[0]};

							eventHub.$emit("vue-entity-tree-panel-event", _item);
						}
					},
                    "sep1": "---------",
					"remove": {name: "Remove All CI", icon: "fa-trash",
                        callback: function (itemKey, opt, rootMenu, originalEvent) {
                            let treeObj = $.fn.zTree.getZTreeObj($(this).attr("id"));
                            let nodes = treeObj.getSelectedNodes();
                            let _item = {id:$(this).attr("id"),action:"remove",node: nodes[0]};


                            eventHub.$emit("vue-entity-tree-panel-event", _item);
						}
					},
					"sep2": "---------",
					"alias": {name: "Toggle View", icon: "fa-eye",
                        callback: function (itemKey, opt, rootMenu, originalEvent) {
                            eventHub.$emit("vue-entity-tree-toggle-name-event", null);
						}
					}
				},
				cure:{
	                create: {
	                    template: `<div id="entity-create-template"></div>`
					}
				}
	        }
	    },
	    created:function(){
	        let self = this;

	        self.init();

            eventHub.$on("vue-entity-tree-panel-event", self.openPanel);
            eventHub.$on("vue-entity-tree-toggle-name-event",self.toggleName);
	    },
	    mounted: function() {
	        let self = this;

	        self.$nextTick(function(){
	            
	            self.setting = {
	                            view: {
	                                showLine: true,
	                                selectedMulti: false,
	                                dblClickExpand: false
	                            },
	                            check: {
									enable: false,
									nocheckInherit: true
								},
	                            edit: {
	                                enable: false,
	                            },
	                            data: {
	                                simpleData: {
	                                    enable: true,
	                                    idKey: "cid",
	                                    pIdKey: "pid",
	                                },
	                                key: {
	                                    name: localStorage.getItem('entity-tree-display-name') || 'alias',
	                                    title: "title"
	                                }
	                            },
	                            callback: {
	                                onClick: self.onClick,
	                                onCheck: self.onCheck,
	                            },
	                            view: {
									showTitle: true,
									addDiyDom: self.addDiyDom
								}
	                        };

	            self.showSubNodes = false;

                self.initPlugIn();

	        })

	    },
	    watch: {
	        setting: {
	            handler:function(val, oldVal){
	                let self = this;

	                self.zTree = $.fn.zTree.init($(self.$el).find("#"+self.id), val, self.nodes);
	            },
	            deep: true
	        },
	        model: {
	            handler:function(val,oldVal){
	                let self = this;

	                if(!_.isEmpty(self.zTree)){
	                	self.zTree.destroy();
	                }

	                self.init();
                    self.initPlugIn();
	            },
	            deep: true
	        }
	    },
	    methods: {
	        init: function() {
	            let self = this;
	            let _list = fetchData(`call tree {"ftype":"class", "parent":"/matrix/entity","fields":["cid","pid","name","alias"]}`);
	            let _data = _.map(_list.message[0].tree,function(v,k){
	            				let _name = _.last(v.name.split("/"));
	            				v.icon = "/web/vendor/zTree/css/entitieszTreeStyle/img/diy/" + _name + ".svg";
				            	return v;
				            });

                let _nodes = _.map(self.model,function(v){
                				_.forEach(_data,function(val){
                					
                					val = _.merge(val,{title:_.last(val.name.split("/"))});

                					if(_.includes(v.class,val.name)){
                						val = _.merge(val,{checked: true, open:true});
                					}
                				})

                				let _pid = _.filter(_data,{name:v.class});
                				let _name = _.last(v.name.split("/"));

                				return {
    										cid: objectHash.sha1(v),
        									pid: _.isEmpty(_pid)?66:_pid[0].pid,
        									name: v.class + "/" + v.name, 
        									title:v.name + " " + _.random(0,10),//+ "[" + v.summary.event + "]", 
        									checked: true, 
        									open:true,
        									icon: "/web/vendor/zTree/css/entitieszTreeStyle/img/diy/" + _name + ".svg"
        								};
	            			 })
                
    			self.nodes = [];
    			self.nodes = _.concat(_data,_nodes);
                self.zTree = $.fn.zTree.init($(self.$el).find("#"+self.id), self.setting, self.nodes);

                //self.zTree.expandAll(true);
                //console.log(JSON.stringify(self.nodes))
	            /*jQuery.ajax({
	                url: '/mxobject/search',
	                type: 'POST',
	                dataType: 'json',
	                data: {
	                    cond: `call tree {"ftype":"class", "parent":"/matrix/entity","fields":["cid","pid","name","alias"]}`//top 1000`
	                },
	                beforeSend: function(xhr) {
	                },
	                complete: function(xhr, textStatus) {
	                },
	                success: function(data, textStatus, xhr) {
	                    
	                    if(_.isEmpty(data.message)) return false;
	                    
	                    
	                    
	                },
	                error: function(xhr, textStatus, errorThrown) {
	                    console.log(errorThrown);
	                }
	            });*/
	        },
            initPlugIn: function(){
                let self = this;

                if (!_.isEmpty(self.contextMenu)){
                    $.contextMenu({
                        selector: "#"+self.id,//$(self.$el),
                        items: self.contextMenu
                    });
                }

            },
	        onClick: function(event, treeId, treeNode) {
	            let self = this;

	            self.selected = treeNode;
	            
	            // entity object data false
	            if(treeNode.name.indexOf("/") < 0){
	                eventHub.$emit('treenode-selected-event', treeNode.name);
	                return false;
	            }

	            let _list = fetchData(`#` + treeNode.name + `: | print id as cid, name, name as title, class | top 1000`);

                if(!_.isEmpty(_list.message)) {

                    if (!self.showSubNodes) return false;

                    var tree = $.fn.zTree.getZTreeObj(self.zTree.setting.treeId);
                    var nodes = tree.getSelectedNodes();
                    if (nodes && nodes.length>0) {
                        tree.removeChildNodes(nodes[0]);
                    }

                    // append sub nodes
                    tree.addNodes(treeNode, data.message);

                    if(!_.isEmpty(self.dimension)){
                        let _byDimension = self.getNodesByDimension()
                    }
                }

	        },
	        onCheck: function(event, treeId, treeNode) {
			  	let self = this;

			  	let zTree = $.fn.zTree.getZTreeObj(self.id);
			  	let nodes = zTree.getCheckedNodes(true);
			  	eventHub.$emit('entity-select-event', _.filter(nodes,{isParent:false}));
	        },
	        getNodesByDimension: function(){
	        	let self = this;
	        	let _param = `#` + self.dimension.node + `: | print ` + self.dimension.dimension + ` | top 1`;
	        	let rtn = [];
	        	console.log(_param)
	        	jQuery.ajax({
	                url: '/mxobject/search',
	                type: 'POST',
	                dataType: 'json',
	                data: {
	                    cond: _param
	                },
	                async:false,
	                beforeSend: function(xhr) {
	                },
	                complete: function(xhr, textStatus) {
	                },
	                success: function(data, textStatus, xhr) {
	                    
	                    rtn = data.message;
	                    
	                },
	                error: function(xhr, textStatus, errorThrown) {
	                    console.log(errorThrown);
	                }
	            })
	            return rtn;
	        },
            openPanel: function(item) {
                let self = this;
                var win;
                var w = $(window).width();
                var h = $(window).height();
                var wW = $(window).width() * 2 / 3;
                var hH = $(window).height() * 2.5 / 3;
                var lrwh = [(w - wW) / 2, (h - hH) / 2, wW, hH];
                var tb = document.createElement('div');

                $(tb).append(self.cure[item.action].template);
                win = new mxWindow(_.startCase(item.action)+" "+item.node.name, tb, lrwh[0], lrwh[1], lrwh[2], lrwh[3], true, true);
                win.setMaximizable(true);
                win.setResizable(true);
                win.setClosable(true);
                win.setVisible(true);

                win.addListener(mxEvent.MAXIMIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });

                win.addListener(mxEvent.MINIMIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });

                win.addListener(mxEvent.NORMALIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });

                self.genCurePanel(item);
            },
            genCurePanel: function(item){
	            let self = this;

	            let cVue = new Vue({
                    delimiters: ['$', '$'],
					el: '#entity-create-template',
					template: `	<div class="panel"><div class="panel-body">
									<vue-common-form-component id="form" :form="model.form"></vue-common-form-component>
								</div></div>`,
                    data: function(){
                        return {
							model: {
							    form: {
                                    view: "",
                                    data: {},
                                    schema: {
                                        title:"",
                                        type: "object",
                                        properties: []
									},
                                    options: {
                                        form: {
                                            buttons: {
                                                save: {
                                                    title: "Save",
													click: function() {
                                                        let val = this.getValue();

                                                        if (this.isValid(true)) {
                                                            cVue.save(val);
                                                            /*alert("Valid value: " + JSON.stringify(val, null, "  "));*/
                                                        } else {
                                                            /*alert("Invalid value: " + JSON.stringify(val, null, "  "));*/
                                                        }
                                                    }
												}
                                            }
										},
                                        fields: {}
									}

								},
								list: Array
							},
							selected: self.selected
                        }
                    },
                    created:function(){
                        let self = this;

                        self.init();

                    },
                    mounted: function() {
                        let self = this;

                        self.$nextTick(function(){

                            self.initPlugIn();

                        })

                    },
					methods: {
                        init: function(){
                            let self = this;
							let _list = fetchClass(item.node.name);
							let _properties = {};
                            let _fields = {};
                            let _data = {"class":item.node.name};

                            _.forEach(_list.message.fields,function (v) {
                                let _name = v.name;
                                let _type = v.ftype=='varchar'?'string':'string';
                                let _required = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?false:false;
                                let _hidden = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?true:false;

                                _.merge(_properties, {[_name]: {type: _type,required: _required, hidden: _hidden}});
                            	_.merge(_fields, {[_name]: {label: _.startCase(v.name)}});
                            });

                            self.model.form.data = _data;
                            self.model.form.schema.title = item.node.name;
                            self.model.form.schema.properties = _properties;
							self.model.form.options.fields = _fields;

							self.model.list = _.map(_list.message.fields,function(v){
							    					return v;
							                  });


						},
                        initPlugIn: function(){
							let self = this;

						},
						save: function(event){
                            let self = this;
                            let rtn = putDataByMql(event);
						}
					}
				});
			},
			toggleName: function(){
				let self = this;

				if(self.setting.data.key.name == "name"){
                	self.setting.data.key.name = "alias";
                  	self.init();
                  	localStorage.setItem('entity-tree-display-name','alias');
                } else {
                  	self.setting.data.key.name = "name";
                  	self.init();
                  	localStorage.setItem('entity-tree-display-name','name');
                }
			},
			addDiyDom: function (treeId, treeNode) {
				let self = this;
				let aObj = $("#" + treeNode.tId + "_a");

				if (treeNode.isParent){
					let str = "<span> ["+treeNode.children.length+"]</span>";
					aObj.append(str);
				} 
			}


	    }
	
	}
	</script>

</code>
