<code>

	<style>
		/*----------  style  ----------*/
		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-entity-cure-component"  ----------*/
	<template>
		<div></div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-entity-cure-component">
	{
        delimiters: ['${', '}'],
		props: {

		},
		data: function () {
			return {

			}
		},
		mounted: function () {
            let self = this;

            self.$nextTick(function () {

				self.init();

                self.initPlugIn();

			})
		},
		methods: {
			init: function(){
                let self = this;

				self.newPanel();
			},
			initPlugIn: function(){
			    let self = this;


			},
            openPanel: function(row, menu, tabnum) {
                let self = this;
                var win;
                var w = $(window).width();
                var h = $(window).height();
                var wW = $(window).width() * 2 / 3;
                var hH = $(window).height() * 2.5 / 3;
                var lrwh = [(w - wW) / 2, (h - hH) / 2, wW, hH];
                var tb = document.createElement('div');

                $(tb).append(self.templates[menu.app] || self.templates.default);
                win = new mxWindow("", tb, lrwh[0], lrwh[1], lrwh[2], lrwh[3], true, true);
                win.setMaximizable(true);
                win.setResizable(true);
                win.setClosable(true);
                win.setVisible(true);

                win.addListener(mxEvent.MAXIMIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });

                win.addListener(mxEvent.MINIMIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });

                win.addListener(mxEvent.NORMALIZE, function (event) {
                    _.delay(function () {
                        eventHub.$emit("win-resize-event", null);
                    }, 100);
                });
            }
		}
	
	}
	</script>

</code>
