<code>

	<style>
		/*----------  style  ----------*/
		.ztree li a.curSelectedNode {
			background-color: rgb(0,0,0)!important;
			border:1px solid #ffffff!important;
			color: rgb(255,255,255)!important;
		}

		.ztree li a:hover{
			text-decoration: none!important;
		}

		.hover-toolbars{
			position: relative;
			left: calc(100% - 68px);
			top: 0px;
			padding: 0px 5px!important;
			margin: -20px 0px!important;
			width: 60px;
			height: 100%;
			display: block;
			background-color: rgb(0,0,0);
			border: none;
			border-radius: 0;
		}

		/*.hover-toolbars > .button:hover{
			box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
		}*/


		.lm_splitter {
			opacity: .2;
		}

		.context-menu-list.context-menu-root{
			z-index: 100!important;
		}
		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-object-tree-component"  ----------*/
	<template>
		<ul class="ztree" :id="id" style="overflow:auto;"></ul>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-object-tree-component">
	{
        delimiters: ['${', '}'],
		props: {
            id: String,
        },
        data: function(){
            return {
                zTree: Object,
                zSetting: {
                    view: {
                        dblClickExpand: this.onDblClickExpand,
                        addDiyDom: this.addCountDom,
                        //addHoverDom: this.addHoverDom,
                        removeHoverDom: this.removeHoverDom,
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onClick: this.onClick
                    },
                    data: {
                        simpleData: {
                            enable: true
                        },
                        key: {
                            name: 'name',
                            title: 'name'
                        }
                    },
                    check: {
                        enable: false
                    }
                },
                zNodes: [
                            {cid:-10, parent:null, isParent:true, name: '/类管理', title: '类管理'},
	                        {cid:-20, parent:null, isParent:true, name: '/规则', title: '规则', children: []},
	                        {cid:-30, parent:null, isParent:true, name: '/关系', title: '关系', children:[]}
                        ],


            }
        },
        created: function(){
            let self = this;


        },
        mounted: function () {
            let self =  this;

            self.$nextTick(function () {

                self.init();

            })
        },
        methods:{
            init: function () {
                let self = this;

                if(!_.isEmpty(self.zTree)){
                    self.zTree.destroy();
                }

                _.delay(function() {
                    self.initData([{cid: -1, treeNode: null}]);
                },500);

                self.initPlugIn();

            },
	        initPlugIn: function(){
                let self = this;

                $("#class-tree-tree").contextMenu({
                    selector: 'span.more',
                    trigger: 'left',
                    items: {

                        "classNew": {
                            name: "创建类", icon: "fa-sitemap", callback: function (key, opt) {

                            }
                        },
                        "classNewByMql": {
                            name: "创建类(Mql)", icon: "fa-terminal", callback: function (key, opt) {

                            }
                        },
                        "sep1": "---------",
                        "数据": {
                            name: "查看数据", icon: "fa-database", callback: function (key, opt) {

                            }
                        },
                        "sep2": "---------",
                        "删除": {
                            name: "删除类", icon: "fa-trash", callback: function (key, opt) {

                            }
                        },
                        "sep3": "---------",
                        "ddl": {
                            name: "DDL", icon: "fa-cubes", callback: function (key, opt) {

                            }
                        }
                    },
                    events: {
                        show: function(opt) {
                            // this is the trigger element
                            var $this = this;
                            // import states from data store
                            $.contextMenu.setInputValues(opt, $this.data());
                            console.log(opt)
                        },
                        hide: function(opt) {
                            // this is the trigger element
                            var $this = this;
                            // export states to data store
                            $.contextMenu.getInputValues(opt, $this.data());
                            console.log(opt)
                        }
                    }
                });

	        },
            initData: function(node){
				let self = this;

                _.forEach(node, function(v,k){

                    let _rtn = classList(v.cid);

                    if (_.isEmpty(_rtn)) {
                        return;
                    }

                    if( v.cid == -1 ) {

                        _.merge(self.zNodes[0],{ children: JSON.parse(_rtn) });

                        self.zTree = $.fn.zTree.init($("#" + self.id), self.zSetting, self.zNodes);

                    } else {

	                    let zTree = $.fn.zTree.getZTreeObj(self.id);

                        let nodes = zTree.getSelectedNodes();

                        if (nodes && nodes.length>0) {
                            zTree.removeChildNodes(nodes[0]);
                        }

                        zTree.addNodes(v.treeNode, JSON.parse(_rtn));

                    }
                })

	        },
            onClick: function (event, treeId, treeNode, clickFlisParentag) {
                let self = this;

                if(treeNode.cid == -20){

                } else if(treeNode.cid == -30){

                } else if(treeNode.cid == -10) {
                    self.initData([{cid: -1, treeNode: null}]);
                } else {

                    // 右键菜单
                    let sObj = $("#" + treeNode.tId + "_span");
                    let scObj = $("#" + treeNode.tId + "_a").find(".count");

                    if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;

                    let addStr = `<div class="well hover-toolbars" id='toolbars_${treeNode.tId}' >
										<span class='button edit' id='editBtn_${treeNode.tId}' title='编辑' ></span>
										<span class='button console' id='consoleBtn_${treeNode.tId}' title='查询' ></span>
										<span class='button more' id='moreBtn_${treeNode.tId}' title='更多'  ></span>
								</div>`;
               // <span class='button add' id='addBtn_${treeNode.tId}' title='新建' ></span>


                    if(scObj.length > 0){
                        scObj.after(addStr);
                    } else {
                        sObj.after(addStr);
                    }

                    // add
                    let btnAdd = $("#addBtn_"+treeNode.tId);
                    if (btnAdd) btnAdd.bind("click", function(event){

                        event.stopPropagation();
                        event.preventDefault();

                        eventHub.$emit("OMDB-CLASS-TRIGGER-EVENT", {type:'classNew', node: treeNode});

                    });

                    // edit
                    let btnEdit = $("#editBtn_"+treeNode.tId);
                    if (btnEdit) btnEdit.bind("click", function(event){

                        event.stopPropagation();
                        event.preventDefault();

                        eventHub.$emit("OMDB-CLASS-TRIGGER-EVENT", {type:'classEdit', node: treeNode});

                    });

                    // console
                    let btnConsole = $("#consoleBtn_"+treeNode.tId);
                    if (btnConsole) btnConsole.bind("click", function(event){

                        event.stopPropagation();
                        event.preventDefault();

                        eventHub.$emit("OMDB-CLASS-TRIGGER-EVENT", {type:'console', node: treeNode});

                    });


                    // more
                    let btnMore = $("#moreBtn_"+treeNode.tId);
                    if (btnMore) btnMore.bind("click", function(event){

                        //event.stopPropagation();
                        event.preventDefault();

                        //self.initContextMenu(event, treeNode);
                    });


                    // 只有目录可点击
	                if (!treeNode.child) return false;

                    self.initData([{cid:treeNode.cid,treeNode:treeNode}]);

                }

            },
            addCountDom: function (treeId, treeNode) {
                let self = this;
                let aObj = $("#" + treeNode.tId + "_a");

                if(!_.isEmpty(treeNode.child)){
                    if (treeNode.child.length > 0){
                        let str = "<span class='count' style='color:rgb(160,160,160);'>("+treeNode.child.length+")</span>";
                        aObj.append(str);
                    }
                }
            },
            addHoverDom: function (treeId, treeNode) {

                if(treeNode.cid == -20 || treeNode.cid == -30) return false;

                let sObj = $("#" + treeNode.tId + "_span");
                let scObj = $("#" + treeNode.tId + "_a").find(".count");

                if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;

                let addStr = `<div class="well hover-toolbars" id='toolbars_${treeNode.tId}' >
								<span class='button add' id='addBtn_${treeNode.tId}' title='新建' onfocus='this.blur();' ></span>
								<span class='button edit' id='editBtn_${treeNode.tId}' title='编辑' onfocus='this.blur();' ></span>
								<span class='button remove' id='removeBtn_${treeNode.tId}' title='删除' onfocus='this.blur();' ></span>
							</div>`;

                if(scObj.length > 0){
                    scObj.after(addStr);
                } else {
                    sObj.after(addStr);
                }

                let btnNew = $("#addBtn_"+treeNode.tId);

                if (btnNew) btnNew.bind("click", function(event){

                    let zTree = $.fn.zTree.getZTreeObj(self.id);
                    zTree.addNodes(treeNode, {cid: treeNode.cid + _.now(), pId:treeNode.id, name:treeNode.name + _.now()});
                    return false;
                });
            },
            removeHoverDom: function (treeId, treeNode) {
                $("#toolbars_"+treeNode.tId).unbind().remove();
            }
        }
	
	}
	</script>

</code>
