<code>

	<style>
		/*----------  style  ----------*/
		
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-base-tree-component"  ----------*/
	<template>
		<ul class="ztree" :id="id" style="overflow:auto;"></ul>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-base-tree-component">
	{
        delimiters: ['${', '}'],
		props: {
			zNodes: Array,
			id: String,
			contextMenu: Object
		},
		data: function () {
			return {
                zTree: Object,
				setting: {
                    view: {
                        showLine: true,
                        selectedMulti: false,
                        dblClickExpand: false
                    },
                    edit: {
                        enable: false,
                    },
                    data: {
                        simpleData: {
                            enable: true
                        }
                    }
                }
			}
		},
		mounted: function () {
            let self = this;

            self.$nextTick(function () {

				self.init();

                self.initPlugIn();

			})
		},
		watch: {
			zNodes: function (val) {
			    let self = this;

                if(!_.isEmpty(self.zTree)){
                    self.zTree.destroy();
                }
			    self.zTree = $.fn.zTree.init($(self.$el), self.setting, val);
			}
		},
		methods: {
			init: function(){
                let self = this;

			    self.zTree = $.fn.zTree.init($(this.$el), self.setting, self.zNodes);
			},
			initPlugIn: function(){
			    let self = this;

			    if (!_.isEmpty(self.contextMenu)){
                    $.contextMenu({
                        selector: "#"+self.id,//$(self.$el),
                        items: self.contextMenu
                    });
				}
			}
		}
	
	}
	</script>

</code>
