<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}
<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/entitieszTreeStyle/zTreeStyle.css" type="text/css" rel="stylesheet">

<style>

    

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

    .rating > span:hover,
    .rating > span:hover ~ span {
        color: transparent;
    }

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: gold;
    }

    .bootstrap-tagsinput {
        background-color: transparent;
        border-style: none;
        box-shadow: none;
    }

    .label {
        font-size: 12px;
    }

    .input {
        width: auto;
    }

    .modal-dialog {
        position: relative;
        display: table;
        overflow-y: auto;
        overflow-x: auto;
        width: auto;
        min-width: 85%;
    }

    .stats-desc{
        color: #7d7974!important;
    }

    .btn.dropdown-toggle {
        padding: 7px 12px;
        border-radius: 0px;
    }

    .widget-stats.bg-info:hover,.widget-stats.bg-info.active {
        box-shadow: 2px 2px 2px 2px #999;
        background-color: rgb(217, 237, 247)!important;
        background-image: linear-gradient(to bottom, rgb(217, 237, 247) 0%, rgb(249, 249, 249) 100%)!important;
    }

    .widget-stats.bg-grey:hover,.widget-stats.bg-grey.active {
        box-shadow: 2px 2px 2px 2px #999;
        background-color: rgb(183, 190, 208)!important;
        background-image: linear-gradient(to bottom, rgb(182, 194, 202) 0%, rgb(244, 244, 244) 100%)!important;
    }

    td>.mxWindowPane {
        overflow: hidden!important;
    }

    .bootstrap-tagsinput>input {
        border: none!important;
    }

    .context-menu-list {
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
        padding:5px;
        border: none;
    }
        
    .context-menu-list>li>a{
        padding: 5px 5px;
        color:rgb(102, 102, 102)!important;
    }


</style>
<div id="app"></div>

<!-- Bootstrap x-editable JS -->
<script src="{{AppSubUrl}}/web/vendor/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-fs-tree-component.html"></link>

<script type="text/javascript">
    
    VueLoader.onloaded(["vue-fs-tree-component"
                        ],function() {

        moment.locale({{.Lang}});

        $(".current-active-item").html('<a class="active item" href="{{AppSubUrl}}/janesware/creative"><i class="fa fa-sitemap"></i>&nbsp;{{.i18n.Tr .ActiveView }}</a>');

        $(function() {
            
            let _appVue = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                template: '#app-template',
                data: {
                    model: {
                        list:[],
                        category: [
                                    {name: "流程设计", path: "/home/creative/流程设计", value: "iflow", class: "btn btn-xs btn-warning"},
                                    {name: "仪表盘", path: "/home/creative/仪表盘", value: "ishow", class: "btn btn-xs btn-info"},
                                    {name: "IT地图", path: "/home/creative/IT地图", value: "imap", class: "btn btn-xs btn-success"},
                                    {name: "模板", path: "/home/creative/模板", value: "iflowt", class: "btn btn-xs btn-default"}
                        ],
                        root: "/home/creative",
                        parent: "",
                        name: null,
                        project: {
                                    title: "",
                                    current:"",
                                    stime: "",
                                    etime: "",
                                    status: "start",
                                    diaglog: {
                                        title: "",
                                        prompt: [],
                                        select: ""
                                    },
                                    action: {
                                        node: "",
                                        status: ""
                                    }

                                }
                    },
                    crontab: {
                        project:{
                            sched: Object,
                            timer: Object
                        }
                    }

                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {
                        self.load();
                        self.init();

                        _.delay(function(){
                            self.initPlugin();
                        },500);
                    })
                },
                watch: {
                    model: function(newValue, oldValue) {
                        let self = this;

                        if (!_.isEqual(newValue, oldValue)) {
                            self.refresh();
                        }
                    }
                },
                created: function() {
                    let self = this;

                    self.initProject();

                    eventHub.$on("FS-FORWARD-EVENT", self.forwardDir);
                },
                computed: {
                    filePath: function(){
                        let self = this;
                        let _tmp = self.model.root.split("/");

                        return _tmp;
                    }
                },
                filters: {
                    pickTitle: function (value) {
                        let self = this;

                        if (!value) return '';

                        let _attr = _.attempt(JSON.parse.bind(null, value));

                        return _attr.title;
                    },
                    readMore: function (text, length, suffix) {
                        return text.substring(0, length) + suffix;
                    },
                    toLocalTime: function (value) {
                        return moment(value).format("LLL");
                    }
                },
                methods: {
                    init: function() {
                        let self = this;

                    },
                    initPlugin: function(){
                        let self = this;

                        $.contextMenu({
                            selector: '.list-context-menu', 
                            trigger: 'left',
                            callback: function(key, options) {
                                var m = key.data("item");
                                console.log(m)
                            },
                            items: {
                                "edit": {name: "编辑", icon: "fa-edit", callback: function(key, opt) {
                                                                                    self.forwardCreative('edit',opt.$trigger.data("item"));
                                                                                }
                                },
                                /*"sep1": "---------",
                                "saveas": {name: "另存为", icon: "fa-save", callback: function(key, opt) {
                                                                                    self.saveas(opt.$trigger.data("item"));
                                                                                }
                                },*/
                                "sep2": "---------",
                                
                                "delete": {name: "删除", icon: "fa-trash", callback: function(key, opt) {
                                                                                    self.remove(opt.$trigger.data("item"));
                                                                                }
                                },
                                "sep3": "---------",

                                "info": {name: "信息", icon: "fa-info", callback: function(key, opt) {
                                        self.info(opt.$trigger.data("item").attr);
                                    }
                                }
                            }
                        });

                        $('.list-context-menu').on('click', function(e){
                            console.log('clicked', this);
                        })

                        self.crontab.project.sched = later.parse.text('every 15 sec');
                        self.crontab.project.timer = later.setInterval(self.initProject, self.crontab.project.sched);
                    },
                    initProject: function(){
                        let self = this;

                        let _rtn = jobContextGet("BOB", "BOB");

                        if (!_.isEmpty(_rtn) && !_.isEmpty(_rtn.message)) {
                            if (!_.isEmpty(_rtn.message["BOB"])){
                                self.model.project = _rtn.message["BOB"];
                            }
                        }
                    },
                    forwardDir: function(path){
                        let self = this;

                        self.model.root = path;

                        self.load();
                    },
                    load: function() {
                        let self = this;

                        let _rtn = fsList(self.model.root);

                        self.initProject();

                        self.model.list = _.map(_rtn,function(v,k){

                                            return _.merge(v, {"username": {{.SignedUser.Name}}, "project": self.model.project });

                                        });

                        _.delay(function(){

                            self.refresh();

                            $(".fs-name").editable({
                                type: "text",
                                container: 'body',
                                validate: function (value) {
                                    if (!$.trim(value)) {
                                        return '不能为空';
                                    }
                                },
                                success: function (response,newValue) {

                                    let _node = $(this).data("info");
                                    let _info = _.attempt(JSON.parse.bind(null, _node.attr));

                                    _info.title = _.trim(newValue);

                                    let _rtn = fsUpdateAttr(_node.parent, _node.name, _info);

                                    if(_rtn == 1){
                                        self.load();
                                    }
                                }
                            });

                        },200);

                    },
                    saveas: function(event){
                        let self = this;

                        let win = newWindow('mini', event.name + ' ' + '{{.i18n.Tr "creative-saveas"}}',`<div id="creative-saveas"></div>`);
                        win.setMaximizable(false);
                        win.setMinimizable(false);
                        win.setResizable(false);
                    

                        let _vue = new Vue({
                            el: "#creative-saveas",
                            template: "#creative-saveas-template",
                            data: {
                                model: {
                                    name: "",
                                    astemplate: 0
                                }
                            },
                            mounted:function(){
                                let me = this;

                                me.$nextTick(function() {
                                    me.init();
                                })
                            },
                            methods: {
                                init: function(){
                                    let me = this;


                                },
                                save: function(){
                                    let me = this;

                                    if (_.isEmpty(me.model.name)) {
                                        swal("名称不能为空！", "", "warning");
                                        return false;
                                    }
                                    
                                    let _name = me.model.name;
                                    let _type = event.ftype;

                                    if(me.model.astemplate){
                                        _name = me.model.name;
                                        _type = event.ftype+ "t";                                      
                                    }
                                    
                                    let tmp = _.attempt(JSON.parse.bind(null, event.attr));
                                    
                                    fsNew(_type, _name, tmp.content);

                                    swal("",_name,"success");

                                    _.delay(function(){
                                        win.destroy();
                                        self.load();
                                    },500);
                                }
                            }
                        });
                    },
                    newDir: function() {
                        let self = this;

                        let win = newWindow('small','{{.i18n.Tr "creative-new-project"}}',`<div id="creative-starting"></div>`);

                        let _vue  = new Vue({
                            delimiters: ['#{', '}#'],
                            el: "#creative-starting",
                            template: "#creative-project-template",
                            data: {
                                model: {
                                    project: {
                                        value: "流程设计",
                                        extName: {
                                            "流程设计": "iflow",
                                            "仪表盘": "ishow",
                                            "IT地图": "imap"
                                        }
                                    },
                                    name: "",
                                    type: "dir",
                                    tags: [],
                                    info: {
                                        remark: ""
                                    },
                                    ifshare: 0
                                }
                            },
                            mounted:function(){
                                let me = this;

                                me.$nextTick(function() {
                                    me.init();
                                })
                            },
                            watch: {

                            },
                            computed: {
                                type: function(){
                                    let me = this;

                                    return me.model.type + "t";
                                }
                            },
                            methods: {
                                init: function(){
                                    let me = this;

                                    $("#tags").tagsinput({
                                        tagClass: function(item) {
                                            return _.sample(['label label-default', 'label label-success', 'label label-primary', 'label label-warning', 'label label-danger label-important']);
                                        }
                                    });



                                },
                                save: function(){
                                    let me = this;
                                    let _root = _.cloneDeep(self.model.root);

                                    if (_.isEmpty(me.model.name)) {
                                        swal("名称不能为空！", "", "warning");
                                        return false;
                                    }

                                    let _name = me.model.name;
                                    let _type = me.model.type;
                                    let _info = {title: _name, parent: _root, remakr: me.model.info.remark, ctime: _.now(), author: `{{.SignedUser.Name}}`, type: _type};

                                    let _rtn = fsNew(_type, _root, _name, null, _info);

                                    if(_rtn == 1){

                                        alertify.success("",me.model.name,"success");

                                        let _parent = _root + "/" + me.model.name;

                                        me.newFile(_parent);

                                        win.destroy();
                                    }
                                },
                                newFile: function(parent){

                                    let me = this;

                                    _.delay(function(){

                                        let _name = "PAGE01";
                                        let _type = me.model.project.extName[me.model.project.value];
                                        let _info = {title: _name, parent: parent, remakr: me.model.info.remark, ctime: _.now(), author: `{{.SignedUser.Name}}`, type: _type};
                                        let _rtn = fsNew(_type, parent, _name+"."+_type, "", _info);

                                        if(_rtn == 1){

                                            alertify.success("",_name,"success");

                                            self.load();
                                        }
                                    },500)

                                }
                            }
                        })
                    },
                    newFile: function() {
                        let self = this;

                        let win = newWindow('large','{{.i18n.Tr "creative-new-file"}}',`<div id="creative-starting"></div>`);

                        let _vue  = new Vue({
                            delimiters: ['#{', '}#'],
                            el: "#creative-starting",
                            template: "#creative-list-template",
                            data: {
                                model: {
                                    name: "",
                                    type: "iflow",
                                    tags: [],
                                    info: {
                                        remark: ""
                                    },
                                    ifshare: 0,
                                    astemplate: 0,
                                    templates: []
                                }
                            },
                            mounted:function(){
                                let me = this;

                                me.$nextTick(function() {
                                    me.init();
                                })
                            },
                            watch: {
                                'model.type': function(val,oldVal){
                                    let me = this;
                                    
                                    me.initTemplates();

                                },
                                deep:true
                            },
                            computed: {
                                type: function(){
                                    let me = this;

                                    return me.model.type + "t";
                                }
                            },
                            methods: {
                                init: function(){
                                    let me = this;

                                    $("#tags").tagsinput({
                                        tagClass: function(item) {
                                            return _.sample(['label label-default', 'label label-success', 'label label-primary', 'label label-warning', 'label label-danger label-important']);
                                        }
                                    });

                                    // 只导入template    
                                    me.initTemplates();

                                },
                                initTemplates: function(){
                                    let me = this;


                                    let _list = fetchData("#/matrix/filesystem/: | ftype=" + me.type + "| top 200");
                                    
                                    me.model.templates = _.map(_list.message,function(v,k){
                                                        v.parent = v.parent.replace(/\/home\/admin/,"");
                                                        return _.merge(v, {"username": `{{.SignedUser.Name}}`, "star": ""});
                                                    });

                                    _.delay(self.refresh,100);
                                },
                                save: function(){
                                    let me = this;
                                    
                                    if (_.isEmpty(me.model.name)) {
                                        swal("名称不能为空！", "", "warning");
                                        return false;
                                    }
                                    
                                    let _name = me.model.name;
                                    let _type = me.model.type;

                                    let _info = {title: _name, parent: self.model.root, remakr: me.model.info.remark, ctime: _.now(), author: `{{.SignedUser.Name}}`, type: _type};

                                    if(me.model.astemplate){
                                        _name = me.model.name;
                                        _type = me.type;                                      
                                    }


                                    let _rtn = fsNew(_type, self.model.root, _name+"."+_type, null, _info);

                                    if(_rtn == 1){
                                        swal("",_name,"success");

                                        _.delay(function(){
                                            self.load();
                                            win.destroy();
                                        },500);
                                    }

                                },
                                click: function(item){
                                    let me = self;

                                    _vue.model.item = item;

                                    $(".widget-stats.active").removeClass("active");
                                    $("#"+item.id).addClass("active");
                                }
                            }
                        })
                    },
                    remove: function(event) {
                        let self = this;
                        
                        swal({
                            title: event.name,
                            text: "Confirm Delete it?",
                            type: "warning",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            cancelButtonText: "Cancel",
                            confirmButtonText: "Delete",
                            confirmButtonColor: "#ff0000"
                        }).then(function () {

                            let _rtn = fsDelete(event.parent,event.name);

                            if (_rtn == 1){
                                self.load();
                            }

                        })
                    },
                    refresh: function() {
                        let self = this;

                        $(".tagsLabel").tagsinput({
                            tagClass: function(item) {
                                return _.sample(['label label-success']);//, 'label label-default', 'label label-primary', 'label label-warning', 'label label-danger label-important']);
                            }
                        });

                        $(".tagsLabel").on('itemAdded', function(event) {

                            let _id = $(this).data("index");
                            let _item = _.find(self.model.list,{id:_id});
                            
                            fetchData(_item.id + ' | tags +' + event.item);

                        });

                        $(".tagsLabel").on('itemRemoved', function(event) {

                            let _id = $(this).data("index");
                            let _item = _.find(self.model.list,{id:_id});

                            fetchData(_item.id + ' | tags -' + event.item);

                        });
                    },
                    forwardCreative: function(action,item){
                        let self = this;
                        let _lang = `{{.Lang}}`;
                        let lang = _lang.replace(/"/g,"").split("-")[0].replace(/en/g,"eg");

                        let obj = {};
                        obj.lang = lang;
                        obj.action = action;
                        obj.type = item.ftype;
                        obj.name = item.name;
                        obj.parent = item.parent;
                        obj.fsExtension = item.name.split(".")[1] || "ishow";
                        obj.attr = item.attr;

                        localStorage.setItem("graph-object",JSON.stringify(obj));

                        if(item.ftype === 'ishow'){
                            let _obj = {};

                            _obj.name = item.name;
                            _obj.parent = "/home/dashboard";

                            localStorage.setItem("dashboard-object", JSON.stringify(_obj));

                            window.open(
                                "/janesware/" + obj.fsExtension,
                                "_blank"
                            );
                        } else if(item.ftype === 'dir'){
                            self.model.root = item.parent+"/"+item.name.replace(/\/home\/admin/g,"");
                            self.load();
                        } else {
                            if (action == 'edit'){
                                window.open(
                                    "/web/vendor/mxgraph/graph/index.html",
                                    "_blank"
                                );
                            } else {
                                window.open(
                                    "/janesware/" + obj.fsExtension,
                                    "_blank"
                                );
                            }
                        }
                    },
                    info: function(node){
                        let self = this;

                        let _win = newWindow("fsinfo","信息",'<div id="fs-info"></div>');
                        _win.setMaximizable(false);
                        _win.setMinimizable(false);
                        _win.setResizable(true);
                        _win.setClosable(true);

                        let _infoVue = new Vue({
                            el: "#fs-info",
                            template: `<div class="panel">
                                            <div class="panel-body">
                                                <form>

                                                <div class="form-group">
                                                    <label for="title">名称</label>
                                                    <input type="text" class="form-control" id="title" placeholder="" v-model="model.title">
                                                </div>
                                                <div class="form-group">
                                                    <label for="parent">目录</label>
                                                    <input type="text" class="form-control" id="parent" placeholder="" v-model="model.parent" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="type">类型</label>
                                                    <input type="text" class="form-control" id="type" placeholder="" v-model="model.type" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="author">作者</label>
                                                    <input type="text" class="form-control" id="author" placeholder="" v-model="model.author" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ctime">修改时间</label>
                                                    <input type="text" class="form-control" id="ctime" placeholder="" v-model="model.ctime" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="remark">备注</label>
                                                    <textarea type="text" class="form-control" id="remark" placeholder="" v-model="model.remark">
                                                </div>

                                            </form>
                                        </div>
                                    </div>`,
                            data: {
                                model: _.attempt(JSON.parse.bind(null, node))
                            },
                            filters: {
                                pickTitle: function (value) {
                                    let self = this;

                                    if (!value) return '';

                                    let _attr = _.attempt(JSON.parse.bind(null, value));

                                    return _attr.title;
                                },
                                readMore: function (text, length, suffix) {
                                    return text.substring(0, length) + suffix;
                                },
                                toLocalTime: function (value) {
                                    return moment(value).format("LLL");
                                }
                            }
                        })

                    }
                }
            })
        })
    })
</script>

<script type="text/x-template" id="app-template">
    <div class="container-fluid">
        <div class="row" style="padding:5px;"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-grey">
                    <div class="panel-heading">
                        {{.i18n.Tr "creative-title"}}
                    </div>
                    <div class="panel-body" style="border:1px solid #dddddd;">
                        <div class="col-lg-2">
                            <vue-fs-tree-component id="creative-fs-tree" :root="model.root" :checkEnable="false" :contextMenu="null"></vue-fs-tree-component>
                        </div>
                        <div class="col-lg-10">

                            <div class="row" style="padding:0px 5px;">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <ul style="list-style: none;display:  flex;margin-left: -40px;">
                                        <li style="padding:5px 0px;">
                                            <a href="javascript:void(0);" @click="forwardDir('/home/creative')" style="text-decoration:none;color:#333333;"><i class="fa fa-folder-o"></i> 当前项目 </a>
                                        </li>
                                        <li>
                                            <ol class="breadcrumb">
                                                <li v-for="(item,index) in filePath" :style="index<3 ? 'display:none;':'display:;'">
                                                    <a href="javascript:void(0);" @click="forwardDir(_.slice(filePath,0,index+1).join('/'))">${item}</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>

                                    <!--<div class="btn-group-action">
                                        <a href="javascript:void(0);" :class="item.class" @click="forwardDir(item.path);" v-for="item in model.category" style="margin-right: 5px;">
                                             ${item.name}
                                        </a>
                                    </div>-->

                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="btn-group-action pull-right">
                                        <a href="#" class="btn btn-xs btn-default" @click="newDir"><i class="fa fa-plus m-r-5"></i> {{.i18n.Tr "creative-new-project"}}</a>
                                        <a href="#" class="btn btn-xs btn-default" @click="newFile"><i class="fa fa-plus m-r-5"></i> {{.i18n.Tr "creative-new-file"}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:5px;"></div>
                            <div class="row">
                                <transition-group name="list" tag="div">
                                    <div class="col-xs-4 col-lg-3" v-for="(item,index) in model.list" :key="item.id">
                                            <div class="widget widget-stats bg-info animated flipInX">
                                                <div>

                                                    <span class="stats-number" style="font-size:12px;color:rgb(102,102,102);line-height: 25px;overflow-x: auto;overflow-y: hidden;max-height: 36px;">
                                                        <i class="fa fa-braille"></i> <span class="fs-name" :data-info="JSON.stringify(item)">${ item.attr | pickTitle}</span>
                                                    </span>

                                                    <span>
                                                        <a href="javascript:void(0)"
                                                           @click="forwardCreative('show',item)">
                                                            <img :src="'/web/assets/images/'+item.ftype+'.png'" style="width:75%;height:80px; margin: 0px 20px;">
                                                        </a>
                                                    </span>
                                                    <input class="tagsLabel" :id="'tagsLabel'+index" :value="item.tags" :data-index="item.id" placeholder='{{.i18n.Tr "mxdashboard_tag_add"}}'>
                                                </div>
                                                <div class="stats-desc" style="margin-bottom: -10px;">
                                                    <i class='fa fa-user' style='color:#337ab7;'></i> ${item.username}<BR/>
                                                    <i class='fa fa-hourglass-start' style='color:#337ab7;'></i> ${ item.project.stime }<BR/>
                                                    <i class='fa fa-hourglass-end' style='color:#337ab7;'></i> ${ item.project.etime }<BR/>
                                                    <div v-if="item.project.status==='start'">
                                                        <i class='fa fa-spinner fa-spin' style='color:#337ab7;'></i> 运行中
                                                    </div>
                                                    <div v-else>
                                                        <i class='fa fa-spinner' style='color:#337ab7;'></i>
                                                    </div>
                                                    <span class="rating" v-for="data in item.star">
                                                        <span style="color:gold;">☆</span>
                                                    </span>

                                                    <div class="list-context-menu" :data-item="JSON.stringify(item)" style="position: absolute;right: 10px;top: 5px;cursor:pointer;">
                                                        <i class="fa fa-wrench"></i>
                                                    </div>

                                                </div>
                                            </div>

                                    </div>
                                </transition-group>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="creative-saveas-template">
    <div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
                <form class="form-horizontal" style="padding:15px;">
                
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="{{.i18n.Tr "mxdashboard_modal_title"}}" autofocus="true" v-model="model.name" style="border:1px solid #dddddd;">
                    </div>
                    
                    <div class="form-group">
                        <input type="checkbox" v-model="model.astemplate" value="0">&nbsp;{{.i18n.Tr "mxdashboard_modal_astemplate"}}
                    </div>

                    <div class="form-group pull-right">
                        <a href="javascript:void" class="btn btn-xs btn-info" @click="save">{{.i18n.Tr "creative-save"}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="creative-project-template">
    <div class="panel">
        <div class="panel-body">
            <form>

                <div class="form-group">
                    <label for="title">{{.i18n.Tr "mxdashboard_modal_project&name"}}</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#{model.project.value}# <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <label style="padding:5px;">
                                        <input type="radio" v-model="model.project.value" value="流程设计" checked> 流程设计
                                    </label>
                                <li>
                                    <label style="padding:5px;">
                                        <input type="radio" v-model="model.project.value" value="仪表盘"> 仪表盘
                                    </label>
                                <li>
                                    <label style="padding:5px;">
                                        <input type="radio" v-model="model.project.value" value="IT地图"> IT地图
                                    </label>
                            </ul>
                        </div>
                        <input type="text" class="form-control" id="title" placeholder="{{.i18n.Tr "mxdashboard_modal_title"}}" autofocus="true" v-model="model.name" style="height:33px;">
                    </div>
                </div>

                <div class="form-group">
                    <label for="remark">{{.i18n.Tr "mxdashboard_modal_remark"}}</label>
                    <textarea class="form-control" id="remark" rows="6" placeholder="{{.i18n.Tr "mxdashboard_modal_remark"}}" v-model="model.info.remark"></textarea>
                </div>

                <div class="form-group" style="max-height: 5vh;overflow:auto;">
                    <input id="tags" name="tags" placeholder="{{.i18n.Tr "mxdashboard_modal_tag"}}" v-model="model.tags">
                </div>

                <div class="form-group">
                    <div style="padding:5px;">
                        <input type="radio" v-model="model.ifshare" value="1" checked>&nbsp;{{.i18n.Tr "mxdashboard_modal_public"}}
                        <input type="radio" v-model="model.ifshare" value="0">&nbsp;{{.i18n.Tr "mxdashboard_modal_private"}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="pull-right" style="background-color:transparent;padding:5px 15px;">
                        <a href="javascript:void(0)" type="button" class="btn btn-sm btn-primary" @click="save">{{.i18n.Tr "mxdashboard_modal_submit"}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/x-template" id="creative-list-template">
    <div style="padding:10px 0px;">
        <div class="row" style="border-bottom:1px solid #ddd;">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">{{.i18n.Tr "mxdashboard_modal_title"}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="{{.i18n.Tr "mxdashboard_modal_title"}}" autofocus="true" v-model="model.name" style="border:1px solid #ddd;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark"  class="col-sm-2 control-label">{{.i18n.Tr "mxdashboard_modal_remark"}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="remark" placeholder="{{.i18n.Tr "mxdashboard_modal_remark"}}" v-model="model.info.remark" style="border:1px solid #ddd;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="background-color:#f7f7f7;">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <form class="form-vertical" role="form">

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="radio-inline">
                                <input type="radio" v-model="model.type" value="iflow" checked>&nbsp;流程设计
                                <p><img src="{{AppSubUrl}}/web/assets/images/iflow.png" style="width:128px;height:90px;"></p>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" v-model="model.type" value="ishow">&nbsp;DashBoard
                                <p><img src="{{AppSubUrl}}/web/assets/images/ishow.png" style="width:128px;height:90px;"></p>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" v-model="model.type" value="imap">&nbsp;IT地图
                                <p><img src="{{AppSubUrl}}/web/assets/images/imap.png" style="width:128px;height:90px;bordre:1px;"></p>
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"  style="border-left:1px solid #dddddd;">
                <div class="panel panel-grey" style="background-color:transparent;margin-bottom: 0px;">
                    <div class="panel-body">
                        
                        <div class="row" style="min-height:42vh;max-height:42vh;overflow: auto;border-bottom:1px solid #ddd;">
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                <div class="widget widget-stats bg-grey" id="blank" @click="click({'id':'blank'})">
                                    <div>
                                        <div class="stats-number" style="font-size:14px;"><i class='fa fa-braille'></i> Blank</div>
                                        <span>
                                            <img src="/web/assets/images/logo_trans.png" style="width:75%;height:80px; margin: 0px 20px;opacity: 50;">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" v-for="item in model.templates">
                                <div class="widget widget-stats bg-grey" :id="item.id" @click="click(item)">
                                    <div>
                                        <div class="stats-number" style="font-size:14px;"><i class='fa fa-braille'></i> #{item.name}#</div>
                                        <span>
                                            <img :src="'/web/assets/images/'+item.ftype+'.png'" style="width:75%;height:80px; margin: 0px 20px;">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">
                            <div class="col-lg-12" style="max-height: 5vh;overflow:auto;">
                                <input id="tags" name="tags" placeholder="{{.i18n.Tr "mxdashboard_modal_tag"}}" v-model="model.tags">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="radio" v-model="model.ifshare" value="1" checked>&nbsp;{{.i18n.Tr "mxdashboard_modal_public"}}
                                <input type="radio" v-model="model.ifshare" value="0">&nbsp;{{.i18n.Tr "mxdashboard_modal_private"}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="checkbox" v-model="model.astemplate" value="0">&nbsp;{{.i18n.Tr "mxdashboard_modal_astemplate"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right" style="background-color:transparent;padding:5px 15px;">
                    <a href="javascript:void(0)" type="button" class="btn btn-sm btn-primary" @click="save">{{.i18n.Tr "mxdashboard_modal_submit"}}</a>
                </div>
            </div>
        </div>
    </div>
</script>
{{template "base/footer" .}}
