<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}


<style>

    .tools-item {
        width: 28px;
        height: 28px;
    }

    html td.mxWindowTitle {
        background-color: rgb(33, 148, 245);
        background-image: linear-gradient(180deg,rgb(33, 148, 245),rgb(33, 148, 245));
        background-repeat: repeat-x;
        color: #ffffff;
    }

    #outlineContainer {
        z-index:1;
        position:absolute;
        overflow:hidden;
        top:60px;
        right:5px;
        width:160px;
        height:120px;
        background:transparent;
        box-shadow: 3px 3px 12px #C0C0C0;
        background: url(../images/window.gif);
        border: 1px solid rgb(195, 195, 195);
    }


</style>

<div id="app"></div>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-base-datatables-component.html"></link>


<script type="text/javascript">
    
    VueLoader.onloaded(["vue-base-datatables-component"
                        ],function() {

        moment.locale({{.Lang}});

        $(".current-active-item").html('<a class="active item" href="{{AppSubUrl}}/janesware/creative_list"><i class="fa fa-sitemap"></i>&nbsp;{{.i18n.Tr .ActiveView }}</a>');

        $(function() {
            
            var appVue = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                template: '#app-template',
                data: {
                    model: {
                        object: {
                            data: null,
                            param: null
                        },
                        container: null,
                        model: null,
                        graph:null,
                        layout: null,
                        layoutMgr: null

                    },

                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {
                        self.init();
                    })
                },
                watch: {
                    model: function(newValue, oldValue) {

                    }
                },
                created: function() {
                    let self = this;

                    let _tmp = localStorage.getItem("graph-object");
                    self.model.object.param = _.attempt(JSON.parse.bind(null, _tmp));

                    self.model.object.data = fetchFileFromFS(self.model.object.param.parent, self.model.object.param.name);

                },
                methods: {
                    init: function() {
                        let self = this;

                        if (!mxClient.isBrowserSupported())
                        {
                            // Displays an error message if the browser is
                            // not supported.
                            mxUtils.error('Browser is not supported!', 200, false);
                        }
                        else
                        {
                            self.model.container = document.getElementById('graph');
                            self.model.container.style.position = 'absolute';
                            self.model.container.style.overflow = 'hidden';
                            self.model.container.style.left = '0px';
                            self.model.container.style.top = '55px';
                            self.model.container.style.right = '0px';
                            self.model.container.style.bottom = '0px';
                            document.body.appendChild(self.model.container);


                            var outline = document.getElementById('outlineContainer');

                            mxEvent.disableContextMenu(self.model.container);

                            if (mxClient.IS_QUIRKS)
                            {
                                document.body.style.overflow = 'hidden';
                                new mxDivResizer(self.model.container);
                                new mxDivResizer(outline);
                            }

                            // Creates the graph inside the given container
                            self.model.model = new mxGraphModel();
                            self.model.graph = new mxGraph(self.model.container, self.model.model);

                            // Enables automatic sizing for vertices after editing and
                            // panning by using the left mouse button.
                            self.model.graph.setEnabled(false);
                            self.model.graph.setCellsMovable(false);
                            self.model.graph.setAutoSizeCells(true);
                            self.model.graph.setPanning(true);
                            self.model.graph.centerZoom = true;
                            self.model.graph.panningHandler.useLeftButtonForPanning = true;

                            self.model.graph.getCursorForCell = function(cell){
                                if (cell != null && cell.value != null && cell.vertex ==1 ){
                                    return 'pointer';
                                }
                            }

                            // Displays a popupmenu when the user clicks
                            // on a cell (using the left mouse button) but
                            // do not select the cell when the popup menu
                            // is displayed
                            self.model.graph.panningHandler.popupMenuHandler = false;

                            // Creates the outline (navigator, overview) for moving
                            // around the graph in the top, right corner of the window.
                            var outln = new mxOutline(self.model.graph, outline);

                            // Disables tooltips on touch devices
                            self.model.graph.setTooltips(!mxClient.IS_TOUCH);

                            // Load cells and layouts the graph
                            self.model.graph.getModel().beginUpdate();
                            try
                            {
                                var doc = mxUtils.parseXml(self.model.object.data);
                                var codec = new mxCodec(doc);
                                codec.decode(doc.documentElement, self.model.graph.getModel());
                            }
                            finally
                            {
                                // Updates the display
                                self.model.graph.getModel().endUpdate();
                            }

                            var content = document.getElementById('tools');
                            content.style.padding = '4px';

                            var tb = new mxToolbar(content);

                            tb.addItem('{{.i18n.Tr "creative-tools-zoom_in"}}', '/web/assets/images/iflow/zoom_in.png',function(evt)
                            {
                                self.model.graph.zoomIn();
                            },null,'tools-item');

                            tb.addItem('{{.i18n.Tr "creative-tools-zoom_out"}}', '/web/assets/images/iflow/zoom_out.png',function(evt)
                            {
                                self.model.graph.zoomOut();
                            },null,'tools-item');

                            tb.addItem('{{.i18n.Tr "creative-tools-actual_size"}}', '/web/assets/images/iflow/actual_size.png',function(evt)
                            {
                                self.model.graph.zoomActual();
                            },null,'tools-item');

                            tb.addItem('{{.i18n.Tr "creative-tools-print"}}', '/web/assets/images/iflow/print.png',function(evt)
                            {
                                var preview = new mxPrintPreview(self.model.graph, 1);
                                preview.open();
                            },null,'tools-item');

                            tb.addItem('{{.i18n.Tr "creative-tools-fullscreen"}}', '/web/assets/images/iflow/exit-fullscreen.png',function(evt)
                            {
                                if ($(".navbar.navbar-default.navbar-fixed-top").css("display") == "none"){

                                    $(".navbar.navbar-default.navbar-fixed-top").fadeIn();
                                    $(".navbar.navbar-default.navbar-fixed-bottom").fadeIn();

                                    evt.target.src = "/web/assets/images/iflow/exit-fullscreen.png";

                                    self.model.container.style.top = "55px";


                                } else {

                                    $(".navbar.navbar-default.navbar-fixed-top").fadeOut();
                                    $(".navbar.navbar-default.navbar-fixed-bottom").fadeOut();

                                    evt.target.src = "/web/assets/images/iflow/fullscreen.png";

                                    self.model.container.style.top = "0px";

                                }

                                toggleFullScreen();


                            },null,'tools-item');




                            wnd = new mxWindow('{{.i18n.Tr "creative-tools"}}', content, $( window ).width() - 165, 190, 160, 86, false);
                            wnd.setMaximizable(false);
                            wnd.setScrollable(false);
                            wnd.setResizable(false);
                            wnd.setVisible(true);


                            self.model.graph.addListener(mxEvent.CLICK, function(sender, evt)
                            {

                                var cell = evt.getProperty('cell');

                                if (cell.getId() == 'starting'){
                                    swal("任务即将开始！",cell.getValue()+cell.getId(),"info");
                                    swal({
                                        title: '确定要开始任务?',
                                        text: moment().format("LLL"),
                                        type: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#d33',
                                        cancelButtonColor: '#3085d6',
                                        confirmButtonText: '开始',
                                        cancelButtonText: '取消'
                                    }).then((result) => {
                                        if (result.value) {

                                            $(".navbar.navbar-default.navbar-fixed-top").fadeOut();
                                            $(".navbar.navbar-default.navbar-fixed-bottom").fadeOut();

                                            self.model.container.style.top = "0px";

                                            self.toggleFullScreen();

                                            swal(
                                                '任务开始！',
                                                '任务运行中。。。',
                                                'success'
                                            )
                                        }
                                    })
                                }

                            });

                        }
                    }
                }
            })
        })
    })
</script>

{{template "base/footer" .}}
<script type="text/x-template" id="app-template">
    <div>
        <div id="graph"></div>
        <div id="tools"></div>
        <div id="outlineContainer"></div>
    </div>
</script>
