<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}


<style>

    

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

    .rating > span:hover,
    .rating > span:hover ~ span {
        color: transparent;
    }

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: gold;
    }

    .bootstrap-tagsinput {
        background-color: transparent;
        border-style: none;
        box-shadow: none;
    }

    .label {
        font-size: 12px;
    }

    .input {
        width: auto;
    }

    .modal-dialog {
        position: relative;
        display: table;
        overflow-y: auto;
        overflow-x: auto;
        width: auto;
        min-width: 85%;
    }

    .stats-desc{
        color: #7d7974!important;
    }

    .btn.dropdown-toggle {
        padding: 7px 12px;
        border-radius: 0px;
    }
    .vue-search-input-component > .btn-group > .btn.dropdown-toggle {
        border-bottom: 2px solid rgb(182, 194, 202);
    }

    .widget-stats.bg-info:hover,.widget-stats.bg-info.active {
        box-shadow: 2px 2px 2px 2px #999;
        background-color: rgb(217, 237, 247)!important;
        background-image: linear-gradient(to bottom, rgb(217, 237, 247) 0%, rgb(249, 249, 249) 100%)!important;
    }

    .widget-stats.bg-grey:hover,.widget-stats.bg-grey.active {
        box-shadow: 2px 2px 2px 2px #999;
        background-color: rgb(183, 190, 208)!important;
        background-image: linear-gradient(to bottom, rgb(182, 194, 202) 0%, rgb(244, 244, 244) 100%)!important;
    }

    td>.mxWindowPane {
        overflow: hidden!important;
    }

    .bootstrap-tagsinput>input {
        border: none!important;
    }

    .context-menu-list {
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
        padding:5px;
        border: none;
    }
        
    .context-menu-list>li>a{
        padding: 5px 5px;
        color:rgb(102, 102, 102)!important;
    }


</style>
<div id="app"></div>

<!-- Bootstrap x-editable JS -->
<script src="{{AppSubUrl}}/web/vendor/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-search-preset-component_{{.Lang}}.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-search-input-component.html"></link>

<script type="text/javascript">
    
    VueLoader.onloaded(["vue-search-preset-component",
                        "vue-search-input-component"
                        ],function() {

        moment.locale({{.Lang}});

        $(".current-active-item").html('<a class="active item" href="{{AppSubUrl}}/janesware/creative_list"><i class="fa fa-sitemap"></i>&nbsp;{{.i18n.Tr .ActiveView }}</a>');

        $(function() {
            
            var theme = {
                "blue": {
                    "body": "rgba(4,83,119,1)",
                    "panel": "rgba(7,121,173,.8)",
                    "h3": "rgba(255,255,255,0.9)",
                    "h4": "rgba(255,255,255,.8)",
                    "smal": "rgba(255,255,255,.6)",
                    "thumbnail": "rgba(3,169,244,1)"
                },
                "dark": {
                    "body": "rgba(0,0,0,1)",
                    "panel": "rgba(47,47,47,1)",
                    "h3": "rgba(255,255,255,0.5)",
                    "h4": "rgba(128,0,128,1)",
                    "small": "rgba(0,0,0,1)",
                    "thumbnail": "rgba(32,32,32,1)"
                },
                "gray": {
                    "body": "rgba(255,255,255,1)",
                    "panel": "rgba(237,237,237,1)",
                    "h3": "rgba(130,130,130,1)",
                    "h4": "rgba(0,0,0,0.8)",
                    "small": "rgba(0,0,0,1)",
                    "thumbnail": "rgba(227,227,227,1)"
                }
            };

            var appVue = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                template: '#app-template',
                data: {
                    model: [],
                    search: {
                        params: {
                                at: '#',
                                class: '/matrix/filesystem/',
                                subclass: ': | ftype=imap;ftype=ishow;ftype=iflow',
                                top: 'top 200',
                                lua: ''
                        },
                        filter:[],
                        input: {
                            type: {type:"event",quick: ""},
                            term: ""
                        },
                        preset: {},
                        regexp: {
                            top: /top (\d+(\.\d)*)/gmi,
                            undefined:  /undefined/g,
                            doubleGrep: /\|(\s+(\|))/g,

                        },
                        result:{
                            data: [],
                            columns: [],
                            options: {
                                classes: "table table-no-bordered",
                                search: true,
                                locale: '{{.Lang}}',
                                rowStyle:   function rowStyle(row, index) {
                                    return {
                                        classes: 'text-nowrap'
                                    };
                                }
                            }
                        },
                        currentTimer: null
                    },

                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {
                        self.load();
                        self.init();

                        _.delay(function(){
                            self.initPlugin();
                        },500);
                    })
                },
                watch: {
                    model: function(newValue, oldValue) {
                        let self = this;

                        if (!_.isEqual(newValue, oldValue)) {
                            self.refresh();
                        }
                    }
                },
                created: function() {
                    let self = this;

                    eventHub.$on('preset-selected-event', self.setPresetDefault);
                    eventHub.$on("input-term-event", self.setSearchTerm);
                    eventHub.$on("input-reset-event", self.setSearchReset);
                },
                methods: {
                    init: function() {
                        let self = this;

                    },
                    initPlugin: function(){
                        let self = this;

                        $.contextMenu({
                            selector: '.list-context-menu', 
                            trigger: 'left',
                            callback: function(key, options) {
                                var m = key.data("item");
                                console.log(m)
                            },
                            items: {
                                "edit": {name: "编辑", icon: "fa-edit", callback: function(key, opt) {
                                                                                    self.forwardCreative('edit',opt.$trigger.data("item"));
                                                                                }
                                },
                                "saveas": {name: "另存为", icon: "fa-save", callback: function(key, opt) {
                                                                                    self.saveas(opt.$trigger.data("item"));
                                                                                }
                                },
                                "sep1": "---------",
                                
                                "delete": {name: "删除", icon: "fa-trash", callback: function(key, opt) {
                                                                                    self.remove(opt.$trigger.data("item"));
                                                                                }
                                }
                            }
                        });

                        $('.list-context-menu').on('click', function(e){
                            console.log('clicked', this);
                        })    
                    },
                    setPresetDefault: function(event){
                        let self = this;

                        self.search.preset = event;
                        self.search.preset.others.ifHistory = false;
                    },
                    setSearchReset: function(){
                        let self = this;
                        let _param = self.search.params.at + self.search.params.class + self.search.params.subclass;
                        let _preset = self.search.preset.default;

                        self.search.params.top = 'top 200';

                        _param = _param + _preset.value + self.search.preset.others.forTime + " | " + self.search.params.top;

                        self.setSearchTerm("");
                        self.searchHandler(_param, null);
                    },
                    setSearchTerm: function (term){
                        let self = this;

                        self.search.params.top = 'top 200';
                        self.search.input.term = term;

                    },
                    onSearch: function() {
                        let self = this;
                        let _param = "";
                        let _preset = self.search.preset.default;
                        let _ifDebug = "";

                        _ifDebug = self.search.preset.others.ifDebug?"debug> ":"";
                        self.search.params.at = self.search.preset.others.ifHistory?"":"#";

                        if(!_.isEmpty(self.search.input.term)){

                            let _top = self.search.input.term.match(self.search.regexp.top);

                            if(!_.isEmpty(_top)){
                                self.search.params.top = _.last(_top);
                            }

                            _param = self.search.params.at + self.search.params.class + self.search.params.subclass + " | " + self.search.input.term;
                        } else {
                            _param = self.search.params.at + self.search.params.class + self.search.params.subclass;
                        }
                        
                        if(!_.isEmpty(_preset)) {
                            _param = _param + _preset.value + self.search.fortime;
                        } else {
                            _param = _param + _preset.value;
                        }
                        _param = _param + " | " + self.search.params.top;

                        _param = _ifDebug + _param.replace(self.search.regexp.undefined,"").replace(self.search.regexp.doubleGrep," | ");

                        self.searchHandler(_param, null);
                    },
                    searchHandler: function(param,func) {
                        let self = this;

                        let _list = fetchData(param);

                        if (_.isEmpty(_list)) {
                            self.model = [];
                            return false;
                        }

                        self.model = _.map(_list.message,function(v,k){
                                        v.parent = v.parent.replace(/\/home\/admin/,"");
                                        return _.merge(v, {"username": {{.SignedUser.Name}}, "star": "", "tag": {"_all": ""}});
                                    });

                        _.delay(self.refresh,100);
                    },
                    load: function() {
                        let self = this;
                        
                        let _data = fetchListFromFS("creative");
                        
                        self.model = _.pickBy(_.map(_data,function(v,k){
                                        if(_.includes(["iflow","ishow","imap"],v.ftype)) {
                                            return _.merge(v, {"username": {{.SignedUser.Name}}, "star": "", "tag": {"_all": ""}});
                                        }
                                    }),_.identity);

                        _.delay(self.refresh,200);
                    },
                    saveas: function(event){
                        let self = this;

                        let win = newWindow('mini', event.name + ' ' + '{{.i18n.Tr "creative_list-saveas"}}',`<div id="creative-saveas"></div>`);
                        win.setMaximizable(false);
                        win.setMinimizable(false);
                        win.setResizable(false);
                    

                        let _vue = new Vue({
                            el: "#creative-saveas",
                            template: "#creative-saveas-template",
                            data: {
                                model: {
                                    name: "",
                                    astemplate: 0
                                }
                            },
                            mounted:function(){
                                let me = this;

                                me.$nextTick(function() {
                                    me.init();
                                })
                            },
                            methods: {
                                init: function(){
                                    let me = this;


                                },
                                save: function(){
                                    let me = this;

                                    if (_.isEmpty(me.model.name)) {
                                        swal("名称不能为空！", "", "warning");
                                        return false;
                                    }
                                    
                                    let _name = me.model.name + "." + event.ftype;
                                    let _type = event.ftype;

                                    if(me.model.astemplate){
                                        _name = me.model.name + "." + event.ftype + "t";  
                                        _type = event.ftype+ "t";                                      
                                    }
                                    
                                    let tmp = _.attempt(JSON.parse.bind(null, event.attr));
                                    
                                    putToFS(_type, _name, tmp.content);

                                    swal("",_name,"success");

                                    _.delay(function(){
                                        win.destroy();
                                        self.load();
                                    },500);
                                }
                            }
                        });
                    },
                    newIt: function() {
                        let self = this;

                        let win = newWindow('large','{{.i18n.Tr "creative_list-new"}}',`<div id="creative-starting"></div>`);

                        let _vue  = new Vue({
                            delimiters: ['#{', '}#'],
                            el: "#creative-starting",
                            template: "#creative-list-template",
                            data: {
                                model: {
                                    name: "",
                                    type: "iflow",
                                    item: {
                                        attr: ""
                                    },
                                    tags: [],
                                    ifshare: 0,
                                    astemplate: 0,
                                    templates: []
                                }
                            },
                            mounted:function(){
                                let me = this;

                                me.$nextTick(function() {
                                    me.init();
                                })
                            },
                            watch: {
                                'model.type': function(val,oldVal){
                                    let me = this;
                                    
                                    me.initTemplates();

                                },
                                deep:true
                            },
                            computed: {
                                type: function(){
                                    let me = this;

                                    return me.model.type + "t";
                                }
                            },
                            methods: {
                                init: function(){
                                    let me = this;

                                    $("#tags").tagsinput({
                                        tagClass: function(item) {
                                            return _.sample(['label label-default', 'label label-success', 'label label-primary', 'label label-warning', 'label label-danger label-important']);
                                        }
                                    });

                                    // 只导入template    
                                    me.initTemplates();

                                },
                                initTemplates: function(){
                                    let me = this;


                                    let _list = fetchData("#/matrix/filesystem/: | ftype=" + me.type + "| top 200");
                                    
                                    me.model.templates = _.map(_list.message,function(v,k){
                                                        v.parent = v.parent.replace(/\/home\/admin/,"");
                                                        return _.merge(v, {"username": `{{.SignedUser.Name}}`, "star": "", "tag": {"_all": ""}});
                                                    });

                                    _.delay(self.refresh,100);
                                },
                                save: function(){
                                    let me = this;
                                    
                                    if (_.isEmpty(me.model.name)) {
                                        swal("名称不能为空！", "", "warning");
                                        return false;
                                    }
                                    
                                    let _name = me.model.name + "." + me.model.type;
                                    let _type = me.model.type;

                                    if(me.model.astemplate){
                                        _name = me.model.name + "." + me.type;  
                                        _type = me.type;                                      
                                    }
                                    
                                    let tmp = _.attempt(JSON.parse.bind(null, me.model.item.attr));
                                    
                                    putToFS(_type, _name, tmp.content);

                                    swal("",_name,"success");

                                    _.delay(function(){
                                        self.load();
                                        win.destroy();
                                    },500);
                                },
                                click: function(item){
                                    let me = self;

                                    _vue.model.item = item;

                                    $(".widget-stats.active").removeClass("active");
                                    $("#"+item.id).addClass("active");
                                }
                            }
                        })
                    },
                    remove: function(event) {
                        let self = this;
                        
                        swal({
                            title: event.name,
                            text: "Confirm Delete it?",
                            type: "warning",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            cancelButtonText: "Cancel",
                            confirmButtonText: "Delete",
                            confirmButtonColor: "#ff0000"
                        }).then(function () {

                            jQuery.ajax({
                                url: '/fs' + event.parent + '/' + event.name,
                                type: 'DELETE',
                                dataType: 'text json',
                                contentType: "application/text; charset=utf-8",
                                beforeSend: function(xhr) {
                                },
                                complete: function(xhr, textStatus) {
                                },
                                success: function(data, textStatus, xhr) {
                                    
                                    if (data.status == "ok") {
                                        _.delay(function() {
                                            swal("Success Deleted！", "", "success");
                                            self.load();
                                        }, 300);
                                    } else {
                                        swal("Delete Failed", data.message, "warning");
                                    }
                                },
                                error: function(xhr, textStatus, errorThrown) {
                                    console.log(errorThrown)
                                    self.load();
                                }
                            });

                        })
                    },
                    refresh: function() {
                        let self = this;

                        $(".tagsLabel").tagsinput({
                            tagClass: function(item) {
                                return _.sample(['label label-success']);//, 'label label-default', 'label label-primary', 'label label-warning', 'label label-danger label-important']);
                            }
                        });

                        $(".tagsLabel").on('itemAdded', function(event) {

                            let _id = $(this).data("index");
                            let _item = _.find(self.model,{id:_id});
                            
                            fetchData(_item.id + ' | tags +' + event.item);

                        });

                        $(".tagsLabel").on('itemRemoved', function(event) {

                            let _id = $(this).data("index");
                            let _item = _.find(self.model,{id:_id});

                            fetchData(_item.id + ' | tags -' + event.item);

                        });
                    },
                    validate: function(event) {
                        let self = this;
                        var name = event.val();
                        var retValue = {};

                        if (name == "") {
                            retValue.status = false;
                            retValue.msg = "";
                        } else {
                            retValue.status = true;
                        }

                        return retValue;
                    },
                    searchByInput: function (event){
                        let self = this;

                        self.search(event);
                    },
                    forwardCreative: function(action,item){
                        let self = this;
                        let _lang = `{{.Lang}}`;
                        let lang = _lang.replace(/"/g,"").split("-")[0].replace(/en/g,"eg");

                        let obj = {};
                        obj.lang = lang;
                        obj.action = action;
                        obj.type = item.ftype;
                        obj.name = item.name;
                        obj.parent = item.parent;

                        localStorage.setItem("graph-object",JSON.stringify(obj));

                        if(item.ftype === 'ishow'){
                            let _obj = {};

                            _obj.name = item.name;
                            _obj.parent = "/home/dashboard";
                            localStorage.setItem("dashboard-object", JSON.stringify(_obj));

                            window.open(
                                "/janesware/dashboard",
                                "_blank"
                            );
                        } else {
                            if (action == 'edit'){
                                window.open(
                                    "/web/vendor/mxgraph/graph/index.html",
                                    "_blank"
                                );
                            } else {
                                window.open(
                                    "/janesware/creative",
                                    "_blank"
                                );
                            }
                        }
                    }
                }
            })
        })
    })
</script>

<script type="text/x-template" id="app-template">
    <div class="container-fluid">
        <div class="row" style="padding:5px;">

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group searchinput">
                            <vue-search-input-component :model="search.preset"></vue-search-input-component>
                            <div class="input-group-btn">
                                <vue-search-preset-component :preset="search.preset"></vue-search-preset-component>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success" @click="onSearch"><i class="fa fa-search" style="font-size:18px;"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding:5px;">

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-grey">
                    <div class="panel-heading">
                        {{.i18n.Tr "creative_list-title"}}
                    </div>
                    <div class="panel-body" style="border:1px solid #dddddd;">
                        <div class="row" style="padding:0px 5px;">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="btn-group-action">
                                    <a href="#" class="btn btn-xs btn-info" @click="setSearchTerm('ftype=iflow');onSearch();">
                                        流程设计 
                                    </a>
                                    <a href="#" class="btn btn-xs btn-warning" @click="setSearchTerm('ftype=ishow');onSearch();">
                                        仪表盘
                                    </a>
                                    <a href="#" class="btn btn-xs btn-danger" @click="setSearchTerm('ftype=imap');onSearch();">
                                        IT地图
                                    </a>
                                    <a href="#" class="btn btn-xs btn-success" @click="setSearchTerm('ftype=iflowt;ftype=ishowt;ftype=imapt');onSearch();">
                                        模板
                                    </a>
                                </div>    
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="btn-group-action pull-right">
                                    <a href="#" class="btn btn-xs btn-default" @click="newIt"><i class="fa fa-plus m-r-5"></i> {{.i18n.Tr "creative_list-new"}}</a>
                                </div>    
                            </div>
                        </div>
                        <div class="row" style="padding:5px;"></div>
                        <div class="row">
                            <transition-group name="list" tag="div">
                                <div class="col-xs-3 col-lg-2" v-for="(item,index) in model" :key="item.id">
                                        <div class="widget widget-stats bg-info animated flipInX">
                                            <div>
                                                
                                                <span class="stats-number" style="font-size:12px;color:rgb(102,102,102);line-height: 25px;overflow-x: auto;overflow-y: hidden;max-height: 36px;">
                                                    <i class="fa fa-braille"></i> ${item.name}
                                                </span>

                                                <span>
                                                    <a href="javascript:void(0)"
                                                       @click="forwardCreative('show',item)">
                                                        <img :src="'/web/assets/images/'+item.ftype+'.png'" style="width:75%;height:80px; margin: 0px 20px;">
                                                    </a>
                                                </span>
                                                <input class="tagsLabel" :id="'tagsLabel'+index" :value="item.tags" :data-index="item.id" placeholder='{{.i18n.Tr "mxdashboard_tag_add"}}'>
                                            </div>
                                            <div class="stats-desc" style="margin-bottom: -10px;">
                                                <i class='fa fa-user' style='color:#337ab7;'></i> ${item.username} &nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-clock-o' style='color:#337ab7;'></i> ${ new Date(item.vtime).toLocaleString() } &nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="rating" v-for="data in item.star">
                                                    <span style="color:gold;">☆</span>
                                                </span>
                                                <div class="list-context-menu" :data-item="JSON.stringify(item)" style="position: absolute;right: 10px;top: 5px;cursor:pointer;">
                                                    <i class="fa fa-wrench"></i>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </transition-group>
                        </div>
                    </div>
                </div>  
            </div>  
        </div>
    </div>
</script>

<script type="text/x-template" id="creative-saveas-template">
    <div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
                <form class="form-horizontal" style="padding:15px;">
                
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="{{.i18n.Tr "mxdashboard_modal_title"}}" autofocus="true" v-model="model.name" style="border:1px solid #dddddd;">
                    </div>
                    
                    <div class="form-group">
                        <input type="checkbox" v-model="model.astemplate" value="0">&nbsp;{{.i18n.Tr "mxdashboard_modal_astemplate"}}
                    </div>

                    <div class="form-group pull-right">
                        <a href="javascript:void" class="btn btn-xs btn-info" @click="save">{{.i18n.Tr "creative_list-save"}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="creative-list-template">
    <div>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div style="padding:5px;">
                    <input type="text" class="form-control" placeholder="{{.i18n.Tr "mxdashboard_modal_title"}}" autofocus="true" v-model="model.name" style="border:none;">
                </div>
            </div>
        </div>
        <div class="row" style="background-color:#f7f7f7;">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <form class="form-vertical" role="form">

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="radio-inline">
                                <input type="radio" v-model="model.type" value="iflow" checked>&nbsp;流程设计
                                <p><img src="{{AppSubUrl}}/web/assets/images/iflow.png" style="width:128px;height:90px;"></p>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" v-model="model.type" value="ishow">&nbsp;DashBoard
                                <p><img src="{{AppSubUrl}}/web/assets/images/ishow.png" style="width:128px;height:90px;"></p>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" v-model="model.type" value="imap">&nbsp;IT地图
                                <p><img src="{{AppSubUrl}}/web/assets/images/imap.png" style="width:128px;height:90px;bordre:1px;"></p>
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"  style="border-left:1px solid #dddddd;">
                <div class="panel panel-grey" style="background-color:transparent;margin-bottom: 0px;">
                    <div class="panel-body">
                        
                        <div class="row" style="min-height:45vh;max-height:50vh;overflow: auto;border-bottom:1px solid #ddd;">
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                <div class="widget widget-stats bg-grey" id="blank" @click="click({'id':'blank'})">
                                    <div>
                                        <div class="stats-number" style="font-size:14px;"><i class='fa fa-braille'></i> Blank</div>
                                        <span>
                                            <img src="/web/assets/images/logo_trans.png" style="width:75%;height:80px; margin: 0px 20px;opacity: 50;">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" v-for="item in model.templates">
                                <div class="widget widget-stats bg-grey" :id="item.id" @click="click(item)">
                                    <div>
                                        <div class="stats-number" style="font-size:14px;"><i class='fa fa-braille'></i> #{item.name}#</div>
                                        <span>
                                            <img :src="'/web/assets/images/'+item.ftype+'.png'" style="width:75%;height:80px; margin: 0px 20px;">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">
                            <div class="col-lg-8" style="max-height: 5vh;overflow:auto;">
                                <input id="tags" name="tags" placeholder="{{.i18n.Tr "mxdashboard_modal_tag"}}" v-model="model.tags">
                            </div>
                            <div class="col-lg-2">
                                <input type="radio" v-model="model.ifshare" value="1" checked>&nbsp;{{.i18n.Tr "mxdashboard_modal_public"}}
                                <input type="radio" v-model="model.ifshare" value="0">&nbsp;{{.i18n.Tr "mxdashboard_modal_private"}}
                            </div>
                            <div class="col-lg-2">
                                <input type="checkbox" v-model="model.astemplate" value="0">&nbsp;{{.i18n.Tr "mxdashboard_modal_astemplate"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right" style="background-color:transparent;padding:5px 15px;">
                    <a href="javascript:void(0)" type="button" class="btn btn-sm btn-primary" @click="save">{{.i18n.Tr "mxdashboard_modal_submit"}}</a>
                </div>
            </div>
        </div>
    </div>
</script>
{{template "base/footer" .}}
