<script src="../../public/web/js/cfg.js"></script>{{template "base/head" .}}

<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/entityStyle/zTreeStyle.css" type="text/css" rel="stylesheet">

<!-- sweetalert core CSS -->
<link href="{{AppSubUrl}}/web/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<style type="text/css" media="screen">
  
  	body{
		background-color: #d9e0e7;
  	}

  	.container-fluid {
	    margin-top: 5px;
	    margin-bottom: 45px;
	    margin: 5px -5px;
	}

	/* Event Severity Button Start */
	.event-severity-btn > .btn.active[data-active-class="selected"] {
	    border-right:	3px solid rgb(145, 155, 160);
		border-bottom:	3px solid rgb(145, 155, 160);
		clear: both;
	}
	/* Event Severity Button End*/

    .main-container > .panel-inverse>.panel-heading {
	    background: #b6c2ca;
	}

	.event-severity-btn > .btn-xs:not(:last-child) {
		padding:4px 5px;
		color: rgb(255, 255, 255);
		min-width: 45px;
		margin-right: 3px;
	}

	.event-severity-btn > .btn-xs:last-child {
		padding:4px 5px;
		color: rgb(255, 255, 255);
		min-width: 45px;
	}

	.btn.dropdown-toggle {
		padding: 7px 12px;
	}

	/*----------  Btn  ----------*/
	.event-severity-btn > .btn-default.active:visited, 
	.event-severity-btn > .btn-default.active:hover, 
	.event-severity-btn > .btn-default.active:focus, 
	.event-severity-btn > .btn-default.active:active {
	    background-color: #919ba0!important;
	}

	/*----------  Event Severity For Cell Color  ----------*/
	td.severity6 {
	  background-color: #333333!important; /*Fatal*/
	  text-align: center;
	  color: #ffffff;
	}
	td.severity5 {
	  background-color: #FF0000!important; /*Critical*/
	  text-align: center;
	  color: #ffffff;
	}
	td.severity4 {
	  background-color: #FFA500!important; /*Major*/
	  text-align: center;
	  color: #ffffff;
	}
	td.severity3 {
	  background-color: #FFD700!important; /*Minor*/
	  text-align: center;
	  color: #ffffff;
	}
	td.severity2 {
	  background-color: #0000FF!important; /*Warning*/
	  text-align: center;
	  color: #ffffff;
	}
	td.severity1 {
	  background-color: #800080!important; /*Indeterminate*/
	  text-align: center;
	  color: #ffffff;
	}
	td.severity0 {
	  background-color: #008000!important; /*Clear*/
	  text-align: center;
	  color: #ffffff;
	}
	td.severity_1 {
	  background-color: #808080!important; /*Unknown*/
	  text-align: center;
	  color: #ffffff;
	}

	.panel-heading {
		background-color: rgb(243, 243, 243);
	    background-image: linear-gradient(180deg,rgb(247, 247, 247),rgb(238, 238, 238));
	    background-repeat: repeat-x;
	    background-color: rgb(238, 238, 238);
	    padding: 5px 15px;
	}

	.selectpicker-entity-btn > .btn-group > .btn.btn-default {
	    color: rgb(51, 51, 51);
	    background: rgba(0, 0, 0, 0);
	    border-color: rgba(0, 0, 0, 0);
	}

	.selectpicker-entity-btn > .btn-group.open .dropdown-toggle {
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	.fixed-table-container {
	    border: none;
	}
	.fixed-table-body{
		height:auto!important;
	}
	.th-inner,td{
		font-size:12px;
	}

</style>

<div id="app"></div>

<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.excheck-3.5.min.js"></script>

<!-- ECharts单文件引入 -->
<script src="{{AppSubUrl}}/web/vendor/echart/echarts.min.js"></script>


<!--Util JS-->
<script src="{{AppSubUrl}}/web/js/app.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-entity-graph-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-entity-heatmap-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-entity-tree-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-echart-timeline-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-search-preset-component_{{.Lang}}.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-search-input-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-bootstrap-table.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-common-form-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-object-detail-component.html"></link>

<script src="{{AppSubUrl}}/web/vendor/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="{{AppSubUrl}}/web/css/color/apps.min.js"></script>

<script>

	var eventHub = new Vue();

	VueLoader.onloaded(["vue-entity-graph-component",
						"vue-entity-heatmap-component",
						"vue-entity-tree-component",
						"vue-echart-timeline-component",
						"vue-search-preset-component",
						"vue-search-input-component",
						"vue-bootstrap-table",
						"vue-common-form-component",
						"vue-object-detail-component"],function() {

		$(function(){

			$(".current-active-item").html(`<a class="active item" href="/janesware/diagnosis"><i class="fa fa-wrench"></i> &nbsp;{{.i18n.Tr .ActiveView }}</a>`);

			$.fn.editable.defaults.mode = 'inline';
			
			moment().format('LLL');

			Vue.component('search-graph', {
				delimiters: ['${', '}'],
	            template: "#search-graph-template",
	            props:{
	                model: Array,
	                show: false,
	            },
	            mounted: function(){
					this.$nextTick(function () {
						$(this.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	if(val){
				    		$(this.$el).css("display","");
				    	} else {
				    		$(this.$el).css("display","none");
				    	}
				    }
				}
	        }); 

			Vue.component('search-event', {
				delimiters: ['${', '}'],
	            template: "#search-event-template",
	            props:{
	                model: Object,
	                show: false,
	            },
	            data: function(){
	            	return {
	            		search: {
	            			default: ""
	            		}
	            	}
	            },
	            created: function(){
	            	var self = this;
	            },
	            mounted: function(){
	            	var self = this;

					self.$nextTick(function () {
						$(self.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	var self = this;

				    	if(val){
				    		$(self.$el).css("display","");
				    	} else {
				    		$(self.$el).css("display","none");
				    	}
				    }
				},
				methods: {	
				
				}
	        }); 

			Vue.component('search-journal', {
				delimiters: ['${', '}'],
	            template: "#search-journal-template",
	            props:{
	                model: Object,
	                show: false,
	            },
	            data: function(){
	            	return {
	            		search: {
	            			default: ""
	            		}
	            	}
	            },
	            created: function(){
	            	var self = this;
	            },
	            mounted: function(){
	            	var self = this;

					self.$nextTick(function () {
						$(self.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	var self = this;

				    	if(val){
				    		$(self.$el).css("display","");
				    	} else {
				    		$(self.$el).css("display","none");
				    	}
				    }
				},
				methods: {	
				
				}
	        }); 

	        Vue.component('search-log', {
				delimiters: ['${', '}'],
	            template: "#search-log-template",
	            props:{
	                model: Object,
	                show: false,
	            },
	            mounted: function(){
					this.$nextTick(function () {
						$(this.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	
				    	if(val){
				    		$(this.$el).css("display","");
				    	} else {
				    		$(this.$el).css("display","none");
				    	}
				    }
				}
	        }); 

	        Vue.component('search-raw', {
				delimiters: ['${', '}'],
	            template: "#search-raw-template",
	            props:{
	                model: Object,
	                show: false,
	            },
	            mounted: function(){
					this.$nextTick(function () {
						$(this.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	
				    	if(val){
				    		$(this.$el).css("display","");
				    	} else {
				    		$(this.$el).css("display","none");
				    	}

                        $("table tr td").unmark({
								done: function() {
									$("table tr td").mark(appVue.diagnosis.devops.selectedNodes, { element: "mark",
																									separateWordSearch: true
																									}
									);
								}
							});
				    }
				}
	        }); 

	        Vue.component('search-tickets', {
				delimiters: ['${', '}'],
	            template: "#search-tickets-template",
	            props:{
	                model: Object,
	                show: false,
	            },
	            mounted: function(){
					this.$nextTick(function () {
						$(this.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	
				    	if(val){
				    		$(this.$el).css("display","");
				    	} else {
				    		$(this.$el).css("display","none");
				    	}
				    }
				}
	        }); 

	        Vue.component('search-change', {
				delimiters: ['${', '}'],
	            template: "#search-change-template",
	            props:{
	                model: Object,
	                show: false,
	            },
	            mounted: function(){
					this.$nextTick(function () {
						$(this.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	
				    	if(val){
				    		$(this.$el).css("display","");
				    	} else {
				    		$(this.$el).css("display","none");
				    	}
				    }
				}
	        }); 

	        Vue.component('search-performance', {
				delimiters: ['${', '}'],
	            template: "#search-performance-template",
	            props:{
	                model: Object,
	                show: false,
	            },
	            mounted: function(){
					this.$nextTick(function () {
						$(this.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	
				    	if(val){
				    		$(this.$el).css("display","");
				    	} else {
				    		$(this.$el).css("display","none");
				    	}
				    }
				}
	        }); 

	        Vue.component('search-dashboard', {
				delimiters: ['${', '}'],
	            template: "#search-dashboard-template",
	            props:{
	                model: Array,
	                show: false,
	            },
	            mounted: function(){
					this.$nextTick(function () {
						$(this.$el).css("display","none");
					})
				},
	            watch: {
				    show: function (val) {
				    	if(val){
				    		$(this.$el).css("display","");
				    	} else {
				    		$(this.$el).css("display","none");
				    	}
				    }
				}
	        }); 

	        Vue.component('search-entity', {
				delimiters: ['${', '}'],
	            template: "#search-entity-template",
	            props:{
	                model: Array,
	                show: false,
	            },
	            data: function(){
	            	return {
	            		dimension: null
	            	}
	            },
	            mounted: function(){
					let self = this;

					self.$nextTick(function () {
						$(self.$el).css("display","");
						self.init();
					})
				},
	            watch: {
				    show: function (val) {
				    	if(val){
				    		$(this.$el).css("display","");
				    	} else {
				    		$(this.$el).css("display","");
				    	}
				    }
				},
				methods: {
					init: function(){
						let self = this;

						$(".selectpicker-entity").selectpicker();
						
						// default dimension, SITEID
						let _node = appVue.diagnosis.devops.object.entity.split("#")[0];
						let _dimension = $('.selectpicker-entity').val();
						console.log(_node,_dimension)
						if(!_.isEmpty(_node) && !_.isEmpty($(this).val(_dimension))) {
							self.dimension = {node: _node, dimension: _dimension};
						}

						$('.selectpicker-entity').on('hidden.bs.select', function (e) {
							// By Node query other nodes by same as dimension, eg:SITEID
							let _node = appVue.diagnosis.devops.object.entity.split("#")[0];
							let _dimension = $(this).val();
							
							if(!_.isEmpty(_node) && !_.isEmpty($(this).val(_dimension))) {
								self.dimension = {node: _node, dimension: _dimension};
							}
						});
					}
				}
	        });

            Vue.component('bootstrap-table', {
                template: `<table></table>`,
                props:{
                    columns: Array,
                    data: Array,
                    options: Object,
                    forward: String
                },
                mounted: function () {
                    var self = this;

                    self.$nextTick(function () {
                        $(self.$el).bootstrapTable(_.extend({
                            data: self.data,
                            columns: self.columns
                        }, self.options));

                        $(self.$el).on('dbl-click-row.bs.table', function (e, row, $element) {

                            // Search For
                            localStorage.setItem("diagnosis-object",JSON.stringify(row));
                            window.open(
                                "/janesware/diagnosis",
                                "_parent"
                            );
                        });

                        $(self.$el).on('click-row.bs.table', function (e, row, $element) {
                            $('.info').removeClass('info');
                            $($element).addClass('info');
                        });
                    })
                },
                watch: {
                    data: {
                        handler: function (val,oldVal) {
                            var self = this;

                            var cols= $(self.$el).bootstrapTable('getVisibleColumns');

                            if(_.isEmpty(cols)){ // table null
                                $(self.$el).bootstrapTable('destroy').bootstrapTable(_.extend({
                                    data: val,
                                    columns: self.columns
                                }, self.options));
                            } else {
                                $(self.$el).bootstrapTable('load',val);
                                $(self.$el).bootstrapTable('refreshOptions',self.options);
                            }
                        },
                        deep:true
                    }
                }
            });

			/**
			 * @todo App Vue
			 */
			var appVue = new Vue({
				delimiters: ['${', '}'],
				el: '#app',
				template: '#app-template',
				data: {
					event: {
						columns: [],
						options: {},
						data: [],
                        meta: {}
					},
					journal: {
						columns: [],
						options: {},
						data: [],
                        meta: {}
					},
					performance: {
						columns: [],
						options: {},
						data: [],
                        meta: {}
					},
					log: {
						columns: [],
						options: {},
						data: [],
						meta: {}
					},
					raw: {
						columns: [],
						options: {},
						data: [],
                        meta: {}
					},
					tickets: {
						columns: [],
						options: {},
						data: [],
                        meta: {}
					},
					change: {
						columns: [],
						options: {},
						data: [],
                        meta: {}
					},
					dashboard: [],
					search: {
                        input: {
                            type: {type:"diagnosis",quick: ""},
                            term: ""
                        },
                        preset: {},
                        regexp: {
                            top: /top (\d+(\.\d)*)/gmi,
                            undefined:  /undefined/g,
                            doubleGrep: /\|(\s+(\|))/g,

                        }
					},
					diagnosis: {
						devops:{
							object: {},
							class: "#/matrix/devops/: ",
							timewindow: {value: " | nearest 1day"},
                            term: "",
							result: [],
							model: [],
							selectedNodes: []
						},
						graph: {
							param: {
								0: `#/matrix/entity/: `,
								1: ``,
								2: ` call graph `,
								3: `{"level":3, "rels":["contain","depend","connect"], "element":true, "entity":true}`
							},
							graphData: [],
							nodes: [],
							selectedNodes: [],
							inputModel: {type:"diagnosis",quick: "none"}
						},
						entity: {
							nodes: [],
							selectedNodes: [],
						}
					}
				},
				created: function(){
		            let self = this;
		            let tmp = localStorage.getItem("diagnosis-object");
						
					self.diagnosis.devops.object = _.attempt(JSON.parse.bind(null, tmp));
					self.search.input.term = self.diagnosis.devops.object.tuid || self.diagnosis.devops.object.entity || self.diagnosis.devops.object.node || self.diagnosis.devops.object.host;

		            if(window.GLOBAL_OBJECT.company.name=="telus") {
		            	self.diagnosis.graph.param[1] = 'id=' + self.diagnosis.devops.object.tuid;
		            } else {
		            	self.diagnosis.graph.param[1] = 'id=' + self.diagnosis.devops.object.entity.split("#")[0];
		            }

		            eventHub.$on("input-term-event", self.setSearchTerm);
		            eventHub.$on("input-reset-event", self.setSearchReset);
		            eventHub.$on('preset-others-event',self.setPresetOthers);
		            eventHub.$on('preset-selected-event', self.setPresetDefault);
		            eventHub.$on("graph-select-event", self.setGraphSelectedNodes);
		            eventHub.$on("entity-select-event", self.setSelectedNodes);

		        },
				mounted: function(){
					let self = this;

					self.$nextTick(function () {
						
						let _params = [];

						if(window.GLOBAL_OBJECT.company.name=="telus") {
							if(!_.isEmpty(self.diagnosis.devops.object.tuid)) {
								_params.push(self.diagnosis.devops.object.tuid);	
							}
							if(!_.isEmpty(self.diagnosis.devops.object.node)) {
								_params.push(self.diagnosis.devops.object.node);
							}
						}

						if(!_.isEmpty(self.diagnosis.devops.object.entity)){
							_params.push(self.diagnosis.devops.object.entity.split("#")[0]);
						}
						
						_params.push(self.diagnosis.devops.object.host);

						console.log(11111,_params)
			    		// eventHub.$emit("input-set-event", _params.join(";"));
			    		eventHub.$emit("input-term-event", _params.join(";"));

			    		//let _window = {"name":"All Time", value: "", scale: {'scale':'year', 'step': 1, 'title':'Year', 'pattern':'L', 'filter':'YYYY/MM/DD HH'}};
			    		
			    		//self.diagnosis.devops.timewindow = _window
			    		//eventHub.$emit("preset-set-event",_window);

						self.onSearch();

						//$(".ui-sortable" ).sortable();
						//$(".ui-sortable" ).disableSelection();

						App.init();
					})

				},
				computed: {
					ifShowGraph: function(){
						if(_.isEmpty(this.diagnosis.graph.nodes)) {
							return false;
						} else {
							return true;
						}
					},
					ifShowEvent: function(){
						if(_.isEmpty(this.event.data)) {
							return false;
						} else {
							return true;
						}
					},
					ifShowJournal: function(){
						if(_.isEmpty(this.journal.data)) {
							return false;
						} else {
							return true;
						}
					},
					ifShowLog: function(){
						if(_.isEmpty(this.log.data)) {
							return false;
						} else {
							return true;
						}
					},
					ifShowRaw: function(){
						if(_.isEmpty(this.raw.data)) {
							return false;
						} else {
							return true;
						}
					},
					ifShowTickets: function(){
						if(_.isEmpty(this.tickets.data)) {
							return false;
						} else {
							return true;
						}
					},
					ifShowChange: function(){
						if(_.isEmpty(this.change.data)) {
							return false;
						} else {
							return true;
						}
					},
					ifShowPerformance: function(){
						if(_.isEmpty(this.performance.data)) {
							return false;
						} else {
							return true;
						}
					},
					ifShowDashboard: function(){
						if(_.isEmpty(this.dashboard)) {
							return false;
						} else {
							return true;
						}
					}
				},
				watch: {
					'diagnosis.graph.selectedNodes':{
						handler: function(val,oldVal){
							var self = this;

							if(!_.isEmpty(val)){
								//self.searchDevops();
							} else {
								self.resetDevops();
								_.forEach(self.diagnosis.devops.result, function(v){
						  			v.value = 0;
						  		})

						  		//self.searchDevops();
							}
						},
						deep: true
					},
					'diagnosis.devops.selectedNodes':{
						handler: function(val,oldVal){
							var self = this;

							if(!_.isEmpty(val)){
								self.searchDevops();
							} else {
								self.resetDevops();
								_.forEach(self.diagnosis.devops.result, function(v){
						  			v.value = 0;
						  		})

						  		self.searchDevops();
							}
						},
						deep: true
					}
				},
				methods: {
					setGraphSelectedNodes: function(node){
						let self = this;
						
						if(node.type) {
							if(_.indexOf(self.diagnosis.graph.selectedNodes,node.value) == -1){
					    		self.diagnosis.graph.selectedNodes.push(node.value);
					    	}	
						} else {
							if(_.indexOf(self.diagnosis.graph.selectedNodes,node.value) != -1){
					    		self.diagnosis.graph.selectedNodes = _.values(_.pull(self.diagnosis.graph.selectedNodes,node.value));	
					    	}	
						}

					},
					setSelectedNodes: function(nodes){
						let self = this;

						self.diagnosis.devops.selectedNodes = _.filter(_.map(nodes,'title'),null);//_.difference(self.diagnosis.devops.selectedNodes,nodes);

					},
					setPresetDefault: function(event){
	                    let self = this;
	                    
	                    self.diagnosis.devops.timewindow = event;
	                },
	                setPresetFortime: function(event){
	                    let self = this;

	                    self.diagnosis.graph.fortime = event;
	                },
				    setSearchReset: function(){
				    	let self = this;

                        self.event.data = [];
                        self.journal.data = [];
                        self.performance.data = [];
                        self.log.data = [];
                        self.raw.data = [];
                        self.tickets.data = [];
                        self.change.data = [];
                        //self.dashboard
                        self.diagnosis.devops.result = [];
                        self.diagnosis.graph.graphData = [];
                        self.diagnosis.entity.nodes = [];

				    	
				        self.setSearchTerm(self.diagnosis.devops.object.entity);
				        self.onSearch();
				    },
				    setSearchTerm: function (term){
				    	let self = this;

				    	self.diagnosis.graph.param[1] = 'id=' + term.split("|")[0];//_.trim(term.replace(/\|/g,"")).split("#")[0];
                        self.diagnosis.devops.term = term;
                        self.search.input.term = term;
				    },
					onSearch: function(){
						let self = this;

						console.log(23232323-1,self.diagnosis.graph.param[1])
                        console.log(23232323-2,self.diagnosis.devops.term)
                        console.log(23232323-3,self.search.input.term)

						self.searchGraph();

						self.searchEntity();
					},
					initResultBar: function(){
						let self = this;

						self.diagnosis.devops.result = [];
				  		self.diagnosis.devops.result.push({name:'Entity', value:'entity', count:0, href:"#search-entity", active:""});
				  		self.diagnosis.devops.result.push({name:'Graph', value:'graph', count:0, href:"#search-graph", active:""});
				  		self.diagnosis.devops.result.push({name:'Event', value:'event', count:0, href:"#search-event", active:""});
				  		self.diagnosis.devops.result.push({name:'Journal', value:'journal', count:0, href:"#search-journal", active:""});
				  		self.diagnosis.devops.result.push({name:'Log', value:'log', count:0, href:"#search-log", active:""});
				  		self.diagnosis.devops.result.push({name:'RawCaputer', value:'raw', count:0, href:"#search-raw", active:""});
				  		self.diagnosis.devops.result.push({name:'Performance', value:'performance', count:0, href:"#search-performance", active:""});
				  		//self.diagnosis.devops.result.push({name:'DashBoard', value:'itmap', count:0, href:"#search-dashboard", active:""});
				  		self.diagnosis.devops.result.push({name:'Tickets', value:'tickets', count:0, href:"#search-tickets", active:""});
				  		self.diagnosis.devops.result.push({name:'Change', value:'change', count:0, href:"#search-change", active:""});
					},
					searchEntity: function(){
						let self = this;

						if(window.GLOBAL_OBJECT.company.name=="telus"){
	                    	// get siteid by tuid=element_id
				    		let _tmp = omdbHandler.fetchData(`#/matrix/devops/element_translations_join/: | element_id=` + self.search.input.term.split("|")[0]);
                            // get all element by siteid
							let _element = omdbHandler.fetchData(`#/matrix/devops/element_translations_join/: | siteid=` + _tmp.message[0].siteid);

				    		self.diagnosis.entity.nodes = [];
				    		
				    		_.forEach(_element.message, function(v){
				    			let _data = omdbHandler.fetchData(`#/matrix/devops/event/: | ` + self.diagnosis.devops.object.tuid);

				    			self.diagnosis.entity.nodes.push({
								    								name: v.element_id,
					            									title:v.element_id, 
					            									class: "/matrix/entity/hardware/network/device",
					            									summary: {event:_.size(_data.message)}
					            								})
				    		})

				    		self.diagnosis.devops.selectedNodes = _.values(_.map(self.diagnosis.entity.nodes,'name'));
				    	}
					},
					searchGraph: function(){
						let self = this;
						let _param = "";

			            if(!_.isEmpty(self.diagnosis.graph.param[1])) {
                            _param = self.diagnosis.graph.param[0] + ' | ' + self.diagnosis.graph.param[1] + ' | ' + self.diagnosis.graph.param[2] + self.diagnosis.graph.param[3];
			            } else {
			                return false;
			            }

			            let _list = omdbHandler.fetchData(_param);

                        if(_.isEmpty(_list.message)) {
                            self.diagnosis.graph.selectedNodes = [];
                            return false;
                        }

                        self.diagnosis.graph.graphData = _list.message[0].graph;
                        self.diagnosis.graph.nodes = [];
                        self.diagnosis.graph.selectedNodes = [];

                        let _tmp = [];
                        _.forEach(_list.message[0].graph.nodes,function(v){
                            let n = {};
                            n.name = v.data.id;
                            n.title = v.data.name;
                            n.class = v.classes;
                            n.summary = {event:0};

                            self.diagnosis.graph.nodes.push(n);
                            self.diagnosis.graph.selectedNodes.push(v.data.name);
                        });

                        self.diagnosis.entity.nodes = _.difference(self.diagnosis.graph.nodes, self.diagnosis.entity.nodes);

					},
					searchDevops: function () {
						let self = this;
						let _param = "";
						let _tmp = [];
						let _term = self.search.input.term.split("|");

						_.forEach(self.diagnosis.devops.selectedNodes,function(v){
                            _tmp.push(v);
						    _tmp.push("entity=" + v);
							_tmp.push("tuid=" + v);
							_tmp.push("host=*" + v);
							_tmp.push("node=" + v);
						})

						if (_.size(_term)>0){
                            _term.shift();
                            _param = self.diagnosis.devops.class + " | " + _tmp.join(";") + self.diagnosis.devops.timewindow.value + " | " + _term.join(" | ");
						} else {
                            _param = self.diagnosis.devops.class + " | " + _tmp.join(";") + self.diagnosis.devops.timewindow.value;
						}

						_param = _param.replace(/undefined/g,"");
						console.log(222,_param)
						jQuery.ajax({
						  	url: '/mxobject/search',
						  	type: 'POST',
						  	dataType: 'json',
						  	data: {
						  		cond: _param,
						  		flag: true
						  	},
						  	beforeSend:function(xhr){
					      	},
						  	complete: function(xhr, textStatus) {
						  	},
						  	success: function(data, textStatus, xhr) {
                                console.log(2222,_.size(data.message))
							  	let event = new Array();
							  	let journal = new Array();
								let performance = new Array();
								let log = new Array();
								let raw = new Array();
								let tickets = new Array();
								let change = new Array();
								let dashboard = new Array();

							  	if(_.isEmpty(data.message)) {
							  		self.resetDevops();
							  		return false;
							  	} else {
							  		_.filter(data.message, function(d){
								  		if( _.includes(d.class, '/matrix/devops/event') ){
								  			event.push(d);
								  			self.event.columns = window.GLOBAL_OBJECT.company.object.event.columns;
											self.event.options =  {
											                        classes: "table table-no-bordered",
											                        pageSize: "30",
													                pageList: "[15,30,45,60]",
													                detailView: false,
													                buttonsAlign: "right",
													                search: false,
											                        locale: '{{.Lang}}',
											                        rowStyle: 	function rowStyle(row, index) {
																				  	return {
																				    	classes: 'text-nowrap'
																				  	};
																				}
													            };
								  		} else if( _.includes(d.class, '/matrix/devops/event/omnibus/journal') ){
								  			journal.push(d);
								  			self.journal.columns = window.GLOBAL_OBJECT.company.object.journal.columns;
											self.journal.options =  {
											                        classes: "table table-no-bordered",
											                        pageSize: "30",
												 	                pageList: "[15,30,45,60]",
													                detailView: false,
													                buttonsAlign: "right",
													                search: false,
											                        locale: '{{.Lang}}',
											                        rowStyle: 	function rowStyle(row, index) {
																				  	return {
																				    	classes: 'text-nowrap'
																				  	};
																				}
													            };
								  		} else if( _.includes(d.class, '/matrix/devops/log') ){
								  			log.push(d);
								  			self.log.columns = window.GLOBAL_OBJECT.company.object.log.columns;;
											self.log.options =  {
											                        classes: "table table-no-bordered",
																    pagination: false,
																    showFooter: false,
																    pageSize: "15",
											         				pageList: "[15,30,45,60]",
											         				detailView: false,
											         				locale: '{{.Lang}}',
													            };
								  		} else if( _.includes(d.class, '/matrix/devops/log/raw') ){
								  			raw.push(d);
								  			self.raw.columns = window.GLOBAL_OBJECT.company.object      .raw.columns;;
											self.raw.options =  {
											                        classes: "table table-no-bordered",
																    pagination: false,
																    showFooter: false,
																    pageSize: "15",
											         				pageList: "[15,30,45,60]",
											         				detailView: false,
											         				locale: '{{.Lang}}',
													            };
								  		} else if( _.includes(d.class, '/matrix/devops/performance') ){
								  			performance.push(d);
								  			self.performance.columns = window.GLOBAL_OBJECT.company.object.performance.columns;
											self.performance.options =  {
													                        classes: "table table-no-bordered",
																		    pagination: false,
																		    showFooter: false,
																		    pageSize: "15",
													         				pageList: "[15,30,45,60]",
													         				detailView: false,
													         				locale: '{{.Lang}}',
															            };
								  		} else if( _.includes(d.class, '/matrix/filesystem') ){
								  			if( _.includes(d.type, 'imap') ) {
								  				var href="/web/lib/mxgraph/graph/index.html?lang=eg&chrome=2&name="+d.name+"&parent="+d.parent.substring(11,d.parent.length);

								  				dashboard.push( _.merge(d,{tag: {"_all":[] }, href: href }) );
								  			} else if( _.includes(d.type, 'idas') ) {
								  				var href="/janesware/ishow?name="+d.name;

								  				dashboard.push( _.merge(d,{tag: {"_all":[] }, href: href }) );
								  			}
								  		} else if( _.includes(d.class, '/matrix/devops/tickets') ){
								  			tickets.push(d);
								  			self.tickets.columns = window.GLOBAL_OBJECT.company.object.tickets.columns;
											self.tickets.options =  {
													                        classes: "table table-no-bordered",
																		    pagination: false,
																		    showFooter: false,
																		    pageSize: "15",
													         				pageList: "[15,30,45,60]",
													         				detailView: false,
													         				locale: '{{.Lang}}',
															            };
								  		} else if( _.includes(d.class, '/matrix/devops/change') ){
								  			change.push(d);
								  			self.change.columns = window.GLOBAL_OBJECT.company.object.change.columns;
											self.change.options =  {
													                        classes: "table table-no-bordered",
																		    pagination: false,
																		    showFooter: false,
																		    pageSize: "15",
													         				pageList: "[15,30,45,60]",
													         				detailView: false,
													         				locale: '{{.Lang}}',
															            };
								  		}
								  	})
							  	}


							  	self.event.data = event;
							  	self.journal.data = journal;
								self.performance.data = performance;
								self.log.data = log;
								self.raw.data = raw;
								self.tickets.data = tickets;
								self.change.data = change;
								//self.dashboard = dashboard;
								
								self.initResultBar();

						  		_.forEach(self.diagnosis.devops.result, function(v){
						  			if(v.value == "entity"){
						  				v.count = self.diagnosis.entity.nodes.length;		
						  			} else if(v.value == "graph"){
						  				v.count = self.diagnosis.graph.nodes.length;		
						  			} else {
						  				v.count = self[v.value].data.length;
						  			}

						  			if(v.count>0){
						  				v.active = " active";
						  			} else {
						  				v.active = "";
						  			}
						  		})
						  	
						 	},
						  	error: function(xhr, textStatus, errorThrown) {
						  	}
						});
					},
					resetDevops: function(){
						let self = this;

						self.event.data = [];
					  	self.journal.data = [];
						self.performance.data = [];
						self.log.data = [];
						self.raw.data = [];
						self.tickets.data = [];
						self.change.data = [];
						self.dashboard = [];
					},
				    selectModel: function(event){
				    	let self = this;
				    	let obj = $(".event-severity-btn ."+event);
				    	let _value = obj.data("value");
				    	let _class = obj.attr("class");

				    	if(_class.indexOf("active") != -1) {
				    		self.diagnosis.devops.model = _.pull(self.diagnosis.devops.model, _value);
				    		$(".search-"+_value).css("display","none");
				    	} else {
				    		self.diagnosis.devops.model.push(_value);
				    		$(".search-"+_value).css("display","");
				    	}
				    }
				}
			});
			
			$(document).keypress(function(event) {
			    let keycode = (event.keyCode ? event.keyCode : event.which);

			    if (keycode == 13) {
			    	$(".btn_search").click();
			    } else if (keycode == 27) { 
			    	self.setSearchParam("");
			    }
			})

		})
	})

</script>

<script type="text/x-template" id="app-template">
	<main id="content" class="content main-container">

		<div class="row">
			<div class="col-lg-4">
				<i class="fa fa-search fa-fw"></i> 
				<label>
					<h5>{{.i18n.Tr "mxdiagnosis_diagnosis_new"}}</h5>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12" style="padding-bottom:10px;">
				<div class="input-group searchinput">
	                <vue-search-input-component :model="search.input"></vue-search-input-component>
	                <div class="input-group-btn">
			            <vue-search-preset-component id="diagnosis-vue-search-preset" :preset="search.preset"></vue-search-preset-component>
			        </div>
			        <div class="input-group-btn">
		         	  	<button type="button" class="btn btn-success btn_search" @click="onSearch"><i class="fa fa-search" style="font-size:18px;"></i></button>
		         	</div>
	            </div>
			</div>
			<div class="col-lg-12">
				<div class="event-severity-btn" style="background-color:transparent;border:0px;padding:10px 0px;display: -webkit-box;float:right;">
                	<a 	href="javascript:void(0)" 
                		:class="'btn btn-xs btn-default '+v.name + v.active"
                		data-toggle="button"
						data-active-class="selected"
						:data-value="v.value"
                		v-for="(v,k) in diagnosis.devops.result" 
                		@click="selectModel(v.name)">${v.name}: ${v.count}</a>
				</div>
			</div>
		</div>
	  	
	  	<div class="row">
			
			<div class="col-lg-3" style="padding-right:0px;" id="nav">
		  		<search-entity :model="diagnosis.entity.nodes"></search-entity>
		  	</div>

		  	<div class="col-lg-9" id="content">

			  	<search-graph :model="diagnosis.graph.graphData" :show="ifShowGraph"></search-graph>

			  	<search-event :model="event" :show="ifShowEvent"></search-event>

			  	<search-journal :model="journal" :show="ifShowJournal"></search-journal>
				
				<search-log :model="log" :show="ifShowLog"></search-log>

				<search-raw :model="raw" :show="ifShowRaw"></search-raw>

				<search-performance :model="performance" :show="ifShowPerformance"></search-performance>
		
				<search-tickets :model="tickets" :show="ifShowTickets"></search-tickets>

				<search-change :model="change" :show="ifShowChange"></search-change>

			</div>
		</div>
	</div>
</script>

<script type="text/x-template" id="search-graph-template">
	<div class="ui-sortable">
		<div class="panel" data-sortable-id="ui-widget-7">
	        <div class="panel-heading" style="background-color:#b6c2ca">
	            <div class="panel-heading-btn">
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" data-original-title="" title=""><i class="fa fa-expand"></i></a>
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
	                
	            </div>
	            <h4 class="panel-title">Graph</h4>
	        </div>
	        <div class="panel-body">
	        	<div id="search-graph">
	            	<vue-entity-graph-component :model="model"></vue-entity-graph-component>
	            </div>
	        </div>
	    </div>
	</div>
</script>

<script type="text/x-template" id="search-event-template">
	<div class="ui-sortable">
  		<div class="panel" data-sortable-id="ui-widget-20">
            <div class="panel-heading" style="background-color:#b6c2ca">
                <div class="panel-heading-btn">
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	                
	            </div>
                <h4 class="panel-title">Event</h4>
            </div>
            <div class="panel-body">
                <div id="search-event">
					<div class="table-responsive">
				  		<vue-bootstrap-table id="dataTable-event"
											 :columns="model.columns"
											 :options="model.options"
											 :dataset="model.data"
											 :filter="[]"
											 contextMenu="context-menu-event"></vue-bootstrap-table>
						<!-- context menu -->
						<ul id="context-menu-event" class="dropdown-menu">
							<li data-item='{"num": "0", "app":"event","item":"detail", "show":"list"}'><a href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-list fa-fw"></i> Details</a></li>
							<li class="context-menu-item context-menu-separator context-menu-not-selectable"></li>
							<li data-item='{"num": "1", "app":"event","item":"journal","show":"table"}'><a href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-link fa-fw"></i> Journal</a></li>
							<li data-item='{"num": "2", "app":"event","item":"rawcaputer","show":"table"}'><a href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-list-alt fa-fw"></i> RawCaputer</a></li>
							<li data-item='{"num": "3", "app":"event","item":"eventkey","show":"table"}'><a href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-file-text fa-fw"></i> EventKey</a></li>
							<li data-item='{"num": "4", "app":"event","item":"history","show":"table"}'><a href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-history fa-fw"></i> History</a></li>
							<li data-item='{"num": "5", "app":"event","item":"timeline","show":"timeline"}'><a href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-clock-o fa-fw"></i> Timeline</a></li>
							<li data-item='{"num": "6", "app":"event","item":"diagnosis","show":"widget"}'><a href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-wrench fa-fw"></i> Diagnosis</a></li>
							<li class="context-menu-item context-menu-separator context-menu-not-selectable"></li>
							<li data-item='{"num": "7", "app":"event","item":"add","show":"command"}'><a href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-plus fa-fw"></i> New Action</a></li>
						</ul>
				  	</div>
				</div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="search-journal-template">
	<div class="ui-sortable">
  		<div class="panel" data-sortable-id="ui-widget-30">
            <div class="panel-heading" style="background-color:#b6c2ca">
                <div class="panel-heading-btn">
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" data-original-title="" title=""><i class="fa fa-expand"></i></a>
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
	                
	            </div>
                <h4 class="panel-title">Journal</h4>
            </div>
            <div class="panel-body">
                <div id="search-journal">
					<div class="table-responsive">
				  		<bootstrap-table :columns="model.columns" 
				  							 :options="model.options" 
				  							 :data="model.data"
				  							 forward="">
				  		</bootstrap-table>
				  	</div>
				</div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="search-log-template">
	<div class="ui-sortable" >

        <div class="panel" data-sortable-id="ui-widget-40">
            <div class="panel-heading" style="background-color:#b6c2ca">
                <div class="panel-heading-btn">
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" data-original-title="" title=""><i class="fa fa-expand"></i></a>
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
	                
	            </div>
                <h4 class="panel-title">Log</h4>
            </div>
            <div class="panel-body">
                <div id="search-log">
					<div class="table-responsive">
						<vue-bootstrap-table id="dataTable-log"
											 :columns="model.columns"
											 :options="model.options"
											 :dataset="model.data"
											 :filter="[]"
											 contextMenu="context-menu-log"></vue-bootstrap-table>
						<!-- context menu -->
						<ul id="context-menu-log" class="dropdown-menu">
							<li data-item='{"num": "0", "app":"log","item":"detail", "show":"list"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-list fa-fw"></i>
								Details</a></li>
							<li data-item='{"num": "1", "app":"log","item":"history","show":"table"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i
									class="fa fa-history fa-fw"></i> History</a></li>
							<li data-item='{"num": "2", "app":"log","item":"timeline","show":"timeline"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i
									class="fa fa-clock-o fa-fw"></i> Timeline</a></li>
							<li data-item='{"num": "3", "app":"log","item":"diagnosis","show":"widget"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i
									class="fa fa-wrench fa-fw"></i> Diagnosis</a></li>
							<li data-item='{"num": "4", "app":"log","item":"add","show":"command"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-plus fa-fw"></i>
								New Action</a></li>
						</ul>
					</div>
				</div>
            </div>
        </div>

	</div>
</script>

<script type="text/x-template" id="search-raw-template">
	<div class="ui-sortable" >

        <div class="panel" data-sortable-id="ui-widget-50">
            <div class="panel-heading" style="background-color:#b6c2ca">
                <div class="panel-heading-btn">
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" data-original-title="" title=""><i class="fa fa-expand"></i></a>
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
	                
	            </div>
                <h4 class="panel-title">RawCapture</h4>
            </div>
            <div class="panel-body">
                <div id="search-raw">
					<div class="table-responsive">
						<vue-bootstrap-table id="dataTable-raw"
											 :columns="model.columns"
											 :options="model.options"
											 :dataset="model.data"
											 :filter="[]"
											 contextMenu="context-menu-raw"></vue-bootstrap-table>
						<!-- context menu -->
						<ul id="context-menu-raw" class="dropdown-menu">
							<li data-item='{"num": "0", "app":"log","item":"detail", "show":"list"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-list fa-fw"></i>
								Details</a></li>
							<li data-item='{"num": "4", "app":"log","item":"add","show":"command"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-plus fa-fw"></i>
								New Action</a></li>
						</ul>
					</div>
				</div>
            </div>
        </div>

	</div>
</script>

<script type="text/x-template" id="search-tickets-template">
	<div class="ui-sortable">

        <div class="panel" data-sortable-id="ui-widget-60">
            <div class="panel-heading" style="background-color:#b6c2ca">
                <div class="panel-heading-btn">
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" data-original-title="" title=""><i class="fa fa-expand"></i></a>
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
	                
	            </div>
                <h4 class="panel-title">Ticket</h4>
            </div>
            <div class="panel-body">
                <div id="search-tickets">  
					<div class="table-responsive">
						<vue-bootstrap-table id="dataTable-tickets"
											 :columns="model.columns"
											 :options="model.options"
											 :dataset="model.data"
											 :filter="[]"
											 contextMenu="context-menu-tickets"></vue-bootstrap-table>
						<!-- context menu -->
						<ul id="context-menu-tickets" class="dropdown-menu">
							<li data-item='{"num": "0", "app":"log","item":"detail", "show":"list"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-list fa-fw"></i>
								Details</a></li>
							<li data-item='{"num": "4", "app":"log","item":"add","show":"command"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-plus fa-fw"></i>
								New Action</a></li>
						</ul>
				  	</div>
				</div>
            </div>
        </div>		

    </div>
</script>

<script type="text/x-template" id="search-change-template">
	<div class="ui-sortable">

        <div class="panel" data-sortable-id="ui-widget-70">
            <div class="panel-heading" style="background-color:#b6c2ca">
                <div class="panel-heading-btn">
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" data-original-title="" title=""><i class="fa fa-expand"></i></a>
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
	                
	            </div>
                <h4 class="panel-title">Change</h4>
            </div>
            <div class="panel-body">
                <div id="search-change">  
					<div class="table-responsive">
						<vue-bootstrap-table id="dataTable-change"
											 :columns="model.columns"
											 :options="model.options"
											 :dataset="model.data"
											 :filter="[]"
											 contextMenu="context-menu-change"></vue-bootstrap-table>
						<!-- context menu -->
						<ul id="context-menu-change" class="dropdown-menu">
							<li data-item='{"num": "0", "app":"log","item":"detail", "show":"list"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-list fa-fw"></i>
								Details</a></li>
							<li data-item='{"num": "4", "app":"log","item":"add","show":"command"}'><a
									href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-plus fa-fw"></i>
								New Action</a></li>
						</ul>
				  	</div>
				</div>
            </div>
        </div>

    </div>
</script>

<script type="text/x-template" id="search-performance-template">
	<div class="ui-sortable">

        <div class="panel" data-sortable-id="ui-widget-80">
            <div class="panel-heading" style="background-color:#b6c2ca">
                <div class="panel-heading-btn">
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" data-original-title="" title=""><i class="fa fa-expand"></i></a>
	                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
	                
	            </div>
                <h4 class="panel-title">Performance</h4>
            </div>
            <div class="panel-body">
                <div id="search-performance">  
					<div class="table-responsive">
						<vue-bootstrap-table id="dataTable-performance"
											 :columns="model.columns"
											 :options="model.options"
											 :dataset="model.data"
											 contextMenu="context-menu-performance">
						</vue-bootstrap-table>
						<!-- context menu -->
						<ul id="context-menu-performance" class="dropdown-menu">
							<li data-item='{"num": "0", "app":"performance","item":"detail", "show":"list"}'>
								<a href="javascript:void(0)" style="cursor:hand;"><i
										class="fa fa-list fa-fw"></i> Details</a></li>
							<li data-item='{"num": "1", "app":"performance","item":"history","show":"chart"}'>
								<a href="javascript:void(0)" style="cursor:hand;"><i
										class="fa fa-history fa-fw"></i> History</a></li>
							<li data-item='{"num": "2", "app":"performance","item":"kpi","show":"kpi"}'>
								<a href="javascript:void(0)" style="cursor:hand;"><i
										class="fa fa-wrench fa-fw"></i> Threshold</a></li>
							<li data-item='{"num": "3", "app":"performance","item":"add","show":"command"}'>
								<a href="javascript:void(0)" style="cursor:hand;"><i
										class="fa fa-plus fa-fw"></i> New Action</a></li>
						</ul>
					</div>
				</div>
            </div>
        </div>
	</div>
</script>

<script type="text/x-template" id="search-dashboard-template">
	<div id="search-dashboard" class="ui-sortable">  
		<div class="row" data-sortable-id="ui-widget-90">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" v-for="(item,index) in model" >
                <div class="well well-sm" style="margin: 0px -10px 15px 1px;min-height: 160px;-webkit-box-shadow: 3px 3px 0px 0px #ddd;-moz-box-shadow: 3px 3px 5px 5px #ddd;border: 1px solid #f0f0f0;box-shadow: 3px 3px 5px 0px #ddd;">
                    <span>
                        <a :href="item.href" target="_blank" style="color:rgba(0,0,0,.5);"><h4><i class='fa fa-braille' style='color:#a5771a;'></i> ${item.name}</h4></a>
                    </span>
                    <hr>
                    <span>
                        <a :href="item.href" target="_blank">
                            <img :src="'/web/assets/images/graph/neuro_'+_.random(0,7)+'.png'" style="width:75%;height:140px; margin: 0px 35px;">
                        </a>
                    </span>
                    <hr>
                    <span>
                        <i class='fa fa-tags' style='color:#337ab7;'></i> <label :id="'tagsLabel'+index" :value="item.tag._all" :data-index="index" placeholder='{{.i18n.Tr "mxdashboard_tag_add"}}'></label>
                    </span>
                    <span class="pull-left" style="font-size: 10px;">
                        <i class='fa fa-user' style='color:#337ab7;'></i> ${item.username} &nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-clock-o' style='color:#337ab7;'></i> ${ new Date(item.vtime).toLocaleString() } &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="rating" v-for="data in item.star">
                        <span style="color:gold;">☆</span>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a :href="item.href" target="_blank"><i class="fa fa-television" style='color:rgba(0,0,0,.5);position: absolute;right: 10px;top: 15px;z-index: 100;'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <br>
                    <br>
                </div>
            </div>
        </div>
	</div>
</script>

<script type="text/x-template" id="search-entity-template">
    <div class="panel" data-sortable-id="ui-widget-100">
        <div class="panel-heading" style="background-color:#b6c2ca">
            <div class="panel-heading-btn selectpicker-entity-btn">
				<select class="selectpicker selectpicker-entity dropup" 
						data-width="auto" 
						data-live-search="true">
					<optgroup :label="item.name" v-for="item in window.GLOBAL_OBJECT.company.dimension">
						<option v-for="items in item.value" :selected="items.selected">${items.name}</option>
					</optgroup>
				</select>
            </div>
            <h4 class="panel-title">Entity</h4>
        </div>
        <div class="panel-body" id="search-entity" style="min-height:100vh;">
            <vue-entity-tree-component id="diagnosis-entity-tree" :model="model" :dimension="dimension"></vue-entity-tree-component>
        </div>
    </div>
</script>

{{template "base/footer" .}}
