<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}
<!--MXClient JS & CSS-->
<script>
	mxBasePath = '{{AppSubUrl}}/web/creative/src';
	mxLanguage = window.MATRIX_LANG.replace(/en/g,"eg").split("-")[0];
</script>

<script src="{{AppSubUrl}}/web/creative/src/js/mxClient.js" type="text/javascript"></script>
<link href="{{AppSubUrl}}/web/creative/graph/styles/grapheditor.css" type="text/css" rel="stylesheet">

<script>
    mxResources.add('{{AppSubUrl}}/web/creative/graph/resources/grapheditor');
</script>
<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/systemStyle/zTreeStyle.css" type="text/css" rel="stylesheet">


<style>

	/* body */
	body {
		overflow:hidden;
	}

	/* content */
	#content.content {
		padding: 5px 10px 0px 5px!important;
	}

	/* Event view */
	.tree-view {
		padding: 0 15px;
	}

	/* 运维模式 */
	.view-normal .tree-view {
		display: none;
		width: 0%;
	}
	.view-normal .table-view {
		width: 100%;
	}

	/* 标签树模式 */
	.view-tags .tree-view {
		width: 18%;
	}
	.view-tags .table-view {
		width: 82%;
	}

	/* 全屏模式 */
	.view-fullscreen .tree-view {
		display: none;
		width: 0%;
	}
	.view-fullscreen .table-view {
		width: 100%;
	}

	/* timeline view */
	.timeline-view {
		background: rgb(250, 250, 250);
	}

	/* table view */
	.table-view {
		padding-top: 10px!important;
	}

	/* 告警详情页Tab */
	.detail.tab-pane.Tab{
		min-height: 72vh;
	}

	/* 告警分析 */
	form.event-view-detail > .form-group:nth-child(even) {
		background: rgb(249, 249, 249);
	}
	form.event-view-detail > .form-group:nth-child(odd) {
		background: rgb(255, 255, 255);
	}

	/* section.event-diagnosis{
		position: fixed;
		width: 94%;
		clear: both;
		top: 160px;
		left: 66px;
		background: #ffffff;
	} */

	section.entity-diagnosis > ul {
		padding:15px 0px;
		padding-left: 23vw;
	}

	section.entity-diagnosis > ul > li > a{
		font-size: 14px;
		color: #333333;
		background: transparent;
	}

	section.entity-diagnosis > ul > li.active > a{
		font-size: 14px;
		box-shadow: 1px 1px 1px 1px #ddd;
    	color: #ffffff!important;
    	border-radius: 2px;
    	background: rgb(130, 192, 255)!important;
	}

	section.entity-diagnosis > div.content{
		margin: 0px;
		padding:0px 15px;
		height:calc(90vh - 183px);
		overflow:auto;
	}

	section.entity-diagnosis > div.content > p{
		border:1px solid #ddd;
		padding:15px;
	}

	/* 告警统计widget */
	.event-view-summary-control{
		right: 15px;
		padding-top: 5px;
		display: inline-block;
		padding-right: 3px;
		vertical-align: middle;
		font-weight: 900;
		position: absolute;
		z-index: 10;
		cursor: pointer;
	}

	/* el tabs */
	#event-view-summary .el-tabs__content{
		max-height:160px;
		overflow-y:auto;
	}

	.el-tabs__item {
    	height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	.el-tabs__nav-prev,
	.el-tabs__nav-next{
		line-height: 30px;
	}

	.el-card__header{
		padding:0 5px;
	}
	.el-card__header > .clearfix > span {
		font-size: 14px;
		font-weight: 600;
	}

	/* 属性选择，隐藏第一列checkbox */
	.dt-button-collection.fixed.four-column > a:nth-child(1){
		display: none;
	}


	/* ace diff */
	/* #ace-container {
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		position: relative;
		bottom: 0;
		width: 100%;
		top: 0px !important;
		left: 0px;
		height: 50vh;
		width: 100%;
		overflow: auto;
	}
	#ace-container>div {
		flex-grow: 1;
		-webkit-flex-grow: 1;
		position: relative;
	}
	#ace-container>div#acediff-gutter {
		flex: 0 0 60px;
		-webkit-flex: 0 0 60px;
		border-left: 1px solid #999999;
		border-right: 1px solid #999999;
		background-color: #efefef;
		overflow: hidden;
	}

	.ace_editor {
		border: none;
	}

	#acediff-gutter svg {
		background-color: #efefef;
	}

	#acediff-left-editor {
		position: relative;
		top: 0;
		bottom: 0;
		width: 100%;
	}
	#acediff-right-editor {
		position: relative;
		top: 0;
		bottom: 0;
		width: 100%;
	}
	.acediff-diff {
		background-color: #d8f2ff;
		border-top: 1px solid #a2d7f2;
		border-bottom: 1px solid #a2d7f2;
		position: absolute;
		z-index: 4;
	}
	.acediff-diff.targetOnly {
		height: 0px !important;
		border-top: 1px solid #a2d7f2;
		border-bottom: 0px;
		position: absolute;
	}
	.acediff-connector {
		fill: #d8f2ff;
		stroke: #a2d7f2;
	}

	.acediff-copy-left {
		float: right;
	}
	.acediff-copy-right,
	.acediff-copy-left {
		position: relative;
	}
	.acediff-copy-right div {
		color: #000000;
		text-shadow: 1px 1px #ffffff;
		position: absolute;
		margin: 2px 3px;
		cursor: pointer;
	}
	.acediff-copy-right div:hover {
		color: #004ea0;
	}
	.acediff-copy-left div {
		color: #000000;
		text-shadow: 1px 1px #ffffff;
		position: absolute;
		right: 0px;
		margin: 2px 3px;
		cursor: pointer;
	}
	.acediff-copy-left div:hover {
		color: #c98100;
	} */
</style>

<div id="app"></div>

<script src="{{AppSubUrl}}/web/js/model/Entity.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>

<!-- Ace-Diff -->
<!-- <script src="{{AppSubUrl}}/web/vendor/ace-diff/ace_1.1.8.js" type="text/javascript"></script>
<script src="{{AppSubUrl}}/web/vendor/ace-diff/diff_match_patch.js"></script> -->
<script src="{{AppSubUrl}}/web/vendor/ace-diff/ace-diff.min.js"></script>
<link href="{{AppSubUrl}}/web/vendor/ace-diff/ace-diff.min.css" type="text/css" rel="stylesheet">


<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.excheck-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.exedit-3.5.js"></script>

<!-- ECharts单文件引入 --> 
<script src="{{AppSubUrl}}/web/vendor/echart/echarts.min.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/entity/entity-datatable-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/entity/event-diagnosis-datatable-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/entity/event-graph-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/entity/event-summary-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-timeline-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-base-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-preset-component_{{.Lang}}.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/probe/probe-tree-component.html"></link>


<script type="text/x-template" id="app-template">
	<div id="content" class="content">
		<el-row :gutter="10">
			<el-col :xl="24" style="padding-bottom:7px;">
				<search-base-component :id="model.id"
				                       :options="options"
									   ref="searchRef"
									   class="grid-content"></search-base-component>
			</el-col>
			<el-col :xl="24" style="min-height: 85vh;" id="event-view-container">
				<el-tabs v-model="layout.main.activeIndex" class="grid-content" type="border-card" closable @tab-remove="detailRemove">
					<el-tab-pane v-for="(item,index) in layout.main.tabs" :key="item.name" :label="item.title" :name="item.name">
						<div v-if="item.type==='main'">
							<el-tooltip :content="control.ifSmart==1?'智能分析启用中':'智能分析关闭中'" placement="top">
								<div class="event-view-summary-control">
									${control.ifSmart==1?'智能分析':'智能分析'}
									<el-switch
									v-model="control.ifSmart"
									active-color="#13ce66"
									inactive-color="#dddddd"
									active-value="1"
									inactive-value="0"
									@change="toggleSummaryBySmart">
									</el-switch>
								</div>
							</el-tooltip>
							<el-row :gutter="10" id="event-view-summary">
								<el-col :xl="24">
									<el-tabs v-model="layout.summary.activeIndex" type="border">
										<el-tab-pane v-for="(item,index) in layout.summary.tabs" :key="item.name" :label="item.title" :name="item.name">
											<div v-if="item.type=='radar'">
												<event-view-radar id="event-radar" :model='model.message'></event-view-radar>
											</div>
											<div v-if="item.type=='pie'">
												<event-view-pie id="event-pie" :model='model.message'></event-view-pie>
											</div>
										</el-tab-pane>
									</el-tabs>
								</el-col>
							</el-row>
							<el-row :gutter="10" id="event-view-console">
								<el-col :xl="8" class="tree-view animated fadeInRight">
									<probe-tree-component id="event-tree" :model="{parent:'/entity',name:'tree_data.js',domain:'entity'}"></probe-tree-component>
								</el-col>
								<el-col :xl="16" class="table-view animated fadeInLeft">
									<entity-datatable-component id="event-list" :model="model.message"></entity-datatable-component>
								</el-col>
							</el-row>
						</div>
						<div v-if="item.type==='detail'">
							<el-tabs v-model="layout.main.detail.activeIndex" style="background:#ffffff;">
								<el-tab-pane v-for="it in item.child" :key="it.name" :label="it.title" :name="it.name">
									<div v-if="it.type==='diagnosis'">
										<entity-diagnosis :id="it.name" :model="it.model"></entity-diagnosis>
									</div>
									<div v-else-if="it.type==='compare'">
										<entity-compare :id="it.name" :model="it.model"></entity-compare>
									</div>
									<div v-else>
										<!-- <event-diagnosis-datatable-component :id="it.name" :model="it.model[it.type]"></event-diagnosis-datatable-component> -->
									</div>
								</el-tab-pane>
							</el-tabs>
						</div>
					</tab>
				</el-tabs>
			</el-col>
		</el-row>
	</div>
</script>

{{template "base/footer" .}}
