<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}

<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/fsSystemzTreeStyle/zTreeStyle.css" type="text/css" rel="stylesheet">

<link href="{{AppSubUrl}}/web/vendor/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" >

<!-- Contextmenu core CSS -->
<link href="{{AppSubUrl}}/web/vendor/contextmenu/contextmenu.css"  rel="stylesheet" >

<link href="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.contextMenu.min.css" rel="stylesheet" />

<style>

    body {
        overflow: hidden;
    }

    .lm_goldenlayout {
        background: none;
        background-color: rgb(249, 249, 249);
    }

    .lm_content {
        background: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
        overflow: auto;
        padding: 5px 15px 5px 0px;
    }

    .lm_header .lm_tab.lm_active {
        border-bottom: none;
        box-shadow: none;
        padding-bottom: 5px;
    }

    .lm_tab:hover, .lm_tab.lm_active {
        background: rgb(255, 255, 255);
        color: rgb(119, 119, 119);
    }

    .lm_header .lm_tab {
        border: none;
    }

    .lm_splitter {
        opacity: .2;
    }

    [id="app"] {
        width: 100vw;
        height: 100vh;
    }

</style>

<div id="app"></div>

<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.all-3.5.min.js"></script>

<!--File Parse JS-->
<script src="{{AppSubUrl}}/web/vendor/papaparse/papaparse.min.js"></script>
<!--Jquery File Upload JS-->
<script src="{{AppSubUrl}}/web/vendor/js-load-image/js/load-image.all.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/canvas-to-blob.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-image.js"></script>

<script src="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.contextMenu.js" ></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-contextmenu/dist/jquery.ui.position.min.js" ></script>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-base-datatables-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-fs-tree-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-fs-view-component.html"></link>

<script type="text/javascript">

    var eventHub = new Vue();
    
    VueLoader.onloaded(["vue-base-datatables-component",
                        "vue-fs-tree-component",
                        "vue-fs-view-component"
                        ],function() {

        $(function() {

            "use strict";

            let treeVue = {
                delimiters: ['${', '}'],
                el: '#layout-tree-template',
                template: `<vue-fs-tree-component id="file-fs-tree" :root="root" :checkEnable="false" :contextMenu="null"></vue-fs-tree-component>`,
                data: {
                    root: "/",
                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {

                    })
                }
            };

            let consoleVue = {
                delimiters: ['${', '}'],
                el: '#layout-console-template',
                template: `<vue-fs-view-component id="file-fs-view" :root="root"></vue-fs-view-component>`,
                data: {
                    model: [],
                    root: "/",
                    toggle: {
                        left: true
                    }
                },
                created: function(){
                    let self = this;

                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {
                        self.init();
                    })
                },
                watch: {
                    model: function(newValue, oldValue) {
                        let self = this;

                        if (!_.isEqual(newValue, oldValue)) {
                            self.refresh();
                        }
                    }
                },
                methods: {
                    init: function() {
                        let self = this;

                    },
                    newModal: function() {
                        let self = this;
                        selectedTemplate = $(this).data("id");

                        var modal = $("#addDashBoardModal");
                        modal.modal("show");
                        //modal.find('#name').val(selectedTemplate + "_" + Math.floor(_.now()/1000));
                        modal.find('#title').val('');
                        modal.find('#tags').selectpicker('val', selectedTemplate);

                        $("#tags").tagsinput({
                            tagClass: function(item) {

                                if (item.indexOf("事件") > -1 || item.indexOf("event") > -1) {
                                    return 'label label-danger label-important';
                                } else if (item.indexOf("性能") > -1 || item.indexOf("performance") > -1) {
                                    return 'label label-warning';
                                } else if (item.indexOf("日志") > -1 || item.indexOf("log") > -1 || item.indexOf("蓝色") > -1) {
                                    return 'label label-primary';
                                } else if (item.indexOf("作业") > -1 || item.indexOf("job") > -1 || item.indexOf("绿色") > -1) {
                                    return 'label label-success';
                                } else if (item.indexOf("黑色") > -1) {
                                    return 'label label-default';
                                } else {
                                    return 'label label-default';
                                }
                            },
                        })
                    },
                    add: function() {
                        let self = this;
                        var modal = $("#addDashBoardModal");
                        var name = "dashboard_" + _.now(); //modal.find('#name').val();
                        var title = modal.find('#title').val();
                        if (_.isEmpty(title)) {
                            swal("地图标题不能空！", "", "warning");
                            modal.find('#title').setFocus();
                            return false;
                        }
                        var tags = modal.find("#tags").tagsinput('items');
                        var ispublic = $("#ispublic input:radio:checked").val();
                        var skin = $('input[name=radiooptions]:checked').val();
                        var data = new Object();

                        data.class = '/matrix/itmap';
                        data.name = name;
                        data.title = title;
                        data.tag = {
                            "_all": JSON.stringify(tags)
                        };
                        data.star = 0;
                        data.username = '{{.SignedUser.Name}}';
                        data.ispublic = ispublic;
                        data.portlet = null;
                        data.theme = new Array(JSON.stringify(theme[skin]));

                        jQuery.ajax({
                            url: '/mxobject/actiontoclass',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                data: JSON.stringify(data),
                                ctype: "insert"
                            },
                            beforeSend: function(xhr) {
                            },
                            complete: function(xhr, textStatus) {
                            },
                            success: function(data, textStatus, xhr) {
                                modal.modal("hide");
                                _.delay(function() {
                                    self.load();
                                }, 200);
                            },
                            error: function(xhr, textStatus, errorThrown) {
                            }
                        })
                    },
                    remove: function(name) {
                        let self = this;
                        var param = `#/matrix/filesystem: | name=` + name + ` | delete`;

                        swal({
                            title: name,
                            text: "确定要删除该地图吗?",
                            type: "warning",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            cancelButtonText: "取消",
                            confirmButtonText: "删除",
                            confirmButtonColor: "#ff0000"
                        }, function() {

                            jQuery.ajax({
                                url: '/mxobject/search',
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    cond: param
                                },
                                beforeSend: function(xhr) {
                                },
                                complete: function(xhr, textStatus) {
                                },
                                success: function(data, textStatus, xhr) {

                                    if (data.status == "ok") {
                                        _.delay(function() {
                                            self.load();
                                        }, 200);
                                        swal("删除成功！", "", "success");
                                    } else {
                                        swal("删除失败！", data.message, "warning");
                                    }
                                },
                                error: function(xhr, textStatus, errorThrown) {
                                }
                            });

                        })
                    },
                    refresh: function() {
                        let self = this;

                        $(".tagsLabel").tagsinput({
                            tagClass: function(item) {
                                return _.sample(['label label-success']);//, 'label label-default', 'label label-primary', 'label label-warning', 'label label-danger label-important']);
                            }
                        });

                        $(".tagsLabel").on('itemAdded', function(event) {

                            let _id = $(this).data("index");
                            let _item = _.find(self.model.list,{id:_id});

                            fetchData(_item.id + ' | tags +' + event.item);

                        });

                        $(".tagsLabel").on('itemRemoved', function(event) {

                            let _id = $(this).data("index");
                            let _item = _.find(self.model.list,{id:_id});

                            fetchData(_item.id + ' | tags -' + event.item);

                        });
                    },
                    validate: function(event) {
                        let self = this;
                        var name = event.val();
                        var retValue = {};

                        if (name == "") {
                            retValue.status = false;
                            retValue.msg = "";
                        } else {
                            retValue.status = true;
                        }

                        return retValue;
                    },
                    toggleLeft: function() {
                        let self = this;

                        if(self.toggle.left) {

                            $("#nav").hide(500);

                            $("#content").removeClass("col-lg-10");
                            $("#content").addClass("col-lg-12");
                            $("#content").css("padding","10px 15px 5px 15px");

                            $(".navtoggle").removeClass("fa fa-caret-left");
                            $(".navtoggle").addClass("fa fa-caret-right");

                            self.toggle.left = false;
                        } else {
                            $("#nav").show(500);

                            $("#content").removeClass("col-lg-12");
                            $("#content").addClass("col-lg-10");
                            $("#content").css("padding","10px 15px 5px 0px");

                            $(".navtoggle").removeClass("fa fa-caret-right");
                            $(".navtoggle").addClass("fa fa-caret-left");

                            self.toggle.left = true;
                        }
                    },
                }
            };

            let appApp = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                data: {
                    config: {
                        settings:{
                            showPopoutIcon: false,
                            showCloseIcon: false,
                            hasHeaders: false,
                        },
                        content: [{
                            type: 'row',
                            content:[
                                {
                                    type: 'stack',
                                    width: 20,
                                    content:[{
                                        type: 'component',
                                        componentName: 'layoutComponent',
                                        title:'我的文件',
                                        isClosable: false,
                                        componentState: {
                                            id: 'layout-tree',
                                            templateId: 'layout-tree-template'
                                        }
                                    }]
                                },
                                {
                                    type: 'column',
                                    content:[{
                                        type: 'component',
                                        componentName: 'layoutComponent',
                                        title:'内容',
                                        componentState: {
                                            id: 'layout-console',
                                            templateId: 'layout-console-template'
                                        }
                                    }]
                                }
                            ]
                        }]
                    }

                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {
                        setTimeout(function () {
                            self.init();
                        });
                    })
                },
                methods: {
                    init: function(){
                        let self = this;

                        //var savedState = localStorage.getItem('savedState');
                        //self.config = savedState !== null ? JSON.parse(savedState) : self.config;

                        var layout = new GoldenLayout(self.config, self.$el);

                        layout.registerComponent('layoutComponent', function (container, state) {
                            var html = "<div id=\"" + state.templateId + "\">" + $('#' + state.templateId).html() + "</div>";
                            container.getElement().html(html);

                            setTimeout(function(){
                                if(state.id == 'layout-tree'){
                                    new Vue(treeVue);
                                } else if(state.id == 'layout-console'){
                                    new Vue(consoleVue);
                                } else if(state.id == 'layout-output'){
                                    //new Vue(queryOutput);
                                }
                            })
                        });
                        //
                        //	Save state in local storage
                        //
                        layout.on('stateChanged', function () {
                            var state = JSON.stringify(layout.toConfig());
                            localStorage.setItem('savedState', state);
                        });
                        //  Initialize GL
                        layout.init();
                        //  Update GL on window resize
                        window.addEventListener('resize', function () { layout.updateSize(); });

                    },
                    resetLayout: function () {
                        localStorage.removeItem('savedState');
                        window.location.reload(true);
                    },
                    initClassTree: function(){
                        let self = this;
                    },
                    queryConsole: function(){
                        let self = this;

                        return {
                            methods: {
                                init: function(){
                                    alert(3)
                                }
                            }
                        }
                    },
                    initQueryOutput: function(){
                        let self = this;
                    }
                }
            });

        })

    })

</script>


{{template "base/footer" .}}
