<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}

<link href="{{AppSubUrl}}/web/vendor/alertifyjs/themes/alertify.default.css" type="text/css" rel="stylesheet" />


<style>

    .tools-item {
        width: 28px;
        height: 28px;
    }

    html td.mxWindowTitle {
        background-color: rgb(33, 148, 245);
        background-image: linear-gradient(180deg,rgb(33, 148, 245),rgb(33, 148, 245));
        background-repeat: repeat-x;
        color: #ffffff;
    }

    #outlineContainer {
        z-index:1;
        position:absolute;
        overflow:hidden;
        top:60px;
        right:5px;
        width:160px;
        height:120px;
        background:transparent;
        box-shadow: 3px 3px 12px #C0C0C0;
        background: url(../images/window.gif);
        border: 1px solid rgb(195, 195, 195);
    }

    .mxWindow{
        height:98px!important;
    }

    .theme-white {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    .theme-grey {
        background: #f9f9f9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #f9f9f9, #dddddd);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #f9f9f9, #dddddd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .theme-dark {
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.35) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.70) 120%) #989898;
        background-blend-mode: multiply,multiply;
    }

    #tools > img:hover{
        background-color:#dddddd;
        cursor:pointer;
    }

    .flow {
        stroke-dasharray: 8;
        animation: dash 0.5s linear;
        animation-iteration-count: infinite;
    }
    @keyframes dash {
        to {
            stroke-dashoffset: -16;
        }
    }

    @-webkit-keyframes flash {
        from, 50%, to {
            stroke-width: 6;
            stroke-opacity: 1;
        }

        25%, 75% {
            stroke-width: 4;
            stroke-opacity: 0.5;
        }
    }

    @keyframes flash {
        from, 50%, to {
            stroke-width: 6;
            stroke-opacity: 1;
        }

        25%, 75% {
            stroke-width: 4;
            stroke-opacity: 0.5;
        }
    }

    .flash {
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 2s;
        -webkit-animation-iteration-count: infinite;
    }

</style>

<div id="app"></div>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-base-datatables-component.html"></link>


<script type="text/javascript">
    
    VueLoader.onloaded(["vue-base-datatables-component"
                        ],function() {

        moment.locale({{.Lang}});


        $(".current-active-item").html('<a class="active item" href="{{AppSubUrl}}/janesware/creative"><i class="fa fa-sitemap"></i>&nbsp;{{.i18n.Tr .ActiveView }}</a>');

        $(function() {

            var appVue = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                template: '#app-template',
                data: {
                    model: {
                        object: {
                            data: null,
                            param: null,
                            nodes: {},
                            tip: []
                        },
                        container: null,
                        model: null,
                        graph:null,
                        layout: null,
                        layoutMgr: null

                    },
                    theme: "",
                    crontab: {
                        load: {
                            sched: Object,
                            timer: Object
                        },
                        update:{
                            sched: Object,
                            timer: Object
                        }
                    },
                    count: 1
                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {
                        self.init();
                        self.initData();
                        self.initPlugIn();
                    })
                },
                watch: {
                    'model.object.data': {
                        handler: function (val, oldValue) {
                            let self = this;

                            if(val != oldValue){
                                //self.update();
                            }
                        },
                        deep: true
                    }
                },
                created: function() {
                    let self = this;

                    let _tmp = localStorage.getItem("graph-object");

                    self.model.object.param = _.attempt(JSON.parse.bind(null, _tmp));

                    self.model.object.data = fsContent(self.model.object.param.parent, self.model.object.param.name);

                },
                methods: {
                    init: function() {
                        let self = this;

                        if (!mxClient.isBrowserSupported())
                        {
                            // Displays an error message if the browser is
                            // not supported.
                            mxUtils.error('Browser is not supported!', 200, false);
                        }
                        else
                        {

                            mxConstants.SHADOWCOLOR = "#b9b9b9";
                            mxConstants.SHADOW_OFFSET_X = 4;
                            mxConstants.SHADOW_OFFSET_Y = 4;
                            mxConstants.SHADOW_OPACITY = 0.22;


                            self.model.container = document.getElementById('graph');
                            self.model.container.style.position = 'absolute';
                            self.model.container.style.overflow = 'hidden';
                            self.model.container.style.left = '0px';
                            self.model.container.style.top = '55px';
                            self.model.container.style.right = '0px';
                            self.model.container.style.bottom = '0px';
                            document.body.appendChild(self.model.container);


                            mxEvent.disableContextMenu(self.model.container);

                            if (mxClient.IS_QUIRKS)
                            {
                                document.body.style.overflow = 'hidden';
                                new mxDivResizer(self.model.container);
                                new mxDivResizer(outline);
                            }

                            // Creates the graph inside the given container
                            self.model.model = new mxGraphModel();
                            self.model.graph = new mxGraph(self.model.container, self.model.model);

                            // Enables automatic sizing for vertices after editing and
                            // panning by using the left mouse button.
                            self.model.graph.setEnabled(false);
                            self.model.graph.setCellsMovable(false);
                            self.model.graph.setAutoSizeCells(true);
                            self.model.graph.setPanning(true);
                            self.model.graph.centerZoom = true;
                            self.model.graph.panningHandler.useLeftButtonForPanning = true;

                            self.model.graph.getCursorForCell = function(cell){
                                if (cell != null && cell.value != null && cell.vertex ==1 ){
                                    return 'pointer';
                                }
                            }

                            // Creates the default style for vertices
                            var style = [];
                            style[mxConstants.STYLE_SHADOW] = true;

                            //style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_RECTANGLE;
                            //style[mxConstants.STYLE_PERIMETER] = mxPerimeter.RectanglePerimeter;
                            style[mxConstants.STYLE_STROKECOLOR] = '#ffffff';
                            style[mxConstants.STYLE_STROKEWIDTH] = 1;
                            style[mxConstants.STYLE_STROKE_OPACITY] = 80;
                            style[mxConstants.STYLE_ROUNDED] = true;
                            style[mxConstants.HIGHLIGHT_OPACITY] = '10%';
                            //style[mxConstants.STYLE_FILLCOLOR] = 'none';
                            //style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
                            //style[mxConstants.STYLE_FONTCOLOR] = '#774400';
                            style[mxConstants.STYLE_GLASS] = 0;
                            style[mxConstants.STYLE_GRADIENT_DIRECTION] = mxConstants.DIRECTION_NORTH;
                            style[mxConstants.STYLE_ALIGN] = mxConstants.ALIGN_CENTER;
                            style[mxConstants.STYLE_VERTICAL_ALIGN] = mxConstants.ALIGN_MIDDLE;
                            style[mxConstants.STYLE_FONTSIZE] = '12';
                            style[mxConstants.STYLE_FONTSTYLE] = 1;
                            self.model.graph.getStylesheet().putDefaultVertexStyle(style);

                            // Displays a popupmenu when the user clicks
                            // on a cell (using the left mouse button) but
                            // do not select the cell when the popup menu
                            // is displayed
                            self.model.graph.panningHandler.popupMenuHandler = false;


                            // Disables tooltips on touch devices
                            self.model.graph.setTooltips(!mxClient.IS_TOUCH);

                            self.initGraph();

                            _.delay(function(){
                                self.model.graph.addListener(mxEvent.CLICK, function(sender, evt)
                                {

                                    let cell = evt.getProperty('cell');

                                    if(_.isEmpty(cell)) return;

                                    let _value = cell.getValue();

                                    if (cell.getValue() == '开始'){

                                        jobContextReset("BOB");

                                        swal({
                                            title: '确定要开始任务?',
                                            text: moment().format("LLL"),
                                            type: 'warning',
                                            showCancelButton: true,
                                            confirmButtonColor: '#d33',
                                            cancelButtonColor: '#3085d6',
                                            confirmButtonText: '开始',
                                            cancelButtonText: '取消'
                                        }).then((result) => {
                                            if (result.value) {

                                                $(".navbar.navbar-default.navbar-fixed-top").fadeOut();
                                                $(".navbar.navbar-default.navbar-fixed-bottom").fadeOut();

                                                self.model.container.style.top = "0px";

                                                self.toggleFullScreen();

                                                alertify.log('任务运行中。。', 'success');
                                            }
                                        })
                                    }

                                    self.tip(cell.getValue());

                                });
                            },500)

                        }
                    },
                    initGraph: function(){
                        let self = this;

                        // Load cells and layouts the graph
                        self.model.graph.getModel().beginUpdate();
                        try
                        {
                            var doc = mxUtils.parseXml(self.model.object.data);
                            var codec = new mxCodec(doc);
                            codec.decode(doc.documentElement, self.model.graph.getModel());
                        }
                        finally
                        {
                            // Updates the display
                            self.model.graph.getModel().endUpdate();

                            //$("g text").parent().parent().before("[transform='translate(0.5,0.5)']").remove();
                        }
                    },
                    initPlugIn: function(){
                        let self = this;

                        self.crontab.load.sched = later.parse.text('every 1 sec');
                        self.crontab.load.timer = later.setInterval(self.initData, self.crontab.load.sched);

                        self.update();
                        //self.crontab.update.sched = later.parse.text('every 2 sec');
                        //self.crontab.update.timer = later.setInterval(self.update, self.crontab.update.sched);

                        self.initOutline();
                        self.initTools();
                    },
                    initData: function(){
                        let self = this;

                        let _key = self.model.object.param.name;

                        let _rtn = jobContextGet("BOB", "BOB");

                        console.log(_key,_rtn)
                        if (!_.isEmpty(_rtn)) {
                            self.model.object.nodes = _rtn.message;
                            self.update();
                        }

                    },
                    update: function () {

                        let self = this;

                        self.model.graph.getModel().beginUpdate();

                        try {

                            /*  for (var k in self.model.object.nodes) {
                                if (self.model.object.nodes.hasOwnProperty(k)) {
                                    let val = self.model.object.nodes[k];
                                    console.log(val, k)
                                }
                            }*/
                            let _cells = self.model.graph.getChildVertices(self.model.graph.getDefaultParent(),true);

                            _.forEach(_cells, function (cell, k) {
                                // Resets the fillcolor and the overlay
                                self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, 'white', [cell]);
                                self.model.graph.removeCellOverlays(cell);
                            })
                        }
                        finally {
                            self.model.graph.getModel().endUpdate();
                            //$("g").addClass("animated flash");
                        }

                        self.model.graph.getModel().beginUpdate();

                        try {

                            let _cells = self.model.graph.getChildVertices(self.model.graph.getDefaultParent(),true);

                            _.forEach(_cells, function (cell, k) {
                                //self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, 'white', [cell]);
                                self.model.graph.removeCellOverlays(cell);
                            })

                            if(_.isEmpty(self.model.object.nodes)) {
                                _.forEach(_cells, function (cell, k) {
                                    //self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, 'white', [cell]);
                                    self.model.graph.removeCellOverlays(cell);
                                })
                                return;
                            }

                            _.forEach(self.model.object.nodes,function (val,k) {
                                let v = JSON.parse(val);
                                let _id = _.last(k.split("/"));
                                let _cell = self.model.graph.getModel().getCell(_id);

                                let state = self.model.graph.view.getState(_cell);

                                if(v.status == 1){
                                    //$('.animated.flash').removeClass("animated infinite flash");
                                    //self.model.graph.setCellWarning(_cell, '<b>未执行:</b>: '+_id);
                                    //self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#999999', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#999999', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '4', [_cell]);

                                    self.tip(_id + " 未执行",1);


                                } else if(v.status == 2){
                                    //$('.animated.flash').removeClass("animated infinite flash");
                                    //self.model.graph.setCellWarning(_cell, '<b>成功:</b>: '+_id);
                                    //self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#fb831b', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#fb831b', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '4', [_cell]);

                                    self.tip(_id + " 正在运行",2);

                                    if(state && state.shape.node){
                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("rect"))){
                                            state.shape.node.getElementsByTagName("rect")[1].setAttribute('class', 'animated infinite flash');
                                        }

                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("path"))){
                                            state.shape.node.getElementsByTagName("path")[1].setAttribute('class', 'animated infinite flash');
                                        }
                                    }

                                } else if(v.status == 3){
                                    //$('.animated.flash').removeClass("animated infinite flash");
                                    //self.model.graph.setCellWarning(_cell, '<b>失败:</b>: '+_id);
                                    //self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#29adbf', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#29adbf', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '4', [_cell]);

                                    self.tip(_id + " 运行完毕",3);

                                } else if(v.status == 4){
                                    //$('.animated.flash').removeClass("animated infinite flash");
                                    //self.model.graph.setCellWarning(_cell, '<b>跳过不执行:</b>: '+_id);
                                    //self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#e5494e', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#e5494e', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '4', [_cell]);

                                    self.tip(_id + " 报错",4);

                                } else if(v.status == 5){
                                    //$('.animated.flash').removeClass("animated infinite flash");
                                    //self.model.graph.setCellWarning(_cell, '<b>正在进行:</b>: '+_id);
                                    //self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#b8b8b8', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#b8b8b8', [_cell]);
                                    self.model.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '4', [_cell]);

                                    self.tip(_id + " 跳过不执行",5);
                                }


                            })


                        }
                        finally {
                            self.model.graph.getModel().endUpdate();
                        }

                    },
                    tip: function(event,severity){
                        let self = this;

                        if (severity == 5) {
                            alertify.log(event + ' ' + moment().format("LLL"));
                        } else if (severity == 4) {
                            alertify.error(event + ' ' + moment().format("LLL"));
                        } else {
                            alertify.success(event + ' ' + moment().format("LLL"));
                        }
                    },
                    initOutline: function(){
                        let self = this;

                        let outline = document.getElementById('outlineContainer');
                        outline.style.top = '60px';
                        outline.style.left = '5px'

                        // Creates the outline (navigator, overview) for moving
                        // around the graph in the top, right corner of the window.
                        let outln = new mxOutline(self.model.graph, outline);

                        $("#page-container").on("dblclick",function() {
                            jobContextReset("BOB");
                        })

                        $("body").on("dblclick",function(){
                            jobContextReset("BOB");

                            let _cells = self.model.graph.getChildVertices(self.model.graph.getDefaultParent(),true);

                            $('.animated.flash').removeClass("animated infinite flash");

                            _.forEach(_cells, function (cell, k) {
                                //self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, 'white', [cell]);
                                self.model.graph.removeCellOverlays(cell);
                            })
                        })
                    },
                    reload: function(){
                        let self = this;

                        self.model.object.data = fsContent(self.model.object.param.parent, self.model.object.param.name);
                        self.initGraph();
                    },
                    initTools: function () {
                        let self = this;

                        let content = document.getElementById('tools');
                        content.style.padding = '4px';

                        let tb = new mxToolbar(content);

                        tb.addItem('{{.i18n.Tr "creative-tools-zoom_in"}}', '/web/assets/images/iflow/zoom_in.png',function(evt)
                        {
                            self.model.graph.zoomIn();
                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-zoom_out"}}', '/web/assets/images/iflow/zoom_out.png',function(evt)
                        {
                            self.model.graph.zoomOut();
                        },null,'tools-item');

                        /*tb.addItem('{{.i18n.Tr "creative-tools-actual_size"}}', '/web/assets/images/iflow/actual_size.png',function(evt)
                        {
                            self.model.graph.zoomActual();
                        },null,'tools-item');*/

                        tb.addItem('{{.i18n.Tr "creative-tools-print"}}', '/web/assets/images/iflow/print.png',function(evt)
                        {
                            var preview = new mxPrintPreview(self.model.graph, 1);
                            preview.open();
                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-fullscreen"}}', '/web/assets/images/iflow/exit-fullscreen.png',function(evt)
                        {
                            if ($(".navbar.navbar-default.navbar-fixed-top").css("display") == "none"){

                                $(".navbar.navbar-default.navbar-fixed-top").fadeIn();
                                $(".navbar.navbar-default.navbar-fixed-bottom").fadeIn();

                                evt.target.src = "/web/assets/images/iflow/exit-fullscreen.png";

                                self.model.container.style.top = "55px";


                            } else {

                                $(".navbar.navbar-default.navbar-fixed-top").fadeOut();
                                $(".navbar.navbar-default.navbar-fixed-bottom").fadeOut();

                                evt.target.src = "/web/assets/images/iflow/fullscreen.png";

                                self.model.container.style.top = "0px";

                            }

                            toggleFullScreen();


                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-reset"}}', '/web/assets/images/iflow/reset.png',function(evt)
                        {
                            self.reload();
                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-theme"}}', '/web/assets/images/iflow/theme.png',function(evt)
                        {

                            let _theme = _.sample(['theme-white', 'theme-dark']);

                            $("body").removeClass(self.theme);
                            $('body').addClass(_theme);

                            if(_theme == 'theme-dark'){
                                $("html td.mxWindowTitle").css( {
                                    "backgroundColor": "rgb(90, 90, 90)",
                                    "backgroundImage": "linear-gradient(180deg,rgb(90, 90, 90),rgb(90, 90, 90))"
                                });
                            } else {
                                $("html td.mxWindowTitle").css( {
                                    "backgroundColor": "rgb(33, 148, 245)",
                                    "backgroundImage": "linear-gradient(180deg,rgb(33, 148, 245),rgb(33, 148, 245))"
                                });
                            }

                            self.theme = _theme;
                            localStorage.setItem("CREATIVE-THEME",_theme);



                        },null,'tools-item');


                        wnd = new mxWindow('{{.i18n.Tr "creative-tools"}}', content, 5, 190, 160, 86, false);//$( window ).width() - 165, 190, 160, 86, false);
                        wnd.setMaximizable(false);
                        wnd.setScrollable(false);
                        wnd.setResizable(false);
                        wnd.setVisible(true);

                        _.delay(function(){
                            self.theme = localStorage.getItem("CREATIVE-THEME");

                            $("body").addClass(self.theme);

                            if(self.theme == 'theme-dark'){
                                $("html td.mxWindowTitle").css( {
                                    "backgroundColor": "rgb(90, 90, 90)",
                                    "backgroundImage": "linear-gradient(180deg,rgb(90, 90, 90),rgb(90, 90, 90))"
                                });
                            } else {
                                $("html td.mxWindowTitle").css( {
                                    "backgroundColor": "rgb(33, 148, 245)",
                                    "backgroundImage": "linear-gradient(180deg,rgb(33, 148, 245),rgb(33, 148, 245))"
                                });
                            }
                        },100)
                    },
                    initStyle: function(){
                        let self = this;

                        $("svg").append(`<defs>
                                            <filter id="f1" x="0" y="0" width="200%" height="200%">
                                              <feOffset result="offOut" in="SourceAlpha" dx="1" dy="1" />
                                              <feGaussianBlur result="blurOut" in="offOut" stdDeviation="3" />
                                              <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                                            </filter>
                                          </defs>`);
                        $("rect").attr("filter","url(#f1)");
                    },
                    initNodeTools: function(graph){
                        let self = this;

                        // Defines the tolerance before removing the icons
                        let iconTolerance = 20;

                        // Shows icons if the mouse is over a cell
                        graph.addMouseListener(
                            {
                                currentState: null,
                                currentIconSet: null,
                                mouseDown: function(sender, me)
                                {
                                    // Hides icons on mouse down
                                    if (this.currentState != null)
                                    {
                                        this.dragLeave(me.getEvent(), this.currentState);
                                        this.currentState = null;
                                    }
                                },
                                mouseMove: function(sender, me)
                                {
                                    if (this.currentState != null && (me.getState() == this.currentState ||
                                        me.getState() == null))
                                    {
                                        var tol = iconTolerance;
                                        var tmp = new mxRectangle(me.getGraphX() - tol,
                                            me.getGraphY() - tol, 2 * tol, 2 * tol);

                                        if (mxUtils.intersects(tmp, this.currentState))
                                        {
                                            return;
                                        }
                                    }

                                    var tmp = graph.view.getState(me.getCell());

                                    // Ignores everything but vertices
                                    if (graph.isMouseDown || (tmp != null && !graph.getModel().isVertex(tmp.cell)))
                                    {
                                        tmp = null;
                                    }

                                    if (tmp != this.currentState)
                                    {
                                        if (this.currentState != null)
                                        {
                                            this.dragLeave(me.getEvent(), this.currentState);
                                        }

                                        this.currentState = tmp;

                                        if (this.currentState != null)
                                        {
                                            this.dragEnter(me.getEvent(), this.currentState);
                                        }
                                    }
                                },
                                mouseUp: function(sender, me) { },
                                dragEnter: function(evt, state)
                                {
                                    if (this.currentIconSet == null)
                                    {
                                        this.currentIconSet = new self.mxIconSet(state);
                                    }
                                },
                                dragLeave: function(evt, state)
                                {
                                    if (this.currentIconSet != null)
                                    {
                                        this.currentIconSet.destroy();
                                        this.currentIconSet = null;
                                    }
                                }
                            });
                    },
                    mxIconSet: function (state){
                        this.images = [];
                        var graph = state.view.graph;

                        // Icon1
                        var img = mxUtils.createImage('/web/assets/images/iflow/zoom_in.png');
                        img.setAttribute('title', 'Duplicate');
                        img.style.position = 'absolute';
                        img.style.cursor = 'pointer';
                        img.style.width = '16px';
                        img.style.height = '16px';
                        img.style.left = (state.x + state.width) + 'px';
                        img.style.top = (state.y + state.height) + 'px';

                        mxEvent.addGestureListeners(img,
                            mxUtils.bind(this, function(evt)
                            {
                                var s = graph.gridSize;
                                graph.setSelectionCells(graph.moveCells([state.cell], s, s, true));
                                mxEvent.consume(evt);
                                this.destroy();
                            })
                        );

                        state.view.graph.container.appendChild(img);
                        this.images.push(img);

                        // Delete
                        var img = mxUtils.createImage('/web/assets/images/iflow/zoom_out.png');
                        img.setAttribute('title', 'Delete');
                        img.style.position = 'absolute';
                        img.style.cursor = 'pointer';
                        img.style.width = '16px';
                        img.style.height = '16px';
                        img.style.left = (state.x + state.width) + 'px';
                        img.style.top = (state.y - 16) + 'px';

                        mxEvent.addGestureListeners(img,
                            mxUtils.bind(this, function(evt)
                            {
                                // Disables dragging the image
                                mxEvent.consume(evt);
                            })
                        );

                        mxEvent.addListener(img, 'click',
                            mxUtils.bind(this, function(evt)
                            {
                                graph.removeCells([state.cell]);
                                mxEvent.consume(evt);
                                this.destroy();
                            })
                        );

                        state.view.graph.container.appendChild(img);
                        this.images.push(img);
                    },
                    delOverlay: function(id){
                        let self = this;
                        let cell = self.model.graph.getModel().getCell(id);

                        self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, "#CCCCCC", [cell]);
                        self.model.graph.setCellStyles(mxConstants.STYLE_FONTCOLOR, "#000000", [cell]);

                        self.model.graph.removeCellOverlays(cell);
                    },
                    addOverlay: function(id, state){
                        let self = this;
                        let cell = self.model.graph.getModel().getCell(id);

                        self.model.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, "#FF0000", [cell]);
                        self.model.graph.setCellStyles(mxConstants.STYLE_FONTCOLOR, "#FFFFFF", [cell]);

                        self.model.graph.addCellOverlay(cell, createOverlay(graph.warningImage, '状态: '+state));
                    },
                    createOverlay: function(image, tooltip){
                        let self = this;
                        let overlay = new mxCellOverlay(image, tooltip);

                        overlay.addListener(mxEvent.CLICK, function(sender, evt){
                            mxUtils.alert(tooltip);
                        });
                        return overlay;
                    }
                }
            });


        })
    })
</script>

{{template "base/footer" .}}
<script type="text/x-template" id="app-template">
    <div>
        <div id="graph"></div>
        <div id="tools"></div>
        <div id="outlineContainer"></div>
    </div>
</script>
