{{template "base/head" .}}

<link rel="stylesheet" type="text/css" href="{{AppSubUrl}}/web/vendor/mxgraph/graph/styles/grapheditor.css">

<style>

    #title{
        font-size: 38px;
        font-weight: 600;
        font-family: "micosoft yahei";
        left: 35px;
        top: 10px;
        position: fixed;
        color:rgb(219, 219, 219)
    }

    .tools-item {
        width: 28px;
        height: 28px;
    }

    html td.mxWindowTitle {
        background-color: rgb(33, 148, 245);
        background-image: linear-gradient(180deg,rgb(33, 148, 245),rgb(33, 148, 245));
        background-repeat: repeat-x;
        color: #ffffff;
    }

    #outlineContainer {
        top: 0px;
        left: 5px;
        position: relative;
        z-index: 100;
        overflow:hidden;
        width:160px;
        height:120px;
        background:transparent;
        box-shadow: 3px 3px 12px #C0C0C0;
        border: 1px solid rgb(195, 195, 195);
    }

    #graph > svg {
        background-image:none!important;
        padding-top: 10px;
    }

    .geDiagramContainer {
        border:none;
    }


    #tools > img:hover{
        background-color:#dddddd;
        cursor:pointer;
    }

    .flow {
        stroke-dasharray: 8;
        animation: dash 0.5s linear;
        animation-iteration-count: infinite;
    }
    @keyframes dash {
        to {
            stroke-dashoffset: -16;
        }
    }

    @-webkit-keyframes flash {
        from, 50%, to {
            stroke-width: 6;
            stroke-opacity: 1;
        }

        25%, 75% {
            stroke-width: 2;
            stroke-opacity: 0.2;
        }
    }

    @keyframes flash {
        from, 50%, to {
            stroke-width: 6;
            stroke-opacity: 1;
        }

        25%, 75% {
            stroke-width: 2;
            stroke-opacity: 0.2;
        }
    }

    .flash {
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
    }


    /* svg path dash effect */
    path {
        stroke-dasharray: 10;
        stroke-dashoffset: 100;
        animation: dash 5s linear infinite;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }


</style>

<div id="content">
    <div id="app"></div>
</div>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-base-datatables-component.html"></link>

<script type="text/javascript">
    // urlParams is null when used for embedding
    window.urlParams = window.urlParams || {};

    // Public global variables
    window.MAX_REQUEST_SIZE = window.MAX_REQUEST_SIZE  || 10485760;
    window.MAX_AREA = window.MAX_AREA || 15000 * 15000;

    // URLs for save and export
    window.RESOURCES_PATH = "{{AppSubUrl}}/web/vendor/mxgraph/graph/resources";
    window.STYLE_PATH = "{{AppSubUrl}}/web/vendor/mxgraph/graph/styles";
    window.STENCIL_PATH = "{{AppSubUrl}}/web/vendor/mxgraph/graph/stencils";
    window.IMAGE_PATH = "{{AppSubUrl}}/web/vendor/mxgraph/graph/images";
    window.CSS_PATH = "{{AppSubUrl}}/web/vendor/mxgraph/graph/styles";
    window.OPEN_FORM = "{{AppSubUrl}}/web/vendor/mxgraph/graph/open.html";

    window.EXPORT_URL = window.EXPORT_URL || '/export';
    window.SAVE_URL = window.SAVE_URL || '/save';
    window.OPEN_URL = window.OPEN_URL || '/open';
    window.RESOURCES_PATH = window.RESOURCES_PATH || 'resources';
    window.RESOURCE_BASE = window.RESOURCE_BASE || window.RESOURCES_PATH + '/grapheditor';
    window.STENCIL_PATH = window.STENCIL_PATH || 'stencils';
    window.IMAGE_PATH = window.IMAGE_PATH || 'images';
    window.STYLE_PATH = window.STYLE_PATH || 'styles';
    window.CSS_PATH = window.CSS_PATH || 'styles';
    window.OPEN_FORM = window.OPEN_FORM || 'open.html';

    mxBasePath = '{{AppSubUrl}}/web/vendor/mxgraph/src';
    mxLanguage = '{{.Lang}}'.replace(/"/g,"").replace(/en/g,"eg").split("-")[0];

</script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/deflate/pako.min.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/deflate/base64.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/jscolor/jscolor.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/sanitizer/sanitizer.min.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/src/js/mxClient.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/EditorUi.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Editor.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Sidebar.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Graph.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Format.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Shapes.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Actions.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Menus.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Toolbar.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/vendor/mxgraph/graph/js/Dialogs.js"></script>




<script type="text/javascript">

    VueLoader.onloaded(["vue-base-datatables-component"],function() {

        moment.locale({{.Lang}});

        const URL_PARAMS_ITEM = _.attempt(JSON.parse.bind(null, decodeURIComponent(window.atob(urlParams['item']))));
        const URL_PARAMS_CFG = _.attempt(JSON.parse.bind(null, decodeURIComponent(window.atob(urlParams['cfg']))));
        const URL_PARAMS_SESSIONID = urlParams['sessionid'];

        //matrixCookies.set('MatrixSession', URL_PARAMS_SESSIONID);


        let init = function(){

            $(".geDiagramContainer").css("background-color","#000000");
            _.forEach(URL_PARAMS_CFG,function(v,k){

                if(!v){
                    $(`#${k}`).hide();
                }
            })
            $(".geDiagramContainer").css("background-color","#ffffff");

        }();

        $(function() {

            var appVue = new Vue({
                delimiters: ['${', '}'],
                el: '#app',
                template: '#app-template',
                data: {
                    model: {
                        object: {
                            data: null,
                            nodes: {},
                            tip: []
                        },
                        project: {},
                        graph:{
                            container: null,
                            model: null,
                            graph: null,
                            selectedCell: null,
                            theme: "theme-white",
                            data: null,
                            prompt: null,
                            outline: null,
                            appData:null
                        }

                    },
                    crontab: {
                        frequency: 15,
                        load: {
                            sched: Object,
                            timer: Object
                        }
                    },
                    win: {
                        toolbars: null,
                        cmd: null,
                        start: null,
                        end: null,
                    }
                },
                mounted: function() {
                    let self = this;

                    self.$nextTick(function() {
                        self.init();
                        self.initPlugIn();
                    })
                },
                watch: {
                    'model.graph.appData':  {
                        handler:function(val,oldVal){
                            let self = this;

                            self.update();
                        },
                        deep:true
                    }
                },
                created: function() {
                    let self = this;

                    self.model.graph.data = fsContent(URL_PARAMS_ITEM.parent, URL_PARAMS_ITEM.name);

                },
                methods: {
                    toCenter: function(){
                        let self = this;

                        //self.model.graph.graph.fit();//自适应
                        self.model.graph.graph.center(true,true,0.5,0);//将画布放到容器中间
                        // var sc = self.model.graph.graph.getView().getScale();//获取当前的缩放比例
                        // self.model.graph.graph.zoomTo(Math.round(sc/2));//在缩放一半，否则是满屏状态，不好看

                    },
                    init: function() {
                        let self = this;

                        if (!mxClient.isBrowserSupported())
                        {
                            // Displays an error message if the browser is
                            // not supported.
                            mxUtils.error('Browser is not supported!', 200, false);
                        }
                        else
                        {

                            self.model.graph.container = document.getElementById('graph');
                            self.model.graph.container.style.position = 'absolute';
                            self.model.graph.container.style.overflow = 'hidden';
                            self.model.graph.container.style.left = '0px';
                            self.model.graph.container.style.top = '55px';
                            self.model.graph.container.style.right = '0px';
                            self.model.graph.container.style.bottom = '0px';
                            document.body.appendChild(self.model.graph.container);


                            //mxEvent.disableContextMenu(self.model.graph.container);

                            if (mxClient.IS_QUIRKS)
                            {
                                document.body.style.overflow = 'hidden';
                                new mxDivResizer(self.model.graph.container);
                                new mxDivResizer(outline);
                            }

                            // Creates the graph inside the given container
                            self.model.graph.model = new mxGraphModel();
                            self.model.graph.graph = new mxGraph(self.model.graph.container, self.model.graph.model);

                            // Enables automatic sizing for vertices after editing and
                            // panning by using the left mouse button.
                            self.model.graph.graph.setEnabled(false);
                            self.model.graph.graph.setCellsMovable(true);
                            self.model.graph.graph.setAutoSizeCells(true);
                            self.model.graph.graph.setPanning(true);
                            self.model.graph.graph.centerZoom = true;
                            self.model.graph.graph.panningHandler.useLeftButtonForPanning = true;
                            // Disables tooltips on touch devices
                            self.model.graph.graph.setTooltips(!mxClient.IS_TOUCH);
                            self.model.graph.graph.htmlLabels = true;

                            self.model.graph.graph.setResizeContainer(false);


                            self.model.graph.graph.getCursorForCell = function(cell){
                                if (cell != null && cell.value != null && cell.vertex ==1 ){
                                    return 'pointer';
                                }
                            }

                            // Displays a popupmenu when the user clicks
                            // on a cell (using the left mouse button) but
                            // do not select the cmxCellRenderer.prototype.createLabelell when the popup menu
                            // is displayed
                            self.model.graph.graph.panningHandler.popupMenuHandler = false;


                            self.initGraph();

                            self.dispatchNodeEvent();

                            _.delay(function(){

                                self.model.graph.graph.addListener(mxEvent.CLICK, function(sender, evt) {

                                    let cell = self.model.graph.selectedCell = evt.getProperty('cell');

                                    if(_.isEmpty(cell)) return;

                                    let _value = cell.getValue();


                                    self.tip(cell.getValue());

                                });
                            },500)

                        }
                    },
                    initGraph: function(){
                        let self = this;

                        self.model.graph.graph.getModel().beginUpdate();

                        try
                        {
                            let doc = mxUtils.parseXml(self.model.graph.data);
                            let svgBgColor = doc.getElementsByTagName("mxGraphModel")[0].getAttribute("background") || "#ffffff";
                            $("svg").css("background-color",svgBgColor);
                            let codec = new mxCodec(doc);

                            codec.decode(doc.documentElement, self.model.graph.graph.getModel());
                        }
                        finally
                        {
                            self.model.graph.graph.getModel().endUpdate();

                            self.toCenter();

                            self.initData();

                        }
                    },
                    initPlugIn: function(){
                        let self = this;

                        self.initOutline();
                        self.initToolBars();
                        self.model.graph.container.style.top = "0px";

                        //self.crontab.load.sched = later.parse.text('every '+self.crontab.frequency+' sec');
                        //self.crontab.load.timer = later.setInterval(self.initData, self.crontab.load.sched);

                        $("#nav").find("div").hide();
                        self.win.toolbars.hide();
                    },
                    dispatchNodeEvent: function(){
                        let self = this;

                        self.model.graph.graph.addListener(mxEvent.CLICK, function(sender, evt) {

                            let cell = evt.getProperty('cell');

                            if(_.isEmpty(cell)) return;

                            let id = cell.getId();
                            let value = cell.getValue();

                            let state = self.model.graph.graph.view.getState(cell);
                            let nodeDic = callFsJScript("/graph/graph_entity_attribute.js",encodeURIComponent(id)).message;
                            console.log(1,id,value,JSON.stringify(nodeDic))

                            state.shape.node.getElementsByTagName("image")[0].setAttribute('class', `${value} ${id.replace(/:/g,"_")} animated flash`);
                            state.shape.node.getElementsByTagName("image")[0].setAttribute('data-item', JSON.stringify(nodeDic));

                            // copy to copyboard
                            let clipboard2 = new Clipboard('g image',{
                                text: function(trigger) {

                                    

                                    $.contextMenu({
                                        selector: `.${id.replace(/:/g,"_")}`,
                                        trigger: 'left',
                                        delay: 10,
                                        hideOnSecondTrigger: true,
                                        className: `animated fadeIn node-menu`,
                                        build: function($trigger, e) {

                                            let temp = _.attempt(JSON.parse.bind(null, e.target.attributes.getNamedItem('data-item').value));
                                            console.log(2,JSON.stringify(temp))
                                            let items = null;
                                            _.forEach(temp,function(val){
                                                _.forEach(val,function(v,k){

                                                    let value = null;

                                                    if(typeof v == "object") {
                                                        if(_.includes(['depend','runon','connect','refer','contain'],k)){

                                                            if(v==null || !v['_all']) return;
                                                            let _options = {};
                                                            _.map(v['_all'],function(w,y){
                                                                return _.merge(_options,{[y]:w});
                                                            })

                                                            items = _.merge(items, {[k]: {name:k+`(${v['_all'].length})`, type: 'select', options: _options, selected:0, icon:'fas fa-tags'}} );
                                                        } else {
                                                            value = JSON.stringify(v,null,2);
                                                            items = _.merge(items, {[k]: {name:k, type: 'textarea', height: 20,value: value, icon:'fas fa-tags'}} );
                                                        }

                                                    } else {
                                                        value = v.toString();
                                                        items = _.merge(items, {[k]: {name:k, type: 'text', value: value, icon:'fas fa-tags'}} );
                                                    }

                                                })
                                            });

                                            return {
                                                callback: function(key, opt) {

                                                    if(key === 'copy'){

                                                    } else if(key === 'tags') {

                                                    } else if(key === 'export') {

                                                    } else if(key === 'load') {

                                                    }
                                                },
                                                items:items
                                            }
                                        },
                                        events: {
                                            show: function(opt) {
                                                let $this = this;
                                            },
                                            hide: function(opt) {
                                                let $this = this;
                                                $(".context-menu-list animated slideIn").remove();
                                            }
                                        }
                                    });

                                    return id;
                                }
                            });
                            //self.tip(`ID：${id} 已复制到剪切板！`);

                        });
                    },
                    initData: function(){
                        let self = this;

                        // 图所有节点
                        let cells = _.map(self.model.graph.graph.getChildVertices(self.model.graph.graph.getDefaultParent()),function(v,k){
                            return {gid: v.id, name: v.value};
                        });

                        let input = "('" + `${cells.join("','")}` + "')";

                        self.model.graph.appData = callFsJScript('/graph/graph_imap_data.js', encodeURIComponent(JSON.stringify(cells))).message;
                    },
                    reset: function(){
                        let self = this;

                        self.model.graph.graph.getModel().beginUpdate();

                        try {

                            let _cells = self.model.graph.graph.getChildVertices(self.model.graph.graph.getDefaultParent(),true);

                            _.forEach(_cells, function (cell, k) {
                                // Resets the fillcolor and the overlay
                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#dddddd', [cell]);
                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#dddddd', [cell]);
                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_GRADIENTCOLOR, '#f9f9f9', [cell]);
                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '12', [cell]);
                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_FONTCOLOR, '#000000', [cell]);
                                self.model.graph.graph.removeCellOverlays(cell);
                            })
                        }
                        finally {
                            self.model.graph.graph.getModel().endUpdate();
                        }
                    },
                    update: function () {

                        let self = this;

                        self.model.graph.graph.getModel().beginUpdate();

                        try {

                            _.forEach(self.model.graph.appData.dataset,function(v) {

                                let _id = v.gid;
                                let _cell = self.model.graph.graph.getModel().getCell(_id);

                                let state = self.model.graph.graph.view.getState(_cell);

                                self.model.graph.graph.setCellStyles(mxConstants.STYLE_FONTCOLOR, '#000000', [_cell]);

                                if(v.severity >= 5){

                                    if(state && state.shape.node){
                                        //self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#ff0000', [_cell]);
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#ff0000', [_cell]);
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '6', [_cell]);
                                        //self.model.graph.graph.setCellStyles(mxConstants.STYLE_GLASS, '1', [_cell]);


                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("rect"))){
                                            _.forEach(state.shape.node.getElementsByTagName("rect"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("rect")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("rect")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("rect")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }

                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("path"))){
                                            _.forEach(state.shape.node.getElementsByTagName("path"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("path")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("path")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("path")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }

                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("ellipse"))){
                                            _.forEach(state.shape.node.getElementsByTagName("ellipse"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("ellipse")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("ellipse")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("ellipse")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }
                                    }

                                    //self.tip(_id + " 跳过不执行",5);
                                } else if(v.severity == 4){

                                    if(state && state.shape.node){
                                        //self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#8bc34a', [_cell]);
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#8bc34a', [_cell]);
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '6', [_cell]);
                                        //self.model.graph.graph.setCellStyles(mxConstants.STYLE_GLASS, '1', [_cell]);


                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("rect"))){
                                            _.forEach(state.shape.node.getElementsByTagName("rect"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("rect")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("rect")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("rect")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }

                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("path"))){
                                            _.forEach(state.shape.node.getElementsByTagName("path"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("path")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("path")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("path")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }

                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("ellipse"))){
                                            _.forEach(state.shape.node.getElementsByTagName("ellipse"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("ellipse")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("ellipse")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("ellipse")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }
                                    }

                                    //self.tip(_id + " 运行完毕",3);

                                } else {

                                    if(state && state.shape.node){
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#ffc107', [_cell]);
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKECOLOR, '#ffc107', [_cell]);
                                        self.model.graph.graph.setCellStyles(mxConstants.STYLE_STROKEWIDTH, '6', [_cell]);
                                        //self.model.graph.graph.setCellStyles(mxConstants.STYLE_GLASS, '1', [_cell]);


                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("rect"))){
                                            _.forEach(state.shape.node.getElementsByTagName("rect"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("rect")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("rect")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("rect")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }

                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("path"))){
                                            _.forEach(state.shape.node.getElementsByTagName("path"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("path")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("path")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("path")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }

                                        if(!_.isEmpty(state.shape.node.getElementsByTagName("ellipse"))){
                                            _.forEach(state.shape.node.getElementsByTagName("ellipse"),function(v,k){
                                                if(k == 1){
                                                    state.shape.node.getElementsByTagName("ellipse")[k].setAttribute('class', 'animated infinite flash');
                                                } else {
                                                    state.shape.node.getElementsByTagName("ellipse")[k].style.stroke = "#ffffff";
                                                    state.shape.node.getElementsByTagName("ellipse")[k].style.strokeWidth = "12px"
                                                }
                                            })
                                        }
                                    }

                                    //self.tip(_id + " 报错",4);

                                }


                            })


                        }
                        finally {
                            self.model.graph.graph.getModel().endUpdate();
                        }

                    },
                    tip: function(event,severity){
                        let self = this;

                        if (severity == 5) {
                            alertify.log(event + ' ' + moment().format("LLL"));
                        } else if (severity == 4) {
                            alertify.error(event + ' ' + moment().format("LLL"));
                        } else {
                            alertify.success(event + ' ' + moment().format("LLL"));
                        }
                    },
                    initOutline: function(){
                        let self = this;

                        let outline = document.getElementById('outlineContainer');


                        self.model.graph.outline = new mxOutline(self.model.graph.graph, outline);

                    },
                    reload: function(){
                        let self = this;

                        self.model.graph.data = fsContent(URL_PARAMS_ITEM.parent, URL_PARAMS_ITEM.name);
                        self.initGraph();
                    },
                    initToolBars: function () {
                        let self = this;

                        let content = document.getElementById('tools');
                        content.style.padding = '4px';

                        let tb = new mxToolbar(content);

                        tb.addItem('{{.i18n.Tr "creative-tools-zoom_in"}}', '/fs/home/assets/images/tools/png/zoom_out.png?type=download',function(evt)
                        {
                            self.model.graph.graph.zoomIn();
                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-zoom_out"}}', '/fs/home/assets/images/tools/png/zoom_in.png?type=download',function(evt)
                        {
                            self.model.graph.graph.zoomOut();
                        },null,'tools-item');

                        /*tb.addItem('{{.i18n.Tr "creative-tools-actual_size"}}', '/fs/home/assets/images/tools/png/actual_size.png?type=download',function(evt)
                        {
                            self.model.graph.graph.zoomActual();
                        },null,'tools-item');*/

                        tb.addItem('{{.i18n.Tr "creative-tools-print"}}', '/fs/home/assets/images/tools/png/print.png?type=download',function(evt)
                        {
                            var preview = new mxPrintPreview(self.model.graph.graph, 1);
                            preview.open();

                        },null,'tools-item');

                        tb.addItem('{{.i18n.Tr "creative-tools-fullscreen"}}', '/fs/home/assets/images/tools/png/fullscreen.png?type=download',function(evt)
                        {
                            toggleFullScreen();

                        },null,'tools-item');

                        self.win.toolbars = newWindow('toolbars','{{.i18n.Tr "creative-tools"}}',content,[5,220],null);

                    },
                    navToggle: function(){
                        let self = this;

                        $("#nav").find("div").toggle(500);
                        self.win.toolbars.toggle(500);

                        self.initOutline();
                    }
                }
            });


        })
    })

</script>

<script type="text/x-template" id="app-template">
    <div>
        <div id="title" style="position:absolute;z-index:1000;"> <small style="font-size:45%;display:none;"></small></div>
        <div id="graph" style="top:0px;width:100%;"></div>
        <div id="nav">
            <a href="javascript:void(0);" @click="navToggle();">
                <i class="fa fa-th fa-2x" style="position: relative;left: 5px;top: -50px;z-index: 1000;color:rgb(219, 219, 219);cursor:pointer;"></i>
            </a>
            <div id="tools"></div>
            <div id="outlineContainer"></div>
        </div>
        <div id="info"></div>
    </div>
</script>

<!--{{template "base/footer" .}}-->
