{{template "base/head" .}}

<link rel="stylesheet" type="text/css" href="{{AppSubUrl}}/web/creative/graph/styles/grapheditor.css">
<link href="{{AppSubUrl}}/web/vendor/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" >
<style>

    #title{
        font-size: 38px;
        font-weight: 600;
        font-family: "micosoft yahei";
        left: 35px;
        top: 10px;
        position: fixed;
        color:rgb(219, 219, 219)
    }

    .tools-item {
        width: 28px;
        height: 28px;
    }

    #outlineContainer {
        top: 0px;
        left: 5px;
        position: relative;
        z-index: 100;
        overflow:hidden;
        width:160px;
        height:120px;
        background:transparent;
        box-shadow: 3px 3px 12px #C0C0C0;
        border: 1px solid rgb(195, 195, 195);
    }

    #graph > svg {
        background-image:none!important;
        padding-top: 10px;
    }

    .geDiagramContainer {
        border:none;
    }


    #tools > img:hover{
        background-color:#dddddd;
        cursor:pointer;
    }

    .flow {
        stroke-dasharray: 8;
        animation: dash 0.5s linear;
        animation-iteration-count: infinite;
    }
    @keyframes dash {
        to {
            stroke-dashoffset: -16;
        }
    }

    @-webkit-keyframes flash {
        from, 50%, to {
            stroke-width: 6;
            stroke-opacity: 1;
        }

        25%, 75% {
            stroke-width: 2;
            stroke-opacity: 0.2;
        }
    }

    @keyframes flash {
        from, 50%, to {
            stroke-width: 6;
            stroke-opacity: 1;
        }

        25%, 75% {
            stroke-width: 2;
            stroke-opacity: 0.2;
        }
    }

    .flash {
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
    }


    /* svg path dash effect */
    svg.dash path {
        stroke-dasharray: 10;
        stroke-dashoffset: 100;
        animation: dash 5s linear infinite;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }

    /* For Table */
    thead th {
        white-space: nowrap;
    }

    /* 分析 */
    form.form-horizontal > .form-group:nth-child(even) {
		background: rgb(249, 249, 249);
	}
	form.form-horizontal > .form-group:nth-child(odd) {
		background: rgb(255, 255, 255);
    }
    
    /* For grid-view */
    #grid ul{
        padding-left: 0;
        list-style: none;
    }

    #grid ul > li{
        float: left;
        width: 9em;
        height: 90px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(249, 249, 249);
        border: 1px solid rgb(255, 255, 255);
        margin: 5px 5px 0px 0px;
    }

    /*
    *   File Upload
    */
    .progress {
        height: 16px;
        border-radius: 0px;
        display: block;
        position: relative;
    }

    .progress small {
        color: #ffffff;
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
    }

    #files ul{
        margin: 10px;
        padding-left: 0;
        list-style: none;
    }

    #files ul > li{
        float: left;
        width: 100pt;
        height: 100px;
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(249, 249, 249);
        border: 1px solid rgb(255, 255, 255);
        padding-top: 5px;
        margin: 5px 0px 20px 5px;
    }

    #files ul > li > canvas {
        height: 65%;
        width: auto;
    }

    #files ul > li > a {
        background-color: rgb(249, 249, 249);
        border-radius: 0px;
    }

    #files ul > li > button {
        margin-top: -50px;
    }

    #files ul > li > .preview-null {
        width: 100px;
        padding-top: 10px;
        height: 64px;
        color: rgb(221, 221, 221);
    }

    .preview-img-responsive{
        max-width: 100%;
        height: auto;
        display: block;
    }

    .fs-view-component #grid,
    .fs-view-component .dataTables_scroll{
        height: 75vh;
        overflow: auto;
        padding: 0 10px;
    }

    .fs-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #graph.geDiagramContainer.dark{
        background: radial-gradient(rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 16%) 0 0, radial-gradient(rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, rgba(0, 0, 0, 0) 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, rgba(0, 0, 0, 0) 20%) 8px 9px;
        background-color: rgb(49, 55, 73);
        background-size: 16px 16px;
    } 


</style>

<div id="content">
    <div id="app"></div>
</div>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-base-datatables-component.html"></link>

<script src="{{AppSubUrl}}/web/js/model/Imap.js"></script>

<!--File Parse JS-->
<script src="{{AppSubUrl}}/web/vendor/papaparse/papaparse.min.js"></script>
<!--Jquery File Upload JS-->
<script src="{{AppSubUrl}}/web/vendor/js-load-image/js/load-image.all.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/canvas-to-blob.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-image.js"></script>

<script type="text/javascript">
    // urlParams is null when used for embedding
    window.urlParams = window.urlParams || {};

    // Public global variables
    window.MAX_REQUEST_SIZE = window.MAX_REQUEST_SIZE  || 10485760;
    window.MAX_AREA = window.MAX_AREA || 15000 * 15000;

    // URLs for save and export
    window.RESOURCES_PATH = "{{AppSubUrl}}/web/creative/graph/resources";
    window.STYLE_PATH = "{{AppSubUrl}}/web/creative/graph/styles";
    window.STENCIL_PATH = "{{AppSubUrl}}/web/creative/graph/stencils";
    window.IMAGE_PATH = "{{AppSubUrl}}/web/creative/graph/images";
    window.CSS_PATH = "{{AppSubUrl}}/web/creative/graph/styles";
    window.OPEN_FORM = "{{AppSubUrl}}/web/creative/graph/open.html";

    window.EXPORT_URL = window.EXPORT_URL || '/export';
    window.SAVE_URL = window.SAVE_URL || '/save';
    window.OPEN_URL = window.OPEN_URL || '/open';
    window.RESOURCES_PATH = window.RESOURCES_PATH || 'resources';
    window.RESOURCE_BASE = window.RESOURCE_BASE || window.RESOURCES_PATH + '/grapheditor';
    window.STENCIL_PATH = window.STENCIL_PATH || 'stencils';
    window.IMAGE_PATH = window.IMAGE_PATH || 'images';
    window.STYLE_PATH = window.STYLE_PATH || 'styles';
    window.CSS_PATH = window.CSS_PATH || 'styles';
    window.OPEN_FORM = window.OPEN_FORM || 'open.html';

    window.SignedUser_UserName = "{{.SignedUser.UserName}}";
    window.SignedUser_FullName = "{{.SignedUser.FullName}}";
    window.SignedUser_IsAdmin = "{{.SignedUser.IsAdmin}}" || false;

    window.ASSETS_ICON = '/fs/assets/images';

    mxBasePath = '{{AppSubUrl}}/web/creative/src';
    mxLanguage = '{{.Lang}}'.replace(/"/g,"").replace(/en/g,"eg").split("-")[0];

</script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/deflate/pako.min.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/deflate/base64.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/jscolor/jscolor.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/sanitizer/sanitizer.min.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/src/js/mxClient.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/EditorUi.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Editor.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Sidebar.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Graph.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Format.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Shapes.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Actions.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Menus.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Toolbar.js"></script>
<script type="text/javascript" src="{{AppSubUrl}}/web/creative/graph/js/Dialogs.js"></script>

<script type="text/x-template" id="app-template">
    <div>
        <div id="title" style="position:absolute;z-index:1000;"> <small style="font-size:45%;display:none;"></small></div>
        <div id="graph"></div>
        <div id="nav">
            <a href="javascript:void(0);" @click="navToggle();">
                <i class="fa fa-th fa-2x" style="position: relative;left: 5px;top: -50px;z-index: 1000;color:rgb(219, 219, 219);cursor:pointer;"></i>
            </a>
            <div id="tools"></div>
            <div id="outlineContainer"></div>
        </div>
        <div id="info"></div>
    </div>
</script>

</div>

</body>

</html>


