{{template "base/head" .}}

<!-- sweetalert core CSS -->
<link href="{{AppSubUrl}}/web/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/entityStyle/zTreeStyle.css" type="text/css" rel="stylesheet">

<style type="text/css" media="screen">

    .btn.dropdown-toggle {
        padding: 7px 12px;
        border-radius: 0px;
    }

    .vue-search-input-component > .btn-group > .btn.dropdown-toggle {
        border-bottom: 2px solid rgb(182, 194, 202);
    }

    /* Event Severity Button Start */
    .event-severity-btn > .btn.active[data-active-class="selected"] {
        border-right: 3px solid #333;
        border-bottom: 3px solid #333;
        clear: both;
    }

    /* Event Severity Button End*/

    /*----------  Data Table Start ----------*/
    .data-table > .bootstrap-table {
        padding-bottom: 15px;
    }

    .data-table > .bootstrap-table > .fixed-table-container {
        border: none;
        border-left: 0px solid #ddd;
        border-right: 0px solid #ddd;
    }

    .data-table > .bootstrap-table > .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
        padding: 2px;
        line-height: 20px;
    }

    .data-table > .bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
        padding: 5px;
    }

    .data-table > .bootstrap-table > .fixed-table-container > .fixed-table-body {
        height: -moz-calc(100vh - 440px);
        height: -webkit-calc(100vh - 440px);
        height: calc(100vh - 440px);
    }

    .data-table > .bootstrap-table > .fixed-table-container > .fixed-table-pagination {
        margin: 0px 10px -15px 10px
    }

    /*----------  Data Table End ----------*/

    .table > tbody > tr > td:first-child {
        /*background-color: rgba(238,238,238,1);*/
        text-align: center;
    }

    .table > tbody > tr > td:nth-child(2) {
        white-space: nowrap !important;
        text-align: center;
    }

    .fixed-table-container tbody td {
        border-left: none;
    }

    table > tbody > tr:not(.detail-view):hover > td {
        background-color: #c3e4f5;
    }

    table > tbody > tr:not(.detail-view).selected > td {
        background-color: #c3e4f5;
        border: 1px dashed #cccccc;
    }

    /* For Search Dropdown Panel */
    .dropdown-menu {
        padding: 0;
        font-size: 12px;
        background-color: #fff;
        border: 0px solid #ccc;
        border: 0px solid rgba(0, 0, 0, .15);
        border-radius: 0px;
    }

    .dropdown-menu > .panel-group {
        margin-bottom: 0px;
    }

    .dropdown-menu > .panel-group .panel {
        margin-bottom: 0px;
        background-color: #fff;
        border: 0px solid transparent;
        border-radius: 0px;
    }

    .dropdown-menu > .panel-group .panel + .panel {
        margin-top: 0px;
    }

    .btn.dropdown-toggle {
        padding: 7px 12px;
        border-radius: 0px;
    }

    .panel-default > .panel-heading {
        padding-top: 5px;
        padding-bottom: 5px;

        border: 1px solid #ccc;
        border-bottom: 0px;
        border-radius: 0px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e5e5e5+100 */
        background: #f9f9f9; /* Old browsers */
        background: -moz-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f9f9f9 0%, #e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
    }

    .panel-default > .panel-heading.active {
        color: #333;
        background-color: #def1fb;
        border: 1px solid #ccc;
        border-bottom: 0px;
        background: #def1fb;

    }

    .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
        border-top: 0px;
    }

    .panel-default > .collapse {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .fixed-table-toolbar .btn-group > .btn-group > .btn {
        border: none;
    }

    .fixed-table-toolbar .btn-group > .btn-group > .btn > i {
        font-size: 10px;
    }

    .breadcrumb {
        padding: 8px 15px 0px 15px;
        margin: 0px;
        background-color: transparent;
    }

    /*----------  Event Severity For Cell Color  ----------*/
    td.severity6 {
        background-color: #333333 !important; /*Fatal*/
        text-align: center;
        color: #ffffff;
    }

    td.severity5 {
        background-color: #FF0000 !important; /*Error*/
        text-align: center;
        color: #ffffff;
    }

    td.severity4 {
        background-color: #FFA500 !important; /*Warning*/
        text-align: center;
        color: #ffffff;
    }

    td.severity3 {
        background-color: #00acac !important; /*Info*/
        text-align: center;
        color: #ffffff;
    }

    td.severity2 {
        background-color: #008000 !important; /*Debug*/
        text-align: center;
        color: #ffffff;
    }

    td.severity_1 {
        background-color: #808080 !important; /*Unknown*/
        text-align: center;
        color: #ffffff;
    }

    /*----------  Mark  ----------*/
    mark {
        background-color: #fbed78c7;
    }

    .object-footer{
        position: fixed;
        bottom: 30px;
        left: 5%;
    }

</style>

<div id="app"></div>

<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>

<!-- ECharts JS -->
<script src="{{AppSubUrl}}/web/vendor/echart/echarts.min.js"></script>

<!--Mark JS-->
<script src="{{AppSubUrl}}/web/vendor/mark/dist/jquery.mark.min.js"></script>

<!-- sweetalert core JS -->
<script src="{{AppSubUrl}}/web/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-editor-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-entity-heatmap-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-entity-tree-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-echart-timeline-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-search-preset-component_{{.Lang}}.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-search-input-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-bootstrap-table.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-common-form-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-object-detail-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/cmdb/vue-ci-tags-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-ai-robot-component.html"></link>

<SCRIPT type="text/javascript">

    VueLoader.onloaded(["vue-editor-component",
        "vue-entity-heatmap-component",
        "vue-entity-tree-component",
        "vue-echart-timeline-component",
        "vue-search-preset-component",
        "vue-search-input-component",
        "vue-bootstrap-table",
        "vue-common-form-component",
        "vue-object-detail-component",
        "vue-ci-tags-component",
        "vue-ai-robot-component"], function () {

        var RENDER_BY_LUA = `| lua msg=<lua>
                                        if "shell"==src then
                                          return "<pre style='border:0px;'>"..string.gsub(msg, "UN", "<kbd style='background-color:#4AB93D;'>".."%1".."</kbd>").."</pre>" 
                                        end
                                      </lua>
                            | lua msg=<lua> 
                                        if "shell"==src then
                                          return "<pre style='border:0px;'>"..string.gsub(msg, "DN", "<kbd style='background-color:#ff0000;'>".."%1".."</kbd>").."</pre>" 
                                        end
                                      </lua>`;

        /**
         * @author cnwangzd
         * @todo
         */
        $(function () {

            $(".current-active-item").html(`<a class="active item" href="/janesware/log"><i class="fa fa-file-code-o"></i> &nbsp;{{.i18n.Tr .ActiveView }}</a>`);

            var appVue = new Vue({
                delimiters: ['${', '}'],
                el: "#app",
                template: "#app-template",
                data: {
                    search: {
                        mark: {
                            words: [],
                            options: {
                                element: "mark",
                                separateWordSearch: true
                            }
                        },
                        filter: [],
                        params: {
                            at: '#',
                            class: '/matrix/devops/log/',
                            subclass: ':',
                            top: 'top 200',
                            lua: RENDER_BY_LUA
                        },
                        filter: [],
                        input: {
                            type: {type: "log", quick: ""},
                            term: ""
                        },
                        preset: {},
                        regexp: {
                            top: /top (\d+(\.\d)*)/gmi,
                            undefined: /undefined/g,
                            doubleGrep: /\|(\s+(\|))/g,

                        },
                        result: {
                            data: [],
                            columns: [],
                            options: {
                                classes: "table table-no-bordered",
                                pageSize: "30",
                                pageList: "[15,30,45,60]",
                                detailView: false,
                                buttonsAlign: "right",
                                locale: '{{.Lang}}',
                                search: true,
                                toolbar: "#custom-toolbar1",
                            },
                        },
                        currentTimer: null
                    },
                    summary: {
                        bySeverity: [],
                        byHost: [],
                        data: {
                            list: [],
                            scale: {},
                            param: ""
                        },
                        filter: []
                    },
                    target: "#dataTable",
                    preconfig: {},
                    crontab: {
                        main: {
                            sched: Object,
                            timer: Object
                        },
                        currentTimer: {
                            sched: Object,
                            timer: Object
                        }
                    },
                    toggle: {
                        left: false,
                        top: true,
                        mode: {
                            default: {name: 'm', title: 'Monitoring Mode', icon: 'fa fa-tachometer'},
                            list: [
                                {name: 'd', title: 'Diagnosis Mode', icon: 'fa fa-desktop'},
                                {name: 'o', title: 'Operation Mode', icon: 'fa fa-laptop'},
                                {name: 'm', title: 'Monitoring Mode', icon: 'fa fa-tachometer'},
                            ]
                        }
                    }
                },
                watch: {
                    'summary.data.list': {
                        handler: function (val, oldVal) {
                            let self = this;

                            self.summaryEvent(val);
                        },
                        deep: true
                    },
                    'search.mark.words': {
                        handler: function (val, oldVal) {
                            let self = this;

                            _.delay(function () {

                                $("table tr td:last-child").unmark({
                                    done: function () {
                                        $("table tr td:last-child").mark(val, self.search.mark.options);
                                    }
                                });

                            }, 1000)
                        },
                        deep: true
                    },
                    'summary.filter': {
                        handler: function (val, oldVal) {
                            let self = this;

                            if (!_.isEmpty(val)) {
                                $(".chart-panel").find(".btn-return").remove();
                                $(".chart-panel").append(`<a href="javascript:void(0)" 
                                                             class="btn btn-xs btn-default btn-return" 
                                                             style="position: relative; right: -10px; top: -130px; float: right;">
                                                             <i class="fa fa-close"></i>
                                                          </a>`);
                                $(".chart-panel .btn-return").click(function (event) {
                                    // reset search
                                    self.summary.filter = [];
                                    self.search.preset.default = {
                                        "name": "Nearest 1 day",
                                        value: " | nearest 1 day ",
                                        scale: {
                                            'scale': 'day',
                                            'step': 4,
                                            'title': 'Day',
                                            'pattern': 'LT',
                                            'filter': 'YYYY/MM/DD HH'
                                        }
                                    };
                                    self.onSearch();
                                })
                            } else {
                                $(".chart-panel").find(".btn-return").remove();
                            }
                        },
                        deep: true
                    }

                },
                created: function () {
                    let self = this;

                    eventHub.$on('preset-selected-event', self.setPresetDefault);

                    eventHub.$on("input-term-event", self.setSearchTerm);
                    eventHub.$on("input-reset-event", self.setSearchReset);
                    eventHub.$on("quick-update-event", self.initFilter);

                    self.defaultSearch();
                },
                mounted: function () {
                    let self = this;

                    self.$nextTick(function () {

                        self.onSearch();

                        self.initPlugin();

                    })
                },
                methods: {
                    initPlugin: function () {
                        let self = this;

                        $(self.target).on('click-row.bs.table', function (e, row, $element) {
                            $('.info').removeClass('info');
                            $($element).addClass('info');
                        });

                        $("a[data-toggle='tab']").on("shown.bs.tab", function () {
                            eventHub.$emit("chart-resize-event", null);
                        });

                        $(document).keypress(function (event) {
                            var keycode = (event.keyCode ? event.keyCode : event.which);
                            if (keycode == 13) {
                                self.onSearch();
                            } else if (keycode == 27) {
                                self.setSearchReset();
                                self.onSearch();
                            }
                        })

                        self.initFilter();

                        _.delay(function () {
                            $("a").tooltip("enable");
                        }, 3000)

                        /* copy selected word to search */
                        self.copyWordToSearch();

                        /* cron to refresh */
                        self.crontab.main.sched = later.parse.text('every 30 min');
                        self.crontab.main.timer = later.setInterval(self.onSearch, self.crontab.main.sched);

                        self.crontab.currentTimer.sched = later.parse.text('every 1 sec');
                        self.crontab.currentTimer.timer = later.setInterval(self.refreshCurrentTimer, self.crontab.currentTimer.sched);

                    },
                    defaultSearch: function () {
                        let self = this;
                        let _tmp = localStorage.getItem("search-open-log");

                        if (!_.isEmpty(_tmp)) {
                            let _searchObject = _.attempt(JSON.parse.bind(null, _tmp));

                            self.search.preset = _searchObject.preset;
                            self.search.input.term = _searchObject.id;

                            localStorage.setItem("search-open-log", "");
                        }

                    },
                    setPresetDefault: function (event) {
                        let self = this;

                        self.search.preset = event;
                    },
                    setSearchReset: function () {
                        let self = this;
                        let _param = self.search.params.at + self.search.params.class + self.search.params.subclass;
                        let _preset = self.search.preset.default;

                        _param = _param + _preset.value + self.search.preset.others.forTime + " | " + self.search.params.top;

                        self.setSearchTerm("");
                        self.searchHandler(_param, null);
                    },
                    setSearchTerm: function (term) {
                        let self = this;

                        self.search.input.term = term;
                    },
                    summaryEvent: function (event) {
                        let self = this;
                        var byName = "";
                        var bySeverity = {};

                        // For Gauge & Severity Btn
                        self.summary.byHost = [];
                        self.summary.bySeverity = [];

                        byGroupName = window.GLOBAL_OBJECT.company.object.log.preconfig.host[0];
                        bySeverity = window.GLOBAL_OBJECT.company.object.log.preconfig.severity;

                        let groupByHost = _.omit(_.groupBy(_.cloneDeep(event), byGroupName), ['undefined', '']);
                        let groupBySeverity = _.omit(_.groupBy(_.cloneDeep(event), bySeverity.name[0]), ['undefined', '']);

                        _.forEach(groupByHost, function (v, k) {

                            let groupBySeverity = _.omit(_.groupBy(v, bySeverity.name[0]), ['undefined', '']);

                            _.forEach(groupBySeverity, function (val, key) {
                                let t = {};
                                t.name = k;
                                t.length = val.length;
                                t.severity = key;
                                t.color = bySeverity.level[key] ? bySeverity.level[key].color : bySeverity.level["other"].color;

                                self.summary.byHost.push(t);
                            })
                        });

                        _.forEach(groupBySeverity, function (v, k) {

                            let s = {};
                            s.name = bySeverity.level[k] ? bySeverity.level[k].name : bySeverity.level["other"].name;
                            s.count = v.length;
                            s.severity = k;
                            s.color = bySeverity.level[k] ? bySeverity.level[k].color : bySeverity.level["other"].color;

                            self.summary.bySeverity.push(s);
                        });

                        self.summary.byHost = _.omit(_.groupBy(self.summary.byHost, 'name'), ['undefined', '']);
                    },
                    onSearch: function () {
                        let self = this;
                        let _param = "";
                        let _preset = self.search.preset.default;
                        let _ifDebug = self.search.preset.others.ifDebug ? "debug> " : "";

                        if (!_.isEmpty(self.search.input.term)) {

                            let _top = self.search.input.term.match(self.search.regexp.top);

                            if (!_.isEmpty(_top)) {
                                self.search.params.top = _.last(_top);
                            }

                            _param = self.search.params.at + self.search.params.class + self.search.params.subclass + " | " + self.search.input.term;
                        } else {
                            _param = self.search.params.at + self.search.params.class + self.search.params.subclass;
                        }

                        if (!_.isEmpty(_preset)) {
                            _param = _param + _preset.value + self.search.fortime;
                        } else {
                            _param = _param + _preset.value;
                        }
                        _param = _param + " | " + self.search.params.top;

                        _param = _ifDebug + _param.replace(self.search.regexp.undefined, "").replace(self.search.regexp.doubleGrep, " | ");

                        self.searchHandler(_param, null);

                    },
                    initSearchBar: function () {
                        let self = this;

                        $search = $(".searchinput input");
                        $search.off("keyup drop").on("keyup drop", function (event) {

                            clearTimeout(timeoutId); // doesn't matter if it's 0
                            timeoutId = setTimeout(function () {
                                if (_.trim($search.val()).length > 0) {
                                    self.onSearch(" | " + _.trim($search.val()));
                                } else {
                                    self.onSearch(_.trim($search.val()));
                                }
                            }, 500);
                        });
                    },
                    filterDataTable: function (event) {
                        let self = this;

                        var tt = [];
                        _.forEach(self.search.result.data, function (v, k) {
                            var tmp = moment(v.ctime).format(self.search.default.scale.pattern);
                            if (tmp == event) {
                                tt.push(v);
                            }
                        })
                        self.search.result.data = [];
                        self.search.result.data = tt;
                    },
                    searchHandler: function (param, func) {
                        let self = this;
                        let _list = fetchData(param);

                        if (_.isEmpty(_list.message)) {
                            self.search.result.data = [];
                            self.summary.data.list = self.search.result.data;
                            return false;
                        }

                        var cols = [];

                        cols = window.GLOBAL_OBJECT.company.object.log.columns;
                        self.preconfig = window.GLOBAL_OBJECT.company.object.log.preconfig;

                        let tmp = _list.meta.columns[_.keys(_list.meta.classes)[0]];
                        if (!_.isEmpty(tmp)) {
                            _.forEach(tmp, function (v) {
                                var fIndex = _.findIndex(cols, {field: v});
                                if (fIndex == -1) {
                                    cols.push({field: v, title: _.startCase(_.camelCase(v)), visible: false});
                                }
                            });
                        }

                        self.search.result.columns = window.GLOBAL_OBJECT.company.object.log.columns;//cols;
                        self.search.result.data = _list.message;

                        self.summary.data.list = self.search.result.data;
                        self.summary.data.scale = self.search.preset.scale;

                        self.search.mark.words = _.map(_list.meta.words, function (v) {
                            return v.replace(/\*/g, "");
                        });
                        self.toggle.top = false;
                        self.toggleTop();

                        _.delay(function () {
                            self.toggleDefault();
                        }, 500);

                    },
                    setFilterBySeverity: function (event) {
                        let self = this;
                        let s = {};
                        let obj = $(".event-severity-btn ." + event);
                        let _class = obj.attr("class");
                        let _severity = obj.data("value");

                        s.name = window.GLOBAL_OBJECT.company.object.log.preconfig.severity.name[0];
                        s.value = _severity;
                        s.type = "match";

                        if (_class.indexOf("active") != -1) {
                            self.summary.filter = _.values(_.omitBy(self.summary.filter, s));
                        } else {
                            self.summary.filter.push(s);
                        }
                    },
                    setupFilter: function (cond) {
                        let self = this;

                        self.summary.filter = [];

                        if (_.findIndex(self.summary.filter, cond) != -1) {
                            self.summary.filter = _.values(_.omitBy(self.summary.filter, cond));
                        } else {
                            self.summary.filter.push(cond);
                        }
                    },
                    getCustomDateTime: function (datetime, cond) {
                        let self = this;

                        if (cond === 'L') {
                            return datetime.split("T")[0];
                        } else if (cond === 'LT') {
                            return datetime.substring(0, 13);
                        } else if (cond === 'LTS') {
                            return datetime.substring(0, 16);
                        }
                    },
                    setFilterParamByTime: function (event) {
                        let self = this;

                        let _time = {};

                        _time.name = window.GLOBAL_OBJECT.company.object.log.preconfig.time[0];
                        _time.value = self.getCustomDateTime(event.time, event.pattern);
                        _time.type = "contains";

                        self.setupFilter(_time);

                        console.log(JSON.stringify(self.summary.filter));
                    },
                    toggleTop: function () {
                        let self = this;

                        if (self.toggle.top) {

                            $(".event-top").slideDown(500);
                            $(".event-top").css("display", "");

                            $(".toggle-top").removeClass("fa-caret-right");
                            $(".toggle-top").addClass("fa-caret-down");


                            $(".fixed-table-body").css({
                                "height": "-moz-calc(100vh - 440px)",
                                "height": "-webkit-calc(100vh - 440px)",
                                "height": "calc(100vh - 440px)"
                            });
                            self.toggle.top = false;

                        } else {

                            $(".event-top").slideUp(500, function () {
                                $(".event-top").css("display", "none");

                                $(".toggle-top").removeClass("fa-caret-down");
                                $(".toggle-top").addClass("fa-caret-right");

                                $(".fixed-table-body").css({
                                    "height": "-moz-calc(100vh - 305px)",
                                    "height": "-webkit-calc(100vh - 305px)",
                                    "height": "calc(100vh - 305px)"
                                });

                                self.toggle.top = true;

                            })
                        }

                        eventHub.$emit("chart-resize-event", null);
                    },
                    toggleLeft: function () {
                        let self = this;

                        if (self.toggle.left) {

                            $("#nav").hide();

                            $("#content").removeClass("col-lg-10");
                            $("#content").addClass("col-lg-12");
                            //$("#content").find(".panel-default").css("border-left","1px #ddd solid");

                            $(".navtoggle").removeClass("fa fa-caret-left");
                            $(".navtoggle").addClass("fa fa-caret-right");

                            self.toggle.left = false;
                        } else {
                            $("#nav").slideDown(500);
                            $("#nav").show();

                            $("#content").removeClass("col-lg-12");
                            $("#content").addClass("col-lg-10");
                            //$("#content").find(".panel-default").css("border-left","2px #ddd dotted");

                            $(".navtoggle").removeClass("fa fa-caret-right");
                            $(".navtoggle").addClass("fa fa-caret-left");

                            self.toggle.left = true;
                        }
                    },
                    toggleDefault: function () {
                        let self = this;

                        $(".fixed-table-body").css({
                            "height": "-moz-calc(100vh - 305px)",
                            "height": "-webkit-calc(100vh - 305px)",
                            "height": "calc(100vh - 305px)"
                        });
                    },
                    toggleMode: function () {
                        let self = this;
                        let _default = _.head(self.toggle.mode.list);
                        let _head = _.nth(self.toggle.mode.list, 1);

                        if (_default.name == 'd') {
                            $(".navbar-fixed-top").css({"display": "none"});
                            $("#page-container").css({"padding-top": "0px"});

                            $(".fixed-table-body").css({
                                "height": "-moz-calc(100vh - 250px)",
                                "height": "-webkit-calc(100vh - 250px)",
                                "height": "calc(100vh - 250px)"
                            });

                        } else if (_default.name == 'o') {

                            $(".log-search").css({"display": "none"});

                            $(".fixed-table-body").css({
                                "height": "-moz-calc(100vh - 175px)",
                                "height": "-webkit-calc(100vh - 175px)",
                                "height": "calc(100vh - 175px)"
                            });

                            toggleFullScreen();

                        } else {
                            $(".navbar-fixed-top").css({"display": ""});
                            $("#page-container").css({"padding-top": "54px"});
                            $(".log-search").css({"display": ""});

                            $(".fixed-table-body").css({
                                "height": "-moz-calc(100vh - 305px)",
                                "height": "-webkit-calc(100vh - 305px)",
                                "height": "calc(100vh - 305px)"
                            });
                        }

                        $(".toggle-mode").removeClass(_default.icon);
                        $(".toggle-mode").addClass(_head.icon);
                        $(".toggle-mode").attr("title", _head.title);

                        self.toggle.mode.list.push(self.toggle.mode.list.shift());
                    },
                    toggleFilter: function (filter) {
                        let self = this;


                    },
                    initFilter: function () {
                        let self = this;

                        let _tmp = localStorage.getItem(window.GLOBAL_OBJECT.company.name + "_quick_list_log");
                        if (!_.isNull(_tmp)) {
                            self.search.filter = _.map(_.attempt(JSON.parse.bind(null, _tmp)), function (v) {
                                return {name: v.name, value: v.value};
                            });
                        }
                    },
                    getSelectionText: function () {
                        var selectedText = ""
                        if (window.getSelection) { // all modern browsers and IE9+
                            selectedText = window.getSelection().toString()
                        }
                        return selectedText;
                    },
                    getSelectionText: function(){
                        let selectedText = "";

                        if (window.getSelection){ // all modern browsers and IE9+
                            selectedText = window.getSelection().toString();
                        }
                        return selectedText;
                    },
                    copyWordToSearch: function (argument) {
                        let self = this;

                        $("table").mouseup(function(){
                            var selected = self.getSelectionText();
                            if (selected.length > 0){
                                if (_.isEmpty(self.search.input.term)){
                                    self.search.input.term = selected;
                                } else {
                                    self.search.input.term += selected;
                                }
                            }
                        })
                    },
                    refreshCurrentTimer: function () {
                        let self = this;

                        self.search.currentTimer = moment().format("LL") + " " + moment().format("LTS");
                    }
                }
            })
        })

        function formaterDate(value, row, index) {
            return moment(value).format('YYYY-MM-DD HH:mm:ss');
        }
    })

</SCRIPT>

<script type="text/x-template" id="app-template">

    <div id="content" class="content">

        <div class="row log-search">
            <div class="col-lg-12" style="padding-left:10px;padding-bottom: 10px;">
                <div class="input-group searchinput">
                    <vue-search-input-component :model="search.input"></vue-search-input-component>
                    <div class="input-group-btn">
                        <vue-search-preset-component id="log-vue-search-preset" :preset="search.preset"></vue-search-preset-component>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" @click="onSearch"><i class="fa fa-search"
                                                                                           style="font-size:18px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div row="col-lg-12">
            </div>
        </div>
        <div class="row" style="margin:0px 0px;background-color:#fff;border:1px solid rgb(240, 243, 244);">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-main" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#log" aria-controls="log" role="tab" data-toggle="tab">Log</a>
                    </li>
                    <li role="presentation">
                        <a href="#gauge" aria-controls="gauge" role="tab" data-toggle="tab"
                           title="Business Gauge">Gauge</a>
                    </li>
                    <li role="presentation">
                        <a href="#heatmap" aria-controls="heatmap" role="tab" data-toggle="tab" title="Event HeatMap">Heatmap</a>
                    </li>
                    <li role="presentation" style="display: -webkit-box;">
                        <a href="javascript:void(0)"
                           v-for="(item,index) in search.filter"
                           class="btn btn-xs btn-success"
                           @click="toggleFilter(item.value)"
                           style="min-width: 60px;padding:0px 10px;background-color:#dae0e8!important;">
                            ${item.name}
                        </a>
                    </li>
                    <li role="presentation" class="pull-right" style="display: -webkit-box;">
                        <a href="javascript:void(0)" @click="toggleMode" ><i
                                class="fa fa-desktop fa-fw toggle-mode"></i></a>
                        <a href="javascript:void(0)" @click="toggleTop" ><i
                                class="fa fa-caret-down fa-fw toggle-top"></i></a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content tab-main">
                    <div role="tabpanel" class="tab-pane active" id="log" style="margin-top: -15px;">
                        <div class="col-lg-12 event-top">
                            <ol class="breadcrumb">
                                <li><a href="#" class="active">${search.fortime}</a></li>
                            </ol>
                        </div>
                        <div class="col-lg-12 event-top" style="padding:0px;">
                            <vue-echart-timeline-component :model="summary.data"
                                                           :preconfig="preconfig"></vue-echart-timeline-component>
                        </div>
                        <div class="col-lg-2" id="nav" style="display: none;">
                            <div class="panel panel-default">
                                <div class="panel-body" style="padding-top: 5px;">
                                    <vue-entity-tree-component id="log-entity-tree" :list="search.result.data"></vue-entity-tree-component>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12" id="content" style="padding:0px;">
                            <div id="custom-toolbar1">
                                <span id="title-path" @click="toggleLeft"><button class="btn btn-xs btn-default"><i
                                        class="fa fa-caret-right navtoggle"></i></button></span>
                                <span v-for="item in summary.bySeverity" class="event-severity-btn">
                                <a href="javascript:void(0)"
                                   :class="'btn btn-xs '+item.name + ' active'"
                                   data-toggle="button"
                                   data-active-class="selected"
                                   :data-value="item.severity"
                                   :style="'background-color:'+item.color+'!important;color:#fff;max-width:45px;min-width:45px;margin-right: 3px;'"
                                   @click="setFilterBySeverity(item.name)">
                                  ${item.count}
                                </a>
                              </span>
                            </div>
                            <div class="table-responsive data-table">
                                <vue-bootstrap-table id="dataTable"
                                                     :columns="search.result.columns"
                                                     :options="search.result.options"
                                                     :dataset="search.result.data"
                                                     :filter="summary.filter"
                                                     contextMenu="context-menu"></vue-bootstrap-table>
                            </div>
                            <div class="panel-footer object-footer">
                                <i class="fa fa-search"></i> Search: ${search.input.term} ${search.preset.default?search.preset.default.name:""} &nbsp;&nbsp;
                                <i class="fa fa-list-alt"></i> Result: ${search.result.data.length} &nbsp;&nbsp;
                                <i class="fa fa-clock-o"></i> Time: ${search.currentTimer} &nbsp;&nbsp;
                            </div>
                            <!-- context menu -->
                            <ul id="context-menu" class="dropdown-menu">
                                <li data-item='{"num": "0", "app":"log","item":"detail", "show":"list"}'><a
                                        href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-list fa-fw"></i>
                                    Details</a></li>
                                <li data-item='{"num": "1", "app":"log","item":"history","show":"table"}'><a
                                        href="javascript:void(0)" style="cursor:hand;"><i
                                        class="fa fa-history fa-fw"></i> History</a></li>
                                <li data-item='{"num": "2", "app":"log","item":"timeline","show":"timeline"}'><a
                                        href="javascript:void(0)" style="cursor:hand;"><i
                                        class="fa fa-clock-o fa-fw"></i> Timeline</a></li>
                                <li data-item='{"num": "3", "app":"log","item":"diagnosis","show":"widget"}'><a
                                        href="javascript:void(0)" style="cursor:hand;"><i
                                        class="fa fa-wrench fa-fw"></i> Diagnosis</a></li>
                                <li data-item='{"num": "4", "app":"log","item":"add","show":"command"}'><a
                                        href="javascript:void(0)" style="cursor:hand;"><i class="fa fa-plus fa-fw"></i>
                                    New Action</a></li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="gauge">
                        <div class="row">
                            <div class="col-md-3 col-sm-6" v-for="(item,key) in summary.byHost">
                                <div class="widget widget-stats bg-blue">
                                    <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                                    <div class="stats-info">
                                        <h4>${key}</h4>
                                        <p>
                                            <a class="btn btn-icon btn-circle btn-sm"
                                               :style="'background-color:'+subitem.color+';color:#fff;'"
                                               v-for="subitem in item">
                                                ${subitem.length}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="stats-link">
                                        <a href="javascript:void(0);" @click="openDiagnosis(item,'perfromance')">Performance
                                            <i class="fa fa-arrow-circle-o-right"></i></a>
                                        <a href="javascript:void(0);" @click="openDiagnosis(item,'graph')">Graph <i
                                                class="fa fa-arrow-circle-o-right"></i></a>
                                        <a href="javascript:void(0);" @click="openDiagnosis(item,'config')">Config <i
                                                class="fa fa-arrow-circle-o-right"></i></a>
                                        <a href="javascript:void(0);" @click="openDiagnosis(item,'ticket')">Ticket <i
                                                class="fa fa-arrow-circle-o-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="heatmap">
                        <vue-entity-heatmap-component :model="summary.data.list" :preset="search.preset.default"
                                                      :preconfig="preconfig"></vue-entity-heatmap-component>
                    </div>
                </div>
            </div>
        </div>

    </div>

</script>

{{template "base/footer" .}}
