{{template "base/head" .}}

<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/entityStyle/zTreeStyle.css" type="text/css" rel="stylesheet">
<!-- Bootstrap Select CSS -->
<link href='{{AppSubUrl}}/web/vendor/bootstrap-select/dist/css/bootstrap-select.css' rel='stylesheet'>
<link href="{{AppSubUrl}}/web/vendor/table/export/bootstrap-editable.css" rel="stylesheet">


<style type="text/css" media="screen">
    #content.content{
        margin: -15px -15px 0px 45px;
    }
    
    .vue-search-input-component input {
        height:34px;
    }

    .btn.dropdown-toggle {
        padding: 7px 12px;
        border-radius: 0px;
    }

    .vue-search-input-component > .btn-group > .btn.dropdown-toggle {
        border-bottom: 2px solid rgb(182, 194, 202);
    }

    /* Data Table Start */

    .data-table > .fixed-table-container {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }

    .data-table > .fixed-table-container thead th:first-child,
    .data-table > .fixed-table-container thead th:last-child {
        border: none;
        border-top-left-radius: 0px;
        -webkit-bordertop-left-radius: 0px;
        -moz-bordertop-left-radius: 0px;
    }

    .data-table > .bootstrap-table .table thead > tr > th {
        background-color: #b6c2ca;
        color: #fff;
    }

    .data-table > .bootstrap-table > .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
        padding: 2px;
        line-height: 20px;
    }

    .data-table > .bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
        padding: 5px;
    }

    .data-table > .bootstrap-table > .fixed-table-container > .fixed-table-body {
        height: -moz-calc(100vh - 305px);
        height: -webkit-calc(100vh - 305px);
        height: calc(100vh - 305px);
    }

    .data-table > .bootstrap-table > .fixed-table-container > .fixed-table-pagination {
        margin: 0px 10px
    }

    /* Data Table End */

    .dropdown-toggle.btn-xs {
        border-radius: 0px;
        padding: 7px;
    }

    .nav-main > .btn-xs {
        border-radius: 0px;
    }

    table > tbody > tr:not(.detail-view):hover > td {
        background-color: #c3e4f5;
    }

    table > tbody > tr:not(.detail-view).selected > td {
        background-color: #c3e4f5;
        border: 1px dashed #cccccc;
    }

    .breadcrumb {
        padding: 8px 15px 0px 15px;
        margin: 0px;
        background-color: transparent;
    }

    /* For performance gauge */
    .widget.performance-widget {
        margin-bottom: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .bootstrap-select.performance-kpi {
        width: 100% !important;
    }

    .bootstrap-select.performance-kpi > button {
        background-color: #358ee2;
        border: none;
        border-top: 1px solid #5ca5e8;
        font-size: 0.7em;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .bootstrap-select.performance-kpi > .dropdown-menu {
        padding: 0px 5px;
    }

    .bootstrap-select.performance-kpi > .dropdown-menu {
        background-color: rgb(102, 175, 245);
    }

    .bootstrap-select.performance-kpi > .btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
        background: rgb(102, 175, 245);
        border-color: rgb(102, 175, 245);
    }

    .bootstrap-select.performance-kpi > .dropdown-menu > .dropdown-menu {
        background-color: rgb(102, 175, 245);
    }

    .bootstrap-select.performance-kpi > .dropdown-menu > .dropdown-menu > li .selected > a {
        background-color: rgb(43, 142, 226);
    }

    .bootstrap-select.performance-kpi > .dropdown-menu > .dropdown-menu > li a:hover {
        background-color: rgb(137, 193, 247);
    }

    .bootstrap-select.performance-kpi > .dropdown-menu > .dropdown-menu > li a:active,
    .bootstrap-select.performance-kpi > .dropdown-menu > .dropdown-menu > li a:focus,
    .bootstrap-select.performance-kpi > .dropdown-menu > .dropdown-menu > li a:visited {
        background-color: rgb(43, 142, 226);
    }

</style>

<div id="app"></div>

<script src="{{AppSubUrl}}/web/js/model/Performance.js"></script>

<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>

<!-- ECharts单文件引入 -->
<script src="{{AppSubUrl}}/web/vendor/echart/echarts.min.js"></script>

<!-- Bootstrap Select JS -->
<script src='{{AppSubUrl}}/web/vendor/bootstrap-select/dist/js/bootstrap-select.js'></script>

<script src="{{AppSubUrl}}/web/vendor/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="{{AppSubUrl}}/web/css/color/apps.min.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/vue-editor-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-entity-tree-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-search-preset-component_{{.Lang}}.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-search-input-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-bootstrap-table.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-gauge-radial-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-gauge-linear-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-common-form-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/vue-object-detail-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/cmdb/vue-ci-tags-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>


<script type="text/x-template" id="app-template">
    <div id="content" class="content">

        <div class="row performance-search">
            <div class="col-lg-12" style="padding-left:10px;padding-bottom: 10px;">
                <div class="input-group searchinput">
                    <vue-search-input-component :model="search.input"></vue-search-input-component>
                    <div class="input-group-btn">
                        <vue-search-preset-component id="performance-vue-search-preset" :preset="search.preset"></vue-search-preset-component>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary" @click="onSearch"><i class="fa fa-search"
                                                                                           style="font-size:18px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div row="col-lg-12">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div role="tabpanel" style="background:#ffffff;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-bottom-2px" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Performance</a>
                        </li>
                        <li role="presentation">
                            <a href="#gauge" aria-controls="gauge" role="tab" data-toggle="tab">Gauge</a>
                        </li>

                        <li role="presentation" style="display: -webkit-box;">
                            <a href="javascript:void(0)"
                               v-for="(item,index) in search.filter"
                               class="btn btn-xs btn-success"
                               @click="toggleFilter(item.value)"
                               style="min-width: 60px;padding:0px 10px;background-color:#dae0e8!important;">
                                ${item.name}
                            </a>
                        </li>

                        <li role="presentation" class="pull-right" style="display: -webkit-box;">
                            <a href="javascript:void(0)" @click="toggleMode"><i
                                    class="fa fa-desktop fa-fw toggle-mode"></i></a>
                            <!--<a href="javascript:void(0)" @click="toggleTop"><i
                                    class="fa fa-caret-down fa-fw toggle-top"></i></a>-->
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content nav-main" style="padding:0px;">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class='row'>
                                <div class="col-lg-2" id="nav"
                                     style="display: none;padding-left:10px;padding-right:5px;">
                                    <div class="panel" style="border-radius: 0px;">
                                        <div class="panel-body" style="padding-left:5px;padding-top: 5px;">
                                            <vue-entity-tree-component id="performance-entity-tree" :list="search.result.data"></vue-entity-tree-component>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="mainview" style="padding-left:10px;">
                                    <div class="panel" style="border-radius: 0px;">
                                        <div class="panel-body" style="padding:0px 15px;">
                                            <div id="custom-toolbar1">
                                                <span id="title-path" @click="toggleLeft"><button
                                                        class="btn btn-default btn-xs"><i
                                                        class="fa fa-caret-right navtoggle"></i></button></span>
                                                <span @click="openDashBoardModal"><button
                                                        class="btn btn-default btn-xs"><i class="fa fa-tachometer"></i> New DashBoard</button></span>
                                            </div>
                                            <div class="table-responsive data-table">
                                                <vue-bootstrap-table id="dataTable"
                                                                     :columns="search.result.columns"
                                                                     :options="search.result.options"
                                                                     :dataset="search.result.data"
                                                                     contextMenu="context-menu">
                                                </vue-bootstrap-table>
                                            </div>
                                            <!-- context menu -->
                                            <ul id="context-menu" class="dropdown-menu">
                                                <li data-item='{"num": "0", "app":"performance","item":"detail", "show":"list"}'>
                                                    <a href="javascript:void(0)" style="cursor:hand;"><i
                                                            class="fa fa-list fa-fw"></i> Details</a></li>
                                                <li data-item='{"num": "1", "app":"performance","item":"history","show":"chart"}'>
                                                    <a href="javascript:void(0)" style="cursor:hand;"><i
                                                            class="fa fa-history fa-fw"></i> History</a></li>
                                                <li data-item='{"num": "2", "app":"performance","item":"kpi","show":"kpi"}'>
                                                    <a href="javascript:void(0)" style="cursor:hand;"><i
                                                            class="fa fa-wrench fa-fw"></i> Threshold</a></li>
                                                <li data-item='{"num": "3", "app":"performance","item":"add","show":"command"}'>
                                                    <a href="javascript:void(0)" style="cursor:hand;"><i
                                                            class="fa fa-plus fa-fw"></i> New Action</a></li>
                                            </ul>
                                        </div>
                                        <div class="panel-footer object-footer">
                                            <i class="fa fa-search"></i> Search: ${search.input.term} ${search.preset.default?search.preset.default.name:""} &nbsp;&nbsp;
                                            <i class="fa fa-list-alt"></i> Result: ${search.result.data.length} &nbsp;&nbsp;
                                            <i class="fa fa-clock-o"></i> Time: ${search.currentTimer} &nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="gauge">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <!-- begin col-3 -->
                                        <div class="col-md-3 col-sm-6" v-for="(item,key) in search.result.gauge.list"
                                             style="margin-bottom:10px;">
                                            <div :class="'widget widget-stats bg-blue performance-widget '+ key">
                                                <div class="stats-icon"><i class="fa fa-television"></i></div>
                                                <div class="stats-info">
                                                    <h4>${key}</h4>
                                                </div>
                                                <vue-gauge-radial-component :id="key"
                                                                            :value="search.result.gauge.selected['gauge_'+key]"></vue-gauge-radial-component>
                                            </div>
                                            <select :class="'selectpicker performance-kpi ' + key">
                                                <optgroup :label="subkey"
                                                          v-for="(subitem,subkey) in _.groupBy(item,'inst')">
                                                    <option v-for="(v,k) in subitem" :value="v.value">${subkey}
                                                        <small style="font-size:10px;color:#81ff76;">${v.param}</small>
                                                    </option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addDashBoardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{.i18n.Tr "mxperformance_actions_title"}}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="recipient-name" class="col-sm-2 control-label">{{.i18n.Tr "mxperformance_actions_view_title"}}:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="title" name="title"
                                           placeholder='{{.i18n.Tr "mxperformance_actions_view_title"}}'>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="message-text" class="col-sm-2 control-label">{{.i18n.Tr "mxperformance_actions_view_tags"}}:</label>
                                <div class="col-sm-10">
                                    <input id="tags" name="tags"
                                           placeholder='{{.i18n.Tr "mxperformance_actions_view_tags"}}'>
                                </div>
                            </div>

                            <div class="form-group" id="ispublic">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" value="1" checked>{{.i18n.Tr "mxperformance_actions_view_public"}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" value="0">{{.i18n.Tr "mxperformance_actions_view_private"}}
                                    </label>
                                </div>
                            </div>

                            <div style="display:none;">
                                <label for="recipient-name" class="col-sm-2 control-label">{{.i18n.Tr "mxperformance_actions_view_datasource"}}:</label>
                                <div class="col-sm-10">
                                    <pre id="selectedId"></pre>
                                </div>
                            </div>
                            <div class="collapse" id="collapseSearchTempData" style="display:none;">
                                <table id="tempDataTable" data-toggle="table" class="table-striped"
                                       data-click-to-select="true" data-page-size="15" data-page-list="[15,30,45,60]">
                                </table>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{.i18n.Tr "mxperformance_actions_view_type"}}:</label>
                                <div class="col-sm-10">
                                    <div class='pull-center'>
                                        <label class='radio-inline'>
                                            <input type='radio' id='options1' name='radioType' value='line' checked>
                                            Line
                                        </label>
                                        <label class='radio-inline'>
                                            <input type='radio' id='options2' name='radioType' value='bar'> Bar
                                        </label>
                                        <label class='radio-inline'>
                                            <input type='radio' id='options3' name='radioType' value='pie'> Pie
                                        </label>
                                        <label class='radio-inline'>
                                            <input type='radio' id='options4' name='radioType' value='guage'> Guage
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{.i18n.Tr "mxperformance_actions_view_theme"}}:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="radioTheme" value="blue" autocomplete="off">&nbsp;{{.i18n.Tr "mxperformance_actions_view_theme_blue"}}
                                        <!--p><img src="{{AppSubUrl}}/web/assets/images/theme_blue.png" style="width:128px;height:90px;"></p-->
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radioTheme" value="dark">&nbsp;{{.i18n.Tr "mxperformance_actions_view_theme_dark"}}
                                        <!--p><img src="{{AppSubUrl}}/web/assets/images/theme_dark.png" style="width:128px;height:90px;"></p-->
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radioTheme" value="gray" checked>&nbsp;{{.i18n.Tr "mxperformance_actions_view_theme_gray"}}
                                        <!--p><img src="{{AppSubUrl}}/web/assets/images/theme_gray.png" style="width:128px;height:90px;bordre:1px;"></p-->
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-primary" @click="saveDashboard(false)">
                                        {{.i18n.Tr "mxperformance_actions_view_save"}}
                                    </button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal"
                                            @click.deleage="saveDashboard(true)">{{.i18n.Tr "mxperformance_actions_view_save&open"}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

{{template "base/footer" .}}
