<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}


<div class="container-fluid">
  <div class='row'>
  	
  	<div class="col-lg-12">

	</div>

  </div>
</div>


<!--Layer Core JS-->
<script src="{{AppSubUrl}}/web/lib/layer2/layer.js"></script>

<!--VUE Core JS-->
<script src="{{AppSubUrl}}/web/lib/vue/2.0.5/dist/vue.js"></script>

{{template "base/footer" .}}
