<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}


<style>
	
	body {
		background-color: #d9e0e7;
	}

</style>

<div id="app"></div>

<script type="text/javascript">
	
	$(function() {
		

		var appVue = new Vue({
        	delimiters: ['${', '}'],
        	el: "#app",
        	template: "#app-template",
        	data: {
				ws:null,
        	},
        	mounted: function(){
				try{
				
					var ws = new WebSocket('ws://47.92.151.165/websocket/CPYJ?source=AI&title=词频预警');
					ws.onopen = function(evt) { 
						console.log('Connected');
			
					};
					ws.addEventListener('message', function (ev) {
						console.log(ev.data);
					});
					ws.onmessage = function (ev) {
						console.log('Receive message');
						var message = JSON.parse(ev.data);
						console.log(message.subject);
						console.log(message.msg);
						//document.getElementById("show").innerText = message.subject + '\n' + message.msg;
					};
					function closeWS() {
						ws.close(1000, 'close');
						//document.getElementById("show").innerText = 'Websocket closed';
					}
				}catch(err){
					console.log(err)
				}
			},
			created: function(){
			},
			methods: {
				init(){

				}
			}
        })
	});

</script>

<script type="text/x-template" id="app-template">
	<div id="content" class="content container-fluid">
		
	</div>
</script>

{{template "base/footer" .}}
