<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}
<!--MXClient JS & CSS-->
<script>
	mxBasePath = '{{AppSubUrl}}/web/creative/src';
	mxLanguage = window.MATRIX_LANG.replace(/en/g,"eg").split("-")[0];
</script>

<script src="{{AppSubUrl}}/web/creative/src/js/mxClient.js" type="text/javascript"></script>
<link href="{{AppSubUrl}}/web/creative/graph/styles/grapheditor.css" type="text/css" rel="stylesheet">

<script>
    mxResources.add('{{AppSubUrl}}/web/creative/graph/resources/grapheditor');
</script>
<!-- zTree Core CSS -->
<link href="{{AppSubUrl}}/web/vendor/zTree/css/systemStyle/zTreeStyle.css" type="text/css" rel="stylesheet">
<link href="{{AppSubUrl}}/web/vendor/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" >

<style>

	/* body */
	body {
		background: unset;
    	background-color: rgb(255, 255, 255);
	}

	#content.content {
		padding: 0px!important;
		margin-top: 0px!important;
        margin-left: 0px!important;
    }

	.topological-view-edges  .el-tabs--border-card,
    .topological-view-diagnosis .el-tabs--border-card {
		background:transparent;
		border: unset;
        -webkit-box-shadow: unset;
		box-shadow: unset;
    }


    .el-tabs--border-card{
		background: rgb(255, 255, 255);
		border: unset;
		-webkit-box-shadow: unset;
		box-shadow: unset;
	}
	.el-tabs--border-card>.el-tabs__header {
		background-color: rgb(247, 247, 247);
		border-bottom: 1px solid rgb(228, 231, 237);
		margin: 0;
		height: 35px;
		line-height: 35px;
	}
	.el-tabs__item {
		height:35px;
		line-height:35px;
	}

    .el-tabs__nav-next, .el-tabs__nav-prev{
        line-height: 30px;
    }

    .topological-analysis{
        padding: 10px 5px 0px 5px;
    }

    .topological-analysis .el-form-item--small.el-form-item {
        margin-bottom: 10px;
    }

    .topological-analysis .el-form-item__content{
        margin-left: 40px;
    }

    .topological-analysis .el-input.el-input--suffix, .topological-analysis .el-input-number{
        border: 1px solid #ddd;
    }

	/* For Table */
    thead th {
        white-space: nowrap;
    }

    /* 分析 */
    form.form-horizontal > .form-group:nth-child(even) {
		background: rgb(249, 249, 249);
	}
	form.form-horizontal > .form-group:nth-child(odd) {
		background: rgb(255, 255, 255);
    }
    
    /* For grid-view */
    #grid ul{
        padding-left: 0;
        list-style: none;
    }

    #grid ul > li{
        float: left;
        width: 9em;
        height: 90px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(249, 249, 249);
        border: 1px solid rgb(255, 255, 255);
        margin: 5px 5px 0px 0px;
    }

    /*
    *   File Upload
    */
    .progress {
        height: 16px;
        border-radius: 0px;
        display: block;
        position: relative;
    }

    .progress small {
        color: #ffffff;
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
    }

    .files ul{
        margin: 10px;
        padding-left: 0;
        list-style: none;
    }

    .files ul > li{
        float: left;
        width: 100pt;
        height: 100px;
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(249, 249, 249);
        border: 1px solid rgb(255, 255, 255);
        padding-top: 5px;
        margin: 5px 0px 20px 5px;
    }

    .files ul > li > canvas {
        height: 65%;
        width: auto;
    }

    .files ul > li > a {
        background-color: rgb(249, 249, 249);
        border-radius: 0px;
    }

    .files ul > li > button {
        margin-top: -50px;
    }

    .files ul > li > .preview-null {
        width: 100px;
        padding-top: 10px;
        height: 64px;
        color: rgb(221, 221, 221);
    }

    .preview-img-responsive{
        max-width: 100%;
        height: auto;
        display: block;
    }

    .fs-view-component #grid,
    .fs-view-component .dataTables_scroll{
        height: 75vh;
        overflow: auto;
        padding: 0 10px;
    }

    .fs-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    } 

    /* el-transfer edge-main-panel */
    .edge-main-panel.el-transfer{
        height: calc(100% - 44px);
    }
    .edge-main-panel.el-transfer > .el-transfer-panel{
        width:100%;
        height: 45%;
    }
    .edge-main-panel.el-transfer > .el-transfer__buttons{
        width:100%;
        height:60px;
        line-height: 60px;
        text-align: center;
        padding:0px;
    }

    .topological-view-edges .el-tabs--border-card>.el-tabs__content,
    .topological-view-diagnosis .el-tabs--border-card>.el-tabs__content {
        padding: 0px;
    }

    /* entity-diagnosis-tabs */
    .entity-diagnosis-tabs{
        height:100%;
    }
    .entity-diagnosis-tabs .is-always-shadow + .is-always-shadow{
        margin-top:10px;
    }
    .entity-diagnosis-tabs > .el-tabs__header.is-left{
        background: #f7f7f7;
        margin-right:0px;
    }
    .entity-diagnosis-tabs > .el-tabs__header.is-left > .el-tabs__nav-wrap::after{
        background: transparent;
    }
    .entity-diagnosis-tabs .el-tabs__nav.is-left > .is-left:nth-child(1){
        height:0px;
        display: none;
    }
    .entity-diagnosis-tabs .el-tabs__nav.is-left .el-tabs__item.is-left{
        padding: 5px 10px;
    }
    .entity-diagnosis-tabs .el-tabs__nav.is-left .el-tabs__item.is-left.is-active{
        background: #fff;
    }

     /* Graph Diagnosis Tabs Header */
     .graph-view-diagnosis.el-tabs.el-tabs--top.el-tabs--border-card{
        border-left:1px solid #ddd;
    }

    /* fs-view-node */
    .fs-view-node .el-checkbox__input{
        float:right;
    }
    .fs-view-node .el-checkbox__label{
        display: none;
    }
    .fs-view-node .el-checkbox__input > .el-checkbox__inner{
        border:unset;
    }

    /* 全屏模式 */
	section#header{
		display:none;
	}
	aside>#sidebar{
		display:none;
	}
	.page-header-fixed{
		padding-top: 0px;
	}

	.page-sidebar-minified .sidebar-bg{
		width: 0px;
	}

	.page-sidebar-minified .content{
		margin-left: 0px;
	)

</style>

<main id="content" class="content">
	<div id="app"></div>
</main>

<script src="{{AppSubUrl}}/web/js/model/Event.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Robot.js"></script>
<script src="{{AppSubUrl}}/web/js/model/Topological.js"></script>

<!--zTree Core JS-->
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.core-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.excheck-3.5.js"></script>
<script src="{{AppSubUrl}}/web/vendor/zTree/js/jquery.ztree.exedit-3.5.js"></script>

<!--File Parse JS-->
<script src="{{AppSubUrl}}/web/vendor/papaparse/papaparse.min.js"></script>
<!--Jquery File Upload JS-->
<script src="{{AppSubUrl}}/web/vendor/js-load-image/js/load-image.all.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/canvas-to-blob.min.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="{{AppSubUrl}}/web/vendor/jquery-file-upload/js/jquery.fileupload-image.js"></script>

<!-- ECharts单文件引入 --> 
<script src="{{AppSubUrl}}/web/vendor/echart/echarts.min.js"></script>

<link rel="vc" href="{{AppSubUrl}}/web/component/ai/ai-robot-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/omdb/omdb-path-datatables-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/event/event-datatable-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/event/event-diagnosis-datatable-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/event/event-summary-component.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/topological/topological-graph-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/topological/topological-timeline.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-base-component.html"></link>
<link rel="vc" href="{{AppSubUrl}}/web/component/search/search-preset-component_{{.Lang}}.html"></link>

<link rel="vc" href="{{AppSubUrl}}/web/component/entity/entity-tree-component.html"></link>

<script>
	$(function(){
        let mxTopological = new Topological();
        mxTopological.init();
        mxTopological.mount("#app",mxTopological);
	})
</script>
{{template "base/footer" .}}
