{ name:"By Event", valu:[
							{ name: "NODE", value:"},
							{ name: "NODEALIAS", value:"},
							{ name: "MANAGER", value:"},
							{ name: "AGENT", value:"},
							{ name: "ALERTGROUP", value:"},
							{ name: "ALERTKEY", value:"},
							{ name: "SEVERITY", value:"},
							{ name: "TYPE", value:"},
							{ name: "OWNERUID", value:"},
							{ name: "OWNERGID", value:"},
							{ name: "ACKNOWLEDGED", value:"},
							{ name: "SUPPRESSESCL", value:"},
							{ name: "ORIGINALSEVERITY", value:"},
							{ name: "ACTPROKEY", value:"},
							<option selected="selected">SITEID", value:"},
							{ name: "RESOLVESTATUS", value:"},
							{ name: "TELUS_GEOLOC", value:"},
							{ name: "TELUS_TTSYSTEM", value:"},
							{ name: "TIXTTSTATUS", value:"}
						]
},

{ name:"By Biz", valu:[
						{ name: "TELUS_SEVERITY", value:"},
						{ name: "MOBOWNERGROUP", value:"},
						{ name: "PROVINCE", value:"},
						{ name: "ELEMENTSTATUS", value:"},
						{ name: "ELEMENTOWNER", value:"},
						{ name: "ELKEY_SERVICEREGION", value:"},
						{ name: "ELKEY_TECHNOLOGY", value:"},
						{ name: "ELKEY_SERVICE", value:"},
						{ name: "EVKEY_VISIBILITY", value:"},
						{ name: "EVKEY_ALARMCLASS", value:"},
						{ name: "EVKEY_DOMAIN", value:"},
						{ name: "EVKEY_EVENTTYPE", value:"},
						{ name: "EVKEY_SERVICEIMPACT", value:"},
						{ name: "REMEDYTTSTATUS", value:"},
						{ name: "TELUS_HIER_1", value:"},
						{ name: "TELUS_HIER_2", value:"},
						{ name: "TELUS_HIER_3", value:"},
						{ name: "TELUS_HIER_4", value:"},
						{ name: "TELUS_HIER_5", value:"}
					]
}