{"field": "name", "title": "Name"},
{"field": "title", "title": "Title"},
{"field": "colname", "title": "ColName"},
{"field": "ftype", "title": "Ftype"},
{"field": "loption", "title": "Loption"},
{"field": "fparam", "title": "Fparam"},
{"field": "isindex", "title": "Index"},
{"field": "iskey", "title": "Primary Key"},
{"field": "note", "title": "Note"},
{"field": "mtime", "title": "Mtime"},
{"field": "class", "title": "Class"},
{"field": "dispname", "title": "Dispname"},
{"field": "tags", "title": "Tags", visible:false},
{"field": "isrel", "title": "Rel", visible:false},
{"field": "btype", "title": "Btype", visible:false}