<code>

	<style>
		/*----------  style  ----------*/
		.cmdb-datatables-component thead tr th, .cmdb-datatables-component tbody tr td{
			line-height: 10px;
			white-space: nowrap;
		}

		.cmdb-datatables-component table.dataTable tbody>tr.selected, table.dataTable tbody>tr.selected td, table.dataTable tbody>tr>.selected {
			background: rgb(196, 235, 253)!important;
		}

		td.highlight {
			background-color: whitesmoke !important;
		}

		table.cmdb-datatables-component tbody tr:nth-child(even):hover td{
			background-color: rgba(227, 239, 244, 0.5) !important;
		}

		.context-menu-list {
            box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
			padding:5px;
            border: none;
		}
            
        .context-menu-list>li>a{
            padding: 5px 5px;
            color:rgb(102, 102, 102)!important;
        }

		div.toolbar {
			float: left;
		}

		div.toolbar i {
			color: rgb(218, 224, 231);
			cursor: pointer;
			margin: 10px 0px 0px 5px;
		}

		.dataTables_scrollBody {
			max-height: unset;
		}


		div[id*="classEdit"].dataTables_info{
			position: absolute;
			bottom: 0px;
			height: 28px;
			background-color: rgb(255, 255, 255);
			width: 100%;
			text-align: left;
			border-top: 1px solid rgb(226, 231, 236)
		}

		div[id*="output"].dataTables_info {
			position: fixed;
			bottom: 32px;
			height: 28px;
			background-color: rgb(255, 255, 255);
			width: 100%;
			text-align: left;
			border-top: 1px solid rgb(226, 231, 236)
		}

        
	</style>

	
	/*----------  最外层element会自动增加组件同名 class="cmdb-datatables-component"  ----------*/
	<template>
		<table :id="id" class="display" width="100%">
		</table>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="cmdb-datatables-component">
	{
        delimiters: ['${', '}'],
		props: {
        	id: String,
			columns: Array,
			dataset: Array,
			options: Object,
            contextmenu: String,
			result: Object,
		},
		data: function(){
          	return {
                datatable: null,
				selectedRow: null,
				selectedCell: null,
                items: {
                    ciview: {
                                "card": { app:"ciview", name: "配置卡片", icon: "fa-tasks", callback: function(key, opt) {

                                                                                                        let _table = $('#'+opt.$trigger.attr("id")).DataTable();
                                                                                                        let _selectedRow = _table.row('.selected').data();

                                                                                                        eventHub.$emit("ci-view-toggle-event", {view: 'ci-view-card-component', model: _selectedRow});
                                                                                                        
                                                                                                        /*newWindow('fsLarge', opt.items[key].name + " " + _selectedRow.name, `<div id="panel-card"></div>`,null,null);

                                                                                                        _.delay(function(){

                                                                                                            let cardVue = new Vue({
                                                                                                                el: '#panel-card',
                                                                                                                data: function(){
                                                                                                                    return {
                                                                                                                        model: _selectedRow
                                                                                                                    }
                                                                                                                },
                                                                                                                template: '<vue-ci-card-component :row="model"></vue-ci-card-component>'
                                                                                                            });


                                                                                                        },100);*/
                                                                                                    }
                                },
                                "sep1": "---------",
                                "new": { app:"ciview", name: "新建", icon: "fa-paste", callback: function(key, opt) {

                                                                                                        let _table = $('#'+opt.$trigger.attr("id")).DataTable();
                                                                                                        let _selectedRow = _table.row('.selected').data();



                                        maxWindow.winLarge(opt.items[key].name + " " + _selectedRow.name, `<div id="ci-create-template"></div>`,null,null);

                                                                                                        _.delay(function() {

                                                                                                            let _item = _selectedRow.selectedRow;

                                                                                                            let cVue = new Vue({
                                                                                                                delimiters: ['$', '$'],
                                                                                                                el: '#ci-create-template',
                                                                                                                template: ` <div class="panel"><div class="panel-body">
                                                                                                                                <vue-common-form-component id="form" :form="model.form"></vue-common-form-component>
                                                                                                                            </div></div>`,
                                                                                                                data: function(){
                                                                                                                    return {
                                                                                                                        model: {
                                                                                                                            form: {
                                                                                                                                view: "",
                                                                                                                                data: {},
                                                                                                                                schema: {
                                                                                                                                    title:"",
                                                                                                                                    type: "object",
                                                                                                                                    properties: []
                                                                                                                                },
                                                                                                                                options: {
                                                                                                                                    form: {
                                                                                                                                        buttons: {
                                                                                                                                            save: {
                                                                                                                                                title: "Save",
                                                                                                                                                click: function() {
                                                                                                                                                    let val = this.getValue();

                                                                                                                                                    if (this.isValid(true)) {
                                                                                                                                                        cVue.save(val);
                                                                                                                                                        /*alert("Valid value: " + JSON.stringify(val, null, "  "));*/
                                                                                                                                                    } else {
                                                                                                                                                        /*alert("Invalid value: " + JSON.stringify(val, null, "  "));*/
                                                                                                                                                    }
                                                                                                                                                }
                                                                                                                                            }
                                                                                                                                        }
                                                                                                                                    },
                                                                                                                                    fields: {}
                                                                                                                                }

                                                                                                                            },
                                                                                                                            list: Array
                                                                                                                        },
                                                                                                                        selected: _item
                                                                                                                    }
                                                                                                                },
                                                                                                                created:function(){
                                                                                                                    let me = this;

                                                                                                                    me.init();

                                                                                                                },
                                                                                                                mounted: function() {
                                                                                                                    let me = this;

                                                                                                                    me.$nextTick(function(){

                                                                                                                        me.initPlugIn();

                                                                                                                    })

                                                                                                                },
                                                                                                                methods: {
                                                                                                                    init: function(){
                                                                                                                        let me = this;
                                                                                                                        let _list = fetchClass(_item.class);
                                                                                                                        let _properties = {};
                                                                                                                        let _fields = {};
                                                                                                                        let _data = {"class":_item.class};

                                                                                                                        _.forEach(_list.message.fields,function (v) {
                                                                                                                            let _name = v.name;
                                                                                                                            let _type = v.ftype=='varchar'?'string':'string';
                                                                                                                            let _required = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?false:false;
                                                                                                                            let _hidden = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?true:false;

                                                                                                                            _.merge(_properties, {[_name]: {type: _type,required: _required, hidden: _hidden}});
                                                                                                                            _.merge(_fields, {[_name]: {label: _.startCase(v.name)}});
                                                                                                                        });

                                                                                                                        me.model.form.data = _data;
                                                                                                                        me.model.form.schema.title = _item.class;
                                                                                                                        me.model.form.schema.properties = _properties;
                                                                                                                        me.model.form.options.fields = _fields;

                                                                                                                        me.model.list = _.map(_list.message.fields,function(v){
                                                                                                                            return v;
                                                                                                                        });


                                                                                                                    },
                                                                                                                    initPlugIn: function(){
                                                                                                                        let me = this;

                                                                                                                    },
                                                                                                                    save: function(event){
                                                                                                                        let me = this;
                                                                                                                        let rtn = putDataByMql(event);
                                                                                                                    }
                                                                                                                }
                                                                                                            });
                                                                                                        },500);
                                                                                                }
                                },
                                "sep2": "---------",
                                "delete": { app:"ciview", name: "删除", icon: "fa-trash", callback: function(key, opt) {} },
                                "sep3": "---------",
                                "action": { app:"ciview", name: "新建命令", icon: "fa-plus", callback: function(key, opt) {} }
                            }
                }
			}
		},
        created: function(){
            let self = this;

            eventHub.$on("DATATABLE-RESIZE-EVENT", self.redraw);
            eventHub.$on("LAYOUT-RESIZE-TRIGGER-EVENT", self.resize);
        },
		mounted: function () {
            let self = this;

            self.$nextTick(function () {

                _.delay(function() {
                    self.init();
                },500);
                
                _.delay(function() {
                    self.redraw();
                },3000);

            })
        },
		computed: {
            _columns: function(){
                let self = this;

                return _.map(self.columns,function(v,k){
                    		return { "data": v.field, "title": v.title, render: v.render };
						});
			}
		},
		watch: {
          	dataset: {
                handler: function(val,oldVal){
                      	    let self = this;

                      	    if(val === oldVal) return false;

                            if( !_.isEmpty(self.datatable) ) {
                                self.datatable.destroy(); 
                                self.init();
                            }

                            self.datatable.clear();
                            self.datatable.draw();
                            self.datatable.rows.add(val); // Add new data
                            self.datatable.columns.adjust().draw(); // Redraw the DataTable*/

                },
                deep:true
			}/*,
            columns: function(val,oldVal){
                let self = this;

                if(self.datatable){
                    self.datatable.clear().draw();
                    self.datatable.draw();
                    //self.datatable.rows.add(val); // Add new data
                    self.datatable.columns.adjust().draw(); // Redraw the DataTable
                }

            }*/,
            options: {
                handler: function(val,oldVal){
                    let self = this;

                    //if(val == oldVal) return false;

	                //self.datatable.destroy();
                    //self.init();

                },
                deep:true
            }

		},
		methods: {
            resize: function(event){
                let self = this;

                $(".dataTables_wrapper").css('max-height', $(".dataTables_wrapper").parent().height());
                $(".dataTables_scrollBody").css('max-height', event.scrollY);
            },
            init: function(){
                let self = this;

                self.datatable = $(self.$el).DataTable( _.extend({
                    			data: self.dataset,
                                columns: _.uniqBy(self._columns,'data'),
                                responsive: false,
                                aDataSort: true,
                                bAutoWidth: true,
								searching: false,
								bSort: true,
								paging: false,
								info: true,
                    			scrollX: true,
								scrollY: '54vh',
                                scrollCollapse: true,
                                aoColumnDefs: [{sDefaultContent:'', aTargets:['_all']}],
                                "language" : {
                                    "sProcessing" : "处理中...",
                                    "sLengthMenu" : "显示 _MENU_ 项结果",
                                    "sZeroRecords" : "没有匹配结果",
                                    "sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                    "sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
                                    "sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
                                    "sInfoPostFix" : "",
                                    "sSearch" : "过滤:",
                                    "sUrl" : "",
                                    "sEmptyTable" : "表中数据为空",
                                    "sLoadingRecords" : "载入中...",
                                    "sInfoThousands" : ",",
                                    "oPaginate" : {
                                        "sFirst" : "首页",
                                        "sPrevious" : "上页",
                                        "sNext" : "下页",
                                        "sLast" : "末页"
                                    },
                                    "oAria" : {
                                        "sSortAscending" : ": 以升序排列此列",
                                        "sSortDescending" : ": 以降序排列此列"
                                    }
                                },
                                dom: '<"toolbar">frtip',
			                    fixedHeader: {
			                        header: true,
			                        footer: true
			                    }
                    },self.options)).columns.adjust().draw();

				self.initPlugin();

			},
			initPlugin: function(){
                let self = this;

                $("div.toolbar").html(`<i class="fa fa-bars"></i>`).ready(function(){
                    self.initClassMenu();
                });

                // init selected row's status
                $(self.$el).find("tbody").on("mouseenter", "tr", function () {

                    /*if ( $(this).hasClass('selected') ) {
                        $(this).removeClass('selected');
                    }
                    else {
                        self.datatable.$("tr.selected").removeClass("selected");
                        $(this).addClass("selected");
                    }*/
                    self.selectedRow = self.datatable.row( this ).data();
                } );

                /*$(self.$el).find("tbody").on( 'mouseenter', 'td', function () {
					var colIdx = self.datatable.cell(this).index().column;

					$( self.datatable.cells().nodes() ).removeClass( 'highlight' );
					$( self.datatable.column( colIdx ).nodes() ).addClass( 'highlight' );
				} );*/

                // selected row
                $(self.$el).on( 'click', 'tr', function () {

                    if ( $(this).hasClass('selected') ) {
                        $(this).removeClass('selected');
                    }
                    else {
                        self.datatable.$("tr.selected").removeClass("selected");
                        $(this).addClass("selected");
                    }

                    self.selectedRow = self.datatable.row( this ).data();
                } );

                // selected row
                $(self.$el).on( 'dblclick', 'tr', function () {
                    self.selectedRow = self.datatable.row( this ).data();

                    maxWindow.winLarge( "配置卡片" + " " + self.selectedRow.name, `<div id="panel-card"></div>`,null,null);

                    _.delay(function(){

                        let cardVue = new Vue({
                            el: '#panel-card',
                            data: function(){
                                return {
                                    model: self.selectedRow
                                }
                            },
                            template: '<vue-ci-card-component :row="model"></vue-ci-card-component>'
                        });


                    },100);
                } );

                // selected cell
                $(self.$el).on( 'click', 'td', function () {
                    self.selectedCell = self.datatable.cell( this ).data();
                } );

                // init context menu
                $.contextMenu({
                    selector: "#"+self.id,
                    trigger: "right",
                    delay: 300,
                    autoHide: true,
                    build: function ($trigger, e) {
                        return {
                            callback: function (key, options) {
                                //self.initModules(key, options.items[key]);
                            },
                            items: self.items[self.contextmenu]
                        };
                    }
                });


			},
            redraw: function(){
                let self = this;

                self.datatable.columns.adjust().draw(); // Redraw the DataTable
            },
			initClassMenu: function(){
                let self = this;

                if(_.isEmpty(self.result)) return false;

                $.contextMenu({
                    selector: '.toolbar',
                    trigger: 'left',
                    build: function($trigger, e) {

                        let _keys = null;
						let _items = null;

						_keys = _.keys(self.result.data);
						_.forEach(_keys, function(v){
							let _o = {};

							_o.name = v;
                            _o.icon = "fa fa-bars";
                            _o.callback = function(key,opt){

                            };
						    _items = _.merge(_items, {k:_o});
						})


                        return {

                            items: _items

                        }
                    }
                });

			}
		}
	
	}
	</script>

</code>
