<code>

	<style>
		/*----------  style  ----------*/
		
		.widget-ext {
			padding: 15px;
		    border-radius: 3px;
		    margin: 0px 0px 10px 0px;
		}

		.arrow_box {
			position: relative;
			background: #e4eff5;
		}
		.arrow_box:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(228, 239, 245, 0);
			border-left-color: #e4eff5;
			border-width: 15px;
			margin-top: -15px;
		}

		.ci-card-button > a{
			right: 25px;
			width: 55px;
			height: 28px;
			padding: 4px!important;
			font-size: 12px;
			background-color: rgb(0, 172, 172)!important;
			color:#ffffff;
		}

		.bwizard-steps {
		    border-radius: 0px!important;
		}

		.bwizard-steps li a {
			color: rgb(51, 51, 51);
		}

		.bwizard-steps .active a{
			color: rgb(255, 255, 255);
		}

		.well {
			padding: 0px;
			border:none;
		}

		#flex-container {
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			position: relative;
			bottom: 0;
			width: 100%;
			top: 0px !important;
			left: 0px;

			/* these 3 lines are to prevents an unsightly scrolling bounce affect on Safari */
			height: 50vh;
			width: 100%;
			overflow: auto;
		}
		#flex-container>div {
			flex-grow: 1;
			-webkit-flex-grow: 1;
			position: relative;
		}
		#flex-container>div#acediff-gutter {
			flex: 0 0 60px;
			-webkit-flex: 0 0 60px;
			border-left: 1px solid #999999;
			border-right: 1px solid #999999;
			background-color: #efefef;
			overflow: hidden;
		}

		.ace_editor {
		    border: none;
		}

		#acediff-gutter svg {
			background-color: #efefef;
		}

		#acediff-left-editor {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}
		#acediff-right-editor {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}
		.acediff-diff {
			background-color: #d8f2ff;
			border-top: 1px solid #a2d7f2;
			border-bottom: 1px solid #a2d7f2;
			position: absolute;
			z-index: 4;
		}
		.acediff-diff.targetOnly {
			height: 0px !important;
			border-top: 1px solid #a2d7f2;
			border-bottom: 0px;
			position: absolute;
		}
		.acediff-connector {
			fill: #d8f2ff;
			stroke: #a2d7f2;
		}

		.acediff-copy-left {
			float: right;
		}
		.acediff-copy-right,
		.acediff-copy-left {
			position: relative;
		}
		.acediff-copy-right div {
			color: #000000;
			text-shadow: 1px 1px #ffffff;
			position: absolute;
			margin: 2px 3px;
			cursor: pointer;
		}
		.acediff-copy-right div:hover {
			color: #004ea0;
		}
		.acediff-copy-left div {
			color: #000000;
			text-shadow: 1px 1px #ffffff;
			position: absolute;
			right: 0px;
			margin: 2px 3px;
			cursor: pointer;
		}
		.acediff-copy-left div:hover {
			color: #c98100;
		}

		.nav.nav-tabs>li.active > a > .widget {
		    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
		}

		a,h5 {
			color: rgb(153, 153, 153);
		}

		#form-wizard {
			border: 1px solid #ddd;
		}
		
		#form-wizard .vis-timeline{
			border: none;
			border-bottom: 1px solid #ddd;
		}

		#form-wizard .vis-panel.vis-center, .vis-panel.vis-top, .vis-panel.vis-bottom {
			border-left-style: none;
		    border-right-style: none;
		}

		#form-wizard .bwizard .well {
		    margin: 0px 0 -10px 0;
		}

		#ci-info-accordion a > i,#ci-prob-accordion a > i {
			color: rgb(255, 255, 255);
		}

		.cron-input{
			width:13%!important;
		}

	</style>

	
	/*----------  最外层element会自动增加组件同名 class="vue-ci-card-component"  ----------*/
	<template>
		<div class="row"><div class="col-lg-12">
			<div class="panel panel-grey">
				<div class="panel-body" style="padding: 15px 10px 5px 0px;">
				<vue-common-form-component :id="'ci-card-form-'+row.id"
										   :form="model.form">
				</vue-common-form-component>
			</div></div>
		</div></div>
	</template>

	/*----------  id是vue组件的name，内容是vue组件的option参数  ----------*/
	<script id="vue-ci-card-component">
	{
        delimiters: ['${', '}'],
		props: {
			row: Object
		},
		data:function(){
			return {
                model: {
                    form: {
                        view: {
                            parent: "bootstrap-edit",
                            layout: {
                                template: `<div class='row'>
												<div class='col-md-1' id='column-0' style="padding: 25px 0px;">
													<!-- TAB NAVIGATION -->
													<ul class="nav nav-tabs" role="tablist" style="background:none!important;">
													  <li class="active" style="width:100%;">
															<a href="#tab1" role="tab" data-toggle="tab">
																<div class="widget-ext widget-stats bg-blue arrow_box" style="color:#999;background: rgb(227, 239, 244)!important;">
																	<div class="stats-icon stats-icon-lg"><i class="fa fa-desktop fa-fw"></i></div>
																	<div class="stats-title"></div>
																	<h5>配置</h5>
																</div>
															</a>
													  </li>
													  <li style="width:100%;">
															<a href="#tab2" role="tab" data-toggle="tab">
																<div class="widget-ext widget-stats bg-blue" style="color:#999;background: rgb(227, 239, 244)!important;">
																	<div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
																	<div class="stats-title"></div>
																	<h5>比对</h5>
																</div>
															</a>
													  </li>
													  <li style="width:100%;">
															<a href="#tab3" role="tab" data-toggle="tab">
																<div class="widget-ext widget-stats bg-blue" style="color:#999;background: rgb(227, 239, 244)!important;">
																	<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
																	<div class="stats-title"></div>
																	<h5>关联</h5>
																</div>
															</a>
													   </li>

													  <li style="width:100%;">
															<a href="#tab4" role="tab" data-toggle="tab">
																<div class="widget-ext widget-stats bg-blue" style="color:#999;background: rgb(227, 239, 244)!important;">
																	<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
																	<div class="stats-title"></div>
																	<h5>发现</h5>
																</div>
															</a>
													   </li>
													</ul>
												</div>
												<div class="col-md-10" style="padding:0px;">
													<div class="tab-content" style="padding:15px 0px;">
													  	<div class="active tab-pane fade in" id="tab1">
															<div class="panel-group" id="ci-info-accordion" role="tablist" aria-multiselectable="true">
															  <div class="panel" style="background-color: rgb(228, 239, 245);">
															    <div class="panel-heading" role="tab" id="ci-info-base">
															      	<h4 class="panel-title">
																        <a class="accordion-toggle accordion-toggle-styled" role="button" data-toggle="collapse" data-parent="#ci-info-accordion" href="#ci-collapseOne" aria-expanded="true" aria-controls="ci-collapseOne">
																          	<i class="fa fa-plus-circle pull-right"></i> 基本信息
																        </a>
																        
																		<a class="btn btn-xs btn-success" href="javascript:eventHub.$emit('ci-card-update-event',null);" style="position: absolute;right: 0px;top: -10px;cursor:pointer;">
																          	<i class="fa fa-save"></i> 保存
																        </a>
															      	</h4>
															    </div>
															    <div id="ci-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="ci-info-base">
															      	<div class="panel-body">
															        	<div class='col-md-6' id='column-1-1' style="line-height:5px;"></div>
																		<div class='col-md-6' id='column-1-2' style="line-height:5px;"></div>
															      	</div>
															    </div>
															  </div>
															  <div class="panel" style="background-color: rgb(228, 239, 245);">
															    <div class="panel-heading" role="tab" id="ci-info-manager">
															      	<h4 class="panel-title">
															        	<a class="accordion-toggle accordion-toggle-styled collapsed" role="button" data-toggle="collapse" data-parent="#ci-info-accordion" href="#ci-collapseTwo" aria-expanded="false" aria-controls="ci-collapseTwo">
															          		<i class="fa fa-plus-circle pull-right"></i> 管理信息
															        	</a>
															      	</h4>
															    </div>
															    <div id="ci-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ci-info-manager">
															      	<div class="panel-body">
															        	<div class='col-md-12' id='column-2' style="line-height:5px;"></div>
															      	</div>
															    </div>
															  </div>
															  <div class="panel" style="background-color: rgb(228, 239, 245);">
															    <div class="panel-heading" role="tab" id="ci-info-config">
															      	<h4 class="panel-title">
															        	<a class="accordion-toggle accordion-toggle-styled collapsed" role="button" data-toggle="collapse" data-parent="#ci-info-accordion" href="#ci-collapseThree" aria-expanded="false" aria-controls="ci-collapseThree">
															          		<i class="fa fa-plus-circle pull-right"></i> 配置信息
															        	</a>
															      	</h4>
															    </div>
															    <div id="ci-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ci-info-config">
															      	<div class="panel-body">
															        	<div class='col-md-12' id='column-3' style="line-height:5px;"></div>
															      	</div>
															    </div>
															  </div>
															</div>
													  	</div>
														<div class="tab-pane fade" id="tab2">
															<div class="panel panel-grey">
																<div class="panel-body">
																	<!--<span style="display: -webkit-box;">
																		<input class="ci_range_from" type="text" placeholder="选择时间.."></p>
																		<i class="fa fa-cogs" style="padding: 0px 10px;"></i>
																		<input class="ci_range_to" type="text" placeholder="选择时间.."></p>
																		<a class="btn btn-xs btn-success" @click="setByRange()" style="height: 22px;margin-left: 10px;">应用</a>
																	</span>-->
																	<div id="ci-form-compare-timeline"></div>
																</div>
															</div>
														</div>
													  	<div class="tab-pane fade" id="tab3">
															<div class="panel panel-grey">
																<div class="panel-body">
																	<div id="panel-link"></div>
																</div>
															</div>
													  	</div>

													  	<div class="tab-pane fade" id="tab4">
															<div class="panel panel-grey">
																<div class="panel-body">
																	<div id="panel-prob"></div>
																</div>
															</div>
													  	</div>
													</div>
												</div>
												<div class="col-md-1" style="padding:30px 0px 30px 5px;">
													<div id="ci-associated-objects-buttons"></div>
												</div> 
										   </div>`,
                                bindings: {
                                    assetid: "column-1-1",
                                    host: "column-1-1",
                                    ip: "column-1-1",
                                    model: "column-1-1",
                                    type: "column-1-1",
                                    company: "column-1-1",
									ctel: "column-1-2",
                                    sn: "column-1-2",
                                    dc: "column-1-2",
                                    room: "column-1-2",
                                    rack: "column-1-2",
                                    unit: "column-1-2",
                                    location: "column-2",
                                    region: "column-2",
                                    biz: "column-2",
                                    department: "column-2",
                                    contact: "column-2",
                                    tel: "column-2",
                                    period: "column-2",
                                    element: "column-3",
                                    config: "column-3",
                                    files: "column-3"
                                }
                            }
                        },
                        data: {},
                        schema: {
                            title: "",
                            type: "object",
                            properties: []
                        },
                        options: {
                            form: {
                                buttons: {
                                    /*save: {
                                        title: "Save",
                                        click: function () {
                                            let val = this.getValue();

                                            if (this.isValid(true)) {
                                                /!*alert("Invalid value: " + JSON.stringify(val, null, "  "));*!/
                                                eventHub.$emit('ci-card-update-event',val);
                                            } else {
                                                /!*alert("Invalid value: " + JSON.stringify(val, null, "  "));*!/
                                            }
                                        }
                                    }*/
                                }
                            },
                            fields: {}
                        }

                    }
                },
                search: {
                    fortime: " for vtime",
                    default: {value: " | nearest 1year"}
                }
            }
		},
        created: function(){
            let self = this;

            eventHub.$on('ci-card-update-event',self.save);

        },
        watch: {
            search:{
                handler: function(val,oldVal){
                    let self = this;

                    self.init();
                },
                deep:true
            }
        },
        mounted: function(){
            let self = this;

            self.$nextTick(function(){

                self.init();
                _.delay(function() {
                    self.initPlugin();
                    self.initRelationButton();
                },1000);
            })
        },
        methods: {
            init: function(){
                let self = this;
                let _list = fetchClass(self.row.class);
                let _properties = {};
                let _fields = {};
                let _data = {};

                _.forEach(GLOBAL_CONFIG.global.ci_card,function (v) {
                    let _name = v.name;
                    let _stype = v.stype=='varchar'?'string':v.stype;
                    let _otype = v.otype;
                    let _required = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?false:false;
                    let _hidden = _.indexOf(GLOBAL_CONFIG.global.unshow_columns,v.name)>-1?true:false;

                    _.merge(_properties, {[_name]: {title: v.title, type: _stype,required: _required, hidden: _hidden}});
                    _.merge(_fields, {[_name]: {type: _otype}});
                });

                _.forEach(self.row,function (v,k) {
                    let _name = k;

                    if (_name == 'period'){
                        _.merge(_data, {[_name]: moment(v).format('YYYY-MM-DD')});
					} else {
                        _.merge(_data, {[_name]: v});
					}


                })

                self.model.form.data = _data;
                self.model.form.schema.title = self.row.name;
                self.model.form.schema.properties = _properties;
                self.model.form.options.fields = _fields;
                self.model.list = _.map(_list.message.fields,function(v){
                    return v;
                });

            },
            initPlugin: function(){
            	let self = this;

            	$("a[data-toggle='tab']").on("shown.bs.tab",function(event){
            		$(".widget-ext.arrow_box").removeClass("arrow_box");
            		$(this).find("div:nth(0)").addClass("arrow_box");

                    if(_.endsWith(event.target.href,"#tab2")){
                        self.initCompare();
                        return false;
                    }

                    if(_.endsWith(event.target.href,"#tab3")){
                        self.initLink();
                        return false;
                    }

	                if(_.endsWith(event.target.href,"#tab4")){
                        self.initProb();
                        return false;
                    }

                })

            },
            initEntity: function(){
                let self = this;

                let _entity = {
                    delimiters: ['#{', '}#'],
                    el: '#entity-model',
	                template: `<img :src="model.icon">`,
	                data: {
                        model: self.row
	                }
                };

                new Vue(_entity);
            },
			initRelationButton: function(){
              	let self = this;

                let _Vue = new Vue({
                        delimiters: ['#{', '}#'],
                        el: '#ci-associated-objects-buttons',
						template: ` <div>
										<p><a href="javascript:void(0);" @click="forward('event')">事件 <i class="btn btn-xs btn-danger" style="min-width: 40px;max-width: 50px;">3</i></a></p>
										<p><a href="javascript:void(0);" @click="forward('performance')">性能 <i class="btn btn-xs btn-default" style="min-width: 40px;max-width: 50px;">10</i></a></p>
										<p><a href="javascript:void(0);" @click="forward('log')">日志 <i class="btn btn-xs btn-warning" style="min-width: 40px;max-width: 50px;">30</i></a></p>
										<p><a href="javascript:void(0);" @click="forward('log')">资产 <i class="btn btn-xs btn-success fa fa-sitemap" style="min-width: 40px;max-width: 50px;"></i></a></p>
									</div>`,
						methods: {
                            forward: function(event){
                                let me = this;

                                window.open(
                                    "/janesware/" + event,
                                    "_blank"
                                );
                            },
						}
                    });
			},
            initCompare: function(){
                let self = this;

                let _row = self.row;

                let _compareVue = new Vue({
                    delimiters: ['#{', '}#'],
					el: '#ci-form-compare-timeline',
					template: `<form id="form-wizard">
									<div id="ci-compare-wizard">
										<ol>
											<li>
												选择配置
												<small>选择同一配置项的变更历史节点。</small>
											</li>
											<li>
												选择属性
												<small>选择需要比对的配置属性。</small>
											</li>
											<li>
												<span @click="compareStart">开始比对</span>
												<small>比对结果输出。</small>
											</li>
										</ol>
										<div>
												<fieldset>
													<!-- begin row -->
													<div class="row">
														<!-- begin col-12 -->
														<div class="col-md-12">
															<vue-base-timeline-component id="entity-timeline-compare" :model="model.list"></vue-base-timeline-component>
														</div>
														<!-- end col-12 -->
													</div>
													<!-- end row -->
												</fieldset>
										</div>
										<div>
												<fieldset>
													<!-- begin row -->
													<div class="row" style="padding:10px;">
														<!-- begin col-3 -->
														<div class="col-md-3" v-for="v,k in model.row" style="padding:2px 15px;">
															<div class="form-group btn btn-xs btn-default" style="min-width: 120px;max-width: 120px; background: rgb(240, 243, 244); text-align: left;">
																<label class="checkbox-inline">#{_.startCase(k)}#</label>
																<input type="checkbox" :id="k" :value="k" checked>
															</div>
														</div>
														<!-- end col-3 -->
													</div>
													<!-- end row -->
												</fieldset>
										</div>
										<div>
												<fieldset>
													<!-- begin row -->
													<div class="row" style="padding:10px 0px;">

														<!-- begin col-6 -->
														<div class="col-md-6">
															<span class="badge badge-default" v-for="leftItem in model.resultDiff.left.tags">#{leftItem}#</span>
														</div>
														<!-- end col-6 -->

														<!-- begin col-6 -->
														<div class="col-md-6">
															<span class="badge badge-default" v-for="rightItem in model.resultDiff.right.tags">#{rightItem}#</span>
														</div>
														<!-- end col-6 -->

														<BR/><BR/>

														<!-- begin col-12 -->
														<div class="col-md-12">
															<div id="flex-container">
																<div>
																	<div id="acediff-left-editor"></div>
																</div>
																<div id="acediff-gutter"></div>
																<div>
																	<div id="acediff-right-editor"></div>
																</div>
															</div>
														</div>
														<!-- end col-12 -->
													</div>
													<!-- end row -->
												</fieldset>
										</div>

									</div>

								</form>`,
					data: {
					    model: {
                            list: [],
                            row: _row,
                            timelineSelected: [],
                            resultDiff:{
                                aceDiffer: null,
                                setting: {
                                    mode: "ace/mode/json",
                                    theme: "ace/theme/tomorrow",
                                    left: {
                                        content:null,
                                    },
                                    right: {
                                        content:null,
                                    }
                                },
								left: {
                                    tags: [],
                                },
								right: {
                                    tags: [],
								}
                            }
                        }
					},
					created: function(){
                      	let me = this;

                        eventHub.$on("timeline-selected-event", me.initSelected);
					},
					mounted: function(){
					    let me = this;

                        me.$nextTick(function(){

                            me.init();
                            FormWizard.init("ci-compare-wizard");
                        })
					},
					methods:{
					    init: function() {
                            let me = this;
                            let _list = fetchData("id=" + _row.id);

                            _.forEach(_list.message, function (v, k) {
                                me.model.list.push({
									id: v.id + "&" + v.vtime,
                                    start: moment(v.vtime).format("L"),
                                    content: moment(v.vtime).format("LLL")
                                });
                            })


                        },
						initSelected: function(event){
					      	let me = this;

					      	me.model.resultDiff.left.tags = [];
                			me.model.resultDiff.right.tags = [];

                            me.model.timelineSelected = null;

                            me.model.timelineSelected = event.items;
						},
                        compareStart: function(){
							let me = this;

							if (!_.isEmpty(me.model.resultDiff.aceDiffer)){
                                me.model.resultDiff.aceDiffer.destroy();
                            }

                            me.model.resultDiff.left.tags = [];
                            me.model.resultDiff.right.tags = [];

                            _.forEach(me.model.timelineSelected,function(v,k){
                                let _id = v.split("&")[0];
                                let _vtime = v.split("&")[1];

                                let _tmp = fetchData("id="+_id + " | vtime="+_vtime);

                                if (k == 0) {
                                    console.log(0, k)
                                    me.model.resultDiff.left.tags.push(_id);
                                    me.model.resultDiff.left.tags.push(_vtime);
                                    me.model.resultDiff.setting.left.content = JSON.stringify(_tmp.message[0],null, 2);
                                } else {
                                    console.log(1, k)
                                    me.model.resultDiff.right.tags.push(_id);
                                    me.model.resultDiff.right.tags.push(_vtime);
                                    me.model.resultDiff.setting.right.content = JSON.stringify(_tmp.message[0],null, 2);
                                }
							});

                            _.delay(function(){
                                me.model.resultDiff.aceDiffer = new AceDiff(me.model.resultDiff.setting);
							},800)

						}
					}

				})
            },
			initLink: function(){
                let self = this;
                let _row = self.row;

                let _relationVue = new Vue({
                    delimiters: ['#{', '}'],
					el: '#panel-link',
					template: ` <!--<div>
								   <button type="button" :class="'btn btn-xs '+_.sample(['btn-default','btn-warning','btn-success','btn-info','btn-danger'])" v-for="(v,k) in model.relations" style="margin: 0px 5px 0px 0px;padding: 2px 10px;">
								   		#{_.startCase(k)}
								   </button>
								</div>
								<vue-bootstrap-table id="ci-link-table"
													 :columns="model.columns"
													 :options="model.options"
													 :dataset="model.data"
													 contextMenu="">
								</vue-bootstrap-table>-->
								<vue-echart-graph-component id="ci-link-graph" :row="model.row"></vue-echart-graph-component>`,
					data: {
						model: {
						    columns: [],
							options: {},
							dataset: [],
							contextMenu: null,
							relations: {
                                connect: [],
						        contain: [],
                                depend: [],
                                refer: [],
                                runon: [],
							},
							row: _row
						}
					}

				})
			},
			initProb: function(){
				let self = this;

				let _vue = new Vue({
					delimiters: ['#{', '}#'],
					el: "#panel-prob",
					template: `<div class="panel-group" id="ci-prob-accordion" role="tablist" aria-multiselectable="true">
								  <div class="panel" style="background-color: rgb(228, 239, 245);" v-for="(item,key) in model.cmds">
								    <div class="panel-heading" role="tab" :id="'ci-prob-'+item.id">
								      	<div class="panel-heading-btn">
			                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle" @click="reload(item)"><i class="fa fa-refresh"></i></a>
			                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle" @click="remove(item)"><i class="fa fa-trash"></i></a>
			                            </div>
								      	<h4 class="panel-title">
									        <a class="accordion-toggle accordion-toggle-styled" role="button" data-toggle="collapse" data-parent="#ci-prob-accordion" :href="'#ci-prob-collapseOne-'+item.id" :aria-expanded="key==0?true:false" :aria-controls="'ci-prob-collapseOne-'+item.id">
									          	<i class="fa fa-plus-circle pull-right"></i> 
									          	#{item.name + " " + item.params}# 
									        </a>
								      	</h4>
								    </div>
								    <div :id="'ci-prob-collapseOne-'+item.id" :class="key==0?'panel-collapse collapse in':'panel-collapse collapse'" role="tabpanel" :aria-labelledby="'ci-prob-'+item.id">
								      	<div class="panel-body">
							      			<div class="col-sm-12">
							      				<vue-editor-component :id="'editor-'+item.result.data.runid" :model="item.result.model" style="margin:0px -30px;"></vue-editor-component>
							      				<BR/>
							      				#{item.result.data.runid}#  &nbsp;&nbsp; SID: #{item.result.data.sid}#
							      			</div>
								      	</div>
								    </div>
								  </div>
								  <a class="btn btn-xs btn-success" href="javascript:;" style="position: absolute;right: 15px;top: 0px;cursor:pointer;" @click="newCmd">
							          <i class="fa fa-plus"></i> 新建
							      </a>
								</div>`,
					data: {
						model: {
							cmds: [
									{ name:'ls', params:'-lsa', result: null, id: objectHash.sha1('ls -lsa'), host: 'wecise'},
									{name:'df', params:'-h', result: null, id: objectHash.sha1('df -h'), host: 'wecise'},
									{name:'vmstat', params:'', result: null, id: objectHash.sha1('vmstat'), host: 'wecise'},
									{name:'/opt/matrix/cassandra/bin/nodetool status', params:'', result: null, id: objectHash.sha1('/opt/matrix/cassandra/bin/nodetool status'), host: 'wecise'}
								  ]
						}
					},
					created: function(){
						let me = this;

						me.init();
					},
					mounted: function(){
						let me = this;

						me.$nextTick(function(){
			                _.delay(function(){
			                	me.init()
			                },500);
			            })
					},
					methods: {
                        init: function(){
                        	let me = this;

                        	_.forEach(me.model.cmds, function(v,k){
                        		let _data = {message: {outputs:[],runid:null,sid:null}};

                        		let _tmp = callJob(v.name + " " + v.params, v.host);

                        		if(!_.isEmpty(_tmp)){
                        			_data = _.cloneDeep(_tmp);
                        			let _preRunid = _data.message.runid.toString().slice(0,13);
                        			let _lasRunid = _tmp.message.runid.toString().slice(-6);
                        			
                        			_data.message.runid = moment(Number(_preRunid)).format("LLL") + ":" + _lasRunid;
                        		}

                        		v.result = {
                        						model: {
						                        	oldInput: "",
						                        	newInput: _data.message.outputs.join(""),
						                        	mode: "toml",
						                        	theme: "tomorrow_night_blue",
						                        	printMargin: false,
						                        	readOnly: true,
						                        	options: {
						                        		maxLines: Infinity,
                                                        minLines: 15
                                                    }
                        						},
                        						data: _data.message
					                        };
                        	})

                        },
                        reload: function(item){
                        	let me = this;

                        	let _data = callJob(item.name + " " + item.params, item.host);
                        	let _tmp = _.find(me.model.cmds, {name: item.name});
                        	

				            let _ace = ace.edit("editor-"+_tmp.runid);
                        	_ace.setValue(_tmp.message.outputs.join(""));

                        	_tmp.result = {
				                        	model: {
					                        	oldInput: "",
					                        	newInput: _data.message.outputs.join(""),
					                        	mode: "toml",
					                        	theme: "tomorrow_night_blue",
					                        	printMargin: false,
					                        	readOnly: true,
					                        	options: {
					                        		maxLines: Infinity,
                                                    minLines: 15
                                                }
                    						},
                    						data: _data.message
				                        };
                        },
                        remove: function(item){
                        	let me = this;


                        },
                        newCmd: function(){
                        	let me  = this;

                            mxWindow.winLarge( '新建配置发现', `<div id="ci-cmd-new-template"></div>`,null,null);

                            _.delay(function() {

                                let cVue = new Vue({
                                    delimiters: ['$', '$'],
                                    el: '#ci-cmd-new-template',
                                    template: ` <vue-dispatch-manager-component></vue-dispatch-manager-component>
                                                <!--div class="panel"><div class="panel-body">
                                    				<div class="row">
                                    					<div class="col-lg-2">
															<!--<img src="/web/assets/images/server_01.svg" class="img-responsive" alt="Image">$model.host$-->
															<vue-base-tree-component id="server-group-tree" :zNodes="model.server.list" :contextMenu="[]"></vue-base-tree-component>
                                    					</div>
                                    					<div class="col-lg-10">
		                                                    <form>
		                                                    	<div class="form-group">
		                                                    		<label>命令</label>
		                                                    		<input type="text" class="form-control" v-model="model.config.cmd" placeholder="命令">
		                                                    	</div>

		                                                    	<div class="form-group">
		                                                    		<label>参数</label>
		                                                    		<input type="text" class="form-control" v-model="model.config.params" placeholder="参数">
		                                                    	</div>

		                                                    	<div class="form-group form-inline">
		                                                    		<label>执行计划(Cron)</label>
		                                                    		<p>
			                                                            <input type="text" class="form-control cron-input" v-model="model.config.cron.second" placeholder="秒">
			                                                            <input type="text" class="form-control cron-input" v-model="model.config.cron.minute" placeholder="分">
			                                                            <input type="text" class="form-control cron-input" v-model="model.config.cron.hour" placeholder="小时">
			                                                            <input type="text" class="form-control cron-input" v-model="model.config.cron.day" placeholder="日">
			                                                            <input type="text" class="form-control cron-input" v-model="model.config.cron.month" placeholder="月">
			                                                            <input type="text" class="form-control cron-input" v-model="model.config.cron.week" placeholder="星期">
			                                                            <input type="text" class="form-control cron-input" v-model="model.config.cron.year" placeholder="年">
			                                                        </p>
		                                                    	</div>

		                                                    	<div class="form-group">
	                                                                <label>处理规则</label>
	                                                                <select class="form-control">
                                                                        <option value="" v-for="model.config.rule"></option>
                                                                    </select>
	                                                            </div>

		                                                    	<div class="form-group">
		                                                    		<label>返回结果</label>
		                                                    		<!--<textarea class="form-control" rows="8" v-model="model.config.result"></textarea>-->
		                                                    		<vue-editor-component :id="'editor-'+model.config.cmd" :model="model.config.result"></vue-editor-component>
		                                                    	</div>

		                                                        <div class="form-group pull-right">
		                                                    	    <a href="javascript:void(0);" class="btn btn-xs btn-primary pull-right" @click="save">提交</a>&nbsp;&nbsp;&nbsp;&nbsp;
		                                                    	    <a href="javascript:void(0);" class="btn btn-xs btn-success pull-right" @click="call">执行</a>&nbsp;&nbsp;&nbsp;&nbsp;
		                                                    	</div>
		                                                    </form>
		                                                </div>
		                                            </div>
                                                </div></div-->`,
                                    data: function(){
                                        return {
                                            model: {
                                            	host: "",
                                            	config: {
	                                            	cmd: "",
	                                            	params: "",
	                                            	cron: {
                                                        second: 0,
		                                                minute: 0,
	                                                    hour: 0,
		                                                day: 0,
		                                                month: 0,
		                                                week: 0,
		                                                year: 0
		                                            },
	                                            	result: {
                                                        oldInput: "",
                                                        newInput: "",
                                                        mode: "toml",
                                                        theme: "tomorrow_night_blue",
                                                        printMargin: false,
                                                        readOnly: true,
                                                        options: {
                                                            maxLines: Infinity,
                                                            minLines: 10
                                                        }
		                                            }
	                                            },
	                                            rule: {
                                            	    list: []
	                                            },
                                                server: {
                                            	    list: []
                                                }
                                            }
                                        }
                                    },
                                    created:function(){
                                        let iam = this;

                                        iam.init();
                                    },
                                    mounted: function() {
                                        let iam = this;

                                        iam.$nextTick(function(){
                                            iam.initPlugIn();
                                        })
                                    },
	                                computed: {
                                        cronSchedule: function(){
                                            let iam = this;

                                            return "*/5 * * * *";//_.values(iam.model.config.cron).join(" "));
                                        }
	                                },
                                    methods: {
                                        init: function(){
                                            let iam = this;

                                            iam.model.host = self.row.host;

                                            let _tmp = serverGroupList();

                                            iam.model.server.list = _.map(_tmp.message,function(v,k){
																		return { name:v.name, children: _.map(v.hosts,function(o,n){ if (o.host == iam.model.host){ return {name:o.host,children:[],open:true,checked:true};} return {name:o.host, children: []};}), open:true };
						                                            });

                                        },
                                        initPlugIn: function(){
                                            let iam = this;

                                        },
                                        call: function(){
                                        	let iam = this;

                                        	let _rtn = callJob(iam.model.config.cmd+' '+iam.model.config.params, self.row.host);

                                        	iam.model.config.result.newInput = _rtn.message.outputs.join("");

                                        },
                                        save: function(event){
                                            let iam = this;

                                            let treeObj = $.fn.zTree.getZTreeObj("server-group-tree");

                                            let filteredNodes = _.filter(treeObj.getCheckedNodes(true),function(v,k) {
                                                return !v.isParent;
                                            });

                                            let nodes = _.map(filteredNodes, function(v,k) {
                                                return {name: v.name, cron: "", env: []};
                                            });


	                                        let _form = {};
                                            _form.command = iam.model.config.cmd+' '+iam.model.config.params;
                                            _form.args = [iam.model.config.params];
                                            _form.cron = iam.cronSchedule;
                                            _form.hosts = nodes;
                                            _form.rule = "/matrix/rules/ciview_config_rule";
                                            _form.attrs = {"class": self.row.class, "id": self.row.id};
                                            _form.env = [];
                                            console.log(JSON.stringify(_form))
	                                        return false;
                                            let _rtn = agentDispatch(_form);
                                        }
                                    }
                                });
                            },500);
                        }
                    }
				});
			},
			save: function(){
                let self = this;
                let _form = $("#ci-card-form-"+self.row.id).alpaca("get").getValue();

                _.merge(_form, {id: self.row.id, class: self.row.class});

                let rtn = putDataByMql(_form);

                if(rtn === "ok"){
                	eventHub.$emit("ci-save-event",null)
                };
			}
        }
	
	}
	</script>

</code>
