
<html>
    <head>
        <script src="https://unpkg.com/http-vue-loader"></script>
    </head>
    <body>
        <div id="app">
            <my-component></my-component>
        </div>

        <script type="module">
            import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js';
            
            new Vue({
                el: '#app',
                components: {
                    'my-component': httpVueLoader('/web/component/Tec.vue')
                }
            });

        </script>
    </body>

</html>

