<!DOCTYPE html>
<html lang="{{.Lang}}">
<head data-suburl="{{AppSubUrl}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Expires" content="1">
	<meta name="author" content="Matrix - Portal Service" />
	<meta name="description" content="Matrix - Portal Service write in go" />
	<meta name="keywords" content="matrix,bigdata,cassandra,go">
	<meta name="referrer" content="no-referrer" />
	<meta name="_csrf" content="{{.CsrfToken}}" />
	<meta name="_suburl" content="{{AppSubUrl}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<script type="module" src="{{AppSubUrl}}/web/js/test_export.js" type="text/javascript"></script>

<script>
    //------ main.js ------
    import square from '{{AppSubUrl}}/web/js/test_export.js';
    console.log(square(11)); // 121
    
</script>
</body>
</html>
