<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[    CODE BY WANGZD    ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
{{template "base/head" .}}


<style type="text/css">

    #page-container{
        padding: 130px;
    }

</style>

<div id="app">

</div>


<SCRIPT type="text/javascript">

    'use static';

    VueLoader.onloaded([],function() {


        $(function () {

            Vue.component('hello', {
                delimiters: ['${', '}'],
                render: function (createElement) {
                    return createElement('div',
                        Array.apply(null, { length: 20 }).map(function () {
                            return createElement('button', 'hi')
                        })
                    )
                    //return createElement('h' + this.level,  this.$slots.default)
                },
                props: {
                    level: {
                        type: Number,
                        required: true
                    }
                }
            })

            var vm = new Vue({
                delimiters: ['${', '}'],
                el: "#app",
                template: "#app-template",
                data: {
                    title: new Date()
                }
            });


        });


        var groups = {};
        var sections = document.getElementsByClassName('cheatsheet-set');
        for (const section of sections) {
            const names = [];
            groups[section.id] = names;
            var icons = section.getElementsByClassName('icon');
            for (const icon of icons) {
                const name = icon.getElementsByTagName('dd')[0].innerText;
                names.push(name);
            }
        }
        console.log(1111,groups); // Feel free to stringify/


    })

</script>

<script type="text/x-template" id="app-template">
    <div>
        <hello :level="1">${title}</hello>
        <hello :level="2">${title}</hello>
        <hello :level="3">${title}</hello>
    </div>

</script>


{{template "base/footer" .}}
